<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Utvikle, drift og forvalt tverrgående prosess</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Utvikle, drift og forvalt tverrg&#229;ende prosess</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/0d0713f0-321f-44fa-b51f-9f003c1c5dc9.png" alt="Utvikle, drift og forvalt tverrgående prosess" usemap="#0d0713f0-321f-44fa-b51f-9f003c1c5dc9map"/>
			   <map name="0d0713f0-321f-44fa-b51f-9f003c1c5dc9map">
				  		<area shape="rect" coords="1532,20,1808,162" href="../elements/a510485a-0213-47ad-a5c4-5886e658dff9.html"  target="element">
				  		<area shape="rect" coords="764,20,1030,162" href="../elements/1505da39-930f-44b0-a4f9-b81bba71e02c.html"  target="element">
				  				<area shape="rect" coords="1532,332,1798,474" href="../elements/8f61a1ca-b476-4741-8093-4c880c7c4883.html"  target="element">
				  				<area shape="rect" coords="1172,332,1438,474" href="../elements/3e515789-cbec-43a1-91dc-20765c0f3157.html"  target="element">
				  				<area shape="rect" coords="812,332,1078,474" href="../elements/313e14c2-68a2-48ad-a454-240fb6bb323f.html"  target="element">
				  				<area shape="rect" coords="452,332,718,474" href="../elements/94469877-e989-416a-8ed7-7e80fa201a04.html"  target="element">

				  		<area shape="rect" coords="404,236,1822,526" href="../elements/bfad57d0-27f2-4b84-917f-a6b6566a6141.html"  target="element">
				  		<area shape="rect" coords="428,20,694,162" href="../elements/b3766205-ba71-43a7-918b-131ecd24803c.html"  target="element">
				  		<area shape="rect" coords="20,620,286,762" href="../elements/1505da39-930f-44b0-a4f9-b81bba71e02c.html"  target="element">
				  		<area shape="rect" coords="452,620,1786,762" href="../elements/498807eb-78ef-450b-9398-7630f30f221e.html"  target="element">
				  		<area shape="rect" coords="20,332,286,474" href="../elements/0f6713ae-ccd4-4719-b3d9-bce335e9d806.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Tverrg&#229;ende prosess</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap">nab_arkitekturlandskap_segmentarkitektur</td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/0f6713ae-ccd4-4719-b3d9-bce335e9d806.html" target="element"> Akt&#248;rer som vil tilby tjenester </a> </td>
											    <td> <a href="../elements/0f6713ae-ccd4-4719-b3d9-bce335e9d806.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/498807eb-78ef-450b-9398-7630f30f221e.html" target="element"> Del og innhent data </a> </td>
											    <td> <a href="../elements/498807eb-78ef-450b-9398-7630f30f221e.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1505da39-930f-44b0-a4f9-b81bba71e02c.html" target="element"> Samhandlingsakt&#248;rer </a> </td>
											    <td> <a href="../elements/1505da39-930f-44b0-a4f9-b81bba71e02c.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b3766205-ba71-43a7-918b-131ecd24803c.html" target="element"> Tjenesteeiere </a> </td>
											    <td> <a href="../elements/b3766205-ba71-43a7-918b-131ecd24803c.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bfad57d0-27f2-4b84-917f-a6b6566a6141.html" target="element"> Utvikle, drift og forvalt tverrg&#229;ende prosess </a> </td>
											    <td> <a href="../elements/bfad57d0-27f2-4b84-917f-a6b6566a6141.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/94469877-e989-416a-8ed7-7e80fa201a04.html" target="element"> Design tverrg&#229;ende prosess </a> </td>
													    <td> <a href="../elements/94469877-e989-416a-8ed7-7e80fa201a04.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/313e14c2-68a2-48ad-a454-240fb6bb323f.html" target="element"> Sett opp tverrg&#229;ende prosess </a> </td>
													    <td> <a href="../elements/313e14c2-68a2-48ad-a454-240fb6bb323f.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3e515789-cbec-43a1-91dc-20765c0f3157.html" target="element"> Operer tverrg&#229;ende prosess </a> </td>
													    <td> <a href="../elements/3e515789-cbec-43a1-91dc-20765c0f3157.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8f61a1ca-b476-4741-8093-4c880c7c4883.html" target="element"> Forvalt tverrg&#229;ende prosess </a> </td>
													    <td> <a href="../elements/8f61a1ca-b476-4741-8093-4c880c7c4883.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/1505da39-930f-44b0-a4f9-b81bba71e02c.html" target="element"> Samhandlingsakt&#248;rer </a> </td>
											    <td> <a href="../elements/1505da39-930f-44b0-a4f9-b81bba71e02c.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a510485a-0213-47ad-a5c4-5886e658dff9.html" target="element"> Sammenhengende tjenester med brukeren i sentrum </a> </td>
											    <td> <a href="../elements/a510485a-0213-47ad-a5c4-5886e658dff9.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/e09418b9-33b5-4371-9277-b357e0c5cf61.html" target="element"> kan bli </a> </td>
																		<td> <a href="../elements/e09418b9-33b5-4371-9277-b357e0c5cf61.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/0f6713ae-ccd4-4719-b3d9-bce335e9d806.html" target="element"> Akt&#248;rer som vil tilby tjenester </a> </td>
																		<td> <a href="../elements/b3766205-ba71-43a7-918b-131ecd24803c.html" target="element"> Tjenesteeiere </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/59fe492f-4110-43ce-8b3a-105915f547de.html" target="element"> intierer </a> </td>
																		<td> <a href="../elements/59fe492f-4110-43ce-8b3a-105915f547de.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/0f6713ae-ccd4-4719-b3d9-bce335e9d806.html" target="element"> Akt&#248;rer som vil tilby tjenester </a> </td>
																		<td> <a href="../elements/bfad57d0-27f2-4b84-917f-a6b6566a6141.html" target="element"> Utvikle, drift og forvalt tverrg&#229;ende prosess </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/02bc8249-31e2-4293-939f-1b25c974d6db.html" target="element"> data og hendelser </a> </td>
																		<td> <a href="../elements/02bc8249-31e2-4293-939f-1b25c974d6db.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/498807eb-78ef-450b-9398-7630f30f221e.html" target="element"> Del og innhent data </a> </td>
																		<td> <a href="../elements/bfad57d0-27f2-4b84-917f-a6b6566a6141.html" target="element"> Utvikle, drift og forvalt tverrg&#229;ende prosess </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/63b7b0d7-1419-4cd3-afd3-8d023f47d9d2.html" target="element"> tjener </a> </td>
																		<td> <a href="../elements/63b7b0d7-1419-4cd3-afd3-8d023f47d9d2.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/1505da39-930f-44b0-a4f9-b81bba71e02c.html" target="element"> Samhandlingsakt&#248;rer </a> </td>
																		<td> <a href="../elements/0f6713ae-ccd4-4719-b3d9-bce335e9d806.html" target="element"> Akt&#248;rer som vil tilby tjenester </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c14da687-38b4-4ba1-9315-e80c82efc943.html" target="element"> initierer </a> </td>
																		<td> <a href="../elements/c14da687-38b4-4ba1-9315-e80c82efc943.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/1505da39-930f-44b0-a4f9-b81bba71e02c.html" target="element"> Samhandlingsakt&#248;rer </a> </td>
																		<td> <a href="../elements/498807eb-78ef-450b-9398-7630f30f221e.html" target="element"> Del og innhent data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/bfc2711d-f3dd-454c-9b21-9c39e80eceec.html" target="element"> hovedansvarlig </a> </td>
																		<td> <a href="../elements/bfc2711d-f3dd-454c-9b21-9c39e80eceec.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/b3766205-ba71-43a7-918b-131ecd24803c.html" target="element"> Tjenesteeiere </a> </td>
																		<td> <a href="../elements/bfad57d0-27f2-4b84-917f-a6b6566a6141.html" target="element"> Utvikle, drift og forvalt tverrg&#229;ende prosess </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f28d92f8-6b8b-48f9-b42b-0ed2973ad600.html" target="element"> gir </a> </td>
																		<td> <a href="../elements/f28d92f8-6b8b-48f9-b42b-0ed2973ad600.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/bfad57d0-27f2-4b84-917f-a6b6566a6141.html" target="element"> Utvikle, drift og forvalt tverrg&#229;ende prosess </a> </td>
																		<td> <a href="../elements/a510485a-0213-47ad-a5c4-5886e658dff9.html" target="element"> Sammenhengende tjenester med brukeren i sentrum </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0fe0f6b0-9138-4f53-b8a1-c7c5f73f04ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/0fe0f6b0-9138-4f53-b8a1-c7c5f73f04ea.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/bfad57d0-27f2-4b84-917f-a6b6566a6141.html" target="element"> Utvikle, drift og forvalt tverrg&#229;ende prosess </a> </td>
																		<td> <a href="../elements/94469877-e989-416a-8ed7-7e80fa201a04.html" target="element"> Design tverrg&#229;ende prosess </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/aa91a089-fb0f-43af-9c04-255b6aa40aad.html" target="element">  </a> </td>
																		<td> <a href="../elements/aa91a089-fb0f-43af-9c04-255b6aa40aad.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/bfad57d0-27f2-4b84-917f-a6b6566a6141.html" target="element"> Utvikle, drift og forvalt tverrg&#229;ende prosess </a> </td>
																		<td> <a href="../elements/8f61a1ca-b476-4741-8093-4c880c7c4883.html" target="element"> Forvalt tverrg&#229;ende prosess </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/14fa398e-3107-4739-92f2-ac8e87eb3014.html" target="element">  </a> </td>
																		<td> <a href="../elements/14fa398e-3107-4739-92f2-ac8e87eb3014.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/bfad57d0-27f2-4b84-917f-a6b6566a6141.html" target="element"> Utvikle, drift og forvalt tverrg&#229;ende prosess </a> </td>
																		<td> <a href="../elements/3e515789-cbec-43a1-91dc-20765c0f3157.html" target="element"> Operer tverrg&#229;ende prosess </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fb5eeedb-8361-4ee0-96d9-0f9cf7153339.html" target="element">  </a> </td>
																		<td> <a href="../elements/fb5eeedb-8361-4ee0-96d9-0f9cf7153339.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/bfad57d0-27f2-4b84-917f-a6b6566a6141.html" target="element"> Utvikle, drift og forvalt tverrg&#229;ende prosess </a> </td>
																		<td> <a href="../elements/313e14c2-68a2-48ad-a454-240fb6bb323f.html" target="element"> Sett opp tverrg&#229;ende prosess </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/44fbfcda-f05d-437e-87a2-3dd7361cb1b8.html" target="element"> trigger </a> </td>
																				<td> <a href="../elements/44fbfcda-f05d-437e-87a2-3dd7361cb1b8.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/94469877-e989-416a-8ed7-7e80fa201a04.html" target="element"> Design tverrg&#229;ende prosess </a> </td>
																				<td> <a href="../elements/313e14c2-68a2-48ad-a454-240fb6bb323f.html" target="element"> Sett opp tverrg&#229;ende prosess </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/b5517a54-15f6-439a-9f65-64d65e86df61.html" target="element"> trigger </a> </td>
																				<td> <a href="../elements/b5517a54-15f6-439a-9f65-64d65e86df61.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/313e14c2-68a2-48ad-a454-240fb6bb323f.html" target="element"> Sett opp tverrg&#229;ende prosess </a> </td>
																				<td> <a href="../elements/3e515789-cbec-43a1-91dc-20765c0f3157.html" target="element"> Operer tverrg&#229;ende prosess </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/5f60aa7a-67d3-435b-ad94-872027ddbeb9.html" target="element"> trigger </a> </td>
																				<td> <a href="../elements/5f60aa7a-67d3-435b-ad94-872027ddbeb9.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/3e515789-cbec-43a1-91dc-20765c0f3157.html" target="element"> Operer tverrg&#229;ende prosess </a> </td>
																				<td> <a href="../elements/8f61a1ca-b476-4741-8093-4c880c7c4883.html" target="element"> Forvalt tverrg&#229;ende prosess </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/2564937e-771e-4c6b-a701-13967fcf295a.html" target="element"> utf&#248;rende </a> </td>
																		<td> <a href="../elements/2564937e-771e-4c6b-a701-13967fcf295a.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/1505da39-930f-44b0-a4f9-b81bba71e02c.html" target="element"> Samhandlingsakt&#248;rer </a> </td>
																		<td> <a href="../elements/bfad57d0-27f2-4b84-917f-a6b6566a6141.html" target="element"> Utvikle, drift og forvalt tverrg&#229;ende prosess </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>