<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Samhandlingsaktører ver. 2</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Samhandlingsakt&#248;rer ver. 2</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/156183c7-e8b2-4efc-8f2a-79b60ac77f94.png" alt="Samhandlingsaktører ver. 2" usemap="#156183c7-e8b2-4efc-8f2a-79b60ac77f94map"/>
			   <map name="156183c7-e8b2-4efc-8f2a-79b60ac77f94map">
				  		<area shape="rect" coords="1304,156,1580,298" href="../elements/253c54b8-5afd-4b2d-9e27-7139f661b134.html"  target="element">
				  		<area shape="rect" coords="644,260,920,402" href="../elements/6605a343-1696-4331-8360-a68de3405499.html"  target="element">
				  		<area shape="rect" coords="326,260,602,402" href="../elements/ac1c6456-2123-4f59-bbcb-5c78eecf55ce.html"  target="element">
				  		<area shape="rect" coords="20,260,296,402" href="../elements/7f1ad415-d456-4c2e-a812-448f9f4dc129.html"  target="element">
				  		<area shape="rect" coords="20,20,920,162" href="../elements/9166cfce-06eb-40ac-9406-f439d3e0ca7e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Samhandlingsakt&#248;rer</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap">nab_arkitekturlandskap_segmentarkitektur_datadeling_roller</td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/9166cfce-06eb-40ac-9406-f439d3e0ca7e.html" target="element"> Samhandlingsakt&#248;r </a> </td>
											    <td> <a href="../elements/9166cfce-06eb-40ac-9406-f439d3e0ca7e.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7f1ad415-d456-4c2e-a812-448f9f4dc129.html" target="element"> Tilbyder </a> </td>
											    <td> <a href="../elements/7f1ad415-d456-4c2e-a812-448f9f4dc129.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ac1c6456-2123-4f59-bbcb-5c78eecf55ce.html" target="element"> Konsument </a> </td>
											    <td> <a href="../elements/ac1c6456-2123-4f59-bbcb-5c78eecf55ce.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6605a343-1696-4331-8360-a68de3405499.html" target="element"> Formidler </a> </td>
											    <td> <a href="../elements/6605a343-1696-4331-8360-a68de3405499.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/253c54b8-5afd-4b2d-9e27-7139f661b134.html" target="element"> Datautvekslingsakt&#248;r </a> </td>
											    <td> <a href="../elements/253c54b8-5afd-4b2d-9e27-7139f661b134.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/403d27f1-b1a0-4ba1-905f-e5ac20e58c0f.html" target="element">  </a> </td>
																		<td> <a href="../elements/403d27f1-b1a0-4ba1-905f-e5ac20e58c0f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7f1ad415-d456-4c2e-a812-448f9f4dc129.html" target="element"> Tilbyder </a> </td>
																		<td> <a href="../elements/9166cfce-06eb-40ac-9406-f439d3e0ca7e.html" target="element"> Samhandlingsakt&#248;r </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7f49731a-20bd-41f4-9e93-578c5d1fb94f.html" target="element">  </a> </td>
																		<td> <a href="../elements/7f49731a-20bd-41f4-9e93-578c5d1fb94f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/ac1c6456-2123-4f59-bbcb-5c78eecf55ce.html" target="element"> Konsument </a> </td>
																		<td> <a href="../elements/9166cfce-06eb-40ac-9406-f439d3e0ca7e.html" target="element"> Samhandlingsakt&#248;r </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e54e5fde-d27c-443a-9567-d2e95fc4b14b.html" target="element">  </a> </td>
																		<td> <a href="../elements/e54e5fde-d27c-443a-9567-d2e95fc4b14b.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/6605a343-1696-4331-8360-a68de3405499.html" target="element"> Formidler </a> </td>
																		<td> <a href="../elements/9166cfce-06eb-40ac-9406-f439d3e0ca7e.html" target="element"> Samhandlingsakt&#248;r </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>