<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Avtaleforvaltning - samhandlingsavtale</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Avtaleforvaltning - samhandlingsavtale</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/1ab7098d-6347-4581-9063-19ffdeb63d7f.png" alt="Avtaleforvaltning - samhandlingsavtale" usemap="#1ab7098d-6347-4581-9063-19ffdeb63d7fmap"/>
			   <map name="1ab7098d-6347-4581-9063-19ffdeb63d7fmap">
				  		<area shape="rect" coords="868,500,1144,642" href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html"  target="element">
				  		<area shape="rect" coords="20,500,296,642" href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html"  target="element">
				          <area shape="rect" coords="1128,116,1514,258" href="../objects/d9d81f4c-7dc6-4c28-8ada-6bdfa9655a8b.html" target="element" >
				          <area shape="rect" coords="1128,308,1394,450" href="../objects/834d6f7b-5ac6-4325-9633-7506b0ffb5fb.html" target="element" >
				  		<area shape="rect" coords="476,260,752,402" href="../elements/5a2a23f1-cc32-4cec-8ac9-b5aee04f1c54.html"  target="element">
				  		<area shape="rect" coords="480,20,746,162" href="../elements/8cb74928-d6d9-40b5-99e2-b1b400f82228.html"  target="element">
				  		<area shape="rect" coords="456,500,732,642" href="../elements/4cf27c2f-8b08-4b68-84ee-8f5e6a0b8c72.html"  target="element">
				  		<area shape="rect" coords="888,980,1154,1114" href="../elements/3c19bf15-21f8-4093-afec-ab22a7a5bbb6.html"  target="element">
				  		<area shape="rect" coords="600,980,866,1114" href="../elements/fa01147d-e22f-4a00-a055-95b2d0132698.html"  target="element">
				  		<area shape="rect" coords="312,980,578,1114" href="../elements/04d25683-a435-4aa6-8f99-4e1ff4363e6c.html"  target="element">
				  		<area shape="rect" coords="456,716,732,858" href="../elements/2ea96ff6-6ec7-4eef-abcb-7bc6611393ea.html"  target="element">
				  		<area shape="rect" coords="24,980,290,1114" href="../elements/75a2d3c8-1a1d-4fef-b904-f2f350ed4ba0.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Avtaleforvaltning - samhandlingsavtale</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap">nab_arkitekturlandskap_segmentarkitektur_datadeling_avtaleforvaltning</td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/75a2d3c8-1a1d-4fef-b904-f2f350ed4ba0.html" target="element"> Juridisk samhandlings-spesifikasjon </a> </td>
											    <td> <a href="../elements/75a2d3c8-1a1d-4fef-b904-f2f350ed4ba0.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2ea96ff6-6ec7-4eef-abcb-7bc6611393ea.html" target="element"> Samhandlings-spesifikasjon </a> </td>
											    <td> <a href="../elements/2ea96ff6-6ec7-4eef-abcb-7bc6611393ea.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/04d25683-a435-4aa6-8f99-4e1ff4363e6c.html" target="element"> Organisatorisk samhandlings-spesifikasjon </a> </td>
											    <td> <a href="../elements/04d25683-a435-4aa6-8f99-4e1ff4363e6c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fa01147d-e22f-4a00-a055-95b2d0132698.html" target="element"> Semantisk samhandlings-spesifikasjon </a> </td>
											    <td> <a href="../elements/fa01147d-e22f-4a00-a055-95b2d0132698.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3c19bf15-21f8-4093-afec-ab22a7a5bbb6.html" target="element"> Teknisk samhandlings-spesifikasjon </a> </td>
											    <td> <a href="../elements/3c19bf15-21f8-4093-afec-ab22a7a5bbb6.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4cf27c2f-8b08-4b68-84ee-8f5e6a0b8c72.html" target="element"> Samhandlingsavtale </a> </td>
											    <td> <a href="../elements/4cf27c2f-8b08-4b68-84ee-8f5e6a0b8c72.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8cb74928-d6d9-40b5-99e2-b1b400f82228.html" target="element"> Avtaleforvalter </a> </td>
											    <td> <a href="../elements/8cb74928-d6d9-40b5-99e2-b1b400f82228.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5a2a23f1-cc32-4cec-8ac9-b5aee04f1c54.html" target="element"> Samarbeid om avtaleforvaltning </a> </td>
											    <td> <a href="../elements/5a2a23f1-cc32-4cec-8ac9-b5aee04f1c54.html" target="element" class="i18n-elementtype-BusinessCollaboration">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/834d6f7b-5ac6-4325-9633-7506b0ffb5fb.html" target="element">  </a> </td>
									           <td> <a href="../objects/834d6f7b-5ac6-4325-9633-7506b0ffb5fb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/d9d81f4c-7dc6-4c28-8ada-6bdfa9655a8b.html" target="element">  </a> </td>
									           <td> <a href="../objects/d9d81f4c-7dc6-4c28-8ada-6bdfa9655a8b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
											    <td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
											    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/d5af45a2-6ad0-4bc1-9221-ee1f30a76179.html" target="element">  </a> </td>
																		<td> <a href="../elements/d5af45a2-6ad0-4bc1-9221-ee1f30a76179.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/2ea96ff6-6ec7-4eef-abcb-7bc6611393ea.html" target="element"> Samhandlings-spesifikasjon </a> </td>
																		<td> <a href="../elements/fa01147d-e22f-4a00-a055-95b2d0132698.html" target="element"> Semantisk samhandlings-spesifikasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3f5879cc-e5cc-4030-bb09-fe8fe24a0aad.html" target="element">  </a> </td>
																		<td> <a href="../elements/3f5879cc-e5cc-4030-bb09-fe8fe24a0aad.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/2ea96ff6-6ec7-4eef-abcb-7bc6611393ea.html" target="element"> Samhandlings-spesifikasjon </a> </td>
																		<td> <a href="../elements/3c19bf15-21f8-4093-afec-ab22a7a5bbb6.html" target="element"> Teknisk samhandlings-spesifikasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1593e492-a320-4d76-833b-44526bb16c49.html" target="element">  </a> </td>
																		<td> <a href="../elements/1593e492-a320-4d76-833b-44526bb16c49.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/2ea96ff6-6ec7-4eef-abcb-7bc6611393ea.html" target="element"> Samhandlings-spesifikasjon </a> </td>
																		<td> <a href="../elements/04d25683-a435-4aa6-8f99-4e1ff4363e6c.html" target="element"> Organisatorisk samhandlings-spesifikasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8e5caf59-9aee-4160-870b-f9fb38cecbc5.html" target="element">  </a> </td>
																		<td> <a href="../elements/8e5caf59-9aee-4160-870b-f9fb38cecbc5.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/2ea96ff6-6ec7-4eef-abcb-7bc6611393ea.html" target="element"> Samhandlings-spesifikasjon </a> </td>
																		<td> <a href="../elements/75a2d3c8-1a1d-4fef-b904-f2f350ed4ba0.html" target="element"> Juridisk samhandlings-spesifikasjon </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/488c81a6-3d65-4a6b-a790-cc3b4be69880.html" target="element">  </a> </td>
																		<td> <a href="../elements/488c81a6-3d65-4a6b-a790-cc3b4be69880.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/4cf27c2f-8b08-4b68-84ee-8f5e6a0b8c72.html" target="element"> Samhandlingsavtale </a> </td>
																		<td> <a href="../elements/2ea96ff6-6ec7-4eef-abcb-7bc6611393ea.html" target="element"> Samhandlings-spesifikasjon </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d1bde360-8d73-4481-8f62-10945fc95a3a.html" target="element"> tjener </a> </td>
																		<td> <a href="../elements/d1bde360-8d73-4481-8f62-10945fc95a3a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/8cb74928-d6d9-40b5-99e2-b1b400f82228.html" target="element"> Avtaleforvalter </a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6af93db1-87b5-444e-846a-2349223a08dc.html" target="element"> tjener </a> </td>
																		<td> <a href="../elements/6af93db1-87b5-444e-846a-2349223a08dc.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/8cb74928-d6d9-40b5-99e2-b1b400f82228.html" target="element"> Avtaleforvalter </a> </td>
																		<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/65ce7b20-0fd8-4b94-b502-8f1ae0fefb1f.html" target="element"> inng&#229;r i  </a> </td>
																		<td> <a href="../elements/65ce7b20-0fd8-4b94-b502-8f1ae0fefb1f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/5a2a23f1-cc32-4cec-8ac9-b5aee04f1c54.html" target="element"> Samarbeid om avtaleforvaltning </a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/650b7f1f-885c-49a7-8aac-f3fe9e1321d0.html" target="element">  </a> </td>
																		<td> <a href="../elements/650b7f1f-885c-49a7-8aac-f3fe9e1321d0.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/5a2a23f1-cc32-4cec-8ac9-b5aee04f1c54.html" target="element"> Samarbeid om avtaleforvaltning </a> </td>
																		<td> <a href="../elements/4cf27c2f-8b08-4b68-84ee-8f5e6a0b8c72.html" target="element"> Samhandlingsavtale </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ca349e7e-be41-4a15-b2fa-55d433dbe30d.html" target="element"> kan inng&#229; i  </a> </td>
																		<td> <a href="../elements/ca349e7e-be41-4a15-b2fa-55d433dbe30d.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/5a2a23f1-cc32-4cec-8ac9-b5aee04f1c54.html" target="element"> Samarbeid om avtaleforvaltning </a> </td>
																		<td> <a href="../elements/8cb74928-d6d9-40b5-99e2-b1b400f82228.html" target="element"> Avtaleforvalter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/67fabf2c-a6f4-4221-ad9b-43f5cca2263e.html" target="element"> inng&#229;r i  </a> </td>
																		<td> <a href="../elements/67fabf2c-a6f4-4221-ad9b-43f5cca2263e.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/5a2a23f1-cc32-4cec-8ac9-b5aee04f1c54.html" target="element"> Samarbeid om avtaleforvaltning </a> </td>
																		<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/82e5bbc6-e735-4b4a-9eb5-abb16e2526b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/82e5bbc6-e735-4b4a-9eb5-abb16e2526b6.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																		<td> <a href="../elements/4cf27c2f-8b08-4b68-84ee-8f5e6a0b8c72.html" target="element"> Samhandlingsavtale </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0415cfbf-2d63-4f72-b76c-12ed9a8647dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/0415cfbf-2d63-4f72-b76c-12ed9a8647dc.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																		<td> <a href="../elements/4cf27c2f-8b08-4b68-84ee-8f5e6a0b8c72.html" target="element"> Samhandlingsavtale </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>