<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Leverandør-roller</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Leverand&#248;r-roller</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/3820fe5f-4c1f-4168-b0f1-9a414e93f687.png" alt="Leverandør-roller" usemap="#3820fe5f-4c1f-4168-b0f1-9a414e93f687map"/>
			   <map name="3820fe5f-4c1f-4168-b0f1-9a414e93f687map">
				  		<area shape="rect" coords="1412,272,1688,414" href="../elements/1cdeb787-cfdb-4715-8926-5daddb407412.html"  target="element">
				  		<area shape="rect" coords="20,276,286,410" href="../elements/ba7332d9-8a4a-432c-9e49-228336539824.html"  target="element">
				  		<area shape="rect" coords="644,20,920,162" href="../elements/7f9641a5-a677-4aa7-a032-cf0c4f0858d9.html"  target="element">
				  		<area shape="rect" coords="668,476,944,618" href="../elements/e4598b6b-24c2-4965-8e4a-c76dbbfd5e77.html"  target="element">
				  		<area shape="rect" coords="668,272,944,414" href="../elements/8f6533d5-614e-4e1a-81a4-adfea0bb942b.html"  target="element">
				  		<area shape="rect" coords="1004,272,1280,414" href="../elements/ba6a4fcf-750e-46ef-ba44-d4e9c2e56d82.html"  target="element">
				  		<area shape="rect" coords="332,272,608,414" href="../elements/62a87473-5eda-48fa-afdd-9427bcf855ef.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Leverand&#248;r-roller</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap">nab_arkitekturlandskap_segmentarkitektur_datadeling_roller</td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/62a87473-5eda-48fa-afdd-9427bcf855ef.html" target="element"> Dataleverand&#248;r </a> </td>
											    <td> <a href="../elements/62a87473-5eda-48fa-afdd-9427bcf855ef.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ba6a4fcf-750e-46ef-ba44-d4e9c2e56d82.html" target="element"> Systemleverand&#248;r </a> </td>
											    <td> <a href="../elements/ba6a4fcf-750e-46ef-ba44-d4e9c2e56d82.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8f6533d5-614e-4e1a-81a4-adfea0bb942b.html" target="element"> Tjenesteleverand&#248;r </a> </td>
											    <td> <a href="../elements/8f6533d5-614e-4e1a-81a4-adfea0bb942b.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e4598b6b-24c2-4965-8e4a-c76dbbfd5e77.html" target="element"> Skytjeneste-leverand&#248;r </a> </td>
											    <td> <a href="../elements/e4598b6b-24c2-4965-8e4a-c76dbbfd5e77.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7f9641a5-a677-4aa7-a032-cf0c4f0858d9.html" target="element"> Leverand&#248;r </a> </td>
											    <td> <a href="../elements/7f9641a5-a677-4aa7-a032-cf0c4f0858d9.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ba7332d9-8a4a-432c-9e49-228336539824.html" target="element"> Underleverand&#248;r </a> </td>
											    <td> <a href="../elements/ba7332d9-8a4a-432c-9e49-228336539824.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1cdeb787-cfdb-4715-8926-5daddb407412.html" target="element"> R&#229;dgiver </a> </td>
											    <td> <a href="../elements/1cdeb787-cfdb-4715-8926-5daddb407412.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/508cf019-cc6f-48ad-a4f9-046daba0d10b.html" target="element">  </a> </td>
																		<td> <a href="../elements/508cf019-cc6f-48ad-a4f9-046daba0d10b.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/62a87473-5eda-48fa-afdd-9427bcf855ef.html" target="element"> Dataleverand&#248;r </a> </td>
																		<td> <a href="../elements/7f9641a5-a677-4aa7-a032-cf0c4f0858d9.html" target="element"> Leverand&#248;r </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/178c41bc-aaa4-4c9c-990f-7840911f586d.html" target="element">  </a> </td>
																		<td> <a href="../elements/178c41bc-aaa4-4c9c-990f-7840911f586d.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/ba6a4fcf-750e-46ef-ba44-d4e9c2e56d82.html" target="element"> Systemleverand&#248;r </a> </td>
																		<td> <a href="../elements/7f9641a5-a677-4aa7-a032-cf0c4f0858d9.html" target="element"> Leverand&#248;r </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/da4fd362-3dc9-49d3-a87b-864c59db3ca7.html" target="element">  </a> </td>
																		<td> <a href="../elements/da4fd362-3dc9-49d3-a87b-864c59db3ca7.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/8f6533d5-614e-4e1a-81a4-adfea0bb942b.html" target="element"> Tjenesteleverand&#248;r </a> </td>
																		<td> <a href="../elements/7f9641a5-a677-4aa7-a032-cf0c4f0858d9.html" target="element"> Leverand&#248;r </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c8fa01aa-c1ec-4aca-9d15-bd9d0ec06d3b.html" target="element">  </a> </td>
																		<td> <a href="../elements/c8fa01aa-c1ec-4aca-9d15-bd9d0ec06d3b.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/e4598b6b-24c2-4965-8e4a-c76dbbfd5e77.html" target="element"> Skytjeneste-leverand&#248;r </a> </td>
																		<td> <a href="../elements/8f6533d5-614e-4e1a-81a4-adfea0bb942b.html" target="element"> Tjenesteleverand&#248;r </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/edc6e5d6-a1fc-4136-bb65-174946d266a7.html" target="element">  </a> </td>
																		<td> <a href="../elements/edc6e5d6-a1fc-4136-bb65-174946d266a7.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/ba7332d9-8a4a-432c-9e49-228336539824.html" target="element"> Underleverand&#248;r </a> </td>
																		<td> <a href="../elements/7f9641a5-a677-4aa7-a032-cf0c4f0858d9.html" target="element"> Leverand&#248;r </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5180063e-ca31-4f16-aacf-8f84bbe618a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/5180063e-ca31-4f16-aacf-8f84bbe618a3.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/1cdeb787-cfdb-4715-8926-5daddb407412.html" target="element"> R&#229;dgiver </a> </td>
																		<td> <a href="../elements/7f9641a5-a677-4aa7-a032-cf0c4f0858d9.html" target="element"> Leverand&#248;r </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>