<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Få tilgang til data (copy)</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>F&#229; tilgang til data (copy)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/3f825b37-66f1-4f2b-9bdd-069d9ef2eaca.png" alt="Få tilgang til data (copy)" usemap="#3f825b37-66f1-4f2b-9bdd-069d9ef2eacamap"/>
			   <map name="3f825b37-66f1-4f2b-9bdd-069d9ef2eacamap">
				  		<area shape="rect" coords="20,312,286,454" href="../elements/c41a20ad-848f-4590-9d50-04e25f3dc6df.html"  target="element">
				  				<area shape="rect" coords="1124,308,1390,448" href="../elements/8f899729-16a6-4b20-8438-fb3ccdfd837e.html"  target="element">
				  				<area shape="rect" coords="788,308,1054,448" href="../elements/bb9600f7-587d-423e-85a3-4215e45f09e4.html"  target="element">
				  				<area shape="rect" coords="452,308,718,448" href="../elements/274af914-0901-4f66-86cc-4c0fcafbf07a.html"  target="element">

				  		<area shape="rect" coords="404,236,1438,502" href="../elements/5694ee8b-4404-43b3-80d8-75e2faafb604.html"  target="element">
				  		<area shape="rect" coords="788,20,1054,160" href="../elements/3797e3fd-6fa2-4d70-ac19-faddd5065e87.html"  target="element">
				  		<area shape="rect" coords="20,68,286,210" href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html"  target="element">
				  		<area shape="rect" coords="1124,570,1390,712" href="../elements/744a77c6-ba05-4ecd-940b-194be9541f48.html"  target="element">
				  		<area shape="rect" coords="452,570,718,712" href="../elements/9bea2c14-0d88-4df5-a942-f5b69afc0c8b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">F&#229; tilgang til API - arkitekturm&#248;nster</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/9bea2c14-0d88-4df5-a942-f5b69afc0c8b.html" target="element"> API-s&#248;k </a> </td>
											    <td> <a href="../elements/9bea2c14-0d88-4df5-a942-f5b69afc0c8b.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/744a77c6-ba05-4ecd-940b-194be9541f48.html" target="element"> Registreringstjeneste for API-brukere </a> </td>
											    <td> <a href="../elements/744a77c6-ba05-4ecd-940b-194be9541f48.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
											    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3797e3fd-6fa2-4d70-ac19-faddd5065e87.html" target="element"> Bruksavtale </a> </td>
											    <td> <a href="../elements/3797e3fd-6fa2-4d70-ac19-faddd5065e87.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5694ee8b-4404-43b3-80d8-75e2faafb604.html" target="element"> F&#229; tilgang til API </a> </td>
											    <td> <a href="../elements/5694ee8b-4404-43b3-80d8-75e2faafb604.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/274af914-0901-4f66-86cc-4c0fcafbf07a.html" target="element"> Finn/f&#229; kjennskap til API </a> </td>
													    <td> <a href="../elements/274af914-0901-4f66-86cc-4c0fcafbf07a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/bb9600f7-587d-423e-85a3-4215e45f09e4.html" target="element"> Inng&#229; avtale om tilgang til data </a> </td>
													    <td> <a href="../elements/bb9600f7-587d-423e-85a3-4215e45f09e4.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8f899729-16a6-4b20-8438-fb3ccdfd837e.html" target="element"> Registrer klient med tildelt tilgang </a> </td>
													    <td> <a href="../elements/8f899729-16a6-4b20-8438-fb3ccdfd837e.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/c41a20ad-848f-4590-9d50-04e25f3dc6df.html" target="element"> F&#229; tilgang til data (konsument) </a> </td>
											    <td> <a href="../elements/c41a20ad-848f-4590-9d50-04e25f3dc6df.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/c979b540-fe17-445d-bc22-21417b0847f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/c979b540-fe17-445d-bc22-21417b0847f1.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/9bea2c14-0d88-4df5-a942-f5b69afc0c8b.html" target="element"> API-s&#248;k </a> </td>
																		<td> <a href="../elements/274af914-0901-4f66-86cc-4c0fcafbf07a.html" target="element"> Finn/f&#229; kjennskap til API </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f163772f-6411-4ccb-8382-3ae83d0f4fa1.html" target="element">  </a> </td>
																		<td> <a href="../elements/f163772f-6411-4ccb-8382-3ae83d0f4fa1.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/744a77c6-ba05-4ecd-940b-194be9541f48.html" target="element"> Registreringstjeneste for API-brukere </a> </td>
																		<td> <a href="../elements/8f899729-16a6-4b20-8438-fb3ccdfd837e.html" target="element"> Registrer klient med tildelt tilgang </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c2a4eb2b-1b1d-404d-bb92-6fd1d06aa174.html" target="element">  </a> </td>
																		<td> <a href="../elements/c2a4eb2b-1b1d-404d-bb92-6fd1d06aa174.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																		<td> <a href="../elements/c41a20ad-848f-4590-9d50-04e25f3dc6df.html" target="element"> F&#229; tilgang til data (konsument) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/eee31263-93d3-438e-bbf8-3f5bdc723624.html" target="element">  </a> </td>
																		<td> <a href="../elements/eee31263-93d3-438e-bbf8-3f5bdc723624.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/5694ee8b-4404-43b3-80d8-75e2faafb604.html" target="element"> F&#229; tilgang til API </a> </td>
																		<td> <a href="../elements/bb9600f7-587d-423e-85a3-4215e45f09e4.html" target="element"> Inng&#229; avtale om tilgang til data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/67c04b25-9891-44df-9728-10f870777c5f.html" target="element">  </a> </td>
																		<td> <a href="../elements/67c04b25-9891-44df-9728-10f870777c5f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/5694ee8b-4404-43b3-80d8-75e2faafb604.html" target="element"> F&#229; tilgang til API </a> </td>
																		<td> <a href="../elements/8f899729-16a6-4b20-8438-fb3ccdfd837e.html" target="element"> Registrer klient med tildelt tilgang </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/315d98dd-2c8d-4afc-80b1-f4d18e488062.html" target="element">  </a> </td>
																		<td> <a href="../elements/315d98dd-2c8d-4afc-80b1-f4d18e488062.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/5694ee8b-4404-43b3-80d8-75e2faafb604.html" target="element"> F&#229; tilgang til API </a> </td>
																		<td> <a href="../elements/274af914-0901-4f66-86cc-4c0fcafbf07a.html" target="element"> Finn/f&#229; kjennskap til API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1257f1d2-78d5-438a-ae7d-3a60586d3fe4.html" target="element">  </a> </td>
																		<td> <a href="../elements/1257f1d2-78d5-438a-ae7d-3a60586d3fe4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/5694ee8b-4404-43b3-80d8-75e2faafb604.html" target="element"> F&#229; tilgang til API </a> </td>
																		<td> <a href="../elements/c41a20ad-848f-4590-9d50-04e25f3dc6df.html" target="element"> F&#229; tilgang til data (konsument) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/f774e1f2-3fff-4e33-ab96-75a5af68600c.html" target="element">  </a> </td>
																				<td> <a href="../elements/f774e1f2-3fff-4e33-ab96-75a5af68600c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/274af914-0901-4f66-86cc-4c0fcafbf07a.html" target="element"> Finn/f&#229; kjennskap til API </a> </td>
																				<td> <a href="../elements/bb9600f7-587d-423e-85a3-4215e45f09e4.html" target="element"> Inng&#229; avtale om tilgang til data </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/d60b1141-875d-4602-b0a9-f319bab7aa91.html" target="element">  </a> </td>
																				<td> <a href="../elements/d60b1141-875d-4602-b0a9-f319bab7aa91.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/bb9600f7-587d-423e-85a3-4215e45f09e4.html" target="element"> Inng&#229; avtale om tilgang til data </a> </td>
																				<td> <a href="../elements/3797e3fd-6fa2-4d70-ac19-faddd5065e87.html" target="element"> Bruksavtale </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/0f00a3c7-efcb-4f8f-80fe-0de354106369.html" target="element">  </a> </td>
																				<td> <a href="../elements/0f00a3c7-efcb-4f8f-80fe-0de354106369.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/bb9600f7-587d-423e-85a3-4215e45f09e4.html" target="element"> Inng&#229; avtale om tilgang til data </a> </td>
																				<td> <a href="../elements/8f899729-16a6-4b20-8438-fb3ccdfd837e.html" target="element"> Registrer klient med tildelt tilgang </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/937b9bbf-22a1-4eda-9004-2419acb53f79.html" target="element">  </a> </td>
																				<td> <a href="../elements/937b9bbf-22a1-4eda-9004-2419acb53f79.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/8f899729-16a6-4b20-8438-fb3ccdfd837e.html" target="element"> Registrer klient med tildelt tilgang </a> </td>
																				<td> <a href="../elements/3797e3fd-6fa2-4d70-ac19-faddd5065e87.html" target="element"> Bruksavtale </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>