<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Datautveksling - overordnet oversikt over kapabiliteter og temaer </title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Datautveksling - overordnet oversikt over kapabiliteter og temaer </b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/487db41a-9f93-4187-9880-3cef14b8b642.png" alt="Datautveksling - overordnet oversikt over kapabiliteter og temaer " usemap="#487db41a-9f93-4187-9880-3cef14b8b642map"/>
			   <map name="487db41a-9f93-4187-9880-3cef14b8b642map">
				  						<area shape="rect" coords="1964,1072,2240,1214" href="../elements/8685f4e1-c165-4a54-b048-49ff197672e6.html"  target="element">
				  						<area shape="rect" coords="884,1072,1160,1214" href="../elements/10770455-1400-44d2-ab5b-5f490d8dba2b.html"  target="element">
				  						<area shape="rect" coords="164,1072,440,1214" href="../elements/f7059b5a-651e-4f9f-b403-5073af47d0f5.html"  target="element">
				  						<area shape="rect" coords="524,1072,800,1214" href="../elements/4475983f-5670-44f6-93a7-dbbe1dff6e4b.html"  target="element">
				  						<area shape="rect" coords="1604,1072,1880,1214" href="../elements/c00bfc12-31a9-4372-bfe1-8016afc1bd31.html"  target="element">
				  						<area shape="rect" coords="1244,1072,1520,1214" href="../elements/f8ffc728-13e6-4288-9f1f-8a8a8982e7f8.html"  target="element">

				  				<area shape="rect" coords="68,1000,2326,1242" href="../elements/17e11989-ec34-4263-acc0-4f0a794e2a4a.html"  target="element">
				  								<area shape="rect" coords="1340,664,1616,806" href="../elements/1cec0232-9353-48f6-80cb-eeedb8dc790d.html"  target="element">
				  								<area shape="rect" coords="1964,664,2240,806" href="../elements/5cd35859-e365-4396-946d-8dfcb19784d9.html"  target="element">
				  								<area shape="rect" coords="1652,664,1928,806" href="../elements/79b7a61e-5c9e-4b81-9be7-425f3f82372e.html"  target="element">

				  						<area shape="rect" coords="1292,592,2278,856" href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html"  target="element">
				  								<area shape="rect" coords="1964,376,2240,518" href="../elements/8e7048cb-c079-412c-bfd8-0531438a1b7c.html"  target="element">
				  								<area shape="rect" coords="1340,376,1616,518" href="../elements/14b67e2e-1ff6-4cf6-b80c-ebb7a3fc31ab.html"  target="element">
				  								<area shape="rect" coords="1652,376,1928,518" href="../elements/c94bb0bf-c07c-47f4-912a-5feb172260cc.html"  target="element">

				  						<area shape="rect" coords="1292,304,2278,568" href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html"  target="element">

				  				<area shape="rect" coords="1244,232,2326,904" href="../elements/2dad9b2e-1125-44a2-abc4-8fdda2d66d54.html"  target="element">
				  								<area shape="rect" coords="476,664,752,806" href="../elements/f8c3dc36-0776-435a-bb83-177ad1a5d1a7.html"  target="element">
				  								<area shape="rect" coords="164,664,440,806" href="../elements/d36ea7fd-9057-4fa7-9857-c284a3fcaebf.html"  target="element">
				  								<area shape="rect" coords="788,664,1064,806" href="../elements/03938387-09db-4fda-9dc3-b8e6756ec6b0.html"  target="element">

				  						<area shape="rect" coords="116,592,1102,856" href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html"  target="element">
				  								<area shape="rect" coords="476,376,742,518" href="../elements/627f362e-2204-42ce-a032-e904c0151e14.html"  target="element">
				  								<area shape="rect" coords="164,376,440,518" href="../elements/fa413a11-edaa-4c1f-a120-63224851f08c.html"  target="element">
				  								<area shape="rect" coords="788,376,1064,518" href="../elements/7ceeeb2b-770c-497e-a543-6ccbb479c9d8.html"  target="element">

				  						<area shape="rect" coords="116,304,1102,568" href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html"  target="element">

				  				<area shape="rect" coords="68,232,1150,906" href="../elements/9fabbd00-ac58-4379-a4cf-1163b57611a9.html"  target="element">

				  		<area shape="rect" coords="20,160,2398,1294" href="../elements/ef8f4ddc-778d-4d68-b35f-b8ba2c8f60d4.html"  target="element">
				  		<area shape="rect" coords="788,20,1064,162" href="../elements/58fdb791-aa0d-4798-800b-8b6a99ebc11a.html"  target="element">
				  		<area shape="rect" coords="476,20,752,162" href="../elements/cd4e885b-ef01-48d2-8bf2-ec15871f7dd5.html"  target="element">
				  		<area shape="rect" coords="164,20,440,162" href="../elements/fce6cb0c-47bb-4044-bcb1-b3cd2122ac93.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Datautveksling - overordnet oversikt over kapabiliteter og temaer</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap">nab_arkitekturlandskap_segmentarkitektur_datadeling_datautveklsing</td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/fce6cb0c-47bb-4044-bcb1-b3cd2122ac93.html" target="element"> Foresp&#248;rsel-svar </a> </td>
											    <td> <a href="../elements/fce6cb0c-47bb-4044-bcb1-b3cd2122ac93.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cd4e885b-ef01-48d2-8bf2-ec15871f7dd5.html" target="element"> Forsendelse </a> </td>
											    <td> <a href="../elements/cd4e885b-ef01-48d2-8bf2-ec15871f7dd5.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/58fdb791-aa0d-4798-800b-8b6a99ebc11a.html" target="element"> Publisering </a> </td>
											    <td> <a href="../elements/58fdb791-aa0d-4798-800b-8b6a99ebc11a.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ef8f4ddc-778d-4d68-b35f-b8ba2c8f60d4.html" target="element"> Basism&#248;nstre for datautveksling </a> </td>
											    <td> <a href="../elements/ef8f4ddc-778d-4d68-b35f-b8ba2c8f60d4.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/9fabbd00-ac58-4379-a4cf-1163b57611a9.html" target="element"> Datautveksling-operative kapabiliteter </a> </td>
													    <td> <a href="../elements/9fabbd00-ac58-4379-a4cf-1163b57611a9.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
															    <td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/7ceeeb2b-770c-497e-a543-6ccbb479c9d8.html" target="element"> Publisere data </a> </td>
																	    <td> <a href="../elements/7ceeeb2b-770c-497e-a543-6ccbb479c9d8.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/fa413a11-edaa-4c1f-a120-63224851f08c.html" target="element"> Avgi data p&#229; foresp&#248;rsel </a> </td>
																	    <td> <a href="../elements/fa413a11-edaa-4c1f-a120-63224851f08c.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/627f362e-2204-42ce-a032-e904c0151e14.html" target="element"> Sende data </a> </td>
																	    <td> <a href="../elements/627f362e-2204-42ce-a032-e904c0151e14.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
															    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/03938387-09db-4fda-9dc3-b8e6756ec6b0.html" target="element"> Konsumere publiserte data </a> </td>
																	    <td> <a href="../elements/03938387-09db-4fda-9dc3-b8e6756ec6b0.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/d36ea7fd-9057-4fa7-9857-c284a3fcaebf.html" target="element"> Innhente data ved foresp&#248;rsel </a> </td>
																	    <td> <a href="../elements/d36ea7fd-9057-4fa7-9857-c284a3fcaebf.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/f8c3dc36-0776-435a-bb83-177ad1a5d1a7.html" target="element"> Motta tilsendte data </a> </td>
																	    <td> <a href="../elements/f8c3dc36-0776-435a-bb83-177ad1a5d1a7.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/2dad9b2e-1125-44a2-abc4-8fdda2d66d54.html" target="element"> Datautveksling- forvaltningsmessige kapabiliteter </a> </td>
													    <td> <a href="../elements/2dad9b2e-1125-44a2-abc4-8fdda2d66d54.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
															    <td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/c94bb0bf-c07c-47f4-912a-5feb172260cc.html" target="element"> Inng&#229; avtaler og sett opp tilganger til data og tjenester </a> </td>
																	    <td> <a href="../elements/c94bb0bf-c07c-47f4-912a-5feb172260cc.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/14b67e2e-1ff6-4cf6-b80c-ebb7a3fc31ab.html" target="element"> Publisere informasjon om egne data og tjenester i kataloger </a> </td>
																	    <td> <a href="../elements/14b67e2e-1ff6-4cf6-b80c-ebb7a3fc31ab.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/8e7048cb-c079-412c-bfd8-0531438a1b7c.html" target="element"> Etablere egne l&#248;sninger for deling av data </a> </td>
																	    <td> <a href="../elements/8e7048cb-c079-412c-bfd8-0531438a1b7c.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
															    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/79b7a61e-5c9e-4b81-9be7-425f3f82372e.html" target="element"> Inng&#229; avtaler og sett opp tilgang til data fra andre </a> </td>
																	    <td> <a href="../elements/79b7a61e-5c9e-4b81-9be7-425f3f82372e.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/5cd35859-e365-4396-946d-8dfcb19784d9.html" target="element"> Etablere l&#248;sninger for innhenting og mottak av data </a> </td>
																	    <td> <a href="../elements/5cd35859-e365-4396-946d-8dfcb19784d9.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/1cec0232-9353-48f6-80cb-eeedb8dc790d.html" target="element"> Oppdage data og datakilder </a> </td>
																	    <td> <a href="../elements/1cec0232-9353-48f6-80cb-eeedb8dc790d.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/17e11989-ec34-4263-acc0-4f0a794e2a4a.html" target="element"> Tverrg&#229;ende temaer innen datautveksling (utvalg) </a> </td>
													    <td> <a href="../elements/17e11989-ec34-4263-acc0-4f0a794e2a4a.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/f8ffc728-13e6-4288-9f1f-8a8a8982e7f8.html" target="element"> Informasjonssikkerhet, tillit og personvern </a> </td>
															    <td> <a href="../elements/f8ffc728-13e6-4288-9f1f-8a8a8982e7f8.html" target="element" class="i18n-elementtype-Grouping">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/c00bfc12-31a9-4372-bfe1-8016afc1bd31.html" target="element"> Feilh&#229;ndtering ved datautveksling </a> </td>
															    <td> <a href="../elements/c00bfc12-31a9-4372-bfe1-8016afc1bd31.html" target="element" class="i18n-elementtype-Grouping">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/4475983f-5670-44f6-93a7-dbbe1dff6e4b.html" target="element"> Avtaleforvaltning </a> </td>
															    <td> <a href="../elements/4475983f-5670-44f6-93a7-dbbe1dff6e4b.html" target="element" class="i18n-elementtype-Grouping">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/f7059b5a-651e-4f9f-b403-5073af47d0f5.html" target="element"> Standarder og spesifikasjoner </a> </td>
															    <td> <a href="../elements/f7059b5a-651e-4f9f-b403-5073af47d0f5.html" target="element" class="i18n-elementtype-Grouping">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/10770455-1400-44d2-ab5b-5f490d8dba2b.html" target="element"> Roller og ansvar </a> </td>
															    <td> <a href="../elements/10770455-1400-44d2-ab5b-5f490d8dba2b.html" target="element" class="i18n-elementtype-Grouping">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/8685f4e1-c165-4a54-b048-49ff197672e6.html" target="element"> Sporing </a> </td>
															    <td> <a href="../elements/8685f4e1-c165-4a54-b048-49ff197672e6.html" target="element" class="i18n-elementtype-Grouping">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/36ce3893-f832-4bf6-b15a-4f3bc9f09062.html" target="element">  </a> </td>
																		<td> <a href="../elements/36ce3893-f832-4bf6-b15a-4f3bc9f09062.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/ef8f4ddc-778d-4d68-b35f-b8ba2c8f60d4.html" target="element"> Basism&#248;nstre for datautveksling </a> </td>
																		<td> <a href="../elements/9fabbd00-ac58-4379-a4cf-1163b57611a9.html" target="element"> Datautveksling-operative kapabiliteter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8e7ec547-0d22-4ee9-a61b-3d345affc964.html" target="element">  </a> </td>
																		<td> <a href="../elements/8e7ec547-0d22-4ee9-a61b-3d345affc964.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/ef8f4ddc-778d-4d68-b35f-b8ba2c8f60d4.html" target="element"> Basism&#248;nstre for datautveksling </a> </td>
																		<td> <a href="../elements/17e11989-ec34-4263-acc0-4f0a794e2a4a.html" target="element"> Tverrg&#229;ende temaer innen datautveksling (utvalg) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8bfbd293-97cb-426b-8588-032b2c1af892.html" target="element">  </a> </td>
																		<td> <a href="../elements/8bfbd293-97cb-426b-8588-032b2c1af892.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/ef8f4ddc-778d-4d68-b35f-b8ba2c8f60d4.html" target="element"> Basism&#248;nstre for datautveksling </a> </td>
																		<td> <a href="../elements/2dad9b2e-1125-44a2-abc4-8fdda2d66d54.html" target="element"> Datautveksling- forvaltningsmessige kapabiliteter </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/11e6dfff-a963-44d5-a406-e9a429a46de8.html" target="element">  </a> </td>
																				<td> <a href="../elements/11e6dfff-a963-44d5-a406-e9a429a46de8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/9fabbd00-ac58-4379-a4cf-1163b57611a9.html" target="element"> Datautveksling-operative kapabiliteter </a> </td>
																				<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/5d114c3c-1490-427d-bdb5-e3a7d67e9c71.html" target="element">  </a> </td>
																				<td> <a href="../elements/5d114c3c-1490-427d-bdb5-e3a7d67e9c71.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/9fabbd00-ac58-4379-a4cf-1163b57611a9.html" target="element"> Datautveksling-operative kapabiliteter </a> </td>
																				<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/919bbdc6-fe4e-4b28-80fa-dd761c9c09fa.html" target="element">  </a> </td>
																						<td> <a href="../elements/919bbdc6-fe4e-4b28-80fa-dd761c9c09fa.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																						<td> <a href="../elements/7ceeeb2b-770c-497e-a543-6ccbb479c9d8.html" target="element"> Publisere data </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/6e6afd3c-b647-4429-a56f-18b46ba273aa.html" target="element">  </a> </td>
																						<td> <a href="../elements/6e6afd3c-b647-4429-a56f-18b46ba273aa.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																						<td> <a href="../elements/fa413a11-edaa-4c1f-a120-63224851f08c.html" target="element"> Avgi data p&#229; foresp&#248;rsel </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/b44beecf-f8e2-4244-b2a0-e22467c31569.html" target="element">  </a> </td>
																						<td> <a href="../elements/b44beecf-f8e2-4244-b2a0-e22467c31569.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																						<td> <a href="../elements/627f362e-2204-42ce-a032-e904c0151e14.html" target="element"> Sende data </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/57df96c9-0abf-4eca-a667-5a3d62da4643.html" target="element">  </a> </td>
																						<td> <a href="../elements/57df96c9-0abf-4eca-a667-5a3d62da4643.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																						<td> <a href="../elements/03938387-09db-4fda-9dc3-b8e6756ec6b0.html" target="element"> Konsumere publiserte data </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/89a7e92b-6d5e-4f17-a22d-95f3d39a5dba.html" target="element">  </a> </td>
																						<td> <a href="../elements/89a7e92b-6d5e-4f17-a22d-95f3d39a5dba.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																						<td> <a href="../elements/d36ea7fd-9057-4fa7-9857-c284a3fcaebf.html" target="element"> Innhente data ved foresp&#248;rsel </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/8d51259f-65fa-4078-845a-ee706b3bc176.html" target="element">  </a> </td>
																						<td> <a href="../elements/8d51259f-65fa-4078-845a-ee706b3bc176.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																						<td> <a href="../elements/f8c3dc36-0776-435a-bb83-177ad1a5d1a7.html" target="element"> Motta tilsendte data </a> </td>
																					</tr>

															
													
																			<tr>
																				<td> <a href="../elements/16c6f53f-4860-4e8b-b4c4-98782b39f36c.html" target="element">  </a> </td>
																				<td> <a href="../elements/16c6f53f-4860-4e8b-b4c4-98782b39f36c.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/2dad9b2e-1125-44a2-abc4-8fdda2d66d54.html" target="element"> Datautveksling- forvaltningsmessige kapabiliteter </a> </td>
																				<td> <a href="../elements/9fabbd00-ac58-4379-a4cf-1163b57611a9.html" target="element"> Datautveksling-operative kapabiliteter </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/28a18827-be4a-4cc7-b831-888b3405c14f.html" target="element">  </a> </td>
																				<td> <a href="../elements/28a18827-be4a-4cc7-b831-888b3405c14f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/2dad9b2e-1125-44a2-abc4-8fdda2d66d54.html" target="element"> Datautveksling- forvaltningsmessige kapabiliteter </a> </td>
																				<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d7540fbb-082c-4002-8e0a-49cf66b603f0.html" target="element">  </a> </td>
																				<td> <a href="../elements/d7540fbb-082c-4002-8e0a-49cf66b603f0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/2dad9b2e-1125-44a2-abc4-8fdda2d66d54.html" target="element"> Datautveksling- forvaltningsmessige kapabiliteter </a> </td>
																				<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/b0df29f0-bd01-408f-9cd7-06226a1b52b9.html" target="element">  </a> </td>
																						<td> <a href="../elements/b0df29f0-bd01-408f-9cd7-06226a1b52b9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																						<td> <a href="../elements/14b67e2e-1ff6-4cf6-b80c-ebb7a3fc31ab.html" target="element"> Publisere informasjon om egne data og tjenester i kataloger </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/b0f6f956-0cf8-48aa-b27d-9e7f8f989b72.html" target="element">  </a> </td>
																						<td> <a href="../elements/b0f6f956-0cf8-48aa-b27d-9e7f8f989b72.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																						<td> <a href="../elements/c94bb0bf-c07c-47f4-912a-5feb172260cc.html" target="element"> Inng&#229; avtaler og sett opp tilganger til data og tjenester </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/56ce73ca-086e-4d60-9579-78e9e148b046.html" target="element">  </a> </td>
																						<td> <a href="../elements/56ce73ca-086e-4d60-9579-78e9e148b046.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																						<td> <a href="../elements/8e7048cb-c079-412c-bfd8-0531438a1b7c.html" target="element"> Etablere egne l&#248;sninger for deling av data </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/d6f2cb5e-809f-45ea-bd2a-7950568e4982.html" target="element">  </a> </td>
																						<td> <a href="../elements/d6f2cb5e-809f-45ea-bd2a-7950568e4982.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																						<td> <a href="../elements/5cd35859-e365-4396-946d-8dfcb19784d9.html" target="element"> Etablere l&#248;sninger for innhenting og mottak av data </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/7fb378f5-33d3-4325-a628-673bebf3ca92.html" target="element">  </a> </td>
																						<td> <a href="../elements/7fb378f5-33d3-4325-a628-673bebf3ca92.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																						<td> <a href="../elements/1cec0232-9353-48f6-80cb-eeedb8dc790d.html" target="element"> Oppdage data og datakilder </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/c1135a8a-34c3-411f-93af-209ff813e662.html" target="element">  </a> </td>
																						<td> <a href="../elements/c1135a8a-34c3-411f-93af-209ff813e662.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																						<td> <a href="../elements/79b7a61e-5c9e-4b81-9be7-425f3f82372e.html" target="element"> Inng&#229; avtaler og sett opp tilgang til data fra andre </a> </td>
																					</tr>

															
													
																			<tr>
																				<td> <a href="../elements/371c5cfa-3dbf-4379-bdae-f513d5236e91.html" target="element">  </a> </td>
																				<td> <a href="../elements/371c5cfa-3dbf-4379-bdae-f513d5236e91.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/17e11989-ec34-4263-acc0-4f0a794e2a4a.html" target="element"> Tverrg&#229;ende temaer innen datautveksling (utvalg) </a> </td>
																				<td> <a href="../elements/c00bfc12-31a9-4372-bfe1-8016afc1bd31.html" target="element"> Feilh&#229;ndtering ved datautveksling </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c4e5bc1c-76ec-42b6-ae10-4eb178f0ba99.html" target="element">  </a> </td>
																				<td> <a href="../elements/c4e5bc1c-76ec-42b6-ae10-4eb178f0ba99.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/17e11989-ec34-4263-acc0-4f0a794e2a4a.html" target="element"> Tverrg&#229;ende temaer innen datautveksling (utvalg) </a> </td>
																				<td> <a href="../elements/2dad9b2e-1125-44a2-abc4-8fdda2d66d54.html" target="element"> Datautveksling- forvaltningsmessige kapabiliteter </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/a0d2ed3e-65f6-475c-b5be-4c7526dd315f.html" target="element">  </a> </td>
																				<td> <a href="../elements/a0d2ed3e-65f6-475c-b5be-4c7526dd315f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/17e11989-ec34-4263-acc0-4f0a794e2a4a.html" target="element"> Tverrg&#229;ende temaer innen datautveksling (utvalg) </a> </td>
																				<td> <a href="../elements/8685f4e1-c165-4a54-b048-49ff197672e6.html" target="element"> Sporing </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/88ba1d20-5445-4da7-b904-328702baabd1.html" target="element">  </a> </td>
																				<td> <a href="../elements/88ba1d20-5445-4da7-b904-328702baabd1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/17e11989-ec34-4263-acc0-4f0a794e2a4a.html" target="element"> Tverrg&#229;ende temaer innen datautveksling (utvalg) </a> </td>
																				<td> <a href="../elements/f7059b5a-651e-4f9f-b403-5073af47d0f5.html" target="element"> Standarder og spesifikasjoner </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9a86258d-c71a-4796-bba4-b239c383d100.html" target="element">  </a> </td>
																				<td> <a href="../elements/9a86258d-c71a-4796-bba4-b239c383d100.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/17e11989-ec34-4263-acc0-4f0a794e2a4a.html" target="element"> Tverrg&#229;ende temaer innen datautveksling (utvalg) </a> </td>
																				<td> <a href="../elements/ef8f4ddc-778d-4d68-b35f-b8ba2c8f60d4.html" target="element"> Basism&#248;nstre for datautveksling </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/4301aee3-54df-4e45-bb0c-64137d525936.html" target="element">  </a> </td>
																				<td> <a href="../elements/4301aee3-54df-4e45-bb0c-64137d525936.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/17e11989-ec34-4263-acc0-4f0a794e2a4a.html" target="element"> Tverrg&#229;ende temaer innen datautveksling (utvalg) </a> </td>
																				<td> <a href="../elements/10770455-1400-44d2-ab5b-5f490d8dba2b.html" target="element"> Roller og ansvar </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/8bdc32ce-c0a4-469d-a459-b40417d6ca22.html" target="element">  </a> </td>
																				<td> <a href="../elements/8bdc32ce-c0a4-469d-a459-b40417d6ca22.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/17e11989-ec34-4263-acc0-4f0a794e2a4a.html" target="element"> Tverrg&#229;ende temaer innen datautveksling (utvalg) </a> </td>
																				<td> <a href="../elements/9fabbd00-ac58-4379-a4cf-1163b57611a9.html" target="element"> Datautveksling-operative kapabiliteter </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/434f4579-5e39-4bac-9281-a6648764b768.html" target="element">  </a> </td>
																				<td> <a href="../elements/434f4579-5e39-4bac-9281-a6648764b768.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/17e11989-ec34-4263-acc0-4f0a794e2a4a.html" target="element"> Tverrg&#229;ende temaer innen datautveksling (utvalg) </a> </td>
																				<td> <a href="../elements/f8ffc728-13e6-4288-9f1f-8a8a8982e7f8.html" target="element"> Informasjonssikkerhet, tillit og personvern </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/cbf666f6-76b2-47e9-b1b1-92df3f82e3e2.html" target="element">  </a> </td>
																				<td> <a href="../elements/cbf666f6-76b2-47e9-b1b1-92df3f82e3e2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/17e11989-ec34-4263-acc0-4f0a794e2a4a.html" target="element"> Tverrg&#229;ende temaer innen datautveksling (utvalg) </a> </td>
																				<td> <a href="../elements/4475983f-5670-44f6-93a7-dbbe1dff6e4b.html" target="element"> Avtaleforvaltning </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>