<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Grunnleggende begreper for publisering av hendelser</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Grunnleggende begreper for publisering av hendelser</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/4c8822a1-6b25-4896-aba9-66544a4f796f.png" alt="Grunnleggende begreper for publisering av hendelser" usemap="#4c8822a1-6b25-4896-aba9-66544a4f796fmap"/>
			   <map name="4c8822a1-6b25-4896-aba9-66544a4f796fmap">
				  		<area shape="rect" coords="956,498,1222,640" href="../elements/329e6d1d-d7eb-4aee-a987-fe9682ed4122.html"  target="element">
				  		<area shape="rect" coords="20,358,286,500" href="../elements/5576f6a9-9ccb-483e-8e9f-2969064c00b4.html"  target="element">
				  		<area shape="rect" coords="20,188,286,330" href="../elements/80a4b5e2-e423-45b5-8bec-a7c93514ba58.html"  target="element">
				  		<area shape="rect" coords="476,498,742,640" href="../elements/b1a3fe47-f7b7-44b5-8731-9b7cd9b961fd.html"  target="element">
				  		<area shape="rect" coords="476,260,742,402" href="../elements/bb383cf3-7d0f-4f2a-955c-d1fb49b4961d.html"  target="element">
				  		<area shape="rect" coords="476,20,742,162" href="../elements/b1e5e3e7-d970-4a4a-aca7-1f07eafd34ca.html"  target="element">
				  		<area shape="rect" coords="956,20,1222,162" href="../elements/3b65ddac-3520-4dee-9d13-700e449cdff9.html"  target="element">
				  		<area shape="rect" coords="956,260,1222,402" href="../elements/5fe4ffdd-7d65-439d-a498-804a45e9ba63.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Hendelsedrevt arkitektur - grunnleggende konsept</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap">nab_referanse_arkitekturer_datautveksling_publisering</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/5fe4ffdd-7d65-439d-a498-804a45e9ba63.html" target="element"> Notifikasjon </a> </td>
											    <td> <a href="../elements/5fe4ffdd-7d65-439d-a498-804a45e9ba63.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3b65ddac-3520-4dee-9d13-700e449cdff9.html" target="element"> Hendelsesliste </a> </td>
											    <td> <a href="../elements/3b65ddac-3520-4dee-9d13-700e449cdff9.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b1e5e3e7-d970-4a4a-aca7-1f07eafd34ca.html" target="element"> Hendelsesstr&#248;m </a> </td>
											    <td> <a href="../elements/b1e5e3e7-d970-4a4a-aca7-1f07eafd34ca.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bb383cf3-7d0f-4f2a-955c-d1fb49b4961d.html" target="element"> Hendelse </a> </td>
											    <td> <a href="../elements/bb383cf3-7d0f-4f2a-955c-d1fb49b4961d.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b1a3fe47-f7b7-44b5-8731-9b7cd9b961fd.html" target="element"> Subjekt </a> </td>
											    <td> <a href="../elements/b1a3fe47-f7b7-44b5-8731-9b7cd9b961fd.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/80a4b5e2-e423-45b5-8bec-a7c93514ba58.html" target="element"> Datagrunnlag </a> </td>
											    <td> <a href="../elements/80a4b5e2-e423-45b5-8bec-a7c93514ba58.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5576f6a9-9ccb-483e-8e9f-2969064c00b4.html" target="element"> Oppdatert datagrunnlag </a> </td>
											    <td> <a href="../elements/5576f6a9-9ccb-483e-8e9f-2969064c00b4.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/329e6d1d-d7eb-4aee-a987-fe9682ed4122.html" target="element"> Hendelsesrelaterte data </a> </td>
											    <td> <a href="../elements/329e6d1d-d7eb-4aee-a987-fe9682ed4122.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/b1fde414-5c50-4d4a-9eda-6f614f3a924c.html" target="element"> refererer tl </a> </td>
																		<td> <a href="../elements/b1fde414-5c50-4d4a-9eda-6f614f3a924c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/5fe4ffdd-7d65-439d-a498-804a45e9ba63.html" target="element"> Notifikasjon </a> </td>
																		<td> <a href="../elements/bb383cf3-7d0f-4f2a-955c-d1fb49b4961d.html" target="element"> Hendelse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/36b5f977-0057-44a7-9976-c810f97b8f0e.html" target="element"> assosiert med </a> </td>
																		<td> <a href="../elements/36b5f977-0057-44a7-9976-c810f97b8f0e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/5fe4ffdd-7d65-439d-a498-804a45e9ba63.html" target="element"> Notifikasjon </a> </td>
																		<td> <a href="../elements/329e6d1d-d7eb-4aee-a987-fe9682ed4122.html" target="element"> Hendelsesrelaterte data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/221d6570-f7b4-4b77-a871-fadfbda9a761.html" target="element"> inneholder </a> </td>
																		<td> <a href="../elements/221d6570-f7b4-4b77-a871-fadfbda9a761.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/3b65ddac-3520-4dee-9d13-700e449cdff9.html" target="element"> Hendelsesliste </a> </td>
																		<td> <a href="../elements/5fe4ffdd-7d65-439d-a498-804a45e9ba63.html" target="element"> Notifikasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/72b539bf-9176-40ef-a8c0-dba61c35ec46.html" target="element"> beskriver </a> </td>
																		<td> <a href="../elements/72b539bf-9176-40ef-a8c0-dba61c35ec46.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/3b65ddac-3520-4dee-9d13-700e449cdff9.html" target="element"> Hendelsesliste </a> </td>
																		<td> <a href="../elements/b1e5e3e7-d970-4a4a-aca7-1f07eafd34ca.html" target="element"> Hendelsesstr&#248;m </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/286b610b-7859-4b09-befe-c546c8d351ee.html" target="element"> inneholder </a> </td>
																		<td> <a href="../elements/286b610b-7859-4b09-befe-c546c8d351ee.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/b1e5e3e7-d970-4a4a-aca7-1f07eafd34ca.html" target="element"> Hendelsesstr&#248;m </a> </td>
																		<td> <a href="../elements/bb383cf3-7d0f-4f2a-955c-d1fb49b4961d.html" target="element"> Hendelse </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f0896afd-3366-4789-ad73-ddda60975b02.html" target="element"> omhandler </a> </td>
																		<td> <a href="../elements/f0896afd-3366-4789-ad73-ddda60975b02.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/bb383cf3-7d0f-4f2a-955c-d1fb49b4961d.html" target="element"> Hendelse </a> </td>
																		<td> <a href="../elements/b1a3fe47-f7b7-44b5-8731-9b7cd9b961fd.html" target="element"> Subjekt </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/394e521c-1cde-440d-b033-1fb11595c912.html" target="element"> medf&#248;rer </a> </td>
																		<td> <a href="../elements/394e521c-1cde-440d-b033-1fb11595c912.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/bb383cf3-7d0f-4f2a-955c-d1fb49b4961d.html" target="element"> Hendelse </a> </td>
																		<td> <a href="../elements/5576f6a9-9ccb-483e-8e9f-2969064c00b4.html" target="element"> Oppdatert datagrunnlag </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/666d2e40-3b43-4802-bec9-b73497ee801a.html" target="element"> danner grunnlag for </a> </td>
																		<td> <a href="../elements/666d2e40-3b43-4802-bec9-b73497ee801a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/80a4b5e2-e423-45b5-8bec-a7c93514ba58.html" target="element"> Datagrunnlag </a> </td>
																		<td> <a href="../elements/bb383cf3-7d0f-4f2a-955c-d1fb49b4961d.html" target="element"> Hendelse </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c1510e96-399c-4c5c-af4f-577a37185b6e.html" target="element"> inneholder </a> </td>
																		<td> <a href="../elements/c1510e96-399c-4c5c-af4f-577a37185b6e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/329e6d1d-d7eb-4aee-a987-fe9682ed4122.html" target="element"> Hendelsesrelaterte data </a> </td>
																		<td> <a href="../elements/329e6d1d-d7eb-4aee-a987-fe9682ed4122.html" target="element"> Hendelsesrelaterte data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a640a2a2-0973-46e0-988f-677e344e7dd9.html" target="element"> relaterer til </a> </td>
																		<td> <a href="../elements/a640a2a2-0973-46e0-988f-677e344e7dd9.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/329e6d1d-d7eb-4aee-a987-fe9682ed4122.html" target="element"> Hendelsesrelaterte data </a> </td>
																		<td> <a href="../elements/329e6d1d-d7eb-4aee-a987-fe9682ed4122.html" target="element"> Hendelsesrelaterte data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c0e530b3-7d7c-4832-8488-0dc8a6bc68da.html" target="element"> beskriver </a> </td>
																		<td> <a href="../elements/c0e530b3-7d7c-4832-8488-0dc8a6bc68da.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/329e6d1d-d7eb-4aee-a987-fe9682ed4122.html" target="element"> Hendelsesrelaterte data </a> </td>
																		<td> <a href="../elements/bb383cf3-7d0f-4f2a-955c-d1fb49b4961d.html" target="element"> Hendelse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/66cbb2e3-6d4c-4847-b2ea-7524a09b3398.html" target="element">  </a> </td>
																		<td> <a href="../elements/66cbb2e3-6d4c-4847-b2ea-7524a09b3398.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/329e6d1d-d7eb-4aee-a987-fe9682ed4122.html" target="element"> Hendelsesrelaterte data </a> </td>
																		<td> <a href="../elements/b1a3fe47-f7b7-44b5-8731-9b7cd9b961fd.html" target="element"> Subjekt </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>