<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Koordinator-roller</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Koordinator-roller</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/5cd99de8-70de-40d7-84f2-3fcd663948ea.png" alt="Koordinator-roller" usemap="#5cd99de8-70de-40d7-84f2-3fcd663948eamap"/>
			   <map name="5cd99de8-70de-40d7-84f2-3fcd663948eamap">
				  		<area shape="rect" coords="938,524,1204,666" href="../elements/b97457e0-de9a-4d89-9e26-e1801c16d727.html"  target="element">
				  		<area shape="rect" coords="914,260,1190,402" href="../elements/8cb74928-d6d9-40b5-99e2-b1b400f82228.html"  target="element">
				  		<area shape="rect" coords="434,260,710,402" href="../elements/8f86b0e0-3fcf-41e9-bc77-895e1fa8ca3a.html"  target="element">
				  		<area shape="rect" coords="410,20,686,162" href="../elements/02305d60-f86f-4d11-806b-69b805f789ce.html"  target="element">
				  		<area shape="rect" coords="20,260,296,402" href="../elements/31a89c58-a67f-4ba1-b813-b971640063cf.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Koordinator-roller</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap">nab_arkitekturlandskap_segmentarkitektur_datadeling_roller</td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/31a89c58-a67f-4ba1-b813-b971640063cf.html" target="element"> Begrepskoordinator </a> </td>
											    <td> <a href="../elements/31a89c58-a67f-4ba1-b813-b971640063cf.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/02305d60-f86f-4d11-806b-69b805f789ce.html" target="element"> Koordinator </a> </td>
											    <td> <a href="../elements/02305d60-f86f-4d11-806b-69b805f789ce.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8f86b0e0-3fcf-41e9-bc77-895e1fa8ca3a.html" target="element"> Segmentansvarlig </a> </td>
											    <td> <a href="../elements/8f86b0e0-3fcf-41e9-bc77-895e1fa8ca3a.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8cb74928-d6d9-40b5-99e2-b1b400f82228.html" target="element"> Avtaleforvalter </a> </td>
											    <td> <a href="../elements/8cb74928-d6d9-40b5-99e2-b1b400f82228.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b97457e0-de9a-4d89-9e26-e1801c16d727.html" target="element"> Fellesskapsforvalter </a> </td>
											    <td> <a href="../elements/b97457e0-de9a-4d89-9e26-e1801c16d727.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/1eeb3674-8bd1-477e-a04d-438fdf129d53.html" target="element">  </a> </td>
																		<td> <a href="../elements/1eeb3674-8bd1-477e-a04d-438fdf129d53.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/31a89c58-a67f-4ba1-b813-b971640063cf.html" target="element"> Begrepskoordinator </a> </td>
																		<td> <a href="../elements/02305d60-f86f-4d11-806b-69b805f789ce.html" target="element"> Koordinator </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/abde2b7b-75d8-49c3-8680-f6be870a915f.html" target="element">  </a> </td>
																		<td> <a href="../elements/abde2b7b-75d8-49c3-8680-f6be870a915f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/8f86b0e0-3fcf-41e9-bc77-895e1fa8ca3a.html" target="element"> Segmentansvarlig </a> </td>
																		<td> <a href="../elements/02305d60-f86f-4d11-806b-69b805f789ce.html" target="element"> Koordinator </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f12bd9d3-0171-4c4b-994d-bfe8f5bf0477.html" target="element">  </a> </td>
																		<td> <a href="../elements/f12bd9d3-0171-4c4b-994d-bfe8f5bf0477.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/8cb74928-d6d9-40b5-99e2-b1b400f82228.html" target="element"> Avtaleforvalter </a> </td>
																		<td> <a href="../elements/02305d60-f86f-4d11-806b-69b805f789ce.html" target="element"> Koordinator </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d0e3228b-63f8-44cc-a0e4-c1b389532657.html" target="element">  </a> </td>
																		<td> <a href="../elements/d0e3228b-63f8-44cc-a0e4-c1b389532657.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/b97457e0-de9a-4d89-9e26-e1801c16d727.html" target="element"> Fellesskapsforvalter </a> </td>
																		<td> <a href="../elements/8cb74928-d6d9-40b5-99e2-b1b400f82228.html" target="element"> Avtaleforvalter </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>