<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Datadeling og integrasjon (DMBOK2)</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Datadeling og integrasjon (DMBOK2)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/71c012c6-bb1f-43c1-9bfe-91e376a48ec8.png" alt="Datadeling og integrasjon (DMBOK2)" usemap="#71c012c6-bb1f-43c1-9bfe-91e376a48ec8map"/>
			   <map name="71c012c6-bb1f-43c1-9bfe-91e376a48ec8map">
				  		<area shape="rect" coords="1246,378,1512,520" href="../elements/ce968246-fc4f-4d58-901a-c2ebb6601b71.html"  target="element">
				  		<area shape="rect" coords="1246,182,1512,324" href="../elements/ec89f22f-8357-4a90-bb3b-773933a8101f.html"  target="element">
				  				<area shape="rect" coords="788,788,1054,930" href="../elements/88d12370-0827-4c9b-b8ca-697d24018fe3.html"  target="element">
				  				<area shape="rect" coords="500,788,766,930" href="../elements/62ea9dc9-421a-41d8-8f92-db8282deef3d.html"  target="element">
				  				<area shape="rect" coords="788,620,1054,762" href="../elements/83ba1ee0-d44b-4a02-8235-90f038a71dc2.html"  target="element">
				  				<area shape="rect" coords="500,620,766,762" href="../elements/6b2528c9-0da6-4bd6-a2d6-3de592cfe029.html"  target="element">
				  				<area shape="rect" coords="788,452,1054,594" href="../elements/e36df569-ee59-4be1-aa0e-39c0683388e1.html"  target="element">
				  				<area shape="rect" coords="500,452,766,594" href="../elements/60db165f-0731-4d9c-9041-736c55112c56.html"  target="element">
				  				<area shape="rect" coords="788,284,1054,426" href="../elements/f5c70b4a-96ea-4690-9703-306e34991104.html"  target="element">
				  				<area shape="rect" coords="500,284,766,426" href="../elements/80a763f9-2bf0-4d2c-a279-68a2cbbf5bfb.html"  target="element">
				  				<area shape="rect" coords="788,116,1054,258" href="../elements/d4ec7576-3f6b-4171-b150-8b943cd97248.html"  target="element">
				  				<area shape="rect" coords="500,116,766,258" href="../elements/13cb96ad-781f-42b4-9de4-756c2da6bb65.html"  target="element">

				  		<area shape="rect" coords="452,20,1102,1006" href="../elements/01d83735-595d-4f7b-8b29-594326bee620.html"  target="element">
				  		<area shape="rect" coords="20,356,286,498" href="../elements/4415a4b4-e6f1-4dd3-ae51-3500f73d4af1.html"  target="element">
				  		<area shape="rect" coords="20,864,286,1006" href="../elements/161a5402-9166-4659-bf2b-70128a0b78b8.html"  target="element">
				  		<area shape="rect" coords="20,692,286,834" href="../elements/a7a6a352-6ab5-4cb0-a223-26768ba3ce86.html"  target="element">
				  		<area shape="rect" coords="20,524,286,666" href="../elements/6322fb3a-788a-4430-8269-611c90cb7c36.html"  target="element">
				  		<area shape="rect" coords="20,188,286,330" href="../elements/9cd4b98b-c59d-4b32-8b16-b3eb89a5b84b.html"  target="element">
				  		<area shape="rect" coords="20,20,286,162" href="../elements/5c8b6006-4da2-4df1-ad20-c2d04c706e64.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Dataintegrasjon og interoperabilitet (DMBOK2)</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap">nab_arkitekturlandskap_segmentarkitektur_datadeling</td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/5c8b6006-4da2-4df1-ad20-c2d04c706e64.html" target="element"> Dataarkitektur </a> </td>
											    <td> <a href="../elements/5c8b6006-4da2-4df1-ad20-c2d04c706e64.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9cd4b98b-c59d-4b32-8b16-b3eb89a5b84b.html" target="element"> Datamodellering </a> </td>
											    <td> <a href="../elements/9cd4b98b-c59d-4b32-8b16-b3eb89a5b84b.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6322fb3a-788a-4430-8269-611c90cb7c36.html" target="element"> Datasikkerhet </a> </td>
											    <td> <a href="../elements/6322fb3a-788a-4430-8269-611c90cb7c36.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a7a6a352-6ab5-4cb0-a223-26768ba3ce86.html" target="element"> Metadataforvaltning </a> </td>
											    <td> <a href="../elements/a7a6a352-6ab5-4cb0-a223-26768ba3ce86.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/161a5402-9166-4659-bf2b-70128a0b78b8.html" target="element"> Datastyring </a> </td>
											    <td> <a href="../elements/161a5402-9166-4659-bf2b-70128a0b78b8.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4415a4b4-e6f1-4dd3-ae51-3500f73d4af1.html" target="element"> Datalagring og livssyklus-administrasjon </a> </td>
											    <td> <a href="../elements/4415a4b4-e6f1-4dd3-ae51-3500f73d4af1.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/01d83735-595d-4f7b-8b29-594326bee620.html" target="element"> Datadeling og integrasjon </a> </td>
											    <td> <a href="../elements/01d83735-595d-4f7b-8b29-594326bee620.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/13cb96ad-781f-42b4-9de4-756c2da6bb65.html" target="element"> Migrere og konvertere data </a> </td>
													    <td> <a href="../elements/13cb96ad-781f-42b4-9de4-756c2da6bb65.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d4ec7576-3f6b-4171-b150-8b943cd97248.html" target="element"> Konsolidere data i datalagre </a> </td>
													    <td> <a href="../elements/d4ec7576-3f6b-4171-b150-8b943cd97248.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/80a763f9-2bf0-4d2c-a279-68a2cbbf5bfb.html" target="element"> Integrere innkj&#248;pte systemer i applikasjonsportef&#248;ljen </a> </td>
													    <td> <a href="../elements/80a763f9-2bf0-4d2c-a279-68a2cbbf5bfb.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f5c70b4a-96ea-4690-9703-306e34991104.html" target="element"> Dele data p&#229; tvers av applikasjoner og organisasjoner </a> </td>
													    <td> <a href="../elements/f5c70b4a-96ea-4690-9703-306e34991104.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/60db165f-0731-4d9c-9041-736c55112c56.html" target="element"> Distribuere data mellom datalagre </a> </td>
													    <td> <a href="../elements/60db165f-0731-4d9c-9041-736c55112c56.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e36df569-ee59-4be1-aa0e-39c0683388e1.html" target="element"> Arkivere data </a> </td>
													    <td> <a href="../elements/e36df569-ee59-4be1-aa0e-39c0683388e1.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6b2528c9-0da6-4bd6-a2d6-3de592cfe029.html" target="element"> Forvalte datagrensesnitt </a> </td>
													    <td> <a href="../elements/6b2528c9-0da6-4bd6-a2d6-3de592cfe029.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/83ba1ee0-d44b-4a02-8235-90f038a71dc2.html" target="element"> F&#229; tilgang til og innhente eksterne data </a> </td>
													    <td> <a href="../elements/83ba1ee0-d44b-4a02-8235-90f038a71dc2.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/62ea9dc9-421a-41d8-8f92-db8282deef3d.html" target="element"> Integrere strukturerte og ustrukturerte data </a> </td>
													    <td> <a href="../elements/62ea9dc9-421a-41d8-8f92-db8282deef3d.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/88d12370-0827-4c9b-b8ca-697d24018fe3.html" target="element"> Gi operativ st&#248;tte for dataanalyse </a> </td>
													    <td> <a href="../elements/88d12370-0827-4c9b-b8ca-697d24018fe3.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/ec89f22f-8357-4a90-bb3b-773933a8101f.html" target="element"> Forvaltning av analysedata </a> </td>
											    <td> <a href="../elements/ec89f22f-8357-4a90-bb3b-773933a8101f.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ce968246-fc4f-4d58-901a-c2ebb6601b71.html" target="element"> Masterdataforvaltning </a> </td>
											    <td> <a href="../elements/ce968246-fc4f-4d58-901a-c2ebb6601b71.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/42fa60cb-9443-4bd6-ad34-081ecabc9b21.html" target="element">  </a> </td>
																		<td> <a href="../elements/42fa60cb-9443-4bd6-ad34-081ecabc9b21.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/5c8b6006-4da2-4df1-ad20-c2d04c706e64.html" target="element"> Dataarkitektur </a> </td>
																		<td> <a href="../elements/01d83735-595d-4f7b-8b29-594326bee620.html" target="element"> Datadeling og integrasjon </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/22458b0b-19fd-4581-ba8f-a68bdc9bf1a7.html" target="element">  </a> </td>
																		<td> <a href="../elements/22458b0b-19fd-4581-ba8f-a68bdc9bf1a7.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/9cd4b98b-c59d-4b32-8b16-b3eb89a5b84b.html" target="element"> Datamodellering </a> </td>
																		<td> <a href="../elements/01d83735-595d-4f7b-8b29-594326bee620.html" target="element"> Datadeling og integrasjon </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/36b6f128-d7e1-4bbe-ab74-225d96532ed3.html" target="element">  </a> </td>
																		<td> <a href="../elements/36b6f128-d7e1-4bbe-ab74-225d96532ed3.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6322fb3a-788a-4430-8269-611c90cb7c36.html" target="element"> Datasikkerhet </a> </td>
																		<td> <a href="../elements/01d83735-595d-4f7b-8b29-594326bee620.html" target="element"> Datadeling og integrasjon </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2b83afbd-66cb-4dd7-bc30-a2e909e3d3c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/2b83afbd-66cb-4dd7-bc30-a2e909e3d3c3.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/a7a6a352-6ab5-4cb0-a223-26768ba3ce86.html" target="element"> Metadataforvaltning </a> </td>
																		<td> <a href="../elements/01d83735-595d-4f7b-8b29-594326bee620.html" target="element"> Datadeling og integrasjon </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/abcf8b42-f53b-4e29-a210-f648aa36cbe5.html" target="element">  </a> </td>
																		<td> <a href="../elements/abcf8b42-f53b-4e29-a210-f648aa36cbe5.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/161a5402-9166-4659-bf2b-70128a0b78b8.html" target="element"> Datastyring </a> </td>
																		<td> <a href="../elements/01d83735-595d-4f7b-8b29-594326bee620.html" target="element"> Datadeling og integrasjon </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5596b394-e102-4c7d-825f-7639f05647e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/5596b394-e102-4c7d-825f-7639f05647e5.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/4415a4b4-e6f1-4dd3-ae51-3500f73d4af1.html" target="element"> Datalagring og livssyklus-administrasjon </a> </td>
																		<td> <a href="../elements/01d83735-595d-4f7b-8b29-594326bee620.html" target="element"> Datadeling og integrasjon </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5f0d4b9c-4c41-43bf-9873-6b8157519321.html" target="element">  </a> </td>
																		<td> <a href="../elements/5f0d4b9c-4c41-43bf-9873-6b8157519321.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/01d83735-595d-4f7b-8b29-594326bee620.html" target="element"> Datadeling og integrasjon </a> </td>
																		<td> <a href="../elements/ce968246-fc4f-4d58-901a-c2ebb6601b71.html" target="element"> Masterdataforvaltning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4adfac35-02a2-4a3d-85c0-b6410e60a68b.html" target="element">  </a> </td>
																		<td> <a href="../elements/4adfac35-02a2-4a3d-85c0-b6410e60a68b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/01d83735-595d-4f7b-8b29-594326bee620.html" target="element"> Datadeling og integrasjon </a> </td>
																		<td> <a href="../elements/f5c70b4a-96ea-4690-9703-306e34991104.html" target="element"> Dele data p&#229; tvers av applikasjoner og organisasjoner </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c3c92b83-84aa-4f81-b903-419fc715b66b.html" target="element">  </a> </td>
																		<td> <a href="../elements/c3c92b83-84aa-4f81-b903-419fc715b66b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/01d83735-595d-4f7b-8b29-594326bee620.html" target="element"> Datadeling og integrasjon </a> </td>
																		<td> <a href="../elements/13cb96ad-781f-42b4-9de4-756c2da6bb65.html" target="element"> Migrere og konvertere data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a415bb57-8c32-4d1e-9683-8b0d988ffa14.html" target="element">  </a> </td>
																		<td> <a href="../elements/a415bb57-8c32-4d1e-9683-8b0d988ffa14.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/01d83735-595d-4f7b-8b29-594326bee620.html" target="element"> Datadeling og integrasjon </a> </td>
																		<td> <a href="../elements/80a763f9-2bf0-4d2c-a279-68a2cbbf5bfb.html" target="element"> Integrere innkj&#248;pte systemer i applikasjonsportef&#248;ljen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3bf71fcd-6123-4eb0-a89d-7e45c4286fb8.html" target="element">  </a> </td>
																		<td> <a href="../elements/3bf71fcd-6123-4eb0-a89d-7e45c4286fb8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/01d83735-595d-4f7b-8b29-594326bee620.html" target="element"> Datadeling og integrasjon </a> </td>
																		<td> <a href="../elements/6b2528c9-0da6-4bd6-a2d6-3de592cfe029.html" target="element"> Forvalte datagrensesnitt </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f4843fb9-f0ad-4a3f-8754-c33828028305.html" target="element">  </a> </td>
																		<td> <a href="../elements/f4843fb9-f0ad-4a3f-8754-c33828028305.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/01d83735-595d-4f7b-8b29-594326bee620.html" target="element"> Datadeling og integrasjon </a> </td>
																		<td> <a href="../elements/88d12370-0827-4c9b-b8ca-697d24018fe3.html" target="element"> Gi operativ st&#248;tte for dataanalyse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/02ea1857-f9bd-4a69-844a-b451e7b4f9d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/02ea1857-f9bd-4a69-844a-b451e7b4f9d8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/01d83735-595d-4f7b-8b29-594326bee620.html" target="element"> Datadeling og integrasjon </a> </td>
																		<td> <a href="../elements/d4ec7576-3f6b-4171-b150-8b943cd97248.html" target="element"> Konsolidere data i datalagre </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1479dd12-8cec-4676-9051-021419b27e5b.html" target="element">  </a> </td>
																		<td> <a href="../elements/1479dd12-8cec-4676-9051-021419b27e5b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/01d83735-595d-4f7b-8b29-594326bee620.html" target="element"> Datadeling og integrasjon </a> </td>
																		<td> <a href="../elements/83ba1ee0-d44b-4a02-8235-90f038a71dc2.html" target="element"> F&#229; tilgang til og innhente eksterne data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5ad0bca9-ef9f-4445-8968-7750100f6110.html" target="element">  </a> </td>
																		<td> <a href="../elements/5ad0bca9-ef9f-4445-8968-7750100f6110.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/01d83735-595d-4f7b-8b29-594326bee620.html" target="element"> Datadeling og integrasjon </a> </td>
																		<td> <a href="../elements/e36df569-ee59-4be1-aa0e-39c0683388e1.html" target="element"> Arkivere data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/37b270ab-5224-4744-87e3-17828076db3a.html" target="element">  </a> </td>
																		<td> <a href="../elements/37b270ab-5224-4744-87e3-17828076db3a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/01d83735-595d-4f7b-8b29-594326bee620.html" target="element"> Datadeling og integrasjon </a> </td>
																		<td> <a href="../elements/62ea9dc9-421a-41d8-8f92-db8282deef3d.html" target="element"> Integrere strukturerte og ustrukturerte data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d22d22d2-af56-40ff-8bf5-3b05abf11f4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/d22d22d2-af56-40ff-8bf5-3b05abf11f4e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/01d83735-595d-4f7b-8b29-594326bee620.html" target="element"> Datadeling og integrasjon </a> </td>
																		<td> <a href="../elements/60db165f-0731-4d9c-9041-736c55112c56.html" target="element"> Distribuere data mellom datalagre </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6a42d8a3-c51c-4cdc-b00a-013e7b6831c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/6a42d8a3-c51c-4cdc-b00a-013e7b6831c6.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/01d83735-595d-4f7b-8b29-594326bee620.html" target="element"> Datadeling og integrasjon </a> </td>
																		<td> <a href="../elements/ec89f22f-8357-4a90-bb3b-773933a8101f.html" target="element"> Forvaltning av analysedata </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>