<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Innhent data, detaljert verdistrøm konsument med kapabiliteter</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Innhent data, detaljert verdistr&#248;m konsument med kapabiliteter</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/839c86c1-602d-47f5-a3ce-bbf0a87f559a.png" alt="Innhent data, detaljert verdistrøm konsument med kapabiliteter" usemap="#839c86c1-602d-47f5-a3ce-bbf0a87f559amap"/>
			   <map name="839c86c1-602d-47f5-a3ce-bbf0a87f559amap">
				  		<area shape="rect" coords="1628,740,1894,882" href="../elements/7960fb04-73cc-4b53-ba99-17e9c72e1f9d.html"  target="element">
				  		<area shape="rect" coords="1292,740,1558,882" href="../elements/b9d006a1-5a14-4707-bcd0-7163a38afc3d.html"  target="element">
				  		<area shape="rect" coords="956,740,1222,882" href="../elements/85f1ecd0-4e22-4e5a-8834-c49a2e1e9d83.html"  target="element">
				  		<area shape="rect" coords="620,932,886,1074" href="../elements/038de522-d7f1-488e-a8b9-37e4dc11d480.html"  target="element">
				  		<area shape="rect" coords="1964,548,2230,690" href="../elements/597642e3-3452-437d-b096-b98ecef6a567.html"  target="element">
				  						<area shape="rect" coords="284,188,550,330" href="../elements/178ac47e-a90a-464a-b5ab-bcd8b32711f0.html"  target="element">
				  						<area shape="rect" coords="1964,188,2230,330" href="../elements/5a3db269-e5b3-446a-b4e1-3bb1486238ea.html"  target="element">
				  						<area shape="rect" coords="1292,188,1558,330" href="../elements/81b892ad-996b-457b-996b-61a703e00163.html"  target="element">
				  						<area shape="rect" coords="1628,188,1894,330" href="../elements/b4a85e18-c56e-4b50-8668-143456431d30.html"  target="element">
				  						<area shape="rect" coords="956,188,1232,330" href="../elements/8e0eaa98-6e80-48db-8fd4-082d3d76657b.html"  target="element">
				  						<area shape="rect" coords="620,188,896,330" href="../elements/d233406e-155a-486f-85bf-b90532646809.html"  target="element">

				  				<area shape="rect" coords="116,92,2326,430" href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html"  target="element">

				  		<area shape="rect" coords="20,20,2398,454" href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html"  target="element">
				  		<area shape="rect" coords="1628,548,1894,690" href="../elements/26d9669d-a340-4c33-bbdd-389ab6e0a69e.html"  target="element">
				  		<area shape="rect" coords="1292,548,1558,690" href="../elements/59c87cbd-2bc6-4236-a27d-cfbc39d35681.html"  target="element">
				  		<area shape="rect" coords="620,740,886,882" href="../elements/ab93583a-ef69-41c7-ab42-7a682d4461b4.html"  target="element">
				  		<area shape="rect" coords="620,548,886,690" href="../elements/03d3e6c1-389a-4003-9b64-82be1e33d1ec.html"  target="element">
				  		<area shape="rect" coords="956,548,1222,690" href="../elements/eb5efb61-ddbf-45d0-9cef-b70f50ad7e61.html"  target="element">
				  		<area shape="rect" coords="284,548,550,690" href="../elements/fec56271-9427-4f7a-a3e8-32f81372b52c.html"  target="element">
				  		<area shape="rect" coords="260,476,574,1126" href="../elements/ea8f2b6a-4480-4520-bc7f-5f28bf0a94c5.html"  target="element">
				  		<area shape="rect" coords="596,474,910,1128" href="../elements/458a4437-7b02-4e55-badc-793c3a515db0.html"  target="element">
				  		<area shape="rect" coords="932,474,1246,1128" href="../elements/8f13358f-58ea-43ba-bda8-adfabec206e6.html"  target="element">
				  		<area shape="rect" coords="1268,474,1582,1128" href="../elements/19467f5c-7ac0-4c21-8113-227555f80f21.html"  target="element">
				  		<area shape="rect" coords="1604,474,1918,1128" href="../elements/a6b12962-4a7e-4a72-8898-1653b8e2d1b5.html"  target="element">
				  		<area shape="rect" coords="1940,474,2254,1128" href="../elements/3bc16b92-6de1-432b-86fd-063db1f51960.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">

</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Innhent data, detaljert verdistr&#248;m konsument med kapabiliteter</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">

								</td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/3bc16b92-6de1-432b-86fd-063db1f51960.html" target="element">  </a> </td>
											    <td> <a href="../elements/3bc16b92-6de1-432b-86fd-063db1f51960.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a6b12962-4a7e-4a72-8898-1653b8e2d1b5.html" target="element">  </a> </td>
											    <td> <a href="../elements/a6b12962-4a7e-4a72-8898-1653b8e2d1b5.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/19467f5c-7ac0-4c21-8113-227555f80f21.html" target="element">  </a> </td>
											    <td> <a href="../elements/19467f5c-7ac0-4c21-8113-227555f80f21.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8f13358f-58ea-43ba-bda8-adfabec206e6.html" target="element">  </a> </td>
											    <td> <a href="../elements/8f13358f-58ea-43ba-bda8-adfabec206e6.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/458a4437-7b02-4e55-badc-793c3a515db0.html" target="element">  </a> </td>
											    <td> <a href="../elements/458a4437-7b02-4e55-badc-793c3a515db0.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ea8f2b6a-4480-4520-bc7f-5f28bf0a94c5.html" target="element">  </a> </td>
											    <td> <a href="../elements/ea8f2b6a-4480-4520-bc7f-5f28bf0a94c5.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fec56271-9427-4f7a-a3e8-32f81372b52c.html" target="element"> Evnen til &#229; se hvilke data som konsument har behov for </a> </td>
											    <td> <a href="../elements/fec56271-9427-4f7a-a3e8-32f81372b52c.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/eb5efb61-ddbf-45d0-9cef-b70f50ad7e61.html" target="element"> Evnen til &#229; be om tilgang til data </a> </td>
											    <td> <a href="../elements/eb5efb61-ddbf-45d0-9cef-b70f50ad7e61.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/03d3e6c1-389a-4003-9b64-82be1e33d1ec.html" target="element"> Evnen til &#229; finne frem til data blant tilbyders datakataloger og lignende </a> </td>
											    <td> <a href="../elements/03d3e6c1-389a-4003-9b64-82be1e33d1ec.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ab93583a-ef69-41c7-ab42-7a682d4461b4.html" target="element"> Evnen til &#229; vurdere om tilbyder kan dele etterspurte data  </a> </td>
											    <td> <a href="../elements/ab93583a-ef69-41c7-ab42-7a682d4461b4.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/59c87cbd-2bc6-4236-a27d-cfbc39d35681.html" target="element"> Evnen til &#229; utvikle IT l&#248;sninger for &#229; motta data  </a> </td>
											    <td> <a href="../elements/59c87cbd-2bc6-4236-a27d-cfbc39d35681.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/26d9669d-a340-4c33-bbdd-389ab6e0a69e.html" target="element"> Evnen til &#229; innhente og bruke &#229;pne data </a> </td>
											    <td> <a href="../elements/26d9669d-a340-4c33-bbdd-389ab6e0a69e.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
											    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html" target="element"> Innhent data </a> </td>
													    <td> <a href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/d233406e-155a-486f-85bf-b90532646809.html" target="element"> Oppdag data og datakilder </a> </td>
															    <td> <a href="../elements/d233406e-155a-486f-85bf-b90532646809.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/8e0eaa98-6e80-48db-8fd4-082d3d76657b.html" target="element"> Be  om tilganger og abonnementer </a> </td>
															    <td> <a href="../elements/8e0eaa98-6e80-48db-8fd4-082d3d76657b.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/b4a85e18-c56e-4b50-8668-143456431d30.html" target="element"> Foresp&#248;r og motta data </a> </td>
															    <td> <a href="../elements/b4a85e18-c56e-4b50-8668-143456431d30.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/81b892ad-996b-457b-996b-61a703e00163.html" target="element"> Etabler avtaler og l&#248;sninger for datainnhenting </a> </td>
															    <td> <a href="../elements/81b892ad-996b-457b-996b-61a703e00163.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/5a3db269-e5b3-446a-b4e1-3bb1486238ea.html" target="element"> Forvalt og forbedre opplegg for innhenting av data </a> </td>
															    <td> <a href="../elements/5a3db269-e5b3-446a-b4e1-3bb1486238ea.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/178ac47e-a90a-464a-b5ab-bcd8b32711f0.html" target="element"> Ta rede p&#229; behov for innhenting av data </a> </td>
															    <td> <a href="../elements/178ac47e-a90a-464a-b5ab-bcd8b32711f0.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/597642e3-3452-437d-b096-b98ecef6a567.html" target="element"> Evnen til &#229; gi tilbyder tilbakemelding </a> </td>
											    <td> <a href="../elements/597642e3-3452-437d-b096-b98ecef6a567.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/038de522-d7f1-488e-a8b9-37e4dc11d480.html" target="element"> Evnen til &#229; vurdere om etterspurte data er tilgjengeliggjort som &#8216;&#197;pne data&#8217; </a> </td>
											    <td> <a href="../elements/038de522-d7f1-488e-a8b9-37e4dc11d480.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/85f1ecd0-4e22-4e5a-8834-c49a2e1e9d83.html" target="element"> Evnen til &#229; dokumentere behandlingsgrunnlag  </a> </td>
											    <td> <a href="../elements/85f1ecd0-4e22-4e5a-8834-c49a2e1e9d83.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b9d006a1-5a14-4707-bcd0-7163a38afc3d.html" target="element"> Evnen til &#229; inng&#229; avtaler </a> </td>
											    <td> <a href="../elements/b9d006a1-5a14-4707-bcd0-7163a38afc3d.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7960fb04-73cc-4b53-ba99-17e9c72e1f9d.html" target="element"> Evnen til &#229; motta data etter henvendelse til datatilbyder </a> </td>
											    <td> <a href="../elements/7960fb04-73cc-4b53-ba99-17e9c72e1f9d.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/b4eccf6f-5541-4f49-a0f8-05ee5c4efe0e.html" target="element">  </a> </td>
																		<td> <a href="../elements/b4eccf6f-5541-4f49-a0f8-05ee5c4efe0e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/3bc16b92-6de1-432b-86fd-063db1f51960.html" target="element">  </a> </td>
																		<td> <a href="../elements/5a3db269-e5b3-446a-b4e1-3bb1486238ea.html" target="element"> Forvalt og forbedre opplegg for innhenting av data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/31d057eb-b6ea-44a5-999d-c0dba687faf4.html" target="element">  </a> </td>
																		<td> <a href="../elements/31d057eb-b6ea-44a5-999d-c0dba687faf4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																		<td> <a href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html" target="element"> Innhent data </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/c28c27be-b884-476a-b812-3f1d1c256fa2.html" target="element">  </a> </td>
																				<td> <a href="../elements/c28c27be-b884-476a-b812-3f1d1c256fa2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html" target="element"> Innhent data </a> </td>
																				<td> <a href="../elements/178ac47e-a90a-464a-b5ab-bcd8b32711f0.html" target="element"> Ta rede p&#229; behov for innhenting av data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9407a917-2180-4463-8475-e12f356bf60b.html" target="element">  </a> </td>
																				<td> <a href="../elements/9407a917-2180-4463-8475-e12f356bf60b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html" target="element"> Innhent data </a> </td>
																				<td> <a href="../elements/b4a85e18-c56e-4b50-8668-143456431d30.html" target="element"> Foresp&#248;r og motta data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/2bd5a3d4-9b27-44b2-b3c7-726a60ebd543.html" target="element">  </a> </td>
																				<td> <a href="../elements/2bd5a3d4-9b27-44b2-b3c7-726a60ebd543.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html" target="element"> Innhent data </a> </td>
																				<td> <a href="../elements/d233406e-155a-486f-85bf-b90532646809.html" target="element"> Oppdag data og datakilder </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/4700a929-12f0-4bdd-b5fc-a4f5e2b7e2eb.html" target="element">  </a> </td>
																				<td> <a href="../elements/4700a929-12f0-4bdd-b5fc-a4f5e2b7e2eb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html" target="element"> Innhent data </a> </td>
																				<td> <a href="../elements/5a3db269-e5b3-446a-b4e1-3bb1486238ea.html" target="element"> Forvalt og forbedre opplegg for innhenting av data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f485bfd5-17b9-4a6a-9c4a-8b0ae626e267.html" target="element">  </a> </td>
																				<td> <a href="../elements/f485bfd5-17b9-4a6a-9c4a-8b0ae626e267.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html" target="element"> Innhent data </a> </td>
																				<td> <a href="../elements/8e0eaa98-6e80-48db-8fd4-082d3d76657b.html" target="element"> Be  om tilganger og abonnementer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e8c00e67-9a01-494e-9111-82549d01b509.html" target="element">  </a> </td>
																				<td> <a href="../elements/e8c00e67-9a01-494e-9111-82549d01b509.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html" target="element"> Innhent data </a> </td>
																				<td> <a href="../elements/81b892ad-996b-457b-996b-61a703e00163.html" target="element"> Etabler avtaler og l&#248;sninger for datainnhenting </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/a6fa1ecc-3ede-4446-b462-9fb17577223c.html" target="element">  </a> </td>
																						<td> <a href="../elements/a6fa1ecc-3ede-4446-b462-9fb17577223c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/d233406e-155a-486f-85bf-b90532646809.html" target="element"> Oppdag data og datakilder </a> </td>
																						<td> <a href="../elements/458a4437-7b02-4e55-badc-793c3a515db0.html" target="element">  </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/7b24449b-0612-4fb3-9c3c-abb989dc8207.html" target="element"> &#229;pne data og standardl&#248;sninger </a> </td>
																						<td> <a href="../elements/7b24449b-0612-4fb3-9c3c-abb989dc8207.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/d233406e-155a-486f-85bf-b90532646809.html" target="element"> Oppdag data og datakilder </a> </td>
																						<td> <a href="../elements/b4a85e18-c56e-4b50-8668-143456431d30.html" target="element"> Foresp&#248;r og motta data </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/fb2d8d8a-5686-466a-897a-d67d1cca4906.html" target="element">  </a> </td>
																						<td> <a href="../elements/fb2d8d8a-5686-466a-897a-d67d1cca4906.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/d233406e-155a-486f-85bf-b90532646809.html" target="element"> Oppdag data og datakilder </a> </td>
																						<td> <a href="../elements/8e0eaa98-6e80-48db-8fd4-082d3d76657b.html" target="element"> Be  om tilganger og abonnementer </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/2fa10d95-93a2-44e1-9be6-bd0e92402182.html" target="element">  </a> </td>
																						<td> <a href="../elements/2fa10d95-93a2-44e1-9be6-bd0e92402182.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/8e0eaa98-6e80-48db-8fd4-082d3d76657b.html" target="element"> Be  om tilganger og abonnementer </a> </td>
																						<td> <a href="../elements/8f13358f-58ea-43ba-bda8-adfabec206e6.html" target="element">  </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/c3bdf6d4-26d8-4fc0-bc47-b9d6049e25c3.html" target="element">  </a> </td>
																						<td> <a href="../elements/c3bdf6d4-26d8-4fc0-bc47-b9d6049e25c3.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/8e0eaa98-6e80-48db-8fd4-082d3d76657b.html" target="element"> Be  om tilganger og abonnementer </a> </td>
																						<td> <a href="../elements/81b892ad-996b-457b-996b-61a703e00163.html" target="element"> Etabler avtaler og l&#248;sninger for datainnhenting </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/3ad8c37d-2b97-439a-8f73-4ac3c85966fb.html" target="element">  </a> </td>
																						<td> <a href="../elements/3ad8c37d-2b97-439a-8f73-4ac3c85966fb.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/b4a85e18-c56e-4b50-8668-143456431d30.html" target="element"> Foresp&#248;r og motta data </a> </td>
																						<td> <a href="../elements/5a3db269-e5b3-446a-b4e1-3bb1486238ea.html" target="element"> Forvalt og forbedre opplegg for innhenting av data </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/7d55aab5-f15a-4e48-a1af-25227459070b.html" target="element">  </a> </td>
																						<td> <a href="../elements/7d55aab5-f15a-4e48-a1af-25227459070b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/b4a85e18-c56e-4b50-8668-143456431d30.html" target="element"> Foresp&#248;r og motta data </a> </td>
																						<td> <a href="../elements/a6b12962-4a7e-4a72-8898-1653b8e2d1b5.html" target="element">  </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/0895d2e9-7391-42c0-8a9c-64f62c78518f.html" target="element">  </a> </td>
																						<td> <a href="../elements/0895d2e9-7391-42c0-8a9c-64f62c78518f.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/81b892ad-996b-457b-996b-61a703e00163.html" target="element"> Etabler avtaler og l&#248;sninger for datainnhenting </a> </td>
																						<td> <a href="../elements/b4a85e18-c56e-4b50-8668-143456431d30.html" target="element"> Foresp&#248;r og motta data </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/0b191e64-ab00-4476-bc8e-c620368ecf27.html" target="element">  </a> </td>
																						<td> <a href="../elements/0b191e64-ab00-4476-bc8e-c620368ecf27.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/81b892ad-996b-457b-996b-61a703e00163.html" target="element"> Etabler avtaler og l&#248;sninger for datainnhenting </a> </td>
																						<td> <a href="../elements/19467f5c-7ac0-4c21-8113-227555f80f21.html" target="element">  </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/afb22e14-6cb2-45bb-8615-c6bef4ebeab9.html" target="element">  </a> </td>
																						<td> <a href="../elements/afb22e14-6cb2-45bb-8615-c6bef4ebeab9.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/178ac47e-a90a-464a-b5ab-bcd8b32711f0.html" target="element"> Ta rede p&#229; behov for innhenting av data </a> </td>
																						<td> <a href="../elements/ea8f2b6a-4480-4520-bc7f-5f28bf0a94c5.html" target="element">  </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/7389df5f-378e-4350-ac95-e80a63b77fba.html" target="element">  </a> </td>
																						<td> <a href="../elements/7389df5f-378e-4350-ac95-e80a63b77fba.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/178ac47e-a90a-464a-b5ab-bcd8b32711f0.html" target="element"> Ta rede p&#229; behov for innhenting av data </a> </td>
																						<td> <a href="../elements/d233406e-155a-486f-85bf-b90532646809.html" target="element"> Oppdag data og datakilder </a> </td>
																					</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>