<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TOOPRA capabilities</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TOOPRA capabilities</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/8ad7989a-0a1d-4279-99ff-5722de46f261.png" alt="TOOPRA capabilities" usemap="#8ad7989a-0a1d-4279-99ff-5722de46f261map"/>
			   <map name="8ad7989a-0a1d-4279-99ff-5722de46f261map">
				  						<area shape="rect" coords="116,668,382,810" href="../elements/eab9c44a-a261-41ef-8f3f-ebff2d3f0ef8.html"  target="element">
				  						<area shape="rect" coords="116,836,382,978" href="../elements/a0026a12-17ba-45b4-9742-cd28c5505d55.html"  target="element">
				  						<area shape="rect" coords="116,500,382,642" href="../elements/752678dc-d0fa-4c05-babb-1165fbe23c19.html"  target="element">

				  				<area shape="rect" coords="68,428,430,1006" href="../elements/11431a82-e023-4fb3-ba79-4b92639d9b56.html"  target="element">
				  						<area shape="rect" coords="524,1124,790,1266" href="../elements/e7dfc377-1372-4126-866d-fd9415525b86.html"  target="element">
				  						<area shape="rect" coords="524,956,790,1098" href="../elements/10f46c31-0a67-49e3-b5f9-9b387545718f.html"  target="element">

				  				<area shape="rect" coords="476,884,838,1290" href="../elements/d4fe2a4a-64a5-42d3-9daf-449a9725ea15.html"  target="element">
				  						<area shape="rect" coords="524,500,790,642" href="../elements/9b0df59f-d56c-4b92-a5ba-d39fce71c6c7.html"  target="element">
				  						<area shape="rect" coords="524,668,790,810" href="../elements/6e59cd0b-2a07-41fc-9c9d-9125a0f8ca35.html"  target="element">

				  				<area shape="rect" coords="476,428,838,838" href="../elements/1780298a-8871-4b1b-a5ea-2a14e879b26b.html"  target="element">
				  				<area shape="rect" coords="116,1052,382,1194" href="../elements/27e2e5df-7416-488d-8553-d0c859ff3b8d.html"  target="element">

				  		<area shape="rect" coords="20,332,886,1390" href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html"  target="element">
				  						<area shape="rect" coords="1028,836,1294,978" href="../elements/a5ae2d56-f4d3-457a-9b3e-599d78171769.html"  target="element">
				  						<area shape="rect" coords="1028,668,1294,810" href="../elements/6c604d7f-d1fe-4df8-98c6-a8cd683f3b6e.html"  target="element">
				  						<area shape="rect" coords="1028,1004,1294,1146" href="../elements/459a3fa4-a3b4-4c85-9927-3714ac07c2cb.html"  target="element">
				  						<area shape="rect" coords="1028,500,1294,642" href="../elements/1faadec0-1e96-4a0a-b206-0a87cc6fa5e0.html"  target="element">

				  				<area shape="rect" coords="980,428,1342,1174" href="../elements/2d73c189-c9bc-4080-a527-ab8a8119d81d.html"  target="element">
				  				<area shape="rect" coords="1028,1220,1294,1362" href="../elements/3fe6d3c2-200b-405a-a448-77f3efd60da8.html"  target="element">

				  		<area shape="rect" coords="932,332,1414,1390" href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html"  target="element">
				  				<area shape="rect" coords="764,116,1030,258" href="../elements/67ecc9df-0a19-43ed-bc49-7ed85fc2ae43.html"  target="element">
				  				<area shape="rect" coords="476,116,742,258" href="../elements/8d714f1b-c570-4a54-95e4-1f0e0c014ff7.html"  target="element">

				  		<area shape="rect" coords="452,20,1054,296" href="../elements/98fbe341-cf9d-43bc-9053-602b82f87c29.html"  target="element">
				  				<area shape="rect" coords="68,116,334,258" href="../elements/f1e27806-6e1e-46df-9f5c-c0800a57b58f.html"  target="element">

				  		<area shape="rect" coords="20,20,382,296" href="../elements/24dfe113-0a17-4cc2-a8df-d47a950bee72.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">TOOPRA capabilities</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/24dfe113-0a17-4cc2-a8df-d47a950bee72.html" target="element"> Identity Provider </a> </td>
											    <td> <a href="../elements/24dfe113-0a17-4cc2-a8df-d47a950bee72.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/f1e27806-6e1e-46df-9f5c-c0800a57b58f.html" target="element"> User Authentication </a> </td>
													    <td> <a href="../elements/f1e27806-6e1e-46df-9f5c-c0800a57b58f.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/98fbe341-cf9d-43bc-9053-602b82f87c29.html" target="element"> Identity Service broker </a> </td>
											    <td> <a href="../elements/98fbe341-cf9d-43bc-9053-602b82f87c29.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/8d714f1b-c570-4a54-95e4-1f0e0c014ff7.html" target="element"> Competent Authority Lookup </a> </td>
													    <td> <a href="../elements/8d714f1b-c570-4a54-95e4-1f0e0c014ff7.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/67ecc9df-0a19-43ed-bc49-7ed85fc2ae43.html" target="element"> Service Offering Management </a> </td>
													    <td> <a href="../elements/67ecc9df-0a19-43ed-bc49-7ed85fc2ae43.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
											    <td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/3fe6d3c2-200b-405a-a448-77f3efd60da8.html" target="element"> Service Offering Publication </a> </td>
													    <td> <a href="../elements/3fe6d3c2-200b-405a-a448-77f3efd60da8.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2d73c189-c9bc-4080-a527-ab8a8119d81d.html" target="element"> Evidence Provisioning </a> </td>
													    <td> <a href="../elements/2d73c189-c9bc-4080-a527-ab8a8119d81d.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/1faadec0-1e96-4a0a-b206-0a87cc6fa5e0.html" target="element"> Legal Control </a> </td>
															    <td> <a href="../elements/1faadec0-1e96-4a0a-b206-0a87cc6fa5e0.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/459a3fa4-a3b4-4c85-9927-3714ac07c2cb.html" target="element"> Evidence Transmission </a> </td>
															    <td> <a href="../elements/459a3fa4-a3b4-4c85-9927-3714ac07c2cb.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/6c604d7f-d1fe-4df8-98c6-a8cd683f3b6e.html" target="element"> User Authorization </a> </td>
															    <td> <a href="../elements/6c604d7f-d1fe-4df8-98c6-a8cd683f3b6e.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/a5ae2d56-f4d3-457a-9b3e-599d78171769.html" target="element"> Evidence Extraction </a> </td>
															    <td> <a href="../elements/a5ae2d56-f4d3-457a-9b3e-599d78171769.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
											    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/27e2e5df-7416-488d-8553-d0c859ff3b8d.html" target="element"> Evidence Processing </a> </td>
													    <td> <a href="../elements/27e2e5df-7416-488d-8553-d0c859ff3b8d.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1780298a-8871-4b1b-a5ea-2a14e879b26b.html" target="element"> Evidence Management </a> </td>
													    <td> <a href="../elements/1780298a-8871-4b1b-a5ea-2a14e879b26b.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/6e59cd0b-2a07-41fc-9c9d-9125a0f8ca35.html" target="element"> Evidence Interpretation </a> </td>
															    <td> <a href="../elements/6e59cd0b-2a07-41fc-9c9d-9125a0f8ca35.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/9b0df59f-d56c-4b92-a5ba-d39fce71c6c7.html" target="element"> Evidence Identification </a> </td>
															    <td> <a href="../elements/9b0df59f-d56c-4b92-a5ba-d39fce71c6c7.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/d4fe2a4a-64a5-42d3-9daf-449a9725ea15.html" target="element"> Evidence Retrieval </a> </td>
													    <td> <a href="../elements/d4fe2a4a-64a5-42d3-9daf-449a9725ea15.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/10f46c31-0a67-49e3-b5f9-9b387545718f.html" target="element"> Evidence Requesting </a> </td>
															    <td> <a href="../elements/10f46c31-0a67-49e3-b5f9-9b387545718f.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/e7dfc377-1372-4126-866d-fd9415525b86.html" target="element"> Evidence Provider Discovery </a> </td>
															    <td> <a href="../elements/e7dfc377-1372-4126-866d-fd9415525b86.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/11431a82-e023-4fb3-ba79-4b92639d9b56.html" target="element"> User Management </a> </td>
													    <td> <a href="../elements/11431a82-e023-4fb3-ba79-4b92639d9b56.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/752678dc-d0fa-4c05-babb-1165fbe23c19.html" target="element"> User Identification </a> </td>
															    <td> <a href="../elements/752678dc-d0fa-4c05-babb-1165fbe23c19.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/a0026a12-17ba-45b4-9742-cd28c5505d55.html" target="element"> User Approval  </a> </td>
															    <td> <a href="../elements/a0026a12-17ba-45b4-9742-cd28c5505d55.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/eab9c44a-a261-41ef-8f3f-ebff2d3f0ef8.html" target="element"> Consent Collection </a> </td>
															    <td> <a href="../elements/eab9c44a-a261-41ef-8f3f-ebff2d3f0ef8.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/8f8fd93c-f028-480d-bf8b-2e91db989350.html" target="element"> realization </a> </td>
																		<td> <a href="../elements/8f8fd93c-f028-480d-bf8b-2e91db989350.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/24dfe113-0a17-4cc2-a8df-d47a950bee72.html" target="element"> Identity Provider </a> </td>
																		<td> <a href="../elements/f1e27806-6e1e-46df-9f5c-c0800a57b58f.html" target="element"> User Authentication </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/5d923e50-8a64-4eed-9870-004a03069a8d.html" target="element"> realization </a> </td>
																		<td> <a href="../elements/5d923e50-8a64-4eed-9870-004a03069a8d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/98fbe341-cf9d-43bc-9053-602b82f87c29.html" target="element"> Identity Service broker </a> </td>
																		<td> <a href="../elements/67ecc9df-0a19-43ed-bc49-7ed85fc2ae43.html" target="element"> Service Offering Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9acb7b08-3273-4577-becd-af51f0399466.html" target="element"> realization </a> </td>
																		<td> <a href="../elements/9acb7b08-3273-4577-becd-af51f0399466.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/98fbe341-cf9d-43bc-9053-602b82f87c29.html" target="element"> Identity Service broker </a> </td>
																		<td> <a href="../elements/8d714f1b-c570-4a54-95e4-1f0e0c014ff7.html" target="element"> Competent Authority Lookup </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/fedc811e-f511-476b-90a3-33d011e8e81e.html" target="element"> realization </a> </td>
																		<td> <a href="../elements/fedc811e-f511-476b-90a3-33d011e8e81e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																		<td> <a href="../elements/2d73c189-c9bc-4080-a527-ab8a8119d81d.html" target="element"> Evidence Provisioning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9c93ea71-b73f-463a-b27a-a291cac923d5.html" target="element"> realization </a> </td>
																		<td> <a href="../elements/9c93ea71-b73f-463a-b27a-a291cac923d5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																		<td> <a href="../elements/3fe6d3c2-200b-405a-a448-77f3efd60da8.html" target="element"> Service Offering Publication </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/459c428c-77d2-44bd-add4-b97609991500.html" target="element"> composition </a> </td>
																				<td> <a href="../elements/459c428c-77d2-44bd-add4-b97609991500.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/2d73c189-c9bc-4080-a527-ab8a8119d81d.html" target="element"> Evidence Provisioning </a> </td>
																				<td> <a href="../elements/a5ae2d56-f4d3-457a-9b3e-599d78171769.html" target="element"> Evidence Extraction </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f9521937-f5e5-4329-af51-20caf8759c75.html" target="element"> composition </a> </td>
																				<td> <a href="../elements/f9521937-f5e5-4329-af51-20caf8759c75.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/2d73c189-c9bc-4080-a527-ab8a8119d81d.html" target="element"> Evidence Provisioning </a> </td>
																				<td> <a href="../elements/459a3fa4-a3b4-4c85-9927-3714ac07c2cb.html" target="element"> Evidence Transmission </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/85aa49a6-354a-4313-a0c8-7e21d715b40c.html" target="element"> composition </a> </td>
																				<td> <a href="../elements/85aa49a6-354a-4313-a0c8-7e21d715b40c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/2d73c189-c9bc-4080-a527-ab8a8119d81d.html" target="element"> Evidence Provisioning </a> </td>
																				<td> <a href="../elements/1faadec0-1e96-4a0a-b206-0a87cc6fa5e0.html" target="element"> Legal Control </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d45a0705-f2de-41fb-85d0-4a970e24fe07.html" target="element"> composition </a> </td>
																				<td> <a href="../elements/d45a0705-f2de-41fb-85d0-4a970e24fe07.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/2d73c189-c9bc-4080-a527-ab8a8119d81d.html" target="element"> Evidence Provisioning </a> </td>
																				<td> <a href="../elements/6c604d7f-d1fe-4df8-98c6-a8cd683f3b6e.html" target="element"> User Authorization </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/148d44be-f3e7-4117-80b4-77457ba05141.html" target="element"> realization </a> </td>
																		<td> <a href="../elements/148d44be-f3e7-4117-80b4-77457ba05141.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																		<td> <a href="../elements/1780298a-8871-4b1b-a5ea-2a14e879b26b.html" target="element"> Evidence Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/820cb524-c221-41fc-9a94-eb402d06769e.html" target="element"> realization </a> </td>
																		<td> <a href="../elements/820cb524-c221-41fc-9a94-eb402d06769e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																		<td> <a href="../elements/27e2e5df-7416-488d-8553-d0c859ff3b8d.html" target="element"> Evidence Processing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/05bfbcff-7ae0-4281-8524-a660ee476d5b.html" target="element"> realization </a> </td>
																		<td> <a href="../elements/05bfbcff-7ae0-4281-8524-a660ee476d5b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																		<td> <a href="../elements/11431a82-e023-4fb3-ba79-4b92639d9b56.html" target="element"> User Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/25443a41-2e52-4b3a-9b9b-9c7b69b619a6.html" target="element"> realization </a> </td>
																		<td> <a href="../elements/25443a41-2e52-4b3a-9b9b-9c7b69b619a6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																		<td> <a href="../elements/d4fe2a4a-64a5-42d3-9daf-449a9725ea15.html" target="element"> Evidence Retrieval </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/6e415141-2e38-4dcc-98e7-71f46a74b45e.html" target="element"> composition </a> </td>
																				<td> <a href="../elements/6e415141-2e38-4dcc-98e7-71f46a74b45e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/1780298a-8871-4b1b-a5ea-2a14e879b26b.html" target="element"> Evidence Management </a> </td>
																				<td> <a href="../elements/9b0df59f-d56c-4b92-a5ba-d39fce71c6c7.html" target="element"> Evidence Identification </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d9495394-b1c0-4c4f-901e-3672d33577ef.html" target="element"> composition </a> </td>
																				<td> <a href="../elements/d9495394-b1c0-4c4f-901e-3672d33577ef.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/1780298a-8871-4b1b-a5ea-2a14e879b26b.html" target="element"> Evidence Management </a> </td>
																				<td> <a href="../elements/6e59cd0b-2a07-41fc-9c9d-9125a0f8ca35.html" target="element"> Evidence Interpretation </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/967955a8-88fe-4d83-a928-1244c0da4874.html" target="element"> composition </a> </td>
																				<td> <a href="../elements/967955a8-88fe-4d83-a928-1244c0da4874.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/d4fe2a4a-64a5-42d3-9daf-449a9725ea15.html" target="element"> Evidence Retrieval </a> </td>
																				<td> <a href="../elements/e7dfc377-1372-4126-866d-fd9415525b86.html" target="element"> Evidence Provider Discovery </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/356ea1c6-6a19-47f4-bda0-84d430636284.html" target="element"> composition </a> </td>
																				<td> <a href="../elements/356ea1c6-6a19-47f4-bda0-84d430636284.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/d4fe2a4a-64a5-42d3-9daf-449a9725ea15.html" target="element"> Evidence Retrieval </a> </td>
																				<td> <a href="../elements/10f46c31-0a67-49e3-b5f9-9b387545718f.html" target="element"> Evidence Requesting </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/2e6e3ec1-794e-4d23-84b7-d15339532244.html" target="element"> composition </a> </td>
																				<td> <a href="../elements/2e6e3ec1-794e-4d23-84b7-d15339532244.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/11431a82-e023-4fb3-ba79-4b92639d9b56.html" target="element"> User Management </a> </td>
																				<td> <a href="../elements/752678dc-d0fa-4c05-babb-1165fbe23c19.html" target="element"> User Identification </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/2cdb08ee-54eb-435e-baaa-01d8fd2cc85a.html" target="element"> composition </a> </td>
																				<td> <a href="../elements/2cdb08ee-54eb-435e-baaa-01d8fd2cc85a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/11431a82-e023-4fb3-ba79-4b92639d9b56.html" target="element"> User Management </a> </td>
																				<td> <a href="../elements/a0026a12-17ba-45b4-9742-cd28c5505d55.html" target="element"> User Approval  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/1dab2ef2-98f8-498b-84a6-15067fae2573.html" target="element"> composition </a> </td>
																				<td> <a href="../elements/1dab2ef2-98f8-498b-84a6-15067fae2573.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/11431a82-e023-4fb3-ba79-4b92639d9b56.html" target="element"> User Management </a> </td>
																				<td> <a href="../elements/eab9c44a-a261-41ef-8f3f-ebff2d3f0ef8.html" target="element"> Consent Collection </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>