<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Databehandlere</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Databehandlere</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/9ca05434-56cf-4a6d-9882-ed61cef64fdc.png" alt="Databehandlere" usemap="#9ca05434-56cf-4a6d-9882-ed61cef64fdcmap"/>
			   <map name="9ca05434-56cf-4a6d-9882-ed61cef64fdcmap">
				  		<area shape="rect" coords="476,260,752,402" href="../elements/a07982a9-2c18-4472-bfe4-44d4061ca208.html"  target="element">
				  		<area shape="rect" coords="644,524,910,666" href="../elements/ab749393-6726-4b1f-a60e-c539a2875fc8.html"  target="element">
				  		<area shape="rect" coords="20,524,286,666" href="../elements/7f1ad415-d456-4c2e-a812-448f9f4dc129.html"  target="element">
				  		<area shape="rect" coords="332,524,598,666" href="../elements/ac1c6456-2123-4f59-bbcb-5c78eecf55ce.html"  target="element">
				  		<area shape="rect" coords="956,524,1232,666" href="../elements/07ed8865-32d3-4929-9574-1ee65318a7d9.html"  target="element">
				  		<area shape="rect" coords="308,20,584,162" href="../elements/1a4bafcf-0821-448d-9d16-79928f4b12b5.html"  target="element">
				  		<area shape="rect" coords="668,20,934,162" href="../elements/9692a02f-1935-4517-8c6b-d3344ba8b721.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Databehandlere</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/9692a02f-1935-4517-8c6b-d3344ba8b721.html" target="element"> Databehandler </a> </td>
											    <td> <a href="../elements/9692a02f-1935-4517-8c6b-d3344ba8b721.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1a4bafcf-0821-448d-9d16-79928f4b12b5.html" target="element"> Behandlingsansvarlig </a> </td>
											    <td> <a href="../elements/1a4bafcf-0821-448d-9d16-79928f4b12b5.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/07ed8865-32d3-4929-9574-1ee65318a7d9.html" target="element"> Representant </a> </td>
											    <td> <a href="../elements/07ed8865-32d3-4929-9574-1ee65318a7d9.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ac1c6456-2123-4f59-bbcb-5c78eecf55ce.html" target="element"> Konsument </a> </td>
											    <td> <a href="../elements/ac1c6456-2123-4f59-bbcb-5c78eecf55ce.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7f1ad415-d456-4c2e-a812-448f9f4dc129.html" target="element"> Tilbyder </a> </td>
											    <td> <a href="../elements/7f1ad415-d456-4c2e-a812-448f9f4dc129.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ab749393-6726-4b1f-a60e-c539a2875fc8.html" target="element"> Dataformidler </a> </td>
											    <td> <a href="../elements/ab749393-6726-4b1f-a60e-c539a2875fc8.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a07982a9-2c18-4472-bfe4-44d4061ca208.html" target="element"> Samhandlingspart </a> </td>
											    <td> <a href="../elements/a07982a9-2c18-4472-bfe4-44d4061ca208.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/a13b436f-051f-48b6-9a4a-4a3c90dfeed0.html" target="element">  </a> </td>
																		<td> <a href="../elements/a13b436f-051f-48b6-9a4a-4a3c90dfeed0.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/9692a02f-1935-4517-8c6b-d3344ba8b721.html" target="element"> Databehandler </a> </td>
																		<td> <a href="../elements/1a4bafcf-0821-448d-9d16-79928f4b12b5.html" target="element"> Behandlingsansvarlig </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/bb595004-3aa6-4917-acb5-3298b3a3d852.html" target="element">  </a> </td>
																		<td> <a href="../elements/bb595004-3aa6-4917-acb5-3298b3a3d852.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/07ed8865-32d3-4929-9574-1ee65318a7d9.html" target="element"> Representant </a> </td>
																		<td> <a href="../elements/a07982a9-2c18-4472-bfe4-44d4061ca208.html" target="element"> Samhandlingspart </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/338dd970-567b-4f8e-9e77-0551942238b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/338dd970-567b-4f8e-9e77-0551942238b7.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/ac1c6456-2123-4f59-bbcb-5c78eecf55ce.html" target="element"> Konsument </a> </td>
																		<td> <a href="../elements/a07982a9-2c18-4472-bfe4-44d4061ca208.html" target="element"> Samhandlingspart </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1178f1e4-71ae-45d5-b507-13eded3edaa4.html" target="element">  </a> </td>
																		<td> <a href="../elements/1178f1e4-71ae-45d5-b507-13eded3edaa4.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/7f1ad415-d456-4c2e-a812-448f9f4dc129.html" target="element"> Tilbyder </a> </td>
																		<td> <a href="../elements/a07982a9-2c18-4472-bfe4-44d4061ca208.html" target="element"> Samhandlingspart </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/86b695c8-3aed-4c9a-b6b6-584f04be0d0b.html" target="element">  </a> </td>
																		<td> <a href="../elements/86b695c8-3aed-4c9a-b6b6-584f04be0d0b.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/ab749393-6726-4b1f-a60e-c539a2875fc8.html" target="element"> Dataformidler </a> </td>
																		<td> <a href="../elements/a07982a9-2c18-4472-bfe4-44d4061ca208.html" target="element"> Samhandlingspart </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/fd5c224e-7237-4565-8d4f-eabe1b12d6a3.html" target="element"> kan v&#230;re </a> </td>
																		<td> <a href="../elements/fd5c224e-7237-4565-8d4f-eabe1b12d6a3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/a07982a9-2c18-4472-bfe4-44d4061ca208.html" target="element"> Samhandlingspart </a> </td>
																		<td> <a href="../elements/1a4bafcf-0821-448d-9d16-79928f4b12b5.html" target="element"> Behandlingsansvarlig </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3797bb53-03e3-4dac-b968-ea514c9376d7.html" target="element"> kan v&#230;re </a> </td>
																		<td> <a href="../elements/3797bb53-03e3-4dac-b968-ea514c9376d7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/a07982a9-2c18-4472-bfe4-44d4061ca208.html" target="element"> Samhandlingspart </a> </td>
																		<td> <a href="../elements/9692a02f-1935-4517-8c6b-d3344ba8b721.html" target="element"> Databehandler </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>