<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Innhente data - løsningsmønster (copy)</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Innhente data - l&#248;sningsm&#248;nster (copy)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/ad0edcd2-34a9-4c4e-b6ff-7da818373851.png" alt="Innhente data - løsningsmønster (copy)" usemap="#ad0edcd2-34a9-4c4e-b6ff-7da818373851map"/>
			   <map name="ad0edcd2-34a9-4c4e-b6ff-7da818373851map">
				  		<area shape="rect" coords="356,1046,622,1186" href="../elements/f62ede33-8269-4ea4-ad18-813afceec80d.html"  target="element">
				  		<area shape="rect" coords="404,644,670,786" href="../elements/604052b8-dd41-4016-b726-392581856d39.html"  target="element">
				  		<area shape="rect" coords="1820,640,2086,782" href="../elements/0c051f18-03b6-4561-a6d8-a77912e4686c.html"  target="element">
				  		<area shape="rect" coords="716,644,982,786" href="../elements/2715d0e5-cfea-4699-aa85-ac696c2e155d.html"  target="element">
				  		<area shape="rect" coords="716,1048,982,1182" href="../elements/143eec21-4a9f-48d9-ae4b-5f6d74e151f0.html"  target="element">
				  		<area shape="rect" coords="1508,1040,1774,1180" href="../elements/f62ede33-8269-4ea4-ad18-813afceec80d.html"  target="element">
				  		<area shape="rect" coords="1340,852,1606,992" href="../elements/fe0abe56-0a07-400f-86de-ea57a0f8079b.html"  target="element">
				  				<area shape="rect" coords="1028,334,1058,364" href="../elements/fa26f310-b776-423a-82b4-3b6ced2d5ee0.html"  target="element">
				  				<area shape="rect" coords="1556,334,1586,364" href="../elements/0f646b18-0beb-4665-8525-ebce1e57d860.html"  target="element">
				  				<area shape="rect" coords="428,398,694,540" href="../elements/e35f0888-8a8d-4ff7-b71e-b336e38b902f.html"  target="element">
				  				<area shape="rect" coords="1652,280,1918,420" href="../elements/a79edfad-e067-4629-86ef-67616a13fbc6.html"  target="element">
				  				<area shape="rect" coords="1172,400,1438,540" href="../elements/b7cbba3b-7ad6-4b4f-8916-3fdd75a06932.html"  target="element">
				  				<area shape="rect" coords="572,196,838,336" href="../elements/0530089e-834b-4d95-9ec5-9cd4babb43fb.html"  target="element">

				  		<area shape="rect" coords="380,160,1990,594" href="../elements/a6eb2686-7212-443f-900a-1c46d6d027a6.html"  target="element">
				  		<area shape="rect" coords="1508,642,1774,782" href="../elements/12ccf292-4222-4651-b89a-50e581a50822.html"  target="element">
				  		<area shape="rect" coords="548,856,814,998" href="../elements/b272405b-703f-4a04-aa91-44f3fefb4247.html"  target="element">
				  		<area shape="rect" coords="20,270,286,412" href="../elements/aa30d232-3bcf-4969-a022-c66e93a80ec5.html"  target="element">
				  		<area shape="rect" coords="956,850,1222,990" href="../elements/1a323a09-de3c-4c93-905e-b8e1084a99b2.html"  target="element">
				  		<area shape="rect" coords="1172,640,1438,782" href="../elements/997e9993-2339-49a8-9935-fb3794fdbb46.html"  target="element">
				  		<area shape="rect" coords="20,20,286,162" href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html"  target="element">
				  		<area shape="rect" coords="1172,1040,1438,1180" href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Sl&#229; opp data gjennom et API - l&#248;sningsm&#248;nster</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html" target="element"> Maskinporten </a> </td>
											    <td> <a href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
											    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/997e9993-2339-49a8-9935-fb3794fdbb46.html" target="element"> Tokentjeneste </a> </td>
											    <td> <a href="../elements/997e9993-2339-49a8-9935-fb3794fdbb46.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1a323a09-de3c-4c93-905e-b8e1084a99b2.html" target="element"> Virksomhetssertifikat </a> </td>
											    <td> <a href="../elements/1a323a09-de3c-4c93-905e-b8e1084a99b2.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/aa30d232-3bcf-4969-a022-c66e93a80ec5.html" target="element"> Innhente data </a> </td>
											    <td> <a href="../elements/aa30d232-3bcf-4969-a022-c66e93a80ec5.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b272405b-703f-4a04-aa91-44f3fefb4247.html" target="element"> Endepunkt (adresse) </a> </td>
											    <td> <a href="../elements/b272405b-703f-4a04-aa91-44f3fefb4247.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/12ccf292-4222-4651-b89a-50e581a50822.html" target="element"> Oppslag representasjons-forhold </a> </td>
											    <td> <a href="../elements/12ccf292-4222-4651-b89a-50e581a50822.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a6eb2686-7212-443f-900a-1c46d6d027a6.html" target="element"> Sl&#229; opp data gjennom et API  </a> </td>
											    <td> <a href="../elements/a6eb2686-7212-443f-900a-1c46d6d027a6.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/0530089e-834b-4d95-9ec5-9cd4babb43fb.html" target="element"> Hent teknisk endepunkt ved behov </a> </td>
													    <td> <a href="../elements/0530089e-834b-4d95-9ec5-9cd4babb43fb.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b7cbba3b-7ad6-4b4f-8916-3fdd75a06932.html" target="element"> Be om tilgangstoken </a> </td>
													    <td> <a href="../elements/b7cbba3b-7ad6-4b4f-8916-3fdd75a06932.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a79edfad-e067-4629-86ef-67616a13fbc6.html" target="element"> Utf&#248;r tjenestekall </a> </td>
													    <td> <a href="../elements/a79edfad-e067-4629-86ef-67616a13fbc6.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e35f0888-8a8d-4ff7-b71e-b336e38b902f.html" target="element"> Innhent samtykke ved behov </a> </td>
													    <td> <a href="../elements/e35f0888-8a8d-4ff7-b71e-b336e38b902f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0f646b18-0beb-4665-8525-ebce1e57d860.html" target="element"> Junction </a> </td>
													    <td> <a href="../elements/0f646b18-0beb-4665-8525-ebce1e57d860.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fa26f310-b776-423a-82b4-3b6ced2d5ee0.html" target="element"> Junction </a> </td>
													    <td> <a href="../elements/fa26f310-b776-423a-82b4-3b6ced2d5ee0.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/fe0abe56-0a07-400f-86de-ea57a0f8079b.html" target="element"> Tilganger konsument </a> </td>
											    <td> <a href="../elements/fe0abe56-0a07-400f-86de-ea57a0f8079b.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f62ede33-8269-4ea4-ad18-813afceec80d.html" target="element"> Altinn autorisasjon </a> </td>
											    <td> <a href="../elements/f62ede33-8269-4ea4-ad18-813afceec80d.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/143eec21-4a9f-48d9-ae4b-5f6d74e151f0.html" target="element"> Felles API-katalog </a> </td>
											    <td> <a href="../elements/143eec21-4a9f-48d9-ae4b-5f6d74e151f0.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2715d0e5-cfea-4699-aa85-ac696c2e155d.html" target="element"> Adressetjeneste </a> </td>
											    <td> <a href="../elements/2715d0e5-cfea-4699-aa85-ac696c2e155d.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0c051f18-03b6-4561-a6d8-a77912e4686c.html" target="element"> Datautvekslings-tjeneste </a> </td>
											    <td> <a href="../elements/0c051f18-03b6-4561-a6d8-a77912e4686c.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/604052b8-dd41-4016-b726-392581856d39.html" target="element"> Samtykkeregistererings-tjeneste </a> </td>
											    <td> <a href="../elements/604052b8-dd41-4016-b726-392581856d39.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f62ede33-8269-4ea4-ad18-813afceec80d.html" target="element"> Altinn autorisasjon </a> </td>
											    <td> <a href="../elements/f62ede33-8269-4ea4-ad18-813afceec80d.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/11967e2e-5aac-4a16-b845-97be6e96e100.html" target="element">  </a> </td>
																		<td> <a href="../elements/11967e2e-5aac-4a16-b845-97be6e96e100.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html" target="element"> Maskinporten </a> </td>
																		<td> <a href="../elements/997e9993-2339-49a8-9935-fb3794fdbb46.html" target="element"> Tokentjeneste </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/fd176e3e-ba41-4702-bba4-5a4dd73bed5a.html" target="element">  </a> </td>
																		<td> <a href="../elements/fd176e3e-ba41-4702-bba4-5a4dd73bed5a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																		<td> <a href="../elements/aa30d232-3bcf-4969-a022-c66e93a80ec5.html" target="element"> Innhente data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f232a4e1-fd87-499f-ae4f-778270046977.html" target="element">  </a> </td>
																		<td> <a href="../elements/f232a4e1-fd87-499f-ae4f-778270046977.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/997e9993-2339-49a8-9935-fb3794fdbb46.html" target="element"> Tokentjeneste </a> </td>
																		<td> <a href="../elements/b7cbba3b-7ad6-4b4f-8916-3fdd75a06932.html" target="element"> Be om tilgangstoken </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5bf275d1-8cc3-4d0f-b9d0-a52292a2ff5a.html" target="element">  </a> </td>
																		<td> <a href="../elements/5bf275d1-8cc3-4d0f-b9d0-a52292a2ff5a.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/997e9993-2339-49a8-9935-fb3794fdbb46.html" target="element"> Tokentjeneste </a> </td>
																		<td> <a href="../elements/fe0abe56-0a07-400f-86de-ea57a0f8079b.html" target="element"> Tilganger konsument </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/aa31279e-e82d-402c-bbb9-9cf2b42c0266.html" target="element">  </a> </td>
																		<td> <a href="../elements/aa31279e-e82d-402c-bbb9-9cf2b42c0266.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/997e9993-2339-49a8-9935-fb3794fdbb46.html" target="element"> Tokentjeneste </a> </td>
																		<td> <a href="../elements/1a323a09-de3c-4c93-905e-b8e1084a99b2.html" target="element"> Virksomhetssertifikat </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e0adf659-c9bc-4053-869b-300e5fe11685.html" target="element">  </a> </td>
																		<td> <a href="../elements/e0adf659-c9bc-4053-869b-300e5fe11685.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/12ccf292-4222-4651-b89a-50e581a50822.html" target="element"> Oppslag representasjons-forhold </a> </td>
																		<td> <a href="../elements/997e9993-2339-49a8-9935-fb3794fdbb46.html" target="element"> Tokentjeneste </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6a6e4bfc-4df9-4de1-b370-893c23cf7423.html" target="element">  </a> </td>
																		<td> <a href="../elements/6a6e4bfc-4df9-4de1-b370-893c23cf7423.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/a6eb2686-7212-443f-900a-1c46d6d027a6.html" target="element"> Sl&#229; opp data gjennom et API  </a> </td>
																		<td> <a href="../elements/a79edfad-e067-4629-86ef-67616a13fbc6.html" target="element"> Utf&#248;r tjenestekall </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4ae740bc-002f-4460-9f85-216408a9b7b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/4ae740bc-002f-4460-9f85-216408a9b7b9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/a6eb2686-7212-443f-900a-1c46d6d027a6.html" target="element"> Sl&#229; opp data gjennom et API  </a> </td>
																		<td> <a href="../elements/0530089e-834b-4d95-9ec5-9cd4babb43fb.html" target="element"> Hent teknisk endepunkt ved behov </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/492529a9-7f91-4e5e-8f30-df0ae0af3a39.html" target="element">  </a> </td>
																		<td> <a href="../elements/492529a9-7f91-4e5e-8f30-df0ae0af3a39.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/a6eb2686-7212-443f-900a-1c46d6d027a6.html" target="element"> Sl&#229; opp data gjennom et API  </a> </td>
																		<td> <a href="../elements/aa30d232-3bcf-4969-a022-c66e93a80ec5.html" target="element"> Innhente data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/640248c0-669b-4bb9-8edd-9b312adeaf91.html" target="element">  </a> </td>
																		<td> <a href="../elements/640248c0-669b-4bb9-8edd-9b312adeaf91.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/a6eb2686-7212-443f-900a-1c46d6d027a6.html" target="element"> Sl&#229; opp data gjennom et API  </a> </td>
																		<td> <a href="../elements/e35f0888-8a8d-4ff7-b71e-b336e38b902f.html" target="element"> Innhent samtykke ved behov </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5688071a-27e3-41aa-8ec7-02575a5220ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/5688071a-27e3-41aa-8ec7-02575a5220ec.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/a6eb2686-7212-443f-900a-1c46d6d027a6.html" target="element"> Sl&#229; opp data gjennom et API  </a> </td>
																		<td> <a href="../elements/b7cbba3b-7ad6-4b4f-8916-3fdd75a06932.html" target="element"> Be om tilgangstoken </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/b7907f8b-be94-45ed-b685-973dd8eb86a3.html" target="element">  </a> </td>
																				<td> <a href="../elements/b7907f8b-be94-45ed-b685-973dd8eb86a3.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/0530089e-834b-4d95-9ec5-9cd4babb43fb.html" target="element"> Hent teknisk endepunkt ved behov </a> </td>
																				<td> <a href="../elements/a6eb2686-7212-443f-900a-1c46d6d027a6.html" target="element"> Sl&#229; opp data gjennom et API  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f7e4e1ee-d6f6-4ee5-8c37-4a701556fe67.html" target="element">  </a> </td>
																				<td> <a href="../elements/f7e4e1ee-d6f6-4ee5-8c37-4a701556fe67.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/0530089e-834b-4d95-9ec5-9cd4babb43fb.html" target="element"> Hent teknisk endepunkt ved behov </a> </td>
																				<td> <a href="../elements/fa26f310-b776-423a-82b4-3b6ced2d5ee0.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/16547bc4-8b59-4f40-858c-c97f537d8f51.html" target="element">  </a> </td>
																				<td> <a href="../elements/16547bc4-8b59-4f40-858c-c97f537d8f51.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/b7cbba3b-7ad6-4b4f-8916-3fdd75a06932.html" target="element"> Be om tilgangstoken </a> </td>
																				<td> <a href="../elements/0f646b18-0beb-4665-8525-ebce1e57d860.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/aea8a498-a21a-46b5-8cf7-b8b75584f3ff.html" target="element">  </a> </td>
																				<td> <a href="../elements/aea8a498-a21a-46b5-8cf7-b8b75584f3ff.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/e35f0888-8a8d-4ff7-b71e-b336e38b902f.html" target="element"> Innhent samtykke ved behov </a> </td>
																				<td> <a href="../elements/fa26f310-b776-423a-82b4-3b6ced2d5ee0.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/4ce7233f-2cec-47a7-982d-cb37697fc534.html" target="element">  </a> </td>
																				<td> <a href="../elements/4ce7233f-2cec-47a7-982d-cb37697fc534.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/0f646b18-0beb-4665-8525-ebce1e57d860.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/a79edfad-e067-4629-86ef-67616a13fbc6.html" target="element"> Utf&#248;r tjenestekall </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/cb043803-6ca8-400f-8822-67dc05a0e12c.html" target="element">  </a> </td>
																				<td> <a href="../elements/cb043803-6ca8-400f-8822-67dc05a0e12c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/fa26f310-b776-423a-82b4-3b6ced2d5ee0.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/0f646b18-0beb-4665-8525-ebce1e57d860.html" target="element"> Junction </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/098c78e3-5308-4b0d-8ba4-0dc639d0f840.html" target="element">  </a> </td>
																		<td> <a href="../elements/098c78e3-5308-4b0d-8ba4-0dc639d0f840.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/f62ede33-8269-4ea4-ad18-813afceec80d.html" target="element"> Altinn autorisasjon </a> </td>
																		<td> <a href="../elements/12ccf292-4222-4651-b89a-50e581a50822.html" target="element"> Oppslag representasjons-forhold </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6f7c6c61-babf-4b63-9f3a-66172d926f56.html" target="element">  </a> </td>
																		<td> <a href="../elements/6f7c6c61-babf-4b63-9f3a-66172d926f56.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/143eec21-4a9f-48d9-ae4b-5f6d74e151f0.html" target="element"> Felles API-katalog </a> </td>
																		<td> <a href="../elements/2715d0e5-cfea-4699-aa85-ac696c2e155d.html" target="element"> Adressetjeneste </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6a3460d2-2fb1-4f0c-969a-34b6e118e764.html" target="element">  </a> </td>
																		<td> <a href="../elements/6a3460d2-2fb1-4f0c-969a-34b6e118e764.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/2715d0e5-cfea-4699-aa85-ac696c2e155d.html" target="element"> Adressetjeneste </a> </td>
																		<td> <a href="../elements/0530089e-834b-4d95-9ec5-9cd4babb43fb.html" target="element"> Hent teknisk endepunkt ved behov </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/eee1e591-f945-4e8e-afab-eba361188c62.html" target="element">  </a> </td>
																		<td> <a href="../elements/eee1e591-f945-4e8e-afab-eba361188c62.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/2715d0e5-cfea-4699-aa85-ac696c2e155d.html" target="element"> Adressetjeneste </a> </td>
																		<td> <a href="../elements/b272405b-703f-4a04-aa91-44f3fefb4247.html" target="element"> Endepunkt (adresse) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/00cb79a0-13fb-44a1-bb9a-963ac4eb4b6f.html" target="element">  </a> </td>
																		<td> <a href="../elements/00cb79a0-13fb-44a1-bb9a-963ac4eb4b6f.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/0c051f18-03b6-4561-a6d8-a77912e4686c.html" target="element"> Datautvekslings-tjeneste </a> </td>
																		<td> <a href="../elements/a79edfad-e067-4629-86ef-67616a13fbc6.html" target="element"> Utf&#248;r tjenestekall </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7d75be89-7ccc-42c2-9e17-9b4fa6649fb0.html" target="element">  </a> </td>
																		<td> <a href="../elements/7d75be89-7ccc-42c2-9e17-9b4fa6649fb0.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/604052b8-dd41-4016-b726-392581856d39.html" target="element"> Samtykkeregistererings-tjeneste </a> </td>
																		<td> <a href="../elements/e35f0888-8a8d-4ff7-b71e-b336e38b902f.html" target="element"> Innhent samtykke ved behov </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ef6bfe0c-1580-4862-9873-f337d7fa1658.html" target="element">  </a> </td>
																		<td> <a href="../elements/ef6bfe0c-1580-4862-9873-f337d7fa1658.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/f62ede33-8269-4ea4-ad18-813afceec80d.html" target="element"> Altinn autorisasjon </a> </td>
																		<td> <a href="../elements/604052b8-dd41-4016-b726-392581856d39.html" target="element"> Samtykkeregistererings-tjeneste </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>