<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Klargjør for melding (arkitekturmønster)</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Klargj&#248;r for melding (arkitekturm&#248;nster)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/ce3f707b-ed03-4707-aaa1-aa05a2a4ac60.png" alt="Klargjør for melding (arkitekturmønster)" usemap="#ce3f707b-ed03-4707-aaa1-aa05a2a4ac60map"/>
			   <map name="ce3f707b-ed03-4707-aaa1-aa05a2a4ac60map">
				  		<area shape="rect" coords="932,548,1198,690" href="../elements/be051049-8672-409e-ba1a-53998e33c632.html"  target="element">
				  		<area shape="rect" coords="1244,548,1510,690" href="../elements/a3a8c51d-2f44-4733-8dab-e85aa79f1f00.html"  target="element">
				  		<area shape="rect" coords="1700,548,1966,690" href="../elements/0562a1cb-6503-49de-b63e-631ef8570597.html"  target="element">
				  		<area shape="rect" coords="932,20,1198,162" href="../elements/ed7e8d44-243b-4ab5-8322-d0fcccf53fc2.html"  target="element">
				  		<area shape="rect" coords="1556,20,1822,162" href="../elements/bc243cd2-e5ca-467f-a1b7-f0649fd691ca.html"  target="element">
				  		<area shape="rect" coords="1844,20,2110,162" href="../elements/a78e4d41-51c6-41a7-bbbd-015cb1debd7a.html"  target="element">
				  		<area shape="rect" coords="1244,20,1510,162" href="../elements/4bb8940f-fe14-4870-bd2d-6ff3f556e4b2.html"  target="element">
				  		<area shape="rect" coords="620,20,886,162" href="../elements/49e7cf6b-94ce-46a2-aa32-589a30f373c0.html"  target="element">
				  		<area shape="rect" coords="332,20,598,162" href="../elements/26634756-792e-4925-9972-061ebade9adc.html"  target="element">
				  				<area shape="rect" coords="1700,308,1966,450" href="../elements/38c26831-71ce-49c0-9fbd-85bf86b0c94f.html"  target="element">
				  				<area shape="rect" coords="1268,308,1534,450" href="../elements/ec4d0954-3500-4649-8c0d-0b1b3d8b6daa.html"  target="element">
				  				<area shape="rect" coords="932,308,1198,450" href="../elements/4f322af7-3e68-4889-9b63-ed79342da9f4.html"  target="element">
				  				<area shape="rect" coords="476,308,742,450" href="../elements/9691edae-b7f7-4d4f-8339-a80a5d986865.html"  target="element">

				  		<area shape="rect" coords="428,236,2014,502" href="../elements/5367d8fa-b719-4837-9485-e88ae6b4bb41.html"  target="element">
				  		<area shape="rect" coords="20,20,286,162" href="../elements/9166cfce-06eb-40ac-9406-f439d3e0ca7e.html"  target="element">
				  		<area shape="rect" coords="20,298,286,440" href="../elements/67bfa510-6088-4584-bd26-3d468ea9c0db.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Klargj&#248;re for forsendelse</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap">nab_referanse_arkitekturer_emelding</td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/67bfa510-6088-4584-bd26-3d468ea9c0db.html" target="element"> Klargj&#248;re for deling av data ved forsendelse </a> </td>
											    <td> <a href="../elements/67bfa510-6088-4584-bd26-3d468ea9c0db.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9166cfce-06eb-40ac-9406-f439d3e0ca7e.html" target="element"> Samhandlingsakt&#248;r </a> </td>
											    <td> <a href="../elements/9166cfce-06eb-40ac-9406-f439d3e0ca7e.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5367d8fa-b719-4837-9485-e88ae6b4bb41.html" target="element"> Klargj&#248;r for melding </a> </td>
											    <td> <a href="../elements/5367d8fa-b719-4837-9485-e88ae6b4bb41.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/9691edae-b7f7-4d4f-8339-a80a5d986865.html" target="element"> Inng&#229; avtaler for meldingsforsendelse </a> </td>
													    <td> <a href="../elements/9691edae-b7f7-4d4f-8339-a80a5d986865.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4f322af7-3e68-4889-9b63-ed79342da9f4.html" target="element"> Registrer kapabiliteter </a> </td>
													    <td> <a href="../elements/4f322af7-3e68-4889-9b63-ed79342da9f4.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ec4d0954-3500-4649-8c0d-0b1b3d8b6daa.html" target="element"> Registrer adresser </a> </td>
													    <td> <a href="../elements/ec4d0954-3500-4649-8c0d-0b1b3d8b6daa.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/38c26831-71ce-49c0-9fbd-85bf86b0c94f.html" target="element"> Registrer sertifikater </a> </td>
													    <td> <a href="../elements/38c26831-71ce-49c0-9fbd-85bf86b0c94f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/26634756-792e-4925-9972-061ebade9adc.html" target="element"> Interoperability specification </a> </td>
											    <td> <a href="../elements/26634756-792e-4925-9972-061ebade9adc.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/49e7cf6b-94ce-46a2-aa32-589a30f373c0.html" target="element"> Samhandlingsavtale  </a> </td>
											    <td> <a href="../elements/49e7cf6b-94ce-46a2-aa32-589a30f373c0.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4bb8940f-fe14-4870-bd2d-6ff3f556e4b2.html" target="element"> Mottakeradresse </a> </td>
											    <td> <a href="../elements/4bb8940f-fe14-4870-bd2d-6ff3f556e4b2.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a78e4d41-51c6-41a7-bbbd-015cb1debd7a.html" target="element"> Avsendersertifikat </a> </td>
											    <td> <a href="../elements/a78e4d41-51c6-41a7-bbbd-015cb1debd7a.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bc243cd2-e5ca-467f-a1b7-f0649fd691ca.html" target="element"> Mottakersertifikat </a> </td>
											    <td> <a href="../elements/bc243cd2-e5ca-467f-a1b7-f0649fd691ca.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ed7e8d44-243b-4ab5-8322-d0fcccf53fc2.html" target="element"> Kapabilitetsbeskrivelse </a> </td>
											    <td> <a href="../elements/ed7e8d44-243b-4ab5-8322-d0fcccf53fc2.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0562a1cb-6503-49de-b63e-631ef8570597.html" target="element"> Sertifikatregisterering </a> </td>
											    <td> <a href="../elements/0562a1cb-6503-49de-b63e-631ef8570597.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a3a8c51d-2f44-4733-8dab-e85aa79f1f00.html" target="element"> Adresseregistrering </a> </td>
											    <td> <a href="../elements/a3a8c51d-2f44-4733-8dab-e85aa79f1f00.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/be051049-8672-409e-ba1a-53998e33c632.html" target="element"> Kapabilitetsregistrering </a> </td>
											    <td> <a href="../elements/be051049-8672-409e-ba1a-53998e33c632.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/2058f38b-4378-4018-8c5f-c7880e314a9b.html" target="element">  </a> </td>
																		<td> <a href="../elements/2058f38b-4378-4018-8c5f-c7880e314a9b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/9166cfce-06eb-40ac-9406-f439d3e0ca7e.html" target="element"> Samhandlingsakt&#248;r </a> </td>
																		<td> <a href="../elements/67bfa510-6088-4584-bd26-3d468ea9c0db.html" target="element"> Klargj&#248;re for deling av data ved forsendelse </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7ce0254b-91e1-4f9b-960d-e92ef941b3b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/7ce0254b-91e1-4f9b-960d-e92ef941b3b0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/5367d8fa-b719-4837-9485-e88ae6b4bb41.html" target="element"> Klargj&#248;r for melding </a> </td>
																		<td> <a href="../elements/ec4d0954-3500-4649-8c0d-0b1b3d8b6daa.html" target="element"> Registrer adresser </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/efe8cea4-a104-479c-8970-0d2db3a5c763.html" target="element">  </a> </td>
																		<td> <a href="../elements/efe8cea4-a104-479c-8970-0d2db3a5c763.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/5367d8fa-b719-4837-9485-e88ae6b4bb41.html" target="element"> Klargj&#248;r for melding </a> </td>
																		<td> <a href="../elements/9691edae-b7f7-4d4f-8339-a80a5d986865.html" target="element"> Inng&#229; avtaler for meldingsforsendelse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/18c6c836-955e-4388-afe0-4820ede3d68a.html" target="element">  </a> </td>
																		<td> <a href="../elements/18c6c836-955e-4388-afe0-4820ede3d68a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/5367d8fa-b719-4837-9485-e88ae6b4bb41.html" target="element"> Klargj&#248;r for melding </a> </td>
																		<td> <a href="../elements/38c26831-71ce-49c0-9fbd-85bf86b0c94f.html" target="element"> Registrer sertifikater </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/47ea64f2-fb83-4809-aff5-2a4b410e880d.html" target="element">  </a> </td>
																		<td> <a href="../elements/47ea64f2-fb83-4809-aff5-2a4b410e880d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/5367d8fa-b719-4837-9485-e88ae6b4bb41.html" target="element"> Klargj&#248;r for melding </a> </td>
																		<td> <a href="../elements/67bfa510-6088-4584-bd26-3d468ea9c0db.html" target="element"> Klargj&#248;re for deling av data ved forsendelse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/54a08d3d-9073-4e63-aebc-d156f72dbf01.html" target="element">  </a> </td>
																		<td> <a href="../elements/54a08d3d-9073-4e63-aebc-d156f72dbf01.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/5367d8fa-b719-4837-9485-e88ae6b4bb41.html" target="element"> Klargj&#248;r for melding </a> </td>
																		<td> <a href="../elements/4f322af7-3e68-4889-9b63-ed79342da9f4.html" target="element"> Registrer kapabiliteter </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/41f4f503-c352-401e-847e-98e26253861d.html" target="element">  </a> </td>
																				<td> <a href="../elements/41f4f503-c352-401e-847e-98e26253861d.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/9691edae-b7f7-4d4f-8339-a80a5d986865.html" target="element"> Inng&#229; avtaler for meldingsforsendelse </a> </td>
																				<td> <a href="../elements/49e7cf6b-94ce-46a2-aa32-589a30f373c0.html" target="element"> Samhandlingsavtale  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f66d6596-0d4e-4b9b-871d-b04d7743a7e3.html" target="element">  </a> </td>
																				<td> <a href="../elements/f66d6596-0d4e-4b9b-871d-b04d7743a7e3.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/9691edae-b7f7-4d4f-8339-a80a5d986865.html" target="element"> Inng&#229; avtaler for meldingsforsendelse </a> </td>
																				<td> <a href="../elements/4f322af7-3e68-4889-9b63-ed79342da9f4.html" target="element"> Registrer kapabiliteter </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/ea177a9b-afe6-44f2-9dc5-0a799c4ccce3.html" target="element">  </a> </td>
																				<td> <a href="../elements/ea177a9b-afe6-44f2-9dc5-0a799c4ccce3.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/9691edae-b7f7-4d4f-8339-a80a5d986865.html" target="element"> Inng&#229; avtaler for meldingsforsendelse </a> </td>
																				<td> <a href="../elements/26634756-792e-4925-9972-061ebade9adc.html" target="element"> Interoperability specification </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/8e9f03dd-c7f6-48cd-9fe9-dd673e96d703.html" target="element">  </a> </td>
																				<td> <a href="../elements/8e9f03dd-c7f6-48cd-9fe9-dd673e96d703.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/4f322af7-3e68-4889-9b63-ed79342da9f4.html" target="element"> Registrer kapabiliteter </a> </td>
																				<td> <a href="../elements/ec4d0954-3500-4649-8c0d-0b1b3d8b6daa.html" target="element"> Registrer adresser </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/cb5b8979-7de6-4331-a55c-25761b2fddb2.html" target="element">  </a> </td>
																				<td> <a href="../elements/cb5b8979-7de6-4331-a55c-25761b2fddb2.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/4f322af7-3e68-4889-9b63-ed79342da9f4.html" target="element"> Registrer kapabiliteter </a> </td>
																				<td> <a href="../elements/ed7e8d44-243b-4ab5-8322-d0fcccf53fc2.html" target="element"> Kapabilitetsbeskrivelse </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/029b954b-b2f0-4b03-adb1-d119bdf27105.html" target="element">  </a> </td>
																				<td> <a href="../elements/029b954b-b2f0-4b03-adb1-d119bdf27105.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/ec4d0954-3500-4649-8c0d-0b1b3d8b6daa.html" target="element"> Registrer adresser </a> </td>
																				<td> <a href="../elements/4bb8940f-fe14-4870-bd2d-6ff3f556e4b2.html" target="element"> Mottakeradresse </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/63417815-689f-4df6-96c4-18743c39d018.html" target="element">  </a> </td>
																				<td> <a href="../elements/63417815-689f-4df6-96c4-18743c39d018.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/ec4d0954-3500-4649-8c0d-0b1b3d8b6daa.html" target="element"> Registrer adresser </a> </td>
																				<td> <a href="../elements/38c26831-71ce-49c0-9fbd-85bf86b0c94f.html" target="element"> Registrer sertifikater </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/ffc92f32-c7dd-4947-8214-7b01bae9a76d.html" target="element">  </a> </td>
																				<td> <a href="../elements/ffc92f32-c7dd-4947-8214-7b01bae9a76d.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/38c26831-71ce-49c0-9fbd-85bf86b0c94f.html" target="element"> Registrer sertifikater </a> </td>
																				<td> <a href="../elements/bc243cd2-e5ca-467f-a1b7-f0649fd691ca.html" target="element"> Mottakersertifikat </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/714c20b9-4eef-4dd4-bc44-6c168b477f3b.html" target="element">  </a> </td>
																				<td> <a href="../elements/714c20b9-4eef-4dd4-bc44-6c168b477f3b.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/38c26831-71ce-49c0-9fbd-85bf86b0c94f.html" target="element"> Registrer sertifikater </a> </td>
																				<td> <a href="../elements/a78e4d41-51c6-41a7-bbbd-015cb1debd7a.html" target="element"> Avsendersertifikat </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/4166715d-4526-4b4c-8d41-7bbbb1c6663e.html" target="element">  </a> </td>
																		<td> <a href="../elements/4166715d-4526-4b4c-8d41-7bbbb1c6663e.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/0562a1cb-6503-49de-b63e-631ef8570597.html" target="element"> Sertifikatregisterering </a> </td>
																		<td> <a href="../elements/38c26831-71ce-49c0-9fbd-85bf86b0c94f.html" target="element"> Registrer sertifikater </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2d1fe021-8a19-4d38-bd8d-b5b074d2358e.html" target="element">  </a> </td>
																		<td> <a href="../elements/2d1fe021-8a19-4d38-bd8d-b5b074d2358e.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/a3a8c51d-2f44-4733-8dab-e85aa79f1f00.html" target="element"> Adresseregistrering </a> </td>
																		<td> <a href="../elements/ec4d0954-3500-4649-8c0d-0b1b3d8b6daa.html" target="element"> Registrer adresser </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3e59f615-2eff-4cd1-b341-b33320a8bbdf.html" target="element">  </a> </td>
																		<td> <a href="../elements/3e59f615-2eff-4cd1-b341-b33320a8bbdf.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/be051049-8672-409e-ba1a-53998e33c632.html" target="element"> Kapabilitetsregistrering </a> </td>
																		<td> <a href="../elements/4f322af7-3e68-4889-9b63-ed79342da9f4.html" target="element"> Registrer kapabiliteter </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>