<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Publisering av hendelser - grunnleggende konsept, med applikasjoner</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Publisering av hendelser - grunnleggende konsept, med applikasjoner</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/e897ab1d-8641-4f36-a5c4-2123fd489972.png" alt="Publisering av hendelser - grunnleggende konsept, med applikasjoner" usemap="#e897ab1d-8641-4f36-a5c4-2123fd489972map"/>
			   <map name="e897ab1d-8641-4f36-a5c4-2123fd489972map">
				  				<area shape="rect" coords="992,140,1258,282" href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html"  target="element">
				  				<area shape="rect" coords="1016,116,1282,258" href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html"  target="element">
				  				<area shape="rect" coords="992,356,1258,498" href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html"  target="element">

				  		<area shape="rect" coords="896,44,1332,694" href="../elements/484ed6c7-a0f3-4e2a-9e5a-942ad4769309.html"  target="element">
				  				<area shape="rect" coords="92,116,358,258" href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html"  target="element">
				  				<area shape="rect" coords="92,356,358,498" href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html"  target="element">
				  				<area shape="rect" coords="524,140,720,234" href="../elements/b1e5e3e7-d970-4a4a-aca7-1f07eafd34ca.html"  target="element">
				  				<area shape="rect" coords="524,572,720,666" href="../elements/5fe4ffdd-7d65-439d-a498-804a45e9ba63.html"  target="element">
				  				<area shape="rect" coords="524,380,720,474" href="../elements/3b65ddac-3520-4dee-9d13-700e449cdff9.html"  target="element">

				  		<area shape="rect" coords="20,44,788,694" href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html"  target="element">
				  		<area shape="rect" coords="920,20,1356,670" href="../elements/484ed6c7-a0f3-4e2a-9e5a-942ad4769309.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Publisering - grunnleggende konsept</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap">nab_referanse_arkitekturer_datautveksling_publisering</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/484ed6c7-a0f3-4e2a-9e5a-942ad4769309.html" target="element"> Konsument </a> </td>
											    <td> <a href="../elements/484ed6c7-a0f3-4e2a-9e5a-942ad4769309.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
											    <td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/3b65ddac-3520-4dee-9d13-700e449cdff9.html" target="element"> Hendelsesliste </a> </td>
													    <td> <a href="../elements/3b65ddac-3520-4dee-9d13-700e449cdff9.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5fe4ffdd-7d65-439d-a498-804a45e9ba63.html" target="element"> Notifikasjon </a> </td>
													    <td> <a href="../elements/5fe4ffdd-7d65-439d-a498-804a45e9ba63.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b1e5e3e7-d970-4a4a-aca7-1f07eafd34ca.html" target="element"> Hendelsesstr&#248;m </a> </td>
													    <td> <a href="../elements/b1e5e3e7-d970-4a4a-aca7-1f07eafd34ca.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html" target="element"> Datatilbyders publiseringsl&#248;sning </a> </td>
													    <td> <a href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
													    <td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/484ed6c7-a0f3-4e2a-9e5a-942ad4769309.html" target="element"> Konsument </a> </td>
											    <td> <a href="../elements/484ed6c7-a0f3-4e2a-9e5a-942ad4769309.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html" target="element"> Datakonsuments l&#248;sning for innhenting av publiserte data </a> </td>
													    <td> <a href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
													    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
													    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/d63588f7-3b00-479b-98ac-e4811c602997.html" target="element">  </a> </td>
																		<td> <a href="../elements/d63588f7-3b00-479b-98ac-e4811c602997.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
																		<td> <a href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html" target="element"> Datatilbyders publiseringsl&#248;sning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7227a768-6c91-4b6a-b5b1-1eb836987f5b.html" target="element">  </a> </td>
																		<td> <a href="../elements/7227a768-6c91-4b6a-b5b1-1eb836987f5b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
																		<td> <a href="../elements/3b65ddac-3520-4dee-9d13-700e449cdff9.html" target="element"> Hendelsesliste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/39188a34-c294-4b26-a9e1-b7e20c67a2f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/39188a34-c294-4b26-a9e1-b7e20c67a2f0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
																		<td> <a href="../elements/b1e5e3e7-d970-4a4a-aca7-1f07eafd34ca.html" target="element"> Hendelsesstr&#248;m </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9db1695e-2089-4523-85f5-eff0fded7805.html" target="element">  </a> </td>
																		<td> <a href="../elements/9db1695e-2089-4523-85f5-eff0fded7805.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
																		<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7915569a-896d-4694-947b-9a4589a8be26.html" target="element">  </a> </td>
																		<td> <a href="../elements/7915569a-896d-4694-947b-9a4589a8be26.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
																		<td> <a href="../elements/5fe4ffdd-7d65-439d-a498-804a45e9ba63.html" target="element"> Notifikasjon </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/221d6570-f7b4-4b77-a871-fadfbda9a761.html" target="element"> inneholder </a> </td>
																				<td> <a href="../elements/221d6570-f7b4-4b77-a871-fadfbda9a761.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/3b65ddac-3520-4dee-9d13-700e449cdff9.html" target="element"> Hendelsesliste </a> </td>
																				<td> <a href="../elements/5fe4ffdd-7d65-439d-a498-804a45e9ba63.html" target="element"> Notifikasjon </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/72b539bf-9176-40ef-a8c0-dba61c35ec46.html" target="element"> beskriver </a> </td>
																				<td> <a href="../elements/72b539bf-9176-40ef-a8c0-dba61c35ec46.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/3b65ddac-3520-4dee-9d13-700e449cdff9.html" target="element"> Hendelsesliste </a> </td>
																				<td> <a href="../elements/b1e5e3e7-d970-4a4a-aca7-1f07eafd34ca.html" target="element"> Hendelsesstr&#248;m </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/a028929c-2881-44e1-ba15-2ab84a1298e6.html" target="element"> skriver </a> </td>
																				<td> <a href="../elements/a028929c-2881-44e1-ba15-2ab84a1298e6.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html" target="element"> Datatilbyders publiseringsl&#248;sning </a> </td>
																				<td> <a href="../elements/3b65ddac-3520-4dee-9d13-700e449cdff9.html" target="element"> Hendelsesliste </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/8b393849-384c-4188-adde-dc907b6da1f0.html" target="element"> tjener </a> </td>
																				<td> <a href="../elements/8b393849-384c-4188-adde-dc907b6da1f0.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html" target="element"> Datatilbyders publiseringsl&#248;sning </a> </td>
																				<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/353599cd-2934-4651-8c55-e701937a0555.html" target="element"> publiserer </a> </td>
																				<td> <a href="../elements/353599cd-2934-4651-8c55-e701937a0555.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																				<td> <a href="../elements/b1e5e3e7-d970-4a4a-aca7-1f07eafd34ca.html" target="element"> Hendelsesstr&#248;m </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/baacd1be-d2a0-476c-abb1-83a3b9921d53.html" target="element">  </a> </td>
																		<td> <a href="../elements/baacd1be-d2a0-476c-abb1-83a3b9921d53.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/484ed6c7-a0f3-4e2a-9e5a-942ad4769309.html" target="element"> Konsument </a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/baacd1be-d2a0-476c-abb1-83a3b9921d53.html" target="element">  </a> </td>
																		<td> <a href="../elements/baacd1be-d2a0-476c-abb1-83a3b9921d53.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/484ed6c7-a0f3-4e2a-9e5a-942ad4769309.html" target="element"> Konsument </a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3e68580f-855f-4567-8eae-29a34e733421.html" target="element">  </a> </td>
																		<td> <a href="../elements/3e68580f-855f-4567-8eae-29a34e733421.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/484ed6c7-a0f3-4e2a-9e5a-942ad4769309.html" target="element"> Konsument </a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/30e4b466-7768-4a7a-9896-8f481b93d766.html" target="element">  </a> </td>
																		<td> <a href="../elements/30e4b466-7768-4a7a-9896-8f481b93d766.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/484ed6c7-a0f3-4e2a-9e5a-942ad4769309.html" target="element"> Konsument </a> </td>
																		<td> <a href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html" target="element"> Datakonsuments l&#248;sning for innhenting av publiserte data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3e68580f-855f-4567-8eae-29a34e733421.html" target="element">  </a> </td>
																		<td> <a href="../elements/3e68580f-855f-4567-8eae-29a34e733421.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/484ed6c7-a0f3-4e2a-9e5a-942ad4769309.html" target="element"> Konsument </a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/6efbed01-04d0-4606-8de1-e3f4f9ae0253.html" target="element"> leser </a> </td>
																				<td> <a href="../elements/6efbed01-04d0-4606-8de1-e3f4f9ae0253.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html" target="element"> Datakonsuments l&#248;sning for innhenting av publiserte data </a> </td>
																				<td> <a href="../elements/3b65ddac-3520-4dee-9d13-700e449cdff9.html" target="element"> Hendelsesliste </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/4aa4f342-6c13-4d6a-b622-dfe01edd9952.html" target="element">  </a> </td>
																				<td> <a href="../elements/4aa4f342-6c13-4d6a-b622-dfe01edd9952.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html" target="element"> Datakonsuments l&#248;sning for innhenting av publiserte data </a> </td>
																				<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/90fc0d6e-fadc-4eec-b8d4-6e642442efcb.html" target="element"> konsumerer </a> </td>
																				<td> <a href="../elements/90fc0d6e-fadc-4eec-b8d4-6e642442efcb.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																				<td> <a href="../elements/b1e5e3e7-d970-4a4a-aca7-1f07eafd34ca.html" target="element"> Hendelsesstr&#248;m </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>