<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Konsument-roller</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Konsument-roller</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/eb0859af-c6cc-44fe-874e-cf9c6e6e3646.png" alt="Konsument-roller" usemap="#eb0859af-c6cc-44fe-874e-cf9c6e6e3646map"/>
			   <map name="eb0859af-c6cc-44fe-874e-cf9c6e6e3646map">
				  		<area shape="rect" coords="1436,500,1702,642" href="../elements/3e399723-fb54-4f28-a807-aaf454d01a05.html"  target="element">
				  		<area shape="rect" coords="1100,500,1366,642" href="../elements/3046495f-c72d-44ae-81a8-86e110d4f415.html"  target="element">
				  		<area shape="rect" coords="788,500,1054,642" href="../elements/0da7b474-5c7d-49e3-a89c-0ef6c1f4a206.html"  target="element">
				  		<area shape="rect" coords="1100,236,1366,378" href="../elements/f8ddf1f5-f83f-474d-8102-9e9edb029dd6.html"  target="element">
				  		<area shape="rect" coords="20,452,286,594" href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html"  target="element">
				  		<area shape="rect" coords="20,236,286,378" href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html"  target="element">
				  		<area shape="rect" coords="788,236,1054,378" href="../elements/6833b2d5-fc70-4ad6-957c-2a07aa453a82.html"  target="element">
				  		<area shape="rect" coords="400,236,676,378" href="../elements/18446933-ce96-4569-aecc-d5d53de63f5f.html"  target="element">
				  		<area shape="rect" coords="404,20,670,162" href="../elements/ac1c6456-2123-4f59-bbcb-5c78eecf55ce.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Konsument-roller</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap">nab_arkitekturlandskap_segmentarkitektur_datadeling_roller</td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/ac1c6456-2123-4f59-bbcb-5c78eecf55ce.html" target="element"> Konsument </a> </td>
											    <td> <a href="../elements/ac1c6456-2123-4f59-bbcb-5c78eecf55ce.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/18446933-ce96-4569-aecc-d5d53de63f5f.html" target="element"> API-konsument (design time) </a> </td>
											    <td> <a href="../elements/18446933-ce96-4569-aecc-d5d53de63f5f.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6833b2d5-fc70-4ad6-957c-2a07aa453a82.html" target="element"> Tjenestekonsument </a> </td>
											    <td> <a href="../elements/6833b2d5-fc70-4ad6-957c-2a07aa453a82.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
											    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html" target="element"> Mottaker </a> </td>
											    <td> <a href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f8ddf1f5-f83f-474d-8102-9e9edb029dd6.html" target="element"> Abonnent </a> </td>
											    <td> <a href="../elements/f8ddf1f5-f83f-474d-8102-9e9edb029dd6.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0da7b474-5c7d-49e3-a89c-0ef6c1f4a206.html" target="element"> Abonnent p&#229; forretningsmessige hendelser (vedtak) </a> </td>
											    <td> <a href="../elements/0da7b474-5c7d-49e3-a89c-0ef6c1f4a206.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3046495f-c72d-44ae-81a8-86e110d4f415.html" target="element"> Abonnent p&#229; endrede data </a> </td>
											    <td> <a href="../elements/3046495f-c72d-44ae-81a8-86e110d4f415.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3e399723-fb54-4f28-a807-aaf454d01a05.html" target="element"> Abonnent p&#229; jevnlige tilstandsdata </a> </td>
											    <td> <a href="../elements/3e399723-fb54-4f28-a807-aaf454d01a05.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/7efbda51-c3fd-41d3-8739-3a1dc2a305af.html" target="element">  </a> </td>
																		<td> <a href="../elements/7efbda51-c3fd-41d3-8739-3a1dc2a305af.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/18446933-ce96-4569-aecc-d5d53de63f5f.html" target="element"> API-konsument (design time) </a> </td>
																		<td> <a href="../elements/ac1c6456-2123-4f59-bbcb-5c78eecf55ce.html" target="element"> Konsument </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5ae5e52d-5117-4dc9-acac-83510be2dca4.html" target="element">  </a> </td>
																		<td> <a href="../elements/5ae5e52d-5117-4dc9-acac-83510be2dca4.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/6833b2d5-fc70-4ad6-957c-2a07aa453a82.html" target="element"> Tjenestekonsument </a> </td>
																		<td> <a href="../elements/ac1c6456-2123-4f59-bbcb-5c78eecf55ce.html" target="element"> Konsument </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4fe0cae7-b928-4ce5-84d6-a2f7377c8c90.html" target="element">  </a> </td>
																		<td> <a href="../elements/4fe0cae7-b928-4ce5-84d6-a2f7377c8c90.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																		<td> <a href="../elements/ac1c6456-2123-4f59-bbcb-5c78eecf55ce.html" target="element"> Konsument </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6597f040-35d4-4279-92a3-464efbce2211.html" target="element">  </a> </td>
																		<td> <a href="../elements/6597f040-35d4-4279-92a3-464efbce2211.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html" target="element"> Mottaker </a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/824139ca-1ebd-4811-8062-1ae6d0d3807d.html" target="element">  </a> </td>
																		<td> <a href="../elements/824139ca-1ebd-4811-8062-1ae6d0d3807d.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/f8ddf1f5-f83f-474d-8102-9e9edb029dd6.html" target="element"> Abonnent </a> </td>
																		<td> <a href="../elements/ac1c6456-2123-4f59-bbcb-5c78eecf55ce.html" target="element"> Konsument </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/eddac56b-d541-4dd1-88d5-e3fb21d2d4b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/eddac56b-d541-4dd1-88d5-e3fb21d2d4b3.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/0da7b474-5c7d-49e3-a89c-0ef6c1f4a206.html" target="element"> Abonnent p&#229; forretningsmessige hendelser (vedtak) </a> </td>
																		<td> <a href="../elements/f8ddf1f5-f83f-474d-8102-9e9edb029dd6.html" target="element"> Abonnent </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/94c7cada-29ac-4c3a-ae8c-96048dc3ac46.html" target="element">  </a> </td>
																		<td> <a href="../elements/94c7cada-29ac-4c3a-ae8c-96048dc3ac46.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/3046495f-c72d-44ae-81a8-86e110d4f415.html" target="element"> Abonnent p&#229; endrede data </a> </td>
																		<td> <a href="../elements/f8ddf1f5-f83f-474d-8102-9e9edb029dd6.html" target="element"> Abonnent </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/813743df-f52d-449e-a391-c1a8a1b1eebe.html" target="element">  </a> </td>
																		<td> <a href="../elements/813743df-f52d-449e-a391-c1a8a1b1eebe.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/3e399723-fb54-4f28-a807-aaf454d01a05.html" target="element"> Abonnent p&#229; jevnlige tilstandsdata </a> </td>
																		<td> <a href="../elements/f8ddf1f5-f83f-474d-8102-9e9edb029dd6.html" target="element"> Abonnent </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>