<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Abstraksjon - interface</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Abstraksjon - interface</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/edbc078e-6f87-41cf-9bf9-dbf9103709cc.png" alt="Abstraksjon - interface" usemap="#edbc078e-6f87-41cf-9bf9-dbf9103709ccmap"/>
			   <map name="edbc078e-6f87-41cf-9bf9-dbf9103709ccmap">
				  		<area shape="rect" coords="668,528,934,670" href="../elements/6a3d5a88-ccbd-4da1-8dc0-6343a67cbfd2.html"  target="element">
				  		<area shape="rect" coords="668,276,934,418" href="../elements/da610c26-e273-4bb8-ae7b-1b9cc5302c18.html"  target="element">
				  		<area shape="rect" coords="20,528,286,670" href="../elements/879bbd81-e3b0-4d06-afae-924e11a1207f.html"  target="element">
				  		<area shape="rect" coords="20,276,286,418" href="../elements/00fff7fa-2869-4292-9563-a065c69fca2d.html"  target="element">
				  		<area shape="rect" coords="332,528,598,670" href="../elements/01e64515-56d4-40dc-b2e7-fd3bb36fd303.html"  target="element">
				  		<area shape="rect" coords="332,20,598,162" href="../elements/9b3c9384-3667-4422-ae25-c0d8aa84d58e.html"  target="element">
				  		<area shape="rect" coords="668,20,934,162" href="../elements/e67fbea1-60ae-4f9f-bdfc-833684536859.html"  target="element">
				  		<area shape="rect" coords="20,20,286,162" href="../elements/f12fab7f-d37a-4157-a275-96f89334bd46.html"  target="element">
				  		<area shape="rect" coords="332,276,598,418" href="../elements/04ea10d8-a228-4692-a558-ece219f8aa62.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Abstraksjon - ABB, SBB, INSTANCE</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap">nab_referanse_modelleringskonvensjoner</td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/04ea10d8-a228-4692-a558-ece219f8aa62.html" target="element"> Application Interface SBB </a> </td>
											    <td> <a href="../elements/04ea10d8-a228-4692-a558-ece219f8aa62.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f12fab7f-d37a-4157-a275-96f89334bd46.html" target="element"> Business Interface ABB </a> </td>
											    <td> <a href="../elements/f12fab7f-d37a-4157-a275-96f89334bd46.html" target="element" class="i18n-elementtype-BusinessInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e67fbea1-60ae-4f9f-bdfc-833684536859.html" target="element"> Technology Interface ABB </a> </td>
											    <td> <a href="../elements/e67fbea1-60ae-4f9f-bdfc-833684536859.html" target="element" class="i18n-elementtype-TechnologyInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9b3c9384-3667-4422-ae25-c0d8aa84d58e.html" target="element"> Application Interface ABB </a> </td>
											    <td> <a href="../elements/9b3c9384-3667-4422-ae25-c0d8aa84d58e.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/01e64515-56d4-40dc-b2e7-fd3bb36fd303.html" target="element"> Application Interface INSTANCE </a> </td>
											    <td> <a href="../elements/01e64515-56d4-40dc-b2e7-fd3bb36fd303.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/00fff7fa-2869-4292-9563-a065c69fca2d.html" target="element"> Business Interface SBB </a> </td>
											    <td> <a href="../elements/00fff7fa-2869-4292-9563-a065c69fca2d.html" target="element" class="i18n-elementtype-BusinessInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/879bbd81-e3b0-4d06-afae-924e11a1207f.html" target="element"> Business Interface INTSTANCE </a> </td>
											    <td> <a href="../elements/879bbd81-e3b0-4d06-afae-924e11a1207f.html" target="element" class="i18n-elementtype-BusinessInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/da610c26-e273-4bb8-ae7b-1b9cc5302c18.html" target="element"> Technology Interface SBB </a> </td>
											    <td> <a href="../elements/da610c26-e273-4bb8-ae7b-1b9cc5302c18.html" target="element" class="i18n-elementtype-TechnologyInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6a3d5a88-ccbd-4da1-8dc0-6343a67cbfd2.html" target="element"> Technology Interface INSTANCE </a> </td>
											    <td> <a href="../elements/6a3d5a88-ccbd-4da1-8dc0-6343a67cbfd2.html" target="element" class="i18n-elementtype-TechnologyInterface">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/6aacf5cc-a5e8-43fe-a5df-ed4b64d427b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/6aacf5cc-a5e8-43fe-a5df-ed4b64d427b8.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/04ea10d8-a228-4692-a558-ece219f8aa62.html" target="element"> Application Interface SBB </a> </td>
																		<td> <a href="../elements/9b3c9384-3667-4422-ae25-c0d8aa84d58e.html" target="element"> Application Interface ABB </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2bc5ec22-01ac-4625-82e9-3d74ee8643c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/2bc5ec22-01ac-4625-82e9-3d74ee8643c5.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/01e64515-56d4-40dc-b2e7-fd3bb36fd303.html" target="element"> Application Interface INSTANCE </a> </td>
																		<td> <a href="../elements/04ea10d8-a228-4692-a558-ece219f8aa62.html" target="element"> Application Interface SBB </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/fe2ee8c1-8fc4-4de0-a480-306feac17c5f.html" target="element">  </a> </td>
																		<td> <a href="../elements/fe2ee8c1-8fc4-4de0-a480-306feac17c5f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/00fff7fa-2869-4292-9563-a065c69fca2d.html" target="element"> Business Interface SBB </a> </td>
																		<td> <a href="../elements/f12fab7f-d37a-4157-a275-96f89334bd46.html" target="element"> Business Interface ABB </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ac189dc1-84ef-4ef5-ba24-f795653a1644.html" target="element">  </a> </td>
																		<td> <a href="../elements/ac189dc1-84ef-4ef5-ba24-f795653a1644.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/879bbd81-e3b0-4d06-afae-924e11a1207f.html" target="element"> Business Interface INTSTANCE </a> </td>
																		<td> <a href="../elements/00fff7fa-2869-4292-9563-a065c69fca2d.html" target="element"> Business Interface SBB </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/bf265785-941c-4ae0-af6d-67cef77f5e9b.html" target="element">  </a> </td>
																		<td> <a href="../elements/bf265785-941c-4ae0-af6d-67cef77f5e9b.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/da610c26-e273-4bb8-ae7b-1b9cc5302c18.html" target="element"> Technology Interface SBB </a> </td>
																		<td> <a href="../elements/e67fbea1-60ae-4f9f-bdfc-833684536859.html" target="element"> Technology Interface ABB </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b0900fed-85a0-4758-95e9-53762e53643f.html" target="element">  </a> </td>
																		<td> <a href="../elements/b0900fed-85a0-4758-95e9-53762e53643f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/6a3d5a88-ccbd-4da1-8dc0-6343a67cbfd2.html" target="element"> Technology Interface INSTANCE </a> </td>
																		<td> <a href="../elements/da610c26-e273-4bb8-ae7b-1b9cc5302c18.html" target="element"> Technology Interface SBB </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>