<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Firehjørnersmodell og fellesskap</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Firehj&#248;rnersmodell og fellesskap</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/fe25e559-efea-4454-808f-784431b35615.png" alt="Firehjørnersmodell og fellesskap" usemap="#fe25e559-efea-4454-808f-784431b35615map"/>
			   <map name="fe25e559-efea-4454-808f-784431b35615map">
				  		<area shape="rect" coords="208,20,474,162" href="../elements/6c22a081-9014-42bd-a95d-3418fa9d8677.html"  target="element">
				  		<area shape="rect" coords="1236,20,1234,18" href="../elements/b45c85a9-1c44-4519-9b47-81aa869541c9.html"  target="element">
				  		<area shape="rect" coords="1236,716,1512,858" href="../elements/499badbe-dc23-4d46-8a6b-c6775b4f03be.html"  target="element">
				  		<area shape="rect" coords="208,716,484,858" href="../elements/1fa6f431-d0f3-441b-a473-19cccb9152f8.html"  target="element">
				  		<area shape="rect" coords="218,500,484,642" href="../elements/2560daad-d445-4eca-9ec7-a5cac5188b45.html"  target="element">
				  		<area shape="rect" coords="1240,500,1506,642" href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html"  target="element">
				  		<area shape="rect" coords="738,20,1004,162" href="../elements/8cb74928-d6d9-40b5-99e2-b1b400f82228.html"  target="element">
				  		<area shape="rect" coords="738,284,1004,426" href="../elements/49e7cf6b-94ce-46a2-aa32-589a30f373c0.html"  target="element">
				  				<area shape="rect" coords="1242,1316,1518,1458" href="../elements/ec5cde55-f663-432f-8eff-c73b687ad915.html"  target="element">
				  				<area shape="rect" coords="1242,1100,1518,1242" href="../elements/fe56235b-73d3-4918-9d98-e0bb03af9e91.html"  target="element">

				  		<area shape="rect" coords="1170,980,1576,1486" href="../elements/81e63d87-5e5b-4d80-ad5f-0eecf5cc3b8a.html"  target="element">
				  				<area shape="rect" coords="196,1316,472,1458" href="../elements/8632cc9b-ad16-43e4-a28d-501a4828288f.html"  target="element">
				  				<area shape="rect" coords="216,1100,492,1242" href="../elements/0d10ebef-fde4-452e-933e-2b26b2b8d844.html"  target="element">

				  		<area shape="rect" coords="148,980,554,1486" href="../elements/f185e4d0-20cf-49e0-9cc6-790614eb33e3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Firehj&#248;rnersmodell og fellesskap</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/f185e4d0-20cf-49e0-9cc6-790614eb33e3.html" target="element"> Avsenders kommunikasjons-l&#248;sning </a> </td>
											    <td> <a href="../elements/f185e4d0-20cf-49e0-9cc6-790614eb33e3.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/0d10ebef-fde4-452e-933e-2b26b2b8d844.html" target="element"> Avsenders system (hj&#248;rne 1) </a> </td>
													    <td> <a href="../elements/0d10ebef-fde4-452e-933e-2b26b2b8d844.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8632cc9b-ad16-43e4-a28d-501a4828288f.html" target="element"> Avsenders aksesspunkt  (hj&#248;rne 2) </a> </td>
													    <td> <a href="../elements/8632cc9b-ad16-43e4-a28d-501a4828288f.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/81e63d87-5e5b-4d80-ad5f-0eecf5cc3b8a.html" target="element"> Mottakers kommunikasjons-l&#248;sning </a> </td>
											    <td> <a href="../elements/81e63d87-5e5b-4d80-ad5f-0eecf5cc3b8a.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/fe56235b-73d3-4918-9d98-e0bb03af9e91.html" target="element"> Mottakers system (hj&#248;rne 4) </a> </td>
													    <td> <a href="../elements/fe56235b-73d3-4918-9d98-e0bb03af9e91.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ec5cde55-f663-432f-8eff-c73b687ad915.html" target="element"> Mottakers aksesspunkt (hj&#248;rne 3) </a> </td>
													    <td> <a href="../elements/ec5cde55-f663-432f-8eff-c73b687ad915.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/49e7cf6b-94ce-46a2-aa32-589a30f373c0.html" target="element"> Samhandlingsavtale  </a> </td>
											    <td> <a href="../elements/49e7cf6b-94ce-46a2-aa32-589a30f373c0.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8cb74928-d6d9-40b5-99e2-b1b400f82228.html" target="element"> Avtaleforvalter </a> </td>
											    <td> <a href="../elements/8cb74928-d6d9-40b5-99e2-b1b400f82228.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html" target="element"> Mottaker </a> </td>
											    <td> <a href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2560daad-d445-4eca-9ec7-a5cac5188b45.html" target="element"> Avsender  </a> </td>
											    <td> <a href="../elements/2560daad-d445-4eca-9ec7-a5cac5188b45.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1fa6f431-d0f3-441b-a473-19cccb9152f8.html" target="element"> Send melding </a> </td>
											    <td> <a href="../elements/1fa6f431-d0f3-441b-a473-19cccb9152f8.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/499badbe-dc23-4d46-8a6b-c6775b4f03be.html" target="element"> Motta melding </a> </td>
											    <td> <a href="../elements/499badbe-dc23-4d46-8a6b-c6775b4f03be.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b45c85a9-1c44-4519-9b47-81aa869541c9.html" target="element"> Aksesspunktleverand&#248;r (konsument) </a> </td>
											    <td> <a href="../elements/b45c85a9-1c44-4519-9b47-81aa869541c9.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6c22a081-9014-42bd-a95d-3418fa9d8677.html" target="element"> Aksesspunktleverand&#248;r (tilbyder) </a> </td>
											    <td> <a href="../elements/6c22a081-9014-42bd-a95d-3418fa9d8677.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/e3fef072-e4bd-4108-b1a3-9bd148c03124.html" target="element"> realiserer </a> </td>
																		<td> <a href="../elements/e3fef072-e4bd-4108-b1a3-9bd148c03124.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/f185e4d0-20cf-49e0-9cc6-790614eb33e3.html" target="element"> Avsenders kommunikasjons-l&#248;sning </a> </td>
																		<td> <a href="../elements/1fa6f431-d0f3-441b-a473-19cccb9152f8.html" target="element"> Send melding </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fb43d910-4ca7-4751-af3a-f724763902e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/fb43d910-4ca7-4751-af3a-f724763902e7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/f185e4d0-20cf-49e0-9cc6-790614eb33e3.html" target="element"> Avsenders kommunikasjons-l&#248;sning </a> </td>
																		<td> <a href="../elements/0d10ebef-fde4-452e-933e-2b26b2b8d844.html" target="element"> Avsenders system (hj&#248;rne 1) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5c6a6e57-f319-48bb-ba72-124455902b76.html" target="element">  </a> </td>
																		<td> <a href="../elements/5c6a6e57-f319-48bb-ba72-124455902b76.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/f185e4d0-20cf-49e0-9cc6-790614eb33e3.html" target="element"> Avsenders kommunikasjons-l&#248;sning </a> </td>
																		<td> <a href="../elements/8632cc9b-ad16-43e4-a28d-501a4828288f.html" target="element"> Avsenders aksesspunkt  (hj&#248;rne 2) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/913d4d1e-3d5c-4a9e-a36d-b30c06568dbb.html" target="element"> dataflyt avsenders protokoll) </a> </td>
																				<td> <a href="../elements/913d4d1e-3d5c-4a9e-a36d-b30c06568dbb.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/0d10ebef-fde4-452e-933e-2b26b2b8d844.html" target="element"> Avsenders system (hj&#248;rne 1) </a> </td>
																				<td> <a href="../elements/8632cc9b-ad16-43e4-a28d-501a4828288f.html" target="element"> Avsenders aksesspunkt  (hj&#248;rne 2) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/b75e8aff-a7a3-46c8-8f01-06f19e475877.html" target="element"> dataflyt (standardprotokoll, sikret) </a> </td>
																				<td> <a href="../elements/b75e8aff-a7a3-46c8-8f01-06f19e475877.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/8632cc9b-ad16-43e4-a28d-501a4828288f.html" target="element"> Avsenders aksesspunkt  (hj&#248;rne 2) </a> </td>
																				<td> <a href="../elements/ec5cde55-f663-432f-8eff-c73b687ad915.html" target="element"> Mottakers aksesspunkt (hj&#248;rne 3) </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/70cb4704-119d-4624-91c2-cbdedffa93b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/70cb4704-119d-4624-91c2-cbdedffa93b1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/81e63d87-5e5b-4d80-ad5f-0eecf5cc3b8a.html" target="element"> Mottakers kommunikasjons-l&#248;sning </a> </td>
																		<td> <a href="../elements/ec5cde55-f663-432f-8eff-c73b687ad915.html" target="element"> Mottakers aksesspunkt (hj&#248;rne 3) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f5fb165b-63a3-47e1-8e4e-9eddd082de7c.html" target="element"> realiserer </a> </td>
																		<td> <a href="../elements/f5fb165b-63a3-47e1-8e4e-9eddd082de7c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/81e63d87-5e5b-4d80-ad5f-0eecf5cc3b8a.html" target="element"> Mottakers kommunikasjons-l&#248;sning </a> </td>
																		<td> <a href="../elements/499badbe-dc23-4d46-8a6b-c6775b4f03be.html" target="element"> Motta melding </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f587fdc7-e00c-4b30-b287-113b55df1df9.html" target="element">  </a> </td>
																		<td> <a href="../elements/f587fdc7-e00c-4b30-b287-113b55df1df9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/81e63d87-5e5b-4d80-ad5f-0eecf5cc3b8a.html" target="element"> Mottakers kommunikasjons-l&#248;sning </a> </td>
																		<td> <a href="../elements/fe56235b-73d3-4918-9d98-e0bb03af9e91.html" target="element"> Mottakers system (hj&#248;rne 4) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/41b4f2da-d3c0-424a-bff4-ee60e32c6945.html" target="element"> dataflyt mottakers protokoll) </a> </td>
																				<td> <a href="../elements/41b4f2da-d3c0-424a-bff4-ee60e32c6945.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/ec5cde55-f663-432f-8eff-c73b687ad915.html" target="element"> Mottakers aksesspunkt (hj&#248;rne 3) </a> </td>
																				<td> <a href="../elements/fe56235b-73d3-4918-9d98-e0bb03af9e91.html" target="element"> Mottakers system (hj&#248;rne 4) </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/fb7194ca-facc-49e3-afd5-c65f27154fa2.html" target="element"> anvender </a> </td>
																		<td> <a href="../elements/fb7194ca-facc-49e3-afd5-c65f27154fa2.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html" target="element"> Mottaker </a> </td>
																		<td> <a href="../elements/49e7cf6b-94ce-46a2-aa32-589a30f373c0.html" target="element"> Samhandlingsavtale  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/16259488-8dbf-4c9b-8ce5-6f9a736ce046.html" target="element">  </a> </td>
																		<td> <a href="../elements/16259488-8dbf-4c9b-8ce5-6f9a736ce046.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html" target="element"> Mottaker </a> </td>
																		<td> <a href="../elements/499badbe-dc23-4d46-8a6b-c6775b4f03be.html" target="element"> Motta melding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/beaa0f79-1aac-4440-8b74-f0eaa718dfef.html" target="element">  </a> </td>
																		<td> <a href="../elements/beaa0f79-1aac-4440-8b74-f0eaa718dfef.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/2560daad-d445-4eca-9ec7-a5cac5188b45.html" target="element"> Avsender  </a> </td>
																		<td> <a href="../elements/1fa6f431-d0f3-441b-a473-19cccb9152f8.html" target="element"> Send melding </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f2fe71ca-84f2-4ff6-af6d-7a7f71e5a16c.html" target="element"> anvender </a> </td>
																		<td> <a href="../elements/f2fe71ca-84f2-4ff6-af6d-7a7f71e5a16c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/2560daad-d445-4eca-9ec7-a5cac5188b45.html" target="element"> Avsender  </a> </td>
																		<td> <a href="../elements/49e7cf6b-94ce-46a2-aa32-589a30f373c0.html" target="element"> Samhandlingsavtale  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c5760b21-ab61-40f5-baf0-4d62836dc8b9.html" target="element"> logisk informasjonsflyt </a> </td>
																		<td> <a href="../elements/c5760b21-ab61-40f5-baf0-4d62836dc8b9.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/2560daad-d445-4eca-9ec7-a5cac5188b45.html" target="element"> Avsender  </a> </td>
																		<td> <a href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html" target="element"> Mottaker </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e2af1ba1-87e9-4b11-93f2-9b00f688c69b.html" target="element"> meldingsflyt </a> </td>
																		<td> <a href="../elements/e2af1ba1-87e9-4b11-93f2-9b00f688c69b.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/1fa6f431-d0f3-441b-a473-19cccb9152f8.html" target="element"> Send melding </a> </td>
																		<td> <a href="../elements/499badbe-dc23-4d46-8a6b-c6775b4f03be.html" target="element"> Motta melding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e03f9740-25c7-4569-9077-58711247fae2.html" target="element"> forvalter </a> </td>
																		<td> <a href="../elements/e03f9740-25c7-4569-9077-58711247fae2.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/b45c85a9-1c44-4519-9b47-81aa869541c9.html" target="element"> Aksesspunktleverand&#248;r (konsument) </a> </td>
																		<td> <a href="../elements/ec5cde55-f663-432f-8eff-c73b687ad915.html" target="element"> Mottakers aksesspunkt (hj&#248;rne 3) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6e1a16e6-f067-4e6c-b319-dbf0a2169e73.html" target="element"> anvender </a> </td>
																		<td> <a href="../elements/6e1a16e6-f067-4e6c-b319-dbf0a2169e73.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/b45c85a9-1c44-4519-9b47-81aa869541c9.html" target="element"> Aksesspunktleverand&#248;r (konsument) </a> </td>
																		<td> <a href="../elements/49e7cf6b-94ce-46a2-aa32-589a30f373c0.html" target="element"> Samhandlingsavtale  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a32719f2-99e0-43b8-a31f-a7780b66d1f4.html" target="element"> tjener </a> </td>
																		<td> <a href="../elements/a32719f2-99e0-43b8-a31f-a7780b66d1f4.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/b45c85a9-1c44-4519-9b47-81aa869541c9.html" target="element"> Aksesspunktleverand&#248;r (konsument) </a> </td>
																		<td> <a href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html" target="element"> Mottaker </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3383e120-0372-40f7-80db-f941c6b1f789.html" target="element"> anvender </a> </td>
																		<td> <a href="../elements/3383e120-0372-40f7-80db-f941c6b1f789.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6c22a081-9014-42bd-a95d-3418fa9d8677.html" target="element"> Aksesspunktleverand&#248;r (tilbyder) </a> </td>
																		<td> <a href="../elements/49e7cf6b-94ce-46a2-aa32-589a30f373c0.html" target="element"> Samhandlingsavtale  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/606bce0d-3071-4385-b649-3f7c8ee455f6.html" target="element"> forvalter </a> </td>
																		<td> <a href="../elements/606bce0d-3071-4385-b649-3f7c8ee455f6.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6c22a081-9014-42bd-a95d-3418fa9d8677.html" target="element"> Aksesspunktleverand&#248;r (tilbyder) </a> </td>
																		<td> <a href="../elements/8632cc9b-ad16-43e4-a28d-501a4828288f.html" target="element"> Avsenders aksesspunkt  (hj&#248;rne 2) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/51bc5a32-4c73-43ed-8cdd-6c147b67f6f5.html" target="element"> tjener </a> </td>
																		<td> <a href="../elements/51bc5a32-4c73-43ed-8cdd-6c147b67f6f5.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6c22a081-9014-42bd-a95d-3418fa9d8677.html" target="element"> Aksesspunktleverand&#248;r (tilbyder) </a> </td>
																		<td> <a href="../elements/2560daad-d445-4eca-9ec7-a5cac5188b45.html" target="element"> Avsender  </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>