<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Fra samhandlende aktører til sammenhengende tjenester (copy) (copy) (copy)</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Fra samhandlende akt&#248;rer til sammenhengende tjenester (copy) (copy) (copy)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-05fe080d51ba4a1fb940a195c3e558f1.png" alt="Fra samhandlende aktører til sammenhengende tjenester (copy) (copy) (copy)" usemap="#id-05fe080d51ba4a1fb940a195c3e558f1map"/>
			   <map name="id-05fe080d51ba4a1fb940a195c3e558f1map">
				  				<area shape="rect" coords="152,68,1160,162" href="../elements/id-f7320a28c10c4dba9e2e44e26c9fba41.html"  target="element">

				  		<area shape="rect" coords="32,20,1302,202" href="../elements/id-283fe3db9361499aae94ab6d0582a130.html"  target="element">
				  						<area shape="rect" coords="884,320,970,368" href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html"  target="element">
				  						<area shape="rect" coords="738,320,824,368" href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html"  target="element">
				  						<area shape="rect" coords="810,320,896,368" href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html"  target="element">
				  						<area shape="rect" coords="666,320,752,368" href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html"  target="element">
				  						<area shape="rect" coords="594,320,680,368" href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html"  target="element">
				  						<area shape="rect" coords="524,320,610,368" href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html"  target="element">
				  						<area shape="rect" coords="380,320,466,368" href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html"  target="element">
				  						<area shape="rect" coords="452,320,538,368" href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html"  target="element">
				  						<area shape="rect" coords="308,320,394,368" href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html"  target="element">

				  				<area shape="rect" coords="274,308,1020,380" href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html"  target="element">
				  				<area shape="rect" coords="946,452,1214,562" href="../elements/id-3719db4e32374da3ab60284fda4d12b3.html"  target="element">
				  				<area shape="rect" coords="548,764,742,858" href="../elements/id-d08421a4ccc64fc3ab240ceb1bf1f324.html"  target="element">
				  				<area shape="rect" coords="82,628,276,722" href="../elements/id-c5a29c193929476fb6150b489321a201.html"  target="element">
				  				<area shape="rect" coords="518,620,774,730" href="../elements/id-e2285a90bbfd4b0c98e92987f16ba9f1.html"  target="element">
				  				<area shape="rect" coords="114,604,308,698" href="../elements/id-c5a29c193929476fb6150b489321a201.html"  target="element">
				  				<area shape="rect" coords="1018,628,1212,722" href="../elements/id-3b0af6f3a20647efb993679c0c691f2c.html"  target="element">
				  				<area shape="rect" coords="1042,604,1236,698" href="../elements/id-3b0af6f3a20647efb993679c0c691f2c.html"  target="element">
				  				<area shape="rect" coords="982,428,1250,538" href="../elements/id-3719db4e32374da3ab60284fda4d12b3.html"  target="element">
				  				<area shape="rect" coords="512,452,780,562" href="../elements/id-98ffd0a2cb1b4c0587727d933da62a56.html"  target="element">
				  				<area shape="rect" coords="58,452,326,562" href="../elements/id-a4d074dacefd47269a49c44c7771480f.html"  target="element">
				  				<area shape="rect" coords="78,428,346,538" href="../elements/id-a4d074dacefd47269a49c44c7771480f.html"  target="element">

				  		<area shape="rect" coords="20,236,1290,922" href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
											    <td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element" class="i18n-elementtype-BusinessCollaboration">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a4d074dacefd47269a49c44c7771480f.html" target="element"> Foreg&#229;ende ledd i tjenestekjede </a> </td>
													    <td> <a href="../elements/id-a4d074dacefd47269a49c44c7771480f.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a4d074dacefd47269a49c44c7771480f.html" target="element"> Foreg&#229;ende ledd i tjenestekjede </a> </td>
													    <td> <a href="../elements/id-a4d074dacefd47269a49c44c7771480f.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-98ffd0a2cb1b4c0587727d933da62a56.html" target="element"> Samhandlingsakt&#248;r </a> </td>
													    <td> <a href="../elements/id-98ffd0a2cb1b4c0587727d933da62a56.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3719db4e32374da3ab60284fda4d12b3.html" target="element"> Neste ledd i tjenestekjede </a> </td>
													    <td> <a href="../elements/id-3719db4e32374da3ab60284fda4d12b3.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3b0af6f3a20647efb993679c0c691f2c.html" target="element"> Utg&#229;ende hendelser </a> </td>
													    <td> <a href="../elements/id-3b0af6f3a20647efb993679c0c691f2c.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3b0af6f3a20647efb993679c0c691f2c.html" target="element"> Utg&#229;ende hendelser </a> </td>
													    <td> <a href="../elements/id-3b0af6f3a20647efb993679c0c691f2c.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c5a29c193929476fb6150b489321a201.html" target="element"> Inng&#229;ende hendelser </a> </td>
													    <td> <a href="../elements/id-c5a29c193929476fb6150b489321a201.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e2285a90bbfd4b0c98e92987f16ba9f1.html" target="element"> Prosesseringssteg </a> </td>
													    <td> <a href="../elements/id-e2285a90bbfd4b0c98e92987f16ba9f1.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c5a29c193929476fb6150b489321a201.html" target="element"> Inng&#229;ende hendelser </a> </td>
													    <td> <a href="../elements/id-c5a29c193929476fb6150b489321a201.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d08421a4ccc64fc3ab240ceb1bf1f324.html" target="element"> Lagrede data </a> </td>
													    <td> <a href="../elements/id-d08421a4ccc64fc3ab240ceb1bf1f324.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3719db4e32374da3ab60284fda4d12b3.html" target="element"> Neste ledd i tjenestekjede </a> </td>
													    <td> <a href="../elements/id-3719db4e32374da3ab60284fda4d12b3.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
															    <td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
															    <td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
															    <td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
															    <td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
															    <td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
															    <td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
															    <td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
															    <td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
															    <td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-283fe3db9361499aae94ab6d0582a130.html" target="element"> Bruker (samhandlingsakt&#248;r) </a> </td>
											    <td> <a href="../elements/id-283fe3db9361499aae94ab6d0582a130.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f7320a28c10c4dba9e2e44e26c9fba41.html" target="element"> Egen prosess (brukerreise) </a> </td>
													    <td> <a href="../elements/id-f7320a28c10c4dba9e2e44e26c9fba41.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-e0ce03dc59a548b7b3940dfab87f7496.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e0ce03dc59a548b7b3940dfab87f7496.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-c5a29c193929476fb6150b489321a201.html" target="element"> Inng&#229;ende hendelser </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ee4604ad0553473c96b2e6d00522b763.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ee4604ad0553473c96b2e6d00522b763.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-283fe3db9361499aae94ab6d0582a130.html" target="element"> Bruker (samhandlingsakt&#248;r) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8207bb77520a4de08ea1063e6da21076.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8207bb77520a4de08ea1063e6da21076.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-c5a29c193929476fb6150b489321a201.html" target="element"> Inng&#229;ende hendelser </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ff46c273ce5f46e998fe329ab14a5353.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ff46c273ce5f46e998fe329ab14a5353.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-98ffd0a2cb1b4c0587727d933da62a56.html" target="element"> Samhandlingsakt&#248;r </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-be88682173074b08bf1f6924a0b19cd3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-be88682173074b08bf1f6924a0b19cd3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-3719db4e32374da3ab60284fda4d12b3.html" target="element"> Neste ledd i tjenestekjede </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-270613e784a4458ab8766ac108c709db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-270613e784a4458ab8766ac108c709db.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-a4d074dacefd47269a49c44c7771480f.html" target="element"> Foreg&#229;ende ledd i tjenestekjede </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-342cffcb95f44df4a86e8e07478c5fac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-342cffcb95f44df4a86e8e07478c5fac.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-3719db4e32374da3ab60284fda4d12b3.html" target="element"> Neste ledd i tjenestekjede </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a8d164c5f74c46eab0486092f902f715.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a8d164c5f74c46eab0486092f902f715.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-a4d074dacefd47269a49c44c7771480f.html" target="element"> Foreg&#229;ende ledd i tjenestekjede </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a7fe220b9f9044c0915d5b0bebace348.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a7fe220b9f9044c0915d5b0bebace348.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-3b0af6f3a20647efb993679c0c691f2c.html" target="element"> Utg&#229;ende hendelser </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4d67cfe23ffd4c47b6800920c66a7911.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4d67cfe23ffd4c47b6800920c66a7911.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-e2285a90bbfd4b0c98e92987f16ba9f1.html" target="element"> Prosesseringssteg </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5d9892382d6546888500ff3a111de1ac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5d9892382d6546888500ff3a111de1ac.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4a4b2fe0bfce467c9d7b6f013eb0c719.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4a4b2fe0bfce467c9d7b6f013eb0c719.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-3b0af6f3a20647efb993679c0c691f2c.html" target="element"> Utg&#229;ende hendelser </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2d21598f48f44ae4abbb17654fe49eae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2d21598f48f44ae4abbb17654fe49eae.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-d08421a4ccc64fc3ab240ceb1bf1f324.html" target="element"> Lagrede data </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-1760c7c3774a4e49b993a01564ad3377.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1760c7c3774a4e49b993a01564ad3377.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a4d074dacefd47269a49c44c7771480f.html" target="element"> Foreg&#229;ende ledd i tjenestekjede </a> </td>
																				<td> <a href="../elements/id-98ffd0a2cb1b4c0587727d933da62a56.html" target="element"> Samhandlingsakt&#248;r </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-978f540e8ac340f6abdd415918053c99.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-978f540e8ac340f6abdd415918053c99.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a4d074dacefd47269a49c44c7771480f.html" target="element"> Foreg&#229;ende ledd i tjenestekjede </a> </td>
																				<td> <a href="../elements/id-c5a29c193929476fb6150b489321a201.html" target="element"> Inng&#229;ende hendelser </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e4309b0d4d8546ec8ca880bb5261d5f3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e4309b0d4d8546ec8ca880bb5261d5f3.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-98ffd0a2cb1b4c0587727d933da62a56.html" target="element"> Samhandlingsakt&#248;r </a> </td>
																				<td> <a href="../elements/id-3719db4e32374da3ab60284fda4d12b3.html" target="element"> Neste ledd i tjenestekjede </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c7120513dc56482a8cd5d330fe2f7400.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c7120513dc56482a8cd5d330fe2f7400.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-98ffd0a2cb1b4c0587727d933da62a56.html" target="element"> Samhandlingsakt&#248;r </a> </td>
																				<td> <a href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7b3c1c8f8f074f4c80f55e6505bae2a6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7b3c1c8f8f074f4c80f55e6505bae2a6.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-98ffd0a2cb1b4c0587727d933da62a56.html" target="element"> Samhandlingsakt&#248;r </a> </td>
																				<td> <a href="../elements/id-e2285a90bbfd4b0c98e92987f16ba9f1.html" target="element"> Prosesseringssteg </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-96f4ebf541ac4b048b8f3d1f787b33a9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-96f4ebf541ac4b048b8f3d1f787b33a9.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3b0af6f3a20647efb993679c0c691f2c.html" target="element"> Utg&#229;ende hendelser </a> </td>
																				<td> <a href="../elements/id-3719db4e32374da3ab60284fda4d12b3.html" target="element"> Neste ledd i tjenestekjede </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c53d4d8cbee246a381a0cd631130431e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c53d4d8cbee246a381a0cd631130431e.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e2285a90bbfd4b0c98e92987f16ba9f1.html" target="element"> Prosesseringssteg </a> </td>
																				<td> <a href="../elements/id-d08421a4ccc64fc3ab240ceb1bf1f324.html" target="element"> Lagrede data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-84df3a5f08b742d1aa81ba5844a2247e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-84df3a5f08b742d1aa81ba5844a2247e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e2285a90bbfd4b0c98e92987f16ba9f1.html" target="element"> Prosesseringssteg </a> </td>
																				<td> <a href="../elements/id-3b0af6f3a20647efb993679c0c691f2c.html" target="element"> Utg&#229;ende hendelser </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6c186b88a4984814b007104dd574808e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6c186b88a4984814b007104dd574808e.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e2285a90bbfd4b0c98e92987f16ba9f1.html" target="element"> Prosesseringssteg </a> </td>
																				<td> <a href="../elements/id-d08421a4ccc64fc3ab240ceb1bf1f324.html" target="element"> Lagrede data </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-abc5dcc765c344adaeee6edd9eea5ca0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-abc5dcc765c344adaeee6edd9eea5ca0.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c5a29c193929476fb6150b489321a201.html" target="element"> Inng&#229;ende hendelser </a> </td>
																				<td> <a href="../elements/id-e2285a90bbfd4b0c98e92987f16ba9f1.html" target="element"> Prosesseringssteg </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9e49bdf25ea54358a543641713119b44.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9e49bdf25ea54358a543641713119b44.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-47b132adc34a4bd9bd867a7ae6cb4065.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-47b132adc34a4bd9bd867a7ae6cb4065.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-788ecb19b37c4a3684118d2f4d01c66f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-788ecb19b37c4a3684118d2f4d01c66f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9e49bdf25ea54358a543641713119b44.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9e49bdf25ea54358a543641713119b44.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9e49bdf25ea54358a543641713119b44.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9e49bdf25ea54358a543641713119b44.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-788ecb19b37c4a3684118d2f4d01c66f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-788ecb19b37c4a3684118d2f4d01c66f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cb0b1d8eb8d3459d84e550e87f0bba09.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cb0b1d8eb8d3459d84e550e87f0bba09.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cb0b1d8eb8d3459d84e550e87f0bba09.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cb0b1d8eb8d3459d84e550e87f0bba09.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-788ecb19b37c4a3684118d2f4d01c66f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-788ecb19b37c4a3684118d2f4d01c66f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9e49bdf25ea54358a543641713119b44.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9e49bdf25ea54358a543641713119b44.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-47b132adc34a4bd9bd867a7ae6cb4065.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-47b132adc34a4bd9bd867a7ae6cb4065.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-47b132adc34a4bd9bd867a7ae6cb4065.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-47b132adc34a4bd9bd867a7ae6cb4065.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cb0b1d8eb8d3459d84e550e87f0bba09.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cb0b1d8eb8d3459d84e550e87f0bba09.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9e49bdf25ea54358a543641713119b44.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9e49bdf25ea54358a543641713119b44.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-788ecb19b37c4a3684118d2f4d01c66f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-788ecb19b37c4a3684118d2f4d01c66f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-47b132adc34a4bd9bd867a7ae6cb4065.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-47b132adc34a4bd9bd867a7ae6cb4065.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9e49bdf25ea54358a543641713119b44.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9e49bdf25ea54358a543641713119b44.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cb0b1d8eb8d3459d84e550e87f0bba09.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cb0b1d8eb8d3459d84e550e87f0bba09.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-788ecb19b37c4a3684118d2f4d01c66f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-788ecb19b37c4a3684118d2f4d01c66f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cb0b1d8eb8d3459d84e550e87f0bba09.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cb0b1d8eb8d3459d84e550e87f0bba09.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-47b132adc34a4bd9bd867a7ae6cb4065.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-47b132adc34a4bd9bd867a7ae6cb4065.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-47b132adc34a4bd9bd867a7ae6cb4065.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-47b132adc34a4bd9bd867a7ae6cb4065.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-788ecb19b37c4a3684118d2f4d01c66f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-788ecb19b37c4a3684118d2f4d01c66f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cb0b1d8eb8d3459d84e550e87f0bba09.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cb0b1d8eb8d3459d84e550e87f0bba09.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad53d676d8a14079b47d48906a04f59d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a2a5fe8b6a94b1ca813e2fe7bb96ec3.html" target="element">  </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-808d8783aad64624a25232b981426737.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-808d8783aad64624a25232b981426737.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-283fe3db9361499aae94ab6d0582a130.html" target="element"> Bruker (samhandlingsakt&#248;r) </a> </td>
																		<td> <a href="../elements/id-f7320a28c10c4dba9e2e44e26c9fba41.html" target="element"> Egen prosess (brukerreise) </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>