<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Fellesløsninger for deling av data (Erik 2019)</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Fellesl&#248;sninger for deling av data (Erik 2019)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-1a324e684b2e4db4a840bf8d62747a46.png" alt="Fellesløsninger for deling av data (Erik 2019)" usemap="#id-1a324e684b2e4db4a840bf8d62747a46map"/>
			   <map name="id-1a324e684b2e4db4a840bf8d62747a46map">
				  		<area shape="rect" coords="1580,404,1846,546" href="../elements/id-28f570ecd17347b299eda035bbefc3e7.html"  target="element">
				  		<area shape="rect" coords="956,404,1222,546" href="../elements/id-6a8517937cc44b8ab260b1dfbe188674.html"  target="element">
				  		<area shape="rect" coords="1268,20,1534,162" href="../elements/0160781c-0197-4ade-ae5f-c5973ffaec06.html"  target="element">
				  		<area shape="rect" coords="332,212,598,354" href="../elements/1a85790a-860e-40c4-b1c6-69e80fba3681.html"  target="element">
				  				<area shape="rect" coords="284,812,550,954" href="../elements/id-5a2f24258c734924893c168ac9de3b32.html"  target="element">
				  				<area shape="rect" coords="596,644,862,786" href="../elements/id-e9703d456c7946f797fc728b9cc466ee.html"  target="element">
				  				<area shape="rect" coords="1220,644,1486,786" href="../elements/id-1d7c9fda054d41eea3072614314fcd1d.html"  target="element">
				  				<area shape="rect" coords="596,812,862,954" href="../elements/id-26adfcca05044152811eb5efefa2280f.html"  target="element">
				  				<area shape="rect" coords="1532,644,1798,786" href="../elements/id-116e8aa0e80b466faa67c19fa3cdaec5.html"  target="element">
				  				<area shape="rect" coords="908,644,1174,786" href="../elements/id-768761ab48754daab0799a3ac5a41752.html"  target="element">
				  				<area shape="rect" coords="284,644,550,786" href="../elements/id-675105453d844dcd92c7ff7ab487ff84.html"  target="element">

				  		<area shape="rect" coords="212,572,1846,982" href="../elements/id-28f570ecd17347b299eda035bbefc3e7.html"  target="element">
				  		<area shape="rect" coords="332,404,598,546" href="../elements/94ab0f1e-9004-4991-8560-84253310402d.html"  target="element">
				  		<area shape="rect" coords="956,212,1222,354" href="../elements/949ec5f8-d06f-4d48-978a-c90dcf651980.html"  target="element">
				  		<area shape="rect" coords="1268,212,1534,354" href="../elements/4174245b-78c2-4f40-afa7-ab65c83f0936.html"  target="element">
				  		<area shape="rect" coords="332,20,598,162" href="../elements/3ff4ba14-412e-4ed7-ae21-9ddac955b49f.html"  target="element">
				  		<area shape="rect" coords="20,20,286,162" href="../elements/f62ede33-8269-4ea4-ad18-813afceec80d.html"  target="element">
				  		<area shape="rect" coords="20,404,286,546" href="../elements/cab53c09-b71d-4038-b2b6-bcd0eb6a9c00.html"  target="element">
				  		<area shape="rect" coords="668,404,934,546" href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html"  target="element">
				  		<area shape="rect" coords="644,20,910,162" href="../elements/id-10df0ac5b19d4858b82e7af2afbc777b.html"  target="element">
				  		<area shape="rect" coords="956,20,1222,162" href="../elements/id-960580992c70472497e6cbf494f3f311.html"  target="element">
				  		<area shape="rect" coords="644,212,910,354" href="../elements/5a91af35-a131-4b00-889a-39b929e12c01.html"  target="element">
				  		<area shape="rect" coords="1268,404,1534,546" href="../elements/id-78acd317df784b1eb5a20d64eadfaaf7.html"  target="element">
				  		<area shape="rect" coords="20,212,286,354" href="../elements/id-e1944105a5a84472aee0f673f8a6ecd9.html"  target="element">
				  		<area shape="rect" coords="1580,20,1846,162" href="../elements/id-f18a51711525475cac6fe155074a9012.html"  target="element">
				  		<area shape="rect" coords="1580,212,1846,354" href="../elements/4e271e63-e492-4245-b1f4-f3c4a84629a4.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/4e271e63-e492-4245-b1f4-f3c4a84629a4.html" target="element"> Felles Datakatalog </a> </td>
											    <td> <a href="../elements/4e271e63-e492-4245-b1f4-f3c4a84629a4.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f18a51711525475cac6fe155074a9012.html" target="element"> Digitalarkivet </a> </td>
											    <td> <a href="../elements/id-f18a51711525475cac6fe155074a9012.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e1944105a5a84472aee0f673f8a6ecd9.html" target="element"> Arkivportalen </a> </td>
											    <td> <a href="../elements/id-e1944105a5a84472aee0f673f8a6ecd9.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-78acd317df784b1eb5a20d64eadfaaf7.html" target="element"> FINT </a> </td>
											    <td> <a href="../elements/id-78acd317df784b1eb5a20d64eadfaaf7.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5a91af35-a131-4b00-889a-39b929e12c01.html" target="element"> eInnsyn&#8203; </a> </td>
											    <td> <a href="../elements/5a91af35-a131-4b00-889a-39b929e12c01.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-960580992c70472497e6cbf494f3f311.html" target="element"> Datahotellet </a> </td>
											    <td> <a href="../elements/id-960580992c70472497e6cbf494f3f311.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-10df0ac5b19d4858b82e7af2afbc777b.html" target="element"> Data.altinn.no </a> </td>
											    <td> <a href="../elements/id-10df0ac5b19d4858b82e7af2afbc777b.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html" target="element"> Maskinporten </a> </td>
											    <td> <a href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cab53c09-b71d-4038-b2b6-bcd0eb6a9c00.html" target="element"> ID-porten </a> </td>
											    <td> <a href="../elements/cab53c09-b71d-4038-b2b6-bcd0eb6a9c00.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f62ede33-8269-4ea4-ad18-813afceec80d.html" target="element"> Altinn autorisasjon </a> </td>
											    <td> <a href="../elements/f62ede33-8269-4ea4-ad18-813afceec80d.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3ff4ba14-412e-4ed7-ae21-9ddac955b49f.html" target="element"> Altinn samtykke </a> </td>
											    <td> <a href="../elements/3ff4ba14-412e-4ed7-ae21-9ddac955b49f.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4174245b-78c2-4f40-afa7-ab65c83f0936.html" target="element"> eSignering </a> </td>
											    <td> <a href="../elements/4174245b-78c2-4f40-afa7-ab65c83f0936.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/949ec5f8-d06f-4d48-978a-c90dcf651980.html" target="element"> Elektronisk mottakerregister (ELMA) </a> </td>
											    <td> <a href="../elements/949ec5f8-d06f-4d48-978a-c90dcf651980.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/94ab0f1e-9004-4991-8560-84253310402d.html" target="element"> Kontakt- og reservasjonsregisteret&#8203; for innbyggere (KRR) </a> </td>
											    <td> <a href="../elements/94ab0f1e-9004-4991-8560-84253310402d.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-28f570ecd17347b299eda035bbefc3e7.html" target="element"> FIKS </a> </td>
											    <td> <a href="../elements/id-28f570ecd17347b299eda035bbefc3e7.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-675105453d844dcd92c7ff7ab487ff84.html" target="element"> FIKS-plattformen </a> </td>
													    <td> <a href="../elements/id-675105453d844dcd92c7ff7ab487ff84.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-768761ab48754daab0799a3ac5a41752.html" target="element"> FIKS IO </a> </td>
													    <td> <a href="../elements/id-768761ab48754daab0799a3ac5a41752.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-116e8aa0e80b466faa67c19fa3cdaec5.html" target="element"> FIKS Minside </a> </td>
													    <td> <a href="../elements/id-116e8aa0e80b466faa67c19fa3cdaec5.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-26adfcca05044152811eb5efefa2280f.html" target="element"> FIKS Konfigurasjon </a> </td>
													    <td> <a href="../elements/id-26adfcca05044152811eb5efefa2280f.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1d7c9fda054d41eea3072614314fcd1d.html" target="element"> FIKS SvarUt/SvarInn </a> </td>
													    <td> <a href="../elements/id-1d7c9fda054d41eea3072614314fcd1d.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e9703d456c7946f797fc728b9cc466ee.html" target="element"> FIKS Dokumentlager </a> </td>
													    <td> <a href="../elements/id-e9703d456c7946f797fc728b9cc466ee.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5a2f24258c734924893c168ac9de3b32.html" target="element"> FIKS Folkeregister </a> </td>
													    <td> <a href="../elements/id-5a2f24258c734924893c168ac9de3b32.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/1a85790a-860e-40c4-b1c6-69e80fba3681.html" target="element"> eFormidling </a> </td>
											    <td> <a href="../elements/1a85790a-860e-40c4-b1c6-69e80fba3681.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0160781c-0197-4ade-ae5f-c5973ffaec06.html" target="element"> Digital postkasse til innbyggere (DPI) </a> </td>
											    <td> <a href="../elements/0160781c-0197-4ade-ae5f-c5973ffaec06.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6a8517937cc44b8ab260b1dfbe188674.html" target="element"> Tenor testdatas&#248;k </a> </td>
											    <td> <a href="../elements/id-6a8517937cc44b8ab260b1dfbe188674.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-28f570ecd17347b299eda035bbefc3e7.html" target="element"> FIKS </a> </td>
											    <td> <a href="../elements/id-28f570ecd17347b299eda035bbefc3e7.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-a3c1df3bbed04ce4b9cec2fd3ff4d8e2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a3c1df3bbed04ce4b9cec2fd3ff4d8e2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28f570ecd17347b299eda035bbefc3e7.html" target="element"> FIKS </a> </td>
																		<td> <a href="../elements/id-768761ab48754daab0799a3ac5a41752.html" target="element"> FIKS IO </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6bc9bfefa8394aac926bc5a843ba060b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6bc9bfefa8394aac926bc5a843ba060b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28f570ecd17347b299eda035bbefc3e7.html" target="element"> FIKS </a> </td>
																		<td> <a href="../elements/id-675105453d844dcd92c7ff7ab487ff84.html" target="element"> FIKS-plattformen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d448b4415c1d4977a3765d95548917db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d448b4415c1d4977a3765d95548917db.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28f570ecd17347b299eda035bbefc3e7.html" target="element"> FIKS </a> </td>
																		<td> <a href="../elements/id-e9703d456c7946f797fc728b9cc466ee.html" target="element"> FIKS Dokumentlager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cddd1211bcc3482eb2b40176849876d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cddd1211bcc3482eb2b40176849876d9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28f570ecd17347b299eda035bbefc3e7.html" target="element"> FIKS </a> </td>
																		<td> <a href="../elements/id-116e8aa0e80b466faa67c19fa3cdaec5.html" target="element"> FIKS Minside </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-27aaffa9708c492b8aa9075935cdc280.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-27aaffa9708c492b8aa9075935cdc280.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28f570ecd17347b299eda035bbefc3e7.html" target="element"> FIKS </a> </td>
																		<td> <a href="../elements/id-1d7c9fda054d41eea3072614314fcd1d.html" target="element"> FIKS SvarUt/SvarInn </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-635cb41583bf4cb7a539144a346c05d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-635cb41583bf4cb7a539144a346c05d9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28f570ecd17347b299eda035bbefc3e7.html" target="element"> FIKS </a> </td>
																		<td> <a href="../elements/id-5a2f24258c734924893c168ac9de3b32.html" target="element"> FIKS Folkeregister </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4787e771364440049aa5a87ae8fbf0af.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4787e771364440049aa5a87ae8fbf0af.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28f570ecd17347b299eda035bbefc3e7.html" target="element"> FIKS </a> </td>
																		<td> <a href="../elements/id-26adfcca05044152811eb5efefa2280f.html" target="element"> FIKS Konfigurasjon </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-dd73723da6d041e6bd4a4ea1efd0240f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd73723da6d041e6bd4a4ea1efd0240f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28f570ecd17347b299eda035bbefc3e7.html" target="element"> FIKS </a> </td>
																		<td> <a href="../elements/id-28f570ecd17347b299eda035bbefc3e7.html" target="element"> FIKS </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>