<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Forvaltningsmessige evner</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Forvaltningsmessige evner</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-13269d4090754e9883739a7dbb0dde55.png" alt="Forvaltningsmessige evner" usemap="#id-13269d4090754e9883739a7dbb0dde55map"/>
			   <map name="id-13269d4090754e9883739a7dbb0dde55map">
				  		<area shape="rect" coords="44,980,330,1122" href="../views/id-f32e7006b19945ac989c04e800276fe6.html"  target="view">
				      <!-- Other diagram objects -->
				  				<area shape="rect" coords="760,548,1046,690" href="../elements/id-887b97ab9f5f4f9c8194714fcfbecf2a.html"  target="element">
				  				<area shape="rect" coords="760,332,1046,474" href="../elements/id-506dda231ef54d8ca9f4a076863d0832.html"  target="element">
				  				<area shape="rect" coords="760,752,1046,894" href="../elements/id-be346fe5e7134fcfad66e3dc4647396f.html"  target="element">
				  				<area shape="rect" coords="416,752,702,894" href="../elements/id-4f87a046704c4fb8a8d2374e29d0edad.html"  target="element">
				  				<area shape="rect" coords="80,332,366,474" href="../elements/id-0ed45568c7a84b2ea6fb8da9e8402386.html"  target="element">
				  				<area shape="rect" coords="416,116,702,258" href="../elements/id-53fb36da23b7426da43152bffa3f775e.html"  target="element">
				  				<area shape="rect" coords="80,548,366,690" href="../elements/id-d86b81307deb41378c08dd114a0c87f4.html"  target="element">
				  				<area shape="rect" coords="80,116,366,258" href="../elements/id-8215e2be6e2a42a9b6c48553d9256551.html"  target="element">
				  				<area shape="rect" coords="80,752,366,894" href="../elements/id-e9ba902e414d4231bef7512da672d448.html"  target="element">
				  				<area shape="rect" coords="416,548,702,690" href="../elements/id-8eb0cf8bcb6849e687c8e69ca25dca40.html"  target="element">
				  				<area shape="rect" coords="416,332,702,474" href="../elements/id-eceb89a4644e422488dbc1025be1d775.html"  target="element">
				  				<area shape="rect" coords="770,116,1056,258" href="../elements/id-91a694c6689b4aaba3e67e769a302401.html"  target="element">

				  		<area shape="rect" coords="20,20,1138,922" href="../elements/id-3895d02eb14a4102b80cb550cdcd7473.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-3895d02eb14a4102b80cb550cdcd7473.html" target="element"> Forvaltningsmessige evner </a> </td>
											    <td> <a href="../elements/id-3895d02eb14a4102b80cb550cdcd7473.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-91a694c6689b4aaba3e67e769a302401.html" target="element"> Regelmodellering av lov- og regelverk </a> </td>
													    <td> <a href="../elements/id-91a694c6689b4aaba3e67e769a302401.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-eceb89a4644e422488dbc1025be1d775.html" target="element"> Standardisering av meldingstyper </a> </td>
													    <td> <a href="../elements/id-eceb89a4644e422488dbc1025be1d775.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8eb0cf8bcb6849e687c8e69ca25dca40.html" target="element"> Avtaleinng&#229;else (bilateralt, fellesskap) </a> </td>
													    <td> <a href="../elements/id-8eb0cf8bcb6849e687c8e69ca25dca40.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e9ba902e414d4231bef7512da672d448.html" target="element"> Felles overordnet prosessforl&#248;p </a> </td>
													    <td> <a href="../elements/id-e9ba902e414d4231bef7512da672d448.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8215e2be6e2a42a9b6c48553d9256551.html" target="element"> Prosessmodellering (ink. brukerreiser) </a> </td>
													    <td> <a href="../elements/id-8215e2be6e2a42a9b6c48553d9256551.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d86b81307deb41378c08dd114a0c87f4.html" target="element"> Forvaltningsorgan (standarder, felles avtaler) </a> </td>
													    <td> <a href="../elements/id-d86b81307deb41378c08dd114a0c87f4.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-53fb36da23b7426da43152bffa3f775e.html" target="element"> Regelmodellering </a> </td>
													    <td> <a href="../elements/id-53fb36da23b7426da43152bffa3f775e.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0ed45568c7a84b2ea6fb8da9e8402386.html" target="element"> Felles kjernemodeller </a> </td>
													    <td> <a href="../elements/id-0ed45568c7a84b2ea6fb8da9e8402386.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4f87a046704c4fb8a8d2374e29d0edad.html" target="element"> Felles rollemodell </a> </td>
													    <td> <a href="../elements/id-4f87a046704c4fb8a8d2374e29d0edad.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-be346fe5e7134fcfad66e3dc4647396f.html" target="element"> Prosessforbedring </a> </td>
													    <td> <a href="../elements/id-be346fe5e7134fcfad66e3dc4647396f.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-506dda231ef54d8ca9f4a076863d0832.html" target="element"> Definsjon av basismelding </a> </td>
													    <td> <a href="../elements/id-506dda231ef54d8ca9f4a076863d0832.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-887b97ab9f5f4f9c8194714fcfbecf2a.html" target="element"> L&#248;sningsutvikling </a> </td>
													    <td> <a href="../elements/id-887b97ab9f5f4f9c8194714fcfbecf2a.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../views/id-f32e7006b19945ac989c04e800276fe6.html" target="view"> Overordnet verdistrøm (RA saksbehandling) </a> </td>
											    <td> <a href="../views/id-f32e7006b19945ac989c04e800276fe6.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-768b11c9e4684c0c9f0fb8dc24f965eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-768b11c9e4684c0c9f0fb8dc24f965eb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3895d02eb14a4102b80cb550cdcd7473.html" target="element"> Forvaltningsmessige evner </a> </td>
																		<td> <a href="../elements/id-887b97ab9f5f4f9c8194714fcfbecf2a.html" target="element"> L&#248;sningsutvikling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b210e0dc8210468b810a7f22f9cf9218.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b210e0dc8210468b810a7f22f9cf9218.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3895d02eb14a4102b80cb550cdcd7473.html" target="element"> Forvaltningsmessige evner </a> </td>
																		<td> <a href="../elements/id-8eb0cf8bcb6849e687c8e69ca25dca40.html" target="element"> Avtaleinng&#229;else (bilateralt, fellesskap) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-be2b3e3743a04d0390f41e0ea1105e9b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-be2b3e3743a04d0390f41e0ea1105e9b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3895d02eb14a4102b80cb550cdcd7473.html" target="element"> Forvaltningsmessige evner </a> </td>
																		<td> <a href="../elements/id-91a694c6689b4aaba3e67e769a302401.html" target="element"> Regelmodellering av lov- og regelverk </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-85940b1007124b16a618895549c7f0c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-85940b1007124b16a618895549c7f0c7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3895d02eb14a4102b80cb550cdcd7473.html" target="element"> Forvaltningsmessige evner </a> </td>
																		<td> <a href="../elements/id-4f87a046704c4fb8a8d2374e29d0edad.html" target="element"> Felles rollemodell </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-40f25f56869f4cc4bc1406580076be64.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-40f25f56869f4cc4bc1406580076be64.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3895d02eb14a4102b80cb550cdcd7473.html" target="element"> Forvaltningsmessige evner </a> </td>
																		<td> <a href="../elements/id-e9ba902e414d4231bef7512da672d448.html" target="element"> Felles overordnet prosessforl&#248;p </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2619c77987024efea42f1fcc3de8e641.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2619c77987024efea42f1fcc3de8e641.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3895d02eb14a4102b80cb550cdcd7473.html" target="element"> Forvaltningsmessige evner </a> </td>
																		<td> <a href="../elements/id-0ed45568c7a84b2ea6fb8da9e8402386.html" target="element"> Felles kjernemodeller </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d5e060de066e46f7b02f8bf4396290b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d5e060de066e46f7b02f8bf4396290b4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3895d02eb14a4102b80cb550cdcd7473.html" target="element"> Forvaltningsmessige evner </a> </td>
																		<td> <a href="../elements/id-eceb89a4644e422488dbc1025be1d775.html" target="element"> Standardisering av meldingstyper </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cdfdb3ab27df466cb8f337c2c95a72ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cdfdb3ab27df466cb8f337c2c95a72ce.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3895d02eb14a4102b80cb550cdcd7473.html" target="element"> Forvaltningsmessige evner </a> </td>
																		<td> <a href="../elements/id-53fb36da23b7426da43152bffa3f775e.html" target="element"> Regelmodellering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c3eb0fb80a2e4492a78d49ddafcceb99.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c3eb0fb80a2e4492a78d49ddafcceb99.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3895d02eb14a4102b80cb550cdcd7473.html" target="element"> Forvaltningsmessige evner </a> </td>
																		<td> <a href="../elements/id-8215e2be6e2a42a9b6c48553d9256551.html" target="element"> Prosessmodellering (ink. brukerreiser) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-aa440507a9414fb581ecd13d1da4d8f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aa440507a9414fb581ecd13d1da4d8f7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3895d02eb14a4102b80cb550cdcd7473.html" target="element"> Forvaltningsmessige evner </a> </td>
																		<td> <a href="../elements/id-506dda231ef54d8ca9f4a076863d0832.html" target="element"> Definsjon av basismelding </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0a971e60480147c9b70f1ff9d43574a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0a971e60480147c9b70f1ff9d43574a1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3895d02eb14a4102b80cb550cdcd7473.html" target="element"> Forvaltningsmessige evner </a> </td>
																		<td> <a href="../elements/id-be346fe5e7134fcfad66e3dc4647396f.html" target="element"> Prosessforbedring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a08eda3d8353425caeb18d56cf166f6e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a08eda3d8353425caeb18d56cf166f6e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3895d02eb14a4102b80cb550cdcd7473.html" target="element"> Forvaltningsmessige evner </a> </td>
																		<td> <a href="../elements/id-d86b81307deb41378c08dd114a0c87f4.html" target="element"> Forvaltningsorgan (standarder, felles avtaler) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-112d438fbb2d4dbfa21b89bebb8c9ae9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-112d438fbb2d4dbfa21b89bebb8c9ae9.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0ed45568c7a84b2ea6fb8da9e8402386.html" target="element"> Felles kjernemodeller </a> </td>
																				<td> <a href="../elements/id-eceb89a4644e422488dbc1025be1d775.html" target="element"> Standardisering av meldingstyper </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8d3adacf73244fbc9eb4562160d4471d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8d3adacf73244fbc9eb4562160d4471d.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-506dda231ef54d8ca9f4a076863d0832.html" target="element"> Definsjon av basismelding </a> </td>
																				<td> <a href="../elements/id-eceb89a4644e422488dbc1025be1d775.html" target="element"> Standardisering av meldingstyper </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>