<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Publisering via hendelsesliste</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Publisering via hendelsesliste</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-CanvasModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-CanvasModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-23c0c55e15ff4d1f94755c18e53fa1bf.png" alt="Publisering via hendelsesliste" usemap="#id-23c0c55e15ff4d1f94755c18e53fa1bfmap"/>
			   <map name="id-23c0c55e15ff4d1f94755c18e53fa1bfmap">
				          <area shape="rect" coords="412,70,474,126" href="../objects/id-d6e89caca3124f748d00d3cb5e1c47fb.html" target="element" >
				          <area shape="rect" coords="304,98,368,138" href="../objects/id-4403d52f993344f8b66a9db89af92515.html" target="element" >
				          <area shape="rect" coords="604,72,668,124" href="../objects/id-1c3b1ff35fde4c62a1aa8ab9fb428308.html" target="element" >
				          <area shape="rect" coords="562,28,714,80" href="../objects/id-6b83148fa666489fac00ad25fb5c5245.html" target="element" >
				          <area shape="rect" coords="242,28,390,80" href="../objects/id-605c15bfcdfa4f2ea25d37c439d59fdc.html" target="element" >
				  		        <area shape="rect" coords="724,48,834,146" href="../objects/id-d9c036c9f68f47efb632581a53df7ef0.html" target="element" >

				          <area shape="rect" coords="684,38,864,220" href="../objects/id-2b6caed67c97404f86e9e0b5190bc3d1.html" target="element" >
				          <area shape="rect" coords="284,78,348,118" href="../objects/id-f51eaaf510534a9299e0163c4c007bbc.html" target="element" >
				  		        <area shape="rect" coords="152,40,226,138" href="../objects/id-3b7f14a9010a455e8378c48ee4d4ae4f.html" target="element" >

				          <area shape="rect" coords="102,20,276,176" href="../objects/id-b460cb43711044faae2e387fa2c5c10a.html" target="element" >
				  		        <area shape="rect" coords="714,740,764,796" href="../objects/id-71dc88afe9ec4464bdfaed1997814a17.html" target="element" >
				  		        <area shape="rect" coords="694,720,744,776" href="../objects/id-be856b7b34da4e55925405aa353f9998.html" target="element" >
				  		        <area shape="rect" coords="714,592,764,648" href="../objects/id-ef50cc4a92f647d3ad997328beaf3279.html" target="element" >
				  		        <area shape="rect" coords="694,558,744,614" href="../objects/id-e0ecf0808788457ba3f4560faeeff520.html" target="element" >
				  		        <area shape="rect" coords="742,420,792,476" href="../objects/id-43217569954340efb74cc6eefa39a3bb.html" target="element" >
				  		        <area shape="rect" coords="714,392,764,448" href="../objects/id-5c4e652dda4f403297605a1ce12c9a0d.html" target="element" >
				  		        <area shape="rect" coords="320,614,370,670" href="../objects/id-374697d762e048d1b7d1508e7a4cc1a3.html" target="element" >
				  		        <area shape="rect" coords="300,594,350,650" href="../objects/id-d354def16713427e80b4365672447c2e.html" target="element" >
				  		        <area shape="rect" coords="272,574,322,630" href="../objects/id-dd972fb743cf4a70acdfcfa2b08cd5b5.html" target="element" >
				  		        <area shape="rect" coords="440,574,502,630" href="../objects/id-fb16efd23e0544a3a71647a482b522ab.html" target="element" >
				  		        <area shape="rect" coords="694,366,744,422" href="../objects/id-8b5da10c8c2e4b56b18dc4ddd3285307.html" target="element" >
				  		        <area shape="rect" coords="252,560,302,616" href="../objects/id-46754ceb72f2421e8858c3795ce1623c.html" target="element" >
				  				        <area shape="rect" coords="140,566,214,664" href="../objects/id-fdae1dfec5eb4c0c8f420a077979a53c.html" target="element" >

				  		        <area shape="rect" coords="80,530,274,712" href="../objects/id-f4097c575a0f471b9a432a9987bad8e3.html" target="element" >
				  				        <area shape="rect" coords="850,696,924,794" href="../objects/id-fd023ea1ac1b4ffe87208fee25527da3.html" target="element" >

				  		        <area shape="rect" coords="790,656,984,838" href="../objects/id-a1388137c46a4f14a5efc4c25a20c844.html" target="element" >
				  				        <area shape="rect" coords="840,332,914,430" href="../objects/id-3032064d5f2e41e59f0216cc1cb394d1.html" target="element" >

				  		        <area shape="rect" coords="790,302,984,484" href="../objects/id-941edf4289cd4e9baa5c2f12f6229fee.html" target="element" >
				  				        <area shape="rect" coords="850,518,924,616" href="../objects/id-e6b2b42b01714d3599f3f11914d508aa.html" target="element" >

				  		        <area shape="rect" coords="790,488,984,670" href="../objects/id-311e9ed95b864813ac89ebfd5570cae6.html" target="element" >

				          <area shape="rect" coords="20,248,1002,870" href="../objects/id-9edbd43d36ae490db4a6d051a4e1371b.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-9edbd43d36ae490db4a6d051a4e1371b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-9edbd43d36ae490db4a6d051a4e1371b.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-311e9ed95b864813ac89ebfd5570cae6.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-311e9ed95b864813ac89ebfd5570cae6.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-e6b2b42b01714d3599f3f11914d508aa.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-e6b2b42b01714d3599f3f11914d508aa.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-941edf4289cd4e9baa5c2f12f6229fee.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-941edf4289cd4e9baa5c2f12f6229fee.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-3032064d5f2e41e59f0216cc1cb394d1.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-3032064d5f2e41e59f0216cc1cb394d1.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-a1388137c46a4f14a5efc4c25a20c844.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-a1388137c46a4f14a5efc4c25a20c844.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-fd023ea1ac1b4ffe87208fee25527da3.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-fd023ea1ac1b4ffe87208fee25527da3.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-f4097c575a0f471b9a432a9987bad8e3.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-f4097c575a0f471b9a432a9987bad8e3.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-fdae1dfec5eb4c0c8f420a077979a53c.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-fdae1dfec5eb4c0c8f420a077979a53c.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-46754ceb72f2421e8858c3795ce1623c.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-46754ceb72f2421e8858c3795ce1623c.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-8b5da10c8c2e4b56b18dc4ddd3285307.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-8b5da10c8c2e4b56b18dc4ddd3285307.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-fb16efd23e0544a3a71647a482b522ab.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-fb16efd23e0544a3a71647a482b522ab.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-dd972fb743cf4a70acdfcfa2b08cd5b5.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-dd972fb743cf4a70acdfcfa2b08cd5b5.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-d354def16713427e80b4365672447c2e.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-d354def16713427e80b4365672447c2e.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-374697d762e048d1b7d1508e7a4cc1a3.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-374697d762e048d1b7d1508e7a4cc1a3.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-5c4e652dda4f403297605a1ce12c9a0d.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-5c4e652dda4f403297605a1ce12c9a0d.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-43217569954340efb74cc6eefa39a3bb.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-43217569954340efb74cc6eefa39a3bb.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-e0ecf0808788457ba3f4560faeeff520.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-e0ecf0808788457ba3f4560faeeff520.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-ef50cc4a92f647d3ad997328beaf3279.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-ef50cc4a92f647d3ad997328beaf3279.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-be856b7b34da4e55925405aa353f9998.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-be856b7b34da4e55925405aa353f9998.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-71dc88afe9ec4464bdfaed1997814a17.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-71dc88afe9ec4464bdfaed1997814a17.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-b460cb43711044faae2e387fa2c5c10a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b460cb43711044faae2e387fa2c5c10a.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-3b7f14a9010a455e8378c48ee4d4ae4f.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-3b7f14a9010a455e8378c48ee4d4ae4f.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-f51eaaf510534a9299e0163c4c007bbc.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-f51eaaf510534a9299e0163c4c007bbc.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-2b6caed67c97404f86e9e0b5190bc3d1.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2b6caed67c97404f86e9e0b5190bc3d1.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-d9c036c9f68f47efb632581a53df7ef0.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-d9c036c9f68f47efb632581a53df7ef0.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-605c15bfcdfa4f2ea25d37c439d59fdc.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-605c15bfcdfa4f2ea25d37c439d59fdc.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-6b83148fa666489fac00ad25fb5c5245.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6b83148fa666489fac00ad25fb5c5245.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-1c3b1ff35fde4c62a1aa8ab9fb428308.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-1c3b1ff35fde4c62a1aa8ab9fb428308.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-4403d52f993344f8b66a9db89af92515.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-4403d52f993344f8b66a9db89af92515.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d6e89caca3124f748d00d3cb5e1c47fb.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-d6e89caca3124f748d00d3cb5e1c47fb.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>