<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Altinn Broker 3.0 constraints, goals, course of actions</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Altinn Broker 3.0 constraints, goals, course of actions</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-32b530c38feb4873970706eba559f69c.png" alt="Altinn Broker 3.0 constraints, goals, course of actions" usemap="#id-32b530c38feb4873970706eba559f69cmap"/>
			   <map name="id-32b530c38feb4873970706eba559f69cmap">
				  		        <area shape="rect" coords="452,176,598,274" href="../objects/id-c17e4f7048454524bb76d56129e2238d.html" target="element" >

				  		<area shape="rect" coords="380,32,694,1414" href="../elements/id-b434f4a96dba4dec814bfae6cc531134.html"  target="element">
				  		        <area shape="rect" coords="92,176,238,274" href="../objects/id-fb063f283eeb43ffb5ac701c7d94caa7.html" target="element" >

				  		<area shape="rect" coords="20,32,334,1414" href="../elements/id-95e222fca5d443dfa25f1f6bbe97855b.html"  target="element">
				  				<area shape="rect" coords="1232,116,1498,258" href="../elements/id-2c6a916d47504702b3e461ad20cad992.html"  target="element">
				  				<area shape="rect" coords="1232,836,1498,978" href="../elements/id-c50887e70ba445dbaf7bbb50001c3132.html"  target="element">
				  				<area shape="rect" coords="1232,464,1498,606" href="../elements/id-288f22256e684034a89cee83b8e027a0.html"  target="element">
				  				<area shape="rect" coords="1232,284,1498,426" href="../elements/id-d1456fcf076b40d581e8b1c52823d818.html"  target="element">
				  				<area shape="rect" coords="1232,644,1498,786" href="../elements/id-b33856e4a7414cf3af60bfe498194cf9.html"  target="element">

				  		<area shape="rect" coords="1172,20,1580,1414" href="../elements/id-e72b18b5753148399e407fc7383f97fe.html"  target="element">
				  				<area shape="rect" coords="812,1040,1078,1182" href="../elements/id-d39b90a774e740c2ac5799ec3a05125e.html"  target="element">
				  				<area shape="rect" coords="812,848,1078,990" href="../elements/id-9c6a374085c34eaa9da2a54141105359.html"  target="element">
				  				<area shape="rect" coords="812,104,1078,246" href="../elements/id-2b770dd2f39e4874982fab037296d461.html"  target="element">
				  				<area shape="rect" coords="812,656,1078,798" href="../elements/id-ac26f7ff8b43447fa3b51a8a2d5e20d7.html"  target="element">
				  				<area shape="rect" coords="812,284,1078,426" href="../elements/id-03d476accbf2401db6e6b4c86ccf31b5.html"  target="element">
				  				<area shape="rect" coords="812,476,1078,618" href="../elements/id-9c4f20242af34c4fb7b99084324ce961.html"  target="element">
				  				<area shape="rect" coords="812,1220,1078,1362" href="../elements/id-8729a0888a1e4fc2acaf108ff2fc158c.html"  target="element">

				  		<area shape="rect" coords="764,20,1114,1414" href="../elements/id-50ea5a86ed694a50941254c601bb4206.html"  target="element">
				  				<area shape="rect" coords="1664,1112,1930,1254" href="../elements/id-3712148a145d400ebdaeb6c8661dac9b.html"  target="element">
				  				<area shape="rect" coords="1664,944,1930,1086" href="../elements/id-a91ddf61eaca4c4b8f650102744b7bc7.html"  target="element">
				  				<area shape="rect" coords="1664,766,1930,908" href="../elements/id-9c4f20242af34c4fb7b99084324ce961.html"  target="element">
				  				<area shape="rect" coords="1664,598,1930,740" href="../elements/id-ac7c5ba414714c4287b00339772a48e4.html"  target="element">
				  				<area shape="rect" coords="1664,442,1930,584" href="../elements/id-c4a17dd981d84f6889380d82d56872dc.html"  target="element">
				  				<area shape="rect" coords="1664,286,1930,428" href="../elements/id-00cf7032e274490dae2c34ad46b73469.html"  target="element">
				  				<area shape="rect" coords="1664,118,1930,260" href="../elements/id-c895b0706bb244c38fca89bb1f6c2f14.html"  target="element">

				  		<area shape="rect" coords="1616,20,1990,1428" href="../elements/id-0e831c693f77418dbbd216670448dd3e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:namespace</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Altinn Broker</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-0e831c693f77418dbbd216670448dd3e.html" target="element"> Grunnleggende avklaringer ref. Steinar  2023-05-03 </a> </td>
											    <td> <a href="../elements/id-0e831c693f77418dbbd216670448dd3e.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c895b0706bb244c38fca89bb1f6c2f14.html" target="element"> St&#248;tte for vesentlig st&#248;rre filer enn i dag, f.eks. minst 10 GB </a> </td>
													    <td> <a href="../elements/id-c895b0706bb244c38fca89bb1f6c2f14.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-00cf7032e274490dae2c34ad46b73469.html" target="element"> GUI for sending og mottak av meldinger </a> </td>
													    <td> <a href="../elements/id-00cf7032e274490dae2c34ad46b73469.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c4a17dd981d84f6889380d82d56872dc.html" target="element"> L&#248;sninger for autorisering og autorisasjon </a> </td>
													    <td> <a href="../elements/id-c4a17dd981d84f6889380d82d56872dc.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ac7c5ba414714c4287b00339772a48e4.html" target="element"> Ny l&#248;sning for tjenesteeierstyrt rettighetsregister (SRR) </a> </td>
													    <td> <a href="../elements/id-ac7c5ba414714c4287b00339772a48e4.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9c4f20242af34c4fb7b99084324ce961.html" target="element"> Bakoverkompatibilitet til dagens API </a> </td>
													    <td> <a href="../elements/id-9c4f20242af34c4fb7b99084324ce961.html" target="element" class="i18n-elementtype-Constraint">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a91ddf61eaca4c4b8f650102744b7bc7.html" target="element"> Sentral oppslagtjeneste med oversikt over aktuelle mottakere </a> </td>
													    <td> <a href="../elements/id-a91ddf61eaca4c4b8f650102744b7bc7.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3712148a145d400ebdaeb6c8661dac9b.html" target="element"> Overgang fra gammel til ny l&#248;sning </a> </td>
													    <td> <a href="../elements/id-3712148a145d400ebdaeb6c8661dac9b.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-50ea5a86ed694a50941254c601bb4206.html" target="element"> Constraints </a> </td>
											    <td> <a href="../elements/id-50ea5a86ed694a50941254c601bb4206.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-8729a0888a1e4fc2acaf108ff2fc158c.html" target="element"> Ta utgangspunkt i  IDSA RAM 4.0 for API-er </a> </td>
													    <td> <a href="../elements/id-8729a0888a1e4fc2acaf108ff2fc158c.html" target="element" class="i18n-elementtype-Constraint">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9c4f20242af34c4fb7b99084324ce961.html" target="element"> Bakoverkompatibilitet til dagens API </a> </td>
													    <td> <a href="../elements/id-9c4f20242af34c4fb7b99084324ce961.html" target="element" class="i18n-elementtype-Constraint">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-03d476accbf2401db6e6b4c86ccf31b5.html" target="element"> Anta  kun som komponent i andre fellesl&#248;sninger </a> </td>
													    <td> <a href="../elements/id-03d476accbf2401db6e6b4c86ccf31b5.html" target="element" class="i18n-elementtype-Constraint">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ac26f7ff8b43447fa3b51a8a2d5e20d7.html" target="element"> Ny kodebase som open source </a> </td>
													    <td> <a href="../elements/id-ac26f7ff8b43447fa3b51a8a2d5e20d7.html" target="element" class="i18n-elementtype-Constraint">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2b770dd2f39e4874982fab037296d461.html" target="element"> Anta spesialisering av Altinn Broker til overf&#248;ring av store filer </a> </td>
													    <td> <a href="../elements/id-2b770dd2f39e4874982fab037296d461.html" target="element" class="i18n-elementtype-Constraint">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9c6a374085c34eaa9da2a54141105359.html" target="element"> Felles API med andre l&#248;sninger for  meldingsutveksling </a> </td>
													    <td> <a href="../elements/id-9c6a374085c34eaa9da2a54141105359.html" target="element" class="i18n-elementtype-Constraint">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d39b90a774e740c2ac5799ec3a05125e.html" target="element"> Styr mot antatt m&#229;lbilde </a> </td>
													    <td> <a href="../elements/id-d39b90a774e740c2ac5799ec3a05125e.html" target="element" class="i18n-elementtype-Constraint">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e72b18b5753148399e407fc7383f97fe.html" target="element"> Alternative konsepter </a> </td>
											    <td> <a href="../elements/id-e72b18b5753148399e407fc7383f97fe.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b33856e4a7414cf3af60bfe498194cf9.html" target="element"> G&#229; rett p&#229; antatt m&#229;lbilde (EU-APIer) </a> </td>
													    <td> <a href="../elements/id-b33856e4a7414cf3af60bfe498194cf9.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d1456fcf076b40d581e8b1c52823d818.html" target="element"> Overgangsarkitektur basert p&#229; dagens l&#248;sning </a> </td>
													    <td> <a href="../elements/id-d1456fcf076b40d581e8b1c52823d818.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-288f22256e684034a89cee83b8e027a0.html" target="element"> Overgangsarkitektur basert p&#229; open source </a> </td>
													    <td> <a href="../elements/id-288f22256e684034a89cee83b8e027a0.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c50887e70ba445dbaf7bbb50001c3132.html" target="element"> Redefiner produktet (del av st&#248;rre produkt) </a> </td>
													    <td> <a href="../elements/id-c50887e70ba445dbaf7bbb50001c3132.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2c6a916d47504702b3e461ad20cad992.html" target="element"> 0-alternativet </a> </td>
													    <td> <a href="../elements/id-2c6a916d47504702b3e461ad20cad992.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-95e222fca5d443dfa25f1f6bbe97855b.html" target="element"> Required Capabailities </a> </td>
											    <td> <a href="../elements/id-95e222fca5d443dfa25f1f6bbe97855b.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-fb063f283eeb43ffb5ac701c7d94caa7.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-fb063f283eeb43ffb5ac701c7d94caa7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-b434f4a96dba4dec814bfae6cc531134.html" target="element"> Visions and Goals </a> </td>
											    <td> <a href="../elements/id-b434f4a96dba4dec814bfae6cc531134.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-c17e4f7048454524bb76d56129e2238d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-c17e4f7048454524bb76d56129e2238d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-f72542b571ea43b0be3c423fd939f7e4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f72542b571ea43b0be3c423fd939f7e4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0e831c693f77418dbbd216670448dd3e.html" target="element"> Grunnleggende avklaringer ref. Steinar  2023-05-03 </a> </td>
																		<td> <a href="../elements/id-c895b0706bb244c38fca89bb1f6c2f14.html" target="element"> St&#248;tte for vesentlig st&#248;rre filer enn i dag, f.eks. minst 10 GB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-93e2ff3437364cc98d0daa59afb47a1f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-93e2ff3437364cc98d0daa59afb47a1f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0e831c693f77418dbbd216670448dd3e.html" target="element"> Grunnleggende avklaringer ref. Steinar  2023-05-03 </a> </td>
																		<td> <a href="../elements/id-00cf7032e274490dae2c34ad46b73469.html" target="element"> GUI for sending og mottak av meldinger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3c3696149ebf418c9c7b8bbe340b928b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3c3696149ebf418c9c7b8bbe340b928b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0e831c693f77418dbbd216670448dd3e.html" target="element"> Grunnleggende avklaringer ref. Steinar  2023-05-03 </a> </td>
																		<td> <a href="../elements/id-c4a17dd981d84f6889380d82d56872dc.html" target="element"> L&#248;sninger for autorisering og autorisasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-98bdfe94398149e9975901b13453f431.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-98bdfe94398149e9975901b13453f431.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0e831c693f77418dbbd216670448dd3e.html" target="element"> Grunnleggende avklaringer ref. Steinar  2023-05-03 </a> </td>
																		<td> <a href="../elements/id-ac7c5ba414714c4287b00339772a48e4.html" target="element"> Ny l&#248;sning for tjenesteeierstyrt rettighetsregister (SRR) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7944a55eb24e4dad9a908508fcb17e60.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7944a55eb24e4dad9a908508fcb17e60.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0e831c693f77418dbbd216670448dd3e.html" target="element"> Grunnleggende avklaringer ref. Steinar  2023-05-03 </a> </td>
																		<td> <a href="../elements/id-9c4f20242af34c4fb7b99084324ce961.html" target="element"> Bakoverkompatibilitet til dagens API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-643def1e5c0a44309dd1a1185130471c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-643def1e5c0a44309dd1a1185130471c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0e831c693f77418dbbd216670448dd3e.html" target="element"> Grunnleggende avklaringer ref. Steinar  2023-05-03 </a> </td>
																		<td> <a href="../elements/id-a91ddf61eaca4c4b8f650102744b7bc7.html" target="element"> Sentral oppslagtjeneste med oversikt over aktuelle mottakere </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7bdfd4dfe07f458f966981b84c03bed5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7bdfd4dfe07f458f966981b84c03bed5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0e831c693f77418dbbd216670448dd3e.html" target="element"> Grunnleggende avklaringer ref. Steinar  2023-05-03 </a> </td>
																		<td> <a href="../elements/id-3712148a145d400ebdaeb6c8661dac9b.html" target="element"> Overgang fra gammel til ny l&#248;sning </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-dd86cf143e0d4a0a9b53ea214e1e9c5d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd86cf143e0d4a0a9b53ea214e1e9c5d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-50ea5a86ed694a50941254c601bb4206.html" target="element"> Constraints </a> </td>
																		<td> <a href="../elements/id-8729a0888a1e4fc2acaf108ff2fc158c.html" target="element"> Ta utgangspunkt i  IDSA RAM 4.0 for API-er </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-23066e206aa14fbc8b47060ec8f78314.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-23066e206aa14fbc8b47060ec8f78314.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-50ea5a86ed694a50941254c601bb4206.html" target="element"> Constraints </a> </td>
																		<td> <a href="../elements/id-9c4f20242af34c4fb7b99084324ce961.html" target="element"> Bakoverkompatibilitet til dagens API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4bb209b3a994449797d0427e47b099f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4bb209b3a994449797d0427e47b099f0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-50ea5a86ed694a50941254c601bb4206.html" target="element"> Constraints </a> </td>
																		<td> <a href="../elements/id-03d476accbf2401db6e6b4c86ccf31b5.html" target="element"> Anta  kun som komponent i andre fellesl&#248;sninger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-787a01047fcf453b995412d6b0466689.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-787a01047fcf453b995412d6b0466689.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-50ea5a86ed694a50941254c601bb4206.html" target="element"> Constraints </a> </td>
																		<td> <a href="../elements/id-ac26f7ff8b43447fa3b51a8a2d5e20d7.html" target="element"> Ny kodebase som open source </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-91f76f2c85ca4164bca7ae7cba935050.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-91f76f2c85ca4164bca7ae7cba935050.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-50ea5a86ed694a50941254c601bb4206.html" target="element"> Constraints </a> </td>
																		<td> <a href="../elements/id-2b770dd2f39e4874982fab037296d461.html" target="element"> Anta spesialisering av Altinn Broker til overf&#248;ring av store filer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-70ef38893781428bbd72c9bc4e42138c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-70ef38893781428bbd72c9bc4e42138c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-50ea5a86ed694a50941254c601bb4206.html" target="element"> Constraints </a> </td>
																		<td> <a href="../elements/id-9c6a374085c34eaa9da2a54141105359.html" target="element"> Felles API med andre l&#248;sninger for  meldingsutveksling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2ae6015b55724f57be61005ad971acc4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2ae6015b55724f57be61005ad971acc4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-50ea5a86ed694a50941254c601bb4206.html" target="element"> Constraints </a> </td>
																		<td> <a href="../elements/id-d39b90a774e740c2ac5799ec3a05125e.html" target="element"> Styr mot antatt m&#229;lbilde </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-b6c966ace46542ee8876c5b2e3b0bf6e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b6c966ace46542ee8876c5b2e3b0bf6e.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8729a0888a1e4fc2acaf108ff2fc158c.html" target="element"> Ta utgangspunkt i  IDSA RAM 4.0 for API-er </a> </td>
																				<td> <a href="../elements/id-d39b90a774e740c2ac5799ec3a05125e.html" target="element"> Styr mot antatt m&#229;lbilde </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d21951c2be17420da3bfa6bdf883824d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d21951c2be17420da3bfa6bdf883824d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e72b18b5753148399e407fc7383f97fe.html" target="element"> Alternative konsepter </a> </td>
																		<td> <a href="../elements/id-b33856e4a7414cf3af60bfe498194cf9.html" target="element"> G&#229; rett p&#229; antatt m&#229;lbilde (EU-APIer) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6ea4e674c7b949eeb23b67b2b8bbaac5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ea4e674c7b949eeb23b67b2b8bbaac5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e72b18b5753148399e407fc7383f97fe.html" target="element"> Alternative konsepter </a> </td>
																		<td> <a href="../elements/id-d1456fcf076b40d581e8b1c52823d818.html" target="element"> Overgangsarkitektur basert p&#229; dagens l&#248;sning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a0774b28233f4223bcf61b87242d35dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a0774b28233f4223bcf61b87242d35dd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e72b18b5753148399e407fc7383f97fe.html" target="element"> Alternative konsepter </a> </td>
																		<td> <a href="../elements/id-288f22256e684034a89cee83b8e027a0.html" target="element"> Overgangsarkitektur basert p&#229; open source </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0c86930f4f0d485c9a05df8e8697e3b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0c86930f4f0d485c9a05df8e8697e3b6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e72b18b5753148399e407fc7383f97fe.html" target="element"> Alternative konsepter </a> </td>
																		<td> <a href="../elements/id-c50887e70ba445dbaf7bbb50001c3132.html" target="element"> Redefiner produktet (del av st&#248;rre produkt) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e1304f087e334375bf94b7ce737d2767.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e1304f087e334375bf94b7ce737d2767.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e72b18b5753148399e407fc7383f97fe.html" target="element"> Alternative konsepter </a> </td>
																		<td> <a href="../elements/id-2c6a916d47504702b3e461ad20cad992.html" target="element"> 0-alternativet </a> </td>
																	</tr>

											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>