<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Use cases for meldingsutveksling</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Use cases for meldingsutveksling</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-3dbf070102174bb9aaca24d85a6d6005.png" alt="Use cases for meldingsutveksling" usemap="#id-3dbf070102174bb9aaca24d85a6d6005map"/>
			   <map name="id-3dbf070102174bb9aaca24d85a6d6005map">
				  		<area shape="rect" coords="924,612,1190,754" href="../elements/id-17f16d69fd684d85b799aee4c4fd66f7.html"  target="element">
				  		<area shape="rect" coords="636,612,902,754" href="../elements/id-4355ffb06d624b49ad74c1491fb8b40f.html"  target="element">
				  		<area shape="rect" coords="348,612,614,754" href="../elements/id-36bacfdac5e74bce9b6274b9293e47b4.html"  target="element">
				  		<area shape="rect" coords="24,612,290,754" href="../elements/id-e6ab7111e58c48fc9511c30b3f04eb4f.html"  target="element">
				  		<area shape="rect" coords="1260,420,1526,562" href="../elements/id-924354e36ea54c1c8681d60fd6b678ec.html"  target="element">
				  		<area shape="rect" coords="976,420,1242,562" href="../elements/id-b7fd227d73df4067ba357c2985b0b1e2.html"  target="element">
				  		<area shape="rect" coords="660,420,926,562" href="../elements/id-be3c3b9d127f43229a40817357718fe9.html"  target="element">
				  		<area shape="rect" coords="336,408,602,550" href="../elements/id-32c2b458c7324cfc926abd84a578294b.html"  target="element">
				  		<area shape="rect" coords="20,420,286,562" href="../elements/id-f32ff3f690904866b9158e6d233c3bbb.html"  target="element">
				  		<area shape="rect" coords="1564,216,1830,358" href="../elements/id-6a531e02f7b748eaa1acd251f1301434.html"  target="element">
				  		<area shape="rect" coords="1252,216,1518,358" href="../elements/id-a734c70a649b46418e28c3a4a31bbc05.html"  target="element">
				  		<area shape="rect" coords="952,204,1218,346" href="../elements/id-12cfbae8d26645e680d36a7f589c29df.html"  target="element">
				  		<area shape="rect" coords="640,216,906,358" href="../elements/id-e39c0044b2da4ca28363973aabe25512.html"  target="element">
				  		<area shape="rect" coords="324,204,590,346" href="../elements/id-e2e5d0b43e504fc6882b99c54859aa95.html"  target="element">
				  		<area shape="rect" coords="20,204,286,346" href="../elements/id-20e83b28c33f474d8d1325b2911cfddf.html"  target="element">
				  		<area shape="rect" coords="1560,20,1826,162" href="../elements/id-c409540c275349b7a29040bf0aac0af0.html"  target="element">
				  		<area shape="rect" coords="1260,20,1526,162" href="../elements/id-bb476f71e6314d2294cb17c00351f8bb.html"  target="element">
				  		<area shape="rect" coords="948,20,1214,162" href="../elements/id-9b6be73b513a413bb661d97644361c16.html"  target="element">
				  		<area shape="rect" coords="648,20,914,162" href="../elements/id-5beb137b49e140ae92ea64c9551f19d2.html"  target="element">
				  		<area shape="rect" coords="324,20,590,162" href="../elements/id-8e39656057684431a8338c1a57913ff5.html"  target="element">
				  		<area shape="rect" coords="20,20,286,162" href="../elements/id-f0056ab7685b47e896e80bc75efc2896.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">View dok, Geneiske use cases</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-f0056ab7685b47e896e80bc75efc2896.html" target="element"> Trigge neste ledd i samhandlingsprosess (tjenestekjede) </a> </td>
											    <td> <a href="../elements/id-f0056ab7685b47e896e80bc75efc2896.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8e39656057684431a8338c1a57913ff5.html" target="element"> Digital post til innbygger </a> </td>
											    <td> <a href="../elements/id-8e39656057684431a8338c1a57913ff5.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5beb137b49e140ae92ea64c9551f19d2.html" target="element"> Digital post mellom virksomheter </a> </td>
											    <td> <a href="../elements/id-5beb137b49e140ae92ea64c9551f19d2.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9b6be73b513a413bb661d97644361c16.html" target="element"> Innhenting av datagrunnlag for ledd i tverrg&#229;ende samhandlingsprosess </a> </td>
											    <td> <a href="../elements/id-9b6be73b513a413bb661d97644361c16.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bb476f71e6314d2294cb17c00351f8bb.html" target="element"> Innhenting av datagrunnlag for (sentral) dataanalyse </a> </td>
											    <td> <a href="../elements/id-bb476f71e6314d2294cb17c00351f8bb.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c409540c275349b7a29040bf0aac0af0.html" target="element"> Notifikasjon (publisering) om vedtak i offentlig saksbehandling </a> </td>
											    <td> <a href="../elements/id-c409540c275349b7a29040bf0aac0af0.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-20e83b28c33f474d8d1325b2911cfddf.html" target="element"> Notifikasjon (publisering) om endret datasett (master); for oppdatering av avledete datasett (slaver) </a> </td>
											    <td> <a href="../elements/id-20e83b28c33f474d8d1325b2911cfddf.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e2e5d0b43e504fc6882b99c54859aa95.html" target="element"> Innsending av m&#229;ledata (iOT) og Innsamling av innsendte m&#229;ledata (iOT) </a> </td>
											    <td> <a href="../elements/id-e2e5d0b43e504fc6882b99c54859aa95.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e39c0044b2da4ca28363973aabe25512.html" target="element"> Overf&#248;ring av data til langtidslagring </a> </td>
											    <td> <a href="../elements/id-e39c0044b2da4ca28363973aabe25512.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-12cfbae8d26645e680d36a7f589c29df.html" target="element"> Innrapportering til sentral instans, f.eks. til Skatt via Altinn (fra mange til en, men hver enkelt innrapportering er fra en avsender til en kjent mottaker) </a> </td>
											    <td> <a href="../elements/id-12cfbae8d26645e680d36a7f589c29df.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a734c70a649b46418e28c3a4a31bbc05.html" target="element"> Innsending av s&#248;knad om tjeneste fra en person til en statlig etat </a> </td>
											    <td> <a href="../elements/id-a734c70a649b46418e28c3a4a31bbc05.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6a531e02f7b748eaa1acd251f1301434.html" target="element"> Innsending av s&#248;knad om tjeneste fra en person til en kommunal etat </a> </td>
											    <td> <a href="../elements/id-6a531e02f7b748eaa1acd251f1301434.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f32ff3f690904866b9158e6d233c3bbb.html" target="element"> Innsending av s&#248;knad om tjeneste fra en virksomhet til en statlig etat </a> </td>
											    <td> <a href="../elements/id-f32ff3f690904866b9158e6d233c3bbb.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-32c2b458c7324cfc926abd84a578294b.html" target="element"> Innsending av s&#248;knad om tjeneste fra en virksomhet til en kommunal etat </a> </td>
											    <td> <a href="../elements/id-32c2b458c7324cfc926abd84a578294b.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-be3c3b9d127f43229a40817357718fe9.html" target="element"> S&#248;knad om tjeneste fra en person til en offentlig instans (ikke bare innsending, men et forl&#248;p) </a> </td>
											    <td> <a href="../elements/id-be3c3b9d127f43229a40817357718fe9.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b7fd227d73df4067ba357c2985b0b1e2.html" target="element"> S&#248;knad om tjeneste fra en privat virksomhet til en offentlig instans (ikke bare innsending, men et forl&#248;p) </a> </td>
											    <td> <a href="../elements/id-b7fd227d73df4067ba357c2985b0b1e2.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-924354e36ea54c1c8681d60fd6b678ec.html" target="element"> Str&#248;mming av multimedieinnhold </a> </td>
											    <td> <a href="../elements/id-924354e36ea54c1c8681d60fd6b678ec.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e6ab7111e58c48fc9511c30b3f04eb4f.html" target="element"> Distribuert maskinl&#230;ring og dataanalyse (edge computing) </a> </td>
											    <td> <a href="../elements/id-e6ab7111e58c48fc9511c30b3f04eb4f.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-36bacfdac5e74bce9b6274b9293e47b4.html" target="element"> Sporing av data, produkter og IP-rettigheter </a> </td>
											    <td> <a href="../elements/id-36bacfdac5e74bce9b6274b9293e47b4.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4355ffb06d624b49ad74c1491fb8b40f.html" target="element"> Deling av data i digitale lommeb&#248;ker </a> </td>
											    <td> <a href="../elements/id-4355ffb06d624b49ad74c1491fb8b40f.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-17f16d69fd684d85b799aee4c4fd66f7.html" target="element"> Grensekryssende prosesser (tjenestekjeder) </a> </td>
											    <td> <a href="../elements/id-17f16d69fd684d85b799aee4c4fd66f7.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>