<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Forretningsmessige brukstilfeller</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Forretningsmessige brukstilfeller</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-3d2f078654e2438db55da965814450b5.png" alt="Forretningsmessige brukstilfeller" usemap="#id-3d2f078654e2438db55da965814450b5map"/>
			   <map name="id-3d2f078654e2438db55da965814450b5map">
				  		<area shape="rect" coords="1296,714,1582,856" href="../elements/id-dafcb14b106f4d89a617b480556886ea.html"  target="element">
				  				<area shape="rect" coords="120,980,406,1122" href="../elements/id-377f8c35738e44c197c04317351b78ba.html"  target="element">

				  		<area shape="rect" coords="96,908,1046,1364" href="../elements/id-10f4a776f2da4fedbac70236781ea7ec.html"  target="element">
				  		<area shape="rect" coords="1788,908,2074,1050" href="../elements/id-5fda30fb81ff46c9a0b16f4ea5af63eb.html"  target="element">
				  		<area shape="rect" coords="2096,908,2382,1050" href="../elements/id-c7e3879afab445caa92f6e55c01c1534.html"  target="element">
				  				<area shape="rect" coords="2100,628,2386,770" href="../elements/id-d321ad99a87a42deb92df788ddd2cf77.html"  target="element">
				  				<area shape="rect" coords="1788,628,2074,770" href="../elements/id-a8b8f032a71644c2947dd6db42b3d3c8.html"  target="element">

				  		<area shape="rect" coords="1740,568,2414,822" href="../elements/id-1a7ce3b03522459999cbd9af95acac30.html"  target="element">
				  				<area shape="rect" coords="2460,284,2746,426" href="../elements/id-f109ccf519d24992939236278da69506.html"  target="element">
				  				<area shape="rect" coords="2112,272,2398,414" href="../elements/id-464bbeffccfd4befab098bb998a88f59.html"  target="element">
				  				<area shape="rect" coords="2436,92,2722,234" href="../elements/id-eb40fa5f0fe34a2480b2c846ec5f78f4.html"  target="element">
				  				<area shape="rect" coords="2112,92,2398,234" href="../elements/id-c4f9a8e240f449c9bd605e1b8363b1a7.html"  target="element">

				  		<area shape="rect" coords="2064,20,3206,494" href="../elements/id-3298358c626a454892defd4848ecb377.html"  target="element">
				  		<area shape="rect" coords="1596,320,1882,462" href="../elements/id-c68f56d27ed34ce6a1b3ac5759d4d1d8.html"  target="element">
				  		<area shape="rect" coords="1152,352,1438,494" href="../elements/id-d80f6e31d6f943688d7af647c4e3f034.html"  target="element">
				  				<area shape="rect" coords="708,156,994,298" href="../elements/id-b3d9ebce51644f398186b1a2fa51176c.html"  target="element">
				  				<area shape="rect" coords="396,156,682,298" href="../elements/id-dc795d8ce52d417b855ce2f44ffc0db0.html"  target="element">
				  				<area shape="rect" coords="84,156,370,298" href="../elements/id-6c330859acad422ca1c83edcb3ad052b.html"  target="element">

				  		<area shape="rect" coords="60,96,1034,322" href="../elements/id-de656b6617a64f22b929faae95568ca1.html"  target="element">
				  		<area shape="rect" coords="428,696,714,838" href="../elements/id-f86ac36f9ea04bd29b6a475f472fb680.html"  target="element">
				  		<area shape="rect" coords="760,696,1046,838" href="../elements/id-b92bc874f1e344b48e80e26aca0725bc.html"  target="element">
				  		<area shape="rect" coords="96,696,382,838" href="../elements/id-40be43cf64584fe0894d0759d176e8fa.html"  target="element">
				  		<area shape="rect" coords="336,392,622,534" href="../elements/id-cda9eb1ba1da411b98078d7828902e71.html"  target="element">
				  		<area shape="rect" coords="20,392,306,534" href="../elements/id-3c4936c20f194c7ca82b26fbb64e704c.html"  target="element">
				  		<area shape="rect" coords="1224,52,1510,194" href="../elements/id-b40b83f804e644fe92c8a78e8162327c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-b40b83f804e644fe92c8a78e8162327c.html" target="element"> Trigge neste ledd i samhandlingsprosess </a> </td>
											    <td> <a href="../elements/id-b40b83f804e644fe92c8a78e8162327c.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3c4936c20f194c7ca82b26fbb64e704c.html" target="element"> Innhenting av datagrunnlag for ledd i tverrg&#229;ende samhandlingsprosess </a> </td>
											    <td> <a href="../elements/id-3c4936c20f194c7ca82b26fbb64e704c.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cda9eb1ba1da411b98078d7828902e71.html" target="element"> Innhenting av datagrunnlag for dataanalyse </a> </td>
											    <td> <a href="../elements/id-cda9eb1ba1da411b98078d7828902e71.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-40be43cf64584fe0894d0759d176e8fa.html" target="element"> Innsending og Innsamling av m&#229;ledata (iOT) </a> </td>
											    <td> <a href="../elements/id-40be43cf64584fe0894d0759d176e8fa.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b92bc874f1e344b48e80e26aca0725bc.html" target="element"> Overf&#248;ring av data til langtidslagring </a> </td>
											    <td> <a href="../elements/id-b92bc874f1e344b48e80e26aca0725bc.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f86ac36f9ea04bd29b6a475f472fb680.html" target="element"> Innrapportering til sentral instans </a> </td>
											    <td> <a href="../elements/id-f86ac36f9ea04bd29b6a475f472fb680.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-de656b6617a64f22b929faae95568ca1.html" target="element"> Digital post (f.eks. e-post eller meldingsk&#248;) </a> </td>
											    <td> <a href="../elements/id-de656b6617a64f22b929faae95568ca1.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6c330859acad422ca1c83edcb3ad052b.html" target="element"> Digital post fra virksomhet til person </a> </td>
													    <td> <a href="../elements/id-6c330859acad422ca1c83edcb3ad052b.html" target="element" class="i18n-elementtype-BusinessInteraction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dc795d8ce52d417b855ce2f44ffc0db0.html" target="element"> Digital post mellom virksomheter </a> </td>
													    <td> <a href="../elements/id-dc795d8ce52d417b855ce2f44ffc0db0.html" target="element" class="i18n-elementtype-BusinessInteraction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b3d9ebce51644f398186b1a2fa51176c.html" target="element"> Digital post mellom virksomheter </a> </td>
													    <td> <a href="../elements/id-b3d9ebce51644f398186b1a2fa51176c.html" target="element" class="i18n-elementtype-BusinessInteraction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d80f6e31d6f943688d7af647c4e3f034.html" target="element"> Trigge neste ledd i forh&#229;ndsfastlagt samhandlingsprosess </a> </td>
											    <td> <a href="../elements/id-d80f6e31d6f943688d7af647c4e3f034.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c68f56d27ed34ce6a1b3ac5759d4d1d8.html" target="element"> Trigge neste ledd i dynamisk samhandlingsprosess </a> </td>
											    <td> <a href="../elements/id-c68f56d27ed34ce6a1b3ac5759d4d1d8.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3298358c626a454892defd4848ecb377.html" target="element"> Offentlig sektor </a> </td>
											    <td> <a href="../elements/id-3298358c626a454892defd4848ecb377.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c4f9a8e240f449c9bd605e1b8363b1a7.html" target="element"> Digital post til innbyggere </a> </td>
													    <td> <a href="../elements/id-c4f9a8e240f449c9bd605e1b8363b1a7.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-eb40fa5f0fe34a2480b2c846ec5f78f4.html" target="element"> Digital post til virksomheter </a> </td>
													    <td> <a href="../elements/id-eb40fa5f0fe34a2480b2c846ec5f78f4.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-464bbeffccfd4befab098bb998a88f59.html" target="element"> Mottak av s&#248;knader </a> </td>
													    <td> <a href="../elements/id-464bbeffccfd4befab098bb998a88f59.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f109ccf519d24992939236278da69506.html" target="element"> Notifikasjon (publisering) om vedtak i offentlig saksbehandling </a> </td>
													    <td> <a href="../elements/id-f109ccf519d24992939236278da69506.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-1a7ce3b03522459999cbd9af95acac30.html" target="element"> Notifikasjon om hendelse </a> </td>
											    <td> <a href="../elements/id-1a7ce3b03522459999cbd9af95acac30.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a8b8f032a71644c2947dd6db42b3d3c8.html" target="element"> Notifikasjon om forretningsmessige hendelser </a> </td>
													    <td> <a href="../elements/id-a8b8f032a71644c2947dd6db42b3d3c8.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d321ad99a87a42deb92df788ddd2cf77.html" target="element"> Notifikasjon om endret datasett (master); for oppdatering av avledete datasett (slaver) </a> </td>
													    <td> <a href="../elements/id-d321ad99a87a42deb92df788ddd2cf77.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-c7e3879afab445caa92f6e55c01c1534.html" target="element"> Adresserte notifikasjoner </a> </td>
											    <td> <a href="../elements/id-c7e3879afab445caa92f6e55c01c1534.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5fda30fb81ff46c9a0b16f4ea5af63eb.html" target="element"> Publisering av notifikasjoner </a> </td>
											    <td> <a href="../elements/id-5fda30fb81ff46c9a0b16f4ea5af63eb.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-10f4a776f2da4fedbac70236781ea7ec.html" target="element"> Datadeling </a> </td>
											    <td> <a href="../elements/id-10f4a776f2da4fedbac70236781ea7ec.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-377f8c35738e44c197c04317351b78ba.html" target="element"> Publisering av metadata om datasett </a> </td>
													    <td> <a href="../elements/id-377f8c35738e44c197c04317351b78ba.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-dafcb14b106f4d89a617b480556886ea.html" target="element"> Adressering </a> </td>
											    <td> <a href="../elements/id-dafcb14b106f4d89a617b480556886ea.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-580aaa115ae14658b5d9cd82784eff52.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-580aaa115ae14658b5d9cd82784eff52.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-de656b6617a64f22b929faae95568ca1.html" target="element"> Digital post (f.eks. e-post eller meldingsk&#248;) </a> </td>
																		<td> <a href="../elements/id-6c330859acad422ca1c83edcb3ad052b.html" target="element"> Digital post fra virksomhet til person </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-67b29c2f43d94ff985b927eac99519de.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-67b29c2f43d94ff985b927eac99519de.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-de656b6617a64f22b929faae95568ca1.html" target="element"> Digital post (f.eks. e-post eller meldingsk&#248;) </a> </td>
																		<td> <a href="../elements/id-b3d9ebce51644f398186b1a2fa51176c.html" target="element"> Digital post mellom virksomheter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-083704fea8f34967838cc0d5cc7a7835.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-083704fea8f34967838cc0d5cc7a7835.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-de656b6617a64f22b929faae95568ca1.html" target="element"> Digital post (f.eks. e-post eller meldingsk&#248;) </a> </td>
																		<td> <a href="../elements/id-dc795d8ce52d417b855ce2f44ffc0db0.html" target="element"> Digital post mellom virksomheter </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-1e82208dcef24e85a326d3b48092066c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1e82208dcef24e85a326d3b48092066c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3298358c626a454892defd4848ecb377.html" target="element"> Offentlig sektor </a> </td>
																		<td> <a href="../elements/id-eb40fa5f0fe34a2480b2c846ec5f78f4.html" target="element"> Digital post til virksomheter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3bff5895dcd24c0cb089f06e5c514ae5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3bff5895dcd24c0cb089f06e5c514ae5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3298358c626a454892defd4848ecb377.html" target="element"> Offentlig sektor </a> </td>
																		<td> <a href="../elements/id-464bbeffccfd4befab098bb998a88f59.html" target="element"> Mottak av s&#248;knader </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-61bf975fbc57447d8ca4adc02b6ffc59.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-61bf975fbc57447d8ca4adc02b6ffc59.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3298358c626a454892defd4848ecb377.html" target="element"> Offentlig sektor </a> </td>
																		<td> <a href="../elements/id-c4f9a8e240f449c9bd605e1b8363b1a7.html" target="element"> Digital post til innbyggere </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-79e15c12a20c46bc9f599afffca7fe41.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-79e15c12a20c46bc9f599afffca7fe41.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3298358c626a454892defd4848ecb377.html" target="element"> Offentlig sektor </a> </td>
																		<td> <a href="../elements/id-f109ccf519d24992939236278da69506.html" target="element"> Notifikasjon (publisering) om vedtak i offentlig saksbehandling </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-1bedd196e87c46108604bfed00dd8f79.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1bedd196e87c46108604bfed00dd8f79.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a7ce3b03522459999cbd9af95acac30.html" target="element"> Notifikasjon om hendelse </a> </td>
																		<td> <a href="../elements/id-d321ad99a87a42deb92df788ddd2cf77.html" target="element"> Notifikasjon om endret datasett (master); for oppdatering av avledete datasett (slaver) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-398a04254a6a433cba95c3576572b4a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-398a04254a6a433cba95c3576572b4a8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a7ce3b03522459999cbd9af95acac30.html" target="element"> Notifikasjon om hendelse </a> </td>
																		<td> <a href="../elements/id-a8b8f032a71644c2947dd6db42b3d3c8.html" target="element"> Notifikasjon om forretningsmessige hendelser </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b8470226b57e46e5b9f372d6ad294928.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b8470226b57e46e5b9f372d6ad294928.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c7e3879afab445caa92f6e55c01c1534.html" target="element"> Adresserte notifikasjoner </a> </td>
																		<td> <a href="../elements/id-1a7ce3b03522459999cbd9af95acac30.html" target="element"> Notifikasjon om hendelse </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5bbd119d2f364beb8e7ee1d6aafd50bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5bbd119d2f364beb8e7ee1d6aafd50bd.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5fda30fb81ff46c9a0b16f4ea5af63eb.html" target="element"> Publisering av notifikasjoner </a> </td>
																		<td> <a href="../elements/id-1a7ce3b03522459999cbd9af95acac30.html" target="element"> Notifikasjon om hendelse </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9b03b6856a7a4ddbbec278388ed4a662.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9b03b6856a7a4ddbbec278388ed4a662.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-10f4a776f2da4fedbac70236781ea7ec.html" target="element"> Datadeling </a> </td>
																		<td> <a href="../elements/id-377f8c35738e44c197c04317351b78ba.html" target="element"> Publisering av metadata om datasett </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>