<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Altinn 2.0 formidling - assessment</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Altinn 2.0 formidling - assessment</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-35472e5b3d064c23b8e912a913d3d7f8.png" alt="Altinn 2.0 formidling - assessment" usemap="#id-35472e5b3d064c23b8e912a913d3d7f8map"/>
			   <map name="id-35472e5b3d064c23b8e912a913d3d7f8map">
				  		<area shape="rect" coords="384,1040,650,1182" href="../elements/id-ceb924e8a5924d34a3244217931052ce.html"  target="element">
				  		<area shape="rect" coords="72,1040,338,1182" href="../elements/id-103c9e68c84d4dc9850ffba0d6708729.html"  target="element">
				  		<area shape="rect" coords="912,512,1178,654" href="../elements/id-7d9bc4d1507540af8e735f58f95a1daf.html"  target="element">
				  		<area shape="rect" coords="1248,500,1514,642" href="../elements/id-f5e0f819055346fc955156a20709b5e8.html"  target="element">
				  		<area shape="rect" coords="1248,344,1514,486" href="../elements/id-0064698ce4b8497ea0b93544e765f547.html"  target="element">
				  		<area shape="rect" coords="912,344,1178,486" href="../elements/id-d0c567f18b844e969379cb893bca2466.html"  target="element">
				  				<area shape="rect" coords="368,812,634,954" href="../elements/id-e3868dcade1e405a8f5fbe5eca2147c7.html"  target="element">
				  				<area shape="rect" coords="68,812,334,954" href="../elements/id-eb1dc8c0d49d4b5aa9446e4975ace912.html"  target="element">

				  		<area shape="rect" coords="20,728,686,1008" href="../elements/id-531780b9e1004dd0baefe5216fece744.html"  target="element">
				  				<area shape="rect" coords="404,500,670,642" href="../elements/id-7563864ea3b4474cbdee6375a18671b9.html"  target="element">
				  				<area shape="rect" coords="68,464,334,606" href="../elements/id-f958e850ff55476e9291120393969db6.html"  target="element">

				  		<area shape="rect" coords="20,404,820,670" href="../elements/id-4cd1bdb87e58471c8d3ef3fa4c48b1eb.html"  target="element">
				  				<area shape="rect" coords="668,92,934,234" href="../elements/id-285e687a28ff497aaff6335d4cd92b3c.html"  target="element">
				  				<area shape="rect" coords="368,92,634,234" href="../elements/id-84c8982e9bfc477f890229ea15b16eb7.html"  target="element">
				  				<area shape="rect" coords="68,92,334,234" href="../elements/id-1377ff08c0bb470c899af25636f4d3b6.html"  target="element">

				  		<area shape="rect" coords="20,20,1562,300" href="../elements/id-21ec37debc3b4ec69bbe373f573606c4.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">To-do</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-21ec37debc3b4ec69bbe373f573606c4.html" target="element"> Problemer med dagens Altinn 2.0 formidlingstjeneste </a> </td>
											    <td> <a href="../elements/id-21ec37debc3b4ec69bbe373f573606c4.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1377ff08c0bb470c899af25636f4d3b6.html" target="element"> Praktisk st&#248;rrelsesbegrensing p&#229;  ca. 1GB meldinger  </a> </td>
													    <td> <a href="../elements/id-1377ff08c0bb470c899af25636f4d3b6.html" target="element" class="i18n-elementtype-Assessment">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-84c8982e9bfc477f890229ea15b16eb7.html" target="element"> Manglende funksjonalitet </a> </td>
													    <td> <a href="../elements/id-84c8982e9bfc477f890229ea15b16eb7.html" target="element" class="i18n-elementtype-Assessment">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-285e687a28ff497aaff6335d4cd92b3c.html" target="element"> Blir brukt for andre form&#229;l enn tiltenkt </a> </td>
													    <td> <a href="../elements/id-285e687a28ff497aaff6335d4cd92b3c.html" target="element" class="i18n-elementtype-Assessment">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4cd1bdb87e58471c8d3ef3fa4c48b1eb.html" target="element"> Rot&#229;rsak </a> </td>
											    <td> <a href="../elements/id-4cd1bdb87e58471c8d3ef3fa4c48b1eb.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f958e850ff55476e9291120393969db6.html" target="element"> Begrensninger relatert til SOAP og MTOM </a> </td>
													    <td> <a href="../elements/id-f958e850ff55476e9291120393969db6.html" target="element" class="i18n-elementtype-Assessment">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7563864ea3b4474cbdee6375a18671b9.html" target="element"> Begrensninger relatert til Binary Streams </a> </td>
													    <td> <a href="../elements/id-7563864ea3b4474cbdee6375a18671b9.html" target="element" class="i18n-elementtype-Assessment">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-531780b9e1004dd0baefe5216fece744.html" target="element"> Mulige l&#248;sninger ut fra teknologier i as-is l&#248;sning </a> </td>
											    <td> <a href="../elements/id-531780b9e1004dd0baefe5216fece744.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-eb1dc8c0d49d4b5aa9446e4975ace912.html" target="element"> Mulig l&#248;sning: Multimedia streaming </a> </td>
													    <td> <a href="../elements/id-eb1dc8c0d49d4b5aa9446e4975ace912.html" target="element" class="i18n-elementtype-Assessment">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e3868dcade1e405a8f5fbe5eca2147c7.html" target="element"> Mulig l&#248;sning: SMB Share Replication </a> </td>
													    <td> <a href="../elements/id-e3868dcade1e405a8f5fbe5eca2147c7.html" target="element" class="i18n-elementtype-Assessment">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d0c567f18b844e969379cb893bca2466.html" target="element"> MTOM </a> </td>
											    <td> <a href="../elements/id-d0c567f18b844e969379cb893bca2466.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0064698ce4b8497ea0b93544e765f547.html" target="element"> SOAP </a> </td>
											    <td> <a href="../elements/id-0064698ce4b8497ea0b93544e765f547.html" target="element" class="i18n-elementtype-TechnologyInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f5e0f819055346fc955156a20709b5e8.html" target="element"> REST </a> </td>
											    <td> <a href="../elements/id-f5e0f819055346fc955156a20709b5e8.html" target="element" class="i18n-elementtype-TechnologyInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7d9bc4d1507540af8e735f58f95a1daf.html" target="element"> Binary Stream </a> </td>
											    <td> <a href="../elements/id-7d9bc4d1507540af8e735f58f95a1daf.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-103c9e68c84d4dc9850ffba0d6708729.html" target="element"> Multimedia streaming </a> </td>
											    <td> <a href="../elements/id-103c9e68c84d4dc9850ffba0d6708729.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ceb924e8a5924d34a3244217931052ce.html" target="element"> SMB Share </a> </td>
											    <td> <a href="../elements/id-ceb924e8a5924d34a3244217931052ce.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-7d1c26ee4c0c45769f955c9144986123.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7d1c26ee4c0c45769f955c9144986123.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21ec37debc3b4ec69bbe373f573606c4.html" target="element"> Problemer med dagens Altinn 2.0 formidlingstjeneste </a> </td>
																		<td> <a href="../elements/id-1377ff08c0bb470c899af25636f4d3b6.html" target="element"> Praktisk st&#248;rrelsesbegrensing p&#229;  ca. 1GB meldinger  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ea22a5309f084a18b1e186e10e705d2b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ea22a5309f084a18b1e186e10e705d2b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21ec37debc3b4ec69bbe373f573606c4.html" target="element"> Problemer med dagens Altinn 2.0 formidlingstjeneste </a> </td>
																		<td> <a href="../elements/id-84c8982e9bfc477f890229ea15b16eb7.html" target="element"> Manglende funksjonalitet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f044be0ff8654e138d29d4840557f861.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f044be0ff8654e138d29d4840557f861.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21ec37debc3b4ec69bbe373f573606c4.html" target="element"> Problemer med dagens Altinn 2.0 formidlingstjeneste </a> </td>
																		<td> <a href="../elements/id-285e687a28ff497aaff6335d4cd92b3c.html" target="element"> Blir brukt for andre form&#229;l enn tiltenkt </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-42e7ea80f8ce43b0ae352d8df3d8bda9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-42e7ea80f8ce43b0ae352d8df3d8bda9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4cd1bdb87e58471c8d3ef3fa4c48b1eb.html" target="element"> Rot&#229;rsak </a> </td>
																		<td> <a href="../elements/id-f958e850ff55476e9291120393969db6.html" target="element"> Begrensninger relatert til SOAP og MTOM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e87a06ed82434c6fa37dd45a05db5335.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e87a06ed82434c6fa37dd45a05db5335.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4cd1bdb87e58471c8d3ef3fa4c48b1eb.html" target="element"> Rot&#229;rsak </a> </td>
																		<td> <a href="../elements/id-7563864ea3b4474cbdee6375a18671b9.html" target="element"> Begrensninger relatert til Binary Streams </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-de81028d3b924e0cb52774f115c3b630.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-de81028d3b924e0cb52774f115c3b630.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4cd1bdb87e58471c8d3ef3fa4c48b1eb.html" target="element"> Rot&#229;rsak </a> </td>
																		<td> <a href="../elements/id-21ec37debc3b4ec69bbe373f573606c4.html" target="element"> Problemer med dagens Altinn 2.0 formidlingstjeneste </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b3c45befeb644e3c9ee146bd02d55f0c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b3c45befeb644e3c9ee146bd02d55f0c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-531780b9e1004dd0baefe5216fece744.html" target="element"> Mulige l&#248;sninger ut fra teknologier i as-is l&#248;sning </a> </td>
																		<td> <a href="../elements/id-eb1dc8c0d49d4b5aa9446e4975ace912.html" target="element"> Mulig l&#248;sning: Multimedia streaming </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4f571b749e1842b4bc65dd1ba4e84dd4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4f571b749e1842b4bc65dd1ba4e84dd4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-531780b9e1004dd0baefe5216fece744.html" target="element"> Mulige l&#248;sninger ut fra teknologier i as-is l&#248;sning </a> </td>
																		<td> <a href="../elements/id-e3868dcade1e405a8f5fbe5eca2147c7.html" target="element"> Mulig l&#248;sning: SMB Share Replication </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-826bbeefc7f8497691ed63c327e7bb1c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-826bbeefc7f8497691ed63c327e7bb1c.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-531780b9e1004dd0baefe5216fece744.html" target="element"> Mulige l&#248;sninger ut fra teknologier i as-is l&#248;sning </a> </td>
																		<td> <a href="../elements/id-4cd1bdb87e58471c8d3ef3fa4c48b1eb.html" target="element"> Rot&#229;rsak </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-616c493d456c4aa4a71e5b1de1c67573.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-616c493d456c4aa4a71e5b1de1c67573.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d0c567f18b844e969379cb893bca2466.html" target="element"> MTOM </a> </td>
																		<td> <a href="../elements/id-0064698ce4b8497ea0b93544e765f547.html" target="element"> SOAP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-54c4dc4c461342ee8f9fc995465f972d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-54c4dc4c461342ee8f9fc995465f972d.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d0c567f18b844e969379cb893bca2466.html" target="element"> MTOM </a> </td>
																		<td> <a href="../elements/id-f958e850ff55476e9291120393969db6.html" target="element"> Begrensninger relatert til SOAP og MTOM </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8b773f82d79a428799ccb9e655fe0be5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b773f82d79a428799ccb9e655fe0be5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d9bc4d1507540af8e735f58f95a1daf.html" target="element"> Binary Stream </a> </td>
																		<td> <a href="../elements/id-f5e0f819055346fc955156a20709b5e8.html" target="element"> REST </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1a6a9ae39a88451ca7afee3b990648d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1a6a9ae39a88451ca7afee3b990648d9.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d9bc4d1507540af8e735f58f95a1daf.html" target="element"> Binary Stream </a> </td>
																		<td> <a href="../elements/id-d0c567f18b844e969379cb893bca2466.html" target="element"> MTOM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7ef66744650a476bbfa42abc4b01188b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7ef66744650a476bbfa42abc4b01188b.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d9bc4d1507540af8e735f58f95a1daf.html" target="element"> Binary Stream </a> </td>
																		<td> <a href="../elements/id-7563864ea3b4474cbdee6375a18671b9.html" target="element"> Begrensninger relatert til Binary Streams </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-676d639013e54e1b8b23895f71e8c8f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-676d639013e54e1b8b23895f71e8c8f0.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-103c9e68c84d4dc9850ffba0d6708729.html" target="element"> Multimedia streaming </a> </td>
																		<td> <a href="../elements/id-eb1dc8c0d49d4b5aa9446e4975ace912.html" target="element"> Mulig l&#248;sning: Multimedia streaming </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e962323cec5f486da13b585de9d50b62.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e962323cec5f486da13b585de9d50b62.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ceb924e8a5924d34a3244217931052ce.html" target="element"> SMB Share </a> </td>
																		<td> <a href="../elements/id-e3868dcade1e405a8f5fbe5eca2147c7.html" target="element"> Mulig l&#248;sning: SMB Share Replication </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>