<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Open source   solutions for sharing very large file</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Open source   solutions for sharing very large file</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-44091e9bfaef42e6b722c1e1bae9f43e.png" alt="Open source   solutions for sharing very large file" usemap="#id-44091e9bfaef42e6b722c1e1bae9f43emap"/>
			   <map name="id-44091e9bfaef42e6b722c1e1bae9f43emap">
				  		<area shape="rect" coords="1280,20,1546,162" href="../elements/id-d6cf20edee0041bba96d918ade376372.html"  target="element">
				  		<area shape="rect" coords="980,20,1246,162" href="../elements/id-7deb5bb2fb9e453f86602f56973b3dc5.html"  target="element">
				  		<area shape="rect" coords="668,20,934,162" href="../elements/id-145f7f96eb504116a39d5a2662a23d7c.html"  target="element">
				  		<area shape="rect" coords="344,20,610,162" href="../elements/id-82dac8274e614555a3f75f4342421249.html"  target="element">
				  		<area shape="rect" coords="20,20,286,162" href="../elements/id-54844454514944ffb4ae8ebde9469492.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Here are some of the most popular open source solutions for sharing very large files:

Nextcloud: Nextcloud is an open source cloud-based file storage and sharing platform that can be installed on-premises or hosted in the cloud. Nextcloud includes features such as file versioning, file sharing, and file encryption, and can be used for sharing very large files securely and efficiently.

ownCloud: ownCloud is an open source cloud-based file storage and sharing platform that includes many of the same features as Nextcloud. ownCloud can be installed on-premises or hosted in the cloud, and includes features such as file versioning, file sharing, and file encryption.

Pydio: Pydio is an open source file sharing and synchronization platform that includes features such as file versioning, file sharing, and file encryption. Pydio can be installed on-premises or hosted in the cloud, and includes mobile and desktop clients for easy file access and sharing.

Seafile: Seafile is an open source cloud-based file storage and sharing platform that includes a variety of features for sharing large files, such as file versioning, file locking, and file encryption. Seafile can be installed on-premises or hosted in the cloud, and includes mobile and desktop clients for easy file access and sharing.

FileSender: FileSender is an open source web-based file transfer solution that is designed for sharing large files securely and efficiently. FileSender includes features such as encryption, user authentication, and expiration dates, which can help to ensure the security and privacy of shared files.

These are just a few examples of open source solutions for sharing very large files. Each solution has its own unique features and benefits, so it's important to research and compare them to find the best solution for your needs.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-54844454514944ffb4ae8ebde9469492.html" target="element"> Nextcloud </a> </td>
											    <td> <a href="../elements/id-54844454514944ffb4ae8ebde9469492.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-82dac8274e614555a3f75f4342421249.html" target="element"> ownCloud </a> </td>
											    <td> <a href="../elements/id-82dac8274e614555a3f75f4342421249.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-145f7f96eb504116a39d5a2662a23d7c.html" target="element"> Pydio </a> </td>
											    <td> <a href="../elements/id-145f7f96eb504116a39d5a2662a23d7c.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7deb5bb2fb9e453f86602f56973b3dc5.html" target="element"> Seafile </a> </td>
											    <td> <a href="../elements/id-7deb5bb2fb9e453f86602f56973b3dc5.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d6cf20edee0041bba96d918ade376372.html" target="element"> FileSender </a> </td>
											    <td> <a href="../elements/id-d6cf20edee0041bba96d918ade376372.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>