<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Operative evner</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Operative evner</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-41fde00d5db647f992cd4b65b0f6231c.png" alt="Operative evner" usemap="#id-41fde00d5db647f992cd4b65b0f6231cmap"/>
			   <map name="id-41fde00d5db647f992cd4b65b0f6231cmap">
				  				<area shape="rect" coords="430,116,716,258" href="../elements/id-4412e672332b40319b1e535dcfb5dde8.html"  target="element">
				  				<area shape="rect" coords="80,520,366,662" href="../elements/id-10281c58ea454bc8b0d5f2fc0c266feb.html"  target="element">
				  				<area shape="rect" coords="430,720,716,862" href="../elements/id-9e3b371c5f9e4132b6e0ddaab4ff7e1d.html"  target="element">
				  				<area shape="rect" coords="780,720,1066,862" href="../elements/id-7824c5dc65234432ac71b3d8d6c30d7b.html"  target="element">
				  				<area shape="rect" coords="80,720,366,862" href="../elements/id-b82a01c005ef47548f4c4152225f4148.html"  target="element">
				  				<area shape="rect" coords="80,116,366,258" href="../elements/id-e5048815d4e74368a8f0cb99bfdef465.html"  target="element">
				  				<area shape="rect" coords="430,520,716,662" href="../elements/id-d4b11f763fb34cbd851b64e68f016f04.html"  target="element">
				  				<area shape="rect" coords="80,320,366,462" href="../elements/id-aaa604dab12643c38a394a357e87037d.html"  target="element">
				  				<area shape="rect" coords="780,320,1066,462" href="../elements/id-8b91987065d9491198d96faad0e6609a.html"  target="element">
				  				<area shape="rect" coords="780,116,1066,258" href="../elements/id-b72996bdd09a4f26b4b75114b2460b27.html"  target="element">
				  				<area shape="rect" coords="430,320,716,462" href="../elements/id-f9e548ef47114baaa488a480564470e2.html"  target="element">
				  				<area shape="rect" coords="780,520,1066,662" href="../elements/id-84364d54f0ad426b9c7b2b703cf3275f.html"  target="element">

				  		<area shape="rect" coords="20,20,1138,912" href="../elements/id-b7663750a8ea43b09fee8fb823243ecb.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-b7663750a8ea43b09fee8fb823243ecb.html" target="element"> Operative evner </a> </td>
											    <td> <a href="../elements/id-b7663750a8ea43b09fee8fb823243ecb.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-84364d54f0ad426b9c7b2b703cf3275f.html" target="element"> Logging </a> </td>
													    <td> <a href="../elements/id-84364d54f0ad426b9c7b2b703cf3275f.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f9e548ef47114baaa488a480564470e2.html" target="element"> Korrelering av meldinger (sak og prosess) </a> </td>
													    <td> <a href="../elements/id-f9e548ef47114baaa488a480564470e2.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b72996bdd09a4f26b4b75114b2460b27.html" target="element"> Dynamisk saksbehandling (hendelsesdrevet) </a> </td>
													    <td> <a href="../elements/id-b72996bdd09a4f26b4b75114b2460b27.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8b91987065d9491198d96faad0e6609a.html" target="element"> Prosessmonitorering </a> </td>
													    <td> <a href="../elements/id-8b91987065d9491198d96faad0e6609a.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-aaa604dab12643c38a394a357e87037d.html" target="element"> Datautveksling </a> </td>
													    <td> <a href="../elements/id-aaa604dab12643c38a394a357e87037d.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d4b11f763fb34cbd851b64e68f016f04.html" target="element"> Informasjonssikkerhet (tillitstjenester) </a> </td>
													    <td> <a href="../elements/id-d4b11f763fb34cbd851b64e68f016f04.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e5048815d4e74368a8f0cb99bfdef465.html" target="element"> Eksekvering av prosessmodeller (orkestering og koreografi) </a> </td>
													    <td> <a href="../elements/id-e5048815d4e74368a8f0cb99bfdef465.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b82a01c005ef47548f4c4152225f4148.html" target="element"> Innebygget arkivering </a> </td>
													    <td> <a href="../elements/id-b82a01c005ef47548f4c4152225f4148.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7824c5dc65234432ac71b3d8d6c30d7b.html" target="element"> Innebygget dokumentasjon av  etterlevelse </a> </td>
													    <td> <a href="../elements/id-7824c5dc65234432ac71b3d8d6c30d7b.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9e3b371c5f9e4132b6e0ddaab4ff7e1d.html" target="element"> Innebygget dataproveniens </a> </td>
													    <td> <a href="../elements/id-9e3b371c5f9e4132b6e0ddaab4ff7e1d.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-10281c58ea454bc8b0d5f2fc0c266feb.html" target="element"> Dataanalyse </a> </td>
													    <td> <a href="../elements/id-10281c58ea454bc8b0d5f2fc0c266feb.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4412e672332b40319b1e535dcfb5dde8.html" target="element"> Eksekvering av regelmodeller  </a> </td>
													    <td> <a href="../elements/id-4412e672332b40319b1e535dcfb5dde8.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-dbd516f2458c49bf9c024ae2ae9c9f1f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dbd516f2458c49bf9c024ae2ae9c9f1f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7663750a8ea43b09fee8fb823243ecb.html" target="element"> Operative evner </a> </td>
																		<td> <a href="../elements/id-9e3b371c5f9e4132b6e0ddaab4ff7e1d.html" target="element"> Innebygget dataproveniens </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ff20cba3d4ba41babf55228390a8bfe5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ff20cba3d4ba41babf55228390a8bfe5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7663750a8ea43b09fee8fb823243ecb.html" target="element"> Operative evner </a> </td>
																		<td> <a href="../elements/id-84364d54f0ad426b9c7b2b703cf3275f.html" target="element"> Logging </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-83f632b7b7844b8bab774d48d069dcb8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-83f632b7b7844b8bab774d48d069dcb8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7663750a8ea43b09fee8fb823243ecb.html" target="element"> Operative evner </a> </td>
																		<td> <a href="../elements/id-d4b11f763fb34cbd851b64e68f016f04.html" target="element"> Informasjonssikkerhet (tillitstjenester) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ab108fcd7f96467f879c7a4d65cd5d19.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ab108fcd7f96467f879c7a4d65cd5d19.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7663750a8ea43b09fee8fb823243ecb.html" target="element"> Operative evner </a> </td>
																		<td> <a href="../elements/id-8b91987065d9491198d96faad0e6609a.html" target="element"> Prosessmonitorering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dac647f31604434890431a2685b41dfa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dac647f31604434890431a2685b41dfa.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7663750a8ea43b09fee8fb823243ecb.html" target="element"> Operative evner </a> </td>
																		<td> <a href="../elements/id-7824c5dc65234432ac71b3d8d6c30d7b.html" target="element"> Innebygget dokumentasjon av  etterlevelse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2f5ed347863548f49fcfebadbf38d033.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2f5ed347863548f49fcfebadbf38d033.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7663750a8ea43b09fee8fb823243ecb.html" target="element"> Operative evner </a> </td>
																		<td> <a href="../elements/id-aaa604dab12643c38a394a357e87037d.html" target="element"> Datautveksling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29de8f48bb9548478d2837bc7bb1d36c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29de8f48bb9548478d2837bc7bb1d36c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7663750a8ea43b09fee8fb823243ecb.html" target="element"> Operative evner </a> </td>
																		<td> <a href="../elements/id-10281c58ea454bc8b0d5f2fc0c266feb.html" target="element"> Dataanalyse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3aad31c367dc4812b89febed21771148.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3aad31c367dc4812b89febed21771148.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7663750a8ea43b09fee8fb823243ecb.html" target="element"> Operative evner </a> </td>
																		<td> <a href="../elements/id-b82a01c005ef47548f4c4152225f4148.html" target="element"> Innebygget arkivering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-208bd9287f434a9a8cf877a1f7eddbca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-208bd9287f434a9a8cf877a1f7eddbca.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7663750a8ea43b09fee8fb823243ecb.html" target="element"> Operative evner </a> </td>
																		<td> <a href="../elements/id-f9e548ef47114baaa488a480564470e2.html" target="element"> Korrelering av meldinger (sak og prosess) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6b8b01c0eb7549c8b24d7336dacf43a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6b8b01c0eb7549c8b24d7336dacf43a2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7663750a8ea43b09fee8fb823243ecb.html" target="element"> Operative evner </a> </td>
																		<td> <a href="../elements/id-b72996bdd09a4f26b4b75114b2460b27.html" target="element"> Dynamisk saksbehandling (hendelsesdrevet) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1ff73642c40a47358694502801f6c88e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1ff73642c40a47358694502801f6c88e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7663750a8ea43b09fee8fb823243ecb.html" target="element"> Operative evner </a> </td>
																		<td> <a href="../elements/id-e5048815d4e74368a8f0cb99bfdef465.html" target="element"> Eksekvering av prosessmodeller (orkestering og koreografi) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cccd154b1d814b63b390b16cb045d8ff.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cccd154b1d814b63b390b16cb045d8ff.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7663750a8ea43b09fee8fb823243ecb.html" target="element"> Operative evner </a> </td>
																		<td> <a href="../elements/id-4412e672332b40319b1e535dcfb5dde8.html" target="element"> Eksekvering av regelmodeller  </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-b5654d2a85894a05a499a62604e7078d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b5654d2a85894a05a499a62604e7078d.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-84364d54f0ad426b9c7b2b703cf3275f.html" target="element"> Logging </a> </td>
																				<td> <a href="../elements/id-8b91987065d9491198d96faad0e6609a.html" target="element"> Prosessmonitorering </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-216ae3127b8343099e8a44c0b7f7830b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-216ae3127b8343099e8a44c0b7f7830b.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-84364d54f0ad426b9c7b2b703cf3275f.html" target="element"> Logging </a> </td>
																				<td> <a href="../elements/id-7824c5dc65234432ac71b3d8d6c30d7b.html" target="element"> Innebygget dokumentasjon av  etterlevelse </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5240585bc7924de9ab980c65c288a11b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5240585bc7924de9ab980c65c288a11b.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-84364d54f0ad426b9c7b2b703cf3275f.html" target="element"> Logging </a> </td>
																				<td> <a href="../elements/id-d4b11f763fb34cbd851b64e68f016f04.html" target="element"> Informasjonssikkerhet (tillitstjenester) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-34803f0394e546509320e78fc91db6d4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-34803f0394e546509320e78fc91db6d4.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f9e548ef47114baaa488a480564470e2.html" target="element"> Korrelering av meldinger (sak og prosess) </a> </td>
																				<td> <a href="../elements/id-aaa604dab12643c38a394a357e87037d.html" target="element"> Datautveksling </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-78e626596270425994313be09574a8fa.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-78e626596270425994313be09574a8fa.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f9e548ef47114baaa488a480564470e2.html" target="element"> Korrelering av meldinger (sak og prosess) </a> </td>
																				<td> <a href="../elements/id-8b91987065d9491198d96faad0e6609a.html" target="element"> Prosessmonitorering </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>