<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Utvekslingsmønstre - de viktigste</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Utvekslingsm&#248;nstre - de viktigste</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-763a4a188c344e0db7003ece0686f0a1.png" alt="Utvekslingsmønstre - de viktigste" usemap="#id-763a4a188c344e0db7003ece0686f0a1map"/>
			   <map name="id-763a4a188c344e0db7003ece0686f0a1map">
				  						<area shape="rect" coords="90,652,376,794" href="../elements/id-a1f6d4de8c2c41ab923617592c75f3dd.html"  target="element">
				  						<area shape="rect" coords="402,652,688,794" href="../elements/id-391a284b7df64356a004f45b9005b9f3.html"  target="element">
				  						<area shape="rect" coords="714,652,1000,794" href="../elements/id-7ce2bc482c1e4565b108175a7e1e9bdb.html"  target="element">

				  				<area shape="rect" coords="54,580,1022,812" href="../elements/id-5e83b0c48dee4fd98fd55d292d06ce80.html"  target="element">
				  						<area shape="rect" coords="716,152,1002,294" href="../elements/id-5de832b29c3d41119a0ac2be50a7abd0.html"  target="element">
				  						<area shape="rect" coords="404,152,690,294" href="../elements/id-8d3eb39cfce840869beff626d4924c6e.html"  target="element">
				  						<area shape="rect" coords="92,152,378,294" href="../elements/id-c35b72fc65b94dbd95d296543628751a.html"  target="element">

				  				<area shape="rect" coords="56,80,1022,322" href="../elements/id-664ae44f09ff4275b0eb7b21317c5d37.html"  target="element">
				  						<area shape="rect" coords="84,390,370,532" href="../elements/id-cd5a7a74d22246f4b1df020f0e039595.html"  target="element">
				  						<area shape="rect" coords="714,390,1000,532" href="../elements/id-67fbe36797b540cfabc322b909715106.html"  target="element">
				  						<area shape="rect" coords="394,390,680,532" href="../elements/id-87728bd5cca54034bde4ef16fade2a17.html"  target="element">

				  				<area shape="rect" coords="54,340,1022,562" href="../elements/id-40e660fe11024194a5acf9d6f4820458.html"  target="element">

				  		<area shape="rect" coords="20,20,1072,842" href="../elements/id-26c6a7d2518d4b35835eefd393cf4733.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-26c6a7d2518d4b35835eefd393cf4733.html" target="element"> Viktige utvekslingsm&#248;nstre </a> </td>
											    <td> <a href="../elements/id-26c6a7d2518d4b35835eefd393cf4733.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-40e660fe11024194a5acf9d6f4820458.html" target="element"> Publisering til ukjente mottakere </a> </td>
													    <td> <a href="../elements/id-40e660fe11024194a5acf9d6f4820458.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-87728bd5cca54034bde4ef16fade2a17.html" target="element"> Publisering til abonnenter (pub-sub) </a> </td>
															    <td> <a href="../elements/id-87728bd5cca54034bde4ef16fade2a17.html" target="element" class="i18n-elementtype-BusinessInteraction">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-67fbe36797b540cfabc322b909715106.html" target="element"> Publisering via en hendelsesliste (event streaming) </a> </td>
															    <td> <a href="../elements/id-67fbe36797b540cfabc322b909715106.html" target="element" class="i18n-elementtype-BusinessInteraction">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-cd5a7a74d22246f4b1df020f0e039595.html" target="element"> Publisering via felles k&#248; </a> </td>
															    <td> <a href="../elements/id-cd5a7a74d22246f4b1df020f0e039595.html" target="element" class="i18n-elementtype-BusinessInteraction">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-664ae44f09ff4275b0eb7b21317c5d37.html" target="element"> Forsendelse til kjente mottakere </a> </td>
													    <td> <a href="../elements/id-664ae44f09ff4275b0eb7b21317c5d37.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-c35b72fc65b94dbd95d296543628751a.html" target="element"> Forsendelse - en til en </a> </td>
															    <td> <a href="../elements/id-c35b72fc65b94dbd95d296543628751a.html" target="element" class="i18n-elementtype-BusinessInteraction">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-8d3eb39cfce840869beff626d4924c6e.html" target="element"> Forsendelse - en til flere kjente </a> </td>
															    <td> <a href="../elements/id-8d3eb39cfce840869beff626d4924c6e.html" target="element" class="i18n-elementtype-BusinessInteraction">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-5de832b29c3d41119a0ac2be50a7abd0.html" target="element"> Forsendelse - flere til en </a> </td>
															    <td> <a href="../elements/id-5de832b29c3d41119a0ac2be50a7abd0.html" target="element" class="i18n-elementtype-BusinessInteraction">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-5e83b0c48dee4fd98fd55d292d06ce80.html" target="element"> Foresp&#248;rsel-svar </a> </td>
													    <td> <a href="../elements/id-5e83b0c48dee4fd98fd55d292d06ce80.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-7ce2bc482c1e4565b108175a7e1e9bdb.html" target="element"> Foresp&#248;rsel-svar - en mot flere ukjente </a> </td>
															    <td> <a href="../elements/id-7ce2bc482c1e4565b108175a7e1e9bdb.html" target="element" class="i18n-elementtype-BusinessInteraction">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-391a284b7df64356a004f45b9005b9f3.html" target="element"> Foresp&#248;rsel-svar - en mot flere kjente </a> </td>
															    <td> <a href="../elements/id-391a284b7df64356a004f45b9005b9f3.html" target="element" class="i18n-elementtype-BusinessInteraction">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-a1f6d4de8c2c41ab923617592c75f3dd.html" target="element"> Foresp&#248;rsel-svar - en mot en </a> </td>
															    <td> <a href="../elements/id-a1f6d4de8c2c41ab923617592c75f3dd.html" target="element" class="i18n-elementtype-BusinessInteraction">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-1d0bb60eb600400497ee51ec2797f42d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1d0bb60eb600400497ee51ec2797f42d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-26c6a7d2518d4b35835eefd393cf4733.html" target="element"> Viktige utvekslingsm&#248;nstre </a> </td>
																		<td> <a href="../elements/id-5e83b0c48dee4fd98fd55d292d06ce80.html" target="element"> Foresp&#248;rsel-svar </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-05b8d424517142c4b175614ec9d92933.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-05b8d424517142c4b175614ec9d92933.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-26c6a7d2518d4b35835eefd393cf4733.html" target="element"> Viktige utvekslingsm&#248;nstre </a> </td>
																		<td> <a href="../elements/id-664ae44f09ff4275b0eb7b21317c5d37.html" target="element"> Forsendelse til kjente mottakere </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ca4a61f947c848b7816ab28ad927b28a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ca4a61f947c848b7816ab28ad927b28a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-26c6a7d2518d4b35835eefd393cf4733.html" target="element"> Viktige utvekslingsm&#248;nstre </a> </td>
																		<td> <a href="../elements/id-40e660fe11024194a5acf9d6f4820458.html" target="element"> Publisering til ukjente mottakere </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-25a20b71418e46248d30ecd5211fdfb9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-25a20b71418e46248d30ecd5211fdfb9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-40e660fe11024194a5acf9d6f4820458.html" target="element"> Publisering til ukjente mottakere </a> </td>
																				<td> <a href="../elements/id-67fbe36797b540cfabc322b909715106.html" target="element"> Publisering via en hendelsesliste (event streaming) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7feb8376117e482f9bd9f9c9b6e5da35.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7feb8376117e482f9bd9f9c9b6e5da35.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-40e660fe11024194a5acf9d6f4820458.html" target="element"> Publisering til ukjente mottakere </a> </td>
																				<td> <a href="../elements/id-87728bd5cca54034bde4ef16fade2a17.html" target="element"> Publisering til abonnenter (pub-sub) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f18107ece1e846ef94f4cad0e7ad0b53.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f18107ece1e846ef94f4cad0e7ad0b53.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-40e660fe11024194a5acf9d6f4820458.html" target="element"> Publisering til ukjente mottakere </a> </td>
																				<td> <a href="../elements/id-cd5a7a74d22246f4b1df020f0e039595.html" target="element"> Publisering via felles k&#248; </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-d39d4356ff274819a447f2f30f023238.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d39d4356ff274819a447f2f30f023238.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-664ae44f09ff4275b0eb7b21317c5d37.html" target="element"> Forsendelse til kjente mottakere </a> </td>
																				<td> <a href="../elements/id-8d3eb39cfce840869beff626d4924c6e.html" target="element"> Forsendelse - en til flere kjente </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-31b6d771b0d64cc198efbdba63d41e80.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-31b6d771b0d64cc198efbdba63d41e80.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-664ae44f09ff4275b0eb7b21317c5d37.html" target="element"> Forsendelse til kjente mottakere </a> </td>
																				<td> <a href="../elements/id-c35b72fc65b94dbd95d296543628751a.html" target="element"> Forsendelse - en til en </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4c866847e2cb48be9a35fbf8eb27cd5d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4c866847e2cb48be9a35fbf8eb27cd5d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-664ae44f09ff4275b0eb7b21317c5d37.html" target="element"> Forsendelse til kjente mottakere </a> </td>
																				<td> <a href="../elements/id-5de832b29c3d41119a0ac2be50a7abd0.html" target="element"> Forsendelse - flere til en </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-206c2db42bf9492ab5cca02a0d7492d1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-206c2db42bf9492ab5cca02a0d7492d1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5e83b0c48dee4fd98fd55d292d06ce80.html" target="element"> Foresp&#248;rsel-svar </a> </td>
																				<td> <a href="../elements/id-391a284b7df64356a004f45b9005b9f3.html" target="element"> Foresp&#248;rsel-svar - en mot flere kjente </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b4a7e90d2cc44a36b4648edf0717a389.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b4a7e90d2cc44a36b4648edf0717a389.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5e83b0c48dee4fd98fd55d292d06ce80.html" target="element"> Foresp&#248;rsel-svar </a> </td>
																				<td> <a href="../elements/id-a1f6d4de8c2c41ab923617592c75f3dd.html" target="element"> Foresp&#248;rsel-svar - en mot en </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b2361bacd799469bb9ce5cec3cf3c4e8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b2361bacd799469bb9ce5cec3cf3c4e8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5e83b0c48dee4fd98fd55d292d06ce80.html" target="element"> Foresp&#248;rsel-svar </a> </td>
																				<td> <a href="../elements/id-7ce2bc482c1e4565b108175a7e1e9bdb.html" target="element"> Foresp&#248;rsel-svar - en mot flere ukjente </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>