<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>M-M-M-M</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>M-M-M-M</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-70b1d829051a4b36948617fc1c91942b.png" alt="M-M-M-M" usemap="#id-70b1d829051a4b36948617fc1c91942bmap"/>
			   <map name="id-70b1d829051a4b36948617fc1c91942bmap">
				  		<area shape="rect" coords="3260,296,3534,438" href="../elements/id-a0d2cc8907004d57bdfc9f5f47e1c7a1.html"  target="element">
				  		<area shape="rect" coords="3872,296,4146,438" href="../elements/id-dfa4c7b513734a0a99a7d57365041026.html"  target="element">
				  		<area shape="rect" coords="4468,296,4742,438" href="../elements/id-be02e852a675448d87026ada595bda72.html"  target="element">
				  		<area shape="rect" coords="5036,308,5310,450" href="../elements/id-1b1aa012ab224b9a993c2937bc9e29ec.html"  target="element">
				  		<area shape="rect" coords="2876,20,3150,162" href="../elements/id-a0e83a42f0d64e4a97e8fbb5c8bc4fdc.html"  target="element">
				  		<area shape="rect" coords="5060,20,5334,162" href="../elements/id-bf0086f2d8524160ae0c2e022da4abf5.html"  target="element">
				  		<area shape="rect" coords="4352,20,4626,162" href="../elements/id-bf0086f2d8524160ae0c2e022da4abf5.html"  target="element">
				  		<area shape="rect" coords="3608,20,3882,162" href="../elements/id-a0e83a42f0d64e4a97e8fbb5c8bc4fdc.html"  target="element">
				  		<area shape="rect" coords="1796,1248,2070,1390" href="../elements/id-a103bd1ad40a450fb598aad168b38272.html"  target="element">
				  		<area shape="rect" coords="1304,1196,1578,1338" href="../elements/id-6d3fdcdb1ef841e8aa5232d97a1f3247.html"  target="element">
				  		<area shape="rect" coords="968,1196,1242,1338" href="../elements/id-6115ba5b593645dc8cbb914728be8314.html"  target="element">
				  				<area shape="rect" coords="1916,962,2110,1104" href="../elements/id-7c63a0030efc42b8a9d17b98c6b89542.html"  target="element">
				  				<area shape="rect" coords="1904,782,2098,924" href="../elements/id-fd14e6477a1f4ca38f63fa1def35990a.html"  target="element">
				  				<area shape="rect" coords="2132,782,2326,924" href="../elements/id-dcc24db9454d4451b3914d8599a3d907.html"  target="element">
				  				<area shape="rect" coords="2144,962,2338,1104" href="../elements/id-714eb0fc4eab493bb05e093006b2a184.html"  target="element">

				  		<area shape="rect" coords="1868,698,2422,1134" href="../elements/id-da1f2e786c2f4b5a8823a05d8147a834.html"  target="element">
				  				<area shape="rect" coords="1300,962,1494,1104" href="../elements/id-2b6be24425ca4c4a9357a49701602915.html"  target="element">
				  				<area shape="rect" coords="1300,782,1494,924" href="../elements/id-32bb9e61dce542dea6fc3c7b00739476.html"  target="element">
				  				<area shape="rect" coords="1528,962,1722,1104" href="../elements/id-17e64da0e24b491f82569c67930f0299.html"  target="element">

				  		<area shape="rect" coords="1252,698,1806,1134" href="../elements/id-0474133845004fecbb7d13f73ea4e37c.html"  target="element">
				  				<area shape="rect" coords="680,782,874,924" href="../elements/id-c12a34f76d5a49bfad0f411200786a51.html"  target="element">

				  		<area shape="rect" coords="644,698,1198,1134" href="../elements/id-1e9dc66ebab84d0f89dc07850fb05e89.html"  target="element">
				  		<area shape="rect" coords="356,1196,630,1338" href="../elements/id-7def563324ea42bca723d00c715213b9.html"  target="element">
				  				<area shape="rect" coords="88,962,282,1104" href="../elements/id-53f9791bc40f44b683397887d67e72b2.html"  target="element">
				  				<area shape="rect" coords="316,782,510,924" href="../elements/id-526fc3f50fbd46f48ae38181d7953aae.html"  target="element">
				  				<area shape="rect" coords="76,782,270,924" href="../elements/id-46ba1eaace1c476ba156c2e4e3dea41b.html"  target="element">
				  				<area shape="rect" coords="316,962,510,1104" href="../elements/id-af6bf7d6c8804c03bd6ab253d1ccf5f8.html"  target="element">

				  		<area shape="rect" coords="40,698,594,1134" href="../elements/id-32883e28a2644b1cb3185d4e38d9a0b0.html"  target="element">
				  		<area shape="rect" coords="32,1196,306,1338" href="../elements/id-7da5354cffe74182b56860e297b8bd81.html"  target="element">
				  		<area shape="rect" coords="668,1196,942,1338" href="../elements/id-8e0c6b0d94e545fb9405e434113deaa9.html"  target="element">
				  		<area shape="rect" coords="3140,812,3414,954" href="../elements/id-007c5468de69401798a984b48e338a01.html"  target="element">
				  		<area shape="rect" coords="3272,1244,3546,1386" href="../elements/id-455f691a37114bd8be21e81bc6d57566.html"  target="element">
				  		<area shape="rect" coords="4124,992,4398,1134" href="../elements/id-9ca455c9a8d3464fac414e721564f0c6.html"  target="element">
				  		<area shape="rect" coords="3572,964,3846,1106" href="../elements/id-09448f7d9cc54ad89efb2f17287e5cf0.html"  target="element">
				  		<area shape="rect" coords="200,464,474,606" href="../elements/id-a0d2cc8907004d57bdfc9f5f47e1c7a1.html"  target="element">
				  		<area shape="rect" coords="812,464,1086,606" href="../elements/id-dfa4c7b513734a0a99a7d57365041026.html"  target="element">
				  		<area shape="rect" coords="1408,464,1682,606" href="../elements/id-be02e852a675448d87026ada595bda72.html"  target="element">
				  		<area shape="rect" coords="1976,476,2250,618" href="../elements/id-1b1aa012ab224b9a993c2937bc9e29ec.html"  target="element">
				  		<area shape="rect" coords="32,32,306,174" href="../elements/id-a0e83a42f0d64e4a97e8fbb5c8bc4fdc.html"  target="element">
				  		<area shape="rect" coords="20,248,2478,390" href="../elements/id-8406c0ed0e6b4877a6e72aebf9657e25.html"  target="element">
				  		<area shape="rect" coords="2216,32,2490,174" href="../elements/id-bf0086f2d8524160ae0c2e022da4abf5.html"  target="element">
				  		<area shape="rect" coords="1508,32,1782,174" href="../elements/id-bf0086f2d8524160ae0c2e022da4abf5.html"  target="element">
				  		<area shape="rect" coords="764,32,1038,174" href="../elements/id-a0e83a42f0d64e4a97e8fbb5c8bc4fdc.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a0e83a42f0d64e4a97e8fbb5c8bc4fdc.html" target="element"> Menneske </a> </td>
											    <td> <a href="../elements/id-a0e83a42f0d64e4a97e8fbb5c8bc4fdc.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf0086f2d8524160ae0c2e022da4abf5.html" target="element"> Maskin </a> </td>
											    <td> <a href="../elements/id-bf0086f2d8524160ae0c2e022da4abf5.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf0086f2d8524160ae0c2e022da4abf5.html" target="element"> Maskin </a> </td>
											    <td> <a href="../elements/id-bf0086f2d8524160ae0c2e022da4abf5.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8406c0ed0e6b4877a6e72aebf9657e25.html" target="element"> Melding </a> </td>
											    <td> <a href="../elements/id-8406c0ed0e6b4877a6e72aebf9657e25.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a0e83a42f0d64e4a97e8fbb5c8bc4fdc.html" target="element"> Menneske </a> </td>
											    <td> <a href="../elements/id-a0e83a42f0d64e4a97e8fbb5c8bc4fdc.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1b1aa012ab224b9a993c2937bc9e29ec.html" target="element"> Maskin-til-maskin melding </a> </td>
											    <td> <a href="../elements/id-1b1aa012ab224b9a993c2937bc9e29ec.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-be02e852a675448d87026ada595bda72.html" target="element"> Maskin-til-menneske melding </a> </td>
											    <td> <a href="../elements/id-be02e852a675448d87026ada595bda72.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dfa4c7b513734a0a99a7d57365041026.html" target="element"> Menneske-til-maskin melding </a> </td>
											    <td> <a href="../elements/id-dfa4c7b513734a0a99a7d57365041026.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a0d2cc8907004d57bdfc9f5f47e1c7a1.html" target="element"> Menneske-til-menneske melding </a> </td>
											    <td> <a href="../elements/id-a0d2cc8907004d57bdfc9f5f47e1c7a1.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-09448f7d9cc54ad89efb2f17287e5cf0.html" target="element"> Muntlig beskjed </a> </td>
											    <td> <a href="../elements/id-09448f7d9cc54ad89efb2f17287e5cf0.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9ca455c9a8d3464fac414e721564f0c6.html" target="element"> Elektronisk melding </a> </td>
											    <td> <a href="../elements/id-9ca455c9a8d3464fac414e721564f0c6.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-455f691a37114bd8be21e81bc6d57566.html" target="element"> Muntlig melding </a> </td>
											    <td> <a href="../elements/id-455f691a37114bd8be21e81bc6d57566.html" target="element" class="i18n-elementtype-BusinessInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-007c5468de69401798a984b48e338a01.html" target="element"> Elektronisk melding </a> </td>
											    <td> <a href="../elements/id-007c5468de69401798a984b48e338a01.html" target="element" class="i18n-elementtype-BusinessInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8e0c6b0d94e545fb9405e434113deaa9.html" target="element"> E-post </a> </td>
											    <td> <a href="../elements/id-8e0c6b0d94e545fb9405e434113deaa9.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7da5354cffe74182b56860e297b8bd81.html" target="element"> Telefon </a> </td>
											    <td> <a href="../elements/id-7da5354cffe74182b56860e297b8bd81.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-32883e28a2644b1cb3185d4e38d9a0b0.html" target="element"> Kanaler for meldinger fra menneske til menneske </a> </td>
											    <td> <a href="../elements/id-32883e28a2644b1cb3185d4e38d9a0b0.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-af6bf7d6c8804c03bd6ab253d1ccf5f8.html" target="element"> Elektronisk direktemelding mellom mennesker (online) </a> </td>
													    <td> <a href="../elements/id-af6bf7d6c8804c03bd6ab253d1ccf5f8.html" target="element" class="i18n-elementtype-BusinessInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-46ba1eaace1c476ba156c2e4e3dea41b.html" target="element"> Fysisk ansikt til ansikt </a> </td>
													    <td> <a href="../elements/id-46ba1eaace1c476ba156c2e4e3dea41b.html" target="element" class="i18n-elementtype-BusinessInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-526fc3f50fbd46f48ae38181d7953aae.html" target="element"> Elektronisk melding mellom mennesker (offline) </a> </td>
													    <td> <a href="../elements/id-526fc3f50fbd46f48ae38181d7953aae.html" target="element" class="i18n-elementtype-BusinessInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-53f9791bc40f44b683397887d67e72b2.html" target="element"> Brev (snailmail) </a> </td>
													    <td> <a href="../elements/id-53f9791bc40f44b683397887d67e72b2.html" target="element" class="i18n-elementtype-BusinessInterface">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-7def563324ea42bca723d00c715213b9.html" target="element"> SMS </a> </td>
											    <td> <a href="../elements/id-7def563324ea42bca723d00c715213b9.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1e9dc66ebab84d0f89dc07850fb05e89.html" target="element"> Kanaler for meldinger fra menneske til maskin </a> </td>
											    <td> <a href="../elements/id-1e9dc66ebab84d0f89dc07850fb05e89.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c12a34f76d5a49bfad0f411200786a51.html" target="element"> Web-portal </a> </td>
													    <td> <a href="../elements/id-c12a34f76d5a49bfad0f411200786a51.html" target="element" class="i18n-elementtype-BusinessInterface">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0474133845004fecbb7d13f73ea4e37c.html" target="element"> Kanaler for meldinger menneske til menneske (copy) </a> </td>
											    <td> <a href="../elements/id-0474133845004fecbb7d13f73ea4e37c.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-17e64da0e24b491f82569c67930f0299.html" target="element"> Elektronisk direktemelding mellom mennesker (online) (copy) </a> </td>
													    <td> <a href="../elements/id-17e64da0e24b491f82569c67930f0299.html" target="element" class="i18n-elementtype-BusinessInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-32bb9e61dce542dea6fc3c7b00739476.html" target="element"> Brev (snailmail) (copy) </a> </td>
													    <td> <a href="../elements/id-32bb9e61dce542dea6fc3c7b00739476.html" target="element" class="i18n-elementtype-BusinessInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2b6be24425ca4c4a9357a49701602915.html" target="element"> Elektronisk melding mellom mennesker (offline) (copy) </a> </td>
													    <td> <a href="../elements/id-2b6be24425ca4c4a9357a49701602915.html" target="element" class="i18n-elementtype-BusinessInterface">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-da1f2e786c2f4b5a8823a05d8147a834.html" target="element"> Kanaler for meldinger maskin til maskin </a> </td>
											    <td> <a href="../elements/id-da1f2e786c2f4b5a8823a05d8147a834.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-714eb0fc4eab493bb05e093006b2a184.html" target="element"> Elektronisk direktemelding mellom mennesker (online) (copy) </a> </td>
													    <td> <a href="../elements/id-714eb0fc4eab493bb05e093006b2a184.html" target="element" class="i18n-elementtype-BusinessInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dcc24db9454d4451b3914d8599a3d907.html" target="element"> Brev (snailmail) (copy) </a> </td>
													    <td> <a href="../elements/id-dcc24db9454d4451b3914d8599a3d907.html" target="element" class="i18n-elementtype-BusinessInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fd14e6477a1f4ca38f63fa1def35990a.html" target="element"> Asynkron meldings-utveksling </a> </td>
													    <td> <a href="../elements/id-fd14e6477a1f4ca38f63fa1def35990a.html" target="element" class="i18n-elementtype-BusinessInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7c63a0030efc42b8a9d17b98c6b89542.html" target="element"> Elektronisk melding mellom mennesker (offline) (copy) </a> </td>
													    <td> <a href="../elements/id-7c63a0030efc42b8a9d17b98c6b89542.html" target="element" class="i18n-elementtype-BusinessInterface">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-6115ba5b593645dc8cbb914728be8314.html" target="element"> Direktemeldinger </a> </td>
											    <td> <a href="../elements/id-6115ba5b593645dc8cbb914728be8314.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6d3fdcdb1ef841e8aa5232d97a1f3247.html" target="element"> Web-portal </a> </td>
											    <td> <a href="../elements/id-6d3fdcdb1ef841e8aa5232d97a1f3247.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a103bd1ad40a450fb598aad168b38272.html" target="element"> System Software </a> </td>
											    <td> <a href="../elements/id-a103bd1ad40a450fb598aad168b38272.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a0e83a42f0d64e4a97e8fbb5c8bc4fdc.html" target="element"> Menneske </a> </td>
											    <td> <a href="../elements/id-a0e83a42f0d64e4a97e8fbb5c8bc4fdc.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf0086f2d8524160ae0c2e022da4abf5.html" target="element"> Maskin </a> </td>
											    <td> <a href="../elements/id-bf0086f2d8524160ae0c2e022da4abf5.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf0086f2d8524160ae0c2e022da4abf5.html" target="element"> Maskin </a> </td>
											    <td> <a href="../elements/id-bf0086f2d8524160ae0c2e022da4abf5.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a0e83a42f0d64e4a97e8fbb5c8bc4fdc.html" target="element"> Menneske </a> </td>
											    <td> <a href="../elements/id-a0e83a42f0d64e4a97e8fbb5c8bc4fdc.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1b1aa012ab224b9a993c2937bc9e29ec.html" target="element"> Maskin-til-maskin melding </a> </td>
											    <td> <a href="../elements/id-1b1aa012ab224b9a993c2937bc9e29ec.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-be02e852a675448d87026ada595bda72.html" target="element"> Maskin-til-menneske melding </a> </td>
											    <td> <a href="../elements/id-be02e852a675448d87026ada595bda72.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dfa4c7b513734a0a99a7d57365041026.html" target="element"> Menneske-til-maskin melding </a> </td>
											    <td> <a href="../elements/id-dfa4c7b513734a0a99a7d57365041026.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a0d2cc8907004d57bdfc9f5f47e1c7a1.html" target="element"> Menneske-til-menneske melding </a> </td>
											    <td> <a href="../elements/id-a0d2cc8907004d57bdfc9f5f47e1c7a1.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-f6b6800734d1478db911ec6001371b0b.html" target="element"> melding fra menneske til menneske </a> </td>
																		<td> <a href="../elements/id-f6b6800734d1478db911ec6001371b0b.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0e83a42f0d64e4a97e8fbb5c8bc4fdc.html" target="element"> Menneske </a> </td>
																		<td> <a href="../elements/id-a0e83a42f0d64e4a97e8fbb5c8bc4fdc.html" target="element"> Menneske </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9794789709fd45a2ada1b06a650cac69.html" target="element"> melding fra menneske til maskin </a> </td>
																		<td> <a href="../elements/id-9794789709fd45a2ada1b06a650cac69.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0e83a42f0d64e4a97e8fbb5c8bc4fdc.html" target="element"> Menneske </a> </td>
																		<td> <a href="../elements/id-bf0086f2d8524160ae0c2e022da4abf5.html" target="element"> Maskin </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4a602b25037f427fb871de2bbaa356a5.html" target="element"> melding fra maskin til maskin </a> </td>
																		<td> <a href="../elements/id-4a602b25037f427fb871de2bbaa356a5.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bf0086f2d8524160ae0c2e022da4abf5.html" target="element"> Maskin </a> </td>
																		<td> <a href="../elements/id-bf0086f2d8524160ae0c2e022da4abf5.html" target="element"> Maskin </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-de1ad2b67bf04638872c9f6b350dd7fd.html" target="element"> melding fra maskin til menneske </a> </td>
																		<td> <a href="../elements/id-de1ad2b67bf04638872c9f6b350dd7fd.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bf0086f2d8524160ae0c2e022da4abf5.html" target="element"> Maskin </a> </td>
																		<td> <a href="../elements/id-a0e83a42f0d64e4a97e8fbb5c8bc4fdc.html" target="element"> Menneske </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4a602b25037f427fb871de2bbaa356a5.html" target="element"> melding fra maskin til maskin </a> </td>
																		<td> <a href="../elements/id-4a602b25037f427fb871de2bbaa356a5.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bf0086f2d8524160ae0c2e022da4abf5.html" target="element"> Maskin </a> </td>
																		<td> <a href="../elements/id-bf0086f2d8524160ae0c2e022da4abf5.html" target="element"> Maskin </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-87d90318c14a49e2833df83bc00b84c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-87d90318c14a49e2833df83bc00b84c6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8406c0ed0e6b4877a6e72aebf9657e25.html" target="element"> Melding </a> </td>
																		<td> <a href="../elements/id-f6b6800734d1478db911ec6001371b0b.html" target="element"> melding fra menneske til menneske </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-de352b20acf843f29903e5cac76dcc6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-de352b20acf843f29903e5cac76dcc6d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8406c0ed0e6b4877a6e72aebf9657e25.html" target="element"> Melding </a> </td>
																		<td> <a href="../elements/id-4a602b25037f427fb871de2bbaa356a5.html" target="element"> melding fra maskin til maskin </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-190671325fc642078e1cd6f607542595.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-190671325fc642078e1cd6f607542595.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8406c0ed0e6b4877a6e72aebf9657e25.html" target="element"> Melding </a> </td>
																		<td> <a href="../elements/id-9794789709fd45a2ada1b06a650cac69.html" target="element"> melding fra menneske til maskin </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d4de2f3331ed462cbf45420959068e62.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d4de2f3331ed462cbf45420959068e62.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8406c0ed0e6b4877a6e72aebf9657e25.html" target="element"> Melding </a> </td>
																		<td> <a href="../elements/id-de1ad2b67bf04638872c9f6b350dd7fd.html" target="element"> melding fra maskin til menneske </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-87d90318c14a49e2833df83bc00b84c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-87d90318c14a49e2833df83bc00b84c6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8406c0ed0e6b4877a6e72aebf9657e25.html" target="element"> Melding </a> </td>
																		<td> <a href="../elements/id-f6b6800734d1478db911ec6001371b0b.html" target="element"> melding fra menneske til menneske </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-de352b20acf843f29903e5cac76dcc6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-de352b20acf843f29903e5cac76dcc6d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8406c0ed0e6b4877a6e72aebf9657e25.html" target="element"> Melding </a> </td>
																		<td> <a href="../elements/id-4a602b25037f427fb871de2bbaa356a5.html" target="element"> melding fra maskin til maskin </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f6b6800734d1478db911ec6001371b0b.html" target="element"> melding fra menneske til menneske </a> </td>
																		<td> <a href="../elements/id-f6b6800734d1478db911ec6001371b0b.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0e83a42f0d64e4a97e8fbb5c8bc4fdc.html" target="element"> Menneske </a> </td>
																		<td> <a href="../elements/id-a0e83a42f0d64e4a97e8fbb5c8bc4fdc.html" target="element"> Menneske </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-aabb7492e7314866a1b408cd17733f8b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aabb7492e7314866a1b408cd17733f8b.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1b1aa012ab224b9a993c2937bc9e29ec.html" target="element"> Maskin-til-maskin melding </a> </td>
																		<td> <a href="../elements/id-8406c0ed0e6b4877a6e72aebf9657e25.html" target="element"> Melding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8e57f28c05aa41718191e83d497b751a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8e57f28c05aa41718191e83d497b751a.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-be02e852a675448d87026ada595bda72.html" target="element"> Maskin-til-menneske melding </a> </td>
																		<td> <a href="../elements/id-8406c0ed0e6b4877a6e72aebf9657e25.html" target="element"> Melding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-243d855ae9814507908161c4086bd27c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-243d855ae9814507908161c4086bd27c.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dfa4c7b513734a0a99a7d57365041026.html" target="element"> Menneske-til-maskin melding </a> </td>
																		<td> <a href="../elements/id-8406c0ed0e6b4877a6e72aebf9657e25.html" target="element"> Melding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9695ff05a3a14886ac190060f988183c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9695ff05a3a14886ac190060f988183c.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0d2cc8907004d57bdfc9f5f47e1c7a1.html" target="element"> Menneske-til-menneske melding </a> </td>
																		<td> <a href="../elements/id-8406c0ed0e6b4877a6e72aebf9657e25.html" target="element"> Melding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8a89f0d6b3d549d3b8da4a1b4dd5b7fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8a89f0d6b3d549d3b8da4a1b4dd5b7fd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-32883e28a2644b1cb3185d4e38d9a0b0.html" target="element"> Kanaler for meldinger fra menneske til menneske </a> </td>
																		<td> <a href="../elements/id-af6bf7d6c8804c03bd6ab253d1ccf5f8.html" target="element"> Elektronisk direktemelding mellom mennesker (online) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-98d0e7ab44974266ada235b655b85157.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-98d0e7ab44974266ada235b655b85157.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-32883e28a2644b1cb3185d4e38d9a0b0.html" target="element"> Kanaler for meldinger fra menneske til menneske </a> </td>
																		<td> <a href="../elements/id-a0d2cc8907004d57bdfc9f5f47e1c7a1.html" target="element"> Menneske-til-menneske melding </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-590935f492634555ab635429d63ea754.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-590935f492634555ab635429d63ea754.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-32883e28a2644b1cb3185d4e38d9a0b0.html" target="element"> Kanaler for meldinger fra menneske til menneske </a> </td>
																		<td> <a href="../elements/id-526fc3f50fbd46f48ae38181d7953aae.html" target="element"> Elektronisk melding mellom mennesker (offline) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-11d13c656fbe43e18b9fb38ef71f6f31.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-11d13c656fbe43e18b9fb38ef71f6f31.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-32883e28a2644b1cb3185d4e38d9a0b0.html" target="element"> Kanaler for meldinger fra menneske til menneske </a> </td>
																		<td> <a href="../elements/id-53f9791bc40f44b683397887d67e72b2.html" target="element"> Brev (snailmail) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-043976a1ee684a39a62365e436d496c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-043976a1ee684a39a62365e436d496c5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-32883e28a2644b1cb3185d4e38d9a0b0.html" target="element"> Kanaler for meldinger fra menneske til menneske </a> </td>
																		<td> <a href="../elements/id-46ba1eaace1c476ba156c2e4e3dea41b.html" target="element"> Fysisk ansikt til ansikt </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-764d00e294d14070a2b56e8256cc702a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-764d00e294d14070a2b56e8256cc702a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1e9dc66ebab84d0f89dc07850fb05e89.html" target="element"> Kanaler for meldinger fra menneske til maskin </a> </td>
																		<td> <a href="../elements/id-c12a34f76d5a49bfad0f411200786a51.html" target="element"> Web-portal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3f817e0c60a64e00a78e1113e1b6588f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3f817e0c60a64e00a78e1113e1b6588f.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1e9dc66ebab84d0f89dc07850fb05e89.html" target="element"> Kanaler for meldinger fra menneske til maskin </a> </td>
																		<td> <a href="../elements/id-dfa4c7b513734a0a99a7d57365041026.html" target="element"> Menneske-til-maskin melding </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-4039d3661c23492e97c90309f20f4835.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4039d3661c23492e97c90309f20f4835.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0474133845004fecbb7d13f73ea4e37c.html" target="element"> Kanaler for meldinger menneske til menneske (copy) </a> </td>
																		<td> <a href="../elements/id-2b6be24425ca4c4a9357a49701602915.html" target="element"> Elektronisk melding mellom mennesker (offline) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1662411d13e34fdaa66299e77d638365.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1662411d13e34fdaa66299e77d638365.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0474133845004fecbb7d13f73ea4e37c.html" target="element"> Kanaler for meldinger menneske til menneske (copy) </a> </td>
																		<td> <a href="../elements/id-17e64da0e24b491f82569c67930f0299.html" target="element"> Elektronisk direktemelding mellom mennesker (online) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-85087f3c7c6e430caecde6698209c1d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-85087f3c7c6e430caecde6698209c1d6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0474133845004fecbb7d13f73ea4e37c.html" target="element"> Kanaler for meldinger menneske til menneske (copy) </a> </td>
																		<td> <a href="../elements/id-be02e852a675448d87026ada595bda72.html" target="element"> Maskin-til-menneske melding </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-87ccaf3db66a4620a90520e6c0578e00.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-87ccaf3db66a4620a90520e6c0578e00.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0474133845004fecbb7d13f73ea4e37c.html" target="element"> Kanaler for meldinger menneske til menneske (copy) </a> </td>
																		<td> <a href="../elements/id-32bb9e61dce542dea6fc3c7b00739476.html" target="element"> Brev (snailmail) (copy) </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-e3f0c437f00c4fa8b91f7dd1158739e2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e3f0c437f00c4fa8b91f7dd1158739e2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-da1f2e786c2f4b5a8823a05d8147a834.html" target="element"> Kanaler for meldinger maskin til maskin </a> </td>
																		<td> <a href="../elements/id-dcc24db9454d4451b3914d8599a3d907.html" target="element"> Brev (snailmail) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-58fe32cc2e2f4107b5e1e792aa4ee7dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-58fe32cc2e2f4107b5e1e792aa4ee7dc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-da1f2e786c2f4b5a8823a05d8147a834.html" target="element"> Kanaler for meldinger maskin til maskin </a> </td>
																		<td> <a href="../elements/id-fd14e6477a1f4ca38f63fa1def35990a.html" target="element"> Asynkron meldings-utveksling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-268edc10ed584536a735e7dbf53ad13c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-268edc10ed584536a735e7dbf53ad13c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-da1f2e786c2f4b5a8823a05d8147a834.html" target="element"> Kanaler for meldinger maskin til maskin </a> </td>
																		<td> <a href="../elements/id-714eb0fc4eab493bb05e093006b2a184.html" target="element"> Elektronisk direktemelding mellom mennesker (online) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-02b53d1df2834f3095be40da80e965df.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-02b53d1df2834f3095be40da80e965df.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-da1f2e786c2f4b5a8823a05d8147a834.html" target="element"> Kanaler for meldinger maskin til maskin </a> </td>
																		<td> <a href="../elements/id-7c63a0030efc42b8a9d17b98c6b89542.html" target="element"> Elektronisk melding mellom mennesker (offline) (copy) </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9794789709fd45a2ada1b06a650cac69.html" target="element"> melding fra menneske til maskin </a> </td>
																		<td> <a href="../elements/id-9794789709fd45a2ada1b06a650cac69.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0e83a42f0d64e4a97e8fbb5c8bc4fdc.html" target="element"> Menneske </a> </td>
																		<td> <a href="../elements/id-bf0086f2d8524160ae0c2e022da4abf5.html" target="element"> Maskin </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f6b6800734d1478db911ec6001371b0b.html" target="element"> melding fra menneske til menneske </a> </td>
																		<td> <a href="../elements/id-f6b6800734d1478db911ec6001371b0b.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0e83a42f0d64e4a97e8fbb5c8bc4fdc.html" target="element"> Menneske </a> </td>
																		<td> <a href="../elements/id-a0e83a42f0d64e4a97e8fbb5c8bc4fdc.html" target="element"> Menneske </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4a602b25037f427fb871de2bbaa356a5.html" target="element"> melding fra maskin til maskin </a> </td>
																		<td> <a href="../elements/id-4a602b25037f427fb871de2bbaa356a5.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bf0086f2d8524160ae0c2e022da4abf5.html" target="element"> Maskin </a> </td>
																		<td> <a href="../elements/id-bf0086f2d8524160ae0c2e022da4abf5.html" target="element"> Maskin </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-de1ad2b67bf04638872c9f6b350dd7fd.html" target="element"> melding fra maskin til menneske </a> </td>
																		<td> <a href="../elements/id-de1ad2b67bf04638872c9f6b350dd7fd.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bf0086f2d8524160ae0c2e022da4abf5.html" target="element"> Maskin </a> </td>
																		<td> <a href="../elements/id-a0e83a42f0d64e4a97e8fbb5c8bc4fdc.html" target="element"> Menneske </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4a602b25037f427fb871de2bbaa356a5.html" target="element"> melding fra maskin til maskin </a> </td>
																		<td> <a href="../elements/id-4a602b25037f427fb871de2bbaa356a5.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bf0086f2d8524160ae0c2e022da4abf5.html" target="element"> Maskin </a> </td>
																		<td> <a href="../elements/id-bf0086f2d8524160ae0c2e022da4abf5.html" target="element"> Maskin </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f6b6800734d1478db911ec6001371b0b.html" target="element"> melding fra menneske til menneske </a> </td>
																		<td> <a href="../elements/id-f6b6800734d1478db911ec6001371b0b.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0e83a42f0d64e4a97e8fbb5c8bc4fdc.html" target="element"> Menneske </a> </td>
																		<td> <a href="../elements/id-a0e83a42f0d64e4a97e8fbb5c8bc4fdc.html" target="element"> Menneske </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>