<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Actors, roles</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Actors, roles</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-CanvasModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-CanvasModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7dd577164de04d06a79717d96ab8632a.png" alt="Actors, roles" usemap="#id-7dd577164de04d06a79717d96ab8632amap"/>
			   <map name="id-7dd577164de04d06a79717d96ab8632amap">
				  		        <area shape="rect" coords="356,308,466,406" href="../objects/id-eb50e77e3f3d442d9193cdd8425e7cc7.html" target="element" >

				          <area shape="rect" coords="308,272,502,454" href="../objects/id-01e8c70c9c1640548584031c7ffb2158.html" target="element" >
				  		        <area shape="rect" coords="68,320,166,406" href="../objects/id-b63788fc78614d1a97b99d13a48ad474.html" target="element" >

				          <area shape="rect" coords="20,272,214,454" href="../objects/id-ba4197bd237248e4b60efaa17b25cb8f.html" target="element" >
				  		        <area shape="rect" coords="80,56,154,154" href="../objects/id-5e91b188e1fb41889669168ed77885a6.html" target="element" >

				          <area shape="rect" coords="20,20,214,202" href="../objects/id-b842f588d63445b4b2da40fadc3d3245.html" target="element" >
				  		        <area shape="rect" coords="1076,284,1186,382" href="../objects/id-2e1d9ca5773843adb6232417baa5f351.html" target="element" >

				          <area shape="rect" coords="1040,272,1242,454" href="../objects/id-c543fd70f0fa45c08ca8116cfba6d0ed.html" target="element" >
				  		        <area shape="rect" coords="836,284,946,382" href="../objects/id-ca11da3440824fdeb93d5b9aa96f14cc.html" target="element" >

				          <area shape="rect" coords="800,272,994,454" href="../objects/id-2fcc625189a248f496398037621c0e58.html" target="element" >
				  		        <area shape="rect" coords="608,308,718,406" href="../objects/id-c1a299496d1f40108747b6f4b4c442ae.html" target="element" >

				          <area shape="rect" coords="572,272,766,454" href="../objects/id-565b761135b74d388caecea3b19cfee9.html" target="element" >
				  		        <area shape="rect" coords="1100,32,1174,130" href="../objects/id-b1ae299a6440401da7d460468488b9ca.html" target="element" >

				          <area shape="rect" coords="1040,20,1242,202" href="../objects/id-a71931a48d4747359da584ba989aeaa3.html" target="element" >
				  		        <area shape="rect" coords="860,32,934,130" href="../objects/id-e17ba21059dd4f06bd106036af96366d.html" target="element" >

				          <area shape="rect" coords="800,20,994,202" href="../objects/id-740cdab344a145b0836152e061c81402.html" target="element" >
				  		        <area shape="rect" coords="632,56,706,154" href="../objects/id-280390c892794fdaa49af4f86546de60.html" target="element" >

				          <area shape="rect" coords="572,20,766,202" href="../objects/id-cb25150016574ceeb6ae9eea25661614.html" target="element" >
				  		        <area shape="rect" coords="380,56,454,154" href="../objects/id-2595532de87349fabc0df5b8a1019181.html" target="element" >

				          <area shape="rect" coords="320,20,514,202" href="../objects/id-5fb115d06294438c9a4f7891d292f008.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-5fb115d06294438c9a4f7891d292f008.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-5fb115d06294438c9a4f7891d292f008.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-2595532de87349fabc0df5b8a1019181.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-2595532de87349fabc0df5b8a1019181.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-cb25150016574ceeb6ae9eea25661614.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-cb25150016574ceeb6ae9eea25661614.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-280390c892794fdaa49af4f86546de60.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-280390c892794fdaa49af4f86546de60.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-740cdab344a145b0836152e061c81402.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-740cdab344a145b0836152e061c81402.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-e17ba21059dd4f06bd106036af96366d.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-e17ba21059dd4f06bd106036af96366d.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-a71931a48d4747359da584ba989aeaa3.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a71931a48d4747359da584ba989aeaa3.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-b1ae299a6440401da7d460468488b9ca.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-b1ae299a6440401da7d460468488b9ca.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-565b761135b74d388caecea3b19cfee9.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-565b761135b74d388caecea3b19cfee9.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-c1a299496d1f40108747b6f4b4c442ae.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-c1a299496d1f40108747b6f4b4c442ae.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-2fcc625189a248f496398037621c0e58.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2fcc625189a248f496398037621c0e58.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-ca11da3440824fdeb93d5b9aa96f14cc.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-ca11da3440824fdeb93d5b9aa96f14cc.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-c543fd70f0fa45c08ca8116cfba6d0ed.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c543fd70f0fa45c08ca8116cfba6d0ed.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-2e1d9ca5773843adb6232417baa5f351.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-2e1d9ca5773843adb6232417baa5f351.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-b842f588d63445b4b2da40fadc3d3245.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b842f588d63445b4b2da40fadc3d3245.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-5e91b188e1fb41889669168ed77885a6.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-5e91b188e1fb41889669168ed77885a6.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-ba4197bd237248e4b60efaa17b25cb8f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ba4197bd237248e4b60efaa17b25cb8f.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-b63788fc78614d1a97b99d13a48ad474.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b63788fc78614d1a97b99d13a48ad474.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-01e8c70c9c1640548584031c7ffb2158.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-01e8c70c9c1640548584031c7ffb2158.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-eb50e77e3f3d442d9193cdd8425e7cc7.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-eb50e77e3f3d442d9193cdd8425e7cc7.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>