<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>eHelse samhandlingsformer</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>eHelse samhandlingsformer</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7bddc8664e9a46759390ceb6d0031635.png" alt="eHelse samhandlingsformer" usemap="#id-7bddc8664e9a46759390ceb6d0031635map"/>
			   <map name="id-7bddc8664e9a46759390ceb6d0031635map">
				  		<area shape="rect" coords="212,560,498,702" href="../elements/id-e393cdb9c96440b384b5ea13b2ab2940.html"  target="element">
				  		<area shape="rect" coords="692,560,978,702" href="../elements/id-c047db80747c47b9bdc70342c4eee5b8.html"  target="element">
				  		<area shape="rect" coords="1004,560,1290,702" href="../elements/id-986e579eb75d448eb2819210342a9740.html"  target="element">
				  				<area shape="rect" coords="56,92,342,234" href="../elements/id-106024cb1d14485a97df0bacff7c6839.html"  target="element">
				  				<area shape="rect" coords="382,92,668,234" href="../elements/id-81ac39066e314fac88e28abb03aa6e11.html"  target="element">
				  				<area shape="rect" coords="718,92,1004,234" href="../elements/id-0495554ac6da4dbcb9f09a91d705e6dd.html"  target="element">

				  		<area shape="rect" coords="20,20,1078,270" href="../elements/id-1f9d97a8956141b9bcfca0a47b816493.html"  target="element">
				  				<area shape="rect" coords="1616,356,1902,498" href="../elements/id-cfd372f4d0c34a29abd110b536acf329.html"  target="element">
				  				<area shape="rect" coords="1316,356,1602,498" href="../elements/id-7ef10e9ed6f34e00a9549456dda461cc.html"  target="element">
				  				<area shape="rect" coords="692,356,978,498" href="../elements/id-073791f91831489cbafcf2d4de028db0.html"  target="element">
				  				<area shape="rect" coords="1004,356,1290,498" href="../elements/id-0015d3aef9964d6f824ca996ba6ed786.html"  target="element">
				  				<area shape="rect" coords="380,356,666,498" href="../elements/id-2d271d168c7741b8964c8d6e30d264a0.html"  target="element">
				  				<area shape="rect" coords="60,356,346,498" href="../elements/id-dc0cdc0eea104c938c234f1d5ecd6043.html"  target="element">

				  		<area shape="rect" coords="20,296,1954,526" href="../elements/id-b0377c7ae34e4e9a8209ac1ca14c0764.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-b0377c7ae34e4e9a8209ac1ca14c0764.html" target="element"> eHelse samhandlingsmodeller (m&#248;nstre) </a> </td>
											    <td> <a href="../elements/id-b0377c7ae34e4e9a8209ac1ca14c0764.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-dc0cdc0eea104c938c234f1d5ecd6043.html" target="element"> Meldingsutveksling (eHelse) </a> </td>
													    <td> <a href="../elements/id-dc0cdc0eea104c938c234f1d5ecd6043.html" target="element" class="i18n-elementtype-BusinessInteraction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2d271d168c7741b8964c8d6e30d264a0.html" target="element"> Dokumentutveksling (eHelse) </a> </td>
													    <td> <a href="../elements/id-2d271d168c7741b8964c8d6e30d264a0.html" target="element" class="i18n-elementtype-BusinessInteraction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0015d3aef9964d6f824ca996ba6ed786.html" target="element"> Datadeling (eHelse) </a> </td>
													    <td> <a href="../elements/id-0015d3aef9964d6f824ca996ba6ed786.html" target="element" class="i18n-elementtype-BusinessInteraction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-073791f91831489cbafcf2d4de028db0.html" target="element"> Dokumentdeling (eHelse) </a> </td>
													    <td> <a href="../elements/id-073791f91831489cbafcf2d4de028db0.html" target="element" class="i18n-elementtype-BusinessInteraction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7ef10e9ed6f34e00a9549456dda461cc.html" target="element"> Direkte tilgang (eHelse) </a> </td>
													    <td> <a href="../elements/id-7ef10e9ed6f34e00a9549456dda461cc.html" target="element" class="i18n-elementtype-BusinessInteraction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cfd372f4d0c34a29abd110b536acf329.html" target="element"> Samhandling i felles kjernesystem (eHelse) </a> </td>
													    <td> <a href="../elements/id-cfd372f4d0c34a29abd110b536acf329.html" target="element" class="i18n-elementtype-BusinessInteraction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-1f9d97a8956141b9bcfca0a47b816493.html" target="element"> Plattformen for helhelhetlig samhandling vil tilby 3 samhandlingsformer: </a> </td>
											    <td> <a href="../elements/id-1f9d97a8956141b9bcfca0a47b816493.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0495554ac6da4dbcb9f09a91d705e6dd.html" target="element"> Endre og dele (eHelse) </a> </td>
													    <td> <a href="../elements/id-0495554ac6da4dbcb9f09a91d705e6dd.html" target="element" class="i18n-elementtype-BusinessInteraction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-81ac39066e314fac88e28abb03aa6e11.html" target="element"> Sl&#229; opp og tilgjengeliggj&#248;re (eHelse) </a> </td>
													    <td> <a href="../elements/id-81ac39066e314fac88e28abb03aa6e11.html" target="element" class="i18n-elementtype-BusinessInteraction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-106024cb1d14485a97df0bacff7c6839.html" target="element"> Sende og motta (eHelse) </a> </td>
													    <td> <a href="../elements/id-106024cb1d14485a97df0bacff7c6839.html" target="element" class="i18n-elementtype-BusinessInteraction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-986e579eb75d448eb2819210342a9740.html" target="element"> Referansearkitektur for datadeling </a> </td>
											    <td> <a href="../elements/id-986e579eb75d448eb2819210342a9740.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c047db80747c47b9bdc70342c4eee5b8.html" target="element"> Referansearkitektur for dokumentdeling </a> </td>
											    <td> <a href="../elements/id-c047db80747c47b9bdc70342c4eee5b8.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e393cdb9c96440b384b5ea13b2ab2940.html" target="element"> Referansearkitektur for meldings- og dokumentutveksling </a> </td>
											    <td> <a href="../elements/id-e393cdb9c96440b384b5ea13b2ab2940.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-56002dd781364290bd37c96e4e0eba2f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-56002dd781364290bd37c96e4e0eba2f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b0377c7ae34e4e9a8209ac1ca14c0764.html" target="element"> eHelse samhandlingsmodeller (m&#248;nstre) </a> </td>
																		<td> <a href="../elements/id-cfd372f4d0c34a29abd110b536acf329.html" target="element"> Samhandling i felles kjernesystem (eHelse) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d2785ef5abf64b32be038e3377d3933d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d2785ef5abf64b32be038e3377d3933d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b0377c7ae34e4e9a8209ac1ca14c0764.html" target="element"> eHelse samhandlingsmodeller (m&#248;nstre) </a> </td>
																		<td> <a href="../elements/id-073791f91831489cbafcf2d4de028db0.html" target="element"> Dokumentdeling (eHelse) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-724836df65d14d9cb06fab9f6aedf430.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-724836df65d14d9cb06fab9f6aedf430.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b0377c7ae34e4e9a8209ac1ca14c0764.html" target="element"> eHelse samhandlingsmodeller (m&#248;nstre) </a> </td>
																		<td> <a href="../elements/id-2d271d168c7741b8964c8d6e30d264a0.html" target="element"> Dokumentutveksling (eHelse) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-28f22482dfb247a49b6c964866f53e02.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-28f22482dfb247a49b6c964866f53e02.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b0377c7ae34e4e9a8209ac1ca14c0764.html" target="element"> eHelse samhandlingsmodeller (m&#248;nstre) </a> </td>
																		<td> <a href="../elements/id-dc0cdc0eea104c938c234f1d5ecd6043.html" target="element"> Meldingsutveksling (eHelse) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2ff14d7c208d417787304de026bd6d74.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2ff14d7c208d417787304de026bd6d74.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b0377c7ae34e4e9a8209ac1ca14c0764.html" target="element"> eHelse samhandlingsmodeller (m&#248;nstre) </a> </td>
																		<td> <a href="../elements/id-7ef10e9ed6f34e00a9549456dda461cc.html" target="element"> Direkte tilgang (eHelse) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e3ee6a945860450b904c5ec43aa4e9f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e3ee6a945860450b904c5ec43aa4e9f0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b0377c7ae34e4e9a8209ac1ca14c0764.html" target="element"> eHelse samhandlingsmodeller (m&#248;nstre) </a> </td>
																		<td> <a href="../elements/id-0015d3aef9964d6f824ca996ba6ed786.html" target="element"> Datadeling (eHelse) </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-312612ce4f204ae1bdd1f477fd5bcee0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-312612ce4f204ae1bdd1f477fd5bcee0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f9d97a8956141b9bcfca0a47b816493.html" target="element"> Plattformen for helhelhetlig samhandling vil tilby 3 samhandlingsformer: </a> </td>
																		<td> <a href="../elements/id-0495554ac6da4dbcb9f09a91d705e6dd.html" target="element"> Endre og dele (eHelse) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4a140af7e4774674a51f653365557f2b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4a140af7e4774674a51f653365557f2b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f9d97a8956141b9bcfca0a47b816493.html" target="element"> Plattformen for helhelhetlig samhandling vil tilby 3 samhandlingsformer: </a> </td>
																		<td> <a href="../elements/id-81ac39066e314fac88e28abb03aa6e11.html" target="element"> Sl&#229; opp og tilgjengeliggj&#248;re (eHelse) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f5526a4bcf804b11a4c7d727d91c6efb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f5526a4bcf804b11a4c7d727d91c6efb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f9d97a8956141b9bcfca0a47b816493.html" target="element"> Plattformen for helhelhetlig samhandling vil tilby 3 samhandlingsformer: </a> </td>
																		<td> <a href="../elements/id-106024cb1d14485a97df0bacff7c6839.html" target="element"> Sende og motta (eHelse) </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-3232b0d03d8e4382bf0e89284c4ba651.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3232b0d03d8e4382bf0e89284c4ba651.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-986e579eb75d448eb2819210342a9740.html" target="element"> Referansearkitektur for datadeling </a> </td>
																		<td> <a href="../elements/id-0015d3aef9964d6f824ca996ba6ed786.html" target="element"> Datadeling (eHelse) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-48f2e34dbb8048a888830bfc7b2eb73b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-48f2e34dbb8048a888830bfc7b2eb73b.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c047db80747c47b9bdc70342c4eee5b8.html" target="element"> Referansearkitektur for dokumentdeling </a> </td>
																		<td> <a href="../elements/id-073791f91831489cbafcf2d4de028db0.html" target="element"> Dokumentdeling (eHelse) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ab8eb8fc7c944f3c845f64b395450a41.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ab8eb8fc7c944f3c845f64b395450a41.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e393cdb9c96440b384b5ea13b2ab2940.html" target="element"> Referansearkitektur for meldings- og dokumentutveksling </a> </td>
																		<td> <a href="../elements/id-2d271d168c7741b8964c8d6e30d264a0.html" target="element"> Dokumentutveksling (eHelse) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-14fff1887d4e41b3a088eae959b8514a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-14fff1887d4e41b3a088eae959b8514a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e393cdb9c96440b384b5ea13b2ab2940.html" target="element"> Referansearkitektur for meldings- og dokumentutveksling </a> </td>
																		<td> <a href="../elements/id-dc0cdc0eea104c938c234f1d5ecd6043.html" target="element"> Meldingsutveksling (eHelse) </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>