<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Identifiser sluttbrukertjenester og utform brukerreiser</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Identifiser sluttbrukertjenester og utform brukerreiser</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-77736c3f85ca46168221b46b169aca3c.png" alt="Identifiser sluttbrukertjenester og utform brukerreiser" usemap="#id-77736c3f85ca46168221b46b169aca3cmap"/>
			   <map name="id-77736c3f85ca46168221b46b169aca3cmap">
				  				<area shape="rect" coords="788,380,1062,522" href="../elements/id-2866914b9f154f8eaf4639ef1581cadf.html"  target="element">
				  				<area shape="rect" coords="476,380,750,522" href="../elements/id-6b822707ee624db5a1b3146bc3aa3054.html"  target="element">
				  				<area shape="rect" coords="164,380,438,522" href="../elements/id-43c29831d79f4ef2bb29d1059214b63f.html"  target="element">

				  		<area shape="rect" coords="20,308,1134,574" href="../elements/id-143eccbae256423e8ec481435f5b3dbb.html"  target="element">
				  				<area shape="rect" coords="788,92,1062,234" href="../elements/id-a68f6f6e10c44a72a74e329849e67967.html"  target="element">
				  				<area shape="rect" coords="476,92,750,234" href="../elements/id-8a3c7a2b7d974e4b801345a6cac20a2d.html"  target="element">
				  				<area shape="rect" coords="164,92,438,234" href="../elements/id-167a46f06c6d45c888d30b8891a7b79c.html"  target="element">

				  		<area shape="rect" coords="20,20,1134,286" href="../elements/id-daf34a52971b4b6e8119d8283e3efbfe.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-daf34a52971b4b6e8119d8283e3efbfe.html" target="element"> Start sammen </a> </td>
											    <td> <a href="../elements/id-daf34a52971b4b6e8119d8283e3efbfe.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-167a46f06c6d45c888d30b8891a7b79c.html" target="element"> Kartlegg  brukerbehov </a> </td>
													    <td> <a href="../elements/id-167a46f06c6d45c888d30b8891a7b79c.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8a3c7a2b7d974e4b801345a6cac20a2d.html" target="element"> Identifiser samarbeidspartnere </a> </td>
													    <td> <a href="../elements/id-8a3c7a2b7d974e4b801345a6cac20a2d.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a68f6f6e10c44a72a74e329849e67967.html" target="element"> Forankre og etabler styringsstruktur </a> </td>
													    <td> <a href="../elements/id-a68f6f6e10c44a72a74e329849e67967.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-143eccbae256423e8ec481435f5b3dbb.html" target="element"> Form sammen </a> </td>
											    <td> <a href="../elements/id-143eccbae256423e8ec481435f5b3dbb.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-43c29831d79f4ef2bb29d1059214b63f.html" target="element"> Definer m&#229;l og visjoner </a> </td>
													    <td> <a href="../elements/id-43c29831d79f4ef2bb29d1059214b63f.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6b822707ee624db5a1b3146bc3aa3054.html" target="element"> Brukerreisen </a> </td>
													    <td> <a href="../elements/id-6b822707ee624db5a1b3146bc3aa3054.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2866914b9f154f8eaf4639ef1581cadf.html" target="element"> Konseptforslag </a> </td>
													    <td> <a href="../elements/id-2866914b9f154f8eaf4639ef1581cadf.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-b264067d03a54f9da65b788c5bca9770.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b264067d03a54f9da65b788c5bca9770.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-daf34a52971b4b6e8119d8283e3efbfe.html" target="element"> Start sammen </a> </td>
																		<td> <a href="../elements/id-a68f6f6e10c44a72a74e329849e67967.html" target="element"> Forankre og etabler styringsstruktur </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6cbb83ba70aa4dd5a4e37a0ba3e6ad77.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6cbb83ba70aa4dd5a4e37a0ba3e6ad77.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-daf34a52971b4b6e8119d8283e3efbfe.html" target="element"> Start sammen </a> </td>
																		<td> <a href="../elements/id-8a3c7a2b7d974e4b801345a6cac20a2d.html" target="element"> Identifiser samarbeidspartnere </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b1db05f8017449d58b18fc0a09044a74.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b1db05f8017449d58b18fc0a09044a74.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-daf34a52971b4b6e8119d8283e3efbfe.html" target="element"> Start sammen </a> </td>
																		<td> <a href="../elements/id-167a46f06c6d45c888d30b8891a7b79c.html" target="element"> Kartlegg  brukerbehov </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-7c2cdfb7745544c694575515d354c79c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7c2cdfb7745544c694575515d354c79c.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-167a46f06c6d45c888d30b8891a7b79c.html" target="element"> Kartlegg  brukerbehov </a> </td>
																				<td> <a href="../elements/id-8a3c7a2b7d974e4b801345a6cac20a2d.html" target="element"> Identifiser samarbeidspartnere </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-334ae8f554284519825971f7479455a4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-334ae8f554284519825971f7479455a4.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8a3c7a2b7d974e4b801345a6cac20a2d.html" target="element"> Identifiser samarbeidspartnere </a> </td>
																				<td> <a href="../elements/id-a68f6f6e10c44a72a74e329849e67967.html" target="element"> Forankre og etabler styringsstruktur </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-76d34fc1ca7444bbb7b0c07464edf3fb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-76d34fc1ca7444bbb7b0c07464edf3fb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-143eccbae256423e8ec481435f5b3dbb.html" target="element"> Form sammen </a> </td>
																		<td> <a href="../elements/id-43c29831d79f4ef2bb29d1059214b63f.html" target="element"> Definer m&#229;l og visjoner </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-33161a4a2d2145f7b590d95a3fb8db39.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-33161a4a2d2145f7b590d95a3fb8db39.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-143eccbae256423e8ec481435f5b3dbb.html" target="element"> Form sammen </a> </td>
																		<td> <a href="../elements/id-2866914b9f154f8eaf4639ef1581cadf.html" target="element"> Konseptforslag </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1195611453d742489cb52880c5c255ad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1195611453d742489cb52880c5c255ad.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-143eccbae256423e8ec481435f5b3dbb.html" target="element"> Form sammen </a> </td>
																		<td> <a href="../elements/id-6b822707ee624db5a1b3146bc3aa3054.html" target="element"> Brukerreisen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-cbed3b6cb3ad4141ad72b98ed9247ea8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cbed3b6cb3ad4141ad72b98ed9247ea8.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-43c29831d79f4ef2bb29d1059214b63f.html" target="element"> Definer m&#229;l og visjoner </a> </td>
																				<td> <a href="../elements/id-6b822707ee624db5a1b3146bc3aa3054.html" target="element"> Brukerreisen </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-bc973612ecad46cc8c2f7d3bbcd0d039.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bc973612ecad46cc8c2f7d3bbcd0d039.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6b822707ee624db5a1b3146bc3aa3054.html" target="element"> Brukerreisen </a> </td>
																				<td> <a href="../elements/id-2866914b9f154f8eaf4639ef1581cadf.html" target="element"> Konseptforslag </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>