<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>EU CEF eDelivery API pilot integration patterns</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>EU CEF eDelivery API pilot integration patterns</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7bd863720cd4435693ae38cc13522c45.png" alt="EU CEF eDelivery API pilot integration patterns" usemap="#id-7bd863720cd4435693ae38cc13522c45map"/>
			   <map name="id-7bd863720cd4435693ae38cc13522c45map">
				  				<area shape="rect" coords="464,340,750,434" href="../elements/id-a672218c59c341639b1273c4faa9c1e9.html"  target="element">
				  				<area shape="rect" coords="464,232,750,322" href="../elements/id-236cf77bb1904725b8775ee882ed62eb.html"  target="element">
				  				<area shape="rect" coords="464,112,750,206" href="../elements/id-6c0cbe1467a74a6a875569c20017b3fe.html"  target="element">

				  		<area shape="rect" coords="440,40,826,486" href="../elements/id-76131b6d0d784308840ce8c7bdd9415d.html"  target="element">
				  		<area shape="rect" coords="20,356,306,498" href="../elements/id-11533a38ace643548245d78872edde8a.html"  target="element">
				  		<area shape="rect" coords="20,192,306,334" href="../elements/id-33ddb94f7a9947a0a015024e2f3cbd28.html"  target="element">
				  		<area shape="rect" coords="20,20,306,162" href="../elements/id-f9805581c92441d2a3adb1f5195d7af5.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-f9805581c92441d2a3adb1f5195d7af5.html" target="element"> Send Message with No Response  </a> </td>
											    <td> <a href="../elements/id-f9805581c92441d2a3adb1f5195d7af5.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-33ddb94f7a9947a0a015024e2f3cbd28.html" target="element"> Send Message with Synchronous Response </a> </td>
											    <td> <a href="../elements/id-33ddb94f7a9947a0a015024e2f3cbd28.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-11533a38ace643548245d78872edde8a.html" target="element"> Send Message with Asynchronous Response </a> </td>
											    <td> <a href="../elements/id-11533a38ace643548245d78872edde8a.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-76131b6d0d784308840ce8c7bdd9415d.html" target="element"> Addressing </a> </td>
											    <td> <a href="../elements/id-76131b6d0d784308840ce8c7bdd9415d.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6c0cbe1467a74a6a875569c20017b3fe.html" target="element"> Single known recipient </a> </td>
													    <td> <a href="../elements/id-6c0cbe1467a74a6a875569c20017b3fe.html" target="element" class="i18n-elementtype-Constraint">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-236cf77bb1904725b8775ee882ed62eb.html" target="element"> Multiple known recipients </a> </td>
													    <td> <a href="../elements/id-236cf77bb1904725b8775ee882ed62eb.html" target="element" class="i18n-elementtype-Constraint">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a672218c59c341639b1273c4faa9c1e9.html" target="element"> Unknown recipient(s) </a> </td>
													    <td> <a href="../elements/id-a672218c59c341639b1273c4faa9c1e9.html" target="element" class="i18n-elementtype-Constraint">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-0fbee4e828944b23a238d76dd1c52942.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0fbee4e828944b23a238d76dd1c52942.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-76131b6d0d784308840ce8c7bdd9415d.html" target="element"> Addressing </a> </td>
																		<td> <a href="../elements/id-6c0cbe1467a74a6a875569c20017b3fe.html" target="element"> Single known recipient </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-31b63039106c457c89c6c5df2bf6da34.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-31b63039106c457c89c6c5df2bf6da34.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-76131b6d0d784308840ce8c7bdd9415d.html" target="element"> Addressing </a> </td>
																		<td> <a href="../elements/id-a672218c59c341639b1273c4faa9c1e9.html" target="element"> Unknown recipient(s) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-96949e1b62e54cf0908a0c39ea34c566.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-96949e1b62e54cf0908a0c39ea34c566.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-76131b6d0d784308840ce8c7bdd9415d.html" target="element"> Addressing </a> </td>
																		<td> <a href="../elements/id-236cf77bb1904725b8775ee882ed62eb.html" target="element"> Multiple known recipients </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>