<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Forsendelse - flere til en</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Forsendelse - flere til en</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-CanvasModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-CanvasModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-707349bae14d43008a42cd472ff4821f.png" alt="Forsendelse - flere til en" usemap="#id-707349bae14d43008a42cd472ff4821fmap"/>
			   <map name="id-707349bae14d43008a42cd472ff4821fmap">
				  		        <area shape="rect" coords="630,48,704,146" href="../objects/id-9ba11be7b50c45209f23d988f0d2e5e1.html" target="element" >

				          <area shape="rect" coords="570,36,764,218" href="../objects/id-70ad12f328334efa9d3503ecc3a65cf4.html" target="element" >
				  		        <area shape="rect" coords="250,40,360,138" href="../objects/id-f69e0073135d443f9dee9eaf856abe9f.html" target="element" >

				          <area shape="rect" coords="200,20,394,182" href="../objects/id-a821621890f74cb5a25ff15f321892d9.html" target="element" >
				          <area shape="rect" coords="402,36,562,88" href="../objects/id-06bc2c1a4e904d8fa4ce310b1cd5992a.html" target="element" >
				          <area shape="rect" coords="430,86,502,138" href="../objects/id-cd466e29c484434eabd3ca7fa88ef52b.html" target="element" >
				  				        <area shape="rect" coords="680,482,744,522" href="../objects/id-27d2ead4969d4511ab7eb0f2ed967f37.html" target="element" >
				  				        <area shape="rect" coords="720,558,784,598" href="../objects/id-5360f5a6a4cd453daa9c9c0ec0eed2ef.html" target="element" >
				  				        <area shape="rect" coords="700,520,764,560" href="../objects/id-dfe80c30070e49fdb0a6b92e6eda31d7.html" target="element" >

				  		        <area shape="rect" coords="670,472,790,608" href="../objects/id-ba1c7d7c4de741c0950c1c0031e05039.html" target="element" >
				  		        <area shape="rect" coords="280,692,344,732" href="../objects/id-15facd3275fa4c86b346df480992a3b5.html" target="element" >
				  		        <area shape="rect" coords="250,520,314,560" href="../objects/id-c7866504adf14871bd33984bb6da7956.html" target="element" >
				  		        <area shape="rect" coords="218,350,282,390" href="../objects/id-b9c1fe5d141b43d5a257818d233a665d.html" target="element" >
				  		        <area shape="rect" coords="560,516,620,556" href="../objects/id-46e4390e3ae44d91972e6c56fb6cd878.html" target="element" >
				  				        <area shape="rect" coords="106,656,180,754" href="../objects/id-3e092266ef2246ccb5a4d84b49eeb41a.html" target="element" >

				  		        <area shape="rect" coords="46,620,240,802" href="../objects/id-df870899b44648dda2ab64951a53952e.html" target="element" >
				  				        <area shape="rect" coords="106,484,180,582" href="../objects/id-19dd22644c634d29bca073515242d718.html" target="element" >

				  		        <area shape="rect" coords="46,444,240,626" href="../objects/id-6d07cb053561430691391d7b1b8224ca.html" target="element" >
				  				        <area shape="rect" coords="106,304,180,402" href="../objects/id-d8b43372ead44152a5017c9598e18ed5.html" target="element" >

				  		        <area shape="rect" coords="46,292,240,448" href="../objects/id-4b58e1a450214bb18a7c23b40fec25f2.html" target="element" >
				  				        <area shape="rect" coords="850,482,924,580" href="../objects/id-4d2ad4146a3b4b18ac7614601f23fb24.html" target="element" >

				  		        <area shape="rect" coords="800,472,994,654" href="../objects/id-cb5f82d33cd24e32b18a40fa24b705ac.html" target="element" >

				          <area shape="rect" coords="20,240,1000,820" href="../objects/id-3e330af643db4e7488568432464fb5a3.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Forsendelse fra flere til en kjent mottaker bygger p&#229; _basism&#248;nsteret for forsendelse fra en til en_, ved at ulike meldinger med ulikt innhold sendes til bestemt kanal hos mottaker.

Brukstilfeller (eksempler):

* Innraportering til Skatt via Altinn.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-3e330af643db4e7488568432464fb5a3.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3e330af643db4e7488568432464fb5a3.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-cb5f82d33cd24e32b18a40fa24b705ac.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-cb5f82d33cd24e32b18a40fa24b705ac.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-4d2ad4146a3b4b18ac7614601f23fb24.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-4d2ad4146a3b4b18ac7614601f23fb24.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-4b58e1a450214bb18a7c23b40fec25f2.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-4b58e1a450214bb18a7c23b40fec25f2.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-d8b43372ead44152a5017c9598e18ed5.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-d8b43372ead44152a5017c9598e18ed5.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-6d07cb053561430691391d7b1b8224ca.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6d07cb053561430691391d7b1b8224ca.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-19dd22644c634d29bca073515242d718.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-19dd22644c634d29bca073515242d718.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-df870899b44648dda2ab64951a53952e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-df870899b44648dda2ab64951a53952e.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-3e092266ef2246ccb5a4d84b49eeb41a.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-3e092266ef2246ccb5a4d84b49eeb41a.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-46e4390e3ae44d91972e6c56fb6cd878.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-46e4390e3ae44d91972e6c56fb6cd878.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-b9c1fe5d141b43d5a257818d233a665d.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-b9c1fe5d141b43d5a257818d233a665d.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-c7866504adf14871bd33984bb6da7956.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-c7866504adf14871bd33984bb6da7956.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-15facd3275fa4c86b346df480992a3b5.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-15facd3275fa4c86b346df480992a3b5.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-ba1c7d7c4de741c0950c1c0031e05039.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ba1c7d7c4de741c0950c1c0031e05039.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-dfe80c30070e49fdb0a6b92e6eda31d7.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-dfe80c30070e49fdb0a6b92e6eda31d7.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-5360f5a6a4cd453daa9c9c0ec0eed2ef.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-5360f5a6a4cd453daa9c9c0ec0eed2ef.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-27d2ead4969d4511ab7eb0f2ed967f37.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-27d2ead4969d4511ab7eb0f2ed967f37.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-cd466e29c484434eabd3ca7fa88ef52b.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-cd466e29c484434eabd3ca7fa88ef52b.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-06bc2c1a4e904d8fa4ce310b1cd5992a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-06bc2c1a4e904d8fa4ce310b1cd5992a.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-a821621890f74cb5a25ff15f321892d9.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a821621890f74cb5a25ff15f321892d9.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-f69e0073135d443f9dee9eaf856abe9f.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-f69e0073135d443f9dee9eaf856abe9f.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-70ad12f328334efa9d3503ecc3a65cf4.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-70ad12f328334efa9d3503ecc3a65cf4.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-9ba11be7b50c45209f23d988f0d2e5e1.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-9ba11be7b50c45209f23d988f0d2e5e1.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>