<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Videresending til en kjent aktør</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Videresending til en kjent akt&#248;r</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-CanvasModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-CanvasModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-862db45f9dd6454d90147a09d56b4f02.png" alt="Videresending til en kjent aktør" usemap="#id-862db45f9dd6454d90147a09d56b4f02map"/>
			   <map name="id-862db45f9dd6454d90147a09d56b4f02map">
				  				<area shape="rect" coords="20,20,1032,70" href="../views/id-862db45f9dd6454d90147a09d56b4f02.html"  target="view">
				  		    <!-- Other diagram objects -->
				  		        <area shape="rect" coords="628,78,776,130" href="../objects/id-3f8031f4aced4db5a3ba44118157b6a1.html" target="element" >
				  		        <area shape="rect" coords="670,128,734,168" href="../objects/id-7486a7d48b9b4e4b97165a1925433ad7.html" target="element" >
				  				        <area shape="rect" coords="850,80,924,178" href="../objects/id-7a587dde49864ef3a1744256baf14f3c.html" target="element" >

				  		        <area shape="rect" coords="750,40,944,222" href="../objects/id-5e258715945540de9cb7604a7d42297b.html" target="element" >
				  		        <area shape="rect" coords="252,78,400,130" href="../objects/id-2249e2a9f41d4ed5ba78990ad8c052d0.html" target="element" >
				  		        <area shape="rect" coords="290,128,354,168" href="../objects/id-1f02e4e730c2442b9e28dd76ab59d3cc.html" target="element" >
				  				        <area shape="rect" coords="120,78,194,176" href="../objects/id-09a9ef7f4c02411b90b4eed8f21300d0.html" target="element" >

				  		        <area shape="rect" coords="60,38,254,220" href="../objects/id-92e81785ac994d56808812c5629d8a80.html" target="element" >
				  				        <area shape="rect" coords="480,88,558,186" href="../objects/id-1f58fc0559904d3dbbdf1df1aa22de63.html" target="element" >

				  		        <area shape="rect" coords="420,78,614,260" href="../objects/id-6fae7b97bd5f4994b8d6498c1b9866dd.html" target="element" >

				          <area shape="rect" coords="20,20,1032,282" href="../objects/id-b416e895652b4418bd12d7c93789e9a2.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-b416e895652b4418bd12d7c93789e9a2.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b416e895652b4418bd12d7c93789e9a2.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-6fae7b97bd5f4994b8d6498c1b9866dd.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6fae7b97bd5f4994b8d6498c1b9866dd.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-1f58fc0559904d3dbbdf1df1aa22de63.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-1f58fc0559904d3dbbdf1df1aa22de63.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-92e81785ac994d56808812c5629d8a80.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-92e81785ac994d56808812c5629d8a80.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-09a9ef7f4c02411b90b4eed8f21300d0.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-09a9ef7f4c02411b90b4eed8f21300d0.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-1f02e4e730c2442b9e28dd76ab59d3cc.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-1f02e4e730c2442b9e28dd76ab59d3cc.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-2249e2a9f41d4ed5ba78990ad8c052d0.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-2249e2a9f41d4ed5ba78990ad8c052d0.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-5e258715945540de9cb7604a7d42297b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-5e258715945540de9cb7604a7d42297b.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-7a587dde49864ef3a1744256baf14f3c.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-7a587dde49864ef3a1744256baf14f3c.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-7486a7d48b9b4e4b97165a1925433ad7.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-7486a7d48b9b4e4b97165a1925433ad7.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-3f8031f4aced4db5a3ba44118157b6a1.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-3f8031f4aced4db5a3ba44118157b6a1.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../views/id-862db45f9dd6454d90147a09d56b4f02.html" target="view"> Videresending til en kjent aktør </a> </td>
													    <td> <a href="../views/id-862db45f9dd6454d90147a09d56b4f02.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>