<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Fra meldingsutveksling til tjenestekjeder (gammel)</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Fra meldingsutveksling til tjenestekjeder (gammel)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-CanvasModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-CanvasModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-938d59facb514dacb3aabdbbdcea0af0.png" alt="Fra meldingsutveksling til tjenestekjeder (gammel)" usemap="#id-938d59facb514dacb3aabdbbdcea0af0map"/>
			   <map name="id-938d59facb514dacb3aabdbbdcea0af0map">
				          <area shape="rect" coords="682,404,746,444" href="../objects/id-afbc2c3896fb472db6456a91964c17ac.html" target="element" >
				          <area shape="rect" coords="462,344,966,396" href="../objects/id-786d1607511c4e89b073708866aa4d6c.html" target="element" >
				          <area shape="rect" coords="992,552,1056,592" href="../objects/id-0916d72b40d24055ae3bffc82f030d9f.html" target="element" >
				          <area shape="rect" coords="400,552,464,592" href="../objects/id-54a48f9775a9450c82a74da8a805eee9.html" target="element" >
				          <area shape="rect" coords="682,236,746,276" href="../objects/id-f7f5c6fd2eab4e0baeb30ea24f614692.html" target="element" >
				          <area shape="rect" coords="676,66,750,118" href="../objects/id-0b76a752e4d74757bb40a7db6e50045d.html" target="element" >
				          <area shape="rect" coords="646,20,814,72" href="../objects/id-7ffb97d2e4fd4baabec6f7bfb4e6f3c4.html" target="element" >
				  		        <area shape="rect" coords="120,68,206,142" href="../objects/id-e2a3ded585984ae299065b2d94c0527f.html" target="element" >
				  		        <area shape="rect" coords="86,550,240,598" href="../objects/id-46250c46032e4b07b4a6109cd41be39c.html" target="element" >
				  		        <area shape="rect" coords="60,488,266,610" href="../objects/id-ef4e7dbc957c4dff8c8d6bbc7f756d1f.html" target="element" >
				  				        <area shape="rect" coords="132,380,200,428" href="../objects/id-f779b577701449218c695fb7c4f7f7dc.html" target="element" >

				  		        <area shape="rect" coords="60,332,266,454" href="../objects/id-3060e8c9b6324e6e97dd829bee1fe061.html" target="element" >
				  				        <area shape="rect" coords="84,212,238,260" href="../objects/id-20ee9996453649e8945acc9f624dbe1d.html" target="element" >

				  		        <area shape="rect" coords="60,164,266,286" href="../objects/id-ed9b947679a6475f89ebafaf0641e334.html" target="element" >

				          <area shape="rect" coords="30,20,294,670" href="../objects/id-c3d2daee4a88413db2e75a87cc054ffe.html" target="element" >
				  		        <area shape="rect" coords="1260,68,1346,142" href="../objects/id-3a51c9c3407441d6a422729b226d452c.html" target="element" >
				  				        <area shape="rect" coords="1276,380,1346,428" href="../objects/id-d9ce7cab3bdb4ec38c16233d01b5da5b.html" target="element" >

				  		        <area shape="rect" coords="1204,332,1410,454" href="../objects/id-c6fc9112a40e459bb639f97c174f6a2b.html" target="element" >
				  		        <area shape="rect" coords="1222,550,1386,598" href="../objects/id-b1218c11efe44602a0ac653b8d09f245.html" target="element" >
				  		        <area shape="rect" coords="1200,490,1406,612" href="../objects/id-7748445745fb4da6b3d04695517669c1.html" target="element" >
				  				        <area shape="rect" coords="1228,212,1392,260" href="../objects/id-349f73666bb745d2bae21b51a90898af.html" target="element" >

				  		        <area shape="rect" coords="1204,164,1410,286" href="../objects/id-05095e00388949c592ae4f05058a53c5.html" target="element" >

				          <area shape="rect" coords="1172,20,1436,670" href="../objects/id-b0bc725662d542889fa7d0d459e3c7ea.html" target="element" >
				          <area shape="rect" coords="20,692,1448,1076" href="../objects/id-39192c2f6bc84c789099f604807ede23.html" target="element" >
				          <area shape="rect" coords="920,502,1150,554" href="../objects/id-54f8f3d9518e45868cefa3570d9c99b9.html" target="element" >
				          <area shape="rect" coords="320,502,544,554" href="../objects/id-e32bbdb42c6a464e863c8279c7a01c2b.html" target="element" >
				          <area shape="rect" coords="654,504,806,580" href="../objects/id-6083a962989a484386eb10438c47eb08.html" target="element" >
				          <area shape="rect" coords="452,174,956,226" href="../objects/id-9ef51a9bd0424e71aec468b83c581b46.html" target="element" >
				          <area shape="rect" coords="584,462,884,622" href="../objects/id-e6915a4cc578483d891d425a9438e90d.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Teknologier for meldingsutveksling (eksempler):

    * Transportprotokoller - ebXML, HTTP, REST, GraphQL, ..
    * Nye teknologier - lenkede data, blockhain
    * Fellesl&#248;sninger

TO-DO: Forskellen p&#229; REST  og RPC... NB: RPC p&#229; innsiden, REST p&#229; utsiden


Valg av utvekslingsm&#248;nster og teknisk l&#248;sning ut fra:

	* Forretningsmessig behov - brukstilfeller  
	* Lovp&#229;lagte krav
	* Strategiske f&#248;ringer
	* Antall avsendere og mottakere
	* Kjente eller ukjente mottakere
	* Kvalitetskrav, eks. responstid, leveringssikkerhet
	* Tilgjengelig teknologi
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-e6915a4cc578483d891d425a9438e90d.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-e6915a4cc578483d891d425a9438e90d.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-9ef51a9bd0424e71aec468b83c581b46.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-9ef51a9bd0424e71aec468b83c581b46.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-6083a962989a484386eb10438c47eb08.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6083a962989a484386eb10438c47eb08.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e32bbdb42c6a464e863c8279c7a01c2b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e32bbdb42c6a464e863c8279c7a01c2b.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-54f8f3d9518e45868cefa3570d9c99b9.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-54f8f3d9518e45868cefa3570d9c99b9.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-39192c2f6bc84c789099f604807ede23.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-39192c2f6bc84c789099f604807ede23.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b0bc725662d542889fa7d0d459e3c7ea.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b0bc725662d542889fa7d0d459e3c7ea.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-05095e00388949c592ae4f05058a53c5.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-05095e00388949c592ae4f05058a53c5.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-349f73666bb745d2bae21b51a90898af.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-349f73666bb745d2bae21b51a90898af.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-7748445745fb4da6b3d04695517669c1.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-7748445745fb4da6b3d04695517669c1.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-b1218c11efe44602a0ac653b8d09f245.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b1218c11efe44602a0ac653b8d09f245.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-c6fc9112a40e459bb639f97c174f6a2b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-c6fc9112a40e459bb639f97c174f6a2b.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-d9ce7cab3bdb4ec38c16233d01b5da5b.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-d9ce7cab3bdb4ec38c16233d01b5da5b.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-3a51c9c3407441d6a422729b226d452c.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-3a51c9c3407441d6a422729b226d452c.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-c3d2daee4a88413db2e75a87cc054ffe.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c3d2daee4a88413db2e75a87cc054ffe.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-ed9b947679a6475f89ebafaf0641e334.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ed9b947679a6475f89ebafaf0641e334.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-20ee9996453649e8945acc9f624dbe1d.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-20ee9996453649e8945acc9f624dbe1d.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-3060e8c9b6324e6e97dd829bee1fe061.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-3060e8c9b6324e6e97dd829bee1fe061.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-f779b577701449218c695fb7c4f7f7dc.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-f779b577701449218c695fb7c4f7f7dc.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-ef4e7dbc957c4dff8c8d6bbc7f756d1f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ef4e7dbc957c4dff8c8d6bbc7f756d1f.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-46250c46032e4b07b4a6109cd41be39c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-46250c46032e4b07b4a6109cd41be39c.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-e2a3ded585984ae299065b2d94c0527f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e2a3ded585984ae299065b2d94c0527f.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-7ffb97d2e4fd4baabec6f7bfb4e6f3c4.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7ffb97d2e4fd4baabec6f7bfb4e6f3c4.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-0b76a752e4d74757bb40a7db6e50045d.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-0b76a752e4d74757bb40a7db6e50045d.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f7f5c6fd2eab4e0baeb30ea24f614692.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-f7f5c6fd2eab4e0baeb30ea24f614692.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-54a48f9775a9450c82a74da8a805eee9.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-54a48f9775a9450c82a74da8a805eee9.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-0916d72b40d24055ae3bffc82f030d9f.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-0916d72b40d24055ae3bffc82f030d9f.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-786d1607511c4e89b073708866aa4d6c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-786d1607511c4e89b073708866aa4d6c.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-afbc2c3896fb472db6456a91964c17ac.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-afbc2c3896fb472db6456a91964c17ac.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>