<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Altinn formidling 2.0 - kapabiliteter</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Altinn formidling 2.0 - kapabiliteter</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-a22442d94a3f4e0cb92c4399fabcfec3.png" alt="Altinn formidling 2.0 - kapabiliteter" usemap="#id-a22442d94a3f4e0cb92c4399fabcfec3map"/>
			   <map name="id-a22442d94a3f4e0cb92c4399fabcfec3map">
				  		<area shape="rect" coords="2318,40,2584,182" href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html"  target="element">
				  		<area shape="rect" coords="140,20,406,162" href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html"  target="element">
				  				<area shape="rect" coords="2312,1036,2578,1178" href="../elements/id-77ed8f53abd749548f8d5ce3b9e89b43.html"  target="element">
				  				<area shape="rect" coords="2312,1552,2578,1694" href="../elements/id-53582cf9bfa94add8cf17b2b0fcca3cd.html"  target="element">
				  				<area shape="rect" coords="2312,1372,2578,1514" href="../elements/id-52e87296d6d34d14a0b9a1d643c41ba6.html"  target="element">
				  				<area shape="rect" coords="2312,1204,2578,1346" href="../elements/id-992209f4cf7c45498a1e6b51435b0815.html"  target="element">
				  				<area shape="rect" coords="2312,676,2578,818" href="../elements/id-d004af19cce3455d81ba834446cebb1b.html"  target="element">
				  				<area shape="rect" coords="2312,508,2578,650" href="../elements/id-ebca04ed8f4846499e2ba47a109b3e63.html"  target="element">
				  				<area shape="rect" coords="2312,856,2578,998" href="../elements/id-695bce92c3854e51954ab24b8e8e15a1.html"  target="element">

				  		<area shape="rect" coords="2252,424,2650,1732" href="../elements/id-4a5dccbfa59b4ed888560d9d0945e91b.html"  target="element">
				  				<area shape="rect" coords="104,1384,370,1526" href="../elements/id-468795d6999341dda239c89bb3f93c2e.html"  target="element">
				  				<area shape="rect" coords="104,1192,370,1334" href="../elements/id-ecd730270152446bbd1487452bec1332.html"  target="element">
				  				<area shape="rect" coords="104,808,370,950" href="../elements/id-f45bfb2934f0434ca3bb45e7cd9bef7c.html"  target="element">
				  				<area shape="rect" coords="104,652,370,794" href="../elements/id-c11b246bcd3d430293642e17adac0ab1.html"  target="element">
				  				<area shape="rect" coords="104,484,370,626" href="../elements/id-5fb22d9d9d5c4254b8be86310c8cab80.html"  target="element">
				  				<area shape="rect" coords="104,1000,370,1142" href="../elements/id-43768a0874604e3eab90213abb462930.html"  target="element">

				  		<area shape="rect" coords="20,412,454,1720" href="../elements/id-b97dfc2636dd4f0894e58d6d2c68ff08.html"  target="element">
				  		<area shape="rect" coords="1244,136,1510,278" href="../elements/ab749393-6726-4b1f-a60e-c539a2875fc8.html"  target="element">
				  		<area shape="rect" coords="2318,220,2584,362" href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html"  target="element">
				  		<area shape="rect" coords="140,210,406,352" href="../elements/2560daad-d445-4eca-9ec7-a5cac5188b45.html"  target="element">
				  				<area shape="rect" coords="1626,1012,1892,1154" href="../elements/id-830219088a884f6db6a410147ccc7cf2.html"  target="element">
				  				<area shape="rect" coords="1496,484,1762,626" href="../elements/id-f9365bcaae0444ceb71202cb7120d064.html"  target="element">
				  				<area shape="rect" coords="896,808,1162,950" href="../elements/id-97db95bc9dc94080a0926a52aa95ee4a.html"  target="element">
				  				<area shape="rect" coords="596,1264,862,1406" href="../elements/id-8373e03d518a4decb5b610db63164fe5.html"  target="element">
				  				<area shape="rect" coords="1508,1264,1774,1406" href="../elements/id-ecc7b47825f748759c0dc401f8a51605.html"  target="element">
				  				<area shape="rect" coords="1208,1264,1474,1406" href="../elements/id-a6d173bf5ea142a5a7374cca22b4833a.html"  target="element">
				  				<area shape="rect" coords="1196,484,1462,626" href="../elements/id-ec471648643b460a899982254ac98720.html"  target="element">
				  		        <area shape="rect" coords="1844,664,2038,762" href="../objects/id-e350c69a9550414b9334aa9c23ea6bed.html" target="element" >
				  				<area shape="rect" coords="1208,1000,1474,1142" href="../elements/id-3620bcde0499433abe372a3a38114f0d.html"  target="element">
				  				<area shape="rect" coords="908,1000,1174,1142" href="../elements/id-ff0367e9a32b4c9ab8b3cc4944cef92a.html"  target="element">
				  				<area shape="rect" coords="596,1000,862,1142" href="../elements/id-9aed3eb7a9ae4fd18d316f8caed790db.html"  target="element">
				  				<area shape="rect" coords="908,1252,1174,1394" href="../elements/id-f145fd6591f74e0bb186d4ab5ee50375.html"  target="element">
				  				<area shape="rect" coords="1808,484,2074,626" href="../elements/id-d85bfc80e21b47bfb416fc7dacbd3499.html"  target="element">
				  				<area shape="rect" coords="596,808,862,950" href="../elements/id-4edb3503c71f4dc2ad0f806a08da2673.html"  target="element">
				  				<area shape="rect" coords="1496,808,1762,950" href="../elements/id-d616b5cd63c04eaf87ddb3b95fdba6c0.html"  target="element">
				  				<area shape="rect" coords="1196,808,1462,950" href="../elements/id-f408b4d1f7bd4f21a0a6b50dbaf404b4.html"  target="element">
				  				<area shape="rect" coords="596,484,862,626" href="../elements/id-d48b97f5717e47059b67dde1df33c3d5.html"  target="element">
				  				<area shape="rect" coords="1208,1444,1474,1586" href="../elements/id-c46af9c30557466698c5d3ffb70c9da3.html"  target="element">
				  				<area shape="rect" coords="908,1444,1174,1586" href="../elements/id-55168f0d74ed49b9b4540f2a191b52af.html"  target="element">
				  				<area shape="rect" coords="896,484,1162,626" href="../elements/id-746a629f0b604e07a9df67796b056782.html"  target="element">
				  				<area shape="rect" coords="596,1444,862,1586" href="../elements/id-2abe772a27af422a8fdc02657ba9ace4.html"  target="element">

				  		<area shape="rect" coords="548,412,2182,1720" href="../elements/id-73766905a6af42e7a1f3965556520326.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-73766905a6af42e7a1f3965556520326.html" target="element"> Altinn formidling 2.0 kapabiliteter </a> </td>
											    <td> <a href="../elements/id-73766905a6af42e7a1f3965556520326.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2abe772a27af422a8fdc02657ba9ace4.html" target="element"> Brukerst&#248;tte </a> </td>
													    <td> <a href="../elements/id-2abe772a27af422a8fdc02657ba9ace4.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-746a629f0b604e07a9df67796b056782.html" target="element"> Onboarding innbygger </a> </td>
													    <td> <a href="../elements/id-746a629f0b604e07a9df67796b056782.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-55168f0d74ed49b9b4540f2a191b52af.html" target="element"> Fakturering/Betaling </a> </td>
													    <td> <a href="../elements/id-55168f0d74ed49b9b4540f2a191b52af.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c46af9c30557466698c5d3ffb70c9da3.html" target="element"> Statistikk </a> </td>
													    <td> <a href="../elements/id-c46af9c30557466698c5d3ffb70c9da3.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d48b97f5717e47059b67dde1df33c3d5.html" target="element"> Onboarding virksomhet </a> </td>
													    <td> <a href="../elements/id-d48b97f5717e47059b67dde1df33c3d5.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f408b4d1f7bd4f21a0a6b50dbaf404b4.html" target="element"> St&#248;tte for meldingsm&#248;nster en-til-mange </a> </td>
													    <td> <a href="../elements/id-f408b4d1f7bd4f21a0a6b50dbaf404b4.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d616b5cd63c04eaf87ddb3b95fdba6c0.html" target="element"> St&#248;tte for meldingsm&#248;nster en-til-en </a> </td>
													    <td> <a href="../elements/id-d616b5cd63c04eaf87ddb3b95fdba6c0.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4edb3503c71f4dc2ad0f806a08da2673.html" target="element"> Formidle meldinger  </a> </td>
													    <td> <a href="../elements/id-4edb3503c71f4dc2ad0f806a08da2673.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d85bfc80e21b47bfb416fc7dacbd3499.html" target="element"> Spesifisere meldingsformat og metadata (xml manifest) </a> </td>
													    <td> <a href="../elements/id-d85bfc80e21b47bfb416fc7dacbd3499.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f145fd6591f74e0bb186d4ab5ee50375.html" target="element"> Tilgangsstyring (inkl. delegering) </a> </td>
													    <td> <a href="../elements/id-f145fd6591f74e0bb186d4ab5ee50375.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9aed3eb7a9ae4fd18d316f8caed790db.html" target="element"> Formidle mottakskvitteringer </a> </td>
													    <td> <a href="../elements/id-9aed3eb7a9ae4fd18d316f8caed790db.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ff0367e9a32b4c9ab8b3cc4944cef92a.html" target="element"> Lagring og arkivering av  meldingsinnhold </a> </td>
													    <td> <a href="../elements/id-ff0367e9a32b4c9ab8b3cc4944cef92a.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3620bcde0499433abe372a3a38114f0d.html" target="element"> Sletting av utdaterte filer (sanering) </a> </td>
													    <td> <a href="../elements/id-3620bcde0499433abe372a3a38114f0d.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-e350c69a9550414b9334aa9c23ea6bed.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e350c69a9550414b9334aa9c23ea6bed.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-ec471648643b460a899982254ac98720.html" target="element"> Etablere avtaler mellom avsendere og mottakere </a> </td>
													    <td> <a href="../elements/id-ec471648643b460a899982254ac98720.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a6d173bf5ea142a5a7374cca22b4833a.html" target="element"> Virusscanning av filer </a> </td>
													    <td> <a href="../elements/id-a6d173bf5ea142a5a7374cca22b4833a.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ecc7b47825f748759c0dc401f8a51605.html" target="element"> Logging </a> </td>
													    <td> <a href="../elements/id-ecc7b47825f748759c0dc401f8a51605.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8373e03d518a4decb5b610db63164fe5.html" target="element"> Identitetsforvaltning </a> </td>
													    <td> <a href="../elements/id-8373e03d518a4decb5b610db63164fe5.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-97db95bc9dc94080a0926a52aa95ee4a.html" target="element"> Formidle store meldinger (store vedlegg) </a> </td>
													    <td> <a href="../elements/id-97db95bc9dc94080a0926a52aa95ee4a.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f9365bcaae0444ceb71202cb7120d064.html" target="element"> Registrere tjeneste </a> </td>
													    <td> <a href="../elements/id-f9365bcaae0444ceb71202cb7120d064.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-830219088a884f6db6a410147ccc7cf2.html" target="element"> Adressering </a> </td>
													    <td> <a href="../elements/id-830219088a884f6db6a410147ccc7cf2.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/2560daad-d445-4eca-9ec7-a5cac5188b45.html" target="element"> Avsender  </a> </td>
											    <td> <a href="../elements/2560daad-d445-4eca-9ec7-a5cac5188b45.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html" target="element"> Mottaker </a> </td>
											    <td> <a href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ab749393-6726-4b1f-a60e-c539a2875fc8.html" target="element"> Dataformidler </a> </td>
											    <td> <a href="../elements/ab749393-6726-4b1f-a60e-c539a2875fc8.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b97dfc2636dd4f0894e58d6d2c68ff08.html" target="element"> Avsenders kapabiliteter (behov) </a> </td>
											    <td> <a href="../elements/id-b97dfc2636dd4f0894e58d6d2c68ff08.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-43768a0874604e3eab90213abb462930.html" target="element"> Sende filer til en eller flere spesifiserte mottakere </a> </td>
													    <td> <a href="../elements/id-43768a0874604e3eab90213abb462930.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5fb22d9d9d5c4254b8be86310c8cab80.html" target="element"> Onboarding til Altinn Formidling som avsender </a> </td>
													    <td> <a href="../elements/id-5fb22d9d9d5c4254b8be86310c8cab80.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c11b246bcd3d430293642e17adac0ab1.html" target="element"> Etablere avtaler med mottakere (inkl. meldingsstruktur/ semantikk) </a> </td>
													    <td> <a href="../elements/id-c11b246bcd3d430293642e17adac0ab1.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f45bfb2934f0434ca3bb45e7cd9bef7c.html" target="element"> Dele filer med en eller flere spesifiserte mottakere </a> </td>
													    <td> <a href="../elements/id-f45bfb2934f0434ca3bb45e7cd9bef7c.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ecd730270152446bbd1487452bec1332.html" target="element"> Sende store filer </a> </td>
													    <td> <a href="../elements/id-ecd730270152446bbd1487452bec1332.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-468795d6999341dda239c89bb3f93c2e.html" target="element"> Tilbakekall forsendelse (forslag 3.0) </a> </td>
													    <td> <a href="../elements/id-468795d6999341dda239c89bb3f93c2e.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4a5dccbfa59b4ed888560d9d0945e91b.html" target="element"> Mottakers kapabiliteter (behov) </a> </td>
											    <td> <a href="../elements/id-4a5dccbfa59b4ed888560d9d0945e91b.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-695bce92c3854e51954ab24b8e8e15a1.html" target="element"> Motta filer fra kjente avsendere (asynkront via dataformidler) </a> </td>
													    <td> <a href="../elements/id-695bce92c3854e51954ab24b8e8e15a1.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ebca04ed8f4846499e2ba47a109b3e63.html" target="element"> Onboarding til Altinn Formidling som mottaker </a> </td>
													    <td> <a href="../elements/id-ebca04ed8f4846499e2ba47a109b3e63.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d004af19cce3455d81ba834446cebb1b.html" target="element"> Etablere avtaler med avsendere </a> </td>
													    <td> <a href="../elements/id-d004af19cce3455d81ba834446cebb1b.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-992209f4cf7c45498a1e6b51435b0815.html" target="element"> Detektere at nye data er tilgjengelige </a> </td>
													    <td> <a href="../elements/id-992209f4cf7c45498a1e6b51435b0815.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-52e87296d6d34d14a0b9a1d643c41ba6.html" target="element"> Oppdatere egne datasett med nytt innhold </a> </td>
													    <td> <a href="../elements/id-52e87296d6d34d14a0b9a1d643c41ba6.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-53582cf9bfa94add8cf17b2b0fcca3cd.html" target="element"> Tipse endebrukere i egen organisasjon om nytt innhold </a> </td>
													    <td> <a href="../elements/id-53582cf9bfa94add8cf17b2b0fcca3cd.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-77ed8f53abd749548f8d5ce3b9e89b43.html" target="element"> Motta store filer </a> </td>
													    <td> <a href="../elements/id-77ed8f53abd749548f8d5ce3b9e89b43.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
											    <td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
											    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-6d7ef2e0c5414c3a9f3890568c76f137.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6d7ef2e0c5414c3a9f3890568c76f137.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73766905a6af42e7a1f3965556520326.html" target="element"> Altinn formidling 2.0 kapabiliteter </a> </td>
																		<td> <a href="../elements/id-2abe772a27af422a8fdc02657ba9ace4.html" target="element"> Brukerst&#248;tte </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5cb8ef3ef7d04e659220552abc8b2ee9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5cb8ef3ef7d04e659220552abc8b2ee9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73766905a6af42e7a1f3965556520326.html" target="element"> Altinn formidling 2.0 kapabiliteter </a> </td>
																		<td> <a href="../elements/id-746a629f0b604e07a9df67796b056782.html" target="element"> Onboarding innbygger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b3862ceacd4f48b7a55d0aef26986023.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b3862ceacd4f48b7a55d0aef26986023.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73766905a6af42e7a1f3965556520326.html" target="element"> Altinn formidling 2.0 kapabiliteter </a> </td>
																		<td> <a href="../elements/id-55168f0d74ed49b9b4540f2a191b52af.html" target="element"> Fakturering/Betaling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3d29a47cd889406b91de00aef1826b2f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3d29a47cd889406b91de00aef1826b2f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73766905a6af42e7a1f3965556520326.html" target="element"> Altinn formidling 2.0 kapabiliteter </a> </td>
																		<td> <a href="../elements/id-c46af9c30557466698c5d3ffb70c9da3.html" target="element"> Statistikk </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-94d10da96d934dee95df764e480e6e53.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-94d10da96d934dee95df764e480e6e53.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73766905a6af42e7a1f3965556520326.html" target="element"> Altinn formidling 2.0 kapabiliteter </a> </td>
																		<td> <a href="../elements/id-d48b97f5717e47059b67dde1df33c3d5.html" target="element"> Onboarding virksomhet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6a3887f3cf2f48f0aff52d96332b3ad5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a3887f3cf2f48f0aff52d96332b3ad5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73766905a6af42e7a1f3965556520326.html" target="element"> Altinn formidling 2.0 kapabiliteter </a> </td>
																		<td> <a href="../elements/id-f408b4d1f7bd4f21a0a6b50dbaf404b4.html" target="element"> St&#248;tte for meldingsm&#248;nster en-til-mange </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b2581eb530c346e4a6407279501ee09c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b2581eb530c346e4a6407279501ee09c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73766905a6af42e7a1f3965556520326.html" target="element"> Altinn formidling 2.0 kapabiliteter </a> </td>
																		<td> <a href="../elements/id-d616b5cd63c04eaf87ddb3b95fdba6c0.html" target="element"> St&#248;tte for meldingsm&#248;nster en-til-en </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-99cc598662bd4845bb4879c840c40d2e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-99cc598662bd4845bb4879c840c40d2e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73766905a6af42e7a1f3965556520326.html" target="element"> Altinn formidling 2.0 kapabiliteter </a> </td>
																		<td> <a href="../elements/id-4edb3503c71f4dc2ad0f806a08da2673.html" target="element"> Formidle meldinger  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3631ca7c3e3946c6a82d7c4d2e423e75.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3631ca7c3e3946c6a82d7c4d2e423e75.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73766905a6af42e7a1f3965556520326.html" target="element"> Altinn formidling 2.0 kapabiliteter </a> </td>
																		<td> <a href="../elements/id-d85bfc80e21b47bfb416fc7dacbd3499.html" target="element"> Spesifisere meldingsformat og metadata (xml manifest) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1aa475039ecb404cb8b3c32a6bac8389.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1aa475039ecb404cb8b3c32a6bac8389.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73766905a6af42e7a1f3965556520326.html" target="element"> Altinn formidling 2.0 kapabiliteter </a> </td>
																		<td> <a href="../elements/id-f145fd6591f74e0bb186d4ab5ee50375.html" target="element"> Tilgangsstyring (inkl. delegering) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-595336b3674842dda93f08f7f0d40561.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-595336b3674842dda93f08f7f0d40561.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73766905a6af42e7a1f3965556520326.html" target="element"> Altinn formidling 2.0 kapabiliteter </a> </td>
																		<td> <a href="../elements/id-9aed3eb7a9ae4fd18d316f8caed790db.html" target="element"> Formidle mottakskvitteringer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-daf6ed8332924c62bc1f52c47c2a8d2f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-daf6ed8332924c62bc1f52c47c2a8d2f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73766905a6af42e7a1f3965556520326.html" target="element"> Altinn formidling 2.0 kapabiliteter </a> </td>
																		<td> <a href="../elements/id-ff0367e9a32b4c9ab8b3cc4944cef92a.html" target="element"> Lagring og arkivering av  meldingsinnhold </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-92a4f6d0b17c41b18ca5d4507e4570ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-92a4f6d0b17c41b18ca5d4507e4570ed.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73766905a6af42e7a1f3965556520326.html" target="element"> Altinn formidling 2.0 kapabiliteter </a> </td>
																		<td> <a href="../elements/id-ecc7b47825f748759c0dc401f8a51605.html" target="element"> Logging </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-178c6102b38c42b1af462bf2eebc4565.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-178c6102b38c42b1af462bf2eebc4565.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73766905a6af42e7a1f3965556520326.html" target="element"> Altinn formidling 2.0 kapabiliteter </a> </td>
																		<td> <a href="../elements/id-3620bcde0499433abe372a3a38114f0d.html" target="element"> Sletting av utdaterte filer (sanering) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1f2edbfec7d54f2b8eb9fb8e64628758.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1f2edbfec7d54f2b8eb9fb8e64628758.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73766905a6af42e7a1f3965556520326.html" target="element"> Altinn formidling 2.0 kapabiliteter </a> </td>
																		<td> <a href="../elements/id-ec471648643b460a899982254ac98720.html" target="element"> Etablere avtaler mellom avsendere og mottakere </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-67df8815d0fd485baf8877dbe2151abf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-67df8815d0fd485baf8877dbe2151abf.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73766905a6af42e7a1f3965556520326.html" target="element"> Altinn formidling 2.0 kapabiliteter </a> </td>
																		<td> <a href="../elements/id-a6d173bf5ea142a5a7374cca22b4833a.html" target="element"> Virusscanning av filer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c881023068d24d05a27890be206d01f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c881023068d24d05a27890be206d01f7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73766905a6af42e7a1f3965556520326.html" target="element"> Altinn formidling 2.0 kapabiliteter </a> </td>
																		<td> <a href="../elements/id-8373e03d518a4decb5b610db63164fe5.html" target="element"> Identitetsforvaltning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f66460fb53224775b27cd982c483bf93.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f66460fb53224775b27cd982c483bf93.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73766905a6af42e7a1f3965556520326.html" target="element"> Altinn formidling 2.0 kapabiliteter </a> </td>
																		<td> <a href="../elements/id-97db95bc9dc94080a0926a52aa95ee4a.html" target="element"> Formidle store meldinger (store vedlegg) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-618cf18ca9904eba89872689de9a7c99.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-618cf18ca9904eba89872689de9a7c99.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73766905a6af42e7a1f3965556520326.html" target="element"> Altinn formidling 2.0 kapabiliteter </a> </td>
																		<td> <a href="../elements/id-f9365bcaae0444ceb71202cb7120d064.html" target="element"> Registrere tjeneste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-58c5c3b25bea406a8b525c468981656e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-58c5c3b25bea406a8b525c468981656e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73766905a6af42e7a1f3965556520326.html" target="element"> Altinn formidling 2.0 kapabiliteter </a> </td>
																		<td> <a href="../elements/id-830219088a884f6db6a410147ccc7cf2.html" target="element"> Adressering </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-40b6aef67d734140b87197d955c6bfed.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-40b6aef67d734140b87197d955c6bfed.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3620bcde0499433abe372a3a38114f0d.html" target="element"> Sletting av utdaterte filer (sanering) </a> </td>
																				<td> <a href="../elements/id-ff0367e9a32b4c9ab8b3cc4944cef92a.html" target="element"> Lagring og arkivering av  meldingsinnhold </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/d81c2df4-994c-442b-af33-a16ad9fe17c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/d81c2df4-994c-442b-af33-a16ad9fe17c6.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/2560daad-d445-4eca-9ec7-a5cac5188b45.html" target="element"> Avsender  </a> </td>
																		<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6ad78ace5cca45f2bebe83fc8c3fee99.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ad78ace5cca45f2bebe83fc8c3fee99.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/2560daad-d445-4eca-9ec7-a5cac5188b45.html" target="element"> Avsender  </a> </td>
																		<td> <a href="../elements/id-b97dfc2636dd4f0894e58d6d2c68ff08.html" target="element"> Avsenders kapabiliteter (behov) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6597f040-35d4-4279-92a3-464efbce2211.html" target="element">  </a> </td>
																		<td> <a href="../elements/6597f040-35d4-4279-92a3-464efbce2211.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html" target="element"> Mottaker </a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5f865a70d657422083d84cb69267ee68.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5f865a70d657422083d84cb69267ee68.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html" target="element"> Mottaker </a> </td>
																		<td> <a href="../elements/id-4a5dccbfa59b4ed888560d9d0945e91b.html" target="element"> Mottakers kapabiliteter (behov) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4bc0c3df67e944ccb1731c4931bce374.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4bc0c3df67e944ccb1731c4931bce374.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/ab749393-6726-4b1f-a60e-c539a2875fc8.html" target="element"> Dataformidler </a> </td>
																		<td> <a href="../elements/id-73766905a6af42e7a1f3965556520326.html" target="element"> Altinn formidling 2.0 kapabiliteter </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f1f2966a5d1f404eb37e4e977c3a4ea6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f1f2966a5d1f404eb37e4e977c3a4ea6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b97dfc2636dd4f0894e58d6d2c68ff08.html" target="element"> Avsenders kapabiliteter (behov) </a> </td>
																		<td> <a href="../elements/id-43768a0874604e3eab90213abb462930.html" target="element"> Sende filer til en eller flere spesifiserte mottakere </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-12aa279d548f46f190f55649454511ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-12aa279d548f46f190f55649454511ce.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b97dfc2636dd4f0894e58d6d2c68ff08.html" target="element"> Avsenders kapabiliteter (behov) </a> </td>
																		<td> <a href="../elements/id-5fb22d9d9d5c4254b8be86310c8cab80.html" target="element"> Onboarding til Altinn Formidling som avsender </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c917d2079d514293b7c3ebe212acf43d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c917d2079d514293b7c3ebe212acf43d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b97dfc2636dd4f0894e58d6d2c68ff08.html" target="element"> Avsenders kapabiliteter (behov) </a> </td>
																		<td> <a href="../elements/id-c11b246bcd3d430293642e17adac0ab1.html" target="element"> Etablere avtaler med mottakere (inkl. meldingsstruktur/ semantikk) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c2574b32f40d46e79ceeac3c7d5c1309.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c2574b32f40d46e79ceeac3c7d5c1309.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b97dfc2636dd4f0894e58d6d2c68ff08.html" target="element"> Avsenders kapabiliteter (behov) </a> </td>
																		<td> <a href="../elements/id-f45bfb2934f0434ca3bb45e7cd9bef7c.html" target="element"> Dele filer med en eller flere spesifiserte mottakere </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-adaf41b41d614591ba5ad5b1d4dfbb93.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-adaf41b41d614591ba5ad5b1d4dfbb93.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b97dfc2636dd4f0894e58d6d2c68ff08.html" target="element"> Avsenders kapabiliteter (behov) </a> </td>
																		<td> <a href="../elements/id-468795d6999341dda239c89bb3f93c2e.html" target="element"> Tilbakekall forsendelse (forslag 3.0) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-67f07d39006942229b79d99d0fc0c50b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-67f07d39006942229b79d99d0fc0c50b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b97dfc2636dd4f0894e58d6d2c68ff08.html" target="element"> Avsenders kapabiliteter (behov) </a> </td>
																		<td> <a href="../elements/id-ecd730270152446bbd1487452bec1332.html" target="element"> Sende store filer </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-4c10305e955e42c79c11518545f598ba.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4c10305e955e42c79c11518545f598ba.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-43768a0874604e3eab90213abb462930.html" target="element"> Sende filer til en eller flere spesifiserte mottakere </a> </td>
																				<td> <a href="../elements/id-f45bfb2934f0434ca3bb45e7cd9bef7c.html" target="element"> Dele filer med en eller flere spesifiserte mottakere </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-57e59f6122ea420c87155cef5932ff04.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-57e59f6122ea420c87155cef5932ff04.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ecd730270152446bbd1487452bec1332.html" target="element"> Sende store filer </a> </td>
																				<td> <a href="../elements/id-43768a0874604e3eab90213abb462930.html" target="element"> Sende filer til en eller flere spesifiserte mottakere </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-23b135eeb1e04fce98da538a793eb90d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-23b135eeb1e04fce98da538a793eb90d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4a5dccbfa59b4ed888560d9d0945e91b.html" target="element"> Mottakers kapabiliteter (behov) </a> </td>
																		<td> <a href="../elements/id-695bce92c3854e51954ab24b8e8e15a1.html" target="element"> Motta filer fra kjente avsendere (asynkront via dataformidler) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a143162eb73446b8abb2ff7660b0b216.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a143162eb73446b8abb2ff7660b0b216.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4a5dccbfa59b4ed888560d9d0945e91b.html" target="element"> Mottakers kapabiliteter (behov) </a> </td>
																		<td> <a href="../elements/id-ebca04ed8f4846499e2ba47a109b3e63.html" target="element"> Onboarding til Altinn Formidling som mottaker </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2eb8135f99f3466d946868dafe9b8e27.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2eb8135f99f3466d946868dafe9b8e27.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4a5dccbfa59b4ed888560d9d0945e91b.html" target="element"> Mottakers kapabiliteter (behov) </a> </td>
																		<td> <a href="../elements/id-d004af19cce3455d81ba834446cebb1b.html" target="element"> Etablere avtaler med avsendere </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-93472eee87bc42fdb04d4de3bb409bec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-93472eee87bc42fdb04d4de3bb409bec.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4a5dccbfa59b4ed888560d9d0945e91b.html" target="element"> Mottakers kapabiliteter (behov) </a> </td>
																		<td> <a href="../elements/id-992209f4cf7c45498a1e6b51435b0815.html" target="element"> Detektere at nye data er tilgjengelige </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f718b60c0f904b3cba1e6e35b442bf0a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f718b60c0f904b3cba1e6e35b442bf0a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4a5dccbfa59b4ed888560d9d0945e91b.html" target="element"> Mottakers kapabiliteter (behov) </a> </td>
																		<td> <a href="../elements/id-52e87296d6d34d14a0b9a1d643c41ba6.html" target="element"> Oppdatere egne datasett med nytt innhold </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6f3d9e8bbe5e46fe8caf33b340f03e08.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6f3d9e8bbe5e46fe8caf33b340f03e08.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4a5dccbfa59b4ed888560d9d0945e91b.html" target="element"> Mottakers kapabiliteter (behov) </a> </td>
																		<td> <a href="../elements/id-53582cf9bfa94add8cf17b2b0fcca3cd.html" target="element"> Tipse endebrukere i egen organisasjon om nytt innhold </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4c6bb38ec82d4e96bc89665652a6b2db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4c6bb38ec82d4e96bc89665652a6b2db.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4a5dccbfa59b4ed888560d9d0945e91b.html" target="element"> Mottakers kapabiliteter (behov) </a> </td>
																		<td> <a href="../elements/id-77ed8f53abd749548f8d5ce3b9e89b43.html" target="element"> Motta store filer </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-befd87f92d14487b85f9ff16c41833a9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-befd87f92d14487b85f9ff16c41833a9.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-77ed8f53abd749548f8d5ce3b9e89b43.html" target="element"> Motta store filer </a> </td>
																				<td> <a href="../elements/id-695bce92c3854e51954ab24b8e8e15a1.html" target="element"> Motta filer fra kjente avsendere (asynkront via dataformidler) </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>