<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Aktørbegrepet</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Akt&#248;rbegrepet</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-CanvasModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-CanvasModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-a22c379eb1224bf2a0ba756d2192f7e9.png" alt="Aktørbegrepet" usemap="#id-a22c379eb1224bf2a0ba756d2192f7e9map"/>
			   <map name="id-a22c379eb1224bf2a0ba756d2192f7e9map">
				          <area shape="rect" coords="44,644,670,896" href="../objects/id-e0bb7ad94ae041adabdd1bda5c03f83e.html" target="element" >
				  		        <area shape="rect" coords="452,224,538,346" href="../objects/id-cd804b5ec4814539893fd96ab842041a.html" target="element" >

				          <area shape="rect" coords="452,224,550,382" href="../objects/id-7ba8c82c648243ebb0b34fffe5b2e011.html" target="element" >
				  		        <area shape="rect" coords="44,440,178,550" href="../objects/id-cbde9afa94904493a8025fa7c5091bf0.html" target="element" >

				          <area shape="rect" coords="20,428,202,598" href="../objects/id-6dd2473fe07f4cfb9aabc8568f843fab.html" target="element" >
				  		        <area shape="rect" coords="56,248,166,358" href="../objects/id-360020b7f8ff4b8fa615444ef9955e7c.html" target="element" >

				          <area shape="rect" coords="20,236,202,406" href="../objects/id-35ee0eb9191040c1999975459ce868c1.html" target="element" >
				  		        <area shape="rect" coords="68,32,154,142" href="../objects/id-024abe0b6eeb499eb9de74927a4eb159.html" target="element" >

				          <area shape="rect" coords="20,20,202,190" href="../objects/id-f5004f13675c4e4b9ed22e15dbc61084.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-f5004f13675c4e4b9ed22e15dbc61084.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f5004f13675c4e4b9ed22e15dbc61084.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-024abe0b6eeb499eb9de74927a4eb159.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-024abe0b6eeb499eb9de74927a4eb159.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-35ee0eb9191040c1999975459ce868c1.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-35ee0eb9191040c1999975459ce868c1.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-360020b7f8ff4b8fa615444ef9955e7c.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-360020b7f8ff4b8fa615444ef9955e7c.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-6dd2473fe07f4cfb9aabc8568f843fab.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6dd2473fe07f4cfb9aabc8568f843fab.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-cbde9afa94904493a8025fa7c5091bf0.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-cbde9afa94904493a8025fa7c5091bf0.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-7ba8c82c648243ebb0b34fffe5b2e011.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7ba8c82c648243ebb0b34fffe5b2e011.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-cd804b5ec4814539893fd96ab842041a.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-cd804b5ec4814539893fd96ab842041a.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-e0bb7ad94ae041adabdd1bda5c03f83e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e0bb7ad94ae041adabdd1bda5c03f83e.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>