<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Data for EU</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Data for EU</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-c744bdb6ff5d462e949db27f8aa3a72a.png" alt="Data for EU" usemap="#id-c744bdb6ff5d462e949db27f8aa3a72amap"/>
			   <map name="id-c744bdb6ff5d462e949db27f8aa3a72amap">
				          <area shape="rect" coords="1316,764,1630,934" href="../objects/id-ce9df39e6c474118864951d8c4e17bb5.html" target="element" >
				  				<area shape="rect" coords="872,716,1138,858" href="../elements/id-6955047603444416b7ae64b022829eac.html"  target="element">
				  				<area shape="rect" coords="872,548,1138,690" href="../elements/id-9931544ade5149da803247e82734b218.html"  target="element">
				  				<area shape="rect" coords="872,380,1138,522" href="../elements/id-12fff75b2cfb4e178de9b772e7011386.html"  target="element">

				  		<area shape="rect" coords="848,332,1198,874" href="../elements/id-fd7671a1e6664084a27027e291b4e22b.html"  target="element">
				  		<area shape="rect" coords="812,140,1078,282" href="../elements/id-4ee2b16465b34ff0a3d5a21696e5c88f.html"  target="element">
				  				<area shape="rect" coords="1580,80,1678,154" href="../elements/id-8128be125ccc410daa258ed62d1f28bc.html"  target="element">
				  				<area shape="rect" coords="1352,488,1618,630" href="../elements/id-fc8c997f972e40628f0a5c8eaa14ed3e.html"  target="element">
				  				<area shape="rect" coords="1352,176,1618,318" href="../elements/id-79695c3a437e40928fb919e283202bc5.html"  target="element">
				  				<area shape="rect" coords="1352,332,1618,474" href="../elements/id-bb8a10a90fe54375bb184eec3890153a.html"  target="element">

				  		<area shape="rect" coords="1268,80,1678,656" href="../elements/id-645a07076d2242b5a863a1e8eee3fafc.html"  target="element">
				  						<area shape="rect" coords="656,254,732,298" href="../elements/id-5870169e25b747e09412ee17419147b3.html"  target="element">
				  						<area shape="rect" coords="440,308,706,450" href="../elements/id-94d411cb449b4e3291602a6c7de45a33.html"  target="element">
				  						<area shape="rect" coords="440,140,706,282" href="../elements/id-6bde228f6d8e4871aae0441de27f85b6.html"  target="element">

				  				<area shape="rect" coords="416,92,742,478" href="../elements/id-ba9806281ebe4e17929892d69224fb3c.html"  target="element">
				  						<area shape="rect" coords="68,452,334,594" href="../elements/id-fe19ba08ed9e432dbfbccb7519da4f9e.html"  target="element">
				  						<area shape="rect" coords="68,296,334,438" href="../elements/id-91f4f81b8a964ee08c3b77a281348a49.html"  target="element">
				  						<area shape="rect" coords="68,140,334,282" href="../elements/id-cc8db93622eb4648858812883dc50418.html"  target="element">
				  						<area shape="rect" coords="68,920,334,1062" href="../elements/id-19b607a8c3b44f42ae454fcad535487e.html"  target="element">
				  						<area shape="rect" coords="68,764,334,906" href="../elements/id-38593cf6f3664d1b93e10804d218aa62.html"  target="element">
				  						<area shape="rect" coords="68,608,334,750" href="../elements/id-dbb4319069b24764b3850d3155d8af26.html"  target="element">

				  				<area shape="rect" coords="44,92,382,1090" href="../elements/id-f23d5e52a2244b92a235046b6da6047f.html"  target="element">

				  		<area shape="rect" coords="20,20,766,1114" href="../elements/id-c47997bda09841cb97e753fa78d51e92.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-c47997bda09841cb97e753fa78d51e92.html" target="element"> Data for EU </a> </td>
											    <td> <a href="../elements/id-c47997bda09841cb97e753fa78d51e92.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f23d5e52a2244b92a235046b6da6047f.html" target="element"> Data spaces </a> </td>
													    <td> <a href="../elements/id-f23d5e52a2244b92a235046b6da6047f.html" target="element" class="i18n-elementtype-WorkPackage">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-dbb4319069b24764b3850d3155d8af26.html" target="element"> Health Data Space </a> </td>
															    <td> <a href="../elements/id-dbb4319069b24764b3850d3155d8af26.html" target="element" class="i18n-elementtype-WorkPackage">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-38593cf6f3664d1b93e10804d218aa62.html" target="element"> Data Space for Media  </a> </td>
															    <td> <a href="../elements/id-38593cf6f3664d1b93e10804d218aa62.html" target="element" class="i18n-elementtype-WorkPackage">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-19b607a8c3b44f42ae454fcad535487e.html" target="element"> Data Space for Public Administrations </a> </td>
															    <td> <a href="../elements/id-19b607a8c3b44f42ae454fcad535487e.html" target="element" class="i18n-elementtype-WorkPackage">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-cc8db93622eb4648858812883dc50418.html" target="element"> Data Space for smart communities </a> </td>
															    <td> <a href="../elements/id-cc8db93622eb4648858812883dc50418.html" target="element" class="i18n-elementtype-WorkPackage">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-91f4f81b8a964ee08c3b77a281348a49.html" target="element"> Data Space for Mobility </a> </td>
															    <td> <a href="../elements/id-91f4f81b8a964ee08c3b77a281348a49.html" target="element" class="i18n-elementtype-WorkPackage">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-fe19ba08ed9e432dbfbccb7519da4f9e.html" target="element"> Data Space for smart Manufacturing </a> </td>
															    <td> <a href="../elements/id-fe19ba08ed9e432dbfbccb7519da4f9e.html" target="element" class="i18n-elementtype-WorkPackage">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-ba9806281ebe4e17929892d69224fb3c.html" target="element"> Support for Data for EU </a> </td>
													    <td> <a href="../elements/id-ba9806281ebe4e17929892d69224fb3c.html" target="element" class="i18n-elementtype-WorkPackage">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-6bde228f6d8e4871aae0441de27f85b6.html" target="element"> Data Spaces Support Centre </a> </td>
															    <td> <a href="../elements/id-6bde228f6d8e4871aae0441de27f85b6.html" target="element" class="i18n-elementtype-WorkPackage">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-94d411cb449b4e3291602a6c7de45a33.html" target="element"> Public Sector Open Data for AI and Open Data Platform </a> </td>
															    <td> <a href="../elements/id-94d411cb449b4e3291602a6c7de45a33.html" target="element" class="i18n-elementtype-WorkPackage">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-5870169e25b747e09412ee17419147b3.html" target="element"> 2021 </a> </td>
															    <td> <a href="../elements/id-5870169e25b747e09412ee17419147b3.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-645a07076d2242b5a863a1e8eee3fafc.html" target="element"> Felles &#248;kosystem </a> </td>
											    <td> <a href="../elements/id-645a07076d2242b5a863a1e8eee3fafc.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-bb8a10a90fe54375bb184eec3890153a.html" target="element"> Arkitektur og standardisering </a> </td>
													    <td> <a href="../elements/id-bb8a10a90fe54375bb184eec3890153a.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-79695c3a437e40928fb919e283202bc5.html" target="element"> Strategisk samordning og koordinering </a> </td>
													    <td> <a href="../elements/id-79695c3a437e40928fb919e283202bc5.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fc8c997f972e40628f0a5c8eaa14ed3e.html" target="element"> Plattformer for tjenesteutvikling og -produksjon </a> </td>
													    <td> <a href="../elements/id-fc8c997f972e40628f0a5c8eaa14ed3e.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8128be125ccc410daa258ed62d1f28bc.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-8128be125ccc410daa258ed62d1f28bc.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4ee2b16465b34ff0a3d5a21696e5c88f.html" target="element"> Data Spaces Support Centre </a> </td>
											    <td> <a href="../elements/id-4ee2b16465b34ff0a3d5a21696e5c88f.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fd7671a1e6664084a27027e291b4e22b.html" target="element"> Arkitekturarbeid </a> </td>
											    <td> <a href="../elements/id-fd7671a1e6664084a27027e291b4e22b.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-12fff75b2cfb4e178de9b772e7011386.html" target="element"> Data Space  Reference Architecture </a> </td>
													    <td> <a href="../elements/id-12fff75b2cfb4e178de9b772e7011386.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9931544ade5149da803247e82734b218.html" target="element"> Felles verkt&#248;y, teknologier osv.  </a> </td>
													    <td> <a href="../elements/id-9931544ade5149da803247e82734b218.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6955047603444416b7ae64b022829eac.html" target="element"> Knowledge echange platform for all actors in the data economy </a> </td>
													    <td> <a href="../elements/id-6955047603444416b7ae64b022829eac.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-ce9df39e6c474118864951d8c4e17bb5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ce9df39e6c474118864951d8c4e17bb5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-97fad725d5ce47389ed5546f9c9e53e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-97fad725d5ce47389ed5546f9c9e53e5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c47997bda09841cb97e753fa78d51e92.html" target="element"> Data for EU </a> </td>
																		<td> <a href="../elements/id-f23d5e52a2244b92a235046b6da6047f.html" target="element"> Data spaces </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0aabb675848741dba6f5e3fb1f489a51.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0aabb675848741dba6f5e3fb1f489a51.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c47997bda09841cb97e753fa78d51e92.html" target="element"> Data for EU </a> </td>
																		<td> <a href="../elements/id-ba9806281ebe4e17929892d69224fb3c.html" target="element"> Support for Data for EU </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-6dcc545c3a674d9e8d1ac5c98c565d08.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6dcc545c3a674d9e8d1ac5c98c565d08.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f23d5e52a2244b92a235046b6da6047f.html" target="element"> Data spaces </a> </td>
																				<td> <a href="../elements/id-cc8db93622eb4648858812883dc50418.html" target="element"> Data Space for smart communities </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5718bb12e2f140f3969e7382c3a780ca.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5718bb12e2f140f3969e7382c3a780ca.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f23d5e52a2244b92a235046b6da6047f.html" target="element"> Data spaces </a> </td>
																				<td> <a href="../elements/id-38593cf6f3664d1b93e10804d218aa62.html" target="element"> Data Space for Media  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5d8139d923294e4a8c690abcd3310efe.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5d8139d923294e4a8c690abcd3310efe.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f23d5e52a2244b92a235046b6da6047f.html" target="element"> Data spaces </a> </td>
																				<td> <a href="../elements/id-dbb4319069b24764b3850d3155d8af26.html" target="element"> Health Data Space </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ee6f1bf08db7414092a7895eed79377a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ee6f1bf08db7414092a7895eed79377a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f23d5e52a2244b92a235046b6da6047f.html" target="element"> Data spaces </a> </td>
																				<td> <a href="../elements/id-91f4f81b8a964ee08c3b77a281348a49.html" target="element"> Data Space for Mobility </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d5734b82cd534839a80539441a446352.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d5734b82cd534839a80539441a446352.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f23d5e52a2244b92a235046b6da6047f.html" target="element"> Data spaces </a> </td>
																				<td> <a href="../elements/id-fe19ba08ed9e432dbfbccb7519da4f9e.html" target="element"> Data Space for smart Manufacturing </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7b4193a180fc4d11b4a2b36c4e7d6a74.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7b4193a180fc4d11b4a2b36c4e7d6a74.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f23d5e52a2244b92a235046b6da6047f.html" target="element"> Data spaces </a> </td>
																				<td> <a href="../elements/id-19b607a8c3b44f42ae454fcad535487e.html" target="element"> Data Space for Public Administrations </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-d6713476ae454ebb8b23f4567731eb87.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d6713476ae454ebb8b23f4567731eb87.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ba9806281ebe4e17929892d69224fb3c.html" target="element"> Support for Data for EU </a> </td>
																				<td> <a href="../elements/id-6bde228f6d8e4871aae0441de27f85b6.html" target="element"> Data Spaces Support Centre </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-070f2f98a596408897b1a00081e86503.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-070f2f98a596408897b1a00081e86503.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ba9806281ebe4e17929892d69224fb3c.html" target="element"> Support for Data for EU </a> </td>
																				<td> <a href="../elements/id-94d411cb449b4e3291602a6c7de45a33.html" target="element"> Public Sector Open Data for AI and Open Data Platform </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-bb9f588b623f4b52b75609e196f25994.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-bb9f588b623f4b52b75609e196f25994.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-6bde228f6d8e4871aae0441de27f85b6.html" target="element"> Data Spaces Support Centre </a> </td>
																						<td> <a href="../elements/id-4ee2b16465b34ff0a3d5a21696e5c88f.html" target="element"> Data Spaces Support Centre </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-1923349cc9404b08a41ef1a25b0dd77c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1923349cc9404b08a41ef1a25b0dd77c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-645a07076d2242b5a863a1e8eee3fafc.html" target="element"> Felles &#248;kosystem </a> </td>
																		<td> <a href="../elements/id-79695c3a437e40928fb919e283202bc5.html" target="element"> Strategisk samordning og koordinering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a60ae34c87cd416e8f82556224af5e0b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a60ae34c87cd416e8f82556224af5e0b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-645a07076d2242b5a863a1e8eee3fafc.html" target="element"> Felles &#248;kosystem </a> </td>
																		<td> <a href="../elements/id-8128be125ccc410daa258ed62d1f28bc.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7b98a2e65072494195f29d89bd930ced.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7b98a2e65072494195f29d89bd930ced.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-645a07076d2242b5a863a1e8eee3fafc.html" target="element"> Felles &#248;kosystem </a> </td>
																		<td> <a href="../elements/id-bb8a10a90fe54375bb184eec3890153a.html" target="element"> Arkitektur og standardisering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d06b6d3006a44192a1d331a0636b7520.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d06b6d3006a44192a1d331a0636b7520.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-645a07076d2242b5a863a1e8eee3fafc.html" target="element"> Felles &#248;kosystem </a> </td>
																		<td> <a href="../elements/id-fc8c997f972e40628f0a5c8eaa14ed3e.html" target="element"> Plattformer for tjenesteutvikling og -produksjon </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-fa9d37b5bf83400ebf3e4d00dd5c89c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fa9d37b5bf83400ebf3e4d00dd5c89c4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4ee2b16465b34ff0a3d5a21696e5c88f.html" target="element"> Data Spaces Support Centre </a> </td>
																		<td> <a href="../elements/id-fd7671a1e6664084a27027e291b4e22b.html" target="element"> Arkitekturarbeid </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2ad996d140104add9c492ceeb656af14.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2ad996d140104add9c492ceeb656af14.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4ee2b16465b34ff0a3d5a21696e5c88f.html" target="element"> Data Spaces Support Centre </a> </td>
																		<td> <a href="../elements/id-79695c3a437e40928fb919e283202bc5.html" target="element"> Strategisk samordning og koordinering </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-768cefc041f44ea0b2fcf9f90df67770.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-768cefc041f44ea0b2fcf9f90df67770.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fd7671a1e6664084a27027e291b4e22b.html" target="element"> Arkitekturarbeid </a> </td>
																		<td> <a href="../elements/id-9931544ade5149da803247e82734b218.html" target="element"> Felles verkt&#248;y, teknologier osv.  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bb929d45d08c45afa1e53fd469a73dc9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bb929d45d08c45afa1e53fd469a73dc9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fd7671a1e6664084a27027e291b4e22b.html" target="element"> Arkitekturarbeid </a> </td>
																		<td> <a href="../elements/id-12fff75b2cfb4e178de9b772e7011386.html" target="element"> Data Space  Reference Architecture </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-41037c2544e24a0f84bb94f4c89e2301.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-41037c2544e24a0f84bb94f4c89e2301.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fd7671a1e6664084a27027e291b4e22b.html" target="element"> Arkitekturarbeid </a> </td>
																		<td> <a href="../elements/id-6955047603444416b7ae64b022829eac.html" target="element"> Knowledge echange platform for all actors in the data economy </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-9dd11a2973354ef3954cecca9c1f747b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9dd11a2973354ef3954cecca9c1f747b.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-12fff75b2cfb4e178de9b772e7011386.html" target="element"> Data Space  Reference Architecture </a> </td>
																				<td> <a href="../elements/id-bb8a10a90fe54375bb184eec3890153a.html" target="element"> Arkitektur og standardisering </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0ad1f412382e49c09bd216d0e4e893c2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0ad1f412382e49c09bd216d0e4e893c2.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9931544ade5149da803247e82734b218.html" target="element"> Felles verkt&#248;y, teknologier osv.  </a> </td>
																				<td> <a href="../elements/id-fc8c997f972e40628f0a5c8eaa14ed3e.html" target="element"> Plattformer for tjenesteutvikling og -produksjon </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-5e45897d7d94426f906b155cf12cac76.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5e45897d7d94426f906b155cf12cac76.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6955047603444416b7ae64b022829eac.html" target="element"> Knowledge echange platform for all actors in the data economy </a> </td>
																				<td> <a href="../elements/id-fc8c997f972e40628f0a5c8eaa14ed3e.html" target="element"> Plattformer for tjenesteutvikling og -produksjon </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>