<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Altinn formidling 2.0 - forretningstjenester og prosesser (Steinars modell)</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Altinn formidling 2.0 - forretningstjenester og prosesser (Steinars modell)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-dcdde3ecb0654af888c4325eebdafd78.png" alt="Altinn formidling 2.0 - forretningstjenester og prosesser (Steinars modell)" usemap="#id-dcdde3ecb0654af888c4325eebdafd78map"/>
			   <map name="id-dcdde3ecb0654af888c4325eebdafd78map">
				  		<area shape="rect" coords="1028,620,2182,790" href="../elements/id-0a04dafdbc024eafb11a63b6a3b9800d.html"  target="element">
				  		<area shape="rect" coords="1028,428,2182,598" href="../elements/id-f0570807edf84a5cbfe3a7d8d1bb5f49.html"  target="element">
				  		<area shape="rect" coords="1028,236,2182,406" href="../elements/id-835441cd5cb8496fb09929c2207847ea.html"  target="element">
				  				<area shape="rect" coords="1076,80,1316,190" href="../elements/id-2f8132d549514a21b7a15a547b5d7ec7.html"  target="element">
				  				<area shape="rect" coords="1652,80,1892,190" href="../elements/id-e70cc35c001f4d3da8e17ed115245131.html"  target="element">
				  				<area shape="rect" coords="1940,80,2180,190" href="../elements/id-af7d003e4b3d421789ba840b381e1164.html"  target="element">
				  				<area shape="rect" coords="1364,80,1604,190" href="../elements/id-24166e7423f84f54b3fd1db1f2c03cc8.html"  target="element">

				  		<area shape="rect" coords="1028,32,2206,226" href="../elements/id-3b7e0a4e4ab7464896a5668551d627ec.html"  target="element">
				  				<area shape="rect" coords="1052,1106,1292,1216" href="../elements/id-591a6d512b0d4d0aa1543f81e5e0c8b7.html"  target="element">
				  				<area shape="rect" coords="1628,1106,1868,1216" href="../elements/id-f413f00ff28148deba994f7521dffb7c.html"  target="element">
				  				<area shape="rect" coords="1340,1106,1580,1216" href="../elements/id-597c94a7cfcb4820ac022a1ac559eb23.html"  target="element">

				  		<area shape="rect" coords="1028,1058,2206,1252" href="../elements/id-03cfa4b431fb4d4da038b7dc1f20b1fa.html"  target="element">
				  				<area shape="rect" coords="1076,860,1316,970" href="../elements/id-e60c781e06614f0da774bc4e2bcd51ab.html"  target="element">
				  				<area shape="rect" coords="1412,860,1652,970" href="../elements/id-ec07c1fb520a415e8ca48142cadf9907.html"  target="element">

				  		<area shape="rect" coords="1028,812,1750,1006" href="../elements/id-3b0401c0278140ed8e31735d098279ce.html"  target="element">
				  				<area shape="rect" coords="572,644,812,754" href="../elements/id-e55236e1eb35404eb3f7f3ea07d554ab.html"  target="element">
				  				<area shape="rect" coords="44,308,284,418" href="../elements/id-92b329779c8d4157af3c70cccfe5878e.html"  target="element">
				  				<area shape="rect" coords="572,260,812,370" href="../elements/id-d260987e7e0c49d68c79f2559db88893.html"  target="element">
				  				<area shape="rect" coords="572,452,812,562" href="../elements/id-65e36a49c78c4a46847d90ec6a932d8b.html"  target="element">
				  				<area shape="rect" coords="572,1052,812,1162" href="../elements/id-c4307562abe74314a88c36b25251b43a.html"  target="element">
				  				<area shape="rect" coords="572,860,812,970" href="../elements/id-d0e9bffaedb0409c87813629ebb336e3.html"  target="element">
				  				<area shape="rect" coords="572,68,812,178" href="../elements/id-d565ff904a20422282ee041c7396719a.html"  target="element">
				  				<area shape="rect" coords="310,188,550,298" href="../elements/id-c02fc0631c5b4b209be2f72e37eea97e.html"  target="element">
				  				<area shape="rect" coords="310,308,550,418" href="../elements/id-4d5ffd2830594791a65da97b8ed1f3c0.html"  target="element">
				  				<area shape="rect" coords="310,68,550,178" href="../elements/id-e947072595804140b4cf6ba6130f19aa.html"  target="element">
				  				<area shape="rect" coords="44,68,284,178" href="../elements/id-47c1d65c052a46aea364e4746ec27b31.html"  target="element">
				  				<area shape="rect" coords="44,188,284,298" href="../elements/id-3534c9c1526c4ab49f676ad2cfe6b909.html"  target="element">

				  		<area shape="rect" coords="20,20,862,1208" href="../elements/id-ac3bf545212849879fcc10d2c2a0d1cc.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-ac3bf545212849879fcc10d2c2a0d1cc.html" target="element"> Altinn Formidling </a> </td>
											    <td> <a href="../elements/id-ac3bf545212849879fcc10d2c2a0d1cc.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3534c9c1526c4ab49f676ad2cfe6b909.html" target="element"> Avsenderkonto </a> </td>
													    <td> <a href="../elements/id-3534c9c1526c4ab49f676ad2cfe6b909.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-47c1d65c052a46aea364e4746ec27b31.html" target="element"> Digital post </a> </td>
													    <td> <a href="../elements/id-47c1d65c052a46aea364e4746ec27b31.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e947072595804140b4cf6ba6130f19aa.html" target="element"> Brukerst&#248;tte </a> </td>
													    <td> <a href="../elements/id-e947072595804140b4cf6ba6130f19aa.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4d5ffd2830594791a65da97b8ed1f3c0.html" target="element"> Betaling </a> </td>
													    <td> <a href="../elements/id-4d5ffd2830594791a65da97b8ed1f3c0.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c02fc0631c5b4b209be2f72e37eea97e.html" target="element"> Statistikk </a> </td>
													    <td> <a href="../elements/id-c02fc0631c5b4b209be2f72e37eea97e.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d565ff904a20422282ee041c7396719a.html" target="element"> Onboarding avsender </a> </td>
													    <td> <a href="../elements/id-d565ff904a20422282ee041c7396719a.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d0e9bffaedb0409c87813629ebb336e3.html" target="element"> Ta imot post </a> </td>
													    <td> <a href="../elements/id-d0e9bffaedb0409c87813629ebb336e3.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c4307562abe74314a88c36b25251b43a.html" target="element"> Formidle post </a> </td>
													    <td> <a href="../elements/id-c4307562abe74314a88c36b25251b43a.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-65e36a49c78c4a46847d90ec6a932d8b.html" target="element"> Gi tilgang til formidlingsstjeneste </a> </td>
													    <td> <a href="../elements/id-65e36a49c78c4a46847d90ec6a932d8b.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d260987e7e0c49d68c79f2559db88893.html" target="element"> Registrere formidlingstjeneste </a> </td>
													    <td> <a href="../elements/id-d260987e7e0c49d68c79f2559db88893.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-92b329779c8d4157af3c70cccfe5878e.html" target="element"> Formidlingstjeneste </a> </td>
													    <td> <a href="../elements/id-92b329779c8d4157af3c70cccfe5878e.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e55236e1eb35404eb3f7f3ea07d554ab.html" target="element"> Delegere tilgang til formidlingstjeneste </a> </td>
													    <td> <a href="../elements/id-e55236e1eb35404eb3f7f3ea07d554ab.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-3b0401c0278140ed8e31735d098279ce.html" target="element"> Ta imot post </a> </td>
											    <td> <a href="../elements/id-3b0401c0278140ed8e31735d098279ce.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ec07c1fb520a415e8ca48142cadf9907.html" target="element"> Tilgjengeliggj&#248;ring </a> </td>
													    <td> <a href="../elements/id-ec07c1fb520a415e8ca48142cadf9907.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e60c781e06614f0da774bc4e2bcd51ab.html" target="element"> Mottatt post </a> </td>
													    <td> <a href="../elements/id-e60c781e06614f0da774bc4e2bcd51ab.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-03cfa4b431fb4d4da038b7dc1f20b1fa.html" target="element"> Formidle post </a> </td>
											    <td> <a href="../elements/id-03cfa4b431fb4d4da038b7dc1f20b1fa.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-597c94a7cfcb4820ac022a1ac559eb23.html" target="element"> Tilgangskontroll </a> </td>
													    <td> <a href="../elements/id-597c94a7cfcb4820ac022a1ac559eb23.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f413f00ff28148deba994f7521dffb7c.html" target="element"> Formidle post </a> </td>
													    <td> <a href="../elements/id-f413f00ff28148deba994f7521dffb7c.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-591a6d512b0d4d0aa1543f81e5e0c8b7.html" target="element"> Foresp&#248;rsel om post </a> </td>
													    <td> <a href="../elements/id-591a6d512b0d4d0aa1543f81e5e0c8b7.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-3b7e0a4e4ab7464896a5668551d627ec.html" target="element"> Onboarding avsender </a> </td>
											    <td> <a href="../elements/id-3b7e0a4e4ab7464896a5668551d627ec.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-24166e7423f84f54b3fd1db1f2c03cc8.html" target="element"> Opprette konto </a> </td>
													    <td> <a href="../elements/id-24166e7423f84f54b3fd1db1f2c03cc8.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-af7d003e4b3d421789ba840b381e1164.html" target="element"> Formidle tilgang </a> </td>
													    <td> <a href="../elements/id-af7d003e4b3d421789ba840b381e1164.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e70cc35c001f4d3da8e17ed115245131.html" target="element"> Aktivere konto </a> </td>
													    <td> <a href="../elements/id-e70cc35c001f4d3da8e17ed115245131.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2f8132d549514a21b7a15a547b5d7ec7.html" target="element"> Mottatt signert kontrakt </a> </td>
													    <td> <a href="../elements/id-2f8132d549514a21b7a15a547b5d7ec7.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-835441cd5cb8496fb09929c2207847ea.html" target="element"> Registrere formidlingstjeneste </a> </td>
											    <td> <a href="../elements/id-835441cd5cb8496fb09929c2207847ea.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f0570807edf84a5cbfe3a7d8d1bb5f49.html" target="element"> Gi tilgang til formidlingstjeneste </a> </td>
											    <td> <a href="../elements/id-f0570807edf84a5cbfe3a7d8d1bb5f49.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0a04dafdbc024eafb11a63b6a3b9800d.html" target="element"> Delegere tilgang til formidlingstjeneste </a> </td>
											    <td> <a href="../elements/id-0a04dafdbc024eafb11a63b6a3b9800d.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-621a20d837604e4f94506b663f5d1b51.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-621a20d837604e4f94506b663f5d1b51.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac3bf545212849879fcc10d2c2a0d1cc.html" target="element"> Altinn Formidling </a> </td>
																		<td> <a href="../elements/id-3534c9c1526c4ab49f676ad2cfe6b909.html" target="element"> Avsenderkonto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b2c982f7170b43c79fa0947ad526b21f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b2c982f7170b43c79fa0947ad526b21f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac3bf545212849879fcc10d2c2a0d1cc.html" target="element"> Altinn Formidling </a> </td>
																		<td> <a href="../elements/id-e55236e1eb35404eb3f7f3ea07d554ab.html" target="element"> Delegere tilgang til formidlingstjeneste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2ec371d39bd249358caad9a3196244b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2ec371d39bd249358caad9a3196244b1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac3bf545212849879fcc10d2c2a0d1cc.html" target="element"> Altinn Formidling </a> </td>
																		<td> <a href="../elements/id-65e36a49c78c4a46847d90ec6a932d8b.html" target="element"> Gi tilgang til formidlingsstjeneste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1e9f860052ef4db6b456385a5f8f1bc4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1e9f860052ef4db6b456385a5f8f1bc4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac3bf545212849879fcc10d2c2a0d1cc.html" target="element"> Altinn Formidling </a> </td>
																		<td> <a href="../elements/id-e947072595804140b4cf6ba6130f19aa.html" target="element"> Brukerst&#248;tte </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-97d4a2b4f10646a3a176d32b6da0fec4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-97d4a2b4f10646a3a176d32b6da0fec4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac3bf545212849879fcc10d2c2a0d1cc.html" target="element"> Altinn Formidling </a> </td>
																		<td> <a href="../elements/id-47c1d65c052a46aea364e4746ec27b31.html" target="element"> Digital post </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6960bfd6837a4b46af5fc45a0808f6ab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6960bfd6837a4b46af5fc45a0808f6ab.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac3bf545212849879fcc10d2c2a0d1cc.html" target="element"> Altinn Formidling </a> </td>
																		<td> <a href="../elements/id-4d5ffd2830594791a65da97b8ed1f3c0.html" target="element"> Betaling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-884399d1082741e29c11accfe6188b1a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-884399d1082741e29c11accfe6188b1a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac3bf545212849879fcc10d2c2a0d1cc.html" target="element"> Altinn Formidling </a> </td>
																		<td> <a href="../elements/id-d0e9bffaedb0409c87813629ebb336e3.html" target="element"> Ta imot post </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9ca955f94cde456a9231fe3e79a891b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9ca955f94cde456a9231fe3e79a891b1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac3bf545212849879fcc10d2c2a0d1cc.html" target="element"> Altinn Formidling </a> </td>
																		<td> <a href="../elements/id-92b329779c8d4157af3c70cccfe5878e.html" target="element"> Formidlingstjeneste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-19ef19aea6e74478aa0f34500bef887c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-19ef19aea6e74478aa0f34500bef887c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac3bf545212849879fcc10d2c2a0d1cc.html" target="element"> Altinn Formidling </a> </td>
																		<td> <a href="../elements/id-d565ff904a20422282ee041c7396719a.html" target="element"> Onboarding avsender </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8242494158824d38a0781666abfb512e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8242494158824d38a0781666abfb512e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac3bf545212849879fcc10d2c2a0d1cc.html" target="element"> Altinn Formidling </a> </td>
																		<td> <a href="../elements/id-c02fc0631c5b4b209be2f72e37eea97e.html" target="element"> Statistikk </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9dfcea52746846829f340745e1d75e67.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9dfcea52746846829f340745e1d75e67.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac3bf545212849879fcc10d2c2a0d1cc.html" target="element"> Altinn Formidling </a> </td>
																		<td> <a href="../elements/id-c4307562abe74314a88c36b25251b43a.html" target="element"> Formidle post </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bc2268e189aa4e1680d612ed8460c46f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bc2268e189aa4e1680d612ed8460c46f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac3bf545212849879fcc10d2c2a0d1cc.html" target="element"> Altinn Formidling </a> </td>
																		<td> <a href="../elements/id-d260987e7e0c49d68c79f2559db88893.html" target="element"> Registrere formidlingstjeneste </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b3350f083065475b9649b7b8d9968d39.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b3350f083065475b9649b7b8d9968d39.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3b0401c0278140ed8e31735d098279ce.html" target="element"> Ta imot post </a> </td>
																		<td> <a href="../elements/id-ec07c1fb520a415e8ca48142cadf9907.html" target="element"> Tilgjengeliggj&#248;ring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0d79f5cb299940cb969654a3387c2b98.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0d79f5cb299940cb969654a3387c2b98.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3b0401c0278140ed8e31735d098279ce.html" target="element"> Ta imot post </a> </td>
																		<td> <a href="../elements/id-d0e9bffaedb0409c87813629ebb336e3.html" target="element"> Ta imot post </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-21653d9142634d60a1c42ffa5a010b29.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-21653d9142634d60a1c42ffa5a010b29.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e60c781e06614f0da774bc4e2bcd51ab.html" target="element"> Mottatt post </a> </td>
																				<td> <a href="../elements/id-ec07c1fb520a415e8ca48142cadf9907.html" target="element"> Tilgjengeliggj&#248;ring </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-fbece5ed74a3443ca9c790f53d0aaf2f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fbece5ed74a3443ca9c790f53d0aaf2f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03cfa4b431fb4d4da038b7dc1f20b1fa.html" target="element"> Formidle post </a> </td>
																		<td> <a href="../elements/id-c4307562abe74314a88c36b25251b43a.html" target="element"> Formidle post </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-64cb17c077b44f99b264eac4b2ac5e69.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-64cb17c077b44f99b264eac4b2ac5e69.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03cfa4b431fb4d4da038b7dc1f20b1fa.html" target="element"> Formidle post </a> </td>
																		<td> <a href="../elements/id-597c94a7cfcb4820ac022a1ac559eb23.html" target="element"> Tilgangskontroll </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f19d3dcd12894b739075ed60fa76a263.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f19d3dcd12894b739075ed60fa76a263.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03cfa4b431fb4d4da038b7dc1f20b1fa.html" target="element"> Formidle post </a> </td>
																		<td> <a href="../elements/id-f413f00ff28148deba994f7521dffb7c.html" target="element"> Formidle post </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-ad87a42837ea4aeeb7719eedbfc229b5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ad87a42837ea4aeeb7719eedbfc229b5.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-597c94a7cfcb4820ac022a1ac559eb23.html" target="element"> Tilgangskontroll </a> </td>
																				<td> <a href="../elements/id-f413f00ff28148deba994f7521dffb7c.html" target="element"> Formidle post </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-89bfbb8f7f1c4bb594e7ea1e58a3f448.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-89bfbb8f7f1c4bb594e7ea1e58a3f448.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-591a6d512b0d4d0aa1543f81e5e0c8b7.html" target="element"> Foresp&#248;rsel om post </a> </td>
																				<td> <a href="../elements/id-597c94a7cfcb4820ac022a1ac559eb23.html" target="element"> Tilgangskontroll </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-6ef53d3866bf4ada93a327e1ae9bb7d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ef53d3866bf4ada93a327e1ae9bb7d2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3b7e0a4e4ab7464896a5668551d627ec.html" target="element"> Onboarding avsender </a> </td>
																		<td> <a href="../elements/id-24166e7423f84f54b3fd1db1f2c03cc8.html" target="element"> Opprette konto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6240c844206b4621b2d44e944b0d5f8d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6240c844206b4621b2d44e944b0d5f8d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3b7e0a4e4ab7464896a5668551d627ec.html" target="element"> Onboarding avsender </a> </td>
																		<td> <a href="../elements/id-af7d003e4b3d421789ba840b381e1164.html" target="element"> Formidle tilgang </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bb0c3a40be064a978727627729266fa5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bb0c3a40be064a978727627729266fa5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3b7e0a4e4ab7464896a5668551d627ec.html" target="element"> Onboarding avsender </a> </td>
																		<td> <a href="../elements/id-d565ff904a20422282ee041c7396719a.html" target="element"> Onboarding avsender </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bdc2051a88ca45beb4ebd389757b2d05.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bdc2051a88ca45beb4ebd389757b2d05.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3b7e0a4e4ab7464896a5668551d627ec.html" target="element"> Onboarding avsender </a> </td>
																		<td> <a href="../elements/id-e70cc35c001f4d3da8e17ed115245131.html" target="element"> Aktivere konto </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-2b826782018f4090970201da3e8ab36d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2b826782018f4090970201da3e8ab36d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-24166e7423f84f54b3fd1db1f2c03cc8.html" target="element"> Opprette konto </a> </td>
																				<td> <a href="../elements/id-e70cc35c001f4d3da8e17ed115245131.html" target="element"> Aktivere konto </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-3cf7a4db1e244b1c888a7cb5881236a3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3cf7a4db1e244b1c888a7cb5881236a3.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e70cc35c001f4d3da8e17ed115245131.html" target="element"> Aktivere konto </a> </td>
																				<td> <a href="../elements/id-af7d003e4b3d421789ba840b381e1164.html" target="element"> Formidle tilgang </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-de10e34b8ee04114a74efae77ba807d1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-de10e34b8ee04114a74efae77ba807d1.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2f8132d549514a21b7a15a547b5d7ec7.html" target="element"> Mottatt signert kontrakt </a> </td>
																				<td> <a href="../elements/id-24166e7423f84f54b3fd1db1f2c03cc8.html" target="element"> Opprette konto </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-a850163e9afe4db6bcfb958264a27fe0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a850163e9afe4db6bcfb958264a27fe0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-835441cd5cb8496fb09929c2207847ea.html" target="element"> Registrere formidlingstjeneste </a> </td>
																		<td> <a href="../elements/id-d260987e7e0c49d68c79f2559db88893.html" target="element"> Registrere formidlingstjeneste </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-536ec7a02c6e484092e7eee93e797553.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-536ec7a02c6e484092e7eee93e797553.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f0570807edf84a5cbfe3a7d8d1bb5f49.html" target="element"> Gi tilgang til formidlingstjeneste </a> </td>
																		<td> <a href="../elements/id-65e36a49c78c4a46847d90ec6a932d8b.html" target="element"> Gi tilgang til formidlingsstjeneste </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-88031ea15dc94e03beaf450edb7a810d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-88031ea15dc94e03beaf450edb7a810d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a04dafdbc024eafb11a63b6a3b9800d.html" target="element"> Delegere tilgang til formidlingstjeneste </a> </td>
																		<td> <a href="../elements/id-e55236e1eb35404eb3f7f3ea07d554ab.html" target="element"> Delegere tilgang til formidlingstjeneste </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>