<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Samhandlingsmønstre og meldingstyper</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Samhandlingsm&#248;nstre og meldingstyper</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e134fdc2984146499393babd5cab6090.png" alt="Samhandlingsmønstre og meldingstyper" usemap="#id-e134fdc2984146499393babd5cab6090map"/>
			   <map name="id-e134fdc2984146499393babd5cab6090map">
				  		<area shape="rect" coords="2012,20,2298,162" href="../elements/id-3c005b2e94bf4e2c8cf4ae3cc26dadc5.html"  target="element">
				  		<area shape="rect" coords="1268,20,1554,162" href="../elements/id-8363d415e9064d6dbeb7a8cc9a748841.html"  target="element">
				  		<area shape="rect" coords="1268,188,1554,330" href="../elements/id-be3d361893b44baf9507574e1f5e938f.html"  target="element">
				  		<area shape="rect" coords="1628,404,1914,546" href="../elements/id-acf8a2cfbe77436cb08e20a1cf4d73d1.html"  target="element">
				  		<area shape="rect" coords="1628,188,1914,330" href="../elements/id-48849750f90c4ecdbcedd39bd429168c.html"  target="element">
				  		<area shape="rect" coords="1628,1100,1914,1242" href="../elements/id-4ec270710f5a4b909177da0793f00752.html"  target="element">
				  		<area shape="rect" coords="2012,932,2298,1074" href="../elements/id-f036c855032c4a7db4380c50f67ee2da.html"  target="element">
				  		<area shape="rect" coords="2012,1100,2298,1242" href="../elements/id-1c426c76753147ab9d4e5862ae5e8498.html"  target="element">
				  		<area shape="rect" coords="1268,580,1554,722" href="../elements/id-b58dc847738d45f08d13afdd241a1d71.html"  target="element">
				  		<area shape="rect" coords="1628,580,1914,722" href="../elements/id-c4ecf40623a44c80ac750848e7a173f0.html"  target="element">
				  		<area shape="rect" coords="2012,188,2298,330" href="../elements/id-d88ae1f2f4804bbfb993ce6ac412d68c.html"  target="element">
				  		<area shape="rect" coords="2012,404,2298,546" href="../elements/id-0a14a9cde3754e6e8e1c7c44424874de.html"  target="element">
				  		<area shape="rect" coords="20,560,306,702" href="../elements/id-90108ea5940445fc8e6785b8c7fb4f8b.html"  target="element">
				  		<area shape="rect" coords="836,932,1122,1074" href="../elements/id-98d0900475784cc4a206cfe353b55267.html"  target="element">
				  		<area shape="rect" coords="1268,404,1554,546" href="../elements/id-770ac3a83ade4555846c190ccd1e9311.html"  target="element">
				  		<area shape="rect" coords="2012,752,2298,894" href="../elements/id-e00bab12d5c4460fabd9bf51fbfd1a23.html"  target="element">
				  		<area shape="rect" coords="1628,20,1914,162" href="../elements/id-1e9a284d2c7d425d953448c73d5019f2.html"  target="element">
				  		<area shape="rect" coords="416,560,702,702" href="../elements/id-c8f983697d08421d9590ffc186580ede.html"  target="element">
				  		<area shape="rect" coords="836,580,1122,722" href="../elements/id-187ad9357e07454ab92c86965d1b06c4.html"  target="element">
				  		<area shape="rect" coords="416,784,702,926" href="../elements/id-4dfcbad3259a4966b6c569addb2bea6b.html"  target="element">
				  		<area shape="rect" coords="836,80,1122,222" href="../elements/id-ff39ca0eb2c0447a9025e4d5cea372cb.html"  target="element">
				  		<area shape="rect" coords="1268,932,1554,1074" href="../elements/id-106e19cbf2044106800a933cb9ca759a.html"  target="element">
				  		<area shape="rect" coords="1268,752,1554,894" href="../elements/id-432951f6473e40d3856ccc479ad51e4e.html"  target="element">
				  		<area shape="rect" coords="416,344,702,486" href="../elements/id-af92a2eaef1a457da639551931d91afb.html"  target="element">
				  		<area shape="rect" coords="1628,840,1914,982" href="../elements/id-75fa26cd27164f16bd2ff03a296b4556.html"  target="element">
				  		<area shape="rect" coords="416,128,702,270" href="../elements/id-e60a8d2d9de24e4cb29045c01363eae7.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-e60a8d2d9de24e4cb29045c01363eae7.html" target="element"> Meldingsutveksling </a> </td>
											    <td> <a href="../elements/id-e60a8d2d9de24e4cb29045c01363eae7.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-75fa26cd27164f16bd2ff03a296b4556.html" target="element"> Sp&#248;rring og svar p&#229; sp&#248;rring </a> </td>
											    <td> <a href="../elements/id-75fa26cd27164f16bd2ff03a296b4556.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-af92a2eaef1a457da639551931d91afb.html" target="element"> Meldingsforsendelse </a> </td>
											    <td> <a href="../elements/id-af92a2eaef1a457da639551931d91afb.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-432951f6473e40d3856ccc479ad51e4e.html" target="element"> Foresp&#248;rsel </a> </td>
											    <td> <a href="../elements/id-432951f6473e40d3856ccc479ad51e4e.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-106e19cbf2044106800a933cb9ca759a.html" target="element"> Svar </a> </td>
											    <td> <a href="../elements/id-106e19cbf2044106800a933cb9ca759a.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ff39ca0eb2c0447a9025e4d5cea372cb.html" target="element"> Hendelsesmelding </a> </td>
											    <td> <a href="../elements/id-ff39ca0eb2c0447a9025e4d5cea372cb.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4dfcbad3259a4966b6c569addb2bea6b.html" target="element"> Meldingsinnhold </a> </td>
											    <td> <a href="../elements/id-4dfcbad3259a4966b6c569addb2bea6b.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-187ad9357e07454ab92c86965d1b06c4.html" target="element"> Kommandomelding </a> </td>
											    <td> <a href="../elements/id-187ad9357e07454ab92c86965d1b06c4.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c8f983697d08421d9590ffc186580ede.html" target="element"> Melding </a> </td>
											    <td> <a href="../elements/id-c8f983697d08421d9590ffc186580ede.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1e9a284d2c7d425d953448c73d5019f2.html" target="element"> Publisering av notifikasjoner om hendelser </a> </td>
											    <td> <a href="../elements/id-1e9a284d2c7d425d953448c73d5019f2.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e00bab12d5c4460fabd9bf51fbfd1a23.html" target="element"> Oppslag i datakilde </a> </td>
											    <td> <a href="../elements/id-e00bab12d5c4460fabd9bf51fbfd1a23.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-770ac3a83ade4555846c190ccd1e9311.html" target="element"> Forh&#229;ndsavtalt triggermelding </a> </td>
											    <td> <a href="../elements/id-770ac3a83ade4555846c190ccd1e9311.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-98d0900475784cc4a206cfe353b55267.html" target="element"> Dokumentmelding </a> </td>
											    <td> <a href="../elements/id-98d0900475784cc4a206cfe353b55267.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-90108ea5940445fc8e6785b8c7fb4f8b.html" target="element"> Meldingsrelaterte data </a> </td>
											    <td> <a href="../elements/id-90108ea5940445fc8e6785b8c7fb4f8b.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0a14a9cde3754e6e8e1c7c44424874de.html" target="element"> Forh&#229;ndsavtalt prosesskoreografi </a> </td>
											    <td> <a href="../elements/id-0a14a9cde3754e6e8e1c7c44424874de.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d88ae1f2f4804bbfb993ce6ac412d68c.html" target="element"> Dynamisk prosesskoreografi </a> </td>
											    <td> <a href="../elements/id-d88ae1f2f4804bbfb993ce6ac412d68c.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c4ecf40623a44c80ac750848e7a173f0.html" target="element"> Oppdatering av data i annen l&#248;sning </a> </td>
											    <td> <a href="../elements/id-c4ecf40623a44c80ac750848e7a173f0.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b58dc847738d45f08d13afdd241a1d71.html" target="element"> Endringsforesp&#248;rsel </a> </td>
											    <td> <a href="../elements/id-b58dc847738d45f08d13afdd241a1d71.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1c426c76753147ab9d4e5862ae5e8498.html" target="element"> Oversendelse av signert datadistribusjon (dokument) </a> </td>
											    <td> <a href="../elements/id-1c426c76753147ab9d4e5862ae5e8498.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f036c855032c4a7db4380c50f67ee2da.html" target="element"> S&#248;k </a> </td>
											    <td> <a href="../elements/id-f036c855032c4a7db4380c50f67ee2da.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4ec270710f5a4b909177da0793f00752.html" target="element"> Oversendelse av datadistribusjon (dokument) </a> </td>
											    <td> <a href="../elements/id-4ec270710f5a4b909177da0793f00752.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-48849750f90c4ecdbcedd39bd429168c.html" target="element"> Notifikasjon til kjente parter </a> </td>
											    <td> <a href="../elements/id-48849750f90c4ecdbcedd39bd429168c.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-acf8a2cfbe77436cb08e20a1cf4d73d1.html" target="element"> Trigge neste ledd i samme prosess </a> </td>
											    <td> <a href="../elements/id-acf8a2cfbe77436cb08e20a1cf4d73d1.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-be3d361893b44baf9507574e1f5e938f.html" target="element"> Notifikasjon om forretningshendelse </a> </td>
											    <td> <a href="../elements/id-be3d361893b44baf9507574e1f5e938f.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8363d415e9064d6dbeb7a8cc9a748841.html" target="element"> Notifikasjon om dataendring </a> </td>
											    <td> <a href="../elements/id-8363d415e9064d6dbeb7a8cc9a748841.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3c005b2e94bf4e2c8cf4ae3cc26dadc5.html" target="element"> Datareplikering </a> </td>
											    <td> <a href="../elements/id-3c005b2e94bf4e2c8cf4ae3cc26dadc5.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-5c6b07c9eb16459ead70dc8f4baf2d4f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c6b07c9eb16459ead70dc8f4baf2d4f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e60a8d2d9de24e4cb29045c01363eae7.html" target="element"> Meldingsutveksling </a> </td>
																		<td> <a href="../elements/id-af92a2eaef1a457da639551931d91afb.html" target="element"> Meldingsforsendelse </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c6694ede1d834ea59d366b02272f95a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c6694ede1d834ea59d366b02272f95a8.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75fa26cd27164f16bd2ff03a296b4556.html" target="element"> Sp&#248;rring og svar p&#229; sp&#248;rring </a> </td>
																		<td> <a href="../elements/id-106e19cbf2044106800a933cb9ca759a.html" target="element"> Svar </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1cff3e364c424ee18cb90866200619e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1cff3e364c424ee18cb90866200619e5.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75fa26cd27164f16bd2ff03a296b4556.html" target="element"> Sp&#248;rring og svar p&#229; sp&#248;rring </a> </td>
																		<td> <a href="../elements/id-432951f6473e40d3856ccc479ad51e4e.html" target="element"> Foresp&#248;rsel </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5208c9eb4f87469ead273a80dc5ff8d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5208c9eb4f87469ead273a80dc5ff8d2.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-af92a2eaef1a457da639551931d91afb.html" target="element"> Meldingsforsendelse </a> </td>
																		<td> <a href="../elements/id-c8f983697d08421d9590ffc186580ede.html" target="element"> Melding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ed4921f75358430aa6fb00830d752148.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ed4921f75358430aa6fb00830d752148.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-432951f6473e40d3856ccc479ad51e4e.html" target="element"> Foresp&#248;rsel </a> </td>
																		<td> <a href="../elements/id-187ad9357e07454ab92c86965d1b06c4.html" target="element"> Kommandomelding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d423d05935a44511881abc640975c555.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d423d05935a44511881abc640975c555.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-106e19cbf2044106800a933cb9ca759a.html" target="element"> Svar </a> </td>
																		<td> <a href="../elements/id-98d0900475784cc4a206cfe353b55267.html" target="element"> Dokumentmelding </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3e9d7acba1854673b9aa08f99e046eb2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3e9d7acba1854673b9aa08f99e046eb2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-106e19cbf2044106800a933cb9ca759a.html" target="element"> Svar </a> </td>
																		<td> <a href="../elements/id-432951f6473e40d3856ccc479ad51e4e.html" target="element"> Foresp&#248;rsel </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-473aebe9d0c44ee99dce359408e7bd1f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-473aebe9d0c44ee99dce359408e7bd1f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ff39ca0eb2c0447a9025e4d5cea372cb.html" target="element"> Hendelsesmelding </a> </td>
																		<td> <a href="../elements/id-c8f983697d08421d9590ffc186580ede.html" target="element"> Melding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4cde2f9a49f84f7cb1d094119c38f033.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4cde2f9a49f84f7cb1d094119c38f033.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4dfcbad3259a4966b6c569addb2bea6b.html" target="element"> Meldingsinnhold </a> </td>
																		<td> <a href="../elements/id-90108ea5940445fc8e6785b8c7fb4f8b.html" target="element"> Meldingsrelaterte data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-80ffe317ce2b4990aac0c599075cf18e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-80ffe317ce2b4990aac0c599075cf18e.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-187ad9357e07454ab92c86965d1b06c4.html" target="element"> Kommandomelding </a> </td>
																		<td> <a href="../elements/id-c8f983697d08421d9590ffc186580ede.html" target="element"> Melding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4b303891e80a4ea89e12602ac19cf985.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b303891e80a4ea89e12602ac19cf985.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c8f983697d08421d9590ffc186580ede.html" target="element"> Melding </a> </td>
																		<td> <a href="../elements/id-4dfcbad3259a4966b6c569addb2bea6b.html" target="element"> Meldingsinnhold </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-66b6eadcb06048c7b36257b4f15be2f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-66b6eadcb06048c7b36257b4f15be2f5.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1e9a284d2c7d425d953448c73d5019f2.html" target="element"> Publisering av notifikasjoner om hendelser </a> </td>
																		<td> <a href="../elements/id-be3d361893b44baf9507574e1f5e938f.html" target="element"> Notifikasjon om forretningshendelse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7eece6b474e54eb4b7c064e2c16fd1b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7eece6b474e54eb4b7c064e2c16fd1b4.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1e9a284d2c7d425d953448c73d5019f2.html" target="element"> Publisering av notifikasjoner om hendelser </a> </td>
																		<td> <a href="../elements/id-d88ae1f2f4804bbfb993ce6ac412d68c.html" target="element"> Dynamisk prosesskoreografi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-395cfbae1ddf4823b32733bfa76c86d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-395cfbae1ddf4823b32733bfa76c86d5.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1e9a284d2c7d425d953448c73d5019f2.html" target="element"> Publisering av notifikasjoner om hendelser </a> </td>
																		<td> <a href="../elements/id-3c005b2e94bf4e2c8cf4ae3cc26dadc5.html" target="element"> Datareplikering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bd26a751991a443584376749f2ae034c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd26a751991a443584376749f2ae034c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1e9a284d2c7d425d953448c73d5019f2.html" target="element"> Publisering av notifikasjoner om hendelser </a> </td>
																		<td> <a href="../elements/id-8363d415e9064d6dbeb7a8cc9a748841.html" target="element"> Notifikasjon om dataendring </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d2ea6d522ec44ea2a7ae28f0b8e201e9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d2ea6d522ec44ea2a7ae28f0b8e201e9.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e00bab12d5c4460fabd9bf51fbfd1a23.html" target="element"> Oppslag i datakilde </a> </td>
																		<td> <a href="../elements/id-75fa26cd27164f16bd2ff03a296b4556.html" target="element"> Sp&#248;rring og svar p&#229; sp&#248;rring </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8e23aed5a4df415b85cf875de4798c2b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8e23aed5a4df415b85cf875de4798c2b.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-770ac3a83ade4555846c190ccd1e9311.html" target="element"> Forh&#229;ndsavtalt triggermelding </a> </td>
																		<td> <a href="../elements/id-187ad9357e07454ab92c86965d1b06c4.html" target="element"> Kommandomelding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4dc806598074494dbe25233ed97eb33a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4dc806598074494dbe25233ed97eb33a.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98d0900475784cc4a206cfe353b55267.html" target="element"> Dokumentmelding </a> </td>
																		<td> <a href="../elements/id-c8f983697d08421d9590ffc186580ede.html" target="element"> Melding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ee9a28aeda9d4e7ebe24cdc3a8fa87d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ee9a28aeda9d4e7ebe24cdc3a8fa87d6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-90108ea5940445fc8e6785b8c7fb4f8b.html" target="element"> Meldingsrelaterte data </a> </td>
																		<td> <a href="../elements/id-c8f983697d08421d9590ffc186580ede.html" target="element"> Melding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6accddcc06c249bf82e8eb2dd5e51d26.html" target="element"> kan inneholde </a> </td>
																		<td> <a href="../elements/id-6accddcc06c249bf82e8eb2dd5e51d26.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d88ae1f2f4804bbfb993ce6ac412d68c.html" target="element"> Dynamisk prosesskoreografi </a> </td>
																		<td> <a href="../elements/id-0a14a9cde3754e6e8e1c7c44424874de.html" target="element"> Forh&#229;ndsavtalt prosesskoreografi </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7c2e0630682a43808290340e94e3736f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7c2e0630682a43808290340e94e3736f.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c4ecf40623a44c80ac750848e7a173f0.html" target="element"> Oppdatering av data i annen l&#248;sning </a> </td>
																		<td> <a href="../elements/id-b58dc847738d45f08d13afdd241a1d71.html" target="element"> Endringsforesp&#248;rsel </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3b46d7c95749472aa5d04f2bc06c89a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3b46d7c95749472aa5d04f2bc06c89a0.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b58dc847738d45f08d13afdd241a1d71.html" target="element"> Endringsforesp&#248;rsel </a> </td>
																		<td> <a href="../elements/id-187ad9357e07454ab92c86965d1b06c4.html" target="element"> Kommandomelding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-600f72cb4add4edcabb06ec44466011a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-600f72cb4add4edcabb06ec44466011a.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c426c76753147ab9d4e5862ae5e8498.html" target="element"> Oversendelse av signert datadistribusjon (dokument) </a> </td>
																		<td> <a href="../elements/id-4ec270710f5a4b909177da0793f00752.html" target="element"> Oversendelse av datadistribusjon (dokument) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4b28f62992fa4c988f5f86178445d012.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b28f62992fa4c988f5f86178445d012.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f036c855032c4a7db4380c50f67ee2da.html" target="element"> S&#248;k </a> </td>
																		<td> <a href="../elements/id-75fa26cd27164f16bd2ff03a296b4556.html" target="element"> Sp&#248;rring og svar p&#229; sp&#248;rring </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bef12f3da1c64f3089d53c12fe9aa5f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bef12f3da1c64f3089d53c12fe9aa5f5.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4ec270710f5a4b909177da0793f00752.html" target="element"> Oversendelse av datadistribusjon (dokument) </a> </td>
																		<td> <a href="../elements/id-98d0900475784cc4a206cfe353b55267.html" target="element"> Dokumentmelding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-363cf17c33af4c7d808210567ad12e61.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-363cf17c33af4c7d808210567ad12e61.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-48849750f90c4ecdbcedd39bd429168c.html" target="element"> Notifikasjon til kjente parter </a> </td>
																		<td> <a href="../elements/id-3c005b2e94bf4e2c8cf4ae3cc26dadc5.html" target="element"> Datareplikering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4fe9960e7735436bad2da005def14836.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4fe9960e7735436bad2da005def14836.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-48849750f90c4ecdbcedd39bd429168c.html" target="element"> Notifikasjon til kjente parter </a> </td>
																		<td> <a href="../elements/id-8363d415e9064d6dbeb7a8cc9a748841.html" target="element"> Notifikasjon om dataendring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b729a283211e4fbdac619e9446e64022.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b729a283211e4fbdac619e9446e64022.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-48849750f90c4ecdbcedd39bd429168c.html" target="element"> Notifikasjon til kjente parter </a> </td>
																		<td> <a href="../elements/id-be3d361893b44baf9507574e1f5e938f.html" target="element"> Notifikasjon om forretningshendelse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-82fa7acf4f16455d92a62f437f87a0f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-82fa7acf4f16455d92a62f437f87a0f5.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-48849750f90c4ecdbcedd39bd429168c.html" target="element"> Notifikasjon til kjente parter </a> </td>
																		<td> <a href="../elements/id-d88ae1f2f4804bbfb993ce6ac412d68c.html" target="element"> Dynamisk prosesskoreografi </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4145a8d7e3d743dcbe617d67a9e8fc5b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4145a8d7e3d743dcbe617d67a9e8fc5b.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-acf8a2cfbe77436cb08e20a1cf4d73d1.html" target="element"> Trigge neste ledd i samme prosess </a> </td>
																		<td> <a href="../elements/id-770ac3a83ade4555846c190ccd1e9311.html" target="element"> Forh&#229;ndsavtalt triggermelding </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1f587e92b2a9473e988a328efb9ccd03.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1f587e92b2a9473e988a328efb9ccd03.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-acf8a2cfbe77436cb08e20a1cf4d73d1.html" target="element"> Trigge neste ledd i samme prosess </a> </td>
																		<td> <a href="../elements/id-0a14a9cde3754e6e8e1c7c44424874de.html" target="element"> Forh&#229;ndsavtalt prosesskoreografi </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b25c5e8c770a4bfb835cb51b067a0670.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b25c5e8c770a4bfb835cb51b067a0670.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-be3d361893b44baf9507574e1f5e938f.html" target="element"> Notifikasjon om forretningshendelse </a> </td>
																		<td> <a href="../elements/id-ff39ca0eb2c0447a9025e4d5cea372cb.html" target="element"> Hendelsesmelding </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-639577af815a469881695dca2e3c8685.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-639577af815a469881695dca2e3c8685.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8363d415e9064d6dbeb7a8cc9a748841.html" target="element"> Notifikasjon om dataendring </a> </td>
																		<td> <a href="../elements/id-ff39ca0eb2c0447a9025e4d5cea372cb.html" target="element"> Hendelsesmelding </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>