<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Veiledere som er relevante for Deling av data</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Veiledere som er relevante for Deling av data</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f3e5a088a320446baafef585b99b8829.png" alt="Veiledere som er relevante for Deling av data" usemap="#id-f3e5a088a320446baafef585b99b8829map"/>
			   <map name="id-f3e5a088a320446baafef585b99b8829map">
				  				<area shape="rect" coords="1018,292,1292,434" href="../elements/cee86c11-6846-44a8-b9c5-9c5d8a17fc32.html"  target="element">
				  				<area shape="rect" coords="706,292,980,434" href="../elements/f1799d77-891a-4001-ba20-46cea5229eae.html"  target="element">
				  				<area shape="rect" coords="402,292,668,434" href="../elements/id-ac350d04b4fa4a60b702bfc7d93474b8.html"  target="element">
				  				<area shape="rect" coords="402,100,668,242" href="../elements/id-00da9fef63394d0db163700b70589054.html"  target="element">
				  				<area shape="rect" coords="1022,100,1288,242" href="../elements/id-b931aaf529f244399a42ecd824e82de7.html"  target="element">
				  				<area shape="rect" coords="710,100,976,242" href="../elements/id-6878c7b8198047d3aec352067963d209.html"  target="element">

				  		<area shape="rect" coords="350,20,1366,482" href="../elements/id-c1b68718f4594cea8ec362daa5936ed7.html"  target="element">
				  		<area shape="rect" coords="20,68,286,210" href="../elements/id-782b313039504a008a16e4f95ae5317d.html"  target="element">
				  		<area shape="rect" coords="20,548,286,690" href="../elements/id-7a2c44d9ab0648f0b6a5d753b4a58aa1.html"  target="element">
				  		<area shape="rect" coords="716,548,982,690" href="../elements/id-16b25ee9d40c4433958153c540980506.html"  target="element">
				  		<area shape="rect" coords="1052,548,1318,690" href="../elements/id-55cf3d4cd3d347d9b3cbe0d707e0e4aa.html"  target="element">
				  		<area shape="rect" coords="350,548,616,690" href="../elements/id-17e35957075c4d5c9b69fb09d0712aee.html"  target="element">
				  		<area shape="rect" coords="20,292,286,434" href="../elements/id-92040e391ef04d3089f68ab3a2e18460.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-92040e391ef04d3089f68ab3a2e18460.html" target="element"> Nasjonalt ressurssenter for deling av data </a> </td>
											    <td> <a href="../elements/id-92040e391ef04d3089f68ab3a2e18460.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-17e35957075c4d5c9b69fb09d0712aee.html" target="element"> Veileder for innebygd personvern (Datatilsynet) </a> </td>
											    <td> <a href="../elements/id-17e35957075c4d5c9b69fb09d0712aee.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-55cf3d4cd3d347d9b3cbe0d707e0e4aa.html" target="element"> Grunnprinsipper for IKT-sikkerhet (NSM) </a> </td>
											    <td> <a href="../elements/id-55cf3d4cd3d347d9b3cbe0d707e0e4aa.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-16b25ee9d40c4433958153c540980506.html" target="element"> NSM </a> </td>
											    <td> <a href="../elements/id-16b25ee9d40c4433958153c540980506.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7a2c44d9ab0648f0b6a5d753b4a58aa1.html" target="element"> Datatilsynet </a> </td>
											    <td> <a href="../elements/id-7a2c44d9ab0648f0b6a5d753b4a58aa1.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-782b313039504a008a16e4f95ae5317d.html" target="element"> Digdir </a> </td>
											    <td> <a href="../elements/id-782b313039504a008a16e4f95ae5317d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c1b68718f4594cea8ec362daa5936ed7.html" target="element"> Digdirs ressurser for deling av data </a> </td>
											    <td> <a href="../elements/id-c1b68718f4594cea8ec362daa5936ed7.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6878c7b8198047d3aec352067963d209.html" target="element"> Referansearkitektur for datautveksling </a> </td>
													    <td> <a href="../elements/id-6878c7b8198047d3aec352067963d209.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b931aaf529f244399a42ecd824e82de7.html" target="element"> Referansearkitektur IAM </a> </td>
													    <td> <a href="../elements/id-b931aaf529f244399a42ecd824e82de7.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-00da9fef63394d0db163700b70589054.html" target="element"> Felles referansemodeller for deling av data </a> </td>
													    <td> <a href="../elements/id-00da9fef63394d0db163700b70589054.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ac350d04b4fa4a60b702bfc7d93474b8.html" target="element"> Roller og ansvar ved deling av taushetsbelagte opplysninger i offentlig sektor </a> </td>
													    <td> <a href="../elements/id-ac350d04b4fa4a60b702bfc7d93474b8.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f1799d77-891a-4001-ba20-46cea5229eae.html" target="element"> Internkontroll i praksis &#8211; informasjonssikkerhet (Digdir) </a> </td>
													    <td> <a href="../elements/f1799d77-891a-4001-ba20-46cea5229eae.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/cee86c11-6846-44a8-b9c5-9c5d8a17fc32.html" target="element"> Rammeverk for informasjonsforvaltning (Digdir) </a> </td>
													    <td> <a href="../elements/cee86c11-6846-44a8-b9c5-9c5d8a17fc32.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-676591d1fbf84cdc965ccde78a515baa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-676591d1fbf84cdc965ccde78a515baa.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-92040e391ef04d3089f68ab3a2e18460.html" target="element"> Nasjonalt ressurssenter for deling av data </a> </td>
																		<td> <a href="../elements/id-ac350d04b4fa4a60b702bfc7d93474b8.html" target="element"> Roller og ansvar ved deling av taushetsbelagte opplysninger i offentlig sektor </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d342bd9d7b844236b334580d9a4a0d9b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d342bd9d7b844236b334580d9a4a0d9b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-16b25ee9d40c4433958153c540980506.html" target="element"> NSM </a> </td>
																		<td> <a href="../elements/id-55cf3d4cd3d347d9b3cbe0d707e0e4aa.html" target="element"> Grunnprinsipper for IKT-sikkerhet (NSM) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-26d6790dc212464e9bfe7320eda6a3c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-26d6790dc212464e9bfe7320eda6a3c8.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7a2c44d9ab0648f0b6a5d753b4a58aa1.html" target="element"> Datatilsynet </a> </td>
																		<td> <a href="../elements/id-17e35957075c4d5c9b69fb09d0712aee.html" target="element"> Veileder for innebygd personvern (Datatilsynet) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d7cf877205144349b0eb38638db68a6c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d7cf877205144349b0eb38638db68a6c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-782b313039504a008a16e4f95ae5317d.html" target="element"> Digdir </a> </td>
																		<td> <a href="../elements/id-c1b68718f4594cea8ec362daa5936ed7.html" target="element"> Digdirs ressurser for deling av data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4607a66b0a854726ad77647746067c8e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4607a66b0a854726ad77647746067c8e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-782b313039504a008a16e4f95ae5317d.html" target="element"> Digdir </a> </td>
																		<td> <a href="../elements/id-92040e391ef04d3089f68ab3a2e18460.html" target="element"> Nasjonalt ressurssenter for deling av data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b32837c0aa99442fadc49ce07e48f907.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b32837c0aa99442fadc49ce07e48f907.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c1b68718f4594cea8ec362daa5936ed7.html" target="element"> Digdirs ressurser for deling av data </a> </td>
																		<td> <a href="../elements/id-00da9fef63394d0db163700b70589054.html" target="element"> Felles referansemodeller for deling av data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c75854e6dee340b5a3aa8930f50c00a9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c75854e6dee340b5a3aa8930f50c00a9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c1b68718f4594cea8ec362daa5936ed7.html" target="element"> Digdirs ressurser for deling av data </a> </td>
																		<td> <a href="../elements/f1799d77-891a-4001-ba20-46cea5229eae.html" target="element"> Internkontroll i praksis &#8211; informasjonssikkerhet (Digdir) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7aa87ad9b7e648dd98c267c03bf70876.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7aa87ad9b7e648dd98c267c03bf70876.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c1b68718f4594cea8ec362daa5936ed7.html" target="element"> Digdirs ressurser for deling av data </a> </td>
																		<td> <a href="../elements/id-6878c7b8198047d3aec352067963d209.html" target="element"> Referansearkitektur for datautveksling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-41064ded6d994f8ba9c136e1a2f4d088.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-41064ded6d994f8ba9c136e1a2f4d088.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c1b68718f4594cea8ec362daa5936ed7.html" target="element"> Digdirs ressurser for deling av data </a> </td>
																		<td> <a href="../elements/id-ac350d04b4fa4a60b702bfc7d93474b8.html" target="element"> Roller og ansvar ved deling av taushetsbelagte opplysninger i offentlig sektor </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8cec022a7de34174a76beed4ff7fc9ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8cec022a7de34174a76beed4ff7fc9ba.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c1b68718f4594cea8ec362daa5936ed7.html" target="element"> Digdirs ressurser for deling av data </a> </td>
																		<td> <a href="../elements/id-b931aaf529f244399a42ecd824e82de7.html" target="element"> Referansearkitektur IAM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b4e0bb40329b4b6f8cf69fc507411228.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b4e0bb40329b4b6f8cf69fc507411228.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c1b68718f4594cea8ec362daa5936ed7.html" target="element"> Digdirs ressurser for deling av data </a> </td>
																		<td> <a href="../elements/cee86c11-6846-44a8-b9c5-9c5d8a17fc32.html" target="element"> Rammeverk for informasjonsforvaltning (Digdir) </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>