<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>book-meldingsutveksling</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>book-meldingsutveksling</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f14b3a943dce41b78df3dfd27bc3d161.png" alt="book-meldingsutveksling" usemap="#id-f14b3a943dce41b78df3dfd27bc3d161map"/>
			   <map name="id-f14b3a943dce41b78df3dfd27bc3d161map">
				  								<area shape="rect" coords="116,426,152,462" href="../views/id-5f539b90fb4040a1ba3996009545e3c9.html"  target="view">
				  						    <!-- Other diagram objects -->

				  						<area shape="rect" coords="116,320,382,462" href="../elements/id-bd2dc28666f349e38fe116645872aa56.html"  target="element">
				  								<area shape="rect" coords="416,426,452,462" href="../views/id-cddcecd25eac4487bce4cdffcc8c0c27.html"  target="view">
				  						    <!-- Other diagram objects -->

				  						<area shape="rect" coords="416,320,682,462" href="../elements/id-9543b42dada1404ba0f9e027012660ef.html"  target="element">
				  						<area shape="rect" coords="728,320,994,462" href="../elements/id-ac3a700775784e969b6f3135becc7d48.html"  target="element">

				  				<area shape="rect" coords="80,260,1486,490" href="../elements/id-f677704be8f74ee0b56cfcbe0a2f7034.html"  target="element">
				  						<area shape="rect" coords="416,1388,682,1530" href="../elements/id-ea03177bd87a462c8685081c55c42a9d.html"  target="element">
				  						<area shape="rect" coords="116,1388,382,1530" href="../elements/id-6fbd2f2192ec4664b30501365caafc7f.html"  target="element">

				  				<area shape="rect" coords="80,1328,1486,1558" href="../elements/id-084414cad1a34a7db3fb71cb32aefd61.html"  target="element">
				  						<area shape="rect" coords="716,1124,982,1266" href="../elements/id-27fe86fe58ae4eed9cacdccc6ce05191.html"  target="element">
				  						<area shape="rect" coords="416,1124,682,1266" href="../elements/id-8958bc7de26b4b47bd9fcfab96690ab7.html"  target="element">
				  						<area shape="rect" coords="116,1124,382,1266" href="../elements/id-741dbd9e73484dd692e78af6d471da09.html"  target="element">

				  				<area shape="rect" coords="80,1064,1486,1294" href="../elements/id-3e362210ce274e71b414d00d17a60f32.html"  target="element">
				  						<area shape="rect" coords="716,1652,982,1794" href="../elements/id-6d18e17c470a4c069db0c2f828aa6c58.html"  target="element">
				  						<area shape="rect" coords="416,1652,682,1794" href="../elements/id-5e2c1e7a0f6f4638a455f3e880e59178.html"  target="element">
				  						<area shape="rect" coords="116,1652,382,1794" href="../elements/id-05132ae80d764fab8edd12eda7abfe40.html"  target="element">

				  				<area shape="rect" coords="80,1592,1486,1822" href="../elements/id-f86e7c66ca3a46fe9cb026a8293bc470.html"  target="element">
				  						<area shape="rect" coords="728,596,994,738" href="../elements/id-912337c040b94ff08e7cc84333b2ea1a.html"  target="element">
				  						<area shape="rect" coords="416,596,682,738" href="../elements/id-f1e9afa7f4874bf99649827008436d6b.html"  target="element">
				  						<area shape="rect" coords="116,596,382,738" href="../elements/id-e349a61f53144f3c9e8e30e335830881.html"  target="element">

				  				<area shape="rect" coords="80,536,1486,766" href="../elements/id-3b9d0c7b0324443fb50c66c6bc0939d8.html"  target="element">
				  						<area shape="rect" coords="116,860,382,1002" href="../elements/id-f01fe5072723446785be95bb8cac6397.html"  target="element">
				  						<area shape="rect" coords="1028,860,1294,1002" href="../elements/id-72abf23ebe30469db1fcb63697ceae0a.html"  target="element">
				  						<area shape="rect" coords="428,860,694,1002" href="../elements/id-b6194af31d3b4a5a8768289b67d5aedd.html"  target="element">
				  						<area shape="rect" coords="728,860,994,1002" href="../elements/id-671984d812e54558aa56fdd3ce65b2ae.html"  target="element">

				  				<area shape="rect" coords="80,800,1486,1030" href="../elements/id-d695956e6ae1491b902bb481f45a9f5b.html"  target="element">
				  				<area shape="rect" coords="80,92,346,234" href="../elements/id-1a43b98fc668424683c532ce4ad6a865.html"  target="element">

				  		<area shape="rect" coords="20,20,1714,1882" href="../elements/id-9a5b105f992b406fb5c0c110728bd19d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Se ogs&#229;: https://solutions-no.github.io/models/</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-9a5b105f992b406fb5c0c110728bd19d.html" target="element"> Meldingsutveksling </a> </td>
											    <td> <a href="../elements/id-9a5b105f992b406fb5c0c110728bd19d.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1a43b98fc668424683c532ce4ad6a865.html" target="element"> Introduksjon </a> </td>
													    <td> <a href="../elements/id-1a43b98fc668424683c532ce4ad6a865.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d695956e6ae1491b902bb481f45a9f5b.html" target="element"> Felles arkitektur </a> </td>
													    <td> <a href="../elements/id-d695956e6ae1491b902bb481f45a9f5b.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-671984d812e54558aa56fdd3ce65b2ae.html" target="element"> Applikasjonstjenester </a> </td>
															    <td> <a href="../elements/id-671984d812e54558aa56fdd3ce65b2ae.html" target="element" class="i18n-elementtype-Representation">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-b6194af31d3b4a5a8768289b67d5aedd.html" target="element"> Forretningstjenester </a> </td>
															    <td> <a href="../elements/id-b6194af31d3b4a5a8768289b67d5aedd.html" target="element" class="i18n-elementtype-Representation">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-72abf23ebe30469db1fcb63697ceae0a.html" target="element"> Osv. </a> </td>
															    <td> <a href="../elements/id-72abf23ebe30469db1fcb63697ceae0a.html" target="element" class="i18n-elementtype-Representation">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-f01fe5072723446785be95bb8cac6397.html" target="element"> Kapabiliteter </a> </td>
															    <td> <a href="../elements/id-f01fe5072723446785be95bb8cac6397.html" target="element" class="i18n-elementtype-Representation">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-3b9d0c7b0324443fb50c66c6bc0939d8.html" target="element"> Brukerbehov </a> </td>
													    <td> <a href="../elements/id-3b9d0c7b0324443fb50c66c6bc0939d8.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-e349a61f53144f3c9e8e30e335830881.html" target="element"> Epics og user stories </a> </td>
															    <td> <a href="../elements/id-e349a61f53144f3c9e8e30e335830881.html" target="element" class="i18n-elementtype-Representation">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-f1e9afa7f4874bf99649827008436d6b.html" target="element"> Ikke-funksjonelle krav </a> </td>
															    <td> <a href="../elements/id-f1e9afa7f4874bf99649827008436d6b.html" target="element" class="i18n-elementtype-Representation">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-912337c040b94ff08e7cc84333b2ea1a.html" target="element"> Osv. </a> </td>
															    <td> <a href="../elements/id-912337c040b94ff08e7cc84333b2ea1a.html" target="element" class="i18n-elementtype-Representation">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-f86e7c66ca3a46fe9cb026a8293bc470.html" target="element"> Vedlegg </a> </td>
													    <td> <a href="../elements/id-f86e7c66ca3a46fe9cb026a8293bc470.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-05132ae80d764fab8edd12eda7abfe40.html" target="element"> Ideinnspill </a> </td>
															    <td> <a href="../elements/id-05132ae80d764fab8edd12eda7abfe40.html" target="element" class="i18n-elementtype-Representation">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-5e2c1e7a0f6f4638a455f3e880e59178.html" target="element"> Kladd </a> </td>
															    <td> <a href="../elements/id-5e2c1e7a0f6f4638a455f3e880e59178.html" target="element" class="i18n-elementtype-Representation">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-6d18e17c470a4c069db0c2f828aa6c58.html" target="element"> Osv. </a> </td>
															    <td> <a href="../elements/id-6d18e17c470a4c069db0c2f828aa6c58.html" target="element" class="i18n-elementtype-Representation">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-3e362210ce274e71b414d00d17a60f32.html" target="element"> L&#248;sninger to-be </a> </td>
													    <td> <a href="../elements/id-3e362210ce274e71b414d00d17a60f32.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-741dbd9e73484dd692e78af6d471da09.html" target="element"> Altinn Broker to-be </a> </td>
															    <td> <a href="../elements/id-741dbd9e73484dd692e78af6d471da09.html" target="element" class="i18n-elementtype-Representation">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-8958bc7de26b4b47bd9fcfab96690ab7.html" target="element"> Altinn Correspondance to-be </a> </td>
															    <td> <a href="../elements/id-8958bc7de26b4b47bd9fcfab96690ab7.html" target="element" class="i18n-elementtype-Representation">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-27fe86fe58ae4eed9cacdccc6ce05191.html" target="element"> Osv. </a> </td>
															    <td> <a href="../elements/id-27fe86fe58ae4eed9cacdccc6ce05191.html" target="element" class="i18n-elementtype-Representation">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-084414cad1a34a7db3fb71cb32aefd61.html" target="element"> Veikart </a> </td>
													    <td> <a href="../elements/id-084414cad1a34a7db3fb71cb32aefd61.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-6fbd2f2192ec4664b30501365caafc7f.html" target="element"> Overordnet veikart </a> </td>
															    <td> <a href="../elements/id-6fbd2f2192ec4664b30501365caafc7f.html" target="element" class="i18n-elementtype-Representation">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-ea03177bd87a462c8685081c55c42a9d.html" target="element"> Osv. </a> </td>
															    <td> <a href="../elements/id-ea03177bd87a462c8685081c55c42a9d.html" target="element" class="i18n-elementtype-Representation">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-f677704be8f74ee0b56cfcbe0a2f7034.html" target="element"> L&#248;sninger as-is </a> </td>
													    <td> <a href="../elements/id-f677704be8f74ee0b56cfcbe0a2f7034.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-ac3a700775784e969b6f3135becc7d48.html" target="element"> Osv. </a> </td>
															    <td> <a href="../elements/id-ac3a700775784e969b6f3135becc7d48.html" target="element" class="i18n-elementtype-Representation">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-9543b42dada1404ba0f9e027012660ef.html" target="element"> Altinn Correspondance As-Is </a> </td>
															    <td> <a href="../elements/id-9543b42dada1404ba0f9e027012660ef.html" target="element" class="i18n-elementtype-Representation">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../views/id-cddcecd25eac4487bce4cdffcc8c0c27.html" target="view"> Altinn Correspondance As-Is </a> </td>
																	    <td> <a href="../views/id-cddcecd25eac4487bce4cdffcc8c0c27.html" target="view" class="i18n-viewpoint-"> </a> </td>
																	</tr>
															    <!-- Other graphical objects -->

															
															<tr>
															    <td> <a href="../elements/id-bd2dc28666f349e38fe116645872aa56.html" target="element"> Altinn Broker As-Is </a> </td>
															    <td> <a href="../elements/id-bd2dc28666f349e38fe116645872aa56.html" target="element" class="i18n-elementtype-Representation">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../views/id-5f539b90fb4040a1ba3996009545e3c9.html" target="view"> Altinn Broker As-Is </a> </td>
																	    <td> <a href="../views/id-5f539b90fb4040a1ba3996009545e3c9.html" target="view" class="i18n-viewpoint-"> </a> </td>
																	</tr>
															    <!-- Other graphical objects -->

															
													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-481a3cba5c844a96a9fa8548917e2396.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-481a3cba5c844a96a9fa8548917e2396.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9a5b105f992b406fb5c0c110728bd19d.html" target="element"> Meldingsutveksling </a> </td>
																		<td> <a href="../elements/id-1a43b98fc668424683c532ce4ad6a865.html" target="element"> Introduksjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8468274c11314ef49c876014470513b5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8468274c11314ef49c876014470513b5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9a5b105f992b406fb5c0c110728bd19d.html" target="element"> Meldingsutveksling </a> </td>
																		<td> <a href="../elements/id-d695956e6ae1491b902bb481f45a9f5b.html" target="element"> Felles arkitektur </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-648683f3b5b64987baf4732e2f847f3c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-648683f3b5b64987baf4732e2f847f3c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9a5b105f992b406fb5c0c110728bd19d.html" target="element"> Meldingsutveksling </a> </td>
																		<td> <a href="../elements/id-f677704be8f74ee0b56cfcbe0a2f7034.html" target="element"> L&#248;sninger as-is </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-87d09aa158914648b18848384870bafb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-87d09aa158914648b18848384870bafb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9a5b105f992b406fb5c0c110728bd19d.html" target="element"> Meldingsutveksling </a> </td>
																		<td> <a href="../elements/id-3b9d0c7b0324443fb50c66c6bc0939d8.html" target="element"> Brukerbehov </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9f0402e574174075aa1c95aa3fc6ffe7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9f0402e574174075aa1c95aa3fc6ffe7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9a5b105f992b406fb5c0c110728bd19d.html" target="element"> Meldingsutveksling </a> </td>
																		<td> <a href="../elements/id-f86e7c66ca3a46fe9cb026a8293bc470.html" target="element"> Vedlegg </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a0383dca181c4102a0d6e42662661624.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a0383dca181c4102a0d6e42662661624.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9a5b105f992b406fb5c0c110728bd19d.html" target="element"> Meldingsutveksling </a> </td>
																		<td> <a href="../elements/id-3e362210ce274e71b414d00d17a60f32.html" target="element"> L&#248;sninger to-be </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6a1d50c77f5c4313a5175f62bbba8994.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a1d50c77f5c4313a5175f62bbba8994.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9a5b105f992b406fb5c0c110728bd19d.html" target="element"> Meldingsutveksling </a> </td>
																		<td> <a href="../elements/id-084414cad1a34a7db3fb71cb32aefd61.html" target="element"> Veikart </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-943e3c49bb134879ad78cf3ea102526a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-943e3c49bb134879ad78cf3ea102526a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1a43b98fc668424683c532ce4ad6a865.html" target="element"> Introduksjon </a> </td>
																				<td> <a href="../elements/id-f677704be8f74ee0b56cfcbe0a2f7034.html" target="element"> L&#248;sninger as-is </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-01a1f0a611154f55a627970349f3c06e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-01a1f0a611154f55a627970349f3c06e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d695956e6ae1491b902bb481f45a9f5b.html" target="element"> Felles arkitektur </a> </td>
																				<td> <a href="../elements/id-671984d812e54558aa56fdd3ce65b2ae.html" target="element"> Applikasjonstjenester </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c93fdf44aa41447ba8e78cebc75f417e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c93fdf44aa41447ba8e78cebc75f417e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d695956e6ae1491b902bb481f45a9f5b.html" target="element"> Felles arkitektur </a> </td>
																				<td> <a href="../elements/id-b6194af31d3b4a5a8768289b67d5aedd.html" target="element"> Forretningstjenester </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e080e249548b4b6591253bb6f29261dc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e080e249548b4b6591253bb6f29261dc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d695956e6ae1491b902bb481f45a9f5b.html" target="element"> Felles arkitektur </a> </td>
																				<td> <a href="../elements/id-72abf23ebe30469db1fcb63697ceae0a.html" target="element"> Osv. </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d4987c7f600048b78b4b721aa8b396f6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d4987c7f600048b78b4b721aa8b396f6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d695956e6ae1491b902bb481f45a9f5b.html" target="element"> Felles arkitektur </a> </td>
																				<td> <a href="../elements/id-3e362210ce274e71b414d00d17a60f32.html" target="element"> L&#248;sninger to-be </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-32ccafcf399d4cf6897f51aa9de8453f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-32ccafcf399d4cf6897f51aa9de8453f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d695956e6ae1491b902bb481f45a9f5b.html" target="element"> Felles arkitektur </a> </td>
																				<td> <a href="../elements/id-f01fe5072723446785be95bb8cac6397.html" target="element"> Kapabiliteter </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-71df5c6700ec4a41bfc8a00a2eaf0ed2.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-71df5c6700ec4a41bfc8a00a2eaf0ed2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-671984d812e54558aa56fdd3ce65b2ae.html" target="element"> Applikasjonstjenester </a> </td>
																						<td> <a href="../elements/id-72abf23ebe30469db1fcb63697ceae0a.html" target="element"> Osv. </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-a49a71b3d271466e996cf01415b4f6c5.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-a49a71b3d271466e996cf01415b4f6c5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-b6194af31d3b4a5a8768289b67d5aedd.html" target="element"> Forretningstjenester </a> </td>
																						<td> <a href="../elements/id-671984d812e54558aa56fdd3ce65b2ae.html" target="element"> Applikasjonstjenester </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-36d94de6b083455e9b1c1115e463a163.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-36d94de6b083455e9b1c1115e463a163.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-f01fe5072723446785be95bb8cac6397.html" target="element"> Kapabiliteter </a> </td>
																						<td> <a href="../elements/id-b6194af31d3b4a5a8768289b67d5aedd.html" target="element"> Forretningstjenester </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/id-9010b7b8153d4a6daab1238fee286257.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9010b7b8153d4a6daab1238fee286257.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3b9d0c7b0324443fb50c66c6bc0939d8.html" target="element"> Brukerbehov </a> </td>
																				<td> <a href="../elements/id-e349a61f53144f3c9e8e30e335830881.html" target="element"> Epics og user stories </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3e47127933b44349bd897096efef1d98.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3e47127933b44349bd897096efef1d98.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3b9d0c7b0324443fb50c66c6bc0939d8.html" target="element"> Brukerbehov </a> </td>
																				<td> <a href="../elements/id-f1e9afa7f4874bf99649827008436d6b.html" target="element"> Ikke-funksjonelle krav </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3b6b1630b320472e83281f391c842de3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3b6b1630b320472e83281f391c842de3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3b9d0c7b0324443fb50c66c6bc0939d8.html" target="element"> Brukerbehov </a> </td>
																				<td> <a href="../elements/id-912337c040b94ff08e7cc84333b2ea1a.html" target="element"> Osv. </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cbe65bb05723436498da587c2a969f76.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cbe65bb05723436498da587c2a969f76.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3b9d0c7b0324443fb50c66c6bc0939d8.html" target="element"> Brukerbehov </a> </td>
																				<td> <a href="../elements/id-d695956e6ae1491b902bb481f45a9f5b.html" target="element"> Felles arkitektur </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-f8a045f3cc4943b98864bf7acb6643e9.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-f8a045f3cc4943b98864bf7acb6643e9.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-e349a61f53144f3c9e8e30e335830881.html" target="element"> Epics og user stories </a> </td>
																						<td> <a href="../elements/id-f1e9afa7f4874bf99649827008436d6b.html" target="element"> Ikke-funksjonelle krav </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-657e962d57f0436db4c3cb2a587c5357.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-657e962d57f0436db4c3cb2a587c5357.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-f1e9afa7f4874bf99649827008436d6b.html" target="element"> Ikke-funksjonelle krav </a> </td>
																						<td> <a href="../elements/id-912337c040b94ff08e7cc84333b2ea1a.html" target="element"> Osv. </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/id-7eace9f47d0a41dabf1962b5f1ea3961.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7eace9f47d0a41dabf1962b5f1ea3961.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f86e7c66ca3a46fe9cb026a8293bc470.html" target="element"> Vedlegg </a> </td>
																				<td> <a href="../elements/id-05132ae80d764fab8edd12eda7abfe40.html" target="element"> Ideinnspill </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c58e69dc385f46af98969c5c891eaa9f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c58e69dc385f46af98969c5c891eaa9f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f86e7c66ca3a46fe9cb026a8293bc470.html" target="element"> Vedlegg </a> </td>
																				<td> <a href="../elements/id-5e2c1e7a0f6f4638a455f3e880e59178.html" target="element"> Kladd </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4358d45adcc940f9905626c51d99a79d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4358d45adcc940f9905626c51d99a79d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f86e7c66ca3a46fe9cb026a8293bc470.html" target="element"> Vedlegg </a> </td>
																				<td> <a href="../elements/id-6d18e17c470a4c069db0c2f828aa6c58.html" target="element"> Osv. </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-19989bd41e1042958679de84b0b792ad.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-19989bd41e1042958679de84b0b792ad.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-05132ae80d764fab8edd12eda7abfe40.html" target="element"> Ideinnspill </a> </td>
																						<td> <a href="../elements/id-5e2c1e7a0f6f4638a455f3e880e59178.html" target="element"> Kladd </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-d834fa14e1d14e418cd9e41dfcd266dd.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-d834fa14e1d14e418cd9e41dfcd266dd.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-5e2c1e7a0f6f4638a455f3e880e59178.html" target="element"> Kladd </a> </td>
																						<td> <a href="../elements/id-6d18e17c470a4c069db0c2f828aa6c58.html" target="element"> Osv. </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/id-0a4bf11cab46431e9ea4fcc54842c391.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0a4bf11cab46431e9ea4fcc54842c391.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3e362210ce274e71b414d00d17a60f32.html" target="element"> L&#248;sninger to-be </a> </td>
																				<td> <a href="../elements/id-741dbd9e73484dd692e78af6d471da09.html" target="element"> Altinn Broker to-be </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2997336ed1084c4fa46a5b72f45d4586.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2997336ed1084c4fa46a5b72f45d4586.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3e362210ce274e71b414d00d17a60f32.html" target="element"> L&#248;sninger to-be </a> </td>
																				<td> <a href="../elements/id-8958bc7de26b4b47bd9fcfab96690ab7.html" target="element"> Altinn Correspondance to-be </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-504638cbf2ed4140b989801b5a18002b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-504638cbf2ed4140b989801b5a18002b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3e362210ce274e71b414d00d17a60f32.html" target="element"> L&#248;sninger to-be </a> </td>
																				<td> <a href="../elements/id-27fe86fe58ae4eed9cacdccc6ce05191.html" target="element"> Osv. </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1a5262fff68d46e1b1f70045695bf101.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1a5262fff68d46e1b1f70045695bf101.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3e362210ce274e71b414d00d17a60f32.html" target="element"> L&#248;sninger to-be </a> </td>
																				<td> <a href="../elements/id-084414cad1a34a7db3fb71cb32aefd61.html" target="element"> Veikart </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-118db6fbae144fe5bc7ec21dadf90402.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-118db6fbae144fe5bc7ec21dadf90402.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-741dbd9e73484dd692e78af6d471da09.html" target="element"> Altinn Broker to-be </a> </td>
																						<td> <a href="../elements/id-8958bc7de26b4b47bd9fcfab96690ab7.html" target="element"> Altinn Correspondance to-be </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-c5d7c9f11bfb4e1ea1daa0f25f4a25f4.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-c5d7c9f11bfb4e1ea1daa0f25f4a25f4.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-8958bc7de26b4b47bd9fcfab96690ab7.html" target="element"> Altinn Correspondance to-be </a> </td>
																						<td> <a href="../elements/id-27fe86fe58ae4eed9cacdccc6ce05191.html" target="element"> Osv. </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/id-db1c3c05fb8b401292e19a99e8e7c7c5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-db1c3c05fb8b401292e19a99e8e7c7c5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-084414cad1a34a7db3fb71cb32aefd61.html" target="element"> Veikart </a> </td>
																				<td> <a href="../elements/id-f86e7c66ca3a46fe9cb026a8293bc470.html" target="element"> Vedlegg </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f7ed552b1f4d4dcd814b0c2745f4a5f4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f7ed552b1f4d4dcd814b0c2745f4a5f4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-084414cad1a34a7db3fb71cb32aefd61.html" target="element"> Veikart </a> </td>
																				<td> <a href="../elements/id-6fbd2f2192ec4664b30501365caafc7f.html" target="element"> Overordnet veikart </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6513ba51eadd4dd29b055edebe02aebe.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6513ba51eadd4dd29b055edebe02aebe.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-084414cad1a34a7db3fb71cb32aefd61.html" target="element"> Veikart </a> </td>
																				<td> <a href="../elements/id-ea03177bd87a462c8685081c55c42a9d.html" target="element"> Osv. </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-40cec60ae9f644e19bac86fdb24bfe33.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-40cec60ae9f644e19bac86fdb24bfe33.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-6fbd2f2192ec4664b30501365caafc7f.html" target="element"> Overordnet veikart </a> </td>
																						<td> <a href="../elements/id-ea03177bd87a462c8685081c55c42a9d.html" target="element"> Osv. </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/id-96dedf9fe3c943debe1f4ae22c2a9940.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-96dedf9fe3c943debe1f4ae22c2a9940.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f677704be8f74ee0b56cfcbe0a2f7034.html" target="element"> L&#248;sninger as-is </a> </td>
																				<td> <a href="../elements/id-ac3a700775784e969b6f3135becc7d48.html" target="element"> Osv. </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6d1a8d41f6224ea49ce16c8f65fc1542.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6d1a8d41f6224ea49ce16c8f65fc1542.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f677704be8f74ee0b56cfcbe0a2f7034.html" target="element"> L&#248;sninger as-is </a> </td>
																				<td> <a href="../elements/id-3b9d0c7b0324443fb50c66c6bc0939d8.html" target="element"> Brukerbehov </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6120e14360584590b50a1ea51ebbc26f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6120e14360584590b50a1ea51ebbc26f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f677704be8f74ee0b56cfcbe0a2f7034.html" target="element"> L&#248;sninger as-is </a> </td>
																				<td> <a href="../elements/id-9543b42dada1404ba0f9e027012660ef.html" target="element"> Altinn Correspondance As-Is </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a77fa61ff1604aa38a0c5e74786a46f5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a77fa61ff1604aa38a0c5e74786a46f5.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f677704be8f74ee0b56cfcbe0a2f7034.html" target="element"> L&#248;sninger as-is </a> </td>
																				<td> <a href="../elements/id-bd2dc28666f349e38fe116645872aa56.html" target="element"> Altinn Broker As-Is </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-9c8036bebd034926b9e47a9a8dbf8c08.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-9c8036bebd034926b9e47a9a8dbf8c08.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-9543b42dada1404ba0f9e027012660ef.html" target="element"> Altinn Correspondance As-Is </a> </td>
																						<td> <a href="../elements/id-ac3a700775784e969b6f3135becc7d48.html" target="element"> Osv. </a> </td>
																					</tr>

																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
															
																					<tr>
																						<td> <a href="../elements/id-46746c262d62423786dfbacfc5bda8a6.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-46746c262d62423786dfbacfc5bda8a6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-bd2dc28666f349e38fe116645872aa56.html" target="element"> Altinn Broker As-Is </a> </td>
																						<td> <a href="../elements/id-9543b42dada1404ba0f9e027012660ef.html" target="element"> Altinn Correspondance As-Is </a> </td>
																					</tr>

																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
															
													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>