<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Samhandlingsmønstre</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Samhandlingsm&#248;nstre</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-CanvasModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-CanvasModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f10fd95d9d1644b9ac31d7ac3891b364.png" alt="Samhandlingsmønstre" usemap="#id-f10fd95d9d1644b9ac31d7ac3891b364map"/>
			   <map name="id-f10fd95d9d1644b9ac31d7ac3891b364map">
				          <area shape="rect" coords="460,850,510,906" href="../objects/id-7fe41fc84bba4adfafde6aa98edf979f.html" target="element" >
				          <area shape="rect" coords="460,474,510,530" href="../objects/id-fba05ec8253547d59315207f5856ee3c.html" target="element" >
				  		        <area shape="rect" coords="280,550,354,648" href="../objects/id-4b1db105f0414fb4bc3e15ae805b3f0f.html" target="element" >

				          <area shape="rect" coords="220,514,414,696" href="../objects/id-9831978489fa41d98e365759d29e01d6.html" target="element" >
				          <area shape="rect" coords="454,414,518,454" href="../objects/id-f4712ac8e6a94c55af02a2de27bea559.html" target="element" >
				          <area shape="rect" coords="460,654,510,710" href="../objects/id-e33855bfddb24f069a6818bca6fe5cd7.html" target="element" >
				  		        <area shape="rect" coords="640,742,714,840" href="../objects/id-dd775569762c4d6e91fb5babd6106f7c.html" target="element" >

				          <area shape="rect" coords="580,702,774,884" href="../objects/id-bc50e6321511480ea229f99d4f46a877.html" target="element" >
				          <area shape="rect" coords="454,600,518,640" href="../objects/id-18e5b6ffeaf44f75bbf7d07ee3c81247.html" target="element" >
				  		        <area shape="rect" coords="640,558,714,656" href="../objects/id-9738a874792f4476899bce3d490cae13.html" target="element" >

				          <area shape="rect" coords="580,528,774,710" href="../objects/id-222d5ed50b4f49cd91a3b2ac991f6562.html" target="element" >
				  		        <area shape="rect" coords="630,378,704,476" href="../objects/id-c9749c296bd947138bdbc332cebf6a62.html" target="element" >

				          <area shape="rect" coords="580,348,774,530" href="../objects/id-1d3c3c5000224c6987bf5501c6bc7574.html" target="element" >
				          <area shape="rect" coords="454,784,518,824" href="../objects/id-a670c7d4dd4e434c891be37ee9cd9ca1.html" target="element" >
				  				        <area shape="rect" coords="380,80,396,100" href="../objects/id-ac98b6390d1142afb4052ab8d54282bc.html" target="element" >
				  				        <area shape="rect" coords="250,80,266,100" href="../objects/id-acd5ca671f484186a36a29ade54a3f06.html" target="element" >

				  		        <area shape="rect" coords="30,70,402,122" href="../objects/id-85ad88472cf14c1e9c77a1cd4f68dc18.html" target="element" >
				  				        <area shape="rect" coords="380,50,400,70" href="../objects/id-06bdc60590354d7ba4fb1ea6923b96e4.html" target="element" >
				  				        <area shape="rect" coords="250,40,270,70" href="../objects/id-e2da3f30d0fd4e99be95a18e25e8d5f4.html" target="element" >

				  		        <area shape="rect" coords="30,30,402,82" href="../objects/id-54b81149c3a24f15a41df9e176ba234b.html" target="element" >

				          <area shape="rect" coords="20,20,412,122" href="../objects/id-fb896aa3878b4ed69646c0c5fe56edf0.html" target="element" >
				          <area shape="rect" coords="1338,554,1522,738" href="../objects/id-6554609b63884ef88df03aaa059ebf93.html" target="element" >
				          <area shape="rect" coords="3680,230,4000,438" href="../objects/id-406b20a312934ecf830fc35baf32f8d4.html" target="element" >
				          <area shape="rect" coords="3170,170,3512,296" href="../objects/id-8057d723dc0b49199581c03464065e75.html" target="element" >
				          <area shape="rect" coords="794,228,858,268" href="../objects/id-34c511076dfc4f15a8f7e98cc316cfe0.html" target="element" >
				          <area shape="rect" coords="1030,228,1094,268" href="../objects/id-0b673908e9c44e229c1bf195664ac7ed.html" target="element" >
				          <area shape="rect" coords="958,228,1022,268" href="../objects/id-2902db8fba7f4ffe999cc11db0b23b79.html" target="element" >
				          <area shape="rect" coords="882,228,946,268" href="../objects/id-b88fb90183bc4520950a12b004cfd7e7.html" target="element" >
				          <area shape="rect" coords="788,160,850,202" href="../objects/id-c8bc3257881d46378f46c3800defd24c.html" target="element" >
				          <area shape="rect" coords="952,160,1014,202" href="../objects/id-f646f526273c4d9a87fa0a3e383cefff.html" target="element" >
				          <area shape="rect" coords="882,160,944,202" href="../objects/id-67b52b02554b44d8a22640fe4e03c51d.html" target="element" >
				          <area shape="rect" coords="1030,160,1092,202" href="../objects/id-54e97cd146b94b89b113a786febb348a.html" target="element" >
				          <area shape="rect" coords="794,86,844,142" href="../objects/id-06aa6848bbcd41ca8406633595df6a8b.html" target="element" >
				  		        <area shape="rect" coords="8910,1334,8960,1390" href="../objects/id-18d4a280e9e14140ae85f8fefe7b4c33.html" target="element" >
				  		        <area shape="rect" coords="8910,1138,8960,1194" href="../objects/id-60c87192d0f1416db0549e06b0fcf844.html" target="element" >
				  				        <area shape="rect" coords="9070,1306,9144,1404" href="../objects/id-1662098a1a474a49ac73e251357ecde3.html" target="element" >

				  		        <area shape="rect" coords="9010,1270,9204,1452" href="../objects/id-ad3d38b2e1d0436897ac6e95c412524b.html" target="element" >
				  		        <area shape="rect" coords="8910,944,8960,1000" href="../objects/id-1fbb4db73a0c4ec6af08a02e1432b87d.html" target="element" >
				  				        <area shape="rect" coords="8730,1096,8804,1194" href="../objects/id-695c443eabe1407d82e3ccf7b3f379ae.html" target="element" >

				  		        <area shape="rect" coords="8670,1060,8864,1242" href="../objects/id-60c0f96fdd1d4a6a9b8a070cb0ab75ee.html" target="element" >
				  				        <area shape="rect" coords="9070,1110,9144,1208" href="../objects/id-aa1af441c0c04f9ebae19994132424c6.html" target="element" >

				  		        <area shape="rect" coords="9010,1074,9204,1256" href="../objects/id-9c09312d74d54fbe91e14c90c371dba2.html" target="element" >
				  				        <area shape="rect" coords="9060,1484,9122,1526" href="../objects/id-903c70eb131446b09b223f51269c71a0.html" target="element" >
				  				        <area shape="rect" coords="8780,1480,9142,1530" href="../objects/id-f3b84fb338dc452791e292cb83be58a2.html" target="element" >
				  				        <area shape="rect" coords="8730,1484,8768,1528" href="../objects/id-6d5408c93ef049fb8df27041bbad5e60.html" target="element" >

				  		        <area shape="rect" coords="8720,1474,9152,1536" href="../objects/id-a18a61ea7a2e4fc9a843e1a801161150.html" target="element" >
				  				        <area shape="rect" coords="9070,920,9144,1018" href="../objects/id-35236b00460b481791718d56df325c64.html" target="element" >

				  		        <area shape="rect" coords="9010,880,9204,1062" href="../objects/id-29fc50f0fe184e91aec409a697e53d0c.html" target="element" >

				          <area shape="rect" coords="8620,810,9244,1562" href="../objects/id-3b9e692762714de592ecf48f8a33d689.html" target="element" >
				          <area shape="rect" coords="958,82,1008,138" href="../objects/id-e51bf3ee49a54f75984b6afd5fef3ca0.html" target="element" >
				          <area shape="rect" coords="1036,86,1086,142" href="../objects/id-eea51717a09e4a249d505ce4b1052b3e.html" target="element" >
				          <area shape="rect" coords="888,86,938,142" href="../objects/id-4da58c9c30db499593c89fb74d21b0d6.html" target="element" >
				          <area shape="rect" coords="1394,212,1478,296" href="../objects/id-540f43f7f909404d80d32229237bda4e.html" target="element" >
				          <area shape="rect" coords="1246,158,1332,244" href="../objects/id-ae8f98961735471887dcb552898d7ad3.html" target="element" >
				          <area shape="rect" coords="1506,118,1602,214" href="../objects/id-6ee6f90514534c46bb0b81657c8a9d51.html" target="element" >
				          <area shape="rect" coords="1382,118,1478,214" href="../objects/id-9f7e311fb35e4ade88cf24ff346b9196.html" target="element" >
				  		        <area shape="rect" coords="8890,490,8940,546" href="../objects/id-1552944df6934d16ae04dd52d2f3df3f.html" target="element" >
				  				        <area shape="rect" coords="9060,682,9122,724" href="../objects/id-7ff7fb13b9d643038e1d2827e3a65c6b.html" target="element" >
				  				        <area shape="rect" coords="8780,678,9142,728" href="../objects/id-dc6ecf62a306492883280f9a41790dca.html" target="element" >
				  				        <area shape="rect" coords="8730,682,8768,726" href="../objects/id-20a83b15d7414351b5d61ace163e11be.html" target="element" >

				  		        <area shape="rect" coords="8720,672,9152,734" href="../objects/id-d7f1e8bf22764372b439d17d0e1b0050.html" target="element" >
				  				        <area shape="rect" coords="8716,462,8790,560" href="../objects/id-b5b20b31c9af463f8fe1f0cba8543078.html" target="element" >

				  		        <area shape="rect" coords="8656,426,8850,608" href="../objects/id-4c43a9b8c1914742a0201dc500cbf1d0.html" target="element" >
				  				        <area shape="rect" coords="9080,460,9154,558" href="../objects/id-4f5ea33ad653427fb4be456890cd5d6a.html" target="element" >

				  		        <area shape="rect" coords="9020,448,9214,630" href="../objects/id-72acca89b4084dae821e585f6b875543.html" target="element" >

				          <area shape="rect" coords="8620,378,9244,762" href="../objects/id-c65a300f98354a9d9772ddc00193f79a.html" target="element" >
				          <area shape="rect" coords="4800,520,4910,618" href="../objects/id-0ae706cfc7e741a8862e1b4edab531f8.html" target="element" >
				  		        <area shape="rect" coords="4848,1048,4958,1146" href="../objects/id-586b3a9c8f1a4470b6db378a7542b37f.html" target="element" >

				          <area shape="rect" coords="4800,1012,4994,1194" href="../objects/id-b7999eb6641a4e39846d2ca75f711fed.html" target="element" >
				  		        <area shape="rect" coords="4560,1060,4658,1146" href="../objects/id-2f4dcaacd80e444aaeb920c805e67500.html" target="element" >

				          <area shape="rect" coords="4512,1012,4706,1194" href="../objects/id-1e5b501a541640eab281c6fdc4ebad08.html" target="element" >
				  		        <area shape="rect" coords="4572,796,4646,894" href="../objects/id-b84c50fe4677477faa9080002e2b7c57.html" target="element" >

				          <area shape="rect" coords="4512,760,4706,942" href="../objects/id-95068404e6d54321a6bda0330ca6a332.html" target="element" >
				  		        <area shape="rect" coords="5200,530,5310,628" href="../objects/id-3c4c76c4353a4106ba87627edf0a7227.html" target="element" >

				          <area shape="rect" coords="5170,520,5372,702" href="../objects/id-d16369e97d824133be538b512231c94c.html" target="element" >
				  		        <area shape="rect" coords="5100,1048,5210,1146" href="../objects/id-1777fd8d71e1467aadf974ca254d980e.html" target="element" >

				          <area shape="rect" coords="5064,1012,5258,1194" href="../objects/id-ca6bcd79c9624ffabad31f9dc3833b4f.html" target="element" >
				          <area shape="rect" coords="4464,436,4666,618" href="../objects/id-211cf7cd30ef4b6bb0e616399da879cb.html" target="element" >
				  		        <area shape="rect" coords="5124,796,5198,894" href="../objects/id-c6d13ec2cd624a99bb14adf6bbc8a9ed.html" target="element" >

				          <area shape="rect" coords="5064,760,5258,942" href="../objects/id-6c8095e38dee4e41a33881740233b174.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-6c8095e38dee4e41a33881740233b174.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6c8095e38dee4e41a33881740233b174.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-c6d13ec2cd624a99bb14adf6bbc8a9ed.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-c6d13ec2cd624a99bb14adf6bbc8a9ed.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-211cf7cd30ef4b6bb0e616399da879cb.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-211cf7cd30ef4b6bb0e616399da879cb.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-ca6bcd79c9624ffabad31f9dc3833b4f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ca6bcd79c9624ffabad31f9dc3833b4f.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-1777fd8d71e1467aadf974ca254d980e.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-1777fd8d71e1467aadf974ca254d980e.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-d16369e97d824133be538b512231c94c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d16369e97d824133be538b512231c94c.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-3c4c76c4353a4106ba87627edf0a7227.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-3c4c76c4353a4106ba87627edf0a7227.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-95068404e6d54321a6bda0330ca6a332.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-95068404e6d54321a6bda0330ca6a332.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-b84c50fe4677477faa9080002e2b7c57.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-b84c50fe4677477faa9080002e2b7c57.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-1e5b501a541640eab281c6fdc4ebad08.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-1e5b501a541640eab281c6fdc4ebad08.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-2f4dcaacd80e444aaeb920c805e67500.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-2f4dcaacd80e444aaeb920c805e67500.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-b7999eb6641a4e39846d2ca75f711fed.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b7999eb6641a4e39846d2ca75f711fed.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-586b3a9c8f1a4470b6db378a7542b37f.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-586b3a9c8f1a4470b6db378a7542b37f.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-0ae706cfc7e741a8862e1b4edab531f8.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-0ae706cfc7e741a8862e1b4edab531f8.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-c65a300f98354a9d9772ddc00193f79a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c65a300f98354a9d9772ddc00193f79a.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-72acca89b4084dae821e585f6b875543.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-72acca89b4084dae821e585f6b875543.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-4f5ea33ad653427fb4be456890cd5d6a.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-4f5ea33ad653427fb4be456890cd5d6a.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-4c43a9b8c1914742a0201dc500cbf1d0.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-4c43a9b8c1914742a0201dc500cbf1d0.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-b5b20b31c9af463f8fe1f0cba8543078.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-b5b20b31c9af463f8fe1f0cba8543078.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-d7f1e8bf22764372b439d17d0e1b0050.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-d7f1e8bf22764372b439d17d0e1b0050.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-20a83b15d7414351b5d61ace163e11be.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-20a83b15d7414351b5d61ace163e11be.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-dc6ecf62a306492883280f9a41790dca.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-dc6ecf62a306492883280f9a41790dca.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-7ff7fb13b9d643038e1d2827e3a65c6b.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-7ff7fb13b9d643038e1d2827e3a65c6b.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-1552944df6934d16ae04dd52d2f3df3f.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-1552944df6934d16ae04dd52d2f3df3f.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-9f7e311fb35e4ade88cf24ff346b9196.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-9f7e311fb35e4ade88cf24ff346b9196.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-6ee6f90514534c46bb0b81657c8a9d51.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-6ee6f90514534c46bb0b81657c8a9d51.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-ae8f98961735471887dcb552898d7ad3.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-ae8f98961735471887dcb552898d7ad3.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-540f43f7f909404d80d32229237bda4e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-540f43f7f909404d80d32229237bda4e.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-4da58c9c30db499593c89fb74d21b0d6.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-4da58c9c30db499593c89fb74d21b0d6.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-eea51717a09e4a249d505ce4b1052b3e.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-eea51717a09e4a249d505ce4b1052b3e.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e51bf3ee49a54f75984b6afd5fef3ca0.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-e51bf3ee49a54f75984b6afd5fef3ca0.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-3b9e692762714de592ecf48f8a33d689.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3b9e692762714de592ecf48f8a33d689.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-29fc50f0fe184e91aec409a697e53d0c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-29fc50f0fe184e91aec409a697e53d0c.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-35236b00460b481791718d56df325c64.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-35236b00460b481791718d56df325c64.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-a18a61ea7a2e4fc9a843e1a801161150.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-a18a61ea7a2e4fc9a843e1a801161150.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-6d5408c93ef049fb8df27041bbad5e60.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-6d5408c93ef049fb8df27041bbad5e60.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-f3b84fb338dc452791e292cb83be58a2.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-f3b84fb338dc452791e292cb83be58a2.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-903c70eb131446b09b223f51269c71a0.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-903c70eb131446b09b223f51269c71a0.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-9c09312d74d54fbe91e14c90c371dba2.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-9c09312d74d54fbe91e14c90c371dba2.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-aa1af441c0c04f9ebae19994132424c6.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-aa1af441c0c04f9ebae19994132424c6.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-60c0f96fdd1d4a6a9b8a070cb0ab75ee.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-60c0f96fdd1d4a6a9b8a070cb0ab75ee.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-695c443eabe1407d82e3ccf7b3f379ae.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-695c443eabe1407d82e3ccf7b3f379ae.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-1fbb4db73a0c4ec6af08a02e1432b87d.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-1fbb4db73a0c4ec6af08a02e1432b87d.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-ad3d38b2e1d0436897ac6e95c412524b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ad3d38b2e1d0436897ac6e95c412524b.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-1662098a1a474a49ac73e251357ecde3.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-1662098a1a474a49ac73e251357ecde3.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-60c87192d0f1416db0549e06b0fcf844.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-60c87192d0f1416db0549e06b0fcf844.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-18d4a280e9e14140ae85f8fefe7b4c33.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-18d4a280e9e14140ae85f8fefe7b4c33.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-06aa6848bbcd41ca8406633595df6a8b.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-06aa6848bbcd41ca8406633595df6a8b.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-54e97cd146b94b89b113a786febb348a.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-54e97cd146b94b89b113a786febb348a.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-67b52b02554b44d8a22640fe4e03c51d.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-67b52b02554b44d8a22640fe4e03c51d.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f646f526273c4d9a87fa0a3e383cefff.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-f646f526273c4d9a87fa0a3e383cefff.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-c8bc3257881d46378f46c3800defd24c.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-c8bc3257881d46378f46c3800defd24c.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b88fb90183bc4520950a12b004cfd7e7.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-b88fb90183bc4520950a12b004cfd7e7.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-2902db8fba7f4ffe999cc11db0b23b79.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-2902db8fba7f4ffe999cc11db0b23b79.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-0b673908e9c44e229c1bf195664ac7ed.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-0b673908e9c44e229c1bf195664ac7ed.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-34c511076dfc4f15a8f7e98cc316cfe0.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-34c511076dfc4f15a8f7e98cc316cfe0.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-8057d723dc0b49199581c03464065e75.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-8057d723dc0b49199581c03464065e75.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-406b20a312934ecf830fc35baf32f8d4.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-406b20a312934ecf830fc35baf32f8d4.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-6554609b63884ef88df03aaa059ebf93.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-6554609b63884ef88df03aaa059ebf93.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-fb896aa3878b4ed69646c0c5fe56edf0.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fb896aa3878b4ed69646c0c5fe56edf0.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-54b81149c3a24f15a41df9e176ba234b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-54b81149c3a24f15a41df9e176ba234b.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-e2da3f30d0fd4e99be95a18e25e8d5f4.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-e2da3f30d0fd4e99be95a18e25e8d5f4.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-06bdc60590354d7ba4fb1ea6923b96e4.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-06bdc60590354d7ba4fb1ea6923b96e4.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-85ad88472cf14c1e9c77a1cd4f68dc18.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-85ad88472cf14c1e9c77a1cd4f68dc18.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-acd5ca671f484186a36a29ade54a3f06.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-acd5ca671f484186a36a29ade54a3f06.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-ac98b6390d1142afb4052ab8d54282bc.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-ac98b6390d1142afb4052ab8d54282bc.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
													        </tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-a670c7d4dd4e434c891be37ee9cd9ca1.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-a670c7d4dd4e434c891be37ee9cd9ca1.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-1d3c3c5000224c6987bf5501c6bc7574.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-1d3c3c5000224c6987bf5501c6bc7574.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-c9749c296bd947138bdbc332cebf6a62.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-c9749c296bd947138bdbc332cebf6a62.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-222d5ed50b4f49cd91a3b2ac991f6562.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-222d5ed50b4f49cd91a3b2ac991f6562.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-9738a874792f4476899bce3d490cae13.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-9738a874792f4476899bce3d490cae13.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-18e5b6ffeaf44f75bbf7d07ee3c81247.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-18e5b6ffeaf44f75bbf7d07ee3c81247.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-bc50e6321511480ea229f99d4f46a877.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-bc50e6321511480ea229f99d4f46a877.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-dd775569762c4d6e91fb5babd6106f7c.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-dd775569762c4d6e91fb5babd6106f7c.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-e33855bfddb24f069a6818bca6fe5cd7.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-e33855bfddb24f069a6818bca6fe5cd7.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f4712ac8e6a94c55af02a2de27bea559.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-f4712ac8e6a94c55af02a2de27bea559.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-9831978489fa41d98e365759d29e01d6.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-9831978489fa41d98e365759d29e01d6.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-4b1db105f0414fb4bc3e15ae805b3f0f.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-4b1db105f0414fb4bc3e15ae805b3f0f.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-fba05ec8253547d59315207f5856ee3c.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-fba05ec8253547d59315207f5856ee3c.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-7fe41fc84bba4adfafde6aa98edf979f.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-7fe41fc84bba4adfafde6aa98edf979f.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>