<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overordnet verdistrøm (RA saksbehandling)</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overordnet verdistr&#248;m (RA saksbehandling)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f32e7006b19945ac989c04e800276fe6.png" alt="Overordnet verdistrøm (RA saksbehandling)" usemap="#id-f32e7006b19945ac989c04e800276fe6map"/>
			   <map name="id-f32e7006b19945ac989c04e800276fe6map">
				  				<area shape="rect" coords="1402,80,1688,222" href="../elements/id-5c64a638c96a4e7eb4b86ecc5a9f08e5.html"  target="element">
				  				<area shape="rect" coords="742,80,1028,222" href="../elements/id-6acaa9e737894029936471318e1bf357.html"  target="element">
				  				<area shape="rect" coords="2062,90,2348,232" href="../elements/id-e245f7c1cdc84bc19af5ac889af1a12c.html"  target="element">
				  				<area shape="rect" coords="412,80,698,222" href="../elements/id-09b286e3c89645c998182990aefa3115.html"  target="element">
				  				<area shape="rect" coords="1072,90,1358,232" href="../elements/id-aef65204894449c2833a54413f9dc6fd.html"  target="element">
				  				<area shape="rect" coords="1742,90,2028,232" href="../elements/id-41867b5bff444c3e9f1ce682a8a56133.html"  target="element">
				  				<area shape="rect" coords="72,80,358,222" href="../elements/id-99f86b9d89e043598b484213f492ac25.html"  target="element">

				  		<area shape="rect" coords="22,20,2394,272" href="../elements/id-ba7f76902d0b47f5a1896ecb0ce832b6.html"  target="element">
				  				<area shape="rect" coords="1382,410,1656,552" href="../elements/id-ddf988e64df448aeb709cd4dc7cd8d84.html"  target="element">
				  				<area shape="rect" coords="1042,410,1328,552" href="../elements/id-a61280fc5edc4e9fa812fc33632b6513.html"  target="element">
				  				<area shape="rect" coords="722,410,996,552" href="../elements/id-1f90f76608694537b5e7dbd8f7806765.html"  target="element">
				  				<area shape="rect" coords="1702,410,1976,552" href="../elements/id-1bd60f27839f419abd1f5a678b4fd5f6.html"  target="element">
				  				<area shape="rect" coords="82,410,356,552" href="../elements/id-3dddfe9925104998abbd214704de546a.html"  target="element">
				  				<area shape="rect" coords="402,410,676,552" href="../elements/id-4da54fb91b754f7d93dc9dffec7f50b7.html"  target="element">
				  				<area shape="rect" coords="2032,410,2306,552" href="../elements/id-f2c881a30ffa4dda86595b69ffd3a43b.html"  target="element">

				  		<area shape="rect" coords="22,350,2394,602" href="../elements/id-3dbbb7b60d004346b9c734a0a749c715.html"  target="element">
				  				<area shape="rect" coords="1830,1074,2116,1216" href="../elements/id-0f69a1996bbb492d9a993ba4fdbce3a2.html"  target="element">
				  				<area shape="rect" coords="690,1074,976,1216" href="../elements/id-e77e25b066654567ae9ae29738e8a667.html"  target="element">
				  				<area shape="rect" coords="310,1074,596,1216" href="../elements/id-91e58a5905924baf88dc6f7c772193da.html"  target="element">
				  				<area shape="rect" coords="1080,1074,1366,1216" href="../elements/id-db15c018b5904d79924cdc399fbcea02.html"  target="element">
				  				<area shape="rect" coords="1460,1074,1746,1216" href="../elements/id-fcb7be7852bd434998a0be571c7982c2.html"  target="element">

				  		<area shape="rect" coords="20,1004,2396,1256" href="../elements/id-d05d7f037b034383be30c6a0c0b2f4ca.html"  target="element">
				  				<area shape="rect" coords="2350,908,2400,958" href="../views/id-2be3d53edcbc4e9ab78a475853fe24fc.html"  target="view">
				  		    <!-- Other diagram objects -->
				  						<area shape="rect" coords="1490,860,1540,910" href="../views/id-41fde00d5db647f992cd4b65b0f6231c.html"  target="view">
				  				    <!-- Other diagram objects -->

				  				<area shape="rect" coords="1250,740,1536,882" href="../elements/id-e8519f9754df4ef68a94b2036ca6d975.html"  target="element">
				  						<area shape="rect" coords="1126,860,1176,910" href="../views/id-13269d4090754e9883739a7dbb0dde55.html"  target="view">
				  				    <!-- Other diagram objects -->

				  				<area shape="rect" coords="886,740,1172,882" href="../elements/id-3586ad5d4f9048cd8a76a10fdc3bd4de.html"  target="element">

				  		<area shape="rect" coords="22,668,2394,942" href="../elements/id-ff1c3ad47f174c69bb14aeae3d35094a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-ff1c3ad47f174c69bb14aeae3d35094a.html" target="element"> Kapabiliteter (evner/funksjonalitet) </a> </td>
											    <td> <a href="../elements/id-ff1c3ad47f174c69bb14aeae3d35094a.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3586ad5d4f9048cd8a76a10fdc3bd4de.html" target="element"> Forvaltningsmessige evner </a> </td>
													    <td> <a href="../elements/id-3586ad5d4f9048cd8a76a10fdc3bd4de.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../views/id-13269d4090754e9883739a7dbb0dde55.html" target="view"> Forvaltningsmessige evner </a> </td>
															    <td> <a href="../views/id-13269d4090754e9883739a7dbb0dde55.html" target="view" class="i18n-viewpoint-"> </a> </td>
															</tr>
													    <!-- Other graphical objects -->

													
													<tr>
													    <td> <a href="../elements/id-e8519f9754df4ef68a94b2036ca6d975.html" target="element"> Operative evner </a> </td>
													    <td> <a href="../elements/id-e8519f9754df4ef68a94b2036ca6d975.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../views/id-41fde00d5db647f992cd4b65b0f6231c.html" target="view"> Operative evner </a> </td>
															    <td> <a href="../views/id-41fde00d5db647f992cd4b65b0f6231c.html" target="view" class="i18n-viewpoint-"> </a> </td>
															</tr>
													    <!-- Other graphical objects -->

													
													<tr>
													    <td> <a href="../views/id-2be3d53edcbc4e9ab78a475853fe24fc.html" target="view"> RA saksbehandling kapabiliteter </a> </td>
													    <td> <a href="../views/id-2be3d53edcbc4e9ab78a475853fe24fc.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../elements/id-d05d7f037b034383be30c6a0c0b2f4ca.html" target="element"> Ressurser </a> </td>
											    <td> <a href="../elements/id-d05d7f037b034383be30c6a0c0b2f4ca.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fcb7be7852bd434998a0be571c7982c2.html" target="element"> Fellesl&#248;singer </a> </td>
													    <td> <a href="../elements/id-fcb7be7852bd434998a0be571c7982c2.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-db15c018b5904d79924cdc399fbcea02.html" target="element"> Veiledere </a> </td>
													    <td> <a href="../elements/id-db15c018b5904d79924cdc399fbcea02.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-91e58a5905924baf88dc6f7c772193da.html" target="element"> Standarder </a> </td>
													    <td> <a href="../elements/id-91e58a5905924baf88dc6f7c772193da.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e77e25b066654567ae9ae29738e8a667.html" target="element"> Referansearkitekturer </a> </td>
													    <td> <a href="../elements/id-e77e25b066654567ae9ae29738e8a667.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0f69a1996bbb492d9a993ba4fdbce3a2.html" target="element"> Samhandlingsakt&#248;rer </a> </td>
													    <td> <a href="../elements/id-0f69a1996bbb492d9a993ba4fdbce3a2.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-3dbbb7b60d004346b9c734a0a749c715.html" target="element"> Generisk verdistr&#248;m for saksbehandling </a> </td>
											    <td> <a href="../elements/id-3dbbb7b60d004346b9c734a0a749c715.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f2c881a30ffa4dda86595b69ffd3a43b.html" target="element"> Sanksjoner </a> </td>
													    <td> <a href="../elements/id-f2c881a30ffa4dda86595b69ffd3a43b.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4da54fb91b754f7d93dc9dffec7f50b7.html" target="element"> Innhent saksopplysninger </a> </td>
													    <td> <a href="../elements/id-4da54fb91b754f7d93dc9dffec7f50b7.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3dddfe9925104998abbd214704de546a.html" target="element"> Fang opp brukerbehov for tjeneste </a> </td>
													    <td> <a href="../elements/id-3dddfe9925104998abbd214704de546a.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1bd60f27839f419abd1f5a678b4fd5f6.html" target="element"> Kontroller etterlevelse </a> </td>
													    <td> <a href="../elements/id-1bd60f27839f419abd1f5a678b4fd5f6.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1f90f76608694537b5e7dbd8f7806765.html" target="element"> Fatt vedtak </a> </td>
													    <td> <a href="../elements/id-1f90f76608694537b5e7dbd8f7806765.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a61280fc5edc4e9fa812fc33632b6513.html" target="element"> Behandle klage </a> </td>
													    <td> <a href="../elements/id-a61280fc5edc4e9fa812fc33632b6513.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ddf988e64df448aeb709cd4dc7cd8d84.html" target="element"> Iverksett vedtak / tildel rettighet </a> </td>
													    <td> <a href="../elements/id-ddf988e64df448aeb709cd4dc7cd8d84.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-ba7f76902d0b47f5a1896ecb0ce832b6.html" target="element"> Verdibidrag </a> </td>
											    <td> <a href="../elements/id-ba7f76902d0b47f5a1896ecb0ce832b6.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-99f86b9d89e043598b484213f492ac25.html" target="element"> Samhandlingsevne </a> </td>
													    <td> <a href="../elements/id-99f86b9d89e043598b484213f492ac25.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-41867b5bff444c3e9f1ce682a8a56133.html" target="element"> Effektiv oppgavel&#248;sning </a> </td>
													    <td> <a href="../elements/id-41867b5bff444c3e9f1ce682a8a56133.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-aef65204894449c2833a54413f9dc6fd.html" target="element"> Krav ved anskaffelser og l&#248;sningsutvikling </a> </td>
													    <td> <a href="../elements/id-aef65204894449c2833a54413f9dc6fd.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-09b286e3c89645c998182990aefa3115.html" target="element"> Sammenhengende tjenester </a> </td>
													    <td> <a href="../elements/id-09b286e3c89645c998182990aefa3115.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e245f7c1cdc84bc19af5ac889af1a12c.html" target="element"> Tillit til forvaltningen </a> </td>
													    <td> <a href="../elements/id-e245f7c1cdc84bc19af5ac889af1a12c.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6acaa9e737894029936471318e1bf357.html" target="element"> Gjenbruk </a> </td>
													    <td> <a href="../elements/id-6acaa9e737894029936471318e1bf357.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5c64a638c96a4e7eb4b86ecc5a9f08e5.html" target="element"> Automatisert saksbehandling </a> </td>
													    <td> <a href="../elements/id-5c64a638c96a4e7eb4b86ecc5a9f08e5.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-55909a2d2635447da722709309e30bf2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-55909a2d2635447da722709309e30bf2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ff1c3ad47f174c69bb14aeae3d35094a.html" target="element"> Kapabiliteter (evner/funksjonalitet) </a> </td>
																		<td> <a href="../elements/id-3586ad5d4f9048cd8a76a10fdc3bd4de.html" target="element"> Forvaltningsmessige evner </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e7e407f70f0141a89139921a25901077.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7e407f70f0141a89139921a25901077.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ff1c3ad47f174c69bb14aeae3d35094a.html" target="element"> Kapabiliteter (evner/funksjonalitet) </a> </td>
																		<td> <a href="../elements/id-e8519f9754df4ef68a94b2036ca6d975.html" target="element"> Operative evner </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-69eb8b6435db499ebabf5ba21b5fc128.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-69eb8b6435db499ebabf5ba21b5fc128.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ff1c3ad47f174c69bb14aeae3d35094a.html" target="element"> Kapabiliteter (evner/funksjonalitet) </a> </td>
																		<td> <a href="../elements/id-3dbbb7b60d004346b9c734a0a749c715.html" target="element"> Generisk verdistr&#248;m for saksbehandling </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-2bd9d4bce1ce45909e9122ce813767b1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2bd9d4bce1ce45909e9122ce813767b1.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3586ad5d4f9048cd8a76a10fdc3bd4de.html" target="element"> Forvaltningsmessige evner </a> </td>
																				<td> <a href="../elements/id-e8519f9754df4ef68a94b2036ca6d975.html" target="element"> Operative evner </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
																	<tr>
																		<td> <a href="../elements/id-42db16c1809d42f4b8ff252434eb3448.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-42db16c1809d42f4b8ff252434eb3448.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d05d7f037b034383be30c6a0c0b2f4ca.html" target="element"> Ressurser </a> </td>
																		<td> <a href="../elements/id-fcb7be7852bd434998a0be571c7982c2.html" target="element"> Fellesl&#248;singer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0e7c238459b347e08630f69bb8cba9eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0e7c238459b347e08630f69bb8cba9eb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d05d7f037b034383be30c6a0c0b2f4ca.html" target="element"> Ressurser </a> </td>
																		<td> <a href="../elements/id-db15c018b5904d79924cdc399fbcea02.html" target="element"> Veiledere </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-974a1d1e71ac412bbcf381955540a5a7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-974a1d1e71ac412bbcf381955540a5a7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d05d7f037b034383be30c6a0c0b2f4ca.html" target="element"> Ressurser </a> </td>
																		<td> <a href="../elements/id-91e58a5905924baf88dc6f7c772193da.html" target="element"> Standarder </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c33eed16b4464095be09c5031018e568.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c33eed16b4464095be09c5031018e568.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d05d7f037b034383be30c6a0c0b2f4ca.html" target="element"> Ressurser </a> </td>
																		<td> <a href="../elements/id-0f69a1996bbb492d9a993ba4fdbce3a2.html" target="element"> Samhandlingsakt&#248;rer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-812e201e515248df807f71993558d51e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-812e201e515248df807f71993558d51e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d05d7f037b034383be30c6a0c0b2f4ca.html" target="element"> Ressurser </a> </td>
																		<td> <a href="../elements/id-ff1c3ad47f174c69bb14aeae3d35094a.html" target="element"> Kapabiliteter (evner/funksjonalitet) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9d0e10379b1e4c48b803ca8ebb35e67b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9d0e10379b1e4c48b803ca8ebb35e67b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d05d7f037b034383be30c6a0c0b2f4ca.html" target="element"> Ressurser </a> </td>
																		<td> <a href="../elements/id-e77e25b066654567ae9ae29738e8a667.html" target="element"> Referansearkitekturer </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-80c173e53cac40b39925a86bbdda678a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-80c173e53cac40b39925a86bbdda678a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3dbbb7b60d004346b9c734a0a749c715.html" target="element"> Generisk verdistr&#248;m for saksbehandling </a> </td>
																		<td> <a href="../elements/id-3dddfe9925104998abbd214704de546a.html" target="element"> Fang opp brukerbehov for tjeneste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f5f14946a879482286082f21f0f8fca3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f5f14946a879482286082f21f0f8fca3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3dbbb7b60d004346b9c734a0a749c715.html" target="element"> Generisk verdistr&#248;m for saksbehandling </a> </td>
																		<td> <a href="../elements/id-4da54fb91b754f7d93dc9dffec7f50b7.html" target="element"> Innhent saksopplysninger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-583804271b5d4c22b596e4fafa74c815.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-583804271b5d4c22b596e4fafa74c815.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3dbbb7b60d004346b9c734a0a749c715.html" target="element"> Generisk verdistr&#248;m for saksbehandling </a> </td>
																		<td> <a href="../elements/id-ddf988e64df448aeb709cd4dc7cd8d84.html" target="element"> Iverksett vedtak / tildel rettighet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c45097821b0045bb82f55e4546c04a3a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c45097821b0045bb82f55e4546c04a3a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3dbbb7b60d004346b9c734a0a749c715.html" target="element"> Generisk verdistr&#248;m for saksbehandling </a> </td>
																		<td> <a href="../elements/id-f2c881a30ffa4dda86595b69ffd3a43b.html" target="element"> Sanksjoner </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-824f34ac065445ff89060e069e616806.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-824f34ac065445ff89060e069e616806.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3dbbb7b60d004346b9c734a0a749c715.html" target="element"> Generisk verdistr&#248;m for saksbehandling </a> </td>
																		<td> <a href="../elements/id-a61280fc5edc4e9fa812fc33632b6513.html" target="element"> Behandle klage </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9f9409b80c824d3b9899011619586d54.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9f9409b80c824d3b9899011619586d54.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3dbbb7b60d004346b9c734a0a749c715.html" target="element"> Generisk verdistr&#248;m for saksbehandling </a> </td>
																		<td> <a href="../elements/id-ba7f76902d0b47f5a1896ecb0ce832b6.html" target="element"> Verdibidrag </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1312f850fcc4410f8cafb3d909c4ec48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1312f850fcc4410f8cafb3d909c4ec48.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3dbbb7b60d004346b9c734a0a749c715.html" target="element"> Generisk verdistr&#248;m for saksbehandling </a> </td>
																		<td> <a href="../elements/id-1f90f76608694537b5e7dbd8f7806765.html" target="element"> Fatt vedtak </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-13332c6e7a61416d8bdb43550c54fd70.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-13332c6e7a61416d8bdb43550c54fd70.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3dbbb7b60d004346b9c734a0a749c715.html" target="element"> Generisk verdistr&#248;m for saksbehandling </a> </td>
																		<td> <a href="../elements/id-1bd60f27839f419abd1f5a678b4fd5f6.html" target="element"> Kontroller etterlevelse </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-ed6a709125734e3ea7b12aa10783e39d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ed6a709125734e3ea7b12aa10783e39d.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4da54fb91b754f7d93dc9dffec7f50b7.html" target="element"> Innhent saksopplysninger </a> </td>
																				<td> <a href="../elements/id-1f90f76608694537b5e7dbd8f7806765.html" target="element"> Fatt vedtak </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8982a265320b413abc3ef0a0fe46edd0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8982a265320b413abc3ef0a0fe46edd0.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3dddfe9925104998abbd214704de546a.html" target="element"> Fang opp brukerbehov for tjeneste </a> </td>
																				<td> <a href="../elements/id-4da54fb91b754f7d93dc9dffec7f50b7.html" target="element"> Innhent saksopplysninger </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b4bd6284ba674514919b1583eece40b9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b4bd6284ba674514919b1583eece40b9.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1bd60f27839f419abd1f5a678b4fd5f6.html" target="element"> Kontroller etterlevelse </a> </td>
																				<td> <a href="../elements/id-f2c881a30ffa4dda86595b69ffd3a43b.html" target="element"> Sanksjoner </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ef7082bc2980412cb282149e23e36eb8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ef7082bc2980412cb282149e23e36eb8.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1f90f76608694537b5e7dbd8f7806765.html" target="element"> Fatt vedtak </a> </td>
																				<td> <a href="../elements/id-a61280fc5edc4e9fa812fc33632b6513.html" target="element"> Behandle klage </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ad2c3acdd21f4fc0b8b59582b1ff19e0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ad2c3acdd21f4fc0b8b59582b1ff19e0.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a61280fc5edc4e9fa812fc33632b6513.html" target="element"> Behandle klage </a> </td>
																				<td> <a href="../elements/id-ddf988e64df448aeb709cd4dc7cd8d84.html" target="element"> Iverksett vedtak / tildel rettighet </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-98653701fb2b47dc87faa953a8cafa4c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-98653701fb2b47dc87faa953a8cafa4c.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ddf988e64df448aeb709cd4dc7cd8d84.html" target="element"> Iverksett vedtak / tildel rettighet </a> </td>
																				<td> <a href="../elements/id-1bd60f27839f419abd1f5a678b4fd5f6.html" target="element"> Kontroller etterlevelse </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-ef842c587dfb478ca7854e11776025e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef842c587dfb478ca7854e11776025e0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba7f76902d0b47f5a1896ecb0ce832b6.html" target="element"> Verdibidrag </a> </td>
																		<td> <a href="../elements/id-aef65204894449c2833a54413f9dc6fd.html" target="element"> Krav ved anskaffelser og l&#248;sningsutvikling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c24d5693cf23434da59049646f02ad8e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c24d5693cf23434da59049646f02ad8e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba7f76902d0b47f5a1896ecb0ce832b6.html" target="element"> Verdibidrag </a> </td>
																		<td> <a href="../elements/id-09b286e3c89645c998182990aefa3115.html" target="element"> Sammenhengende tjenester </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c6b8cfd29b1845c9afde212511d836b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c6b8cfd29b1845c9afde212511d836b6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba7f76902d0b47f5a1896ecb0ce832b6.html" target="element"> Verdibidrag </a> </td>
																		<td> <a href="../elements/id-41867b5bff444c3e9f1ce682a8a56133.html" target="element"> Effektiv oppgavel&#248;sning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5bd85c1f267749deb3da6942a65323bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5bd85c1f267749deb3da6942a65323bd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba7f76902d0b47f5a1896ecb0ce832b6.html" target="element"> Verdibidrag </a> </td>
																		<td> <a href="../elements/id-99f86b9d89e043598b484213f492ac25.html" target="element"> Samhandlingsevne </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b3f1cf71b4dc4459a9f4db836a03f37a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b3f1cf71b4dc4459a9f4db836a03f37a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba7f76902d0b47f5a1896ecb0ce832b6.html" target="element"> Verdibidrag </a> </td>
																		<td> <a href="../elements/id-6acaa9e737894029936471318e1bf357.html" target="element"> Gjenbruk </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7102cb881c4f41778030b737f524cff8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7102cb881c4f41778030b737f524cff8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba7f76902d0b47f5a1896ecb0ce832b6.html" target="element"> Verdibidrag </a> </td>
																		<td> <a href="../elements/id-5c64a638c96a4e7eb4b86ecc5a9f08e5.html" target="element"> Automatisert saksbehandling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5e3bedac385d49269c45da5643aed74a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5e3bedac385d49269c45da5643aed74a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba7f76902d0b47f5a1896ecb0ce832b6.html" target="element"> Verdibidrag </a> </td>
																		<td> <a href="../elements/id-e245f7c1cdc84bc19af5ac889af1a12c.html" target="element"> Tillit til forvaltningen </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>