<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Dataobjekter eOppslag</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Dataobjekter eOppslag</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/06c7ab2b-d29b-49b1-92c6-12b18ff5a3cf.png" alt="Dataobjekter eOppslag" usemap="#06c7ab2b-d29b-49b1-92c6-12b18ff5a3cfmap"/>
			   <map name="06c7ab2b-d29b-49b1-92c6-12b18ff5a3cfmap">
				  		<area shape="rect" coords="160,644,426,786" href="../elements/05ac791f-056e-41c8-9019-d03e91c76c31.html"  target="element">
				  		<area shape="rect" coords="616,860,882,1002" href="../elements/743ee89e-49b3-4b4b-b93b-c7e6f4e0700f.html"  target="element">
				  		<area shape="rect" coords="616,20,882,162" href="../elements/90106e3a-d9f4-4817-ab38-473efc7f1aac.html"  target="element">
				  		<area shape="rect" coords="20,404,286,546" href="../elements/f62ede33-8269-4ea4-ad18-813afceec80d.html"  target="element">
				  		<area shape="rect" coords="20,860,286,1002" href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html"  target="element">
				  		<area shape="rect" coords="808,212,1074,354" href="../elements/b272405b-703f-4a04-aa91-44f3fefb4247.html"  target="element">
				  		<area shape="rect" coords="616,404,882,546" href="../elements/bf54babe-70b5-49ab-ab45-ef9dde2780b4.html"  target="element">
				  		<area shape="rect" coords="448,644,714,786" href="../elements/883ce9eb-79dc-491e-a417-8f131d31ec77.html"  target="element">
				  		<area shape="rect" coords="20,20,286,162" href="../elements/81c9ec0a-a910-4a6c-93ed-e4d5fb1ccca9.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Dataobjekter eOppslag</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/81c9ec0a-a910-4a6c-93ed-e4d5fb1ccca9.html" target="element"> API-katalogen </a> </td>
											    <td> <a href="../elements/81c9ec0a-a910-4a6c-93ed-e4d5fb1ccca9.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/883ce9eb-79dc-491e-a417-8f131d31ec77.html" target="element"> Tilganger konsument/representasjonsforhold </a> </td>
											    <td> <a href="../elements/883ce9eb-79dc-491e-a417-8f131d31ec77.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bf54babe-70b5-49ab-ab45-ef9dde2780b4.html" target="element"> Delegerbar ressurs </a> </td>
											    <td> <a href="../elements/bf54babe-70b5-49ab-ab45-ef9dde2780b4.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b272405b-703f-4a04-aa91-44f3fefb4247.html" target="element"> Endepunkt (adresse) </a> </td>
											    <td> <a href="../elements/b272405b-703f-4a04-aa91-44f3fefb4247.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html" target="element"> Maskinporten </a> </td>
											    <td> <a href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f62ede33-8269-4ea4-ad18-813afceec80d.html" target="element"> Altinn autorisasjon </a> </td>
											    <td> <a href="../elements/f62ede33-8269-4ea4-ad18-813afceec80d.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/90106e3a-d9f4-4817-ab38-473efc7f1aac.html" target="element"> Beskrivelse API </a> </td>
											    <td> <a href="../elements/90106e3a-d9f4-4817-ab38-473efc7f1aac.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/743ee89e-49b3-4b4b-b93b-c7e6f4e0700f.html" target="element"> OAUTH scopes </a> </td>
											    <td> <a href="../elements/743ee89e-49b3-4b4b-b93b-c7e6f4e0700f.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/05ac791f-056e-41c8-9019-d03e91c76c31.html" target="element"> Beskrivelse av akt&#248;r som kan innhente samtykke </a> </td>
											    <td> <a href="../elements/05ac791f-056e-41c8-9019-d03e91c76c31.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/714b645d-d31b-4a46-8873-26c1b5378284.html" target="element">  </a> </td>
																		<td> <a href="../elements/714b645d-d31b-4a46-8873-26c1b5378284.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/883ce9eb-79dc-491e-a417-8f131d31ec77.html" target="element"> Tilganger konsument/representasjonsforhold </a> </td>
																		<td> <a href="../elements/f62ede33-8269-4ea4-ad18-813afceec80d.html" target="element"> Altinn autorisasjon </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8aae65e0-c567-4f90-9191-f2262ad85408.html" target="element">  </a> </td>
																		<td> <a href="../elements/8aae65e0-c567-4f90-9191-f2262ad85408.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/bf54babe-70b5-49ab-ab45-ef9dde2780b4.html" target="element"> Delegerbar ressurs </a> </td>
																		<td> <a href="../elements/743ee89e-49b3-4b4b-b93b-c7e6f4e0700f.html" target="element"> OAUTH scopes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c0eb76d3-c1b2-42b5-b65a-c48246f9d600.html" target="element">  </a> </td>
																		<td> <a href="../elements/c0eb76d3-c1b2-42b5-b65a-c48246f9d600.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/bf54babe-70b5-49ab-ab45-ef9dde2780b4.html" target="element"> Delegerbar ressurs </a> </td>
																		<td> <a href="../elements/f62ede33-8269-4ea4-ad18-813afceec80d.html" target="element"> Altinn autorisasjon </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/05ddf994-66f4-46a4-bd84-26fb7871d36b.html" target="element">  </a> </td>
																		<td> <a href="../elements/05ddf994-66f4-46a4-bd84-26fb7871d36b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/90106e3a-d9f4-4817-ab38-473efc7f1aac.html" target="element"> Beskrivelse API </a> </td>
																		<td> <a href="../elements/bf54babe-70b5-49ab-ab45-ef9dde2780b4.html" target="element"> Delegerbar ressurs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2678b4ee-b1e0-4328-af2c-029f85eca553.html" target="element">  </a> </td>
																		<td> <a href="../elements/2678b4ee-b1e0-4328-af2c-029f85eca553.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/90106e3a-d9f4-4817-ab38-473efc7f1aac.html" target="element"> Beskrivelse API </a> </td>
																		<td> <a href="../elements/81c9ec0a-a910-4a6c-93ed-e4d5fb1ccca9.html" target="element"> API-katalogen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a3f403f4-4fd5-4f62-a093-9700afb26735.html" target="element">  </a> </td>
																		<td> <a href="../elements/a3f403f4-4fd5-4f62-a093-9700afb26735.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/90106e3a-d9f4-4817-ab38-473efc7f1aac.html" target="element"> Beskrivelse API </a> </td>
																		<td> <a href="../elements/b272405b-703f-4a04-aa91-44f3fefb4247.html" target="element"> Endepunkt (adresse) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/42159200-9d8c-4e3e-a4fe-2b5f32562332.html" target="element">  </a> </td>
																		<td> <a href="../elements/42159200-9d8c-4e3e-a4fe-2b5f32562332.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/743ee89e-49b3-4b4b-b93b-c7e6f4e0700f.html" target="element"> OAUTH scopes </a> </td>
																		<td> <a href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html" target="element"> Maskinporten </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/12b894c3-addd-47d4-abea-01596589dc77.html" target="element">  </a> </td>
																		<td> <a href="../elements/12b894c3-addd-47d4-abea-01596589dc77.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/05ac791f-056e-41c8-9019-d03e91c76c31.html" target="element"> Beskrivelse av akt&#248;r som kan innhente samtykke </a> </td>
																		<td> <a href="../elements/f62ede33-8269-4ea4-ad18-813afceec80d.html" target="element"> Altinn autorisasjon </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>