<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Filtrering og minimering av hendelseslister og notifikasjoner på tvers av tilbyder og konsument</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Filtrering og minimering av hendelseslister og notifikasjoner p&#229; tvers av tilbyder og konsument</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/098fb427-97b4-4be8-9eb2-1e071eff586e.png" alt="Filtrering og minimering av hendelseslister og notifikasjoner på tvers av tilbyder og konsument" usemap="#098fb427-97b4-4be8-9eb2-1e071eff586emap"/>
			   <map name="098fb427-97b4-4be8-9eb2-1e071eff586emap">
				          <area shape="rect" coords="454,20,1198,94" href="../objects/f2d31249-f9be-4f37-9607-7fa8b55104b9.html" target="element" >
				          <area shape="rect" coords="442,668,1210,742" href="../objects/85914798-45bf-4257-aacc-0898c9e36873.html" target="element" >
				  				<area shape="rect" coords="846,236,1112,378" href="../elements/55d7af88-fd1a-4b50-86e5-3fc7224f2f3d.html"  target="element">
				  				<area shape="rect" coords="846,452,1112,594" href="../elements/d6a76d0b-fed6-4c45-b156-43475518a6a6.html"  target="element">

				  		<area shape="rect" coords="798,140,1140,622" href="../elements/6536e662-d4e4-449b-bd03-6ff34220d6e2.html"  target="element">
				  				<area shape="rect" coords="1268,236,1534,378" href="../elements/783e0bd5-6cd8-4ea9-adcf-95e1b17edb53.html"  target="element">
				  				<area shape="rect" coords="1268,448,1534,590" href="../elements/2c58ba49-6d4b-435a-8b0e-3208c4a404d1.html"  target="element">

				  		<area shape="rect" coords="1196,140,1582,622" href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html"  target="element">
				  				<area shape="rect" coords="92,452,358,594" href="../elements/d9db40fa-6e13-4bd0-b701-16694bc7afb5.html"  target="element">
				  				<area shape="rect" coords="92,236,358,378" href="../elements/a5c1a7b7-7ad5-44c7-ba08-8701623c3052.html"  target="element">
				  				<area shape="rect" coords="428,452,694,594" href="../elements/cf641ae6-df2a-47e3-90d2-96b15200781d.html"  target="element">
				  				<area shape="rect" coords="428,236,694,378" href="../elements/6aac0cd3-c219-4507-b5b8-89874cac1e0c.html"  target="element">

				  		<area shape="rect" coords="20,140,742,622" href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap">nab_referanse_arkitekturer_datautveksling_publisering</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html" target="element"> Datatilbyders publiseringsl&#248;sning </a> </td>
											    <td> <a href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/6aac0cd3-c219-4507-b5b8-89874cac1e0c.html" target="element"> Publisert hendelsesliste </a> </td>
													    <td> <a href="../elements/6aac0cd3-c219-4507-b5b8-89874cac1e0c.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/cf641ae6-df2a-47e3-90d2-96b15200781d.html" target="element"> Publisert notifikasjon </a> </td>
													    <td> <a href="../elements/cf641ae6-df2a-47e3-90d2-96b15200781d.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a5c1a7b7-7ad5-44c7-ba08-8701623c3052.html" target="element"> Komplett hendelsesliste, tilbyders domene </a> </td>
													    <td> <a href="../elements/a5c1a7b7-7ad5-44c7-ba08-8701623c3052.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d9db40fa-6e13-4bd0-b701-16694bc7afb5.html" target="element"> Komplett notifikasjon, tilbyders domene </a> </td>
													    <td> <a href="../elements/d9db40fa-6e13-4bd0-b701-16694bc7afb5.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html" target="element"> Datakonsuments l&#248;sning for innhenting av publiserte data </a> </td>
											    <td> <a href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/2c58ba49-6d4b-435a-8b0e-3208c4a404d1.html" target="element"> Relevant notifikasjon, konsuments domene </a> </td>
													    <td> <a href="../elements/2c58ba49-6d4b-435a-8b0e-3208c4a404d1.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/783e0bd5-6cd8-4ea9-adcf-95e1b17edb53.html" target="element"> Relevant hendelsesliste, konsuments domene </a> </td>
													    <td> <a href="../elements/783e0bd5-6cd8-4ea9-adcf-95e1b17edb53.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/6536e662-d4e4-449b-bd03-6ff34220d6e2.html" target="element"> Kommunikasjonsl&#248;sning </a> </td>
											    <td> <a href="../elements/6536e662-d4e4-449b-bd03-6ff34220d6e2.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d6a76d0b-fed6-4c45-b156-43475518a6a6.html" target="element"> Utvekslet notifikasjon </a> </td>
													    <td> <a href="../elements/d6a76d0b-fed6-4c45-b156-43475518a6a6.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/55d7af88-fd1a-4b50-86e5-3fc7224f2f3d.html" target="element"> Utvekslet hendelsesliste </a> </td>
													    <td> <a href="../elements/55d7af88-fd1a-4b50-86e5-3fc7224f2f3d.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/85914798-45bf-4257-aacc-0898c9e36873.html" target="element">  </a> </td>
									           <td> <a href="../objects/85914798-45bf-4257-aacc-0898c9e36873.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/f2d31249-f9be-4f37-9607-7fa8b55104b9.html" target="element">  </a> </td>
									           <td> <a href="../objects/f2d31249-f9be-4f37-9607-7fa8b55104b9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/21272f34-8ce6-47f5-a18c-451e97d2afbf.html" target="element">  </a> </td>
																		<td> <a href="../elements/21272f34-8ce6-47f5-a18c-451e97d2afbf.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html" target="element"> Datatilbyders publiseringsl&#248;sning </a> </td>
																		<td> <a href="../elements/cf641ae6-df2a-47e3-90d2-96b15200781d.html" target="element"> Publisert notifikasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5354d04c-2ed2-4ad9-9d5a-69270ffc25d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/5354d04c-2ed2-4ad9-9d5a-69270ffc25d5.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html" target="element"> Datatilbyders publiseringsl&#248;sning </a> </td>
																		<td> <a href="../elements/6aac0cd3-c219-4507-b5b8-89874cac1e0c.html" target="element"> Publisert hendelsesliste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0c85e08b-7fda-4bfe-b046-47c469f801c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/0c85e08b-7fda-4bfe-b046-47c469f801c8.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html" target="element"> Datatilbyders publiseringsl&#248;sning </a> </td>
																		<td> <a href="../elements/d9db40fa-6e13-4bd0-b701-16694bc7afb5.html" target="element"> Komplett notifikasjon, tilbyders domene </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5191e4f1-2525-48f4-9d39-ffda1b8a6ee1.html" target="element">  </a> </td>
																		<td> <a href="../elements/5191e4f1-2525-48f4-9d39-ffda1b8a6ee1.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html" target="element"> Datatilbyders publiseringsl&#248;sning </a> </td>
																		<td> <a href="../elements/a5c1a7b7-7ad5-44c7-ba08-8701623c3052.html" target="element"> Komplett hendelsesliste, tilbyders domene </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/feee7c00-c43c-49aa-87e2-ba5cae174bcd.html" target="element">  </a> </td>
																				<td> <a href="../elements/feee7c00-c43c-49aa-87e2-ba5cae174bcd.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/6aac0cd3-c219-4507-b5b8-89874cac1e0c.html" target="element"> Publisert hendelsesliste </a> </td>
																				<td> <a href="../elements/cf641ae6-df2a-47e3-90d2-96b15200781d.html" target="element"> Publisert notifikasjon </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/4a863433-e759-4a6f-adf0-4248ba389922.html" target="element">  </a> </td>
																				<td> <a href="../elements/4a863433-e759-4a6f-adf0-4248ba389922.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/6aac0cd3-c219-4507-b5b8-89874cac1e0c.html" target="element"> Publisert hendelsesliste </a> </td>
																				<td> <a href="../elements/a5c1a7b7-7ad5-44c7-ba08-8701623c3052.html" target="element"> Komplett hendelsesliste, tilbyders domene </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/fc96e283-46f0-41c8-a870-82fa3514eba6.html" target="element">  </a> </td>
																				<td> <a href="../elements/fc96e283-46f0-41c8-a870-82fa3514eba6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/cf641ae6-df2a-47e3-90d2-96b15200781d.html" target="element"> Publisert notifikasjon </a> </td>
																				<td> <a href="../elements/d9db40fa-6e13-4bd0-b701-16694bc7afb5.html" target="element"> Komplett notifikasjon, tilbyders domene </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/e3ad5334-d131-40ee-a993-f2638849e852.html" target="element">  </a> </td>
																				<td> <a href="../elements/e3ad5334-d131-40ee-a993-f2638849e852.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/a5c1a7b7-7ad5-44c7-ba08-8701623c3052.html" target="element"> Komplett hendelsesliste, tilbyders domene </a> </td>
																				<td> <a href="../elements/d9db40fa-6e13-4bd0-b701-16694bc7afb5.html" target="element"> Komplett notifikasjon, tilbyders domene </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/9d9fca0d-26d3-4b69-ac82-5e72f3d394c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/9d9fca0d-26d3-4b69-ac82-5e72f3d394c8.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html" target="element"> Datakonsuments l&#248;sning for innhenting av publiserte data </a> </td>
																		<td> <a href="../elements/783e0bd5-6cd8-4ea9-adcf-95e1b17edb53.html" target="element"> Relevant hendelsesliste, konsuments domene </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1ccffe31-4e92-4a63-b360-85401dcf2c4f.html" target="element">  </a> </td>
																		<td> <a href="../elements/1ccffe31-4e92-4a63-b360-85401dcf2c4f.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html" target="element"> Datakonsuments l&#248;sning for innhenting av publiserte data </a> </td>
																		<td> <a href="../elements/2c58ba49-6d4b-435a-8b0e-3208c4a404d1.html" target="element"> Relevant notifikasjon, konsuments domene </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/3c15e57a-a45c-4a1a-9a8e-292742ac8724.html" target="element">  </a> </td>
																				<td> <a href="../elements/3c15e57a-a45c-4a1a-9a8e-292742ac8724.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/2c58ba49-6d4b-435a-8b0e-3208c4a404d1.html" target="element"> Relevant notifikasjon, konsuments domene </a> </td>
																				<td> <a href="../elements/d6a76d0b-fed6-4c45-b156-43475518a6a6.html" target="element"> Utvekslet notifikasjon </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/8205afdc-ac90-49b3-9ebd-ec8589c1cdec.html" target="element">  </a> </td>
																				<td> <a href="../elements/8205afdc-ac90-49b3-9ebd-ec8589c1cdec.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/783e0bd5-6cd8-4ea9-adcf-95e1b17edb53.html" target="element"> Relevant hendelsesliste, konsuments domene </a> </td>
																				<td> <a href="../elements/55d7af88-fd1a-4b50-86e5-3fc7224f2f3d.html" target="element"> Utvekslet hendelsesliste </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/5325b882-438d-4469-8323-6771aef2d30b.html" target="element">  </a> </td>
																				<td> <a href="../elements/5325b882-438d-4469-8323-6771aef2d30b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/783e0bd5-6cd8-4ea9-adcf-95e1b17edb53.html" target="element"> Relevant hendelsesliste, konsuments domene </a> </td>
																				<td> <a href="../elements/2c58ba49-6d4b-435a-8b0e-3208c4a404d1.html" target="element"> Relevant notifikasjon, konsuments domene </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/5048d1b7-c6df-4832-a008-a42770573824.html" target="element">  </a> </td>
																		<td> <a href="../elements/5048d1b7-c6df-4832-a008-a42770573824.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6536e662-d4e4-449b-bd03-6ff34220d6e2.html" target="element"> Kommunikasjonsl&#248;sning </a> </td>
																		<td> <a href="../elements/55d7af88-fd1a-4b50-86e5-3fc7224f2f3d.html" target="element"> Utvekslet hendelsesliste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a4ed8f11-f953-4bb8-a841-e6baaaf95c5b.html" target="element">  </a> </td>
																		<td> <a href="../elements/a4ed8f11-f953-4bb8-a841-e6baaaf95c5b.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6536e662-d4e4-449b-bd03-6ff34220d6e2.html" target="element"> Kommunikasjonsl&#248;sning </a> </td>
																		<td> <a href="../elements/d6a76d0b-fed6-4c45-b156-43475518a6a6.html" target="element"> Utvekslet notifikasjon </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/b14920b8-6662-452c-a038-f381ce00849c.html" target="element"> eventuelt minimert </a> </td>
																				<td> <a href="../elements/b14920b8-6662-452c-a038-f381ce00849c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/d6a76d0b-fed6-4c45-b156-43475518a6a6.html" target="element"> Utvekslet notifikasjon </a> </td>
																				<td> <a href="../elements/cf641ae6-df2a-47e3-90d2-96b15200781d.html" target="element"> Publisert notifikasjon </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/e20b4dfc-1114-4cd6-810e-6484dd396cd0.html" target="element">  </a> </td>
																				<td> <a href="../elements/e20b4dfc-1114-4cd6-810e-6484dd396cd0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/55d7af88-fd1a-4b50-86e5-3fc7224f2f3d.html" target="element"> Utvekslet hendelsesliste </a> </td>
																				<td> <a href="../elements/d6a76d0b-fed6-4c45-b156-43475518a6a6.html" target="element"> Utvekslet notifikasjon </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/a5e3cff0-af9c-4827-be08-8183cb2dc981.html" target="element"> filtrert </a> </td>
																				<td> <a href="../elements/a5e3cff0-af9c-4827-be08-8183cb2dc981.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/55d7af88-fd1a-4b50-86e5-3fc7224f2f3d.html" target="element"> Utvekslet hendelsesliste </a> </td>
																				<td> <a href="../elements/6aac0cd3-c219-4507-b5b8-89874cac1e0c.html" target="element"> Publisert hendelsesliste </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>