<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overordnet verdistrøm - analyser data</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overordnet verdistr&#248;m - analyser data</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/202462bf-534d-42fa-a4e7-2f57a1abdfca.png" alt="Overordnet verdistrøm - analyser data" usemap="#202462bf-534d-42fa-a4e7-2f57a1abdfcamap"/>
			   <map name="202462bf-534d-42fa-a4e7-2f57a1abdfcamap">
				  		<area shape="rect" coords="36,836,1526,978" href="../elements/930e4424-cf14-4d4d-810b-3c83f9a1d9d8.html"  target="element">
				  				<area shape="rect" coords="164,260,430,402" href="../elements/b6e96496-2731-4cd5-99e6-0fc3d8472cf0.html"  target="element">
				  				<area shape="rect" coords="644,260,910,402" href="../elements/c7936b0c-34a5-4086-bafe-373f4ca352c7.html"  target="element">
				  				<area shape="rect" coords="884,260,1150,402" href="../elements/53744dc9-e1c8-484d-9597-fa3cba3b96e1.html"  target="element">
				  				<area shape="rect" coords="1124,260,1390,402" href="../elements/bf6319fb-d81d-48cb-9bf4-18ed927abf1d.html"  target="element">
				  				<area shape="rect" coords="404,260,670,402" href="../elements/722071ce-a16e-41db-a9ce-c931785c6eb2.html"  target="element">

				  		<area shape="rect" coords="20,188,1510,478" href="../elements/a21fe9f1-da08-4b3f-9658-e67bdc8dd86c.html"  target="element">
				  		<area shape="rect" coords="20,20,1510,162" href="../elements/22741f74-b6ff-44a1-9ccc-24f0609e9ed9.html"  target="element">
				  		<area shape="rect" coords="36,668,1526,810" href="../elements/16157c6d-8024-4106-b7db-59cfc6717745.html"  target="element">
				  		<area shape="rect" coords="36,500,1526,642" href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Overordnet verdistr&#248;m - analyser data</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html" target="element"> Innhent data </a> </td>
											    <td> <a href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/16157c6d-8024-4106-b7db-59cfc6717745.html" target="element"> Del data </a> </td>
											    <td> <a href="../elements/16157c6d-8024-4106-b7db-59cfc6717745.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/22741f74-b6ff-44a1-9ccc-24f0609e9ed9.html" target="element"> Samhandle i tverrg&#229;ende prosesser </a> </td>
											    <td> <a href="../elements/22741f74-b6ff-44a1-9ccc-24f0609e9ed9.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a21fe9f1-da08-4b3f-9658-e67bdc8dd86c.html" target="element"> Analyser data </a> </td>
											    <td> <a href="../elements/a21fe9f1-da08-4b3f-9658-e67bdc8dd86c.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/722071ce-a16e-41db-a9ce-c931785c6eb2.html" target="element"> Datafangst </a> </td>
													    <td> <a href="../elements/722071ce-a16e-41db-a9ce-c931785c6eb2.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/bf6319fb-d81d-48cb-9bf4-18ed927abf1d.html" target="element"> Publiser resultater </a> </td>
													    <td> <a href="../elements/bf6319fb-d81d-48cb-9bf4-18ed927abf1d.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/53744dc9-e1c8-484d-9597-fa3cba3b96e1.html" target="element"> Gjennomf&#248;r dataanalyse </a> </td>
													    <td> <a href="../elements/53744dc9-e1c8-484d-9597-fa3cba3b96e1.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c7936b0c-34a5-4086-bafe-373f4ca352c7.html" target="element"> Bearbeid data </a> </td>
													    <td> <a href="../elements/c7936b0c-34a5-4086-bafe-373f4ca352c7.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b6e96496-2731-4cd5-99e6-0fc3d8472cf0.html" target="element"> Planlegg analyse </a> </td>
													    <td> <a href="../elements/b6e96496-2731-4cd5-99e6-0fc3d8472cf0.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/930e4424-cf14-4d4d-810b-3c83f9a1d9d8.html" target="element"> Hold orden i egen virksomhet </a> </td>
											    <td> <a href="../elements/930e4424-cf14-4d4d-810b-3c83f9a1d9d8.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/d16f87e0-d792-4798-941b-1ac23cd34101.html" target="element">  </a> </td>
																		<td> <a href="../elements/d16f87e0-d792-4798-941b-1ac23cd34101.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html" target="element"> Innhent data </a> </td>
																		<td> <a href="../elements/722071ce-a16e-41db-a9ce-c931785c6eb2.html" target="element"> Datafangst </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3edccc71-6c5a-4097-91f8-c7a61d64f1c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/3edccc71-6c5a-4097-91f8-c7a61d64f1c3.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/16157c6d-8024-4106-b7db-59cfc6717745.html" target="element"> Del data </a> </td>
																		<td> <a href="../elements/bf6319fb-d81d-48cb-9bf4-18ed927abf1d.html" target="element"> Publiser resultater </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/997bf02c-50eb-4322-8237-f0deb6eca902.html" target="element">  </a> </td>
																		<td> <a href="../elements/997bf02c-50eb-4322-8237-f0deb6eca902.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/a21fe9f1-da08-4b3f-9658-e67bdc8dd86c.html" target="element"> Analyser data </a> </td>
																		<td> <a href="../elements/c7936b0c-34a5-4086-bafe-373f4ca352c7.html" target="element"> Bearbeid data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b43719f9-b8c5-46b5-a507-20c50d5d4963.html" target="element">  </a> </td>
																		<td> <a href="../elements/b43719f9-b8c5-46b5-a507-20c50d5d4963.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/a21fe9f1-da08-4b3f-9658-e67bdc8dd86c.html" target="element"> Analyser data </a> </td>
																		<td> <a href="../elements/bf6319fb-d81d-48cb-9bf4-18ed927abf1d.html" target="element"> Publiser resultater </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/084889b4-a647-4328-aeea-49382fddec84.html" target="element">  </a> </td>
																		<td> <a href="../elements/084889b4-a647-4328-aeea-49382fddec84.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/a21fe9f1-da08-4b3f-9658-e67bdc8dd86c.html" target="element"> Analyser data </a> </td>
																		<td> <a href="../elements/53744dc9-e1c8-484d-9597-fa3cba3b96e1.html" target="element"> Gjennomf&#248;r dataanalyse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e7cf1cc8-0afe-4c9c-90fc-4b24417a516e.html" target="element">  </a> </td>
																		<td> <a href="../elements/e7cf1cc8-0afe-4c9c-90fc-4b24417a516e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/a21fe9f1-da08-4b3f-9658-e67bdc8dd86c.html" target="element"> Analyser data </a> </td>
																		<td> <a href="../elements/b6e96496-2731-4cd5-99e6-0fc3d8472cf0.html" target="element"> Planlegg analyse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/472acd23-f68a-4237-b765-a43b87c8dd37.html" target="element">  </a> </td>
																		<td> <a href="../elements/472acd23-f68a-4237-b765-a43b87c8dd37.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/a21fe9f1-da08-4b3f-9658-e67bdc8dd86c.html" target="element"> Analyser data </a> </td>
																		<td> <a href="../elements/722071ce-a16e-41db-a9ce-c931785c6eb2.html" target="element"> Datafangst </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-0933f5f43d304dbfb725f98d465a9937.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0933f5f43d304dbfb725f98d465a9937.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/bf6319fb-d81d-48cb-9bf4-18ed927abf1d.html" target="element"> Publiser resultater </a> </td>
																				<td> <a href="../elements/22741f74-b6ff-44a1-9ccc-24f0609e9ed9.html" target="element"> Samhandle i tverrg&#229;ende prosesser </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-83ac43a77ac5494ea3c42d65e083bb8c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-83ac43a77ac5494ea3c42d65e083bb8c.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/930e4424-cf14-4d4d-810b-3c83f9a1d9d8.html" target="element"> Hold orden i egen virksomhet </a> </td>
																		<td> <a href="../elements/b6e96496-2731-4cd5-99e6-0fc3d8472cf0.html" target="element"> Planlegg analyse </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>