<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Metadatakatalog RA (Erik, Riksrevisjonen)</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Metadatakatalog RA (Erik, Riksrevisjonen)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/2ce7a623-b160-4fb2-916f-3fb85df94670.png" alt="Metadatakatalog RA (Erik, Riksrevisjonen)" usemap="#2ce7a623-b160-4fb2-916f-3fb85df94670map"/>
			   <map name="2ce7a623-b160-4fb2-916f-3fb85df94670map">
				  				<area shape="rect" coords="816,1076,1082,1182" href="../elements/db1d9ce7-804a-40ab-96fa-656bd23ea9f6.html"  target="element">
				  				<area shape="rect" coords="522,1076,788,1182" href="../elements/c89e03cb-d70e-4878-ba53-7a3322bc05f2.html"  target="element">
				  				<area shape="rect" coords="1108,1076,1374,1182" href="../elements/0da68751-631f-4ae9-aba4-02404517092a.html"  target="element">
				  				<area shape="rect" coords="1402,1076,1668,1182" href="../elements/ddc33635-c2ed-4a64-8ae2-3141989d0556.html"  target="element">
				  				<area shape="rect" coords="216,1076,482,1182" href="../elements/e84525a0-fa2e-4512-a625-e798dc3495dc.html"  target="element">

				  		<area shape="rect" coords="194,1028,1706,1206" href="../elements/55ebd603-1ce8-447f-b651-d38dbc7e8b35.html"  target="element">
				  		<area shape="rect" coords="1440,608,1706,714" href="../elements/ffbd8f89-09f0-4840-88c1-55b57ffa87d6.html"  target="element">
				  		<area shape="rect" coords="1440,768,1706,874" href="../elements/0879c635-89a4-4b90-8493-a6aa798e53c5.html"  target="element">
				  		<area shape="rect" coords="930,620,1196,886" href="../elements/447aa8fa-f96d-440c-ab75-094560ff9636.html"  target="element">
				  		<area shape="rect" coords="930,448,1196,578" href="../elements/11b50dd1-527f-4ddc-a933-fd15fcb47643.html"  target="element">
				  		<area shape="rect" coords="1428,460,1694,566" href="../elements/408c8f5f-cd92-42de-aed5-0a855fd83007.html"  target="element">
				  		<area shape="rect" coords="118,822,384,928" href="../elements/6f77bd84-f39a-4a89-a00d-fc8b5599f92c.html"  target="element">
				  		<area shape="rect" coords="892,260,1158,366" href="../elements/7dffffb8-5b40-4d50-b31f-aa4734c45650.html"  target="element">
				  		<area shape="rect" coords="898,22,1164,128" href="../elements/e76cf2a6-e0b8-48bd-87c3-f57a21ebd0f3.html"  target="element">
				  		<area shape="rect" coords="1284,20,1550,126" href="../elements/6eefce9d-fb62-400c-ab70-53a5286b5ad6.html"  target="element">
				  		<area shape="rect" coords="510,20,776,130" href="../elements/e5042891-5e6c-49d9-83f7-cc235c6fbc85.html"  target="element">
				  		<area shape="rect" coords="118,580,384,686" href="../elements/53043fe2-0cad-45d3-896c-1edaf83061fc.html"  target="element">
				  		<area shape="rect" coords="518,260,784,370" href="../elements/fe3711f9-c7f8-4fa0-ac0c-ce72717a6d2b.html"  target="element">
				  		<area shape="rect" coords="132,260,398,366" href="../elements/9f572aef-76d0-44cb-8c5d-af6d8650c8fb.html"  target="element">
				  		<area shape="rect" coords="532,446,772,846" href="../elements/65f60118-f81d-436b-8da0-cf5311a01361.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Metadatakatalog RA</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/65f60118-f81d-436b-8da0-cf5311a01361.html" target="element"> #Datasett </a> </td>
											    <td> <a href="../elements/65f60118-f81d-436b-8da0-cf5311a01361.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9f572aef-76d0-44cb-8c5d-af6d8650c8fb.html" target="element"> Aksesslogg </a> </td>
											    <td> <a href="../elements/9f572aef-76d0-44cb-8c5d-af6d8650c8fb.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fe3711f9-c7f8-4fa0-ac0c-ce72717a6d2b.html" target="element"> Dataaksesstjeneste </a> </td>
											    <td> <a href="../elements/fe3711f9-c7f8-4fa0-ac0c-ce72717a6d2b.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/53043fe2-0cad-45d3-896c-1edaf83061fc.html" target="element"> #Begrep </a> </td>
											    <td> <a href="../elements/53043fe2-0cad-45d3-896c-1edaf83061fc.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e5042891-5e6c-49d9-83f7-cc235c6fbc85.html" target="element"> Databehandlingsprosess </a> </td>
											    <td> <a href="../elements/e5042891-5e6c-49d9-83f7-cc235c6fbc85.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6eefce9d-fb62-400c-ab70-53a5286b5ad6.html" target="element"> Sporingsdata </a> </td>
											    <td> <a href="../elements/6eefce9d-fb62-400c-ab70-53a5286b5ad6.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e76cf2a6-e0b8-48bd-87c3-f57a21ebd0f3.html" target="element"> Kildesporingstjeneste </a> </td>
											    <td> <a href="../elements/e76cf2a6-e0b8-48bd-87c3-f57a21ebd0f3.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7dffffb8-5b40-4d50-b31f-aa4734c45650.html" target="element"> #Brukerrolle </a> </td>
											    <td> <a href="../elements/7dffffb8-5b40-4d50-b31f-aa4734c45650.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6f77bd84-f39a-4a89-a00d-fc8b5599f92c.html" target="element"> Datamodell </a> </td>
											    <td> <a href="../elements/6f77bd84-f39a-4a89-a00d-fc8b5599f92c.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/408c8f5f-cd92-42de-aed5-0a855fd83007.html" target="element"> #Applikasjon </a> </td>
											    <td> <a href="../elements/408c8f5f-cd92-42de-aed5-0a855fd83007.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/11b50dd1-527f-4ddc-a933-fd15fcb47643.html" target="element"> #Fysisk applikasjonsinstans </a> </td>
											    <td> <a href="../elements/11b50dd1-527f-4ddc-a933-fd15fcb47643.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/447aa8fa-f96d-440c-ab75-094560ff9636.html" target="element"> #Akt&#248;r (intern eller ekstern) </a> </td>
											    <td> <a href="../elements/447aa8fa-f96d-440c-ab75-094560ff9636.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0879c635-89a4-4b90-8493-a6aa798e53c5.html" target="element"> #Organisasjonsenhet </a> </td>
											    <td> <a href="../elements/0879c635-89a4-4b90-8493-a6aa798e53c5.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ffbd8f89-09f0-4840-88c1-55b57ffa87d6.html" target="element"> #Person </a> </td>
											    <td> <a href="../elements/ffbd8f89-09f0-4840-88c1-55b57ffa87d6.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/55ebd603-1ce8-447f-b651-d38dbc7e8b35.html" target="element"> Representasjon av datasett (eksempler) </a> </td>
											    <td> <a href="../elements/55ebd603-1ce8-447f-b651-d38dbc7e8b35.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/e84525a0-fa2e-4512-a625-e798dc3495dc.html" target="element"> Dokumentsamling </a> </td>
													    <td> <a href="../elements/e84525a0-fa2e-4512-a625-e798dc3495dc.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ddc33635-c2ed-4a64-8ae2-3141989d0556.html" target="element"> Datatabell </a> </td>
													    <td> <a href="../elements/ddc33635-c2ed-4a64-8ae2-3141989d0556.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0da68751-631f-4ae9-aba4-02404517092a.html" target="element"> Database </a> </td>
													    <td> <a href="../elements/0da68751-631f-4ae9-aba4-02404517092a.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c89e03cb-d70e-4878-ba53-7a3322bc05f2.html" target="element"> Dokument </a> </td>
													    <td> <a href="../elements/c89e03cb-d70e-4878-ba53-7a3322bc05f2.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/db1d9ce7-804a-40ab-96fa-656bd23ea9f6.html" target="element"> Avsnitt i dokument </a> </td>
													    <td> <a href="../elements/db1d9ce7-804a-40ab-96fa-656bd23ea9f6.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/6836732d-3b75-4e0c-8b58-804bfe42f091.html" target="element"> beskriver </a> </td>
																		<td> <a href="../elements/6836732d-3b75-4e0c-8b58-804bfe42f091.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/65f60118-f81d-436b-8da0-cf5311a01361.html" target="element"> #Datasett </a> </td>
																		<td> <a href="../elements/53043fe2-0cad-45d3-896c-1edaf83061fc.html" target="element"> #Begrep </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dc9a778c-d5e4-46e1-94c8-3747d91be498.html" target="element"> relasjon </a> </td>
																		<td> <a href="../elements/dc9a778c-d5e4-46e1-94c8-3747d91be498.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/65f60118-f81d-436b-8da0-cf5311a01361.html" target="element"> #Datasett </a> </td>
																		<td> <a href="../elements/65f60118-f81d-436b-8da0-cf5311a01361.html" target="element"> #Datasett </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f68c837c-71a7-408e-a7b2-65e56101d159.html" target="element"> hierarki </a> </td>
																		<td> <a href="../elements/f68c837c-71a7-408e-a7b2-65e56101d159.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/65f60118-f81d-436b-8da0-cf5311a01361.html" target="element"> #Datasett </a> </td>
																		<td> <a href="../elements/65f60118-f81d-436b-8da0-cf5311a01361.html" target="element"> #Datasett </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/514f17a6-dceb-4916-a16e-fd532ee66723.html" target="element"> datasett inn </a> </td>
																		<td> <a href="../elements/514f17a6-dceb-4916-a16e-fd532ee66723.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/fe3711f9-c7f8-4fa0-ac0c-ce72717a6d2b.html" target="element"> Dataaksesstjeneste </a> </td>
																		<td> <a href="../elements/e5042891-5e6c-49d9-83f7-cc235c6fbc85.html" target="element"> Databehandlingsprosess </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ab4fc2de-5c11-4d24-a22f-fb55022dc196.html" target="element"> tjener </a> </td>
																		<td> <a href="../elements/ab4fc2de-5c11-4d24-a22f-fb55022dc196.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/fe3711f9-c7f8-4fa0-ac0c-ce72717a6d2b.html" target="element"> Dataaksesstjeneste </a> </td>
																		<td> <a href="../elements/7dffffb8-5b40-4d50-b31f-aa4734c45650.html" target="element"> #Brukerrolle </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ca4e9a01-730e-4de2-b58a-38aa0d11cf48.html" target="element"> skriver </a> </td>
																		<td> <a href="../elements/ca4e9a01-730e-4de2-b58a-38aa0d11cf48.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/fe3711f9-c7f8-4fa0-ac0c-ce72717a6d2b.html" target="element"> Dataaksesstjeneste </a> </td>
																		<td> <a href="../elements/65f60118-f81d-436b-8da0-cf5311a01361.html" target="element"> #Datasett </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/983c1332-a065-4d4a-86c0-ec05427d4d01.html" target="element"> skriver </a> </td>
																		<td> <a href="../elements/983c1332-a065-4d4a-86c0-ec05427d4d01.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/fe3711f9-c7f8-4fa0-ac0c-ce72717a6d2b.html" target="element"> Dataaksesstjeneste </a> </td>
																		<td> <a href="../elements/9f572aef-76d0-44cb-8c5d-af6d8650c8fb.html" target="element"> Aksesslogg </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5e07354b-9478-4642-b22f-3a617f06971c.html" target="element"> leser </a> </td>
																		<td> <a href="../elements/5e07354b-9478-4642-b22f-3a617f06971c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/fe3711f9-c7f8-4fa0-ac0c-ce72717a6d2b.html" target="element"> Dataaksesstjeneste </a> </td>
																		<td> <a href="../elements/65f60118-f81d-436b-8da0-cf5311a01361.html" target="element"> #Datasett </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/bb892ecf-1a0f-4542-b0ef-c7af65f2c7f3.html" target="element"> hierarki </a> </td>
																		<td> <a href="../elements/bb892ecf-1a0f-4542-b0ef-c7af65f2c7f3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/53043fe2-0cad-45d3-896c-1edaf83061fc.html" target="element"> #Begrep </a> </td>
																		<td> <a href="../elements/53043fe2-0cad-45d3-896c-1edaf83061fc.html" target="element"> #Begrep </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6fc82cd6-b79a-48d0-9a4c-21ccfa9d02c9.html" target="element"> relasjon </a> </td>
																		<td> <a href="../elements/6fc82cd6-b79a-48d0-9a4c-21ccfa9d02c9.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/53043fe2-0cad-45d3-896c-1edaf83061fc.html" target="element"> #Begrep </a> </td>
																		<td> <a href="../elements/53043fe2-0cad-45d3-896c-1edaf83061fc.html" target="element"> #Begrep </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/108f0bf4-518f-44cb-80b9-13d665a98b60.html" target="element"> datasettt ut </a> </td>
																		<td> <a href="../elements/108f0bf4-518f-44cb-80b9-13d665a98b60.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/e5042891-5e6c-49d9-83f7-cc235c6fbc85.html" target="element"> Databehandlingsprosess </a> </td>
																		<td> <a href="../elements/fe3711f9-c7f8-4fa0-ac0c-ce72717a6d2b.html" target="element"> Dataaksesstjeneste </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/69e55bcd-ea20-4fe2-9c7e-ee9205ece74f.html" target="element"> tjener </a> </td>
																		<td> <a href="../elements/69e55bcd-ea20-4fe2-9c7e-ee9205ece74f.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/e76cf2a6-e0b8-48bd-87c3-f57a21ebd0f3.html" target="element"> Kildesporingstjeneste </a> </td>
																		<td> <a href="../elements/e5042891-5e6c-49d9-83f7-cc235c6fbc85.html" target="element"> Databehandlingsprosess </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/26a57d86-b771-42eb-95e0-6cd84e9ea5d9.html" target="element"> skriver </a> </td>
																		<td> <a href="../elements/26a57d86-b771-42eb-95e0-6cd84e9ea5d9.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/e76cf2a6-e0b8-48bd-87c3-f57a21ebd0f3.html" target="element"> Kildesporingstjeneste </a> </td>
																		<td> <a href="../elements/6eefce9d-fb62-400c-ab70-53a5286b5ad6.html" target="element"> Sporingsdata </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4847c54b-95fe-4314-8975-20c333bc19e4.html" target="element"> utf&#248;rer </a> </td>
																		<td> <a href="../elements/4847c54b-95fe-4314-8975-20c333bc19e4.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/7dffffb8-5b40-4d50-b31f-aa4734c45650.html" target="element"> #Brukerrolle </a> </td>
																		<td> <a href="../elements/e5042891-5e6c-49d9-83f7-cc235c6fbc85.html" target="element"> Databehandlingsprosess </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9b315e60-0b93-4fe7-aa2e-80a28a8c5c8b.html" target="element"> dokumenterer </a> </td>
																		<td> <a href="../elements/9b315e60-0b93-4fe7-aa2e-80a28a8c5c8b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/6f77bd84-f39a-4a89-a00d-fc8b5599f92c.html" target="element"> Datamodell </a> </td>
																		<td> <a href="../elements/53043fe2-0cad-45d3-896c-1edaf83061fc.html" target="element"> #Begrep </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/851f3933-c2f3-48a0-8a1e-0fc92f7d1b72.html" target="element"> realiserer </a> </td>
																		<td> <a href="../elements/851f3933-c2f3-48a0-8a1e-0fc92f7d1b72.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/408c8f5f-cd92-42de-aed5-0a855fd83007.html" target="element"> #Applikasjon </a> </td>
																		<td> <a href="../elements/e5042891-5e6c-49d9-83f7-cc235c6fbc85.html" target="element"> Databehandlingsprosess </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c9d8aff6-8f99-49c7-a7ee-0ecc46bf3a7c.html" target="element"> kan representere </a> </td>
																		<td> <a href="../elements/c9d8aff6-8f99-49c7-a7ee-0ecc46bf3a7c.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/408c8f5f-cd92-42de-aed5-0a855fd83007.html" target="element"> #Applikasjon </a> </td>
																		<td> <a href="../elements/447aa8fa-f96d-440c-ab75-094560ff9636.html" target="element"> #Akt&#248;r (intern eller ekstern) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a0ed780d-b68f-446d-aeb2-7770e190227d.html" target="element"> master </a> </td>
																		<td> <a href="../elements/a0ed780d-b68f-446d-aeb2-7770e190227d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/11b50dd1-527f-4ddc-a933-fd15fcb47643.html" target="element"> #Fysisk applikasjonsinstans </a> </td>
																		<td> <a href="../elements/65f60118-f81d-436b-8da0-cf5311a01361.html" target="element"> #Datasett </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f7148695-f4aa-4d0d-b492-27bb2bd3b0b8.html" target="element"> kopi </a> </td>
																		<td> <a href="../elements/f7148695-f4aa-4d0d-b492-27bb2bd3b0b8.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/11b50dd1-527f-4ddc-a933-fd15fcb47643.html" target="element"> #Fysisk applikasjonsinstans </a> </td>
																		<td> <a href="../elements/65f60118-f81d-436b-8da0-cf5311a01361.html" target="element"> #Datasett </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4d79f9a1-75e4-4496-8213-0dba6be82232.html" target="element"> realisert av </a> </td>
																		<td> <a href="../elements/4d79f9a1-75e4-4496-8213-0dba6be82232.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/11b50dd1-527f-4ddc-a933-fd15fcb47643.html" target="element"> #Fysisk applikasjonsinstans </a> </td>
																		<td> <a href="../elements/408c8f5f-cd92-42de-aed5-0a855fd83007.html" target="element"> #Applikasjon </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5cb43650-13c2-4ce0-905a-896dde054e89.html" target="element"> eier </a> </td>
																		<td> <a href="../elements/5cb43650-13c2-4ce0-905a-896dde054e89.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/447aa8fa-f96d-440c-ab75-094560ff9636.html" target="element"> #Akt&#248;r (intern eller ekstern) </a> </td>
																		<td> <a href="../elements/65f60118-f81d-436b-8da0-cf5311a01361.html" target="element"> #Datasett </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/715bc2f5-0913-4da9-aa8d-d68d824e24d6.html" target="element"> bruker </a> </td>
																		<td> <a href="../elements/715bc2f5-0913-4da9-aa8d-d68d824e24d6.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/447aa8fa-f96d-440c-ab75-094560ff9636.html" target="element"> #Akt&#248;r (intern eller ekstern) </a> </td>
																		<td> <a href="../elements/65f60118-f81d-436b-8da0-cf5311a01361.html" target="element"> #Datasett </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c354c17c-7de4-4ad6-91cd-0029afa20072.html" target="element"> omhandler </a> </td>
																		<td> <a href="../elements/c354c17c-7de4-4ad6-91cd-0029afa20072.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/447aa8fa-f96d-440c-ab75-094560ff9636.html" target="element"> #Akt&#248;r (intern eller ekstern) </a> </td>
																		<td> <a href="../elements/65f60118-f81d-436b-8da0-cf5311a01361.html" target="element"> #Datasett </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b7b333a4-7607-4cfe-8f6a-fab2be6c851b.html" target="element">  </a> </td>
																		<td> <a href="../elements/b7b333a4-7607-4cfe-8f6a-fab2be6c851b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/0879c635-89a4-4b90-8493-a6aa798e53c5.html" target="element"> #Organisasjonsenhet </a> </td>
																		<td> <a href="../elements/ffbd8f89-09f0-4840-88c1-55b57ffa87d6.html" target="element"> #Person </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ddfda47e-724b-4a47-858a-85e4ba222a8f.html" target="element"> kan v&#230;re </a> </td>
																		<td> <a href="../elements/ddfda47e-724b-4a47-858a-85e4ba222a8f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/0879c635-89a4-4b90-8493-a6aa798e53c5.html" target="element"> #Organisasjonsenhet </a> </td>
																		<td> <a href="../elements/447aa8fa-f96d-440c-ab75-094560ff9636.html" target="element"> #Akt&#248;r (intern eller ekstern) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2a8aa216-30a5-4990-88a3-5d9448b0077b.html" target="element"> tilordnet </a> </td>
																		<td> <a href="../elements/2a8aa216-30a5-4990-88a3-5d9448b0077b.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/ffbd8f89-09f0-4840-88c1-55b57ffa87d6.html" target="element"> #Person </a> </td>
																		<td> <a href="../elements/7dffffb8-5b40-4d50-b31f-aa4734c45650.html" target="element"> #Brukerrolle </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/927ac438-af9f-4153-bd0e-94a5cb2ad789.html" target="element"> kan v&#230;re </a> </td>
																		<td> <a href="../elements/927ac438-af9f-4153-bd0e-94a5cb2ad789.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/ffbd8f89-09f0-4840-88c1-55b57ffa87d6.html" target="element"> #Person </a> </td>
																		<td> <a href="../elements/447aa8fa-f96d-440c-ab75-094560ff9636.html" target="element"> #Akt&#248;r (intern eller ekstern) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/739bccca-1b71-413d-9abd-84f6096eb1a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/739bccca-1b71-413d-9abd-84f6096eb1a3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/55ebd603-1ce8-447f-b651-d38dbc7e8b35.html" target="element"> Representasjon av datasett (eksempler) </a> </td>
																		<td> <a href="../elements/c89e03cb-d70e-4878-ba53-7a3322bc05f2.html" target="element"> Dokument </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/435dd29f-e0aa-44bd-965a-e758e17b790d.html" target="element"> representerer </a> </td>
																		<td> <a href="../elements/435dd29f-e0aa-44bd-965a-e758e17b790d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/55ebd603-1ce8-447f-b651-d38dbc7e8b35.html" target="element"> Representasjon av datasett (eksempler) </a> </td>
																		<td> <a href="../elements/65f60118-f81d-436b-8da0-cf5311a01361.html" target="element"> #Datasett </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6a416752-d2b9-469b-a933-bf5a7088b42a.html" target="element">  </a> </td>
																		<td> <a href="../elements/6a416752-d2b9-469b-a933-bf5a7088b42a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/55ebd603-1ce8-447f-b651-d38dbc7e8b35.html" target="element"> Representasjon av datasett (eksempler) </a> </td>
																		<td> <a href="../elements/db1d9ce7-804a-40ab-96fa-656bd23ea9f6.html" target="element"> Avsnitt i dokument </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2fc4275e-0547-4749-8022-c5609784f0f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/2fc4275e-0547-4749-8022-c5609784f0f1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/55ebd603-1ce8-447f-b651-d38dbc7e8b35.html" target="element"> Representasjon av datasett (eksempler) </a> </td>
																		<td> <a href="../elements/e84525a0-fa2e-4512-a625-e798dc3495dc.html" target="element"> Dokumentsamling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/07593014-5578-4b8c-b5b5-b4473f042b2e.html" target="element">  </a> </td>
																		<td> <a href="../elements/07593014-5578-4b8c-b5b5-b4473f042b2e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/55ebd603-1ce8-447f-b651-d38dbc7e8b35.html" target="element"> Representasjon av datasett (eksempler) </a> </td>
																		<td> <a href="../elements/0da68751-631f-4ae9-aba4-02404517092a.html" target="element"> Database </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7fa7929c-e109-448e-a6a0-417597570a04.html" target="element">  </a> </td>
																		<td> <a href="../elements/7fa7929c-e109-448e-a6a0-417597570a04.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/55ebd603-1ce8-447f-b651-d38dbc7e8b35.html" target="element"> Representasjon av datasett (eksempler) </a> </td>
																		<td> <a href="../elements/ddc33635-c2ed-4a64-8ae2-3141989d0556.html" target="element"> Datatabell </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>