<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Abstraksjon eksempler</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Abstraksjon eksempler</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/3ea547a0-89f4-4e48-b068-4008ca824656.png" alt="Abstraksjon eksempler" usemap="#3ea547a0-89f4-4e48-b068-4008ca824656map"/>
			   <map name="3ea547a0-89f4-4e48-b068-4008ca824656map">
				  		<area shape="rect" coords="34,274,300,416" href="../elements/51b153fb-20e1-4462-b8fa-77e9019d525f.html"  target="element">
				  		<area shape="rect" coords="34,514,300,656" href="../elements/3e3118ae-0733-4bd8-adb8-24f37e69d645.html"  target="element">
				  		<area shape="rect" coords="20,20,286,162" href="../elements/45e6b381-fe67-4018-b586-66943cb351fb.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Abstraksjon eksempler</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap">nab_referanse_modelleringskonvensjoner</td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/45e6b381-fe67-4018-b586-66943cb351fb.html" target="element"> Spreadsheet </a> </td>
											    <td> <a href="../elements/45e6b381-fe67-4018-b586-66943cb351fb.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3e3118ae-0733-4bd8-adb8-24f37e69d645.html" target="element"> Excel on my laptop </a> </td>
											    <td> <a href="../elements/3e3118ae-0733-4bd8-adb8-24f37e69d645.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/51b153fb-20e1-4462-b8fa-77e9019d525f.html" target="element"> Excel </a> </td>
											    <td> <a href="../elements/51b153fb-20e1-4462-b8fa-77e9019d525f.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/6336a3fc-b38a-4122-9ae8-e5549dc18511.html" target="element">  </a> </td>
																		<td> <a href="../elements/6336a3fc-b38a-4122-9ae8-e5549dc18511.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/3e3118ae-0733-4bd8-adb8-24f37e69d645.html" target="element"> Excel on my laptop </a> </td>
																		<td> <a href="../elements/51b153fb-20e1-4462-b8fa-77e9019d525f.html" target="element"> Excel </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/91014238-9ce3-49b7-9b69-b0dea4ca445e.html" target="element">  </a> </td>
																		<td> <a href="../elements/91014238-9ce3-49b7-9b69-b0dea4ca445e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/51b153fb-20e1-4462-b8fa-77e9019d525f.html" target="element"> Excel </a> </td>
																		<td> <a href="../elements/45e6b381-fe67-4018-b586-66943cb351fb.html" target="element"> Spreadsheet </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>