<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Publisering av hendelser - tjenester </title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Publisering av hendelser - tjenester </b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/7f26cabd-a2e9-43bf-aa48-aba6e49a5bed.png" alt="Publisering av hendelser - tjenester " usemap="#7f26cabd-a2e9-43bf-aa48-aba6e49a5bedmap"/>
			   <map name="7f26cabd-a2e9-43bf-aa48-aba6e49a5bedmap">
				  		<area shape="rect" coords="1916,500,2182,642" href="../elements/6bda415f-5317-4bad-a336-ec80fa0f7493.html"  target="element">
				  				<area shape="rect" coords="1196,284,1462,426" href="../elements/5072d2ea-585e-412c-84cd-c1ebc4097b04.html"  target="element">
				  				<area shape="rect" coords="1196,452,1462,594" href="../elements/f506ea4c-a241-42d5-b8f6-aeb608be57de.html"  target="element">
				  				<area shape="rect" coords="1196,856,1462,998" href="../elements/2455ef80-72de-475d-ac62-fb5d407490b1.html"  target="element">
				  				<area shape="rect" coords="956,856,1148,998" href="../elements/328c0d81-9cc4-4d61-ad40-7fc0e5edac4e.html"  target="element">
				  				<area shape="rect" coords="1388,92,1654,234" href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html"  target="element">

				  		<area shape="rect" coords="908,20,1678,1174" href="../elements/484ed6c7-a0f3-4e2a-9e5a-942ad4769309.html"  target="element">
				  				<area shape="rect" coords="260,284,526,426" href="../elements/c3773faa-e8de-4157-b8ab-66ad17f306d6.html"  target="element">
				  				<area shape="rect" coords="572,284,764,426" href="../elements/ff6e1e26-9fee-4395-a9e6-78206188f732.html"  target="element">
				  				<area shape="rect" coords="260,1048,526,1190" href="../elements/7fa182f2-de8b-4802-980c-ee9bc77571a0.html"  target="element">
				  				<area shape="rect" coords="572,472,764,614" href="../elements/f8b92d0e-dc2a-473f-8083-8db0496d3450.html"  target="element">
				  				<area shape="rect" coords="260,856,526,998" href="../elements/a09757a2-11d0-4383-a124-edd00bdd65bd.html"  target="element">
				  				<area shape="rect" coords="260,664,526,806" href="../elements/ff9cf2de-34ab-4f4e-8c43-69696c233a1b.html"  target="element">
				  				<area shape="rect" coords="260,472,258,470" href="../elements/88df689e-6422-4b30-8ebc-7d1291fcc1aa.html"  target="element">
				  				<area shape="rect" coords="44,92,310,234" href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html"  target="element">

				  		<area shape="rect" coords="20,20,826,1222" href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Publisering - grunnleggende konsept</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap">nab_referanse_arkitekturer_datautveksling_publisering</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
											    <td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html" target="element"> Datatilbyders publiseringsl&#248;sning </a> </td>
													    <td> <a href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/88df689e-6422-4b30-8ebc-7d1291fcc1aa.html" target="element"> Tilbyders sp&#248;rretjeneste mot hendelsesliste </a> </td>
													    <td> <a href="../elements/88df689e-6422-4b30-8ebc-7d1291fcc1aa.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ff9cf2de-34ab-4f4e-8c43-69696c233a1b.html" target="element"> Abonnementstjeneste for filtrering av hendelsesliste </a> </td>
													    <td> <a href="../elements/ff9cf2de-34ab-4f4e-8c43-69696c233a1b.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a09757a2-11d0-4383-a124-edd00bdd65bd.html" target="element"> Abonnentstjeneste for levering av notifikasjoner </a> </td>
													    <td> <a href="../elements/a09757a2-11d0-4383-a124-edd00bdd65bd.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f8b92d0e-dc2a-473f-8083-8db0496d3450.html" target="element"> Grensesnitt for sp&#248;rring mot hendelsesliste </a> </td>
													    <td> <a href="../elements/f8b92d0e-dc2a-473f-8083-8db0496d3450.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7fa182f2-de8b-4802-980c-ee9bc77571a0.html" target="element"> Abonnementstjeneste for minimering av notifikasjoner </a> </td>
													    <td> <a href="../elements/7fa182f2-de8b-4802-980c-ee9bc77571a0.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ff6e1e26-9fee-4395-a9e6-78206188f732.html" target="element"> Grensesnitt for registrering av abonnement </a> </td>
													    <td> <a href="../elements/ff6e1e26-9fee-4395-a9e6-78206188f732.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c3773faa-e8de-4157-b8ab-66ad17f306d6.html" target="element"> Registrering av konsument av hendelsesliste </a> </td>
													    <td> <a href="../elements/c3773faa-e8de-4157-b8ab-66ad17f306d6.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/484ed6c7-a0f3-4e2a-9e5a-942ad4769309.html" target="element"> Konsument </a> </td>
											    <td> <a href="../elements/484ed6c7-a0f3-4e2a-9e5a-942ad4769309.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html" target="element"> Datakonsuments l&#248;sning for innhenting av publiserte data </a> </td>
													    <td> <a href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/328c0d81-9cc4-4d61-ad40-7fc0e5edac4e.html" target="element"> Grensesnitt for mottak av notifikasoner </a> </td>
													    <td> <a href="../elements/328c0d81-9cc4-4d61-ad40-7fc0e5edac4e.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2455ef80-72de-475d-ac62-fb5d407490b1.html" target="element"> Tjeneste for mottak av notifikasjoner </a> </td>
													    <td> <a href="../elements/2455ef80-72de-475d-ac62-fb5d407490b1.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f506ea4c-a241-42d5-b8f6-aeb608be57de.html" target="element"> Innhent notifikasjoner </a> </td>
													    <td> <a href="../elements/f506ea4c-a241-42d5-b8f6-aeb608be57de.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5072d2ea-585e-412c-84cd-c1ebc4097b04.html" target="element"> Tegn abonnement p&#229; notifikasjoner </a> </td>
													    <td> <a href="../elements/5072d2ea-585e-412c-84cd-c1ebc4097b04.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/6bda415f-5317-4bad-a336-ec80fa0f7493.html" target="element"> Hent nye notifikasjoner </a> </td>
											    <td> <a href="../elements/6bda415f-5317-4bad-a336-ec80fa0f7493.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/3bbf68f4-9ad2-4e72-83a3-db0e368d542d.html" target="element">  </a> </td>
																		<td> <a href="../elements/3bbf68f4-9ad2-4e72-83a3-db0e368d542d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
																		<td> <a href="../elements/c3773faa-e8de-4157-b8ab-66ad17f306d6.html" target="element"> Registrering av konsument av hendelsesliste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bf856d51-093a-4019-b381-fc15ec99c699.html" target="element">  </a> </td>
																		<td> <a href="../elements/bf856d51-093a-4019-b381-fc15ec99c699.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
																		<td> <a href="../elements/f8b92d0e-dc2a-473f-8083-8db0496d3450.html" target="element"> Grensesnitt for sp&#248;rring mot hendelsesliste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f8e1f13e-2d0a-499c-b684-4aa0e9327aa1.html" target="element">  </a> </td>
																		<td> <a href="../elements/f8e1f13e-2d0a-499c-b684-4aa0e9327aa1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
																		<td> <a href="../elements/a09757a2-11d0-4383-a124-edd00bdd65bd.html" target="element"> Abonnentstjeneste for levering av notifikasjoner </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/613358de-c321-409c-b8f5-3c7fae5ced32.html" target="element">  </a> </td>
																		<td> <a href="../elements/613358de-c321-409c-b8f5-3c7fae5ced32.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
																		<td> <a href="../elements/ff6e1e26-9fee-4395-a9e6-78206188f732.html" target="element"> Grensesnitt for registrering av abonnement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c6d6912b-32c9-43b6-8ef4-d65073e0a530.html" target="element">  </a> </td>
																		<td> <a href="../elements/c6d6912b-32c9-43b6-8ef4-d65073e0a530.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
																		<td> <a href="../elements/7fa182f2-de8b-4802-980c-ee9bc77571a0.html" target="element"> Abonnementstjeneste for minimering av notifikasjoner </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d63588f7-3b00-479b-98ac-e4811c602997.html" target="element">  </a> </td>
																		<td> <a href="../elements/d63588f7-3b00-479b-98ac-e4811c602997.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
																		<td> <a href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html" target="element"> Datatilbyders publiseringsl&#248;sning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6244dc0c-3dbd-4d98-87e9-3d20755ff495.html" target="element">  </a> </td>
																		<td> <a href="../elements/6244dc0c-3dbd-4d98-87e9-3d20755ff495.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
																		<td> <a href="../elements/ff9cf2de-34ab-4f4e-8c43-69696c233a1b.html" target="element"> Abonnementstjeneste for filtrering av hendelsesliste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1aa8b092-478d-4d12-a46d-82dda6f5d1eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/1aa8b092-478d-4d12-a46d-82dda6f5d1eb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
																		<td> <a href="../elements/88df689e-6422-4b30-8ebc-7d1291fcc1aa.html" target="element"> Tilbyders sp&#248;rretjeneste mot hendelsesliste </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/445cd0d4-624e-4339-ae30-fcecce1b20d7.html" target="element">  </a> </td>
																				<td> <a href="../elements/445cd0d4-624e-4339-ae30-fcecce1b20d7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html" target="element"> Datatilbyders publiseringsl&#248;sning </a> </td>
																				<td> <a href="../elements/ff9cf2de-34ab-4f4e-8c43-69696c233a1b.html" target="element"> Abonnementstjeneste for filtrering av hendelsesliste </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e3e71152-cd62-43f6-99dd-96f28726385f.html" target="element">  </a> </td>
																				<td> <a href="../elements/e3e71152-cd62-43f6-99dd-96f28726385f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html" target="element"> Datatilbyders publiseringsl&#248;sning </a> </td>
																				<td> <a href="../elements/c3773faa-e8de-4157-b8ab-66ad17f306d6.html" target="element"> Registrering av konsument av hendelsesliste </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/dbf0130c-bca6-454c-a911-a3ad3d2b381a.html" target="element">  </a> </td>
																				<td> <a href="../elements/dbf0130c-bca6-454c-a911-a3ad3d2b381a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html" target="element"> Datatilbyders publiseringsl&#248;sning </a> </td>
																				<td> <a href="../elements/7fa182f2-de8b-4802-980c-ee9bc77571a0.html" target="element"> Abonnementstjeneste for minimering av notifikasjoner </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e79148c7-8328-45fa-9b45-d6b2f8ff5014.html" target="element">  </a> </td>
																				<td> <a href="../elements/e79148c7-8328-45fa-9b45-d6b2f8ff5014.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html" target="element"> Datatilbyders publiseringsl&#248;sning </a> </td>
																				<td> <a href="../elements/88df689e-6422-4b30-8ebc-7d1291fcc1aa.html" target="element"> Tilbyders sp&#248;rretjeneste mot hendelsesliste </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b5d9595d-54d6-4f5a-a618-8a5af3fc00d9.html" target="element">  </a> </td>
																				<td> <a href="../elements/b5d9595d-54d6-4f5a-a618-8a5af3fc00d9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html" target="element"> Datatilbyders publiseringsl&#248;sning </a> </td>
																				<td> <a href="../elements/a09757a2-11d0-4383-a124-edd00bdd65bd.html" target="element"> Abonnentstjeneste for levering av notifikasjoner </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/568a7290-877f-486f-834b-f0bfd6498aff.html" target="element">  </a> </td>
																				<td> <a href="../elements/568a7290-877f-486f-834b-f0bfd6498aff.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/ff9cf2de-34ab-4f4e-8c43-69696c233a1b.html" target="element"> Abonnementstjeneste for filtrering av hendelsesliste </a> </td>
																				<td> <a href="../elements/88df689e-6422-4b30-8ebc-7d1291fcc1aa.html" target="element"> Tilbyders sp&#248;rretjeneste mot hendelsesliste </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/3958afe9-2019-48fe-9ad3-1a0c958963ee.html" target="element">  </a> </td>
																				<td> <a href="../elements/3958afe9-2019-48fe-9ad3-1a0c958963ee.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/ff9cf2de-34ab-4f4e-8c43-69696c233a1b.html" target="element"> Abonnementstjeneste for filtrering av hendelsesliste </a> </td>
																				<td> <a href="../elements/a09757a2-11d0-4383-a124-edd00bdd65bd.html" target="element"> Abonnentstjeneste for levering av notifikasjoner </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/9b528308-26bd-415f-9b8f-bab7d9511cb2.html" target="element"> notifikasjoner </a> </td>
																				<td> <a href="../elements/9b528308-26bd-415f-9b8f-bab7d9511cb2.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/a09757a2-11d0-4383-a124-edd00bdd65bd.html" target="element"> Abonnentstjeneste for levering av notifikasjoner </a> </td>
																				<td> <a href="../elements/328c0d81-9cc4-4d61-ad40-7fc0e5edac4e.html" target="element"> Grensesnitt for mottak av notifikasoner </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/d6aaab7c-6181-47d6-97a7-a9a49ee1d11d.html" target="element">  </a> </td>
																				<td> <a href="../elements/d6aaab7c-6181-47d6-97a7-a9a49ee1d11d.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/f8b92d0e-dc2a-473f-8083-8db0496d3450.html" target="element"> Grensesnitt for sp&#248;rring mot hendelsesliste </a> </td>
																				<td> <a href="../elements/88df689e-6422-4b30-8ebc-7d1291fcc1aa.html" target="element"> Tilbyders sp&#248;rretjeneste mot hendelsesliste </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/53265e1e-eb8a-4bbf-95e8-1f5525271341.html" target="element"> notifikasjoner </a> </td>
																				<td> <a href="../elements/53265e1e-eb8a-4bbf-95e8-1f5525271341.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/f8b92d0e-dc2a-473f-8083-8db0496d3450.html" target="element"> Grensesnitt for sp&#248;rring mot hendelsesliste </a> </td>
																				<td> <a href="../elements/f506ea4c-a241-42d5-b8f6-aeb608be57de.html" target="element"> Innhent notifikasjoner </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/b63788fd-029a-41a0-8f3a-b44273044a1a.html" target="element">  </a> </td>
																				<td> <a href="../elements/b63788fd-029a-41a0-8f3a-b44273044a1a.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/7fa182f2-de8b-4802-980c-ee9bc77571a0.html" target="element"> Abonnementstjeneste for minimering av notifikasjoner </a> </td>
																				<td> <a href="../elements/a09757a2-11d0-4383-a124-edd00bdd65bd.html" target="element"> Abonnentstjeneste for levering av notifikasjoner </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/b67ef136-6537-47d3-a739-0dbd4059bf22.html" target="element">  </a> </td>
																				<td> <a href="../elements/b67ef136-6537-47d3-a739-0dbd4059bf22.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/ff6e1e26-9fee-4395-a9e6-78206188f732.html" target="element"> Grensesnitt for registrering av abonnement </a> </td>
																				<td> <a href="../elements/c3773faa-e8de-4157-b8ab-66ad17f306d6.html" target="element"> Registrering av konsument av hendelsesliste </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/30e4b466-7768-4a7a-9896-8f481b93d766.html" target="element">  </a> </td>
																		<td> <a href="../elements/30e4b466-7768-4a7a-9896-8f481b93d766.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/484ed6c7-a0f3-4e2a-9e5a-942ad4769309.html" target="element"> Konsument </a> </td>
																		<td> <a href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html" target="element"> Datakonsuments l&#248;sning for innhenting av publiserte data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/15d70cfe-27c7-4f6d-a0af-9139f4405782.html" target="element">  </a> </td>
																		<td> <a href="../elements/15d70cfe-27c7-4f6d-a0af-9139f4405782.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/484ed6c7-a0f3-4e2a-9e5a-942ad4769309.html" target="element"> Konsument </a> </td>
																		<td> <a href="../elements/2455ef80-72de-475d-ac62-fb5d407490b1.html" target="element"> Tjeneste for mottak av notifikasjoner </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/538c4d3d-7c51-443c-bb4c-be2cbecbd5b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/538c4d3d-7c51-443c-bb4c-be2cbecbd5b6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/484ed6c7-a0f3-4e2a-9e5a-942ad4769309.html" target="element"> Konsument </a> </td>
																		<td> <a href="../elements/5072d2ea-585e-412c-84cd-c1ebc4097b04.html" target="element"> Tegn abonnement p&#229; notifikasjoner </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/21e792a5-1712-4bbf-a974-aea29d3b0af8.html" target="element">  </a> </td>
																		<td> <a href="../elements/21e792a5-1712-4bbf-a974-aea29d3b0af8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/484ed6c7-a0f3-4e2a-9e5a-942ad4769309.html" target="element"> Konsument </a> </td>
																		<td> <a href="../elements/f506ea4c-a241-42d5-b8f6-aeb608be57de.html" target="element"> Innhent notifikasjoner </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f7e1e770-fd8b-4865-aac7-2f9c63fa6acb.html" target="element">  </a> </td>
																		<td> <a href="../elements/f7e1e770-fd8b-4865-aac7-2f9c63fa6acb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/484ed6c7-a0f3-4e2a-9e5a-942ad4769309.html" target="element"> Konsument </a> </td>
																		<td> <a href="../elements/328c0d81-9cc4-4d61-ad40-7fc0e5edac4e.html" target="element"> Grensesnitt for mottak av notifikasoner </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/40812094-c2bd-4f99-a90a-b46c08bc980e.html" target="element">  </a> </td>
																				<td> <a href="../elements/40812094-c2bd-4f99-a90a-b46c08bc980e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html" target="element"> Datakonsuments l&#248;sning for innhenting av publiserte data </a> </td>
																				<td> <a href="../elements/5072d2ea-585e-412c-84cd-c1ebc4097b04.html" target="element"> Tegn abonnement p&#229; notifikasjoner </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/cfcd2c90-fe7b-4ade-aab8-62d867a3340c.html" target="element">  </a> </td>
																				<td> <a href="../elements/cfcd2c90-fe7b-4ade-aab8-62d867a3340c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html" target="element"> Datakonsuments l&#248;sning for innhenting av publiserte data </a> </td>
																				<td> <a href="../elements/f506ea4c-a241-42d5-b8f6-aeb608be57de.html" target="element"> Innhent notifikasjoner </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/493c4cdd-1b8e-45ac-9a77-6d855d15995d.html" target="element">  </a> </td>
																				<td> <a href="../elements/493c4cdd-1b8e-45ac-9a77-6d855d15995d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html" target="element"> Datakonsuments l&#248;sning for innhenting av publiserte data </a> </td>
																				<td> <a href="../elements/2455ef80-72de-475d-ac62-fb5d407490b1.html" target="element"> Tjeneste for mottak av notifikasjoner </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/af899588-a32b-4a80-b4f1-785be2e80c4b.html" target="element">  </a> </td>
																				<td> <a href="../elements/af899588-a32b-4a80-b4f1-785be2e80c4b.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/328c0d81-9cc4-4d61-ad40-7fc0e5edac4e.html" target="element"> Grensesnitt for mottak av notifikasoner </a> </td>
																				<td> <a href="../elements/2455ef80-72de-475d-ac62-fb5d407490b1.html" target="element"> Tjeneste for mottak av notifikasjoner </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/480804ea-730d-4541-861a-1f4ce4a98537.html" target="element"> spesifikasjon av abonnement </a> </td>
																				<td> <a href="../elements/480804ea-730d-4541-861a-1f4ce4a98537.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/5072d2ea-585e-412c-84cd-c1ebc4097b04.html" target="element"> Tegn abonnement p&#229; notifikasjoner </a> </td>
																				<td> <a href="../elements/ff6e1e26-9fee-4395-a9e6-78206188f732.html" target="element"> Grensesnitt for registrering av abonnement </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>