<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Konsumer notifikasjoner</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Konsumer notifikasjoner</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/81d1b632-fd5b-48ec-aed5-373ae1906462.png" alt="Konsumer notifikasjoner" usemap="#81d1b632-fd5b-48ec-aed5-373ae1906462map"/>
			   <map name="81d1b632-fd5b-48ec-aed5-373ae1906462map">
				  		<area shape="rect" coords="308,716,306,714" href="../elements/88df689e-6422-4b30-8ebc-7d1291fcc1aa.html"  target="element">
				  		<area shape="rect" coords="596,716,862,858" href="../elements/0c051f18-03b6-4561-a6d8-a77912e4686c.html"  target="element">
				  		<area shape="rect" coords="884,716,1150,858" href="../elements/e9551f98-52fb-4cdc-a398-59a3521ebbc0.html"  target="element">
				  		<area shape="rect" coords="668,20,934,162" href="../elements/a4d79329-b530-434a-b189-065c7fd78b8a.html"  target="element">
				  		<area shape="rect" coords="980,20,1246,162" href="../elements/499f4dbd-327a-41b1-adba-5ec7761f3c45.html"  target="element">
				  		<area shape="rect" coords="356,20,622,162" href="../elements/3ef9a487-e887-4c23-ab2b-55e72ad3a470.html"  target="element">
				  				<area shape="rect" coords="1172,436,1202,466" href="../elements/3649770c-201c-44eb-885a-e5bd198c58c8.html"  target="element">
				  				<area shape="rect" coords="1316,296,1582,438" href="../elements/1de861c5-c277-4de5-8c9c-6aa05395487f.html"  target="element">
				  				<area shape="rect" coords="1316,464,1582,606" href="../elements/1993b47a-42b9-439f-9b67-89e83a67caf4.html"  target="element">
				  				<area shape="rect" coords="836,380,1102,522" href="../elements/9048eafd-fa2d-4e84-be59-b45a331afc87.html"  target="element">
				  				<area shape="rect" coords="476,380,742,522" href="../elements/ea911e87-31ee-4524-bb56-ae6d5074e99a.html"  target="element">

				  		<area shape="rect" coords="428,236,1654,646" href="../elements/b2c25750-d5b8-40c1-9f59-c1b3c3734e64.html"  target="element">
				  		<area shape="rect" coords="20,188,286,330" href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html"  target="element">
				  		<area shape="rect" coords="20,370,286,512" href="../elements/31744d3b-24e7-47ad-ae94-4eb2daa7c14d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Innhent notifikasjoner (arkitekturm&#248;nster)</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap">nab_referanse_arkitekturer_datautveksling_publisering</td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/31744d3b-24e7-47ad-ae94-4eb2daa7c14d.html" target="element"> Innhente og h&#229;ndtere notifikasjoner </a> </td>
											    <td> <a href="../elements/31744d3b-24e7-47ad-ae94-4eb2daa7c14d.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
											    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b2c25750-d5b8-40c1-9f59-c1b3c3734e64.html" target="element"> Konsumer notifikasjoner </a> </td>
											    <td> <a href="../elements/b2c25750-d5b8-40c1-9f59-c1b3c3734e64.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/ea911e87-31ee-4524-bb56-ae6d5074e99a.html" target="element"> Foresp&#248;r og motta notifikasjoner </a> </td>
													    <td> <a href="../elements/ea911e87-31ee-4524-bb56-ae6d5074e99a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9048eafd-fa2d-4e84-be59-b45a331afc87.html" target="element"> Vurder relevans av notifikasjon </a> </td>
													    <td> <a href="../elements/9048eafd-fa2d-4e84-be59-b45a331afc87.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1993b47a-42b9-439f-9b67-89e83a67caf4.html" target="element"> Forkast notifikasjon </a> </td>
													    <td> <a href="../elements/1993b47a-42b9-439f-9b67-89e83a67caf4.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1de861c5-c277-4de5-8c9c-6aa05395487f.html" target="element"> Videre behandling av notifikasjon </a> </td>
													    <td> <a href="../elements/1de861c5-c277-4de5-8c9c-6aa05395487f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3649770c-201c-44eb-885a-e5bd198c58c8.html" target="element"> Junction </a> </td>
													    <td> <a href="../elements/3649770c-201c-44eb-885a-e5bd198c58c8.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/3ef9a487-e887-4c23-ab2b-55e72ad3a470.html" target="element"> Foresp&#248;rsel om notifikasjoner </a> </td>
											    <td> <a href="../elements/3ef9a487-e887-4c23-ab2b-55e72ad3a470.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/499f4dbd-327a-41b1-adba-5ec7761f3c45.html" target="element"> Kriterier og regler for &#229; vurdere relevans av notifikasjoner </a> </td>
											    <td> <a href="../elements/499f4dbd-327a-41b1-adba-5ec7761f3c45.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a4d79329-b530-434a-b189-065c7fd78b8a.html" target="element"> Notifikasjon </a> </td>
											    <td> <a href="../elements/a4d79329-b530-434a-b189-065c7fd78b8a.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e9551f98-52fb-4cdc-a398-59a3521ebbc0.html" target="element"> Konsuments filtrerings- og minimeringstjeneste </a> </td>
											    <td> <a href="../elements/e9551f98-52fb-4cdc-a398-59a3521ebbc0.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0c051f18-03b6-4561-a6d8-a77912e4686c.html" target="element"> Datautvekslings-tjeneste </a> </td>
											    <td> <a href="../elements/0c051f18-03b6-4561-a6d8-a77912e4686c.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/88df689e-6422-4b30-8ebc-7d1291fcc1aa.html" target="element"> Tilbyders sp&#248;rretjeneste mot hendelsesliste </a> </td>
											    <td> <a href="../elements/88df689e-6422-4b30-8ebc-7d1291fcc1aa.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/2268f6ed-caf5-4d47-a16a-222948efdd4d.html" target="element">  </a> </td>
																		<td> <a href="../elements/2268f6ed-caf5-4d47-a16a-222948efdd4d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																		<td> <a href="../elements/31744d3b-24e7-47ad-ae94-4eb2daa7c14d.html" target="element"> Innhente og h&#229;ndtere notifikasjoner </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/60a5463c-fed4-49b3-a751-f209d6d22cb5.html" target="element">  </a> </td>
																		<td> <a href="../elements/60a5463c-fed4-49b3-a751-f209d6d22cb5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/b2c25750-d5b8-40c1-9f59-c1b3c3734e64.html" target="element"> Konsumer notifikasjoner </a> </td>
																		<td> <a href="../elements/ea911e87-31ee-4524-bb56-ae6d5074e99a.html" target="element"> Foresp&#248;r og motta notifikasjoner </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f613a0c1-318e-4c95-bfa0-8b125f08702a.html" target="element">  </a> </td>
																		<td> <a href="../elements/f613a0c1-318e-4c95-bfa0-8b125f08702a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/b2c25750-d5b8-40c1-9f59-c1b3c3734e64.html" target="element"> Konsumer notifikasjoner </a> </td>
																		<td> <a href="../elements/1de861c5-c277-4de5-8c9c-6aa05395487f.html" target="element"> Videre behandling av notifikasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fd0982ad-3feb-417e-b380-8f9412219d5d.html" target="element">  </a> </td>
																		<td> <a href="../elements/fd0982ad-3feb-417e-b380-8f9412219d5d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/b2c25750-d5b8-40c1-9f59-c1b3c3734e64.html" target="element"> Konsumer notifikasjoner </a> </td>
																		<td> <a href="../elements/1993b47a-42b9-439f-9b67-89e83a67caf4.html" target="element"> Forkast notifikasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d36aede4-67c3-4abf-926b-c39cb8a5093a.html" target="element"> realiserer </a> </td>
																		<td> <a href="../elements/d36aede4-67c3-4abf-926b-c39cb8a5093a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/b2c25750-d5b8-40c1-9f59-c1b3c3734e64.html" target="element"> Konsumer notifikasjoner </a> </td>
																		<td> <a href="../elements/31744d3b-24e7-47ad-ae94-4eb2daa7c14d.html" target="element"> Innhente og h&#229;ndtere notifikasjoner </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/43b48b5e-4450-44cf-808d-4060b6620751.html" target="element">  </a> </td>
																		<td> <a href="../elements/43b48b5e-4450-44cf-808d-4060b6620751.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/b2c25750-d5b8-40c1-9f59-c1b3c3734e64.html" target="element"> Konsumer notifikasjoner </a> </td>
																		<td> <a href="../elements/9048eafd-fa2d-4e84-be59-b45a331afc87.html" target="element"> Vurder relevans av notifikasjon </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/a774b9c7-5b0b-41b9-8137-bcbd058f46bb.html" target="element">  </a> </td>
																				<td> <a href="../elements/a774b9c7-5b0b-41b9-8137-bcbd058f46bb.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/ea911e87-31ee-4524-bb56-ae6d5074e99a.html" target="element"> Foresp&#248;r og motta notifikasjoner </a> </td>
																				<td> <a href="../elements/a4d79329-b530-434a-b189-065c7fd78b8a.html" target="element"> Notifikasjon </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f39f7599-bd64-42f1-93b6-e1054f5e543b.html" target="element">  </a> </td>
																				<td> <a href="../elements/f39f7599-bd64-42f1-93b6-e1054f5e543b.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/ea911e87-31ee-4524-bb56-ae6d5074e99a.html" target="element"> Foresp&#248;r og motta notifikasjoner </a> </td>
																				<td> <a href="../elements/3ef9a487-e887-4c23-ab2b-55e72ad3a470.html" target="element"> Foresp&#248;rsel om notifikasjoner </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/01cf201b-f907-4977-884f-86233f2322e9.html" target="element">  </a> </td>
																				<td> <a href="../elements/01cf201b-f907-4977-884f-86233f2322e9.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/ea911e87-31ee-4524-bb56-ae6d5074e99a.html" target="element"> Foresp&#248;r og motta notifikasjoner </a> </td>
																				<td> <a href="../elements/9048eafd-fa2d-4e84-be59-b45a331afc87.html" target="element"> Vurder relevans av notifikasjon </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/e7f446fd-2a1b-49a8-aea4-3aead12d09a3.html" target="element">  </a> </td>
																				<td> <a href="../elements/e7f446fd-2a1b-49a8-aea4-3aead12d09a3.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/9048eafd-fa2d-4e84-be59-b45a331afc87.html" target="element"> Vurder relevans av notifikasjon </a> </td>
																				<td> <a href="../elements/a4d79329-b530-434a-b189-065c7fd78b8a.html" target="element"> Notifikasjon </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/3eeb1430-f662-4c4f-8e81-21de0f5be292.html" target="element">  </a> </td>
																				<td> <a href="../elements/3eeb1430-f662-4c4f-8e81-21de0f5be292.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/9048eafd-fa2d-4e84-be59-b45a331afc87.html" target="element"> Vurder relevans av notifikasjon </a> </td>
																				<td> <a href="../elements/499f4dbd-327a-41b1-adba-5ec7761f3c45.html" target="element"> Kriterier og regler for &#229; vurdere relevans av notifikasjoner </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/bf3dd518-4e38-4bef-ba00-c89301dcdd20.html" target="element">  </a> </td>
																				<td> <a href="../elements/bf3dd518-4e38-4bef-ba00-c89301dcdd20.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/9048eafd-fa2d-4e84-be59-b45a331afc87.html" target="element"> Vurder relevans av notifikasjon </a> </td>
																				<td> <a href="../elements/3649770c-201c-44eb-885a-e5bd198c58c8.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/5da1abe8-fb7c-4bcf-8927-2b75fca02a66.html" target="element">  </a> </td>
																				<td> <a href="../elements/5da1abe8-fb7c-4bcf-8927-2b75fca02a66.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/3649770c-201c-44eb-885a-e5bd198c58c8.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/1993b47a-42b9-439f-9b67-89e83a67caf4.html" target="element"> Forkast notifikasjon </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/066d91f8-fc20-4d21-b909-a886395d5c65.html" target="element">  </a> </td>
																				<td> <a href="../elements/066d91f8-fc20-4d21-b909-a886395d5c65.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/3649770c-201c-44eb-885a-e5bd198c58c8.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/1de861c5-c277-4de5-8c9c-6aa05395487f.html" target="element"> Videre behandling av notifikasjon </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/725d0546-90dc-43f9-b89c-f0dc4ae1a1b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/725d0546-90dc-43f9-b89c-f0dc4ae1a1b9.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/e9551f98-52fb-4cdc-a398-59a3521ebbc0.html" target="element"> Konsuments filtrerings- og minimeringstjeneste </a> </td>
																		<td> <a href="../elements/9048eafd-fa2d-4e84-be59-b45a331afc87.html" target="element"> Vurder relevans av notifikasjon </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/26b82cbf-9472-4f10-902a-0680ee03d64c.html" target="element">  </a> </td>
																		<td> <a href="../elements/26b82cbf-9472-4f10-902a-0680ee03d64c.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/0c051f18-03b6-4561-a6d8-a77912e4686c.html" target="element"> Datautvekslings-tjeneste </a> </td>
																		<td> <a href="../elements/ea911e87-31ee-4524-bb56-ae6d5074e99a.html" target="element"> Foresp&#248;r og motta notifikasjoner </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/65d9629a-2184-4d9e-a86b-3bc794c5ed6b.html" target="element">  </a> </td>
																		<td> <a href="../elements/65d9629a-2184-4d9e-a86b-3bc794c5ed6b.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/88df689e-6422-4b30-8ebc-7d1291fcc1aa.html" target="element"> Tilbyders sp&#248;rretjeneste mot hendelsesliste </a> </td>
																		<td> <a href="../elements/ea911e87-31ee-4524-bb56-ae6d5074e99a.html" target="element"> Foresp&#248;r og motta notifikasjoner </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>