<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Push-basert distribusjon av notifikasjoner (old)</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Push-basert distribusjon av notifikasjoner (old)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/8a25e3ec-b3e7-4b94-af70-a3217d685a37.png" alt="Push-basert distribusjon av notifikasjoner (old)" usemap="#8a25e3ec-b3e7-4b94-af70-a3217d685a37map"/>
			   <map name="8a25e3ec-b3e7-4b94-af70-a3217d685a37map">
				  		<area shape="rect" coords="858,20,1124,162" href="../elements/a78bf9f0-ef86-4b42-b908-545afa46e6b3.html"  target="element">
				  		<area shape="rect" coords="20,20,286,162" href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html"  target="element">
				  		<area shape="rect" coords="374,428,596,570" href="../elements/4fa0989a-9afb-43a6-a34d-236dcaf4e022.html"  target="element">
				  		<area shape="rect" coords="594,260,784,402" href="../elements/f3c19521-6949-45c3-8eb0-f81a8d0b2ac0.html"  target="element">
				  		<area shape="rect" coords="20,260,286,598" href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html"  target="element">
				  		<area shape="rect" coords="858,260,1124,622" href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Pub-Sub Pattern</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap">nab_referanse_arkitekturer_datautveksling_publisering</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html" target="element"> Datakonsuments l&#248;sning for innhenting av publiserte data </a> </td>
											    <td> <a href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html" target="element"> Datatilbyders publiseringsl&#248;sning </a> </td>
											    <td> <a href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f3c19521-6949-45c3-8eb0-f81a8d0b2ac0.html" target="element">  Konsumentens meldingsk&#248; </a> </td>
											    <td> <a href="../elements/f3c19521-6949-45c3-8eb0-f81a8d0b2ac0.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4fa0989a-9afb-43a6-a34d-236dcaf4e022.html" target="element"> API for lesing av hendelsesdata </a> </td>
											    <td> <a href="../elements/4fa0989a-9afb-43a6-a34d-236dcaf4e022.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
											    <td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a78bf9f0-ef86-4b42-b908-545afa46e6b3.html" target="element"> Datakonsumenter </a> </td>
											    <td> <a href="../elements/a78bf9f0-ef86-4b42-b908-545afa46e6b3.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/ef6c8754-f350-46e0-9479-4ff863e18452.html" target="element"> foresp&#248;rsel om  suppelrende data </a> </td>
																		<td> <a href="../elements/ef6c8754-f350-46e0-9479-4ff863e18452.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html" target="element"> Datakonsuments l&#248;sning for innhenting av publiserte data </a> </td>
																		<td> <a href="../elements/4fa0989a-9afb-43a6-a34d-236dcaf4e022.html" target="element"> API for lesing av hendelsesdata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ab124f85-43bd-4695-bbc2-8aca2209c5ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/ab124f85-43bd-4695-bbc2-8aca2209c5ca.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html" target="element"> Datakonsuments l&#248;sning for innhenting av publiserte data </a> </td>
																		<td> <a href="../elements/f3c19521-6949-45c3-8eb0-f81a8d0b2ac0.html" target="element">  Konsumentens meldingsk&#248; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e6f53948-664f-4543-bb97-a5c448ae5f97.html" target="element"> tjener </a> </td>
																		<td> <a href="../elements/e6f53948-664f-4543-bb97-a5c448ae5f97.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html" target="element"> Datakonsuments l&#248;sning for innhenting av publiserte data </a> </td>
																		<td> <a href="../elements/a78bf9f0-ef86-4b42-b908-545afa46e6b3.html" target="element"> Datakonsumenter </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5ecd67f1-5a6c-4e25-83f3-ecbfa25bb8c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/5ecd67f1-5a6c-4e25-83f3-ecbfa25bb8c6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html" target="element"> Datatilbyders publiseringsl&#248;sning </a> </td>
																		<td> <a href="../elements/4fa0989a-9afb-43a6-a34d-236dcaf4e022.html" target="element"> API for lesing av hendelsesdata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8b393849-384c-4188-adde-dc907b6da1f0.html" target="element"> tjener </a> </td>
																		<td> <a href="../elements/8b393849-384c-4188-adde-dc907b6da1f0.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html" target="element"> Datatilbyders publiseringsl&#248;sning </a> </td>
																		<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/41b36077-9964-4ab8-8a7c-75bdfa249715.html" target="element"> notifikasjoner </a> </td>
																		<td> <a href="../elements/41b36077-9964-4ab8-8a7c-75bdfa249715.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html" target="element"> Datatilbyders publiseringsl&#248;sning </a> </td>
																		<td> <a href="../elements/f3c19521-6949-45c3-8eb0-f81a8d0b2ac0.html" target="element">  Konsumentens meldingsk&#248; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/387aa096-d658-433c-adac-8b508a3703de.html" target="element"> supplerende hendelsesrelaterte data </a> </td>
																		<td> <a href="../elements/387aa096-d658-433c-adac-8b508a3703de.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/4fa0989a-9afb-43a6-a34d-236dcaf4e022.html" target="element"> API for lesing av hendelsesdata </a> </td>
																		<td> <a href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html" target="element"> Datakonsuments l&#248;sning for innhenting av publiserte data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3353b347-277b-4e19-88ed-c249e6608ceb.html" target="element"> notifikasjoner </a> </td>
																		<td> <a href="../elements/3353b347-277b-4e19-88ed-c249e6608ceb.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																		<td> <a href="../elements/a78bf9f0-ef86-4b42-b908-545afa46e6b3.html" target="element"> Datakonsumenter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/985cc05e-cf51-4655-a57a-af9ae3f68610.html" target="element"> supplerende hendelsesrelaterte data </a> </td>
																		<td> <a href="../elements/985cc05e-cf51-4655-a57a-af9ae3f68610.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																		<td> <a href="../elements/a78bf9f0-ef86-4b42-b908-545afa46e6b3.html" target="element"> Datakonsumenter </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>