<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Del og innhent data, verdistrøm</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Del og innhent data, verdistr&#248;m</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/9aa92583-a5d4-484b-a630-e2f17380fb24.png" alt="Del og innhent data, verdistrøm" usemap="#9aa92583-a5d4-484b-a630-e2f17380fb24map"/>
			   <map name="9aa92583-a5d4-484b-a630-e2f17380fb24map">
				  						<area shape="rect" coords="1820,164,2086,306" href="../elements/b2068051-d925-4b18-bd1d-041fb13dab0e.html"  target="element">
				  						<area shape="rect" coords="212,164,478,306" href="../elements/178ac47e-a90a-464a-b5ab-bcd8b32711f0.html"  target="element">
				  						<area shape="rect" coords="1196,164,1462,306" href="../elements/81b892ad-996b-457b-996b-61a703e00163.html"  target="element">
				  						<area shape="rect" coords="1508,164,1774,306" href="../elements/b4a85e18-c56e-4b50-8668-143456431d30.html"  target="element">
				  						<area shape="rect" coords="860,164,1136,306" href="../elements/8e0eaa98-6e80-48db-8fd4-082d3d76657b.html"  target="element">
				  						<area shape="rect" coords="524,164,800,306" href="../elements/d233406e-155a-486f-85bf-b90532646809.html"  target="element">

				  				<area shape="rect" coords="68,92,2158,382" href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html"  target="element">

				  		<area shape="rect" coords="20,20,2206,406" href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html"  target="element">
				  						<area shape="rect" coords="1820,620,2086,762" href="../elements/e2918936-f92d-4a37-909b-42449fd53394.html"  target="element">
				  						<area shape="rect" coords="212,620,478,762" href="../elements/5cfefe08-dff1-4c75-a578-6529c3522668.html"  target="element">
				  						<area shape="rect" coords="860,620,1126,762" href="../elements/fdf2d880-a2ef-426b-80ae-65c25e451224.html"  target="element">
				  						<area shape="rect" coords="1196,620,1472,762" href="../elements/46d5fe6f-626d-4622-9509-e60361b6b39d.html"  target="element">
				  						<area shape="rect" coords="1508,620,1774,762" href="../elements/16157c6d-8024-4106-b7db-59cfc6717745.html"  target="element">
				  						<area shape="rect" coords="524,620,800,762" href="../elements/9b48e823-8b63-4f78-8c8e-4dd2dbd578d0.html"  target="element">

				  				<area shape="rect" coords="68,548,2158,838" href="../elements/d418f50e-a146-4a27-bb12-a9ae8cfc4b4d.html"  target="element">

				  		<area shape="rect" coords="20,476,2206,862" href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Overordnet verdistr&#248;m for deling av data </td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap">nab_arkitekturlandskap_segmentarkitektur_datadeling_verdistr&#248;mmer</td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
											    <td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d418f50e-a146-4a27-bb12-a9ae8cfc4b4d.html" target="element"> Del  data </a> </td>
													    <td> <a href="../elements/d418f50e-a146-4a27-bb12-a9ae8cfc4b4d.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/9b48e823-8b63-4f78-8c8e-4dd2dbd578d0.html" target="element"> Tilrettelegg for dataoppdagelse og datadeling </a> </td>
															    <td> <a href="../elements/9b48e823-8b63-4f78-8c8e-4dd2dbd578d0.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/16157c6d-8024-4106-b7db-59cfc6717745.html" target="element"> Del data </a> </td>
															    <td> <a href="../elements/16157c6d-8024-4106-b7db-59cfc6717745.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/46d5fe6f-626d-4622-9509-e60361b6b39d.html" target="element"> Sett opp avtaler, l&#248;sninger og tilganger etter henvendelse </a> </td>
															    <td> <a href="../elements/46d5fe6f-626d-4622-9509-e60361b6b39d.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/fdf2d880-a2ef-426b-80ae-65c25e451224.html" target="element"> Motta henvendelser om datadeling </a> </td>
															    <td> <a href="../elements/fdf2d880-a2ef-426b-80ae-65c25e451224.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/5cfefe08-dff1-4c75-a578-6529c3522668.html" target="element"> Ta rede p&#229; egne data og krav til datadeling </a> </td>
															    <td> <a href="../elements/5cfefe08-dff1-4c75-a578-6529c3522668.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/e2918936-f92d-4a37-909b-42449fd53394.html" target="element"> Forbedre l&#248;sninger, sikkerhet og datakvalitet (tilbyder) </a> </td>
															    <td> <a href="../elements/e2918936-f92d-4a37-909b-42449fd53394.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
											    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html" target="element"> Innhent data </a> </td>
													    <td> <a href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/d233406e-155a-486f-85bf-b90532646809.html" target="element"> Oppdag data og datakilder </a> </td>
															    <td> <a href="../elements/d233406e-155a-486f-85bf-b90532646809.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/8e0eaa98-6e80-48db-8fd4-082d3d76657b.html" target="element"> Be  om tilganger og abonnementer </a> </td>
															    <td> <a href="../elements/8e0eaa98-6e80-48db-8fd4-082d3d76657b.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/b4a85e18-c56e-4b50-8668-143456431d30.html" target="element"> Foresp&#248;r og motta data </a> </td>
															    <td> <a href="../elements/b4a85e18-c56e-4b50-8668-143456431d30.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/81b892ad-996b-457b-996b-61a703e00163.html" target="element"> Etabler avtaler og l&#248;sninger for datainnhenting </a> </td>
															    <td> <a href="../elements/81b892ad-996b-457b-996b-61a703e00163.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/178ac47e-a90a-464a-b5ab-bcd8b32711f0.html" target="element"> Ta rede p&#229; behov for innhenting av data </a> </td>
															    <td> <a href="../elements/178ac47e-a90a-464a-b5ab-bcd8b32711f0.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/b2068051-d925-4b18-bd1d-041fb13dab0e.html" target="element"> Forbedre l&#248;sninger, sikkerhet og datakvalitet (konsument) </a> </td>
															    <td> <a href="../elements/b2068051-d925-4b18-bd1d-041fb13dab0e.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/64d439fa-79b5-48c2-a4d3-017a6732d3cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/64d439fa-79b5-48c2-a4d3-017a6732d3cc.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																		<td> <a href="../elements/d418f50e-a146-4a27-bb12-a9ae8cfc4b4d.html" target="element"> Del  data </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/d0668e3e-a25d-4ea9-a7dd-4471d0006c6f.html" target="element">  </a> </td>
																				<td> <a href="../elements/d0668e3e-a25d-4ea9-a7dd-4471d0006c6f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/d418f50e-a146-4a27-bb12-a9ae8cfc4b4d.html" target="element"> Del  data </a> </td>
																				<td> <a href="../elements/16157c6d-8024-4106-b7db-59cfc6717745.html" target="element"> Del data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/28b8a5c3-7f8c-400c-9f08-0ea1aa371e14.html" target="element">  </a> </td>
																				<td> <a href="../elements/28b8a5c3-7f8c-400c-9f08-0ea1aa371e14.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/d418f50e-a146-4a27-bb12-a9ae8cfc4b4d.html" target="element"> Del  data </a> </td>
																				<td> <a href="../elements/e2918936-f92d-4a37-909b-42449fd53394.html" target="element"> Forbedre l&#248;sninger, sikkerhet og datakvalitet (tilbyder) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/059d63a5-89f4-4aca-91ca-a44521b75060.html" target="element">  </a> </td>
																				<td> <a href="../elements/059d63a5-89f4-4aca-91ca-a44521b75060.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/d418f50e-a146-4a27-bb12-a9ae8cfc4b4d.html" target="element"> Del  data </a> </td>
																				<td> <a href="../elements/46d5fe6f-626d-4622-9509-e60361b6b39d.html" target="element"> Sett opp avtaler, l&#248;sninger og tilganger etter henvendelse </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/a68d8863-9f23-4e97-8eea-388e07d8ff10.html" target="element">  </a> </td>
																				<td> <a href="../elements/a68d8863-9f23-4e97-8eea-388e07d8ff10.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/d418f50e-a146-4a27-bb12-a9ae8cfc4b4d.html" target="element"> Del  data </a> </td>
																				<td> <a href="../elements/9b48e823-8b63-4f78-8c8e-4dd2dbd578d0.html" target="element"> Tilrettelegg for dataoppdagelse og datadeling </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/38734893-9b9a-40b3-818a-133e2d4e55eb.html" target="element">  </a> </td>
																				<td> <a href="../elements/38734893-9b9a-40b3-818a-133e2d4e55eb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/d418f50e-a146-4a27-bb12-a9ae8cfc4b4d.html" target="element"> Del  data </a> </td>
																				<td> <a href="../elements/fdf2d880-a2ef-426b-80ae-65c25e451224.html" target="element"> Motta henvendelser om datadeling </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/aba74bd4-ed12-4ed8-b724-76a2c4c775fe.html" target="element">  </a> </td>
																				<td> <a href="../elements/aba74bd4-ed12-4ed8-b724-76a2c4c775fe.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/d418f50e-a146-4a27-bb12-a9ae8cfc4b4d.html" target="element"> Del  data </a> </td>
																				<td> <a href="../elements/5cfefe08-dff1-4c75-a578-6529c3522668.html" target="element"> Ta rede p&#229; egne data og krav til datadeling </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/2b65288c-a314-4c02-acc9-e08c69174354.html" target="element">  </a> </td>
																						<td> <a href="../elements/2b65288c-a314-4c02-acc9-e08c69174354.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/9b48e823-8b63-4f78-8c8e-4dd2dbd578d0.html" target="element"> Tilrettelegg for dataoppdagelse og datadeling </a> </td>
																						<td> <a href="../elements/16157c6d-8024-4106-b7db-59cfc6717745.html" target="element"> Del data </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/26406fae-b114-48d3-a6fa-0cc84e289001.html" target="element">  </a> </td>
																						<td> <a href="../elements/26406fae-b114-48d3-a6fa-0cc84e289001.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/9b48e823-8b63-4f78-8c8e-4dd2dbd578d0.html" target="element"> Tilrettelegg for dataoppdagelse og datadeling </a> </td>
																						<td> <a href="../elements/fdf2d880-a2ef-426b-80ae-65c25e451224.html" target="element"> Motta henvendelser om datadeling </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/942dff72-2574-40ed-a759-c8234a548024.html" target="element">  </a> </td>
																						<td> <a href="../elements/942dff72-2574-40ed-a759-c8234a548024.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/9b48e823-8b63-4f78-8c8e-4dd2dbd578d0.html" target="element"> Tilrettelegg for dataoppdagelse og datadeling </a> </td>
																						<td> <a href="../elements/d233406e-155a-486f-85bf-b90532646809.html" target="element"> Oppdag data og datakilder </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/42f90525-8c51-42b8-a3cd-4f1ec6af54d3.html" target="element">  </a> </td>
																						<td> <a href="../elements/42f90525-8c51-42b8-a3cd-4f1ec6af54d3.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/16157c6d-8024-4106-b7db-59cfc6717745.html" target="element"> Del data </a> </td>
																						<td> <a href="../elements/b4a85e18-c56e-4b50-8668-143456431d30.html" target="element"> Foresp&#248;r og motta data </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/17ac6007-e005-4045-ad3f-bbf2d7586a7b.html" target="element">  </a> </td>
																						<td> <a href="../elements/17ac6007-e005-4045-ad3f-bbf2d7586a7b.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/16157c6d-8024-4106-b7db-59cfc6717745.html" target="element"> Del data </a> </td>
																						<td> <a href="../elements/e2918936-f92d-4a37-909b-42449fd53394.html" target="element"> Forbedre l&#248;sninger, sikkerhet og datakvalitet (tilbyder) </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/104b7df8-4ac5-4cb7-823c-b6cdcbe2dae1.html" target="element">  </a> </td>
																						<td> <a href="../elements/104b7df8-4ac5-4cb7-823c-b6cdcbe2dae1.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/46d5fe6f-626d-4622-9509-e60361b6b39d.html" target="element"> Sett opp avtaler, l&#248;sninger og tilganger etter henvendelse </a> </td>
																						<td> <a href="../elements/81b892ad-996b-457b-996b-61a703e00163.html" target="element"> Etabler avtaler og l&#248;sninger for datainnhenting </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/bfb15e3e-61f0-411e-8622-37722e9c0d4e.html" target="element">  </a> </td>
																						<td> <a href="../elements/bfb15e3e-61f0-411e-8622-37722e9c0d4e.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/46d5fe6f-626d-4622-9509-e60361b6b39d.html" target="element"> Sett opp avtaler, l&#248;sninger og tilganger etter henvendelse </a> </td>
																						<td> <a href="../elements/16157c6d-8024-4106-b7db-59cfc6717745.html" target="element"> Del data </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/b9199f6f-1f3c-4014-a02c-b5123cacebab.html" target="element">  </a> </td>
																						<td> <a href="../elements/b9199f6f-1f3c-4014-a02c-b5123cacebab.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/fdf2d880-a2ef-426b-80ae-65c25e451224.html" target="element"> Motta henvendelser om datadeling </a> </td>
																						<td> <a href="../elements/46d5fe6f-626d-4622-9509-e60361b6b39d.html" target="element"> Sett opp avtaler, l&#248;sninger og tilganger etter henvendelse </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/e5da7064-eb6c-434b-99eb-fe9363749e08.html" target="element">  </a> </td>
																						<td> <a href="../elements/e5da7064-eb6c-434b-99eb-fe9363749e08.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/5cfefe08-dff1-4c75-a578-6529c3522668.html" target="element"> Ta rede p&#229; egne data og krav til datadeling </a> </td>
																						<td> <a href="../elements/9b48e823-8b63-4f78-8c8e-4dd2dbd578d0.html" target="element"> Tilrettelegg for dataoppdagelse og datadeling </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/eda622f0-7199-4a0f-bae0-1689fb1b0aba.html" target="element">  </a> </td>
																						<td> <a href="../elements/eda622f0-7199-4a0f-bae0-1689fb1b0aba.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/e2918936-f92d-4a37-909b-42449fd53394.html" target="element"> Forbedre l&#248;sninger, sikkerhet og datakvalitet (tilbyder) </a> </td>
																						<td> <a href="../elements/b2068051-d925-4b18-bd1d-041fb13dab0e.html" target="element"> Forbedre l&#248;sninger, sikkerhet og datakvalitet (konsument) </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/31d057eb-b6ea-44a5-999d-c0dba687faf4.html" target="element">  </a> </td>
																		<td> <a href="../elements/31d057eb-b6ea-44a5-999d-c0dba687faf4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																		<td> <a href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html" target="element"> Innhent data </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/f485bfd5-17b9-4a6a-9c4a-8b0ae626e267.html" target="element">  </a> </td>
																				<td> <a href="../elements/f485bfd5-17b9-4a6a-9c4a-8b0ae626e267.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html" target="element"> Innhent data </a> </td>
																				<td> <a href="../elements/8e0eaa98-6e80-48db-8fd4-082d3d76657b.html" target="element"> Be  om tilganger og abonnementer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9407a917-2180-4463-8475-e12f356bf60b.html" target="element">  </a> </td>
																				<td> <a href="../elements/9407a917-2180-4463-8475-e12f356bf60b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html" target="element"> Innhent data </a> </td>
																				<td> <a href="../elements/b4a85e18-c56e-4b50-8668-143456431d30.html" target="element"> Foresp&#248;r og motta data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e8c00e67-9a01-494e-9111-82549d01b509.html" target="element">  </a> </td>
																				<td> <a href="../elements/e8c00e67-9a01-494e-9111-82549d01b509.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html" target="element"> Innhent data </a> </td>
																				<td> <a href="../elements/81b892ad-996b-457b-996b-61a703e00163.html" target="element"> Etabler avtaler og l&#248;sninger for datainnhenting </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c28c27be-b884-476a-b812-3f1d1c256fa2.html" target="element">  </a> </td>
																				<td> <a href="../elements/c28c27be-b884-476a-b812-3f1d1c256fa2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html" target="element"> Innhent data </a> </td>
																				<td> <a href="../elements/178ac47e-a90a-464a-b5ab-bcd8b32711f0.html" target="element"> Ta rede p&#229; behov for innhenting av data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d7dccd55-2290-4104-9484-d74c1340453d.html" target="element">  </a> </td>
																				<td> <a href="../elements/d7dccd55-2290-4104-9484-d74c1340453d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html" target="element"> Innhent data </a> </td>
																				<td> <a href="../elements/b2068051-d925-4b18-bd1d-041fb13dab0e.html" target="element"> Forbedre l&#248;sninger, sikkerhet og datakvalitet (konsument) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/2bd5a3d4-9b27-44b2-b3c7-726a60ebd543.html" target="element">  </a> </td>
																				<td> <a href="../elements/2bd5a3d4-9b27-44b2-b3c7-726a60ebd543.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html" target="element"> Innhent data </a> </td>
																				<td> <a href="../elements/d233406e-155a-486f-85bf-b90532646809.html" target="element"> Oppdag data og datakilder </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/1898bead-eaf9-44b0-9a5b-c42c4226238d.html" target="element">  </a> </td>
																						<td> <a href="../elements/1898bead-eaf9-44b0-9a5b-c42c4226238d.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/d233406e-155a-486f-85bf-b90532646809.html" target="element"> Oppdag data og datakilder </a> </td>
																						<td> <a href="../elements/8e0eaa98-6e80-48db-8fd4-082d3d76657b.html" target="element"> Be  om tilganger og abonnementer </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/b51c7cf8-2899-494b-b9f7-e4f1b50f0aee.html" target="element">  </a> </td>
																						<td> <a href="../elements/b51c7cf8-2899-494b-b9f7-e4f1b50f0aee.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/d233406e-155a-486f-85bf-b90532646809.html" target="element"> Oppdag data og datakilder </a> </td>
																						<td> <a href="../elements/b4a85e18-c56e-4b50-8668-143456431d30.html" target="element"> Foresp&#248;r og motta data </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/c53ec37c-520c-4aed-8a19-a5e5053caa6a.html" target="element">  </a> </td>
																						<td> <a href="../elements/c53ec37c-520c-4aed-8a19-a5e5053caa6a.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/8e0eaa98-6e80-48db-8fd4-082d3d76657b.html" target="element"> Be  om tilganger og abonnementer </a> </td>
																						<td> <a href="../elements/81b892ad-996b-457b-996b-61a703e00163.html" target="element"> Etabler avtaler og l&#248;sninger for datainnhenting </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/a82d0f9b-8364-42e6-8379-1ea6d6e01606.html" target="element">  </a> </td>
																						<td> <a href="../elements/a82d0f9b-8364-42e6-8379-1ea6d6e01606.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/8e0eaa98-6e80-48db-8fd4-082d3d76657b.html" target="element"> Be  om tilganger og abonnementer </a> </td>
																						<td> <a href="../elements/fdf2d880-a2ef-426b-80ae-65c25e451224.html" target="element"> Motta henvendelser om datadeling </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/7e153e9a-841e-4baf-8d85-a9ba536fa780.html" target="element">  </a> </td>
																						<td> <a href="../elements/7e153e9a-841e-4baf-8d85-a9ba536fa780.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/b4a85e18-c56e-4b50-8668-143456431d30.html" target="element"> Foresp&#248;r og motta data </a> </td>
																						<td> <a href="../elements/16157c6d-8024-4106-b7db-59cfc6717745.html" target="element"> Del data </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/ee027459-5d60-4157-8214-e02c07429511.html" target="element">  </a> </td>
																						<td> <a href="../elements/ee027459-5d60-4157-8214-e02c07429511.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/b4a85e18-c56e-4b50-8668-143456431d30.html" target="element"> Foresp&#248;r og motta data </a> </td>
																						<td> <a href="../elements/b2068051-d925-4b18-bd1d-041fb13dab0e.html" target="element"> Forbedre l&#248;sninger, sikkerhet og datakvalitet (konsument) </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/99caf730-b778-4da1-9f52-645922957085.html" target="element">  </a> </td>
																						<td> <a href="../elements/99caf730-b778-4da1-9f52-645922957085.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/81b892ad-996b-457b-996b-61a703e00163.html" target="element"> Etabler avtaler og l&#248;sninger for datainnhenting </a> </td>
																						<td> <a href="../elements/46d5fe6f-626d-4622-9509-e60361b6b39d.html" target="element"> Sett opp avtaler, l&#248;sninger og tilganger etter henvendelse </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/87a84640-b078-45a1-ad06-1ec551a2d2df.html" target="element">  </a> </td>
																						<td> <a href="../elements/87a84640-b078-45a1-ad06-1ec551a2d2df.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/81b892ad-996b-457b-996b-61a703e00163.html" target="element"> Etabler avtaler og l&#248;sninger for datainnhenting </a> </td>
																						<td> <a href="../elements/b4a85e18-c56e-4b50-8668-143456431d30.html" target="element"> Foresp&#248;r og motta data </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/d83bebbe-6b94-4463-a1d2-0201cf75bd4e.html" target="element">  </a> </td>
																						<td> <a href="../elements/d83bebbe-6b94-4463-a1d2-0201cf75bd4e.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/178ac47e-a90a-464a-b5ab-bcd8b32711f0.html" target="element"> Ta rede p&#229; behov for innhenting av data </a> </td>
																						<td> <a href="../elements/5cfefe08-dff1-4c75-a578-6529c3522668.html" target="element"> Ta rede p&#229; egne data og krav til datadeling </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/6827a3fa-5981-42b2-8139-3ce5b4d44212.html" target="element">  </a> </td>
																						<td> <a href="../elements/6827a3fa-5981-42b2-8139-3ce5b4d44212.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/178ac47e-a90a-464a-b5ab-bcd8b32711f0.html" target="element"> Ta rede p&#229; behov for innhenting av data </a> </td>
																						<td> <a href="../elements/d233406e-155a-486f-85bf-b90532646809.html" target="element"> Oppdag data og datakilder </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/45afb0b8-7a21-42db-a375-b3626baa8709.html" target="element">  </a> </td>
																						<td> <a href="../elements/45afb0b8-7a21-42db-a375-b3626baa8709.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/b2068051-d925-4b18-bd1d-041fb13dab0e.html" target="element"> Forbedre l&#248;sninger, sikkerhet og datakvalitet (konsument) </a> </td>
																						<td> <a href="../elements/e2918936-f92d-4a37-909b-42449fd53394.html" target="element"> Forbedre l&#248;sninger, sikkerhet og datakvalitet (tilbyder) </a> </td>
																					</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>