<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Pub-Sub Pattern - 1. Generic concept</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Pub-Sub Pattern - 1. Generic concept</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/a0d48ac8-83e1-4160-9243-816f032b84ea.png" alt="Pub-Sub Pattern - 1. Generic concept" usemap="#a0d48ac8-83e1-4160-9243-816f032b84eamap"/>
			   <map name="a0d48ac8-83e1-4160-9243-816f032b84eamap">
				  		<area shape="rect" coords="20,94,286,236" href="../elements/1c34a5c3-8ca6-4943-af3b-281e878fcee1.html"  target="element">
				  				<area shape="rect" coords="1316,92,1582,234" href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html"  target="element">
				  				<area shape="rect" coords="1340,116,1606,258" href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html"  target="element">
				  				<area shape="rect" coords="452,92,718,234" href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html"  target="element">
				  				<area shape="rect" coords="908,284,1102,378" href="../elements/8a78152d-31f6-46df-8342-bb1812af6a64.html"  target="element">
				  				<area shape="rect" coords="932,308,1126,402" href="../elements/8a78152d-31f6-46df-8342-bb1812af6a64.html"  target="element">
				  				<area shape="rect" coords="908,116,1102,210" href="../elements/368ee9ef-e510-4285-b05e-85fb28e8ecdf.html"  target="element">

				  		<area shape="rect" coords="404,20,1630,432" href="../elements/426bb60b-fb48-44a2-94ce-e0e0a34ead21.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Pub-Sub Pattern</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap">nab_referanse_arkitekturer_datautveksling_publisering</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/426bb60b-fb48-44a2-94ce-e0e0a34ead21.html" target="element"> Publisering - grunnleggende konseot </a> </td>
											    <td> <a href="../elements/426bb60b-fb48-44a2-94ce-e0e0a34ead21.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/368ee9ef-e510-4285-b05e-85fb28e8ecdf.html" target="element"> Datapublikasjon </a> </td>
													    <td> <a href="../elements/368ee9ef-e510-4285-b05e-85fb28e8ecdf.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8a78152d-31f6-46df-8342-bb1812af6a64.html" target="element"> Datadistribusjon </a> </td>
													    <td> <a href="../elements/8a78152d-31f6-46df-8342-bb1812af6a64.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8a78152d-31f6-46df-8342-bb1812af6a64.html" target="element"> Datadistribusjon </a> </td>
													    <td> <a href="../elements/8a78152d-31f6-46df-8342-bb1812af6a64.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
													    <td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
													    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
													    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/1c34a5c3-8ca6-4943-af3b-281e878fcee1.html" target="element"> Publisering arkitekturm&#248;nster </a> </td>
											    <td> <a href="../elements/1c34a5c3-8ca6-4943-af3b-281e878fcee1.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/0f4b150d-c235-43f9-8190-c46a36837fcc.html" target="element"> beskriver </a> </td>
																		<td> <a href="../elements/0f4b150d-c235-43f9-8190-c46a36837fcc.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/426bb60b-fb48-44a2-94ce-e0e0a34ead21.html" target="element"> Publisering - grunnleggende konseot </a> </td>
																		<td> <a href="../elements/1c34a5c3-8ca6-4943-af3b-281e878fcee1.html" target="element"> Publisering arkitekturm&#248;nster </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ca14f992-69c3-4053-b908-6cf8695e7443.html" target="element">  </a> </td>
																		<td> <a href="../elements/ca14f992-69c3-4053-b908-6cf8695e7443.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/426bb60b-fb48-44a2-94ce-e0e0a34ead21.html" target="element"> Publisering - grunnleggende konseot </a> </td>
																		<td> <a href="../elements/368ee9ef-e510-4285-b05e-85fb28e8ecdf.html" target="element"> Datapublikasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bb2387e1-3116-4d34-adbf-e25f5179b185.html" target="element">  </a> </td>
																		<td> <a href="../elements/bb2387e1-3116-4d34-adbf-e25f5179b185.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/426bb60b-fb48-44a2-94ce-e0e0a34ead21.html" target="element"> Publisering - grunnleggende konseot </a> </td>
																		<td> <a href="../elements/8a78152d-31f6-46df-8342-bb1812af6a64.html" target="element"> Datadistribusjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9ffc5362-fbd3-4886-a1e9-adb07507b9a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/9ffc5362-fbd3-4886-a1e9-adb07507b9a5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/426bb60b-fb48-44a2-94ce-e0e0a34ead21.html" target="element"> Publisering - grunnleggende konseot </a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9ffc5362-fbd3-4886-a1e9-adb07507b9a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/9ffc5362-fbd3-4886-a1e9-adb07507b9a5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/426bb60b-fb48-44a2-94ce-e0e0a34ead21.html" target="element"> Publisering - grunnleggende konseot </a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/62093563-a12f-410d-9ab9-77582f036696.html" target="element">  </a> </td>
																		<td> <a href="../elements/62093563-a12f-410d-9ab9-77582f036696.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/426bb60b-fb48-44a2-94ce-e0e0a34ead21.html" target="element"> Publisering - grunnleggende konseot </a> </td>
																		<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bb2387e1-3116-4d34-adbf-e25f5179b185.html" target="element">  </a> </td>
																		<td> <a href="../elements/bb2387e1-3116-4d34-adbf-e25f5179b185.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/426bb60b-fb48-44a2-94ce-e0e0a34ead21.html" target="element"> Publisering - grunnleggende konseot </a> </td>
																		<td> <a href="../elements/8a78152d-31f6-46df-8342-bb1812af6a64.html" target="element"> Datadistribusjon </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/e3644180-e821-4d39-8d60-b2738efb0ca0.html" target="element"> inneholder </a> </td>
																				<td> <a href="../elements/e3644180-e821-4d39-8d60-b2738efb0ca0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/368ee9ef-e510-4285-b05e-85fb28e8ecdf.html" target="element"> Datapublikasjon </a> </td>
																				<td> <a href="../elements/8a78152d-31f6-46df-8342-bb1812af6a64.html" target="element"> Datadistribusjon </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/45138412-804b-49d0-8904-ced77590f244.html" target="element">  </a> </td>
																				<td> <a href="../elements/45138412-804b-49d0-8904-ced77590f244.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																				<td> <a href="../elements/368ee9ef-e510-4285-b05e-85fb28e8ecdf.html" target="element"> Datapublikasjon </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f27a6a41-ef35-42f0-b068-e1a40c847d05.html" target="element"> skriver </a> </td>
																				<td> <a href="../elements/f27a6a41-ef35-42f0-b068-e1a40c847d05.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																				<td> <a href="../elements/8a78152d-31f6-46df-8342-bb1812af6a64.html" target="element"> Datadistribusjon </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/d3a81c00-2295-4781-b757-87436e46a1fe.html" target="element"> leser </a> </td>
																				<td> <a href="../elements/d3a81c00-2295-4781-b757-87436e46a1fe.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																				<td> <a href="../elements/8a78152d-31f6-46df-8342-bb1812af6a64.html" target="element"> Datadistribusjon </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6d79cab1-3d54-4e89-b151-261fae314a9e.html" target="element">  </a> </td>
																				<td> <a href="../elements/6d79cab1-3d54-4e89-b151-261fae314a9e.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																				<td> <a href="../elements/368ee9ef-e510-4285-b05e-85fb28e8ecdf.html" target="element"> Datapublikasjon </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>