<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Publisering - enkel illustrasjon</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Publisering - enkel illustrasjon</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/ad0672f4-80a2-4660-9cba-342450da2838.png" alt="Publisering - enkel illustrasjon" usemap="#ad0672f4-80a2-4660-9cba-342450da2838map"/>
			   <map name="ad0672f4-80a2-4660-9cba-342450da2838map">
				  		<area shape="rect" coords="860,20,1126,162" href="../elements/fdfe0824-191d-4bea-8696-04528696d592.html"  target="element">
				  		<area shape="rect" coords="476,342,670,436" href="../elements/420526db-d148-442b-99c9-41a9f9c173b9.html"  target="element">
				  		<area shape="rect" coords="860,456,1126,598" href="../elements/e7363694-08a6-4829-8248-f4e6e1d84ce4.html"  target="element">
				  		<area shape="rect" coords="20,160,286,506" href="../elements/cc2ba389-72f0-4579-b4ed-969cf7b84ca8.html"  target="element">
				  		<area shape="rect" coords="476,208,670,302" href="../elements/bff98c3c-f2bc-485a-bf52-9d73aa35ba84.html"  target="element">
				  		<area shape="rect" coords="860,208,1126,350" href="../elements/fa022c64-fb55-4f50-a70a-e1ab10090baf.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Pub-Sub Pattern</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap">nab_referanse_arkitekturer_datautveksling_publisering</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/fa022c64-fb55-4f50-a70a-e1ab10090baf.html" target="element"> Datakonsument 2 </a> </td>
											    <td> <a href="../elements/fa022c64-fb55-4f50-a70a-e1ab10090baf.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bff98c3c-f2bc-485a-bf52-9d73aa35ba84.html" target="element"> Hendelsesliste A </a> </td>
											    <td> <a href="../elements/bff98c3c-f2bc-485a-bf52-9d73aa35ba84.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cc2ba389-72f0-4579-b4ed-969cf7b84ca8.html" target="element"> Datatilbyder </a> </td>
											    <td> <a href="../elements/cc2ba389-72f0-4579-b4ed-969cf7b84ca8.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e7363694-08a6-4829-8248-f4e6e1d84ce4.html" target="element"> Datakonsument n </a> </td>
											    <td> <a href="../elements/e7363694-08a6-4829-8248-f4e6e1d84ce4.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/420526db-d148-442b-99c9-41a9f9c173b9.html" target="element"> Hendelsesliste B </a> </td>
											    <td> <a href="../elements/420526db-d148-442b-99c9-41a9f9c173b9.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fdfe0824-191d-4bea-8696-04528696d592.html" target="element"> Datakonsument 1 </a> </td>
											    <td> <a href="../elements/fdfe0824-191d-4bea-8696-04528696d592.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/b40571d5-ef87-47e9-8f57-f26c7631b44c.html" target="element"> leser </a> </td>
																		<td> <a href="../elements/b40571d5-ef87-47e9-8f57-f26c7631b44c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/fa022c64-fb55-4f50-a70a-e1ab10090baf.html" target="element"> Datakonsument 2 </a> </td>
																		<td> <a href="../elements/bff98c3c-f2bc-485a-bf52-9d73aa35ba84.html" target="element"> Hendelsesliste A </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e35f4976-e4c3-4031-a3d5-76cdf1a29955.html" target="element"> skriver </a> </td>
																		<td> <a href="../elements/e35f4976-e4c3-4031-a3d5-76cdf1a29955.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/cc2ba389-72f0-4579-b4ed-969cf7b84ca8.html" target="element"> Datatilbyder </a> </td>
																		<td> <a href="../elements/bff98c3c-f2bc-485a-bf52-9d73aa35ba84.html" target="element"> Hendelsesliste A </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/38cbc7cc-6fee-4b77-bc31-0730f617eaca.html" target="element"> skriver </a> </td>
																		<td> <a href="../elements/38cbc7cc-6fee-4b77-bc31-0730f617eaca.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/cc2ba389-72f0-4579-b4ed-969cf7b84ca8.html" target="element"> Datatilbyder </a> </td>
																		<td> <a href="../elements/420526db-d148-442b-99c9-41a9f9c173b9.html" target="element"> Hendelsesliste B </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/df49dcd7-4adc-4d34-91f0-48cd8af5075f.html" target="element"> leser </a> </td>
																		<td> <a href="../elements/df49dcd7-4adc-4d34-91f0-48cd8af5075f.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/e7363694-08a6-4829-8248-f4e6e1d84ce4.html" target="element"> Datakonsument n </a> </td>
																		<td> <a href="../elements/420526db-d148-442b-99c9-41a9f9c173b9.html" target="element"> Hendelsesliste B </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3fb2d8b8-686f-41da-a754-078818dcb502.html" target="element"> leser </a> </td>
																		<td> <a href="../elements/3fb2d8b8-686f-41da-a754-078818dcb502.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/e7363694-08a6-4829-8248-f4e6e1d84ce4.html" target="element"> Datakonsument n </a> </td>
																		<td> <a href="../elements/bff98c3c-f2bc-485a-bf52-9d73aa35ba84.html" target="element"> Hendelsesliste A </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/71caafb1-6db6-4a4f-aa31-2ca6664d7b25.html" target="element"> leser </a> </td>
																		<td> <a href="../elements/71caafb1-6db6-4a4f-aa31-2ca6664d7b25.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/fdfe0824-191d-4bea-8696-04528696d592.html" target="element"> Datakonsument 1 </a> </td>
																		<td> <a href="../elements/420526db-d148-442b-99c9-41a9f9c173b9.html" target="element"> Hendelsesliste B </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/627d85bc-08f0-4aeb-946c-721e9f34ab4f.html" target="element"> leser </a> </td>
																		<td> <a href="../elements/627d85bc-08f0-4aeb-946c-721e9f34ab4f.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/fdfe0824-191d-4bea-8696-04528696d592.html" target="element"> Datakonsument 1 </a> </td>
																		<td> <a href="../elements/bff98c3c-f2bc-485a-bf52-9d73aa35ba84.html" target="element"> Hendelsesliste A </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>