<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>RA Publisering</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>RA Publisering</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/b0e47cd5-e2b4-426e-9ad5-fc9f0e91337d.png" alt="RA Publisering" usemap="#b0e47cd5-e2b4-426e-9ad5-fc9f0e91337dmap"/>
			   <map name="b0e47cd5-e2b4-426e-9ad5-fc9f0e91337dmap">
				  		<area shape="rect" coords="956,548,1222,690" href="../views/b8a3642e-496e-4375-9675-65fc1cb191bc.html"  target="view">
				      <!-- Other diagram objects -->
				  				<area shape="rect" coords="1330,308,1596,450" href="../views/81d1b632-fd5b-48ec-aed5-373ae1906462.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="1018,308,1284,450" href="../views/ae91ce5c-67e9-431f-b0ff-52208a4ddd50.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="1604,116,1870,258" href="../views/8bcc44fa-54e5-4cba-aed8-9462ee32ed2a.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="1316,116,1582,258" href="../views/1fff590a-9230-447d-a9a7-0a434c132488.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="1004,116,1270,258" href="../views/25820e6c-dd4f-4086-b2e8-b80f7e00b40f.html"  target="view">
				  		    <!-- Other diagram objects -->

				  		<area shape="rect" coords="956,20,1918,502" href="../elements/2ea1482a-9794-4745-b03a-d312d886c4ad.html"  target="element">
				  				<area shape="rect" coords="452,308,718,450" href="../views/e2992758-d5ae-420c-aab9-374383444f0d.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="308,116,574,258" href="../views/f230e1b2-aa57-4756-b7a9-a65ffbac222a.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="116,308,382,450" href="../views/33d6c18d-b78b-4719-8512-7447759c106d.html"  target="view">
				  		    <!-- Other diagram objects -->

				  		<area shape="rect" coords="20,20,838,718" href="../elements/25bbc203-229a-4816-bec9-b5efc1befe8d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/25bbc203-229a-4816-bec9-b5efc1befe8d.html" target="element"> eNotifikasjon verdistr&#248;mmer </a> </td>
											    <td> <a href="../elements/25bbc203-229a-4816-bec9-b5efc1befe8d.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../views/33d6c18d-b78b-4719-8512-7447759c106d.html" target="view"> eNotifikasjon - konsumenters verdistrøm </a> </td>
													    <td> <a href="../views/33d6c18d-b78b-4719-8512-7447759c106d.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/f230e1b2-aa57-4756-b7a9-a65ffbac222a.html" target="view"> eNotifikasjon - oversikt over verdistrømmer </a> </td>
													    <td> <a href="../views/f230e1b2-aa57-4756-b7a9-a65ffbac222a.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/e2992758-d5ae-420c-aab9-374383444f0d.html" target="view"> eNotifikasjon - tilbyders verdistrøm </a> </td>
													    <td> <a href="../views/e2992758-d5ae-420c-aab9-374383444f0d.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../elements/2ea1482a-9794-4745-b03a-d312d886c4ad.html" target="element"> eNotifikasjon </a> </td>
											    <td> <a href="../elements/2ea1482a-9794-4745-b03a-d312d886c4ad.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../views/25820e6c-dd4f-4086-b2e8-b80f7e00b40f.html" target="view"> Avgi forespurte notifikasjoner </a> </td>
													    <td> <a href="../views/25820e6c-dd4f-4086-b2e8-b80f7e00b40f.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/1fff590a-9230-447d-a9a7-0a434c132488.html" target="view"> Inngå avtaler om tilgang og innhenting av hendelsesstrømmer  </a> </td>
													    <td> <a href="../views/1fff590a-9230-447d-a9a7-0a434c132488.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/8bcc44fa-54e5-4cba-aed8-9462ee32ed2a.html" target="view"> Generere og publisere notifikasjoner </a> </td>
													    <td> <a href="../views/8bcc44fa-54e5-4cba-aed8-9462ee32ed2a.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/ae91ce5c-67e9-431f-b0ff-52208a4ddd50.html" target="view"> Inngå avtaler om tilgang og levering av hendelsesstrømmer </a> </td>
													    <td> <a href="../views/ae91ce5c-67e9-431f-b0ff-52208a4ddd50.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/81d1b632-fd5b-48ec-aed5-373ae1906462.html" target="view"> Konsumer notifikasjoner </a> </td>
													    <td> <a href="../views/81d1b632-fd5b-48ec-aed5-373ae1906462.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../views/b8a3642e-496e-4375-9675-65fc1cb191bc.html" target="view"> Kapabiliteter eNotifikasjon </a> </td>
											    <td> <a href="../views/b8a3642e-496e-4375-9675-65fc1cb191bc.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>