<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Abstraksjon - data</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Abstraksjon - data</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/c84e1b9b-42cc-4f54-a6ce-cb52aeb749c7.png" alt="Abstraksjon - data" usemap="#c84e1b9b-42cc-4f54-a6ce-cb52aeb749c7map"/>
			   <map name="c84e1b9b-42cc-4f54-a6ce-cb52aeb749c7map">
				  		<area shape="rect" coords="476,692,742,834" href="../elements/97d42b7b-68b4-4948-b3ba-3ea97eb1bd97.html"  target="element">
				  		<area shape="rect" coords="476,260,742,402" href="../elements/7190de2b-a762-4a43-9348-76a0f1853920.html"  target="element">
				  		<area shape="rect" coords="476,472,742,614" href="../elements/b7e5d1be-4817-4d32-8ed1-69ba642ef03e.html"  target="element">
				  		<area shape="rect" coords="20,692,286,834" href="../elements/52119eb0-6f01-42b8-91d1-9d659617ccb7.html"  target="element">
				  		<area shape="rect" coords="20,472,286,614" href="../elements/734dc74b-4070-4583-83ad-feb3b419ac2e.html"  target="element">
				  		<area shape="rect" coords="20,232,286,374" href="../elements/a5853267-4871-4927-863b-6eceaf98f818.html"  target="element">
				  		<area shape="rect" coords="20,20,286,162" href="../elements/31f856e1-b0d7-4459-b488-5a252716ee10.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Abstraksjon - data</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap">nab_referanse_modelleringskonvensjoner</td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/31f856e1-b0d7-4459-b488-5a252716ee10.html" target="element"> Business Object ABB </a> </td>
											    <td> <a href="../elements/31f856e1-b0d7-4459-b488-5a252716ee10.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a5853267-4871-4927-863b-6eceaf98f818.html" target="element"> Data Object ABB </a> </td>
											    <td> <a href="../elements/a5853267-4871-4927-863b-6eceaf98f818.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/734dc74b-4070-4583-83ad-feb3b419ac2e.html" target="element"> Data Object SBB </a> </td>
											    <td> <a href="../elements/734dc74b-4070-4583-83ad-feb3b419ac2e.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/52119eb0-6f01-42b8-91d1-9d659617ccb7.html" target="element"> Data Object INSTANCE </a> </td>
											    <td> <a href="../elements/52119eb0-6f01-42b8-91d1-9d659617ccb7.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b7e5d1be-4817-4d32-8ed1-69ba642ef03e.html" target="element"> Data Artifact SBB </a> </td>
											    <td> <a href="../elements/b7e5d1be-4817-4d32-8ed1-69ba642ef03e.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7190de2b-a762-4a43-9348-76a0f1853920.html" target="element"> Data Artifact ABB </a> </td>
											    <td> <a href="../elements/7190de2b-a762-4a43-9348-76a0f1853920.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/97d42b7b-68b4-4948-b3ba-3ea97eb1bd97.html" target="element"> Data Artifact INSTANCE </a> </td>
											    <td> <a href="../elements/97d42b7b-68b4-4948-b3ba-3ea97eb1bd97.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/6965b8cd-0436-4027-ac63-4f70e26c15a8.html" target="element"> realizes </a> </td>
																		<td> <a href="../elements/6965b8cd-0436-4027-ac63-4f70e26c15a8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/a5853267-4871-4927-863b-6eceaf98f818.html" target="element"> Data Object ABB </a> </td>
																		<td> <a href="../elements/31f856e1-b0d7-4459-b488-5a252716ee10.html" target="element"> Business Object ABB </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b27d38d7-4cf6-41a3-975f-c09877f0ab53.html" target="element"> specializes </a> </td>
																		<td> <a href="../elements/b27d38d7-4cf6-41a3-975f-c09877f0ab53.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/734dc74b-4070-4583-83ad-feb3b419ac2e.html" target="element"> Data Object SBB </a> </td>
																		<td> <a href="../elements/a5853267-4871-4927-863b-6eceaf98f818.html" target="element"> Data Object ABB </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/740f368a-affd-4fa5-84a3-6a68ba32ce48.html" target="element"> specializes </a> </td>
																		<td> <a href="../elements/740f368a-affd-4fa5-84a3-6a68ba32ce48.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/52119eb0-6f01-42b8-91d1-9d659617ccb7.html" target="element"> Data Object INSTANCE </a> </td>
																		<td> <a href="../elements/734dc74b-4070-4583-83ad-feb3b419ac2e.html" target="element"> Data Object SBB </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8671dcd9-8685-47a1-b6cc-afeec49e65fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/8671dcd9-8685-47a1-b6cc-afeec49e65fd.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/b7e5d1be-4817-4d32-8ed1-69ba642ef03e.html" target="element"> Data Artifact SBB </a> </td>
																		<td> <a href="../elements/7190de2b-a762-4a43-9348-76a0f1853920.html" target="element"> Data Artifact ABB </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ce51dde4-72af-426e-8447-7ed6dbe70313.html" target="element"> realizes </a> </td>
																		<td> <a href="../elements/ce51dde4-72af-426e-8447-7ed6dbe70313.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/97d42b7b-68b4-4948-b3ba-3ea97eb1bd97.html" target="element"> Data Artifact INSTANCE </a> </td>
																		<td> <a href="../elements/734dc74b-4070-4583-83ad-feb3b419ac2e.html" target="element"> Data Object SBB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6586afd7-89dd-4942-9f39-3ad8c5873346.html" target="element">  </a> </td>
																		<td> <a href="../elements/6586afd7-89dd-4942-9f39-3ad8c5873346.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/97d42b7b-68b4-4948-b3ba-3ea97eb1bd97.html" target="element"> Data Artifact INSTANCE </a> </td>
																		<td> <a href="../elements/b7e5d1be-4817-4d32-8ed1-69ba642ef03e.html" target="element"> Data Artifact SBB </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>