<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>2. Del og innhent data - overordent aktørbilde (2)</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>2. Del og innhent data - overordent akt&#248;rbilde (2)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/ce1beecb-a506-4c28-884f-770e496e768f.png" alt="2. Del og innhent data - overordent aktørbilde (2)" usemap="#ce1beecb-a506-4c28-884f-770e496e768fmap"/>
			   <map name="ce1beecb-a506-4c28-884f-770e496e768fmap">
				  				<area shape="rect" coords="524,356,790,498" href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html"  target="element">
				  				<area shape="rect" coords="524,116,790,258" href="../elements/d418f50e-a146-4a27-bb12-a9ae8cfc4b4d.html"  target="element">
				  				<area shape="rect" coords="116,356,382,498" href="../elements/5b2551c2-d8f2-42d4-934d-1d8d8afdb769.html"  target="element">
				  				<area shape="rect" coords="116,116,382,258" href="../elements/0108e752-0fd6-4cb4-9380-d6bc644112dd.html"  target="element">

				  		<area shape="rect" coords="20,20,886,550" href="../elements/498807eb-78ef-450b-9398-7630f30f221e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Del og innhent data og hendelser</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap">nab_arkitekturlandskap_segmentarkitektur_datadeling_verdistr&#248;mmer</td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/498807eb-78ef-450b-9398-7630f30f221e.html" target="element"> Del og innhent data </a> </td>
											    <td> <a href="../elements/498807eb-78ef-450b-9398-7630f30f221e.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/0108e752-0fd6-4cb4-9380-d6bc644112dd.html" target="element"> Akt&#248;rer som har data &#229; dele (datatilbyder) </a> </td>
													    <td> <a href="../elements/0108e752-0fd6-4cb4-9380-d6bc644112dd.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5b2551c2-d8f2-42d4-934d-1d8d8afdb769.html" target="element"> Akt&#248;rer som har behov for data (datakonsument) </a> </td>
													    <td> <a href="../elements/5b2551c2-d8f2-42d4-934d-1d8d8afdb769.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d418f50e-a146-4a27-bb12-a9ae8cfc4b4d.html" target="element"> Del  data </a> </td>
													    <td> <a href="../elements/d418f50e-a146-4a27-bb12-a9ae8cfc4b4d.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html" target="element"> Innhent data </a> </td>
													    <td> <a href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/a6e0709a-b87a-408c-956a-28bd33faace7.html" target="element">  </a> </td>
																		<td> <a href="../elements/a6e0709a-b87a-408c-956a-28bd33faace7.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/498807eb-78ef-450b-9398-7630f30f221e.html" target="element"> Del og innhent data </a> </td>
																		<td> <a href="../elements/5b2551c2-d8f2-42d4-934d-1d8d8afdb769.html" target="element"> Akt&#248;rer som har behov for data (datakonsument) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8ee292fd-3cdf-4a3c-9474-1befb3dc6931.html" target="element">  </a> </td>
																		<td> <a href="../elements/8ee292fd-3cdf-4a3c-9474-1befb3dc6931.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/498807eb-78ef-450b-9398-7630f30f221e.html" target="element"> Del og innhent data </a> </td>
																		<td> <a href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html" target="element"> Innhent data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c1c52d04-8d9b-4443-92ce-bf576f554ac9.html" target="element">  </a> </td>
																		<td> <a href="../elements/c1c52d04-8d9b-4443-92ce-bf576f554ac9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/498807eb-78ef-450b-9398-7630f30f221e.html" target="element"> Del og innhent data </a> </td>
																		<td> <a href="../elements/d418f50e-a146-4a27-bb12-a9ae8cfc4b4d.html" target="element"> Del  data </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/f2992291-78ff-4807-b3a7-418545c36c91.html" target="element">  </a> </td>
																				<td> <a href="../elements/f2992291-78ff-4807-b3a7-418545c36c91.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/0108e752-0fd6-4cb4-9380-d6bc644112dd.html" target="element"> Akt&#248;rer som har data &#229; dele (datatilbyder) </a> </td>
																				<td> <a href="../elements/498807eb-78ef-450b-9398-7630f30f221e.html" target="element"> Del og innhent data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f1ae1472-193d-47e8-acc2-bb00fe85c84a.html" target="element">  </a> </td>
																				<td> <a href="../elements/f1ae1472-193d-47e8-acc2-bb00fe85c84a.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/0108e752-0fd6-4cb4-9380-d6bc644112dd.html" target="element"> Akt&#248;rer som har data &#229; dele (datatilbyder) </a> </td>
																				<td> <a href="../elements/498807eb-78ef-450b-9398-7630f30f221e.html" target="element"> Del og innhent data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/54254269-a315-4174-9002-defcc999883d.html" target="element"> utf&#248;rer </a> </td>
																				<td> <a href="../elements/54254269-a315-4174-9002-defcc999883d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/0108e752-0fd6-4cb4-9380-d6bc644112dd.html" target="element"> Akt&#248;rer som har data &#229; dele (datatilbyder) </a> </td>
																				<td> <a href="../elements/d418f50e-a146-4a27-bb12-a9ae8cfc4b4d.html" target="element"> Del  data </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/27cc2e5f-2cf3-4d02-b193-23ccf9b54f73.html" target="element"> utf&#248;rer </a> </td>
																				<td> <a href="../elements/27cc2e5f-2cf3-4d02-b193-23ccf9b54f73.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/5b2551c2-d8f2-42d4-934d-1d8d8afdb769.html" target="element"> Akt&#248;rer som har behov for data (datakonsument) </a> </td>
																				<td> <a href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html" target="element"> Innhent data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/27cda60d-657b-47de-9eab-3a8e714ecb63.html" target="element">  </a> </td>
																				<td> <a href="../elements/27cda60d-657b-47de-9eab-3a8e714ecb63.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/5b2551c2-d8f2-42d4-934d-1d8d8afdb769.html" target="element"> Akt&#248;rer som har behov for data (datakonsument) </a> </td>
																				<td> <a href="../elements/498807eb-78ef-450b-9398-7630f30f221e.html" target="element"> Del og innhent data </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/0d1be854-dd78-4555-aea4-9096d1d8af69.html" target="element"> dataflyt </a> </td>
																				<td> <a href="../elements/0d1be854-dd78-4555-aea4-9096d1d8af69.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/d418f50e-a146-4a27-bb12-a9ae8cfc4b4d.html" target="element"> Del  data </a> </td>
																				<td> <a href="../elements/3bf49272-5d3a-4ae6-b529-4613537e3353.html" target="element"> Innhent data </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>