<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Publisering - grunnleggende konsepter</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Publisering - grunnleggende konsepter</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/ce7485ac-ac08-4e02-becb-f7c729993970.png" alt="Publisering - grunnleggende konsepter" usemap="#ce7485ac-ac08-4e02-becb-f7c729993970map"/>
			   <map name="ce7485ac-ac08-4e02-becb-f7c729993970map">
				  		<area shape="rect" coords="1420,262,1614,356" href="../elements/d8f9e23c-58a0-4b50-9501-965285afb428.html"  target="element">
				  		<area shape="rect" coords="836,20,1030,114" href="../elements/96706793-9ad3-44db-ac61-98f06915848b.html"  target="element">
				  		<area shape="rect" coords="1100,88,1294,182" href="../elements/d66699b0-4006-4c10-9180-7c0e685b5899.html"  target="element">
				  		<area shape="rect" coords="476,112,670,206" href="../elements/a0af0193-ce05-4443-9ab3-a67cea0f1e50.html"  target="element">
				  		<area shape="rect" coords="884,232,1150,374" href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html"  target="element">
				  		<area shape="rect" coords="476,262,670,356" href="../elements/8a78152d-31f6-46df-8342-bb1812af6a64.html"  target="element">
				  		<area shape="rect" coords="20,232,286,374" href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html"  target="element">
				  		<area shape="rect" coords="860,540,1126,682" href="../elements/21606d86-0be2-4682-a483-60275015bb1b.html"  target="element">
				  		<area shape="rect" coords="20,540,286,682" href="../elements/46dec0b3-5242-4abf-91c6-b4b21e7d9ff4.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Pub-Sub Pattern</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap">nab_referanse_arkitekturer_datautveksling_publisering</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/46dec0b3-5242-4abf-91c6-b4b21e7d9ff4.html" target="element"> Datatilbyders publiseringsl&#248;sning </a> </td>
											    <td> <a href="../elements/46dec0b3-5242-4abf-91c6-b4b21e7d9ff4.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/21606d86-0be2-4682-a483-60275015bb1b.html" target="element"> Datakonsuments innhentingsl&#248;sning for publiserte data </a> </td>
											    <td> <a href="../elements/21606d86-0be2-4682-a483-60275015bb1b.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
											    <td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8a78152d-31f6-46df-8342-bb1812af6a64.html" target="element"> Datadistribusjon </a> </td>
											    <td> <a href="../elements/8a78152d-31f6-46df-8342-bb1812af6a64.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
											    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a0af0193-ce05-4443-9ab3-a67cea0f1e50.html" target="element"> Emne (topic) </a> </td>
											    <td> <a href="../elements/a0af0193-ce05-4443-9ab3-a67cea0f1e50.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d66699b0-4006-4c10-9180-7c0e685b5899.html" target="element"> Sikkerhets-klassifisering </a> </td>
											    <td> <a href="../elements/d66699b0-4006-4c10-9180-7c0e685b5899.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/96706793-9ad3-44db-ac61-98f06915848b.html" target="element"> Abonnentspesifikt notifikasjonsfilter </a> </td>
											    <td> <a href="../elements/96706793-9ad3-44db-ac61-98f06915848b.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d8f9e23c-58a0-4b50-9501-965285afb428.html" target="element"> Emne (topic) </a> </td>
											    <td> <a href="../elements/d8f9e23c-58a0-4b50-9501-965285afb428.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/73f93e1b-4d2f-4a55-9e01-4f73ebdf6c56.html" target="element"> tjener </a> </td>
																		<td> <a href="../elements/73f93e1b-4d2f-4a55-9e01-4f73ebdf6c56.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/46dec0b3-5242-4abf-91c6-b4b21e7d9ff4.html" target="element"> Datatilbyders publiseringsl&#248;sning </a> </td>
																		<td> <a href="../elements/21606d86-0be2-4682-a483-60275015bb1b.html" target="element"> Datakonsuments innhentingsl&#248;sning for publiserte data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/aa2aa6fd-9ca7-4875-b663-a4e1f02b8891.html" target="element"> tjener </a> </td>
																		<td> <a href="../elements/aa2aa6fd-9ca7-4875-b663-a4e1f02b8891.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/46dec0b3-5242-4abf-91c6-b4b21e7d9ff4.html" target="element"> Datatilbyders publiseringsl&#248;sning </a> </td>
																		<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5ceb363d-4900-4afe-8f92-2461c6d57d5d.html" target="element"> tjener </a> </td>
																		<td> <a href="../elements/5ceb363d-4900-4afe-8f92-2461c6d57d5d.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/21606d86-0be2-4682-a483-60275015bb1b.html" target="element"> Datakonsuments innhentingsl&#248;sning for publiserte data </a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f27a6a41-ef35-42f0-b068-e1a40c847d05.html" target="element"> skriver </a> </td>
																		<td> <a href="../elements/f27a6a41-ef35-42f0-b068-e1a40c847d05.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																		<td> <a href="../elements/8a78152d-31f6-46df-8342-bb1812af6a64.html" target="element"> Datadistribusjon </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/840f76ba-884e-4a73-88f6-5a5794ae10f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/840f76ba-884e-4a73-88f6-5a5794ae10f2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/8a78152d-31f6-46df-8342-bb1812af6a64.html" target="element"> Datadistribusjon </a> </td>
																		<td> <a href="../elements/d66699b0-4006-4c10-9180-7c0e685b5899.html" target="element"> Sikkerhets-klassifisering </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d3a81c00-2295-4781-b757-87436e46a1fe.html" target="element"> leser </a> </td>
																		<td> <a href="../elements/d3a81c00-2295-4781-b757-87436e46a1fe.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																		<td> <a href="../elements/8a78152d-31f6-46df-8342-bb1812af6a64.html" target="element"> Datadistribusjon </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/bb645ecc-3249-4fd6-be07-f2f52bb106e9.html" target="element">  </a> </td>
																		<td> <a href="../elements/bb645ecc-3249-4fd6-be07-f2f52bb106e9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/a0af0193-ce05-4443-9ab3-a67cea0f1e50.html" target="element"> Emne (topic) </a> </td>
																		<td> <a href="../elements/96706793-9ad3-44db-ac61-98f06915848b.html" target="element"> Abonnentspesifikt notifikasjonsfilter </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/63f3f7ba-c6f0-49b8-abc2-cbc6c9dd9372.html" target="element">  </a> </td>
																		<td> <a href="../elements/63f3f7ba-c6f0-49b8-abc2-cbc6c9dd9372.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/d66699b0-4006-4c10-9180-7c0e685b5899.html" target="element"> Sikkerhets-klassifisering </a> </td>
																		<td> <a href="../elements/a0af0193-ce05-4443-9ab3-a67cea0f1e50.html" target="element"> Emne (topic) </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>