<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Dataobjekter eOppslag - kladd</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Dataobjekter eOppslag - kladd</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/cefe0dce-52cc-43a6-bbdc-7c1e00babc1a.png" alt="Dataobjekter eOppslag - kladd" usemap="#cefe0dce-52cc-43a6-bbdc-7c1e00babc1amap"/>
			   <map name="cefe0dce-52cc-43a6-bbdc-7c1e00babc1amap">
				  		<area shape="rect" coords="24,20,290,162" href="../elements/94ab0f1e-9004-4991-8560-84253310402d.html"  target="element">
				  		<area shape="rect" coords="648,1460,914,1602" href="../elements/05ac791f-056e-41c8-9019-d03e91c76c31.html"  target="element">
				  		<area shape="rect" coords="336,1208,602,1350" href="../elements/a0a82e42-2b0a-439c-b85c-c30fdf25a702.html"  target="element">
				  		<area shape="rect" coords="1008,268,1274,410" href="../elements/743ee89e-49b3-4b4b-b93b-c7e6f4e0700f.html"  target="element">
				  		<area shape="rect" coords="1008,700,1274,842" href="../elements/90106e3a-d9f4-4817-ab38-473efc7f1aac.html"  target="element">
				  		<area shape="rect" coords="1800,480,1966,622" href="../elements/c7c07808-9034-469b-88c2-d548108a440f.html"  target="element">
				  		<area shape="rect" coords="2040,480,2306,622" href="../elements/f62ede33-8269-4ea4-ad18-813afceec80d.html"  target="element">
				  		<area shape="rect" coords="20,260,286,402" href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html"  target="element">
				  		<area shape="rect" coords="20,452,286,594" href="../elements/cab53c09-b71d-4038-b2b6-bcd0eb6a9c00.html"  target="element">
				  		<area shape="rect" coords="1416,940,1682,1082" href="../elements/06c63c94-e3cd-45bd-922f-892d308dea11.html"  target="element">
				  		<area shape="rect" coords="1272,76,1538,218" href="../elements/6e0dc47c-54f9-4237-a89f-9b99972b0036.html"  target="element">
				  		<area shape="rect" coords="24,1208,290,1350" href="../elements/db286e07-f116-441c-b5d8-f21e49f0442f.html"  target="element">
				  		<area shape="rect" coords="1008,940,1274,1082" href="../elements/b272405b-703f-4a04-aa91-44f3fefb4247.html"  target="element">
				  		<area shape="rect" coords="1008,480,1274,622" href="../elements/bf54babe-70b5-49ab-ab45-ef9dde2780b4.html"  target="element">
				  		<area shape="rect" coords="624,76,890,218" href="../elements/2f98f408-c661-42d9-9e97-8eae0bff34ca.html"  target="element">
				  		<area shape="rect" coords="648,1208,914,1350" href="../elements/386ef5f0-0cbd-427b-a066-82a65a7a7ade.html"  target="element">
				  		<area shape="rect" coords="1618,76,1918,218" href="../elements/883ce9eb-79dc-491e-a417-8f131d31ec77.html"  target="element">
				  		<area shape="rect" coords="1416,480,1682,622" href="../elements/3615ac23-0427-48d2-aa87-96847959907e.html"  target="element">
				  		<area shape="rect" coords="1800,700,1966,842" href="../elements/0c38ff78-0da7-4a57-96bb-5489d58bc81f.html"  target="element">
				  		<area shape="rect" coords="1416,700,1682,842" href="../elements/1939cf8e-8bb0-4743-9dd1-cf8fa8cf5fc8.html"  target="element">
				  		<area shape="rect" coords="2040,700,2306,842" href="../elements/81c9ec0a-a910-4a6c-93ed-e4d5fb1ccca9.html"  target="element">
				  		<area shape="rect" coords="386,268,552,410" href="../elements/3029166f-224d-4532-975d-114c929a0367.html"  target="element">
				  		<area shape="rect" coords="624,268,890,410" href="../elements/2c98b77d-3a5e-46ec-837f-220d29698d9a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Dataobjekter eOppslag - kladd</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/2c98b77d-3a5e-46ec-837f-220d29698d9a.html" target="element"> Samarbeidsportalens registereringstjeneste </a> </td>
											    <td> <a href="../elements/2c98b77d-3a5e-46ec-837f-220d29698d9a.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3029166f-224d-4532-975d-114c929a0367.html" target="element"> API samarbeidsportalen </a> </td>
											    <td> <a href="../elements/3029166f-224d-4532-975d-114c929a0367.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/81c9ec0a-a910-4a6c-93ed-e4d5fb1ccca9.html" target="element"> API-katalogen </a> </td>
											    <td> <a href="../elements/81c9ec0a-a910-4a6c-93ed-e4d5fb1ccca9.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1939cf8e-8bb0-4743-9dd1-cf8fa8cf5fc8.html" target="element"> GUI for registrering og opplasting av OAS-filer </a> </td>
											    <td> <a href="../elements/1939cf8e-8bb0-4743-9dd1-cf8fa8cf5fc8.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0c38ff78-0da7-4a57-96bb-5489d58bc81f.html" target="element"> API for registerering </a> </td>
											    <td> <a href="../elements/0c38ff78-0da7-4a57-96bb-5489d58bc81f.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3615ac23-0427-48d2-aa87-96847959907e.html" target="element"> Altinn portal </a> </td>
											    <td> <a href="../elements/3615ac23-0427-48d2-aa87-96847959907e.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/883ce9eb-79dc-491e-a417-8f131d31ec77.html" target="element"> Tilganger konsument/representasjonsforhold </a> </td>
											    <td> <a href="../elements/883ce9eb-79dc-491e-a417-8f131d31ec77.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/386ef5f0-0cbd-427b-a066-82a65a7a7ade.html" target="element"> Hjemmelsgrunnlag </a> </td>
											    <td> <a href="../elements/386ef5f0-0cbd-427b-a066-82a65a7a7ade.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2f98f408-c661-42d9-9e97-8eae0bff34ca.html" target="element"> Scope-metadata </a> </td>
											    <td> <a href="../elements/2f98f408-c661-42d9-9e97-8eae0bff34ca.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bf54babe-70b5-49ab-ab45-ef9dde2780b4.html" target="element"> Delegerbar ressurs </a> </td>
											    <td> <a href="../elements/bf54babe-70b5-49ab-ab45-ef9dde2780b4.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b272405b-703f-4a04-aa91-44f3fefb4247.html" target="element"> Endepunkt (adresse) </a> </td>
											    <td> <a href="../elements/b272405b-703f-4a04-aa91-44f3fefb4247.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/db286e07-f116-441c-b5d8-f21e49f0442f.html" target="element"> Samtykketoken </a> </td>
											    <td> <a href="../elements/db286e07-f116-441c-b5d8-f21e49f0442f.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6e0dc47c-54f9-4237-a89f-9b99972b0036.html" target="element"> Samtykkemetadata </a> </td>
											    <td> <a href="../elements/6e0dc47c-54f9-4237-a89f-9b99972b0036.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/06c63c94-e3cd-45bd-922f-892d308dea11.html" target="element"> API-katalogmetadata </a> </td>
											    <td> <a href="../elements/06c63c94-e3cd-45bd-922f-892d308dea11.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cab53c09-b71d-4038-b2b6-bcd0eb6a9c00.html" target="element"> ID-porten </a> </td>
											    <td> <a href="../elements/cab53c09-b71d-4038-b2b6-bcd0eb6a9c00.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html" target="element"> Maskinporten </a> </td>
											    <td> <a href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f62ede33-8269-4ea4-ad18-813afceec80d.html" target="element"> Altinn autorisasjon </a> </td>
											    <td> <a href="../elements/f62ede33-8269-4ea4-ad18-813afceec80d.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c7c07808-9034-469b-88c2-d548108a440f.html" target="element"> API </a> </td>
											    <td> <a href="../elements/c7c07808-9034-469b-88c2-d548108a440f.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/90106e3a-d9f4-4817-ab38-473efc7f1aac.html" target="element"> Beskrivelse API </a> </td>
											    <td> <a href="../elements/90106e3a-d9f4-4817-ab38-473efc7f1aac.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/743ee89e-49b3-4b4b-b93b-c7e6f4e0700f.html" target="element"> OAUTH scopes </a> </td>
											    <td> <a href="../elements/743ee89e-49b3-4b4b-b93b-c7e6f4e0700f.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a0a82e42-2b0a-439c-b85c-c30fdf25a702.html" target="element"> Tilgangstoken </a> </td>
											    <td> <a href="../elements/a0a82e42-2b0a-439c-b85c-c30fdf25a702.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/05ac791f-056e-41c8-9019-d03e91c76c31.html" target="element"> Beskrivelse av akt&#248;r som kan innhente samtykke </a> </td>
											    <td> <a href="../elements/05ac791f-056e-41c8-9019-d03e91c76c31.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/94ab0f1e-9004-4991-8560-84253310402d.html" target="element"> Kontakt- og reservasjonsregisteret&#8203; for innbyggere (KRR) </a> </td>
											    <td> <a href="../elements/94ab0f1e-9004-4991-8560-84253310402d.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/0f320adb-8708-490e-a5af-3e389387cb25.html" target="element">  </a> </td>
																		<td> <a href="../elements/0f320adb-8708-490e-a5af-3e389387cb25.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/3029166f-224d-4532-975d-114c929a0367.html" target="element"> API samarbeidsportalen </a> </td>
																		<td> <a href="../elements/2c98b77d-3a5e-46ec-837f-220d29698d9a.html" target="element"> Samarbeidsportalens registereringstjeneste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e429d0b6-36cc-4580-9976-4bce22c10072.html" target="element">  </a> </td>
																		<td> <a href="../elements/e429d0b6-36cc-4580-9976-4bce22c10072.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/3029166f-224d-4532-975d-114c929a0367.html" target="element"> API samarbeidsportalen </a> </td>
																		<td> <a href="../elements/94ab0f1e-9004-4991-8560-84253310402d.html" target="element"> Kontakt- og reservasjonsregisteret&#8203; for innbyggere (KRR) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b35fffe2-7dd9-4ca4-ac78-e91318855473.html" target="element">  </a> </td>
																		<td> <a href="../elements/b35fffe2-7dd9-4ca4-ac78-e91318855473.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/3029166f-224d-4532-975d-114c929a0367.html" target="element"> API samarbeidsportalen </a> </td>
																		<td> <a href="../elements/cab53c09-b71d-4038-b2b6-bcd0eb6a9c00.html" target="element"> ID-porten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10a18e3a-1b32-4d1f-aded-887ac5d9e19f.html" target="element">  </a> </td>
																		<td> <a href="../elements/10a18e3a-1b32-4d1f-aded-887ac5d9e19f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/3029166f-224d-4532-975d-114c929a0367.html" target="element"> API samarbeidsportalen </a> </td>
																		<td> <a href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html" target="element"> Maskinporten </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e958416b-9fc9-415d-a585-b75434aee357.html" target="element">  </a> </td>
																		<td> <a href="../elements/e958416b-9fc9-415d-a585-b75434aee357.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/1939cf8e-8bb0-4743-9dd1-cf8fa8cf5fc8.html" target="element"> GUI for registrering og opplasting av OAS-filer </a> </td>
																		<td> <a href="../elements/0c38ff78-0da7-4a57-96bb-5489d58bc81f.html" target="element"> API for registerering </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/dc50b8f1-1d67-46b5-9333-86de0316992b.html" target="element">  </a> </td>
																		<td> <a href="../elements/dc50b8f1-1d67-46b5-9333-86de0316992b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/0c38ff78-0da7-4a57-96bb-5489d58bc81f.html" target="element"> API for registerering </a> </td>
																		<td> <a href="../elements/81c9ec0a-a910-4a6c-93ed-e4d5fb1ccca9.html" target="element"> API-katalogen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/12a0c2e1-a24d-4607-a3bd-ada76b150e70.html" target="element">  </a> </td>
																		<td> <a href="../elements/12a0c2e1-a24d-4607-a3bd-ada76b150e70.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/883ce9eb-79dc-491e-a417-8f131d31ec77.html" target="element"> Tilganger konsument/representasjonsforhold </a> </td>
																		<td> <a href="../elements/3615ac23-0427-48d2-aa87-96847959907e.html" target="element"> Altinn portal </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4b891fb9-f0e9-4be9-a9de-c683d846e209.html" target="element">  </a> </td>
																		<td> <a href="../elements/4b891fb9-f0e9-4be9-a9de-c683d846e209.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/2f98f408-c661-42d9-9e97-8eae0bff34ca.html" target="element"> Scope-metadata </a> </td>
																		<td> <a href="../elements/2c98b77d-3a5e-46ec-837f-220d29698d9a.html" target="element"> Samarbeidsportalens registereringstjeneste </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8aae65e0-c567-4f90-9191-f2262ad85408.html" target="element">  </a> </td>
																		<td> <a href="../elements/8aae65e0-c567-4f90-9191-f2262ad85408.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/bf54babe-70b5-49ab-ab45-ef9dde2780b4.html" target="element"> Delegerbar ressurs </a> </td>
																		<td> <a href="../elements/743ee89e-49b3-4b4b-b93b-c7e6f4e0700f.html" target="element"> OAUTH scopes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9ffdb4bb-4761-435e-8403-f93685541198.html" target="element">  </a> </td>
																		<td> <a href="../elements/9ffdb4bb-4761-435e-8403-f93685541198.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/bf54babe-70b5-49ab-ab45-ef9dde2780b4.html" target="element"> Delegerbar ressurs </a> </td>
																		<td> <a href="../elements/3615ac23-0427-48d2-aa87-96847959907e.html" target="element"> Altinn portal </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f5f011d1-a406-4c25-990f-2975796d0347.html" target="element">  </a> </td>
																		<td> <a href="../elements/f5f011d1-a406-4c25-990f-2975796d0347.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/6e0dc47c-54f9-4237-a89f-9b99972b0036.html" target="element"> Samtykkemetadata </a> </td>
																		<td> <a href="../elements/3615ac23-0427-48d2-aa87-96847959907e.html" target="element"> Altinn portal </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4188321c-e55c-4ff4-a959-611cb16de25c.html" target="element">  </a> </td>
																		<td> <a href="../elements/4188321c-e55c-4ff4-a959-611cb16de25c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/06c63c94-e3cd-45bd-922f-892d308dea11.html" target="element"> API-katalogmetadata </a> </td>
																		<td> <a href="../elements/1939cf8e-8bb0-4743-9dd1-cf8fa8cf5fc8.html" target="element"> GUI for registrering og opplasting av OAS-filer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5df49ec9-0521-45d0-a32b-d5f84619a875.html" target="element">  </a> </td>
																		<td> <a href="../elements/5df49ec9-0521-45d0-a32b-d5f84619a875.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/f62ede33-8269-4ea4-ad18-813afceec80d.html" target="element"> Altinn autorisasjon </a> </td>
																		<td> <a href="../elements/c7c07808-9034-469b-88c2-d548108a440f.html" target="element"> API </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e8eef5a2-c6b4-4951-b180-55d2894605f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/e8eef5a2-c6b4-4951-b180-55d2894605f9.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/c7c07808-9034-469b-88c2-d548108a440f.html" target="element"> API </a> </td>
																		<td> <a href="../elements/3615ac23-0427-48d2-aa87-96847959907e.html" target="element"> Altinn portal </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a3f403f4-4fd5-4f62-a093-9700afb26735.html" target="element">  </a> </td>
																		<td> <a href="../elements/a3f403f4-4fd5-4f62-a093-9700afb26735.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/90106e3a-d9f4-4817-ab38-473efc7f1aac.html" target="element"> Beskrivelse API </a> </td>
																		<td> <a href="../elements/b272405b-703f-4a04-aa91-44f3fefb4247.html" target="element"> Endepunkt (adresse) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0478d31e-2665-449d-bc2c-fd7b193599e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/0478d31e-2665-449d-bc2c-fd7b193599e6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/90106e3a-d9f4-4817-ab38-473efc7f1aac.html" target="element"> Beskrivelse API </a> </td>
																		<td> <a href="../elements/1939cf8e-8bb0-4743-9dd1-cf8fa8cf5fc8.html" target="element"> GUI for registrering og opplasting av OAS-filer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/05ddf994-66f4-46a4-bd84-26fb7871d36b.html" target="element">  </a> </td>
																		<td> <a href="../elements/05ddf994-66f4-46a4-bd84-26fb7871d36b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/90106e3a-d9f4-4817-ab38-473efc7f1aac.html" target="element"> Beskrivelse API </a> </td>
																		<td> <a href="../elements/bf54babe-70b5-49ab-ab45-ef9dde2780b4.html" target="element"> Delegerbar ressurs </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d91996ca-d268-4e63-ac4c-ab90e3d4cf85.html" target="element">  </a> </td>
																		<td> <a href="../elements/d91996ca-d268-4e63-ac4c-ab90e3d4cf85.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/743ee89e-49b3-4b4b-b93b-c7e6f4e0700f.html" target="element"> OAUTH scopes </a> </td>
																		<td> <a href="../elements/2c98b77d-3a5e-46ec-837f-220d29698d9a.html" target="element"> Samarbeidsportalens registereringstjeneste </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>