<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Innhente data</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Innhente data</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/e50fed15-2a26-483b-b0cd-6a48df73e8ee.png" alt="Innhente data" usemap="#e50fed15-2a26-483b-b0cd-6a48df73e8eemap"/>
			   <map name="e50fed15-2a26-483b-b0cd-6a48df73e8eemap">
				  		<area shape="rect" coords="452,642,718,784" href="../elements/604052b8-dd41-4016-b726-392581856d39.html"  target="element">
				  		<area shape="rect" coords="20,68,286,210" href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html"  target="element">
				  				<area shape="rect" coords="452,340,718,482" href="../elements/e35f0888-8a8d-4ff7-b71e-b336e38b902f.html"  target="element">
				  				<area shape="rect" coords="812,278,1078,418" href="../elements/0530089e-834b-4d95-9ec5-9cd4babb43fb.html"  target="element">
				  				<area shape="rect" coords="1532,342,1798,482" href="../elements/a79edfad-e067-4629-86ef-67616a13fbc6.html"  target="element">
				  				<area shape="rect" coords="1124,398,1390,538" href="../elements/b7cbba3b-7ad6-4b4f-8916-3fdd75a06932.html"  target="element">

				  		<area shape="rect" coords="380,206,1870,574" href="../elements/a6eb2686-7212-443f-900a-1c46d6d027a6.html"  target="element">
				  		<area shape="rect" coords="1532,642,1798,784" href="../elements/0c051f18-03b6-4561-a6d8-a77912e4686c.html"  target="element">
				  		<area shape="rect" coords="1532,20,1798,160" href="../elements/488c66f9-26d2-4c68-826d-5a3261958d0a.html"  target="element">
				  		<area shape="rect" coords="20,318,286,460" href="../elements/aa30d232-3bcf-4969-a022-c66e93a80ec5.html"  target="element">
				  		<area shape="rect" coords="1124,642,1390,784" href="../elements/997e9993-2339-49a8-9935-fb3794fdbb46.html"  target="element">
				  		<area shape="rect" coords="812,642,1078,784" href="../elements/2715d0e5-cfea-4699-aa85-ac696c2e155d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Sl&#229; opp data gjennom et API - arkitekturm&#248;nster</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/2715d0e5-cfea-4699-aa85-ac696c2e155d.html" target="element"> Adressetjeneste </a> </td>
											    <td> <a href="../elements/2715d0e5-cfea-4699-aa85-ac696c2e155d.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/997e9993-2339-49a8-9935-fb3794fdbb46.html" target="element"> Tokentjeneste </a> </td>
											    <td> <a href="../elements/997e9993-2339-49a8-9935-fb3794fdbb46.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/aa30d232-3bcf-4969-a022-c66e93a80ec5.html" target="element"> Innhente data </a> </td>
											    <td> <a href="../elements/aa30d232-3bcf-4969-a022-c66e93a80ec5.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/488c66f9-26d2-4c68-826d-5a3261958d0a.html" target="element"> Foresp&#248;rsel om data </a> </td>
											    <td> <a href="../elements/488c66f9-26d2-4c68-826d-5a3261958d0a.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0c051f18-03b6-4561-a6d8-a77912e4686c.html" target="element"> Datautvekslings-tjeneste </a> </td>
											    <td> <a href="../elements/0c051f18-03b6-4561-a6d8-a77912e4686c.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a6eb2686-7212-443f-900a-1c46d6d027a6.html" target="element"> Sl&#229; opp data gjennom et API  </a> </td>
											    <td> <a href="../elements/a6eb2686-7212-443f-900a-1c46d6d027a6.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/b7cbba3b-7ad6-4b4f-8916-3fdd75a06932.html" target="element"> Be om tilgangstoken </a> </td>
													    <td> <a href="../elements/b7cbba3b-7ad6-4b4f-8916-3fdd75a06932.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a79edfad-e067-4629-86ef-67616a13fbc6.html" target="element"> Utf&#248;r tjenestekall </a> </td>
													    <td> <a href="../elements/a79edfad-e067-4629-86ef-67616a13fbc6.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0530089e-834b-4d95-9ec5-9cd4babb43fb.html" target="element"> Hent teknisk endepunkt ved behov </a> </td>
													    <td> <a href="../elements/0530089e-834b-4d95-9ec5-9cd4babb43fb.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e35f0888-8a8d-4ff7-b71e-b336e38b902f.html" target="element"> Innhent samtykke ved behov </a> </td>
													    <td> <a href="../elements/e35f0888-8a8d-4ff7-b71e-b336e38b902f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
											    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/604052b8-dd41-4016-b726-392581856d39.html" target="element"> Samtykkeregistererings-tjeneste </a> </td>
											    <td> <a href="../elements/604052b8-dd41-4016-b726-392581856d39.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/6a3460d2-2fb1-4f0c-969a-34b6e118e764.html" target="element">  </a> </td>
																		<td> <a href="../elements/6a3460d2-2fb1-4f0c-969a-34b6e118e764.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/2715d0e5-cfea-4699-aa85-ac696c2e155d.html" target="element"> Adressetjeneste </a> </td>
																		<td> <a href="../elements/0530089e-834b-4d95-9ec5-9cd4babb43fb.html" target="element"> Hent teknisk endepunkt ved behov </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f232a4e1-fd87-499f-ae4f-778270046977.html" target="element">  </a> </td>
																		<td> <a href="../elements/f232a4e1-fd87-499f-ae4f-778270046977.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/997e9993-2339-49a8-9935-fb3794fdbb46.html" target="element"> Tokentjeneste </a> </td>
																		<td> <a href="../elements/b7cbba3b-7ad6-4b4f-8916-3fdd75a06932.html" target="element"> Be om tilgangstoken </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/00cb79a0-13fb-44a1-bb9a-963ac4eb4b6f.html" target="element">  </a> </td>
																		<td> <a href="../elements/00cb79a0-13fb-44a1-bb9a-963ac4eb4b6f.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/0c051f18-03b6-4561-a6d8-a77912e4686c.html" target="element"> Datautvekslings-tjeneste </a> </td>
																		<td> <a href="../elements/a79edfad-e067-4629-86ef-67616a13fbc6.html" target="element"> Utf&#248;r tjenestekall </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/640248c0-669b-4bb9-8edd-9b312adeaf91.html" target="element">  </a> </td>
																		<td> <a href="../elements/640248c0-669b-4bb9-8edd-9b312adeaf91.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/a6eb2686-7212-443f-900a-1c46d6d027a6.html" target="element"> Sl&#229; opp data gjennom et API  </a> </td>
																		<td> <a href="../elements/e35f0888-8a8d-4ff7-b71e-b336e38b902f.html" target="element"> Innhent samtykke ved behov </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/492529a9-7f91-4e5e-8f30-df0ae0af3a39.html" target="element">  </a> </td>
																		<td> <a href="../elements/492529a9-7f91-4e5e-8f30-df0ae0af3a39.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/a6eb2686-7212-443f-900a-1c46d6d027a6.html" target="element"> Sl&#229; opp data gjennom et API  </a> </td>
																		<td> <a href="../elements/aa30d232-3bcf-4969-a022-c66e93a80ec5.html" target="element"> Innhente data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6a6e4bfc-4df9-4de1-b370-893c23cf7423.html" target="element">  </a> </td>
																		<td> <a href="../elements/6a6e4bfc-4df9-4de1-b370-893c23cf7423.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/a6eb2686-7212-443f-900a-1c46d6d027a6.html" target="element"> Sl&#229; opp data gjennom et API  </a> </td>
																		<td> <a href="../elements/a79edfad-e067-4629-86ef-67616a13fbc6.html" target="element"> Utf&#248;r tjenestekall </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5688071a-27e3-41aa-8ec7-02575a5220ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/5688071a-27e3-41aa-8ec7-02575a5220ec.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/a6eb2686-7212-443f-900a-1c46d6d027a6.html" target="element"> Sl&#229; opp data gjennom et API  </a> </td>
																		<td> <a href="../elements/b7cbba3b-7ad6-4b4f-8916-3fdd75a06932.html" target="element"> Be om tilgangstoken </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4ae740bc-002f-4460-9f85-216408a9b7b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/4ae740bc-002f-4460-9f85-216408a9b7b9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/a6eb2686-7212-443f-900a-1c46d6d027a6.html" target="element"> Sl&#229; opp data gjennom et API  </a> </td>
																		<td> <a href="../elements/0530089e-834b-4d95-9ec5-9cd4babb43fb.html" target="element"> Hent teknisk endepunkt ved behov </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/dc6396a9-e0fd-4aa4-887c-4cda2e595b76.html" target="element">  </a> </td>
																				<td> <a href="../elements/dc6396a9-e0fd-4aa4-887c-4cda2e595b76.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/b7cbba3b-7ad6-4b4f-8916-3fdd75a06932.html" target="element"> Be om tilgangstoken </a> </td>
																				<td> <a href="../elements/a79edfad-e067-4629-86ef-67616a13fbc6.html" target="element"> Utf&#248;r tjenestekall </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/c82f7bba-80cc-4bd7-8c9c-cf3f54993208.html" target="element">  </a> </td>
																				<td> <a href="../elements/c82f7bba-80cc-4bd7-8c9c-cf3f54993208.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/a79edfad-e067-4629-86ef-67616a13fbc6.html" target="element"> Utf&#248;r tjenestekall </a> </td>
																				<td> <a href="../elements/488c66f9-26d2-4c68-826d-5a3261958d0a.html" target="element"> Foresp&#248;rsel om data </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/66eddf2b-61ba-485a-8c79-313ba1f22790.html" target="element">  </a> </td>
																				<td> <a href="../elements/66eddf2b-61ba-485a-8c79-313ba1f22790.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/0530089e-834b-4d95-9ec5-9cd4babb43fb.html" target="element"> Hent teknisk endepunkt ved behov </a> </td>
																				<td> <a href="../elements/a79edfad-e067-4629-86ef-67616a13fbc6.html" target="element"> Utf&#248;r tjenestekall </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b7907f8b-be94-45ed-b685-973dd8eb86a3.html" target="element">  </a> </td>
																				<td> <a href="../elements/b7907f8b-be94-45ed-b685-973dd8eb86a3.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/0530089e-834b-4d95-9ec5-9cd4babb43fb.html" target="element"> Hent teknisk endepunkt ved behov </a> </td>
																				<td> <a href="../elements/a6eb2686-7212-443f-900a-1c46d6d027a6.html" target="element"> Sl&#229; opp data gjennom et API  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/e85c6785-305c-41a4-97a1-11ff8c31c77d.html" target="element">  </a> </td>
																				<td> <a href="../elements/e85c6785-305c-41a4-97a1-11ff8c31c77d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/e35f0888-8a8d-4ff7-b71e-b336e38b902f.html" target="element"> Innhent samtykke ved behov </a> </td>
																				<td> <a href="../elements/0530089e-834b-4d95-9ec5-9cd4babb43fb.html" target="element"> Hent teknisk endepunkt ved behov </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/350ba56c-0d5d-46d8-9bb7-a47b17529077.html" target="element">  </a> </td>
																				<td> <a href="../elements/350ba56c-0d5d-46d8-9bb7-a47b17529077.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/e35f0888-8a8d-4ff7-b71e-b336e38b902f.html" target="element"> Innhent samtykke ved behov </a> </td>
																				<td> <a href="../elements/b7cbba3b-7ad6-4b4f-8916-3fdd75a06932.html" target="element"> Be om tilgangstoken </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/fd176e3e-ba41-4702-bba4-5a4dd73bed5a.html" target="element">  </a> </td>
																		<td> <a href="../elements/fd176e3e-ba41-4702-bba4-5a4dd73bed5a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																		<td> <a href="../elements/aa30d232-3bcf-4969-a022-c66e93a80ec5.html" target="element"> Innhente data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7d75be89-7ccc-42c2-9e17-9b4fa6649fb0.html" target="element">  </a> </td>
																		<td> <a href="../elements/7d75be89-7ccc-42c2-9e17-9b4fa6649fb0.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/604052b8-dd41-4016-b726-392581856d39.html" target="element"> Samtykkeregistererings-tjeneste </a> </td>
																		<td> <a href="../elements/e35f0888-8a8d-4ff7-b71e-b336e38b902f.html" target="element"> Innhent samtykke ved behov </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>