<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Inngangsport - modellerings-konvensjoner</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Inngangsport - modellerings-konvensjoner</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/f3c41013-e5b3-42ad-908e-841388d583bd.png" alt="Inngangsport - modellerings-konvensjoner" usemap="#f3c41013-e5b3-42ad-908e-841388d583bdmap"/>
			   <map name="f3c41013-e5b3-42ad-908e-841388d583bdmap">
				  		<area shape="rect" coords="20,416,286,558" href="../views/id-fa5336a1a13749d194c3fe1aa2afcdc2.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="20,212,286,354" href="../views/56d0ced5-6d87-46a0-9ff4-c08f72150bf9.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1460,20,1726,162" href="../views/3ea547a0-89f4-4e48-b068-4008ca824656.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1172,20,1438,162" href="../views/8e87e3de-b64e-437c-8b0c-a4a6b16cb01e.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="596,20,862,162" href="../views/edbc078e-6f87-41cf-9bf9-dbf9103709cc.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="884,20,1150,162" href="../views/2445346e-ac47-4153-a7a8-ea4da6d211be.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="20,20,286,162" href="../views/c84e1b9b-42cc-4f54-a6ce-cb52aeb749c7.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="308,20,574,162" href="../views/ba3e8dbd-2f6c-4777-baff-2078cfa70b85.html"  target="view">
				      <!-- Other diagram objects -->

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Inngangsport - metamodeller</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../views/ba3e8dbd-2f6c-4777-baff-2078cfa70b85.html" target="view"> Abstraksjon - tjeneste </a> </td>
											    <td> <a href="../views/ba3e8dbd-2f6c-4777-baff-2078cfa70b85.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/c84e1b9b-42cc-4f54-a6ce-cb52aeb749c7.html" target="view"> Abstraksjon - data </a> </td>
											    <td> <a href="../views/c84e1b9b-42cc-4f54-a6ce-cb52aeb749c7.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/2445346e-ac47-4153-a7a8-ea4da6d211be.html" target="view"> Abstraksjon - prosess </a> </td>
											    <td> <a href="../views/2445346e-ac47-4153-a7a8-ea4da6d211be.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/edbc078e-6f87-41cf-9bf9-dbf9103709cc.html" target="view"> Abstraksjon - interface </a> </td>
											    <td> <a href="../views/edbc078e-6f87-41cf-9bf9-dbf9103709cc.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/8e87e3de-b64e-437c-8b0c-a4a6b16cb01e.html" target="view"> Abstraksjon - ressurser </a> </td>
											    <td> <a href="../views/8e87e3de-b64e-437c-8b0c-a4a6b16cb01e.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/3ea547a0-89f4-4e48-b068-4008ca824656.html" target="view"> Abstraksjon eksempler </a> </td>
											    <td> <a href="../views/3ea547a0-89f4-4e48-b068-4008ca824656.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/56d0ced5-6d87-46a0-9ff4-c08f72150bf9.html" target="view"> Realisering </a> </td>
											    <td> <a href="../views/56d0ced5-6d87-46a0-9ff4-c08f72150bf9.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-fa5336a1a13749d194c3fe1aa2afcdc2.html" target="view"> Archimate-symboler </a> </td>
											    <td> <a href="../views/id-fa5336a1a13749d194c3fe1aa2afcdc2.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>