<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Publisering av hendelser - filtrering og minimering (copy)</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Publisering av hendelser - filtrering og minimering (copy)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/fc5566c4-78fe-491d-b60d-77023e07b9dd.png" alt="Publisering av hendelser - filtrering og minimering (copy)" usemap="#fc5566c4-78fe-491d-b60d-77023e07b9ddmap"/>
			   <map name="fc5566c4-78fe-491d-b60d-77023e07b9ddmap">
				  		<area shape="rect" coords="1538,20,1804,162" href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html"  target="element">
				  						<area shape="rect" coords="1538,308,1804,450" href="../elements/dadf8c16-f128-4055-b9af-71ed3c2267c4.html"  target="element">

				  				<area shape="rect" coords="1490,260,1876,526" href="../elements/1dad6078-0dbf-4d03-8c50-7e6195ce0698.html"  target="element">
				  				<area shape="rect" coords="1106,1100,1372,1242" href="../elements/7f93bd84-8ed5-49ac-a514-ba67a7be9a4a.html"  target="element">
				  						<area shape="rect" coords="1514,1122,1780,1264" href="../elements/a435ad85-4570-4008-acd7-b1ac8228a38b.html"  target="element">

				  				<area shape="rect" coords="1442,1026,1852,1316" href="../elements/e9551f98-52fb-4cdc-a398-59a3521ebbc0.html"  target="element">
				  				<area shape="rect" coords="1130,788,1396,930" href="../elements/f4de1cb1-86b8-4865-847a-eb382c59dcd9.html"  target="element">
				  				<area shape="rect" coords="1898,1218,2154,1312" href="../elements/bfb8c49b-ead4-49af-b1f8-6566d33d8d39.html"  target="element">
				  				<area shape="rect" coords="1898,1098,2154,1192" href="../elements/d6ead874-4a2d-423c-b992-fffc1bf917d3.html"  target="element">

				  		<area shape="rect" coords="1082,212,2212,1462" href="../elements/484ed6c7-a0f3-4e2a-9e5a-942ad4769309.html"  target="element">
				  				<area shape="rect" coords="596,236,852,330" href="../elements/cd5079fc-6c87-4501-9059-5d8d3f8bbaa4.html"  target="element">
				  				<area shape="rect" coords="596,356,852,450" href="../elements/e2a6504c-01cf-442a-b020-ec6402b17501.html"  target="element">
				  				<area shape="rect" coords="284,1076,550,1218" href="../elements/545c5a3a-ffd5-4a68-a8a6-316f7b96dd4e.html"  target="element">
				  				<area shape="rect" coords="284,260,550,402" href="../elements/8d5ac62e-603a-4d34-aa0c-b574391a94a5.html"  target="element">
				  				<area shape="rect" coords="308,740,574,882" href="../elements/c4eeae28-965f-450d-9cdc-f20b90f2ff2d.html"  target="element">
				  				<area shape="rect" coords="284,428,550,570" href="../elements/df102370-63de-40c9-b3ad-f573cb1ff1b8.html"  target="element">
				  				<area shape="rect" coords="476,596,732,690" href="../elements/d9db40fa-6e13-4bd0-b701-16694bc7afb5.html"  target="element">
				  				<area shape="rect" coords="500,1268,756,1362" href="../elements/bf37dc81-5ad3-459d-b501-0790567e8039.html"  target="element">
				  				<area shape="rect" coords="116,956,372,1050" href="../elements/6aac0cd3-c219-4507-b5b8-89874cac1e0c.html"  target="element">
				  				<area shape="rect" coords="500,956,756,1050" href="../elements/cf641ae6-df2a-47e3-90d2-96b15200781d.html"  target="element">
				  				<area shape="rect" coords="116,1268,372,1362" href="../elements/e1f6428a-8e47-4dae-b936-a65379329115.html"  target="element">
				  				<area shape="rect" coords="116,596,372,690" href="../elements/a5c1a7b7-7ad5-44c7-ba08-8701623c3052.html"  target="element">

				  		<area shape="rect" coords="20,212,892,1462" href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html"  target="element">
				  		<area shape="rect" coords="264,20,530,162" href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap">nab_referanse_arkitekturer_datautveksling_publisering</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html" target="element"> Datatilbyders publiseringsl&#248;sning </a> </td>
											    <td> <a href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
											    <td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/a5c1a7b7-7ad5-44c7-ba08-8701623c3052.html" target="element"> Komplett hendelsesliste, tilbyders domene </a> </td>
													    <td> <a href="../elements/a5c1a7b7-7ad5-44c7-ba08-8701623c3052.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e1f6428a-8e47-4dae-b936-a65379329115.html" target="element"> Filtrert hendelsesliste </a> </td>
													    <td> <a href="../elements/e1f6428a-8e47-4dae-b936-a65379329115.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/cf641ae6-df2a-47e3-90d2-96b15200781d.html" target="element"> Publisert notifikasjon </a> </td>
													    <td> <a href="../elements/cf641ae6-df2a-47e3-90d2-96b15200781d.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6aac0cd3-c219-4507-b5b8-89874cac1e0c.html" target="element"> Publisert hendelsesliste </a> </td>
													    <td> <a href="../elements/6aac0cd3-c219-4507-b5b8-89874cac1e0c.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/bf37dc81-5ad3-459d-b501-0790567e8039.html" target="element"> Minimert notifikasjon </a> </td>
													    <td> <a href="../elements/bf37dc81-5ad3-459d-b501-0790567e8039.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d9db40fa-6e13-4bd0-b701-16694bc7afb5.html" target="element"> Komplett notifikasjon, tilbyders domene </a> </td>
													    <td> <a href="../elements/d9db40fa-6e13-4bd0-b701-16694bc7afb5.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/df102370-63de-40c9-b3ad-f573cb1ff1b8.html" target="element"> Generering av notifikasjon </a> </td>
													    <td> <a href="../elements/df102370-63de-40c9-b3ad-f573cb1ff1b8.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c4eeae28-965f-450d-9cdc-f20b90f2ff2d.html" target="element"> Skriving av notifikasjon til eksponerte hendelseslister </a> </td>
													    <td> <a href="../elements/c4eeae28-965f-450d-9cdc-f20b90f2ff2d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8d5ac62e-603a-4d34-aa0c-b574391a94a5.html" target="element"> Registrering som konsument av hendelseliste </a> </td>
													    <td> <a href="../elements/8d5ac62e-603a-4d34-aa0c-b574391a94a5.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/545c5a3a-ffd5-4a68-a8a6-316f7b96dd4e.html" target="element"> Tilbyders filtrerings- og minimeringstjeneste </a> </td>
													    <td> <a href="../elements/545c5a3a-ffd5-4a68-a8a6-316f7b96dd4e.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e2a6504c-01cf-442a-b020-ec6402b17501.html" target="element"> Minimerings-spesifikasjon </a> </td>
													    <td> <a href="../elements/e2a6504c-01cf-442a-b020-ec6402b17501.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/cd5079fc-6c87-4501-9059-5d8d3f8bbaa4.html" target="element"> Filterspesifikasjon </a> </td>
													    <td> <a href="../elements/cd5079fc-6c87-4501-9059-5d8d3f8bbaa4.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/484ed6c7-a0f3-4e2a-9e5a-942ad4769309.html" target="element"> Konsument </a> </td>
											    <td> <a href="../elements/484ed6c7-a0f3-4e2a-9e5a-942ad4769309.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d6ead874-4a2d-423c-b992-fffc1bf917d3.html" target="element"> Kassert notifikasjon </a> </td>
													    <td> <a href="../elements/d6ead874-4a2d-423c-b992-fffc1bf917d3.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/bfb8c49b-ead4-49af-b1f8-6566d33d8d39.html" target="element"> Benyttet notifikasjon </a> </td>
													    <td> <a href="../elements/bfb8c49b-ead4-49af-b1f8-6566d33d8d39.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f4de1cb1-86b8-4865-847a-eb382c59dcd9.html" target="element"> Oversikt over leste notifikasjoner </a> </td>
													    <td> <a href="../elements/f4de1cb1-86b8-4865-847a-eb382c59dcd9.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e9551f98-52fb-4cdc-a398-59a3521ebbc0.html" target="element"> Konsuments filtrerings- og minimeringstjeneste </a> </td>
													    <td> <a href="../elements/e9551f98-52fb-4cdc-a398-59a3521ebbc0.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/a435ad85-4570-4008-acd7-b1ac8228a38b.html" target="element"> Vurder kassering av mottatt notifikasjon </a> </td>
															    <td> <a href="../elements/a435ad85-4570-4008-acd7-b1ac8228a38b.html" target="element" class="i18n-elementtype-ApplicationFunction">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/7f93bd84-8ed5-49ac-a514-ba67a7be9a4a.html" target="element"> Sp&#248;rring mot eksponert hendelsesliste </a> </td>
													    <td> <a href="../elements/7f93bd84-8ed5-49ac-a514-ba67a7be9a4a.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1dad6078-0dbf-4d03-8c50-7e6195ce0698.html" target="element"> Inng&#229; avtale om tilgang til hendelsesliste med notifikasjoner </a> </td>
													    <td> <a href="../elements/1dad6078-0dbf-4d03-8c50-7e6195ce0698.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/dadf8c16-f128-4055-b9af-71ed3c2267c4.html" target="element"> Spesifiser notifikasjonsfilter overfor tilbyder </a> </td>
															    <td> <a href="../elements/dadf8c16-f128-4055-b9af-71ed3c2267c4.html" target="element" class="i18n-elementtype-ApplicationFunction">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html" target="element"> Datakonsuments l&#248;sning for innhenting av publiserte data </a> </td>
											    <td> <a href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/d9d54541-59d8-49f8-8f74-970d42b2c636.html" target="element">  </a> </td>
																		<td> <a href="../elements/d9d54541-59d8-49f8-8f74-970d42b2c636.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
																		<td> <a href="../elements/cd5079fc-6c87-4501-9059-5d8d3f8bbaa4.html" target="element"> Filterspesifikasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/86164b04-f8b2-403f-a836-5facd294a52e.html" target="element">  </a> </td>
																		<td> <a href="../elements/86164b04-f8b2-403f-a836-5facd294a52e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
																		<td> <a href="../elements/a5c1a7b7-7ad5-44c7-ba08-8701623c3052.html" target="element"> Komplett hendelsesliste, tilbyders domene </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c19a6565-56c2-4c4a-adb0-33ef59c5be9d.html" target="element">  </a> </td>
																		<td> <a href="../elements/c19a6565-56c2-4c4a-adb0-33ef59c5be9d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
																		<td> <a href="../elements/bf37dc81-5ad3-459d-b501-0790567e8039.html" target="element"> Minimert notifikasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f429de40-2915-47d1-80e9-8f757fbb8b86.html" target="element">  </a> </td>
																		<td> <a href="../elements/f429de40-2915-47d1-80e9-8f757fbb8b86.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
																		<td> <a href="../elements/e1f6428a-8e47-4dae-b936-a65379329115.html" target="element"> Filtrert hendelsesliste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/065462bf-0da9-4849-bf35-d2ce00353bbd.html" target="element">  </a> </td>
																		<td> <a href="../elements/065462bf-0da9-4849-bf35-d2ce00353bbd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
																		<td> <a href="../elements/c4eeae28-965f-450d-9cdc-f20b90f2ff2d.html" target="element"> Skriving av notifikasjon til eksponerte hendelseslister </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ada3c096-3a73-49a2-89b6-2fd33fd41651.html" target="element">  </a> </td>
																		<td> <a href="../elements/ada3c096-3a73-49a2-89b6-2fd33fd41651.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
																		<td> <a href="../elements/8d5ac62e-603a-4d34-aa0c-b574391a94a5.html" target="element"> Registrering som konsument av hendelseliste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1a712d64-e7f9-42b5-8320-eb4e33c08acd.html" target="element">  </a> </td>
																		<td> <a href="../elements/1a712d64-e7f9-42b5-8320-eb4e33c08acd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
																		<td> <a href="../elements/cf641ae6-df2a-47e3-90d2-96b15200781d.html" target="element"> Publisert notifikasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0fceccff-9d5b-49c6-be59-36d3b9e05f6c.html" target="element">  </a> </td>
																		<td> <a href="../elements/0fceccff-9d5b-49c6-be59-36d3b9e05f6c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
																		<td> <a href="../elements/d9db40fa-6e13-4bd0-b701-16694bc7afb5.html" target="element"> Komplett notifikasjon, tilbyders domene </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f347b365-e11f-47a1-a686-cbcda80dbd09.html" target="element">  </a> </td>
																		<td> <a href="../elements/f347b365-e11f-47a1-a686-cbcda80dbd09.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
																		<td> <a href="../elements/e2a6504c-01cf-442a-b020-ec6402b17501.html" target="element"> Minimerings-spesifikasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/120970b4-bc04-4fe8-9a31-da1595761f77.html" target="element">  </a> </td>
																		<td> <a href="../elements/120970b4-bc04-4fe8-9a31-da1595761f77.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
																		<td> <a href="../elements/545c5a3a-ffd5-4a68-a8a6-316f7b96dd4e.html" target="element"> Tilbyders filtrerings- og minimeringstjeneste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9a7d5cef-2533-44e1-9686-d8c952de6641.html" target="element">  </a> </td>
																		<td> <a href="../elements/9a7d5cef-2533-44e1-9686-d8c952de6641.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
																		<td> <a href="../elements/ebe49991-06cd-4621-8493-41fa6f6dcb6f.html" target="element"> Datatilbyders publiseringsl&#248;sning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1b6f659e-5e31-4e4d-83bc-fbe32331b0c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/1b6f659e-5e31-4e4d-83bc-fbe32331b0c9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
																		<td> <a href="../elements/df102370-63de-40c9-b3ad-f573cb1ff1b8.html" target="element"> Generering av notifikasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e8d02953-0363-425f-bdee-256ec139c6e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/e8d02953-0363-425f-bdee-256ec139c6e6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/4a1f646b-dda9-431d-89ef-54e3be7a98cb.html" target="element"> Tilbyder </a> </td>
																		<td> <a href="../elements/6aac0cd3-c219-4507-b5b8-89874cac1e0c.html" target="element"> Publisert hendelsesliste </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/ddf13059-44f5-460a-a65b-8d3492c527f1.html" target="element">  </a> </td>
																				<td> <a href="../elements/ddf13059-44f5-460a-a65b-8d3492c527f1.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/df102370-63de-40c9-b3ad-f573cb1ff1b8.html" target="element"> Generering av notifikasjon </a> </td>
																				<td> <a href="../elements/a5c1a7b7-7ad5-44c7-ba08-8701623c3052.html" target="element"> Komplett hendelsesliste, tilbyders domene </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f5966382-671f-47dd-a5ce-e1bee6e980c2.html" target="element">  </a> </td>
																				<td> <a href="../elements/f5966382-671f-47dd-a5ce-e1bee6e980c2.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/df102370-63de-40c9-b3ad-f573cb1ff1b8.html" target="element"> Generering av notifikasjon </a> </td>
																				<td> <a href="../elements/d9db40fa-6e13-4bd0-b701-16694bc7afb5.html" target="element"> Komplett notifikasjon, tilbyders domene </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/0912b41c-953f-4901-ba60-2f19b691edc6.html" target="element">  </a> </td>
																				<td> <a href="../elements/0912b41c-953f-4901-ba60-2f19b691edc6.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/c4eeae28-965f-450d-9cdc-f20b90f2ff2d.html" target="element"> Skriving av notifikasjon til eksponerte hendelseslister </a> </td>
																				<td> <a href="../elements/d9db40fa-6e13-4bd0-b701-16694bc7afb5.html" target="element"> Komplett notifikasjon, tilbyders domene </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/73e8b53e-53c0-4d2f-95d4-fe869c3bc9ad.html" target="element">  </a> </td>
																				<td> <a href="../elements/73e8b53e-53c0-4d2f-95d4-fe869c3bc9ad.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/c4eeae28-965f-450d-9cdc-f20b90f2ff2d.html" target="element"> Skriving av notifikasjon til eksponerte hendelseslister </a> </td>
																				<td> <a href="../elements/6aac0cd3-c219-4507-b5b8-89874cac1e0c.html" target="element"> Publisert hendelsesliste </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d04ecbaa-3768-470d-a782-e43050693682.html" target="element">  </a> </td>
																				<td> <a href="../elements/d04ecbaa-3768-470d-a782-e43050693682.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/c4eeae28-965f-450d-9cdc-f20b90f2ff2d.html" target="element"> Skriving av notifikasjon til eksponerte hendelseslister </a> </td>
																				<td> <a href="../elements/cf641ae6-df2a-47e3-90d2-96b15200781d.html" target="element"> Publisert notifikasjon </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/4afbf151-6847-4d37-b646-1035b3401217.html" target="element">  </a> </td>
																				<td> <a href="../elements/4afbf151-6847-4d37-b646-1035b3401217.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/c4eeae28-965f-450d-9cdc-f20b90f2ff2d.html" target="element"> Skriving av notifikasjon til eksponerte hendelseslister </a> </td>
																				<td> <a href="../elements/a5c1a7b7-7ad5-44c7-ba08-8701623c3052.html" target="element"> Komplett hendelsesliste, tilbyders domene </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/d1965dd6-f2c6-47ae-9afe-aaf0514e71b1.html" target="element">  </a> </td>
																				<td> <a href="../elements/d1965dd6-f2c6-47ae-9afe-aaf0514e71b1.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/8d5ac62e-603a-4d34-aa0c-b574391a94a5.html" target="element"> Registrering som konsument av hendelseliste </a> </td>
																				<td> <a href="../elements/cd5079fc-6c87-4501-9059-5d8d3f8bbaa4.html" target="element"> Filterspesifikasjon </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/72a9f02f-ea63-42bd-98ea-864af1e18d82.html" target="element">  </a> </td>
																				<td> <a href="../elements/72a9f02f-ea63-42bd-98ea-864af1e18d82.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/8d5ac62e-603a-4d34-aa0c-b574391a94a5.html" target="element"> Registrering som konsument av hendelseliste </a> </td>
																				<td> <a href="../elements/e2a6504c-01cf-442a-b020-ec6402b17501.html" target="element"> Minimerings-spesifikasjon </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/7428190f-0880-4891-bc8b-e0b661414f51.html" target="element">  </a> </td>
																				<td> <a href="../elements/7428190f-0880-4891-bc8b-e0b661414f51.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/545c5a3a-ffd5-4a68-a8a6-316f7b96dd4e.html" target="element"> Tilbyders filtrerings- og minimeringstjeneste </a> </td>
																				<td> <a href="../elements/cf641ae6-df2a-47e3-90d2-96b15200781d.html" target="element"> Publisert notifikasjon </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9fadc940-1644-4ac8-84ab-031b6f06ce1a.html" target="element">  </a> </td>
																				<td> <a href="../elements/9fadc940-1644-4ac8-84ab-031b6f06ce1a.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/545c5a3a-ffd5-4a68-a8a6-316f7b96dd4e.html" target="element"> Tilbyders filtrerings- og minimeringstjeneste </a> </td>
																				<td> <a href="../elements/bf37dc81-5ad3-459d-b501-0790567e8039.html" target="element"> Minimert notifikasjon </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/7dd664b1-b670-4fe4-8ba2-6c3e2ff09d0e.html" target="element">  </a> </td>
																				<td> <a href="../elements/7dd664b1-b670-4fe4-8ba2-6c3e2ff09d0e.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/545c5a3a-ffd5-4a68-a8a6-316f7b96dd4e.html" target="element"> Tilbyders filtrerings- og minimeringstjeneste </a> </td>
																				<td> <a href="../elements/6aac0cd3-c219-4507-b5b8-89874cac1e0c.html" target="element"> Publisert hendelsesliste </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e0dc5970-48b4-4de7-b279-d90429b77889.html" target="element">  </a> </td>
																				<td> <a href="../elements/e0dc5970-48b4-4de7-b279-d90429b77889.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/545c5a3a-ffd5-4a68-a8a6-316f7b96dd4e.html" target="element"> Tilbyders filtrerings- og minimeringstjeneste </a> </td>
																				<td> <a href="../elements/e1f6428a-8e47-4dae-b936-a65379329115.html" target="element"> Filtrert hendelsesliste </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/c1086948-f700-4267-b90a-7d942420e688.html" target="element">  </a> </td>
																		<td> <a href="../elements/c1086948-f700-4267-b90a-7d942420e688.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/484ed6c7-a0f3-4e2a-9e5a-942ad4769309.html" target="element"> Konsument </a> </td>
																		<td> <a href="../elements/bfb8c49b-ead4-49af-b1f8-6566d33d8d39.html" target="element"> Benyttet notifikasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f22d1579-98c3-4bd9-8899-b961c74fbd45.html" target="element">  </a> </td>
																		<td> <a href="../elements/f22d1579-98c3-4bd9-8899-b961c74fbd45.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/484ed6c7-a0f3-4e2a-9e5a-942ad4769309.html" target="element"> Konsument </a> </td>
																		<td> <a href="../elements/e9551f98-52fb-4cdc-a398-59a3521ebbc0.html" target="element"> Konsuments filtrerings- og minimeringstjeneste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/60f1b1ce-dae9-42bf-87b3-39c0060cc755.html" target="element">  </a> </td>
																		<td> <a href="../elements/60f1b1ce-dae9-42bf-87b3-39c0060cc755.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/484ed6c7-a0f3-4e2a-9e5a-942ad4769309.html" target="element"> Konsument </a> </td>
																		<td> <a href="../elements/7f93bd84-8ed5-49ac-a514-ba67a7be9a4a.html" target="element"> Sp&#248;rring mot eksponert hendelsesliste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9d930c46-9826-4d2c-89ba-50411a553ded.html" target="element">  </a> </td>
																		<td> <a href="../elements/9d930c46-9826-4d2c-89ba-50411a553ded.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/484ed6c7-a0f3-4e2a-9e5a-942ad4769309.html" target="element"> Konsument </a> </td>
																		<td> <a href="../elements/d6ead874-4a2d-423c-b992-fffc1bf917d3.html" target="element"> Kassert notifikasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b876cc7b-d2a8-4560-b674-e9edfdb95305.html" target="element">  </a> </td>
																		<td> <a href="../elements/b876cc7b-d2a8-4560-b674-e9edfdb95305.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/484ed6c7-a0f3-4e2a-9e5a-942ad4769309.html" target="element"> Konsument </a> </td>
																		<td> <a href="../elements/0382af42-2f20-4972-bbcd-c026966e08a9.html" target="element"> Datakonsuments l&#248;sning for innhenting av publiserte data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/99540fb8-ea40-490b-a77c-5c31f8425bbd.html" target="element">  </a> </td>
																		<td> <a href="../elements/99540fb8-ea40-490b-a77c-5c31f8425bbd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/484ed6c7-a0f3-4e2a-9e5a-942ad4769309.html" target="element"> Konsument </a> </td>
																		<td> <a href="../elements/f4de1cb1-86b8-4865-847a-eb382c59dcd9.html" target="element"> Oversikt over leste notifikasjoner </a> </td>
																	</tr>

																					<tr>
																						<td> <a href="../elements/a702dae8-4aa8-447c-b373-05b80e2e1315.html" target="element">  </a> </td>
																						<td> <a href="../elements/a702dae8-4aa8-447c-b373-05b80e2e1315.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/a435ad85-4570-4008-acd7-b1ac8228a38b.html" target="element"> Vurder kassering av mottatt notifikasjon </a> </td>
																						<td> <a href="../elements/d6ead874-4a2d-423c-b992-fffc1bf917d3.html" target="element"> Kassert notifikasjon </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/4b537fdb-36fc-4f25-af94-1fbaa31deafb.html" target="element">  </a> </td>
																						<td> <a href="../elements/4b537fdb-36fc-4f25-af94-1fbaa31deafb.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/a435ad85-4570-4008-acd7-b1ac8228a38b.html" target="element"> Vurder kassering av mottatt notifikasjon </a> </td>
																						<td> <a href="../elements/e9551f98-52fb-4cdc-a398-59a3521ebbc0.html" target="element"> Konsuments filtrerings- og minimeringstjeneste </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/dd35dfb2-12e7-4b7a-96db-6ba1b5a5d061.html" target="element">  </a> </td>
																						<td> <a href="../elements/dd35dfb2-12e7-4b7a-96db-6ba1b5a5d061.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/a435ad85-4570-4008-acd7-b1ac8228a38b.html" target="element"> Vurder kassering av mottatt notifikasjon </a> </td>
																						<td> <a href="../elements/bfb8c49b-ead4-49af-b1f8-6566d33d8d39.html" target="element"> Benyttet notifikasjon </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/abcbd621-e817-4904-8778-10e08a2418fa.html" target="element">  </a> </td>
																				<td> <a href="../elements/abcbd621-e817-4904-8778-10e08a2418fa.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/7f93bd84-8ed5-49ac-a514-ba67a7be9a4a.html" target="element"> Sp&#248;rring mot eksponert hendelsesliste </a> </td>
																				<td> <a href="../elements/bf37dc81-5ad3-459d-b501-0790567e8039.html" target="element"> Minimert notifikasjon </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d53eae9a-4310-413f-825f-4bf037d73bfc.html" target="element">  </a> </td>
																				<td> <a href="../elements/d53eae9a-4310-413f-825f-4bf037d73bfc.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/7f93bd84-8ed5-49ac-a514-ba67a7be9a4a.html" target="element"> Sp&#248;rring mot eksponert hendelsesliste </a> </td>
																				<td> <a href="../elements/f4de1cb1-86b8-4865-847a-eb382c59dcd9.html" target="element"> Oversikt over leste notifikasjoner </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d0897512-2587-49e3-ae07-02562bc17f1a.html" target="element">  </a> </td>
																				<td> <a href="../elements/d0897512-2587-49e3-ae07-02562bc17f1a.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/7f93bd84-8ed5-49ac-a514-ba67a7be9a4a.html" target="element"> Sp&#248;rring mot eksponert hendelsesliste </a> </td>
																				<td> <a href="../elements/cf641ae6-df2a-47e3-90d2-96b15200781d.html" target="element"> Publisert notifikasjon </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/8e387c61-9f6a-4af3-a466-9da7d4de9d98.html" target="element">  </a> </td>
																				<td> <a href="../elements/8e387c61-9f6a-4af3-a466-9da7d4de9d98.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/7f93bd84-8ed5-49ac-a514-ba67a7be9a4a.html" target="element"> Sp&#248;rring mot eksponert hendelsesliste </a> </td>
																				<td> <a href="../elements/e9551f98-52fb-4cdc-a398-59a3521ebbc0.html" target="element"> Konsuments filtrerings- og minimeringstjeneste </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/ec3c106d-4b08-412b-9374-30b908f1670e.html" target="element">  </a> </td>
																						<td> <a href="../elements/ec3c106d-4b08-412b-9374-30b908f1670e.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/dadf8c16-f128-4055-b9af-71ed3c2267c4.html" target="element"> Spesifiser notifikasjonsfilter overfor tilbyder </a> </td>
																						<td> <a href="../elements/e2a6504c-01cf-442a-b020-ec6402b17501.html" target="element"> Minimerings-spesifikasjon </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/2fc58b6a-60cc-4b0a-a1f3-be64ca87ced6.html" target="element">  </a> </td>
																						<td> <a href="../elements/2fc58b6a-60cc-4b0a-a1f3-be64ca87ced6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/dadf8c16-f128-4055-b9af-71ed3c2267c4.html" target="element"> Spesifiser notifikasjonsfilter overfor tilbyder </a> </td>
																						<td> <a href="../elements/1dad6078-0dbf-4d03-8c50-7e6195ce0698.html" target="element"> Inng&#229; avtale om tilgang til hendelsesliste med notifikasjoner </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/78e35457-78e6-4e99-b743-3cf135c891c6.html" target="element">  </a> </td>
																						<td> <a href="../elements/78e35457-78e6-4e99-b743-3cf135c891c6.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/dadf8c16-f128-4055-b9af-71ed3c2267c4.html" target="element"> Spesifiser notifikasjonsfilter overfor tilbyder </a> </td>
																						<td> <a href="../elements/cd5079fc-6c87-4501-9059-5d8d3f8bbaa4.html" target="element"> Filterspesifikasjon </a> </td>
																					</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>