<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Tilrettelegg for datadeling</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Tilrettelegg for datadeling</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/fc8c4a98-f2a0-4795-8c54-c0a4fbddf814.png" alt="Tilrettelegg for datadeling" usemap="#fc8c4a98-f2a0-4795-8c54-c0a4fbddf814map"/>
			   <map name="fc8c4a98-f2a0-4795-8c54-c0a4fbddf814map">
				  		<area shape="rect" coords="92,20,358,162" href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html"  target="element">
				  		<area shape="rect" coords="1028,20,1294,162" href="../elements/32e7713c-5521-417e-b208-684e404af9e4.html"  target="element">
				  		<area shape="rect" coords="608,20,884,162" href="../elements/93a177a1-3e94-49ff-95f0-80084375cf1a.html"  target="element">
				  		<area shape="rect" coords="476,596,742,738" href="../elements/abbaf526-8975-49d4-b453-4cdd9d331a77.html"  target="element">
				  		<area shape="rect" coords="1148,596,1424,738" href="../elements/b3264126-2dc3-4289-8992-7f9556c20af7.html"  target="element">
				  		<area shape="rect" coords="140,596,416,738" href="../elements/697ae19e-3286-4c25-8ff4-d7237b4a01bb.html"  target="element">
				  		<area shape="rect" coords="1484,596,1760,738" href="../elements/50352bd7-ebad-4632-b21a-bce2fbb55069.html"  target="element">
				  		<area shape="rect" coords="808,596,1084,738" href="../elements/c8c7ea45-1cc2-43b9-82eb-4d10a71078c2.html"  target="element">
				  				<area shape="rect" coords="500,332,766,474" href="../elements/edfab5dc-784a-4c28-96eb-3ed619a6bcc9.html"  target="element">
				  				<area shape="rect" coords="1172,332,1448,474" href="../elements/88135287-d5b4-4d3a-a518-f358024f99cd.html"  target="element">
				  				<area shape="rect" coords="824,332,1100,474" href="../elements/fac54208-2dd6-4ede-876d-d744edd762a6.html"  target="element">
				  				<area shape="rect" coords="164,332,440,474" href="../elements/a1cb9d32-4794-47eb-91da-953f0ad3e539.html"  target="element">
				  				<area shape="rect" coords="1508,332,1784,474" href="../elements/e8a05b73-ecfa-4b21-9c30-883840830899.html"  target="element">

				  		<area shape="rect" coords="20,260,1870,526" href="../elements/9b48e823-8b63-4f78-8c8e-4dd2dbd578d0.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:language</td><td class="convertlinks no-margin" style="white-space:pre-wrap">no</td></tr><tr><td>difi:name_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Tilgjengeliggj&#248;r egne data og klargj&#248;r for datadeling</td></tr><tr><td>difi:name_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_no</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:description_en</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:docViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap">nab_arkitekturlandskap_segmentarkitektur_datadeling_verdistr&#248;mmer</td></tr><tr><td>difi:antoraViewPath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr><tr><td>difi:antoraViewImagePath</td><td class="convertlinks no-margin" style="white-space:pre-wrap"></td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/9b48e823-8b63-4f78-8c8e-4dd2dbd578d0.html" target="element"> Tilrettelegg for dataoppdagelse og datadeling </a> </td>
											    <td> <a href="../elements/9b48e823-8b63-4f78-8c8e-4dd2dbd578d0.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/e8a05b73-ecfa-4b21-9c30-883840830899.html" target="element"> Publiser informasjon  om datasett, integrasjonsl&#248;sninger  og bruksvilk&#229;r </a> </td>
													    <td> <a href="../elements/e8a05b73-ecfa-4b21-9c30-883840830899.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a1cb9d32-4794-47eb-91da-953f0ad3e539.html" target="element"> Avklar juridiske og avtalemessige forhold for aktuelle datasett </a> </td>
													    <td> <a href="../elements/a1cb9d32-4794-47eb-91da-953f0ad3e539.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fac54208-2dd6-4ede-876d-d744edd762a6.html" target="element"> Etabler standardl&#248;sninger for s&#248;k, integrasjon og tilgangskontroll </a> </td>
													    <td> <a href="../elements/fac54208-2dd6-4ede-876d-d744edd762a6.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/88135287-d5b4-4d3a-a518-f358024f99cd.html" target="element"> Etabler operative prosesser og ressurser for drift og feilh&#229;ndtering  </a> </td>
													    <td> <a href="../elements/88135287-d5b4-4d3a-a518-f358024f99cd.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/edfab5dc-784a-4c28-96eb-3ed619a6bcc9.html" target="element"> Inng&#229; avtaler med tiltrodde tredjeparter </a> </td>
													    <td> <a href="../elements/edfab5dc-784a-4c28-96eb-3ed619a6bcc9.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/c8c7ea45-1cc2-43b9-82eb-4d10a71078c2.html" target="element"> Utvikling og oppsett av tekniske l&#248;sninger </a> </td>
											    <td> <a href="../elements/c8c7ea45-1cc2-43b9-82eb-4d10a71078c2.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/50352bd7-ebad-4632-b21a-bce2fbb55069.html" target="element"> Publisering av  informasjon om egne  tjenester og kapabiliteter </a> </td>
											    <td> <a href="../elements/50352bd7-ebad-4632-b21a-bce2fbb55069.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/697ae19e-3286-4c25-8ff4-d7237b4a01bb.html" target="element"> Juridisk kompetanse og domenekompetanse </a> </td>
											    <td> <a href="../elements/697ae19e-3286-4c25-8ff4-d7237b4a01bb.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b3264126-2dc3-4289-8992-7f9556c20af7.html" target="element"> Utvikling og oppset av l&#248;sninger for drift og forvaltning </a> </td>
											    <td> <a href="../elements/b3264126-2dc3-4289-8992-7f9556c20af7.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/abbaf526-8975-49d4-b453-4cdd9d331a77.html" target="element"> Avtaleforvaltning </a> </td>
											    <td> <a href="../elements/abbaf526-8975-49d4-b453-4cdd9d331a77.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/93a177a1-3e94-49ff-95f0-80084375cf1a.html" target="element"> Mulig &#229; oppdage og f&#229; tilgang til data </a> </td>
											    <td> <a href="../elements/93a177a1-3e94-49ff-95f0-80084375cf1a.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/32e7713c-5521-417e-b208-684e404af9e4.html" target="element"> Interessent </a> </td>
											    <td> <a href="../elements/32e7713c-5521-417e-b208-684e404af9e4.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
											    <td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/38f216cc-4c09-48b7-abc0-f5f93d8603d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/38f216cc-4c09-48b7-abc0-f5f93d8603d8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/9b48e823-8b63-4f78-8c8e-4dd2dbd578d0.html" target="element"> Tilrettelegg for dataoppdagelse og datadeling </a> </td>
																		<td> <a href="../elements/edfab5dc-784a-4c28-96eb-3ed619a6bcc9.html" target="element"> Inng&#229; avtaler med tiltrodde tredjeparter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c911bec9-1baa-45ef-83ac-9047f8eaafc2.html" target="element">  </a> </td>
																		<td> <a href="../elements/c911bec9-1baa-45ef-83ac-9047f8eaafc2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/9b48e823-8b63-4f78-8c8e-4dd2dbd578d0.html" target="element"> Tilrettelegg for dataoppdagelse og datadeling </a> </td>
																		<td> <a href="../elements/a1cb9d32-4794-47eb-91da-953f0ad3e539.html" target="element"> Avklar juridiske og avtalemessige forhold for aktuelle datasett </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/40c0c34e-4602-419c-9336-21c91cbe6efa.html" target="element"> ansvarlig </a> </td>
																		<td> <a href="../elements/40c0c34e-4602-419c-9336-21c91cbe6efa.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/9b48e823-8b63-4f78-8c8e-4dd2dbd578d0.html" target="element"> Tilrettelegg for dataoppdagelse og datadeling </a> </td>
																		<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1abe3007-f74c-405f-9cd4-95202a0b6f6c.html" target="element">  </a> </td>
																		<td> <a href="../elements/1abe3007-f74c-405f-9cd4-95202a0b6f6c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/9b48e823-8b63-4f78-8c8e-4dd2dbd578d0.html" target="element"> Tilrettelegg for dataoppdagelse og datadeling </a> </td>
																		<td> <a href="../elements/fac54208-2dd6-4ede-876d-d744edd762a6.html" target="element"> Etabler standardl&#248;sninger for s&#248;k, integrasjon og tilgangskontroll </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cfeca188-cf2f-4b6f-ab03-e1eadd247894.html" target="element">  </a> </td>
																		<td> <a href="../elements/cfeca188-cf2f-4b6f-ab03-e1eadd247894.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/9b48e823-8b63-4f78-8c8e-4dd2dbd578d0.html" target="element"> Tilrettelegg for dataoppdagelse og datadeling </a> </td>
																		<td> <a href="../elements/e8a05b73-ecfa-4b21-9c30-883840830899.html" target="element"> Publiser informasjon  om datasett, integrasjonsl&#248;sninger  og bruksvilk&#229;r </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3b8011d2-5b36-4818-823a-f55763264954.html" target="element"> gir </a> </td>
																		<td> <a href="../elements/3b8011d2-5b36-4818-823a-f55763264954.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/9b48e823-8b63-4f78-8c8e-4dd2dbd578d0.html" target="element"> Tilrettelegg for dataoppdagelse og datadeling </a> </td>
																		<td> <a href="../elements/93a177a1-3e94-49ff-95f0-80084375cf1a.html" target="element"> Mulig &#229; oppdage og f&#229; tilgang til data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ddb9a8a7-f8c2-4184-8d0d-0ec4646044b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/ddb9a8a7-f8c2-4184-8d0d-0ec4646044b1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/9b48e823-8b63-4f78-8c8e-4dd2dbd578d0.html" target="element"> Tilrettelegg for dataoppdagelse og datadeling </a> </td>
																		<td> <a href="../elements/88135287-d5b4-4d3a-a518-f358024f99cd.html" target="element"> Etabler operative prosesser og ressurser for drift og feilh&#229;ndtering  </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/e6c83189-c9eb-4843-be20-7e67959e121f.html" target="element">  </a> </td>
																				<td> <a href="../elements/e6c83189-c9eb-4843-be20-7e67959e121f.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/a1cb9d32-4794-47eb-91da-953f0ad3e539.html" target="element"> Avklar juridiske og avtalemessige forhold for aktuelle datasett </a> </td>
																				<td> <a href="../elements/edfab5dc-784a-4c28-96eb-3ed619a6bcc9.html" target="element"> Inng&#229; avtaler med tiltrodde tredjeparter </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/c2b83734-d725-4fcb-b53a-ebbc76e65b3d.html" target="element">  </a> </td>
																				<td> <a href="../elements/c2b83734-d725-4fcb-b53a-ebbc76e65b3d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/fac54208-2dd6-4ede-876d-d744edd762a6.html" target="element"> Etabler standardl&#248;sninger for s&#248;k, integrasjon og tilgangskontroll </a> </td>
																				<td> <a href="../elements/88135287-d5b4-4d3a-a518-f358024f99cd.html" target="element"> Etabler operative prosesser og ressurser for drift og feilh&#229;ndtering  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/c383f7ae-c306-4205-afb2-11abc6b1f9c0.html" target="element">  </a> </td>
																				<td> <a href="../elements/c383f7ae-c306-4205-afb2-11abc6b1f9c0.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/88135287-d5b4-4d3a-a518-f358024f99cd.html" target="element"> Etabler operative prosesser og ressurser for drift og feilh&#229;ndtering  </a> </td>
																				<td> <a href="../elements/e8a05b73-ecfa-4b21-9c30-883840830899.html" target="element"> Publiser informasjon  om datasett, integrasjonsl&#248;sninger  og bruksvilk&#229;r </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/fd1111be-a179-4e56-ad4b-9308e81b67f2.html" target="element">  </a> </td>
																				<td> <a href="../elements/fd1111be-a179-4e56-ad4b-9308e81b67f2.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/edfab5dc-784a-4c28-96eb-3ed619a6bcc9.html" target="element"> Inng&#229; avtaler med tiltrodde tredjeparter </a> </td>
																				<td> <a href="../elements/fac54208-2dd6-4ede-876d-d744edd762a6.html" target="element"> Etabler standardl&#248;sninger for s&#248;k, integrasjon og tilgangskontroll </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/d3cb809e-e4f4-44fd-b8a8-894702665dd6.html" target="element"> tjener </a> </td>
																		<td> <a href="../elements/d3cb809e-e4f4-44fd-b8a8-894702665dd6.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/c8c7ea45-1cc2-43b9-82eb-4d10a71078c2.html" target="element"> Utvikling og oppsett av tekniske l&#248;sninger </a> </td>
																		<td> <a href="../elements/fac54208-2dd6-4ede-876d-d744edd762a6.html" target="element"> Etabler standardl&#248;sninger for s&#248;k, integrasjon og tilgangskontroll </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/acc472bd-5800-495b-9929-d9be404532e1.html" target="element"> tjener </a> </td>
																		<td> <a href="../elements/acc472bd-5800-495b-9929-d9be404532e1.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/50352bd7-ebad-4632-b21a-bce2fbb55069.html" target="element"> Publisering av  informasjon om egne  tjenester og kapabiliteter </a> </td>
																		<td> <a href="../elements/e8a05b73-ecfa-4b21-9c30-883840830899.html" target="element"> Publiser informasjon  om datasett, integrasjonsl&#248;sninger  og bruksvilk&#229;r </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/67fa4de0-fd14-4e9c-886f-b70f383ed9e5.html" target="element"> tjener </a> </td>
																		<td> <a href="../elements/67fa4de0-fd14-4e9c-886f-b70f383ed9e5.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/697ae19e-3286-4c25-8ff4-d7237b4a01bb.html" target="element"> Juridisk kompetanse og domenekompetanse </a> </td>
																		<td> <a href="../elements/a1cb9d32-4794-47eb-91da-953f0ad3e539.html" target="element"> Avklar juridiske og avtalemessige forhold for aktuelle datasett </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f721d6cb-162f-48b9-ae9f-5019c55889d9.html" target="element"> tjener </a> </td>
																		<td> <a href="../elements/f721d6cb-162f-48b9-ae9f-5019c55889d9.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/b3264126-2dc3-4289-8992-7f9556c20af7.html" target="element"> Utvikling og oppset av l&#248;sninger for drift og forvaltning </a> </td>
																		<td> <a href="../elements/88135287-d5b4-4d3a-a518-f358024f99cd.html" target="element"> Etabler operative prosesser og ressurser for drift og feilh&#229;ndtering  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c9fc822e-0259-40ab-bda2-17fe82819e24.html" target="element"> tjener </a> </td>
																		<td> <a href="../elements/c9fc822e-0259-40ab-bda2-17fe82819e24.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/abbaf526-8975-49d4-b453-4cdd9d331a77.html" target="element"> Avtaleforvaltning </a> </td>
																		<td> <a href="../elements/edfab5dc-784a-4c28-96eb-3ed619a6bcc9.html" target="element"> Inng&#229; avtaler med tiltrodde tredjeparter </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d0259ff8-b356-432a-8247-9c3feffd0f8e.html" target="element"> for </a> </td>
																		<td> <a href="../elements/d0259ff8-b356-432a-8247-9c3feffd0f8e.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/93a177a1-3e94-49ff-95f0-80084375cf1a.html" target="element"> Mulig &#229; oppdage og f&#229; tilgang til data </a> </td>
																		<td> <a href="../elements/32e7713c-5521-417e-b208-684e404af9e4.html" target="element"> Interessent </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>