<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Ressurser for dataanalyse</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Ressurser for dataanalyse</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-096ae894fa854e4d908986ccaf508ed4.png" alt="Ressurser for dataanalyse" usemap="#id-096ae894fa854e4d908986ccaf508ed4map"/>
			   <map name="id-096ae894fa854e4d908986ccaf508ed4map">
				  						<area shape="rect" coords="1514,548,1780,658" href="../elements/id-417cc8683c8641f9822f27a77c5b6827.html"  target="element">
				  						<area shape="rect" coords="1802,416,2068,526" href="../elements/id-b2ce156d98464be98f302f41ba0d6fcf.html"  target="element">
				  						<area shape="rect" coords="1514,416,1780,526" href="../elements/id-966b44af81a94418946e972a725e6007.html"  target="element">
				  						<area shape="rect" coords="938,416,1204,526" href="../elements/id-cf8cf2ff50984cc6a2ff516d5523982b.html"  target="element">
				  						<area shape="rect" coords="1226,416,1492,526" href="../elements/id-52f0c5f58e3c4a178cfb457ed0c443c1.html"  target="element">
				  						<area shape="rect" coords="374,548,640,658" href="../elements/id-dc5834309a644a968bbf6f779235723f.html"  target="element">
				  						<area shape="rect" coords="86,548,352,658" href="../elements/id-5dfe2561c8524fa19d6d8b4cfe655a27.html"  target="element">
				  						<area shape="rect" coords="650,548,916,658" href="../elements/id-4d88063ab18c476184f94754f30c2f96.html"  target="element">
				  						<area shape="rect" coords="650,416,916,526" href="../elements/id-672c6eec61f64e6080828774070ec4cb.html"  target="element">
				  						<area shape="rect" coords="1226,548,1492,658" href="../elements/id-7781c934c540415485857b23440e018a.html"  target="element">
				  						<area shape="rect" coords="374,416,640,526" href="../elements/id-701bdacf0cb342c3a60b0a281ebd639e.html"  target="element">
				  						<area shape="rect" coords="938,548,1204,658" href="../elements/id-7a73edc4b1a145fbb935267624912b78.html"  target="element">
				  						<area shape="rect" coords="86,416,352,526" href="../elements/id-41a35a4b0e40429383e6d1ee322f31cb.html"  target="element">

				  				<area shape="rect" coords="50,332,2128,682" href="../elements/id-2f6a0fe710da42f5965c3287544143d4.html"  target="element">
				  						<area shape="rect" coords="1814,176,2080,286" href="../elements/id-e712a469d75b4ecbafafdfa9bb90befc.html"  target="element">
				  						<area shape="rect" coords="374,176,640,286" href="../elements/id-a3228eef625143ffb88c63b045e7521a.html"  target="element">
				  						<area shape="rect" coords="662,176,928,286" href="../elements/id-d6cf0d623cf544fc9ba5c01b25b5d293.html"  target="element">
				  						<area shape="rect" coords="86,176,352,286" href="../elements/id-c1746885c5ba42dbbe227395b54ba797.html"  target="element">
				  						<area shape="rect" coords="1238,176,1504,286" href="../elements/id-568859e0449e4507bffb1b25f8c7e520.html"  target="element">
				  						<area shape="rect" coords="1526,176,1792,286" href="../elements/id-1c5c449e40fb4f3ab1b0a8846086ec2d.html"  target="element">
				  						<area shape="rect" coords="950,176,1216,286" href="../elements/id-c5f0986965f3463ba1c4d90dcd57eb74.html"  target="element">

				  				<area shape="rect" coords="50,92,2128,310" href="../elements/id-9ff6405e68e54246a1f2d3d905fedf40.html"  target="element">

				  		<area shape="rect" coords="20,20,2158,706" href="../elements/id-54854d3e1a764e1485c8f84e3e0d8658.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">TBD</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-54854d3e1a764e1485c8f84e3e0d8658.html" target="element"> Ressurser for dataanalyse </a> </td>
											    <td> <a href="../elements/id-54854d3e1a764e1485c8f84e3e0d8658.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9ff6405e68e54246a1f2d3d905fedf40.html" target="element"> Visualisering </a> </td>
													    <td> <a href="../elements/id-9ff6405e68e54246a1f2d3d905fedf40.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-c5f0986965f3463ba1c4d90dcd57eb74.html" target="element"> Virtual Reality (VR) </a> </td>
															    <td> <a href="../elements/id-c5f0986965f3463ba1c4d90dcd57eb74.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-1c5c449e40fb4f3ab1b0a8846086ec2d.html" target="element"> Dashboards </a> </td>
															    <td> <a href="../elements/id-1c5c449e40fb4f3ab1b0a8846086ec2d.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-568859e0449e4507bffb1b25f8c7e520.html" target="element"> Augmented Reality (AR) </a> </td>
															    <td> <a href="../elements/id-568859e0449e4507bffb1b25f8c7e520.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c1746885c5ba42dbbe227395b54ba797.html" target="element"> Enkel visualisering </a> </td>
															    <td> <a href="../elements/id-c1746885c5ba42dbbe227395b54ba797.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-d6cf0d623cf544fc9ba5c01b25b5d293.html" target="element"> Sanntid visualisering </a> </td>
															    <td> <a href="../elements/id-d6cf0d623cf544fc9ba5c01b25b5d293.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-a3228eef625143ffb88c63b045e7521a.html" target="element"> Avansert visualisering </a> </td>
															    <td> <a href="../elements/id-a3228eef625143ffb88c63b045e7521a.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e712a469d75b4ecbafafdfa9bb90befc.html" target="element"> 3D visualisering </a> </td>
															    <td> <a href="../elements/id-e712a469d75b4ecbafafdfa9bb90befc.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-2f6a0fe710da42f5965c3287544143d4.html" target="element"> Datainnsikt </a> </td>
													    <td> <a href="../elements/id-2f6a0fe710da42f5965c3287544143d4.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-41a35a4b0e40429383e6d1ee322f31cb.html" target="element"> Orkestrering </a> </td>
															    <td> <a href="../elements/id-41a35a4b0e40429383e6d1ee322f31cb.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-7a73edc4b1a145fbb935267624912b78.html" target="element"> Kobling/mapping </a> </td>
															    <td> <a href="../elements/id-7a73edc4b1a145fbb935267624912b78.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-701bdacf0cb342c3a60b0a281ebd639e.html" target="element"> Varsel og notifikasjon </a> </td>
															    <td> <a href="../elements/id-701bdacf0cb342c3a60b0a281ebd639e.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-7781c934c540415485857b23440e018a.html" target="element"> Business Intelligence  </a> </td>
															    <td> <a href="../elements/id-7781c934c540415485857b23440e018a.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-672c6eec61f64e6080828774070ec4cb.html" target="element"> Rapportering </a> </td>
															    <td> <a href="../elements/id-672c6eec61f64e6080828774070ec4cb.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4d88063ab18c476184f94754f30c2f96.html" target="element"> Forretningsregler </a> </td>
															    <td> <a href="../elements/id-4d88063ab18c476184f94754f30c2f96.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-5dfe2561c8524fa19d6d8b4cfe655a27.html" target="element"> Simulering </a> </td>
															    <td> <a href="../elements/id-5dfe2561c8524fa19d6d8b4cfe655a27.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-dc5834309a644a968bbf6f779235723f.html" target="element"> Matematiske analyser </a> </td>
															    <td> <a href="../elements/id-dc5834309a644a968bbf6f779235723f.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-52f0c5f58e3c4a178cfb457ed0c443c1.html" target="element"> Prediksjon </a> </td>
															    <td> <a href="../elements/id-52f0c5f58e3c4a178cfb457ed0c443c1.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-cf8cf2ff50984cc6a2ff516d5523982b.html" target="element"> Dataanalyse </a> </td>
															    <td> <a href="../elements/id-cf8cf2ff50984cc6a2ff516d5523982b.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-966b44af81a94418946e972a725e6007.html" target="element"> Maskinl&#230;ring (ML) </a> </td>
															    <td> <a href="../elements/id-966b44af81a94418946e972a725e6007.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-b2ce156d98464be98f302f41ba0d6fcf.html" target="element"> Kunstig intelligens (AI) </a> </td>
															    <td> <a href="../elements/id-b2ce156d98464be98f302f41ba0d6fcf.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-417cc8683c8641f9822f27a77c5b6827.html" target="element"> BPM og arbeidsflyt </a> </td>
															    <td> <a href="../elements/id-417cc8683c8641f9822f27a77c5b6827.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-e332a5fc361946529b44b26ec676f834.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e332a5fc361946529b44b26ec676f834.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-54854d3e1a764e1485c8f84e3e0d8658.html" target="element"> Ressurser for dataanalyse </a> </td>
																		<td> <a href="../elements/id-9ff6405e68e54246a1f2d3d905fedf40.html" target="element"> Visualisering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-166b5c7f4c74438faf2e59bf349e1a64.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-166b5c7f4c74438faf2e59bf349e1a64.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-54854d3e1a764e1485c8f84e3e0d8658.html" target="element"> Ressurser for dataanalyse </a> </td>
																		<td> <a href="../elements/id-2f6a0fe710da42f5965c3287544143d4.html" target="element"> Datainnsikt </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-e5240e95511f40c9b4aa465257a3a6e5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e5240e95511f40c9b4aa465257a3a6e5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9ff6405e68e54246a1f2d3d905fedf40.html" target="element"> Visualisering </a> </td>
																				<td> <a href="../elements/id-d6cf0d623cf544fc9ba5c01b25b5d293.html" target="element"> Sanntid visualisering </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3db0017596f84a2aa2519b98c584b4c6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3db0017596f84a2aa2519b98c584b4c6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9ff6405e68e54246a1f2d3d905fedf40.html" target="element"> Visualisering </a> </td>
																				<td> <a href="../elements/id-1c5c449e40fb4f3ab1b0a8846086ec2d.html" target="element"> Dashboards </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-99aa1e16a548419e9a5f9d3454b3006e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-99aa1e16a548419e9a5f9d3454b3006e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9ff6405e68e54246a1f2d3d905fedf40.html" target="element"> Visualisering </a> </td>
																				<td> <a href="../elements/id-e712a469d75b4ecbafafdfa9bb90befc.html" target="element"> 3D visualisering </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-375bc57b353442a8b9850749f64e15cb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-375bc57b353442a8b9850749f64e15cb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9ff6405e68e54246a1f2d3d905fedf40.html" target="element"> Visualisering </a> </td>
																				<td> <a href="../elements/id-c1746885c5ba42dbbe227395b54ba797.html" target="element"> Enkel visualisering </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-584f3f1c95054584a0e750722a6ac7ec.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-584f3f1c95054584a0e750722a6ac7ec.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9ff6405e68e54246a1f2d3d905fedf40.html" target="element"> Visualisering </a> </td>
																				<td> <a href="../elements/id-568859e0449e4507bffb1b25f8c7e520.html" target="element"> Augmented Reality (AR) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a236824dedfa4c17bf6ce5cc8151dcf0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a236824dedfa4c17bf6ce5cc8151dcf0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9ff6405e68e54246a1f2d3d905fedf40.html" target="element"> Visualisering </a> </td>
																				<td> <a href="../elements/id-c5f0986965f3463ba1c4d90dcd57eb74.html" target="element"> Virtual Reality (VR) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-33dd6ad77f874f6b8b1b8d6c16f81a66.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-33dd6ad77f874f6b8b1b8d6c16f81a66.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9ff6405e68e54246a1f2d3d905fedf40.html" target="element"> Visualisering </a> </td>
																				<td> <a href="../elements/id-a3228eef625143ffb88c63b045e7521a.html" target="element"> Avansert visualisering </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-fd759674fed4414cb70f83ec3097b491.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fd759674fed4414cb70f83ec3097b491.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2f6a0fe710da42f5965c3287544143d4.html" target="element"> Datainnsikt </a> </td>
																				<td> <a href="../elements/id-41a35a4b0e40429383e6d1ee322f31cb.html" target="element"> Orkestrering </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a3bc3bbf8e3f403caeca86dc3c7b00c6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a3bc3bbf8e3f403caeca86dc3c7b00c6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2f6a0fe710da42f5965c3287544143d4.html" target="element"> Datainnsikt </a> </td>
																				<td> <a href="../elements/id-52f0c5f58e3c4a178cfb457ed0c443c1.html" target="element"> Prediksjon </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-88f88d6a6942416fab37fb6d3aa917b2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-88f88d6a6942416fab37fb6d3aa917b2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2f6a0fe710da42f5965c3287544143d4.html" target="element"> Datainnsikt </a> </td>
																				<td> <a href="../elements/id-b2ce156d98464be98f302f41ba0d6fcf.html" target="element"> Kunstig intelligens (AI) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-dbbd5db7bc1d4060a5af9e13ec6469fa.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dbbd5db7bc1d4060a5af9e13ec6469fa.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2f6a0fe710da42f5965c3287544143d4.html" target="element"> Datainnsikt </a> </td>
																				<td> <a href="../elements/id-cf8cf2ff50984cc6a2ff516d5523982b.html" target="element"> Dataanalyse </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-929dc8456eb24529adab1f2abaad723c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-929dc8456eb24529adab1f2abaad723c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2f6a0fe710da42f5965c3287544143d4.html" target="element"> Datainnsikt </a> </td>
																				<td> <a href="../elements/id-701bdacf0cb342c3a60b0a281ebd639e.html" target="element"> Varsel og notifikasjon </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-807f523652634c90942cfc1ed0ff2d37.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-807f523652634c90942cfc1ed0ff2d37.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2f6a0fe710da42f5965c3287544143d4.html" target="element"> Datainnsikt </a> </td>
																				<td> <a href="../elements/id-7781c934c540415485857b23440e018a.html" target="element"> Business Intelligence  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cb34183766c449d7872758ed58eb815d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cb34183766c449d7872758ed58eb815d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2f6a0fe710da42f5965c3287544143d4.html" target="element"> Datainnsikt </a> </td>
																				<td> <a href="../elements/id-4d88063ab18c476184f94754f30c2f96.html" target="element"> Forretningsregler </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cb6b8db708df4b83807733f057970199.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cb6b8db708df4b83807733f057970199.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2f6a0fe710da42f5965c3287544143d4.html" target="element"> Datainnsikt </a> </td>
																				<td> <a href="../elements/id-966b44af81a94418946e972a725e6007.html" target="element"> Maskinl&#230;ring (ML) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8ce6139c42b749eeae0ab3670e3e6414.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8ce6139c42b749eeae0ab3670e3e6414.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2f6a0fe710da42f5965c3287544143d4.html" target="element"> Datainnsikt </a> </td>
																				<td> <a href="../elements/id-dc5834309a644a968bbf6f779235723f.html" target="element"> Matematiske analyser </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9a1e1358cd2a4b269c0d58215089c370.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9a1e1358cd2a4b269c0d58215089c370.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2f6a0fe710da42f5965c3287544143d4.html" target="element"> Datainnsikt </a> </td>
																				<td> <a href="../elements/id-417cc8683c8641f9822f27a77c5b6827.html" target="element"> BPM og arbeidsflyt </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a175646d587c41e78cad50eac993c302.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a175646d587c41e78cad50eac993c302.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2f6a0fe710da42f5965c3287544143d4.html" target="element"> Datainnsikt </a> </td>
																				<td> <a href="../elements/id-7a73edc4b1a145fbb935267624912b78.html" target="element"> Kobling/mapping </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ce3f77d45a0a404895c81646cc54a532.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ce3f77d45a0a404895c81646cc54a532.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2f6a0fe710da42f5965c3287544143d4.html" target="element"> Datainnsikt </a> </td>
																				<td> <a href="../elements/id-672c6eec61f64e6080828774070ec4cb.html" target="element"> Rapportering </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cfab98805b614465ad66ff5c6f005c40.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cfab98805b614465ad66ff5c6f005c40.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2f6a0fe710da42f5965c3287544143d4.html" target="element"> Datainnsikt </a> </td>
																				<td> <a href="../elements/id-5dfe2561c8524fa19d6d8b4cfe655a27.html" target="element"> Simulering </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>