<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Publisering til abonnenter (pub-sub)</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Publisering til abonnenter (pub-sub)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-CanvasModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-CanvasModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-0492f5e651b44d6baeec0fe40b4ba458.png" alt="Publisering til abonnenter (pub-sub)" usemap="#id-0492f5e651b44d6baeec0fe40b4ba458map"/>
			   <map name="id-0492f5e651b44d6baeec0fe40b4ba458map">
				          <area shape="rect" coords="622,146,682,186" href="../objects/id-81e39fe4eddc4340a07c23d48ece6a24.html" target="element" >
				          <area shape="rect" coords="602,126,662,166" href="../objects/id-2acb0c1968c4443e8b98f00e24d08746.html" target="element" >
				          <area shape="rect" coords="506,132,566,172" href="../objects/id-a282677d3f374711b13034228fa68262.html" target="element" >
				          <area shape="rect" coords="722,126,786,178" href="../objects/id-08d3eb1d7c6a472899cc2b55b889d49f.html" target="element" >
				          <area shape="rect" coords="680,82,832,134" href="../objects/id-e900494f2ae34f25ba46dd38d1875fb7.html" target="element" >
				          <area shape="rect" coords="360,82,508,134" href="../objects/id-1890f9d468614c5d83bfd00b626802ae.html" target="element" >
				  		        <area shape="rect" coords="842,102,952,200" href="../objects/id-68b5870017344fc98646b9775a6a668c.html" target="element" >

				          <area shape="rect" coords="764,20,944,202" href="../objects/id-6b0a74e5a4ef4b978a4eb540fcdf3ce3.html" target="element" >
				          <area shape="rect" coords="402,132,466,172" href="../objects/id-875df5145ec9403e9f773a804d5711ff.html" target="element" >
				  		        <area shape="rect" coords="270,94,344,192" href="../objects/id-ec1e9cd1407f4cf6b266428b84a612d2.html" target="element" >

				          <area shape="rect" coords="220,74,394,230" href="../objects/id-befef58938934faf90a8dff5dd073106.html" target="element" >
				  		        <area shape="rect" coords="280,560,330,616" href="../objects/id-9f2416aa68cc4aaa95c0a1609a7465ec.html" target="element" >
				  				        <area shape="rect" coords="1104,748,1154,804" href="../objects/id-0aea212612334a61ac0914667a195d8e.html" target="element" >
				  				        <area shape="rect" coords="934,748,984,804" href="../objects/id-30d93d7526704125ab555a3bc131b972.html" target="element" >
				  				        <area shape="rect" coords="990,748,1040,804" href="../objects/id-f1c851081b4c48bb999cd509cfa0fda4.html" target="element" >
				  				        <area shape="rect" coords="1046,748,1096,804" href="../objects/id-ca22642f84e44f96bcfdd4cd468eef38.html" target="element" >

				  		        <area shape="rect" coords="914,738,1180,808" href="../objects/id-ad058395b9cf4af19c747d3fc396be85.html" target="element" >
				  		        <area shape="rect" coords="340,746,390,802" href="../objects/id-985899f8e83a4305a74fa2a5468d95a4.html" target="element" >
				  		        <area shape="rect" coords="314,652,364,708" href="../objects/id-32cd83aab7bc4499aff614e7897e1272.html" target="element" >
				  		        <area shape="rect" coords="232,434,282,490" href="../objects/id-b17a92e872dc47248b358bf1ca728833.html" target="element" >
				  				        <area shape="rect" coords="1234,544,1308,642" href="../objects/id-d579c5c4581f4fdca5c78a463d95440f.html" target="element" >

				  		        <area shape="rect" coords="1174,496,1368,678" href="../objects/id-113a95ed755543ffa015545fd5e5fe60.html" target="element" >
				  				        <area shape="rect" coords="1054,404,1104,460" href="../objects/id-38ff52175f9b47e78d2396a24982f33b.html" target="element" >
				  				        <area shape="rect" coords="988,404,1038,460" href="../objects/id-27954507fe2e4d9d9813c7a0aaa64953.html" target="element" >

				  		        <area shape="rect" coords="974,394,1118,464" href="../objects/id-a8a34b2c54264343b89930d6e162e94b.html" target="element" >
				  		        <area shape="rect" coords="490,530,550,570" href="../objects/id-43ba783a021641b2b06841400ae30e26.html" target="element" >
				  		        <area shape="rect" coords="644,630,704,670" href="../objects/id-1ba84b4d9b6f407eb479d4fa2fd4f77a.html" target="element" >
				  				        <area shape="rect" coords="1234,712,1308,810" href="../objects/id-9263ca615df14dc3b0498c983d5b1754.html" target="element" >

				  		        <area shape="rect" coords="1174,664,1368,846" href="../objects/id-4e2e3db30cb64da5b132a12ffb830d5e.html" target="element" >
				  				        <area shape="rect" coords="1232,358,1306,456" href="../objects/id-f0816ff865bd401eb420da365760b522.html" target="element" >

				  		        <area shape="rect" coords="1184,310,1378,492" href="../objects/id-2e7473316d4f4733baf6a603dfe3511f.html" target="element" >
				  				        <area shape="rect" coords="992,578,1042,634" href="../objects/id-10c1ba53cbb54821bb8c67c01ca3f21b.html" target="element" >
				  				        <area shape="rect" coords="1052,578,1102,634" href="../objects/id-deb2c64ab92440a9a994c8b2ccf712a8.html" target="element" >

				  		        <area shape="rect" coords="972,568,1124,638" href="../objects/id-47dc794c36cc408cb3bcda476c3928f2.html" target="element" >
				  		        <area shape="rect" coords="644,504,704,544" href="../objects/id-4346a03c6029470ca5ee6bbf3292e8e6.html" target="element" >
				  				        <area shape="rect" coords="108,542,182,640" href="../objects/id-77a25a1207304443b456355af059b3e5.html" target="element" >

				  		        <area shape="rect" coords="60,506,224,688" href="../objects/id-436db5fd0421444186980f2d5884db8e.html" target="element" >
				  		        <area shape="rect" coords="490,590,550,630" href="../objects/id-1e6b57ebc3ca46a88280c90618bb1a4a.html" target="element" >
				  		        <area shape="rect" coords="644,570,704,610" href="../objects/id-35e66731a4924aa788aeab33c292588e.html" target="element" >

				          <area shape="rect" coords="20,274,1396,906" href="../objects/id-5969d67ecf774a3da87d6526a23f6ead.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-5969d67ecf774a3da87d6526a23f6ead.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-5969d67ecf774a3da87d6526a23f6ead.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-35e66731a4924aa788aeab33c292588e.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-35e66731a4924aa788aeab33c292588e.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-1e6b57ebc3ca46a88280c90618bb1a4a.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-1e6b57ebc3ca46a88280c90618bb1a4a.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-436db5fd0421444186980f2d5884db8e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-436db5fd0421444186980f2d5884db8e.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-77a25a1207304443b456355af059b3e5.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-77a25a1207304443b456355af059b3e5.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-4346a03c6029470ca5ee6bbf3292e8e6.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-4346a03c6029470ca5ee6bbf3292e8e6.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-47dc794c36cc408cb3bcda476c3928f2.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-47dc794c36cc408cb3bcda476c3928f2.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-deb2c64ab92440a9a994c8b2ccf712a8.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-deb2c64ab92440a9a994c8b2ccf712a8.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-10c1ba53cbb54821bb8c67c01ca3f21b.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-10c1ba53cbb54821bb8c67c01ca3f21b.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-2e7473316d4f4733baf6a603dfe3511f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-2e7473316d4f4733baf6a603dfe3511f.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-f0816ff865bd401eb420da365760b522.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-f0816ff865bd401eb420da365760b522.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-4e2e3db30cb64da5b132a12ffb830d5e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-4e2e3db30cb64da5b132a12ffb830d5e.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-9263ca615df14dc3b0498c983d5b1754.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-9263ca615df14dc3b0498c983d5b1754.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-1ba84b4d9b6f407eb479d4fa2fd4f77a.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-1ba84b4d9b6f407eb479d4fa2fd4f77a.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-43ba783a021641b2b06841400ae30e26.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-43ba783a021641b2b06841400ae30e26.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-a8a34b2c54264343b89930d6e162e94b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-a8a34b2c54264343b89930d6e162e94b.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-27954507fe2e4d9d9813c7a0aaa64953.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-27954507fe2e4d9d9813c7a0aaa64953.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-38ff52175f9b47e78d2396a24982f33b.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-38ff52175f9b47e78d2396a24982f33b.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-113a95ed755543ffa015545fd5e5fe60.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-113a95ed755543ffa015545fd5e5fe60.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-d579c5c4581f4fdca5c78a463d95440f.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-d579c5c4581f4fdca5c78a463d95440f.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-b17a92e872dc47248b358bf1ca728833.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-b17a92e872dc47248b358bf1ca728833.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-32cd83aab7bc4499aff614e7897e1272.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-32cd83aab7bc4499aff614e7897e1272.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-985899f8e83a4305a74fa2a5468d95a4.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-985899f8e83a4305a74fa2a5468d95a4.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-ad058395b9cf4af19c747d3fc396be85.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ad058395b9cf4af19c747d3fc396be85.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-ca22642f84e44f96bcfdd4cd468eef38.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-ca22642f84e44f96bcfdd4cd468eef38.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-f1c851081b4c48bb999cd509cfa0fda4.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-f1c851081b4c48bb999cd509cfa0fda4.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-30d93d7526704125ab555a3bc131b972.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-30d93d7526704125ab555a3bc131b972.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-0aea212612334a61ac0914667a195d8e.html" target="element"> Image </a> </td>
													           <td> <a href="../objects/id-0aea212612334a61ac0914667a195d8e.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-9f2416aa68cc4aaa95c0a1609a7465ec.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-9f2416aa68cc4aaa95c0a1609a7465ec.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-befef58938934faf90a8dff5dd073106.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-befef58938934faf90a8dff5dd073106.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-ec1e9cd1407f4cf6b266428b84a612d2.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-ec1e9cd1407f4cf6b266428b84a612d2.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-875df5145ec9403e9f773a804d5711ff.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-875df5145ec9403e9f773a804d5711ff.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-6b0a74e5a4ef4b978a4eb540fcdf3ce3.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6b0a74e5a4ef4b978a4eb540fcdf3ce3.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-68b5870017344fc98646b9775a6a668c.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-68b5870017344fc98646b9775a6a668c.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-1890f9d468614c5d83bfd00b626802ae.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-1890f9d468614c5d83bfd00b626802ae.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e900494f2ae34f25ba46dd38d1875fb7.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e900494f2ae34f25ba46dd38d1875fb7.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-08d3eb1d7c6a472899cc2b55b889d49f.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-08d3eb1d7c6a472899cc2b55b889d49f.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-a282677d3f374711b13034228fa68262.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-a282677d3f374711b13034228fa68262.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-2acb0c1968c4443e8b98f00e24d08746.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-2acb0c1968c4443e8b98f00e24d08746.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-81e39fe4eddc4340a07c23d48ece6a24.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-81e39fe4eddc4340a07c23d48ece6a24.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
															<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>