<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Katalogtjenester</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Katalogtjenester</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-1d74a1c3690a459db8d5fc6523950f79.png" alt="Katalogtjenester" usemap="#id-1d74a1c3690a459db8d5fc6523950f79map"/>
			   <map name="id-1d74a1c3690a459db8d5fc6523950f79map">
				  						<area shape="rect" coords="668,536,934,646" href="../elements/id-d96164ef26dc4a8e8c65df6f181dfa8a.html"  target="element">
				  						<area shape="rect" coords="1244,410,1510,520" href="../elements/id-e2e347ab02264fe884f3f18cc026c14f.html"  target="element">
				  						<area shape="rect" coords="1244,536,1510,646" href="../elements/id-e666ef812573448bb8fa48d79c710e2f.html"  target="element">
				  						<area shape="rect" coords="92,536,358,646" href="../elements/id-c5896319eef541b0bbd830e656acd9ac.html"  target="element">
				  						<area shape="rect" coords="668,410,934,520" href="../elements/id-7cab6c467f174deda54dfbf07bed5fdf.html"  target="element">
				  						<area shape="rect" coords="380,536,646,646" href="../elements/id-c3e15f6dad3344fab398f754cbf7c37b.html"  target="element">
				  						<area shape="rect" coords="380,410,646,520" href="../elements/id-3a00e9b1b2c0400b9340d0e0650d2478.html"  target="element">
				  						<area shape="rect" coords="956,536,1222,646" href="../elements/id-bf1971ff713946f99f2bc613a7b52db1.html"  target="element">
				  						<area shape="rect" coords="1532,410,1798,520" href="../elements/id-e1b7f914cfef47f6956984e0e9541abe.html"  target="element">
				  						<area shape="rect" coords="956,410,1222,520" href="../elements/id-dde7bbe2f1864bfbb1d55326437761b2.html"  target="element">
				  						<area shape="rect" coords="92,410,358,520" href="../elements/id-2574ce8bff2c4b20a2b79704e071688c.html"  target="element">

				  				<area shape="rect" coords="56,332,1898,682" href="../elements/EAID_704D9EA1_49BC_4d10_AA58_046308B66901.html"  target="element">
				  						<area shape="rect" coords="92,176,358,286" href="../elements/id-81f281c71ede488d86f2e12b8767ef23.html"  target="element">
				  						<area shape="rect" coords="380,176,646,286" href="../elements/id-36dc740359114e9684de854a2bdd983c.html"  target="element">
				  						<area shape="rect" coords="1244,176,1510,286" href="../elements/id-7538292295c247b29c8ae78a11277bbe.html"  target="element">
				  						<area shape="rect" coords="956,176,1222,286" href="../elements/id-0e0e95a6a8ef442b85d076bfa83eba2c.html"  target="element">
				  						<area shape="rect" coords="668,176,934,286" href="../elements/id-2f95dce9e6ff4ae289e8996aee7f0a91.html"  target="element">

				  				<area shape="rect" coords="56,92,1898,310" href="../elements/EAID_79D9F89E_D7A6_4ce5_91ED_496AF8967A05.html"  target="element">

				  		<area shape="rect" coords="20,20,1926,706" href="../elements/id-4c6bdf1fe9e74bafa8ae7f7e25b8696b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">TBD</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-4c6bdf1fe9e74bafa8ae7f7e25b8696b.html" target="element"> Katalogtjenester </a> </td>
											    <td> <a href="../elements/id-4c6bdf1fe9e74bafa8ae7f7e25b8696b.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/EAID_79D9F89E_D7A6_4ce5_91ED_496AF8967A05.html" target="element"> Markedsplass </a> </td>
													    <td> <a href="../elements/EAID_79D9F89E_D7A6_4ce5_91ED_496AF8967A05.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-2f95dce9e6ff4ae289e8996aee7f0a91.html" target="element"> Kontraktsh&#229;ndtering av avtaler og rettigheter </a> </td>
															    <td> <a href="../elements/id-2f95dce9e6ff4ae289e8996aee7f0a91.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-0e0e95a6a8ef442b85d076bfa83eba2c.html" target="element"> Datasuverenitet (bruksbegrensninger) </a> </td>
															    <td> <a href="../elements/id-0e0e95a6a8ef442b85d076bfa83eba2c.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-7538292295c247b29c8ae78a11277bbe.html" target="element"> Betalingstjenester </a> </td>
															    <td> <a href="../elements/id-7538292295c247b29c8ae78a11277bbe.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-36dc740359114e9684de854a2bdd983c.html" target="element"> Sertifiseringsakt&#248;rer </a> </td>
															    <td> <a href="../elements/id-36dc740359114e9684de854a2bdd983c.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-81f281c71ede488d86f2e12b8767ef23.html" target="element"> Fasilitator for kj&#248;p og salg av data </a> </td>
															    <td> <a href="../elements/id-81f281c71ede488d86f2e12b8767ef23.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/EAID_704D9EA1_49BC_4d10_AA58_046308B66901.html" target="element"> Katalogtjenester </a> </td>
													    <td> <a href="../elements/EAID_704D9EA1_49BC_4d10_AA58_046308B66901.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-2574ce8bff2c4b20a2b79704e071688c.html" target="element"> Oversikt over datasett </a> </td>
															    <td> <a href="../elements/id-2574ce8bff2c4b20a2b79704e071688c.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-dde7bbe2f1864bfbb1d55326437761b2.html" target="element"> Oversikt over applikasjoner </a> </td>
															    <td> <a href="../elements/id-dde7bbe2f1864bfbb1d55326437761b2.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e1b7f914cfef47f6956984e0e9541abe.html" target="element"> Oversikt over begreper </a> </td>
															    <td> <a href="../elements/id-e1b7f914cfef47f6956984e0e9541abe.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-bf1971ff713946f99f2bc613a7b52db1.html" target="element"> Publisering av dekningskart </a> </td>
															    <td> <a href="../elements/id-bf1971ff713946f99f2bc613a7b52db1.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3a00e9b1b2c0400b9340d0e0650d2478.html" target="element"> Oversikt over tjenester </a> </td>
															    <td> <a href="../elements/id-3a00e9b1b2c0400b9340d0e0650d2478.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c3e15f6dad3344fab398f754cbf7c37b.html" target="element"> Registrering av metadata </a> </td>
															    <td> <a href="../elements/id-c3e15f6dad3344fab398f754cbf7c37b.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-7cab6c467f174deda54dfbf07bed5fdf.html" target="element"> Oversikt over informasjonsmodeller </a> </td>
															    <td> <a href="../elements/id-7cab6c467f174deda54dfbf07bed5fdf.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c5896319eef541b0bbd830e656acd9ac.html" target="element"> S&#248;ketjenester </a> </td>
															    <td> <a href="../elements/id-c5896319eef541b0bbd830e656acd9ac.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e666ef812573448bb8fa48d79c710e2f.html" target="element"> Federering av kataloger </a> </td>
															    <td> <a href="../elements/id-e666ef812573448bb8fa48d79c710e2f.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e2e347ab02264fe884f3f18cc026c14f.html" target="element"> Oversikt over hendelser </a> </td>
															    <td> <a href="../elements/id-e2e347ab02264fe884f3f18cc026c14f.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-d96164ef26dc4a8e8c65df6f181dfa8a.html" target="element"> Publisering av produktspesifikasjon </a> </td>
															    <td> <a href="../elements/id-d96164ef26dc4a8e8c65df6f181dfa8a.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-93cde18bc4be4a82badc6837682d391b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-93cde18bc4be4a82badc6837682d391b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4c6bdf1fe9e74bafa8ae7f7e25b8696b.html" target="element"> Katalogtjenester </a> </td>
																		<td> <a href="../elements/EAID_704D9EA1_49BC_4d10_AA58_046308B66901.html" target="element"> Katalogtjenester </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2234e8ffb8db487fbabed19989221dc3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2234e8ffb8db487fbabed19989221dc3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4c6bdf1fe9e74bafa8ae7f7e25b8696b.html" target="element"> Katalogtjenester </a> </td>
																		<td> <a href="../elements/EAID_79D9F89E_D7A6_4ce5_91ED_496AF8967A05.html" target="element"> Markedsplass </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-2798bf6cad66443e83a792df4700b2ae.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2798bf6cad66443e83a792df4700b2ae.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/EAID_79D9F89E_D7A6_4ce5_91ED_496AF8967A05.html" target="element"> Markedsplass </a> </td>
																				<td> <a href="../elements/id-0e0e95a6a8ef442b85d076bfa83eba2c.html" target="element"> Datasuverenitet (bruksbegrensninger) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5705b4151e194b1184dc023830a836b2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5705b4151e194b1184dc023830a836b2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/EAID_79D9F89E_D7A6_4ce5_91ED_496AF8967A05.html" target="element"> Markedsplass </a> </td>
																				<td> <a href="../elements/id-36dc740359114e9684de854a2bdd983c.html" target="element"> Sertifiseringsakt&#248;rer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6ec5ec506df247419b192f317cf8e96d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6ec5ec506df247419b192f317cf8e96d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/EAID_79D9F89E_D7A6_4ce5_91ED_496AF8967A05.html" target="element"> Markedsplass </a> </td>
																				<td> <a href="../elements/id-2f95dce9e6ff4ae289e8996aee7f0a91.html" target="element"> Kontraktsh&#229;ndtering av avtaler og rettigheter </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-24c8610d83a84915ba9d6f61cdf303af.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-24c8610d83a84915ba9d6f61cdf303af.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/EAID_79D9F89E_D7A6_4ce5_91ED_496AF8967A05.html" target="element"> Markedsplass </a> </td>
																				<td> <a href="../elements/id-81f281c71ede488d86f2e12b8767ef23.html" target="element"> Fasilitator for kj&#248;p og salg av data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-23da35cd9ed148248abb5046675f631c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-23da35cd9ed148248abb5046675f631c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/EAID_79D9F89E_D7A6_4ce5_91ED_496AF8967A05.html" target="element"> Markedsplass </a> </td>
																				<td> <a href="../elements/id-7538292295c247b29c8ae78a11277bbe.html" target="element"> Betalingstjenester </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-74b355d3498549e198b1f65adde7951b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-74b355d3498549e198b1f65adde7951b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/EAID_704D9EA1_49BC_4d10_AA58_046308B66901.html" target="element"> Katalogtjenester </a> </td>
																				<td> <a href="../elements/id-7cab6c467f174deda54dfbf07bed5fdf.html" target="element"> Oversikt over informasjonsmodeller </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-582a4e77e804403b8da86c5bc4fd9d7b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-582a4e77e804403b8da86c5bc4fd9d7b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/EAID_704D9EA1_49BC_4d10_AA58_046308B66901.html" target="element"> Katalogtjenester </a> </td>
																				<td> <a href="../elements/id-e1b7f914cfef47f6956984e0e9541abe.html" target="element"> Oversikt over begreper </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d5466c3e4dff4051a773b9354b4eaf5f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d5466c3e4dff4051a773b9354b4eaf5f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/EAID_704D9EA1_49BC_4d10_AA58_046308B66901.html" target="element"> Katalogtjenester </a> </td>
																				<td> <a href="../elements/id-dde7bbe2f1864bfbb1d55326437761b2.html" target="element"> Oversikt over applikasjoner </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a8041402a67f4bf293342f5e089b406f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a8041402a67f4bf293342f5e089b406f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/EAID_704D9EA1_49BC_4d10_AA58_046308B66901.html" target="element"> Katalogtjenester </a> </td>
																				<td> <a href="../elements/id-c5896319eef541b0bbd830e656acd9ac.html" target="element"> S&#248;ketjenester </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e218b551603c4d2b94a0c410b9c6c40d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e218b551603c4d2b94a0c410b9c6c40d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/EAID_704D9EA1_49BC_4d10_AA58_046308B66901.html" target="element"> Katalogtjenester </a> </td>
																				<td> <a href="../elements/id-e666ef812573448bb8fa48d79c710e2f.html" target="element"> Federering av kataloger </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-aafacae8e08b4195b588f052445cdca9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-aafacae8e08b4195b588f052445cdca9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/EAID_704D9EA1_49BC_4d10_AA58_046308B66901.html" target="element"> Katalogtjenester </a> </td>
																				<td> <a href="../elements/id-2574ce8bff2c4b20a2b79704e071688c.html" target="element"> Oversikt over datasett </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-229262641abe472c879aaa8aca0bb86c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-229262641abe472c879aaa8aca0bb86c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/EAID_704D9EA1_49BC_4d10_AA58_046308B66901.html" target="element"> Katalogtjenester </a> </td>
																				<td> <a href="../elements/id-e2e347ab02264fe884f3f18cc026c14f.html" target="element"> Oversikt over hendelser </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3c29394518a04b48af4591b4327eca86.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3c29394518a04b48af4591b4327eca86.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/EAID_704D9EA1_49BC_4d10_AA58_046308B66901.html" target="element"> Katalogtjenester </a> </td>
																				<td> <a href="../elements/id-c3e15f6dad3344fab398f754cbf7c37b.html" target="element"> Registrering av metadata </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-91395bc9a59d42e5a61b7e0fed3153e3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-91395bc9a59d42e5a61b7e0fed3153e3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/EAID_704D9EA1_49BC_4d10_AA58_046308B66901.html" target="element"> Katalogtjenester </a> </td>
																				<td> <a href="../elements/id-3a00e9b1b2c0400b9340d0e0650d2478.html" target="element"> Oversikt over tjenester </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-15974c138a7d4307815ddf4b7f76c2c9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-15974c138a7d4307815ddf4b7f76c2c9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/EAID_704D9EA1_49BC_4d10_AA58_046308B66901.html" target="element"> Katalogtjenester </a> </td>
																				<td> <a href="../elements/id-d96164ef26dc4a8e8c65df6f181dfa8a.html" target="element"> Publisering av produktspesifikasjon </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6ba8d083bd2745adae039a99717c192c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6ba8d083bd2745adae039a99717c192c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/EAID_704D9EA1_49BC_4d10_AA58_046308B66901.html" target="element"> Katalogtjenester </a> </td>
																				<td> <a href="../elements/id-bf1971ff713946f99f2bc613a7b52db1.html" target="element"> Publisering av dekningskart </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>