<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Altinn formidling 2.0 - applikasjonstjenester - service usage</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Altinn formidling 2.0 - applikasjonstjenester - service usage</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-30dc5fac06d24aaa991d75dacf72f72d.png" alt="Altinn formidling 2.0 - applikasjonstjenester - service usage" usemap="#id-30dc5fac06d24aaa991d75dacf72f72dmap"/>
			   <map name="id-30dc5fac06d24aaa991d75dacf72f72dmap">
				  				<area shape="rect" coords="368,476,634,618" href="../elements/id-c8494c2b58ce457e9a23611887dd4a7f.html"  target="element">
				  				<area shape="rect" coords="380,1136,646,1278" href="../elements/id-d4181087a32844e19bb5540261c43a86.html"  target="element">
				  				<area shape="rect" coords="536,980,802,1122" href="../elements/id-93d8b699fb5643a291e5caddeb895330.html"  target="element">
				  				<area shape="rect" coords="536,824,802,966" href="../elements/id-3a0c42665b1042bd8045ec5b7ac238e1.html"  target="element">
				  				<area shape="rect" coords="680,644,946,786" href="../elements/id-466d228f228345a5af3d6d955791f754.html"  target="element">
				  				<area shape="rect" coords="680,476,946,618" href="../elements/id-fbdc9d518899414491d916444d67aae0.html"  target="element">
				  				<area shape="rect" coords="680,308,946,450" href="../elements/id-3faf21938c284ec39f2ae6964e588033.html"  target="element">
				  				<area shape="rect" coords="680,140,946,282" href="../elements/id-08ddf0fb326e48b4942935f553dedfa6.html"  target="element">
				  				<area shape="rect" coords="368,308,634,450" href="../elements/id-8411fabcd3ae47cbaec33e119d9e88e1.html"  target="element">
				  				<area shape="rect" coords="368,140,634,282" href="../elements/id-5aac43eb27b24bfeaeabf8098823cfdf.html"  target="element">

				  		<area shape="rect" coords="320,20,992,1294" href="../elements/id-aaf21474a619412c84d3446380d16af3.html"  target="element">
				  		<area shape="rect" coords="1112,20,1318,1294" href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html"  target="element">
				  		<area shape="rect" coords="20,20,226,1294" href="../elements/2560daad-d445-4eca-9ec7-a5cac5188b45.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/2560daad-d445-4eca-9ec7-a5cac5188b45.html" target="element"> Avsender  </a> </td>
											    <td> <a href="../elements/2560daad-d445-4eca-9ec7-a5cac5188b45.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html" target="element"> Mottaker </a> </td>
											    <td> <a href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aaf21474a619412c84d3446380d16af3.html" target="element"> Altinn Formidling </a> </td>
											    <td> <a href="../elements/id-aaf21474a619412c84d3446380d16af3.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-5aac43eb27b24bfeaeabf8098823cfdf.html" target="element"> Initiate message transfer </a> </td>
													    <td> <a href="../elements/id-5aac43eb27b24bfeaeabf8098823cfdf.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8411fabcd3ae47cbaec33e119d9e88e1.html" target="element"> Upload file </a> </td>
													    <td> <a href="../elements/id-8411fabcd3ae47cbaec33e119d9e88e1.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-08ddf0fb326e48b4942935f553dedfa6.html" target="element"> Check  if available Files </a> </td>
													    <td> <a href="../elements/id-08ddf0fb326e48b4942935f553dedfa6.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3faf21938c284ec39f2ae6964e588033.html" target="element"> Get Available Files </a> </td>
													    <td> <a href="../elements/id-3faf21938c284ec39f2ae6964e588033.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fbdc9d518899414491d916444d67aae0.html" target="element"> Download File </a> </td>
													    <td> <a href="../elements/id-fbdc9d518899414491d916444d67aae0.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-466d228f228345a5af3d6d955791f754.html" target="element"> Confirm downloaded </a> </td>
													    <td> <a href="../elements/id-466d228f228345a5af3d6d955791f754.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3a0c42665b1042bd8045ec5b7ac238e1.html" target="element"> Get receipt confirmation </a> </td>
													    <td> <a href="../elements/id-3a0c42665b1042bd8045ec5b7ac238e1.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-93d8b699fb5643a291e5caddeb895330.html" target="element"> Update receipt confirmation </a> </td>
													    <td> <a href="../elements/id-93d8b699fb5643a291e5caddeb895330.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d4181087a32844e19bb5540261c43a86.html" target="element"> Notify receipient </a> </td>
													    <td> <a href="../elements/id-d4181087a32844e19bb5540261c43a86.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c8494c2b58ce457e9a23611887dd4a7f.html" target="element"> Get File Metadata </a> </td>
													    <td> <a href="../elements/id-c8494c2b58ce457e9a23611887dd4a7f.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																			<tr>
																				<td> <a href="../elements/id-84e7de8050d54000a2b2e616c0fb80b9.html" target="element"> serves </a> </td>
																				<td> <a href="../elements/id-84e7de8050d54000a2b2e616c0fb80b9.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5aac43eb27b24bfeaeabf8098823cfdf.html" target="element"> Initiate message transfer </a> </td>
																				<td> <a href="../elements/2560daad-d445-4eca-9ec7-a5cac5188b45.html" target="element"> Avsender  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d9b544a90b4b49eb906538589b3a5df5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d9b544a90b4b49eb906538589b3a5df5.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8411fabcd3ae47cbaec33e119d9e88e1.html" target="element"> Upload file </a> </td>
																				<td> <a href="../elements/2560daad-d445-4eca-9ec7-a5cac5188b45.html" target="element"> Avsender  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8e61a5c18b76491381bd5347ed44d07b.html" target="element"> serves </a> </td>
																				<td> <a href="../elements/id-8e61a5c18b76491381bd5347ed44d07b.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-08ddf0fb326e48b4942935f553dedfa6.html" target="element"> Check  if available Files </a> </td>
																				<td> <a href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html" target="element"> Mottaker </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0e059881ffe849e5a0404ce72d396f89.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0e059881ffe849e5a0404ce72d396f89.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3faf21938c284ec39f2ae6964e588033.html" target="element"> Get Available Files </a> </td>
																				<td> <a href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html" target="element"> Mottaker </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-392fcc23bed740fb931f5c41819abeb8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-392fcc23bed740fb931f5c41819abeb8.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fbdc9d518899414491d916444d67aae0.html" target="element"> Download File </a> </td>
																				<td> <a href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html" target="element"> Mottaker </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2eeff25e000049a3b2611cb8effd198e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2eeff25e000049a3b2611cb8effd198e.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-466d228f228345a5af3d6d955791f754.html" target="element"> Confirm downloaded </a> </td>
																				<td> <a href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html" target="element"> Mottaker </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-901d1fbda4d34c0cbb995fa51242faf5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-901d1fbda4d34c0cbb995fa51242faf5.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3a0c42665b1042bd8045ec5b7ac238e1.html" target="element"> Get receipt confirmation </a> </td>
																				<td> <a href="../elements/2560daad-d445-4eca-9ec7-a5cac5188b45.html" target="element"> Avsender  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a6fba6a98cb2470ab762a7c5a6fc8b19.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a6fba6a98cb2470ab762a7c5a6fc8b19.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3a0c42665b1042bd8045ec5b7ac238e1.html" target="element"> Get receipt confirmation </a> </td>
																				<td> <a href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html" target="element"> Mottaker </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-622c5e4a105b43519efa40c5fe783708.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-622c5e4a105b43519efa40c5fe783708.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-93d8b699fb5643a291e5caddeb895330.html" target="element"> Update receipt confirmation </a> </td>
																				<td> <a href="../elements/2560daad-d445-4eca-9ec7-a5cac5188b45.html" target="element"> Avsender  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-37988f31cdbd441daa80ac5664ca0ad4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-37988f31cdbd441daa80ac5664ca0ad4.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-93d8b699fb5643a291e5caddeb895330.html" target="element"> Update receipt confirmation </a> </td>
																				<td> <a href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html" target="element"> Mottaker </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d2e68a0e93a9471d9be9a5a7dc6cd0fc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d2e68a0e93a9471d9be9a5a7dc6cd0fc.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d4181087a32844e19bb5540261c43a86.html" target="element"> Notify receipient </a> </td>
																				<td> <a href="../elements/2560daad-d445-4eca-9ec7-a5cac5188b45.html" target="element"> Avsender  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b64d15004f754b9ab9f50680f9533307.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b64d15004f754b9ab9f50680f9533307.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c8494c2b58ce457e9a23611887dd4a7f.html" target="element"> Get File Metadata </a> </td>
																				<td> <a href="../elements/2560daad-d445-4eca-9ec7-a5cac5188b45.html" target="element"> Avsender  </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>