<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Deployment of Public Services</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Deployment of Public Services</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-5f94ee40a26b4bffbefef76c1d27587a.png" alt="Deployment of Public Services" usemap="#id-5f94ee40a26b4bffbefef76c1d27587amap"/>
			   <map name="id-5f94ee40a26b4bffbefef76c1d27587amap">
				  				<area shape="rect" coords="60,260,326,402" href="../elements/id-2c0b21db75c640f59f3210effb305745.html"  target="element">
				  				<area shape="rect" coords="60,596,326,738" href="../elements/id-ba6686b453b649d9aab790fe8ac687b3.html"  target="element">
				  				<area shape="rect" coords="60,428,326,570" href="../elements/id-67e9bf3e7a4e4e32b1c0508f83ce05dc.html"  target="element">
				  				<area shape="rect" coords="60,92,326,234" href="../elements/id-c9ac0fcbf5fc4644b59fb92c499bf3e2.html"  target="element">

				  		<area shape="rect" coords="20,20,382,782" href="../elements/id-8ee1b52f0c014f9f9321079a20929d34.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-8ee1b52f0c014f9f9321079a20929d34.html" target="element"> Deployment of Public Services </a> </td>
											    <td> <a href="../elements/id-8ee1b52f0c014f9f9321079a20929d34.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c9ac0fcbf5fc4644b59fb92c499bf3e2.html" target="element"> European Digital Government EcoSystem (EDGES) </a> </td>
													    <td> <a href="../elements/id-c9ac0fcbf5fc4644b59fb92c499bf3e2.html" target="element" class="i18n-elementtype-WorkPackage">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-67e9bf3e7a4e4e32b1c0508f83ce05dc.html" target="element"> Health and care </a> </td>
													    <td> <a href="../elements/id-67e9bf3e7a4e4e32b1c0508f83ce05dc.html" target="element" class="i18n-elementtype-WorkPackage">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ba6686b453b649d9aab790fe8ac687b3.html" target="element"> Security (law enforcement): AI-based pilots </a> </td>
													    <td> <a href="../elements/id-ba6686b453b649d9aab790fe8ac687b3.html" target="element" class="i18n-elementtype-WorkPackage">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2c0b21db75c640f59f3210effb305745.html" target="element"> Justice and consumer protection </a> </td>
													    <td> <a href="../elements/id-2c0b21db75c640f59f3210effb305745.html" target="element" class="i18n-elementtype-WorkPackage">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-3f7a08c1f021495e807c60d4fcbcb22a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3f7a08c1f021495e807c60d4fcbcb22a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8ee1b52f0c014f9f9321079a20929d34.html" target="element"> Deployment of Public Services </a> </td>
																		<td> <a href="../elements/id-c9ac0fcbf5fc4644b59fb92c499bf3e2.html" target="element"> European Digital Government EcoSystem (EDGES) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f181d094b10a4eeab3ee2e53a5e35ce7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f181d094b10a4eeab3ee2e53a5e35ce7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8ee1b52f0c014f9f9321079a20929d34.html" target="element"> Deployment of Public Services </a> </td>
																		<td> <a href="../elements/id-2c0b21db75c640f59f3210effb305745.html" target="element"> Justice and consumer protection </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ba65ea25369d427784a72c60f03ed15d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ba65ea25369d427784a72c60f03ed15d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8ee1b52f0c014f9f9321079a20929d34.html" target="element"> Deployment of Public Services </a> </td>
																		<td> <a href="../elements/id-ba6686b453b649d9aab790fe8ac687b3.html" target="element"> Security (law enforcement): AI-based pilots </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4019db30f8b1494795acf26b204b7d53.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4019db30f8b1494795acf26b204b7d53.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8ee1b52f0c014f9f9321079a20929d34.html" target="element"> Deployment of Public Services </a> </td>
																		<td> <a href="../elements/id-67e9bf3e7a4e4e32b1c0508f83ce05dc.html" target="element"> Health and care </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>