<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Datautveksling og integrasjon</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Datautveksling og integrasjon</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-70a18b53a8a7467e838c9b790427f869.png" alt="Datautveksling og integrasjon" usemap="#id-70a18b53a8a7467e838c9b790427f869map"/>
			   <map name="id-70a18b53a8a7467e838c9b790427f869map">
				          <area shape="rect" coords="1064,20,1318,226" href="../objects/id-e6c8305764414ac8bd95fda7fd06dbb8.html" target="element" >
				  						<area shape="rect" coords="670,440,936,550" href="../elements/id-3e4d88c375634d4fba96b32aec4980ec.html"  target="element">
				  						<area shape="rect" coords="670,320,936,430" href="../elements/id-ee3fa804321b449bb0f3d0d226f9388e.html"  target="element">
				  						<area shape="rect" coords="670,198,936,308" href="../elements/id-e110af88eb044b56b46fbf6bec583599.html"  target="element">
				  						<area shape="rect" coords="392,442,658,552" href="../elements/id-6b328f7cd61b4028a6038429d2c5419c.html"  target="element">
				  						<area shape="rect" coords="392,200,658,310" href="../elements/id-7400d95766cf4a56954b0858bd989252.html"  target="element">
				  						<area shape="rect" coords="394,322,660,432" href="../elements/id-8d547f1cd4604535812bd11c45ef663d.html"  target="element">
				  						<area shape="rect" coords="104,442,370,552" href="../elements/id-dec75fef947c4f4fbcc1f3654df14f1e.html"  target="element">
				  						<area shape="rect" coords="104,322,370,432" href="../elements/id-d222d40f47b840008fb9973ff2496e41.html"  target="element">
				  						<area shape="rect" coords="104,200,370,310" href="../elements/id-328ff99141d74b0b945a79eb4ab110f1.html"  target="element">

				  				<area shape="rect" coords="56,104,962,586" href="../elements/id-108c69d4ecec42788b5585a76ab1eaa5.html"  target="element">

				  		<area shape="rect" coords="20,20,1006,610" href="../elements/id-ad23fa4bfabc4f2e86b01830ed7b1684.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">TBD</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-ad23fa4bfabc4f2e86b01830ed7b1684.html" target="element"> Datautveksling og integrasjon </a> </td>
											    <td> <a href="../elements/id-ad23fa4bfabc4f2e86b01830ed7b1684.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-108c69d4ecec42788b5585a76ab1eaa5.html" target="element"> Datautveksling og integrasjoner (Kartverket-2022) </a> </td>
													    <td> <a href="../elements/id-108c69d4ecec42788b5585a76ab1eaa5.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-328ff99141d74b0b945a79eb4ab110f1.html" target="element"> IoT integrasjon </a> </td>
															    <td> <a href="../elements/id-328ff99141d74b0b945a79eb4ab110f1.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-d222d40f47b840008fb9973ff2496e41.html" target="element"> Digital tvilling integrasjon </a> </td>
															    <td> <a href="../elements/id-d222d40f47b840008fb9973ff2496e41.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-dec75fef947c4f4fbcc1f3654df14f1e.html" target="element"> API styring </a> </td>
															    <td> <a href="../elements/id-dec75fef947c4f4fbcc1f3654df14f1e.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-8d547f1cd4604535812bd11c45ef663d.html" target="element"> Nedlastingstjeneste </a> </td>
															    <td> <a href="../elements/id-8d547f1cd4604535812bd11c45ef663d.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-7400d95766cf4a56954b0858bd989252.html" target="element"> Visningstjeneste </a> </td>
															    <td> <a href="../elements/id-7400d95766cf4a56954b0858bd989252.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-6b328f7cd61b4028a6038429d2c5419c.html" target="element"> Str&#248;mme og deletjeneste </a> </td>
															    <td> <a href="../elements/id-6b328f7cd61b4028a6038429d2c5419c.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e110af88eb044b56b46fbf6bec583599.html" target="element"> Endringstjeneste </a> </td>
															    <td> <a href="../elements/id-e110af88eb044b56b46fbf6bec583599.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-ee3fa804321b449bb0f3d0d226f9388e.html" target="element"> Oppdateringstjeneste </a> </td>
															    <td> <a href="../elements/id-ee3fa804321b449bb0f3d0d226f9388e.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3e4d88c375634d4fba96b32aec4980ec.html" target="element"> Harmoniserte tjenester (Inspire) </a> </td>
															    <td> <a href="../elements/id-3e4d88c375634d4fba96b32aec4980ec.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-e6c8305764414ac8bd95fda7fd06dbb8.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e6c8305764414ac8bd95fda7fd06dbb8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-58260483080a43989e1c4c08d7a60341.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-58260483080a43989e1c4c08d7a60341.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad23fa4bfabc4f2e86b01830ed7b1684.html" target="element"> Datautveksling og integrasjon </a> </td>
																		<td> <a href="../elements/id-108c69d4ecec42788b5585a76ab1eaa5.html" target="element"> Datautveksling og integrasjoner (Kartverket-2022) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-0bc8efcad3f84342911962238a4cee40.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0bc8efcad3f84342911962238a4cee40.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-108c69d4ecec42788b5585a76ab1eaa5.html" target="element"> Datautveksling og integrasjoner (Kartverket-2022) </a> </td>
																				<td> <a href="../elements/id-dec75fef947c4f4fbcc1f3654df14f1e.html" target="element"> API styring </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8df6d7ab6ac64c79b747bc8c7aba2a74.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8df6d7ab6ac64c79b747bc8c7aba2a74.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-108c69d4ecec42788b5585a76ab1eaa5.html" target="element"> Datautveksling og integrasjoner (Kartverket-2022) </a> </td>
																				<td> <a href="../elements/id-328ff99141d74b0b945a79eb4ab110f1.html" target="element"> IoT integrasjon </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a2384cec347444a693def2b02a00cbfe.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a2384cec347444a693def2b02a00cbfe.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-108c69d4ecec42788b5585a76ab1eaa5.html" target="element"> Datautveksling og integrasjoner (Kartverket-2022) </a> </td>
																				<td> <a href="../elements/id-7400d95766cf4a56954b0858bd989252.html" target="element"> Visningstjeneste </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0386a01928d9486abcb8707e4901a035.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0386a01928d9486abcb8707e4901a035.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-108c69d4ecec42788b5585a76ab1eaa5.html" target="element"> Datautveksling og integrasjoner (Kartverket-2022) </a> </td>
																				<td> <a href="../elements/id-3e4d88c375634d4fba96b32aec4980ec.html" target="element"> Harmoniserte tjenester (Inspire) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f0bf6418b0844434959efec8744803b1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f0bf6418b0844434959efec8744803b1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-108c69d4ecec42788b5585a76ab1eaa5.html" target="element"> Datautveksling og integrasjoner (Kartverket-2022) </a> </td>
																				<td> <a href="../elements/id-6b328f7cd61b4028a6038429d2c5419c.html" target="element"> Str&#248;mme og deletjeneste </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-66cbc9c0b7724233a5720c856fd5d9dd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-66cbc9c0b7724233a5720c856fd5d9dd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-108c69d4ecec42788b5585a76ab1eaa5.html" target="element"> Datautveksling og integrasjoner (Kartverket-2022) </a> </td>
																				<td> <a href="../elements/id-e110af88eb044b56b46fbf6bec583599.html" target="element"> Endringstjeneste </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-43c4fa3dfb4d403daeb73efa10d720fc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-43c4fa3dfb4d403daeb73efa10d720fc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-108c69d4ecec42788b5585a76ab1eaa5.html" target="element"> Datautveksling og integrasjoner (Kartverket-2022) </a> </td>
																				<td> <a href="../elements/id-d222d40f47b840008fb9973ff2496e41.html" target="element"> Digital tvilling integrasjon </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b841cdcbd36246058cc740d1a9934e7f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b841cdcbd36246058cc740d1a9934e7f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-108c69d4ecec42788b5585a76ab1eaa5.html" target="element"> Datautveksling og integrasjoner (Kartverket-2022) </a> </td>
																				<td> <a href="../elements/id-8d547f1cd4604535812bd11c45ef663d.html" target="element"> Nedlastingstjeneste </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7f33f140be7c40a19afe17dcf7fd0a0d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7f33f140be7c40a19afe17dcf7fd0a0d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-108c69d4ecec42788b5585a76ab1eaa5.html" target="element"> Datautveksling og integrasjoner (Kartverket-2022) </a> </td>
																				<td> <a href="../elements/id-ee3fa804321b449bb0f3d0d226f9388e.html" target="element"> Oppdateringstjeneste </a> </td>
																			</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>