<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Fra samhandlende aktører til sammenhengende tjenester (copy)</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Fra samhandlende akt&#248;rer til sammenhengende tjenester (copy)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-70b21fe821e74fed9c1b7ff964814192.png" alt="Fra samhandlende aktører til sammenhengende tjenester (copy)" usemap="#id-70b21fe821e74fed9c1b7ff964814192map"/>
			   <map name="id-70b21fe821e74fed9c1b7ff964814192map">
				  				<area shape="rect" coords="822,428,1016,522" href="../elements/id-d676a30ab3f2427997ba0f3862ac9a9f.html"  target="element">
				  				<area shape="rect" coords="242,296,1096,390" href="../elements/id-8e980dc95e7545c0afaa34a1e000de69.html"  target="element">
				  				<area shape="rect" coords="594,428,788,522" href="../elements/id-33287db4654e4f8dbce669f8181175a6.html"  target="element">
				  				<area shape="rect" coords="126,428,320,522" href="../elements/id-33a73dd81e554283aa10e9c450877a42.html"  target="element">
				  				<area shape="rect" coords="354,428,548,522" href="../elements/id-c229396664f543e39856480b1fafe773.html"  target="element">
				  				<area shape="rect" coords="280,284,1134,378" href="../elements/id-f7320a28c10c4dba9e2e44e26c9fba41.html"  target="element">
				  						<area shape="rect" coords="524,128,792,238" href="../elements/id-077e10d3f0bf4b5e96b726b6140ba6bc.html"  target="element">
				  						<area shape="rect" coords="212,128,480,238" href="../elements/id-0f5e0555c4d748d08e69d92a9ef12983.html"  target="element">
				  						<area shape="rect" coords="836,128,1104,238" href="../elements/id-c992e152656d42d1a9d102d4fa2e9987.html"  target="element">

				  				<area shape="rect" coords="164,80,1174,262" href="../elements/id-98ffd0a2cb1b4c0587727d933da62a56.html"  target="element">

				  		<area shape="rect" coords="20,20,1290,574" href="../elements/id-60bff300eb44484db87388bcc75c2cbe.html"  target="element">
				  				<area shape="rect" coords="546,952,740,1046" href="../elements/id-d08421a4ccc64fc3ab240ceb1bf1f324.html"  target="element">
				  				<area shape="rect" coords="80,808,274,902" href="../elements/id-c5a29c193929476fb6150b489321a201.html"  target="element">
				  				<area shape="rect" coords="516,800,772,910" href="../elements/id-e2285a90bbfd4b0c98e92987f16ba9f1.html"  target="element">
				  				<area shape="rect" coords="272,952,466,1046" href="../elements/id-7a135d582da342e8a6283ea6397be4ac.html"  target="element">
				  				<area shape="rect" coords="824,952,1018,1046" href="../elements/id-694f840fd4e440079a95b46f685c80cb.html"  target="element">
				  				<area shape="rect" coords="112,784,306,878" href="../elements/id-c5a29c193929476fb6150b489321a201.html"  target="element">
				  				<area shape="rect" coords="1016,808,1210,902" href="../elements/id-3b0af6f3a20647efb993679c0c691f2c.html"  target="element">
				  				<area shape="rect" coords="1040,784,1234,878" href="../elements/id-3b0af6f3a20647efb993679c0c691f2c.html"  target="element">
				  				<area shape="rect" coords="980,608,1248,718" href="../elements/id-3719db4e32374da3ab60284fda4d12b3.html"  target="element">
				  				<area shape="rect" coords="944,632,1212,742" href="../elements/id-3719db4e32374da3ab60284fda4d12b3.html"  target="element">
				  				<area shape="rect" coords="510,632,778,742" href="../elements/id-98ffd0a2cb1b4c0587727d933da62a56.html"  target="element">
				  				<area shape="rect" coords="56,632,324,742" href="../elements/id-a4d074dacefd47269a49c44c7771480f.html"  target="element">
				  				<area shape="rect" coords="76,608,344,718" href="../elements/id-a4d074dacefd47269a49c44c7771480f.html"  target="element">

				  		<area shape="rect" coords="20,572,1290,1078" href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
											    <td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element" class="i18n-elementtype-BusinessCollaboration">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a4d074dacefd47269a49c44c7771480f.html" target="element"> Foreg&#229;ende ledd i tjenestekjede </a> </td>
													    <td> <a href="../elements/id-a4d074dacefd47269a49c44c7771480f.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a4d074dacefd47269a49c44c7771480f.html" target="element"> Foreg&#229;ende ledd i tjenestekjede </a> </td>
													    <td> <a href="../elements/id-a4d074dacefd47269a49c44c7771480f.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-98ffd0a2cb1b4c0587727d933da62a56.html" target="element"> Samhandlingsakt&#248;r </a> </td>
													    <td> <a href="../elements/id-98ffd0a2cb1b4c0587727d933da62a56.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3719db4e32374da3ab60284fda4d12b3.html" target="element"> Neste ledd i tjenestekjede </a> </td>
													    <td> <a href="../elements/id-3719db4e32374da3ab60284fda4d12b3.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3719db4e32374da3ab60284fda4d12b3.html" target="element"> Neste ledd i tjenestekjede </a> </td>
													    <td> <a href="../elements/id-3719db4e32374da3ab60284fda4d12b3.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3b0af6f3a20647efb993679c0c691f2c.html" target="element"> Utg&#229;ende hendelser </a> </td>
													    <td> <a href="../elements/id-3b0af6f3a20647efb993679c0c691f2c.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3b0af6f3a20647efb993679c0c691f2c.html" target="element"> Utg&#229;ende hendelser </a> </td>
													    <td> <a href="../elements/id-3b0af6f3a20647efb993679c0c691f2c.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c5a29c193929476fb6150b489321a201.html" target="element"> Inng&#229;ende hendelser </a> </td>
													    <td> <a href="../elements/id-c5a29c193929476fb6150b489321a201.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-694f840fd4e440079a95b46f685c80cb.html" target="element"> Utdata </a> </td>
													    <td> <a href="../elements/id-694f840fd4e440079a95b46f685c80cb.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7a135d582da342e8a6283ea6397be4ac.html" target="element"> Inndata </a> </td>
													    <td> <a href="../elements/id-7a135d582da342e8a6283ea6397be4ac.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e2285a90bbfd4b0c98e92987f16ba9f1.html" target="element"> Prosesseringssteg </a> </td>
													    <td> <a href="../elements/id-e2285a90bbfd4b0c98e92987f16ba9f1.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c5a29c193929476fb6150b489321a201.html" target="element"> Inng&#229;ende hendelser </a> </td>
													    <td> <a href="../elements/id-c5a29c193929476fb6150b489321a201.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d08421a4ccc64fc3ab240ceb1bf1f324.html" target="element"> Lagrede data </a> </td>
													    <td> <a href="../elements/id-d08421a4ccc64fc3ab240ceb1bf1f324.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-60bff300eb44484db87388bcc75c2cbe.html" target="element"> Sammenhengende tjenester </a> </td>
											    <td> <a href="../elements/id-60bff300eb44484db87388bcc75c2cbe.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-98ffd0a2cb1b4c0587727d933da62a56.html" target="element"> Samhandlingsakt&#248;r </a> </td>
													    <td> <a href="../elements/id-98ffd0a2cb1b4c0587727d933da62a56.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-c992e152656d42d1a9d102d4fa2e9987.html" target="element"> Virksomhet </a> </td>
															    <td> <a href="../elements/id-c992e152656d42d1a9d102d4fa2e9987.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-0f5e0555c4d748d08e69d92a9ef12983.html" target="element"> Person </a> </td>
															    <td> <a href="../elements/id-0f5e0555c4d748d08e69d92a9ef12983.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-077e10d3f0bf4b5e96b726b6140ba6bc.html" target="element"> Maskin </a> </td>
															    <td> <a href="../elements/id-077e10d3f0bf4b5e96b726b6140ba6bc.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-f7320a28c10c4dba9e2e44e26c9fba41.html" target="element"> Egen prosess (brukerreise) </a> </td>
													    <td> <a href="../elements/id-f7320a28c10c4dba9e2e44e26c9fba41.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c229396664f543e39856480b1fafe773.html" target="element"> Informasjons-tjenester </a> </td>
													    <td> <a href="../elements/id-c229396664f543e39856480b1fafe773.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-33a73dd81e554283aa10e9c450877a42.html" target="element"> Data </a> </td>
													    <td> <a href="../elements/id-33a73dd81e554283aa10e9c450877a42.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-33287db4654e4f8dbce669f8181175a6.html" target="element"> Automatisert  tjeneste </a> </td>
													    <td> <a href="../elements/id-33287db4654e4f8dbce669f8181175a6.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8e980dc95e7545c0afaa34a1e000de69.html" target="element"> Brukerreise (egen prosess) </a> </td>
													    <td> <a href="../elements/id-8e980dc95e7545c0afaa34a1e000de69.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d676a30ab3f2427997ba0f3862ac9a9f.html" target="element"> Fysisk tjeneste </a> </td>
													    <td> <a href="../elements/id-d676a30ab3f2427997ba0f3862ac9a9f.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-ff46c273ce5f46e998fe329ab14a5353.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ff46c273ce5f46e998fe329ab14a5353.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-98ffd0a2cb1b4c0587727d933da62a56.html" target="element"> Samhandlingsakt&#248;r </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4d67cfe23ffd4c47b6800920c66a7911.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4d67cfe23ffd4c47b6800920c66a7911.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-e2285a90bbfd4b0c98e92987f16ba9f1.html" target="element"> Prosesseringssteg </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-be88682173074b08bf1f6924a0b19cd3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-be88682173074b08bf1f6924a0b19cd3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-3719db4e32374da3ab60284fda4d12b3.html" target="element"> Neste ledd i tjenestekjede </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a8d164c5f74c46eab0486092f902f715.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a8d164c5f74c46eab0486092f902f715.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-a4d074dacefd47269a49c44c7771480f.html" target="element"> Foreg&#229;ende ledd i tjenestekjede </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f66b9ff0b35c4f38a623e7633428e9a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f66b9ff0b35c4f38a623e7633428e9a2.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-7a135d582da342e8a6283ea6397be4ac.html" target="element"> Inndata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-270613e784a4458ab8766ac108c709db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-270613e784a4458ab8766ac108c709db.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-a4d074dacefd47269a49c44c7771480f.html" target="element"> Foreg&#229;ende ledd i tjenestekjede </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8207bb77520a4de08ea1063e6da21076.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8207bb77520a4de08ea1063e6da21076.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-c5a29c193929476fb6150b489321a201.html" target="element"> Inng&#229;ende hendelser </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2d21598f48f44ae4abbb17654fe49eae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2d21598f48f44ae4abbb17654fe49eae.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-d08421a4ccc64fc3ab240ceb1bf1f324.html" target="element"> Lagrede data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d8339d48d3464a6b81952d427bc0e242.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d8339d48d3464a6b81952d427bc0e242.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-694f840fd4e440079a95b46f685c80cb.html" target="element"> Utdata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-342cffcb95f44df4a86e8e07478c5fac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-342cffcb95f44df4a86e8e07478c5fac.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-3719db4e32374da3ab60284fda4d12b3.html" target="element"> Neste ledd i tjenestekjede </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a7a409439cc544ac98bdfd1c71e84ffe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a7a409439cc544ac98bdfd1c71e84ffe.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-c229396664f543e39856480b1fafe773.html" target="element"> Informasjons-tjenester </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-57dd41a0b8c94ca38b40cef33578ca09.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-57dd41a0b8c94ca38b40cef33578ca09.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-33287db4654e4f8dbce669f8181175a6.html" target="element"> Automatisert  tjeneste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4a4b2fe0bfce467c9d7b6f013eb0c719.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4a4b2fe0bfce467c9d7b6f013eb0c719.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-3b0af6f3a20647efb993679c0c691f2c.html" target="element"> Utg&#229;ende hendelser </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a7fe220b9f9044c0915d5b0bebace348.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a7fe220b9f9044c0915d5b0bebace348.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-3b0af6f3a20647efb993679c0c691f2c.html" target="element"> Utg&#229;ende hendelser </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3704a02923c94ca7af3f0506561be720.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3704a02923c94ca7af3f0506561be720.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-33a73dd81e554283aa10e9c450877a42.html" target="element"> Data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e0ce03dc59a548b7b3940dfab87f7496.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e0ce03dc59a548b7b3940dfab87f7496.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-c5a29c193929476fb6150b489321a201.html" target="element"> Inng&#229;ende hendelser </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8314ab6c0c504324a9ff8321f93bbe30.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8314ab6c0c504324a9ff8321f93bbe30.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec4820f0ce0844fd8fa6d4800ed66e68.html" target="element"> Leverand&#248;rsamspill (samhandlingsakt&#248;rer) </a> </td>
																		<td> <a href="../elements/id-d676a30ab3f2427997ba0f3862ac9a9f.html" target="element"> Fysisk tjeneste </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-978f540e8ac340f6abdd415918053c99.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-978f540e8ac340f6abdd415918053c99.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a4d074dacefd47269a49c44c7771480f.html" target="element"> Foreg&#229;ende ledd i tjenestekjede </a> </td>
																				<td> <a href="../elements/id-c5a29c193929476fb6150b489321a201.html" target="element"> Inng&#229;ende hendelser </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1760c7c3774a4e49b993a01564ad3377.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1760c7c3774a4e49b993a01564ad3377.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a4d074dacefd47269a49c44c7771480f.html" target="element"> Foreg&#229;ende ledd i tjenestekjede </a> </td>
																				<td> <a href="../elements/id-98ffd0a2cb1b4c0587727d933da62a56.html" target="element"> Samhandlingsakt&#248;r </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e4309b0d4d8546ec8ca880bb5261d5f3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e4309b0d4d8546ec8ca880bb5261d5f3.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-98ffd0a2cb1b4c0587727d933da62a56.html" target="element"> Samhandlingsakt&#248;r </a> </td>
																				<td> <a href="../elements/id-3719db4e32374da3ab60284fda4d12b3.html" target="element"> Neste ledd i tjenestekjede </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7b3c1c8f8f074f4c80f55e6505bae2a6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7b3c1c8f8f074f4c80f55e6505bae2a6.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-98ffd0a2cb1b4c0587727d933da62a56.html" target="element"> Samhandlingsakt&#248;r </a> </td>
																				<td> <a href="../elements/id-e2285a90bbfd4b0c98e92987f16ba9f1.html" target="element"> Prosesseringssteg </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-96f4ebf541ac4b048b8f3d1f787b33a9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-96f4ebf541ac4b048b8f3d1f787b33a9.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3b0af6f3a20647efb993679c0c691f2c.html" target="element"> Utg&#229;ende hendelser </a> </td>
																				<td> <a href="../elements/id-3719db4e32374da3ab60284fda4d12b3.html" target="element"> Neste ledd i tjenestekjede </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ff5919f09fce46488a8762a4fef81a5a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ff5919f09fce46488a8762a4fef81a5a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-694f840fd4e440079a95b46f685c80cb.html" target="element"> Utdata </a> </td>
																				<td> <a href="../elements/id-84df3a5f08b742d1aa81ba5844a2247e.html" target="element">  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c67e402266e84e09b2e03c59eab84b8a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c67e402266e84e09b2e03c59eab84b8a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7a135d582da342e8a6283ea6397be4ac.html" target="element"> Inndata </a> </td>
																				<td> <a href="../elements/id-abc5dcc765c344adaeee6edd9eea5ca0.html" target="element">  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6c186b88a4984814b007104dd574808e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6c186b88a4984814b007104dd574808e.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e2285a90bbfd4b0c98e92987f16ba9f1.html" target="element"> Prosesseringssteg </a> </td>
																				<td> <a href="../elements/id-d08421a4ccc64fc3ab240ceb1bf1f324.html" target="element"> Lagrede data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c53d4d8cbee246a381a0cd631130431e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c53d4d8cbee246a381a0cd631130431e.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e2285a90bbfd4b0c98e92987f16ba9f1.html" target="element"> Prosesseringssteg </a> </td>
																				<td> <a href="../elements/id-d08421a4ccc64fc3ab240ceb1bf1f324.html" target="element"> Lagrede data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-84df3a5f08b742d1aa81ba5844a2247e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-84df3a5f08b742d1aa81ba5844a2247e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e2285a90bbfd4b0c98e92987f16ba9f1.html" target="element"> Prosesseringssteg </a> </td>
																				<td> <a href="../elements/id-3b0af6f3a20647efb993679c0c691f2c.html" target="element"> Utg&#229;ende hendelser </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-abc5dcc765c344adaeee6edd9eea5ca0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-abc5dcc765c344adaeee6edd9eea5ca0.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c5a29c193929476fb6150b489321a201.html" target="element"> Inng&#229;ende hendelser </a> </td>
																				<td> <a href="../elements/id-e2285a90bbfd4b0c98e92987f16ba9f1.html" target="element"> Prosesseringssteg </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-cbbebe9120d04f2e934d115b62a603d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cbbebe9120d04f2e934d115b62a603d6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-60bff300eb44484db87388bcc75c2cbe.html" target="element"> Sammenhengende tjenester </a> </td>
																		<td> <a href="../elements/id-8e980dc95e7545c0afaa34a1e000de69.html" target="element"> Brukerreise (egen prosess) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f677a675d34b4e93a8996b2aeee396cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f677a675d34b4e93a8996b2aeee396cc.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-60bff300eb44484db87388bcc75c2cbe.html" target="element"> Sammenhengende tjenester </a> </td>
																		<td> <a href="../elements/id-33287db4654e4f8dbce669f8181175a6.html" target="element"> Automatisert  tjeneste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-97b29b86d9db4689a93439268d55f458.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-97b29b86d9db4689a93439268d55f458.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-60bff300eb44484db87388bcc75c2cbe.html" target="element"> Sammenhengende tjenester </a> </td>
																		<td> <a href="../elements/id-d676a30ab3f2427997ba0f3862ac9a9f.html" target="element"> Fysisk tjeneste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-30dcc458aac643538192d212327bb228.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-30dcc458aac643538192d212327bb228.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-60bff300eb44484db87388bcc75c2cbe.html" target="element"> Sammenhengende tjenester </a> </td>
																		<td> <a href="../elements/id-c229396664f543e39856480b1fafe773.html" target="element"> Informasjons-tjenester </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-976aca5f6751406999e23ee1d596e94d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-976aca5f6751406999e23ee1d596e94d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-60bff300eb44484db87388bcc75c2cbe.html" target="element"> Sammenhengende tjenester </a> </td>
																		<td> <a href="../elements/id-f7320a28c10c4dba9e2e44e26c9fba41.html" target="element"> Egen prosess (brukerreise) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-631781a585554553b147b6c6ffc9d4d7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-631781a585554553b147b6c6ffc9d4d7.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-60bff300eb44484db87388bcc75c2cbe.html" target="element"> Sammenhengende tjenester </a> </td>
																		<td> <a href="../elements/id-33a73dd81e554283aa10e9c450877a42.html" target="element"> Data </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-727fde57fd724bf7a19a7808194b8467.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-727fde57fd724bf7a19a7808194b8467.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-98ffd0a2cb1b4c0587727d933da62a56.html" target="element"> Samhandlingsakt&#248;r </a> </td>
																				<td> <a href="../elements/id-0f5e0555c4d748d08e69d92a9ef12983.html" target="element"> Person </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d3a3fd6f5dd340e4a0d3b794344518df.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d3a3fd6f5dd340e4a0d3b794344518df.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-98ffd0a2cb1b4c0587727d933da62a56.html" target="element"> Samhandlingsakt&#248;r </a> </td>
																				<td> <a href="../elements/id-c992e152656d42d1a9d102d4fa2e9987.html" target="element"> Virksomhet </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4465472f801247aaa1d07997fee9362b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4465472f801247aaa1d07997fee9362b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-98ffd0a2cb1b4c0587727d933da62a56.html" target="element"> Samhandlingsakt&#248;r </a> </td>
																				<td> <a href="../elements/id-077e10d3f0bf4b5e96b726b6140ba6bc.html" target="element"> Maskin </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-0661e620b40f441f921214743a62e3b9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0661e620b40f441f921214743a62e3b9.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c229396664f543e39856480b1fafe773.html" target="element"> Informasjons-tjenester </a> </td>
																				<td> <a href="../elements/id-8e980dc95e7545c0afaa34a1e000de69.html" target="element"> Brukerreise (egen prosess) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-7203a0c6e4cc4f83a26bdd1cba47dcee.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7203a0c6e4cc4f83a26bdd1cba47dcee.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-33a73dd81e554283aa10e9c450877a42.html" target="element"> Data </a> </td>
																				<td> <a href="../elements/id-c229396664f543e39856480b1fafe773.html" target="element"> Informasjons-tjenester </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-fd9a967fe5b148a2b73cf5eebd01470f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fd9a967fe5b148a2b73cf5eebd01470f.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-33287db4654e4f8dbce669f8181175a6.html" target="element"> Automatisert  tjeneste </a> </td>
																				<td> <a href="../elements/id-8e980dc95e7545c0afaa34a1e000de69.html" target="element"> Brukerreise (egen prosess) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9d62b1ab5f8a46c799bc43b795442969.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9d62b1ab5f8a46c799bc43b795442969.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8e980dc95e7545c0afaa34a1e000de69.html" target="element"> Brukerreise (egen prosess) </a> </td>
																				<td> <a href="../elements/id-98ffd0a2cb1b4c0587727d933da62a56.html" target="element"> Samhandlingsakt&#248;r </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e560376859fd42fdb0e3c74d742e177a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e560376859fd42fdb0e3c74d742e177a.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d676a30ab3f2427997ba0f3862ac9a9f.html" target="element"> Fysisk tjeneste </a> </td>
																				<td> <a href="../elements/id-8e980dc95e7545c0afaa34a1e000de69.html" target="element"> Brukerreise (egen prosess) </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>