<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Sammenstilling av data og datalagring</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Sammenstilling av data og datalagring</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8a39b2ff25e141e68c3bbd2316310574.png" alt="Sammenstilling av data og datalagring" usemap="#id-8a39b2ff25e141e68c3bbd2316310574map"/>
			   <map name="id-8a39b2ff25e141e68c3bbd2316310574map">
				  						<area shape="rect" coords="1316,200,1582,310" href="../elements/id-753f70d7a99746de83015e9bea1d4c53.html"  target="element">
				  						<area shape="rect" coords="1304,332,1570,442" href="../elements/id-57cad35752ea44e790965e6582ffe98f.html"  target="element">
				  						<area shape="rect" coords="1604,200,1870,310" href="../elements/id-1689120a0af44d539c17c07d68c70321.html"  target="element">
				  						<area shape="rect" coords="1028,332,1294,442" href="../elements/id-f98aef1930d14816b76cd2167e6f0b34.html"  target="element">
				  						<area shape="rect" coords="1028,200,1294,310" href="../elements/id-0d338c7990f14df3aa7bd236996a4c2e.html"  target="element">

				  				<area shape="rect" coords="1004,116,1910,466" href="../elements/id-ddb5fa0ba358482eb0147f5c64387e9c.html"  target="element">
				  						<area shape="rect" coords="668,326,934,436" href="../elements/id-9d1db997b6ff4b78808eac4a258477ca.html"  target="element">
				  						<area shape="rect" coords="380,200,646,310" href="../elements/id-62e36a4d6f5d45339f4bad4156297fd9.html"  target="element">
				  						<area shape="rect" coords="88,200,354,310" href="../elements/id-33e1cc3261c0449ba3e3cf739b951fed.html"  target="element">
				  						<area shape="rect" coords="380,326,646,436" href="../elements/id-9b4816ea87ed4f3983721a1c51396cb1.html"  target="element">
				  						<area shape="rect" coords="88,326,354,436" href="../elements/id-71a1da3234c149fdb1ee490e7b343cde.html"  target="element">
				  						<area shape="rect" coords="668,200,934,310" href="../elements/id-01196244f32643a2833a09410d9e08f0.html"  target="element">

				  				<area shape="rect" coords="68,116,974,466" href="../elements/EAID_FC2FB1F9_D52A_4072_B45F_AB8239DF95DF.html"  target="element">

				  		<area shape="rect" coords="20,20,1954,490" href="../elements/id-bb4b14f6520d4952b2a8efb7dc94872b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">TBD</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-bb4b14f6520d4952b2a8efb7dc94872b.html" target="element"> Sammenstilling av data og datalagring </a> </td>
											    <td> <a href="../elements/id-bb4b14f6520d4952b2a8efb7dc94872b.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/EAID_FC2FB1F9_D52A_4072_B45F_AB8239DF95DF.html" target="element"> Datalagring </a> </td>
													    <td> <a href="../elements/EAID_FC2FB1F9_D52A_4072_B45F_AB8239DF95DF.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-01196244f32643a2833a09410d9e08f0.html" target="element"> Digital tvilling lager </a> </td>
															    <td> <a href="../elements/id-01196244f32643a2833a09410d9e08f0.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-71a1da3234c149fdb1ee490e7b343cde.html" target="element"> Datalagring </a> </td>
															    <td> <a href="../elements/id-71a1da3234c149fdb1ee490e7b343cde.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-9b4816ea87ed4f3983721a1c51396cb1.html" target="element"> AI modell lager </a> </td>
															    <td> <a href="../elements/id-9b4816ea87ed4f3983721a1c51396cb1.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-33e1cc3261c0449ba3e3cf739b951fed.html" target="element"> Ontologier </a> </td>
															    <td> <a href="../elements/id-33e1cc3261c0449ba3e3cf739b951fed.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-62e36a4d6f5d45339f4bad4156297fd9.html" target="element"> Tidsserie datalager </a> </td>
															    <td> <a href="../elements/id-62e36a4d6f5d45339f4bad4156297fd9.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-9d1db997b6ff4b78808eac4a258477ca.html" target="element"> AI treningsmodell lager </a> </td>
															    <td> <a href="../elements/id-9d1db997b6ff4b78808eac4a258477ca.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-ddb5fa0ba358482eb0147f5c64387e9c.html" target="element"> Datatjenester </a> </td>
													    <td> <a href="../elements/id-ddb5fa0ba358482eb0147f5c64387e9c.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-0d338c7990f14df3aa7bd236996a4c2e.html" target="element"> Transformasjoner </a> </td>
															    <td> <a href="../elements/id-0d338c7990f14df3aa7bd236996a4c2e.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-f98aef1930d14816b76cd2167e6f0b34.html" target="element"> Batch prosessering </a> </td>
															    <td> <a href="../elements/id-f98aef1930d14816b76cd2167e6f0b34.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-1689120a0af44d539c17c07d68c70321.html" target="element"> Databeriking </a> </td>
															    <td> <a href="../elements/id-1689120a0af44d539c17c07d68c70321.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-57cad35752ea44e790965e6582ffe98f.html" target="element"> Sanntidsprosessering </a> </td>
															    <td> <a href="../elements/id-57cad35752ea44e790965e6582ffe98f.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-753f70d7a99746de83015e9bea1d4c53.html" target="element"> Sammenstilling </a> </td>
															    <td> <a href="../elements/id-753f70d7a99746de83015e9bea1d4c53.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-008b6a27e3614f4c87393260536ba652.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-008b6a27e3614f4c87393260536ba652.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bb4b14f6520d4952b2a8efb7dc94872b.html" target="element"> Sammenstilling av data og datalagring </a> </td>
																		<td> <a href="../elements/EAID_FC2FB1F9_D52A_4072_B45F_AB8239DF95DF.html" target="element"> Datalagring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2c99d2e468f6447b8b2d7c8cc34ba70b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2c99d2e468f6447b8b2d7c8cc34ba70b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bb4b14f6520d4952b2a8efb7dc94872b.html" target="element"> Sammenstilling av data og datalagring </a> </td>
																		<td> <a href="../elements/id-ddb5fa0ba358482eb0147f5c64387e9c.html" target="element"> Datatjenester </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-f62a94ce4f7647a0bc02b47158968002.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f62a94ce4f7647a0bc02b47158968002.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/EAID_FC2FB1F9_D52A_4072_B45F_AB8239DF95DF.html" target="element"> Datalagring </a> </td>
																				<td> <a href="../elements/id-33e1cc3261c0449ba3e3cf739b951fed.html" target="element"> Ontologier </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-16420c9d79314084b5200b834d37e549.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-16420c9d79314084b5200b834d37e549.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/EAID_FC2FB1F9_D52A_4072_B45F_AB8239DF95DF.html" target="element"> Datalagring </a> </td>
																				<td> <a href="../elements/id-62e36a4d6f5d45339f4bad4156297fd9.html" target="element"> Tidsserie datalager </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1ffef832427d4157a81ade8aa7267f98.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1ffef832427d4157a81ade8aa7267f98.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/EAID_FC2FB1F9_D52A_4072_B45F_AB8239DF95DF.html" target="element"> Datalagring </a> </td>
																				<td> <a href="../elements/id-9b4816ea87ed4f3983721a1c51396cb1.html" target="element"> AI modell lager </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-62165bf284f34d0ebf258035c48824b7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-62165bf284f34d0ebf258035c48824b7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/EAID_FC2FB1F9_D52A_4072_B45F_AB8239DF95DF.html" target="element"> Datalagring </a> </td>
																				<td> <a href="../elements/id-01196244f32643a2833a09410d9e08f0.html" target="element"> Digital tvilling lager </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8bc31bb718e642a5a31b8b77a8f0b846.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8bc31bb718e642a5a31b8b77a8f0b846.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/EAID_FC2FB1F9_D52A_4072_B45F_AB8239DF95DF.html" target="element"> Datalagring </a> </td>
																				<td> <a href="../elements/id-9d1db997b6ff4b78808eac4a258477ca.html" target="element"> AI treningsmodell lager </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8b7a46dca843419bb74b07564323e960.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8b7a46dca843419bb74b07564323e960.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/EAID_FC2FB1F9_D52A_4072_B45F_AB8239DF95DF.html" target="element"> Datalagring </a> </td>
																				<td> <a href="../elements/id-71a1da3234c149fdb1ee490e7b343cde.html" target="element"> Datalagring </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-427fa26dbc70475f9972b948db04e09c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-427fa26dbc70475f9972b948db04e09c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ddb5fa0ba358482eb0147f5c64387e9c.html" target="element"> Datatjenester </a> </td>
																				<td> <a href="../elements/id-f98aef1930d14816b76cd2167e6f0b34.html" target="element"> Batch prosessering </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4b5f2399223c4a358b24d7d40a3e3694.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4b5f2399223c4a358b24d7d40a3e3694.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ddb5fa0ba358482eb0147f5c64387e9c.html" target="element"> Datatjenester </a> </td>
																				<td> <a href="../elements/id-57cad35752ea44e790965e6582ffe98f.html" target="element"> Sanntidsprosessering </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b550567bd35f4feab9dbf1d41661cac8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b550567bd35f4feab9dbf1d41661cac8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ddb5fa0ba358482eb0147f5c64387e9c.html" target="element"> Datatjenester </a> </td>
																				<td> <a href="../elements/id-0d338c7990f14df3aa7bd236996a4c2e.html" target="element"> Transformasjoner </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a1550453df1d4743bd857ee1a2513027.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a1550453df1d4743bd857ee1a2513027.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ddb5fa0ba358482eb0147f5c64387e9c.html" target="element"> Datatjenester </a> </td>
																				<td> <a href="../elements/id-1689120a0af44d539c17c07d68c70321.html" target="element"> Databeriking </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-82a724dcb3ed40e9858c7e2c8e9b1326.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-82a724dcb3ed40e9858c7e2c8e9b1326.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ddb5fa0ba358482eb0147f5c64387e9c.html" target="element"> Datatjenester </a> </td>
																				<td> <a href="../elements/id-753f70d7a99746de83015e9bea1d4c53.html" target="element"> Sammenstilling </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>