<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Cloud, data and Artificial Intelligence </title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Cloud, data and Artificial Intelligence </b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8569675ea84f4260a881dee85ec981bb.png" alt="Cloud, data and Artificial Intelligence " usemap="#id-8569675ea84f4260a881dee85ec981bbmap"/>
			   <map name="id-8569675ea84f4260a881dee85ec981bbmap">
				  				<area shape="rect" coords="620,92,886,234" href="../elements/id-cddd16e5a8eb42938918f711eba86726.html"  target="element">
				  				<area shape="rect" coords="332,92,598,234" href="../elements/id-c47997bda09841cb97e753fa78d51e92.html"  target="element">
				  				<area shape="rect" coords="44,92,310,234" href="../elements/id-cf3a1dbf11d34bd4a67081489568243b.html"  target="element">

				  		<area shape="rect" coords="20,20,916,262" href="../elements/id-1212459116854e269fd539260d5cfb61.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-1212459116854e269fd539260d5cfb61.html" target="element"> Cloud, data and Artificial Intelligence  </a> </td>
											    <td> <a href="../elements/id-1212459116854e269fd539260d5cfb61.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-cf3a1dbf11d34bd4a67081489568243b.html" target="element"> Cloud-to-edge infrastructure and services  </a> </td>
													    <td> <a href="../elements/id-cf3a1dbf11d34bd4a67081489568243b.html" target="element" class="i18n-elementtype-WorkPackage">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c47997bda09841cb97e753fa78d51e92.html" target="element"> Data for EU </a> </td>
													    <td> <a href="../elements/id-c47997bda09841cb97e753fa78d51e92.html" target="element" class="i18n-elementtype-WorkPackage">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cddd16e5a8eb42938918f711eba86726.html" target="element"> Artificial Intelligence </a> </td>
													    <td> <a href="../elements/id-cddd16e5a8eb42938918f711eba86726.html" target="element" class="i18n-elementtype-WorkPackage">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-b1df78abe77048a7a4201bca4e870886.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b1df78abe77048a7a4201bca4e870886.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1212459116854e269fd539260d5cfb61.html" target="element"> Cloud, data and Artificial Intelligence  </a> </td>
																		<td> <a href="../elements/id-c47997bda09841cb97e753fa78d51e92.html" target="element"> Data for EU </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-72b0a5a2ae5d4a11bd527810893bfd13.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-72b0a5a2ae5d4a11bd527810893bfd13.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1212459116854e269fd539260d5cfb61.html" target="element"> Cloud, data and Artificial Intelligence  </a> </td>
																		<td> <a href="../elements/id-cf3a1dbf11d34bd4a67081489568243b.html" target="element"> Cloud-to-edge infrastructure and services  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4957666ca2a743e485e060dfaab36ca9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4957666ca2a743e485e060dfaab36ca9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1212459116854e269fd539260d5cfb61.html" target="element"> Cloud, data and Artificial Intelligence  </a> </td>
																		<td> <a href="../elements/id-cddd16e5a8eb42938918f711eba86726.html" target="element"> Artificial Intelligence </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>