<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Fra meldingsutveksling til tjenestekjeder</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Fra meldingsutveksling til tjenestekjeder</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-CanvasModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-CanvasModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-834178e817da465bb83cc3e99a9f531b.png" alt="Fra meldingsutveksling til tjenestekjeder" usemap="#id-834178e817da465bb83cc3e99a9f531bmap"/>
			   <map name="id-834178e817da465bb83cc3e99a9f531bmap">
				          <area shape="rect" coords="408,30,1084,82" href="../objects/id-e7dc090a689d4937b2cb9ee500f2a915.html" target="element" >
				          <area shape="rect" coords="688,80,762,132" href="../objects/id-8a53164863d741cd8689714f9f40f7ad.html" target="element" >
				          <area shape="rect" coords="702,404,750,454" href="../objects/id-3f361540aeab4990903ec56efe7cc6d9.html" target="element" >
				          <area shape="rect" coords="614,236,868,288" href="../objects/id-f1e18d05e2434f4f86c49e8e0bf3dc42.html" target="element" >
				          <area shape="rect" coords="388,354,1064,406" href="../objects/id-665fa3414a164c1388a603f8d80acfd8.html" target="element" >
				          <area shape="rect" coords="1004,572,1068,610" href="../objects/id-8624bfcb25e84898a87f46a32abbe04c.html" target="element" >
				          <area shape="rect" coords="412,572,476,612" href="../objects/id-e193306aa5df448a812911c207569066.html" target="element" >
				  		        <area shape="rect" coords="128,68,214,142" href="../objects/id-b7838ba51c5642149510fb125b128b22.html" target="element" >
				  		        <area shape="rect" coords="50,500,284,622" href="../objects/id-a6ec5c3336bd4bb4b3fdddb6157efc11.html" target="element" >
				  		        <area shape="rect" coords="50,332,284,454" href="../objects/id-34aafcea32b0421280a1f3568bf14e67.html" target="element" >
				  		        <area shape="rect" coords="50,164,284,286" href="../objects/id-27f2a7c9f570453ca865d09aa6a71a2e.html" target="element" >

				          <area shape="rect" coords="20,20,320,670" href="../objects/id-dbeab74553be46db92704bc24e5e7ed0.html" target="element" >
				  		        <area shape="rect" coords="1280,68,1366,142" href="../objects/id-3c391bd9a89a436eadad2695c50757f2.html" target="element" >
				  		        <area shape="rect" coords="1216,332,1450,454" href="../objects/id-c50db4058ec440bda2ed5c1bae25ce45.html" target="element" >
				  		        <area shape="rect" coords="1212,502,1446,624" href="../objects/id-ce5418afc0744c56a30136c2bd7664b3.html" target="element" >
				  		        <area shape="rect" coords="1216,164,1450,286" href="../objects/id-70dddb40eaa34588a3ec80c9e91ab00e.html" target="element" >

				          <area shape="rect" coords="1184,20,1484,670" href="../objects/id-4b7d634ed9594cccaf94456e5ac66605.html" target="element" >
				          <area shape="rect" coords="932,514,1162,566" href="../objects/id-d12bb674648d4681b07a53e073b7fddf.html" target="element" >
				          <area shape="rect" coords="332,514,574,566" href="../objects/id-cbc2d7d52dd54d4191a270cb388d179f.html" target="element" >
				          <area shape="rect" coords="666,516,818,592" href="../objects/id-225be08c7f7b45f5a331fd85e3ebdee5.html" target="element" >
				          <area shape="rect" coords="364,186,1086,238" href="../objects/id-126f0c2b7d094e2ab47123d6aede0c99.html" target="element" >
				          <area shape="rect" coords="596,474,896,634" href="../objects/id-5af582321f04469c90a467dceae14240.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Datautveksling mellom akt&#248;rer gj&#248;res gjennom ulike former for meldingsutveksling. Her vises en generisk, konseptuell modell for meldingsutveksling mellom to eller flere samhandlingsakt&#248;rer. Noen viktige poenger her er:

Meldinger kan sendes over ulike transportprotokoller, slik som f.eks. asynkrone meldinger over ebXML/AS4 eller synkrone meldinger over HTTP/REST - vi kaller det uansett meldingsutveksling.

Elektroniske meldinger sendes bestandig mot et API, som grensesnitt for innkommende hendelser til aktuelle tjenester og prosesser. 

Teknisk og semantisk interoperabilitet ivaretas ved at en kan oversette mellom ulike protokoller. dette gj&#248;res i konnektor-komponenten, men bare dersom n&#248;dvendig. I enkleste fall er konnektor-komponenten bare et teknisk endepunkt p&#229; Web, og beh&#248;ver ikke &#229; v&#230;re en fysisk komponent eller noe ekstra ledd.


En kan ogs&#229; oversette mellom ulike transportprotokoller, f.eks. slik at en kan kalle et REST-API gjennom en asynkron meldingsinfrastruktur. 

Hvilke teknologier og utvekslingsm&#248;nstre som egner seg best, m&#229; ses i forhold til aktuelle behov og f&#248;ringer, med utgangspunkt i felles forretningsprosess.

*****************'
Teknologier for meldingsutveksling (eksempler):

    * Transportprotokoller - ebXML, HTTP, REST, GraphQL, ..
    * Nye teknologier - lenkede data, blockhain
    * Fellesl&#248;sninger

TO-DO: Forskellen p&#229; REST  og RPC... NB: RPC p&#229; innsiden, REST p&#229; utsiden


Valg av utvekslingsm&#248;nster og teknisk l&#248;sning ut fra:

	* Forretningsmessig behov - brukstilfeller  
	* Lovp&#229;lagte krav
	* Strategiske f&#248;ringer
	* Antall avsendere og mottakere
	* Kjente eller ukjente mottakere
	* Kvalitetskrav, eks. responstid, leveringssikkerhet
	* Tilgjengelig teknologi
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-5af582321f04469c90a467dceae14240.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-5af582321f04469c90a467dceae14240.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-126f0c2b7d094e2ab47123d6aede0c99.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-126f0c2b7d094e2ab47123d6aede0c99.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-225be08c7f7b45f5a331fd85e3ebdee5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-225be08c7f7b45f5a331fd85e3ebdee5.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-cbc2d7d52dd54d4191a270cb388d179f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-cbc2d7d52dd54d4191a270cb388d179f.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d12bb674648d4681b07a53e073b7fddf.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d12bb674648d4681b07a53e073b7fddf.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-4b7d634ed9594cccaf94456e5ac66605.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-4b7d634ed9594cccaf94456e5ac66605.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-70dddb40eaa34588a3ec80c9e91ab00e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-70dddb40eaa34588a3ec80c9e91ab00e.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-ce5418afc0744c56a30136c2bd7664b3.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ce5418afc0744c56a30136c2bd7664b3.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-c50db4058ec440bda2ed5c1bae25ce45.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-c50db4058ec440bda2ed5c1bae25ce45.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-3c391bd9a89a436eadad2695c50757f2.html" target="element"> Image </a> </td>
											           <td> <a href="../objects/id-3c391bd9a89a436eadad2695c50757f2.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-dbeab74553be46db92704bc24e5e7ed0.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-dbeab74553be46db92704bc24e5e7ed0.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-27f2a7c9f570453ca865d09aa6a71a2e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-27f2a7c9f570453ca865d09aa6a71a2e.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-34aafcea32b0421280a1f3568bf14e67.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-34aafcea32b0421280a1f3568bf14e67.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-a6ec5c3336bd4bb4b3fdddb6157efc11.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-a6ec5c3336bd4bb4b3fdddb6157efc11.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-b7838ba51c5642149510fb125b128b22.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b7838ba51c5642149510fb125b128b22.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-e193306aa5df448a812911c207569066.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-e193306aa5df448a812911c207569066.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-8624bfcb25e84898a87f46a32abbe04c.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-8624bfcb25e84898a87f46a32abbe04c.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-665fa3414a164c1388a603f8d80acfd8.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-665fa3414a164c1388a603f8d80acfd8.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f1e18d05e2434f4f86c49e8e0bf3dc42.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-f1e18d05e2434f4f86c49e8e0bf3dc42.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-3f361540aeab4990903ec56efe7cc6d9.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-3f361540aeab4990903ec56efe7cc6d9.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-8a53164863d741cd8689714f9f40f7ad.html" target="element"> Image </a> </td>
									           <td> <a href="../objects/id-8a53164863d741cd8689714f9f40f7ad.html" target="element" class="i18n-elementtype-CanvasModelImage"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e7dc090a689d4937b2cb9ee500f2a915.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e7dc090a689d4937b2cb9ee500f2a915.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelImage -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>