<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Altinn Formidling 2.0 - Roller</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Altinn Formidling 2.0 - Roller</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-93f0fbf8f57a4b1485ba7da425bdbc7a.png" alt="Altinn Formidling 2.0 - Roller" usemap="#id-93f0fbf8f57a4b1485ba7da425bdbc7amap"/>
			   <map name="id-93f0fbf8f57a4b1485ba7da425bdbc7amap">
				  		<area shape="rect" coords="800,608,1066,750" href="../elements/id-bccb3ef02dbe46f6b70cb1d8d93bdf92.html"  target="element">
				          <area shape="rect" coords="36,20,910,130" href="../objects/id-0240c70bb1ae4fa590b29329dde97ff8.html" target="element" >
				  		<area shape="rect" coords="1652,824,1918,966" href="../elements/id-d555600639794fe580d3b9829fc120ee.html"  target="element">
				  		<area shape="rect" coords="1736,416,1906,558" href="../elements/id-ec81739649df4477bb19ecc55619ec6f.html"  target="element">
				  		<area shape="rect" coords="416,824,682,966" href="../elements/8a33b740-5985-4d56-a1e8-a55b7ecffa50.html"  target="element">
				  		<area shape="rect" coords="800,164,1066,306" href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html"  target="element">
				  		<area shape="rect" coords="20,164,286,306" href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html"  target="element">
				  		<area shape="rect" coords="1220,416,1390,558" href="../elements/id-63967c505d0144b5930a34ec8543c4ee.html"  target="element">
				  		<area shape="rect" coords="416,164,682,306" href="../elements/ab749393-6726-4b1f-a60e-c539a2875fc8.html"  target="element">
				  		<area shape="rect" coords="1208,824,1474,966" href="../elements/id-68434de35d684b91a2d5c692a8292f8c.html"  target="element">
				  		<area shape="rect" coords="812,824,1078,966" href="../elements/id-ff7f3b3f13854da9aa30e487773633ac.html"  target="element">
				  		<area shape="rect" coords="1472,608,1738,750" href="../elements/id-ab83b619e1634d00890a4603132ee5e6.html"  target="element">
				  		<area shape="rect" coords="20,812,286,954" href="../elements/c63e12fe-81e7-4d35-b656-86581ade3b52.html"  target="element">
				  		<area shape="rect" coords="800,392,1066,534" href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html"  target="element">
				  		<area shape="rect" coords="20,392,286,534" href="../elements/2560daad-d445-4eca-9ec7-a5cac5188b45.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/2560daad-d445-4eca-9ec7-a5cac5188b45.html" target="element"> Avsender  </a> </td>
											    <td> <a href="../elements/2560daad-d445-4eca-9ec7-a5cac5188b45.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html" target="element"> Mottaker </a> </td>
											    <td> <a href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c63e12fe-81e7-4d35-b656-86581ade3b52.html" target="element"> Tjenesteeier (Altinn) </a> </td>
											    <td> <a href="../elements/c63e12fe-81e7-4d35-b656-86581ade3b52.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ab83b619e1634d00890a4603132ee5e6.html" target="element"> Sluttbruker (Altinn) </a> </td>
											    <td> <a href="../elements/id-ab83b619e1634d00890a4603132ee5e6.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ff7f3b3f13854da9aa30e487773633ac.html" target="element"> Virksomhet </a> </td>
											    <td> <a href="../elements/id-ff7f3b3f13854da9aa30e487773633ac.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-68434de35d684b91a2d5c692a8292f8c.html" target="element"> Person </a> </td>
											    <td> <a href="../elements/id-68434de35d684b91a2d5c692a8292f8c.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ab749393-6726-4b1f-a60e-c539a2875fc8.html" target="element"> Dataformidler </a> </td>
											    <td> <a href="../elements/ab749393-6726-4b1f-a60e-c539a2875fc8.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-63967c505d0144b5930a34ec8543c4ee.html" target="element"> Personbruker </a> </td>
											    <td> <a href="../elements/id-63967c505d0144b5930a34ec8543c4ee.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
											    <td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
											    <td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8a33b740-5985-4d56-a1e8-a55b7ecffa50.html" target="element"> Dataeier </a> </td>
											    <td> <a href="../elements/8a33b740-5985-4d56-a1e8-a55b7ecffa50.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ec81739649df4477bb19ecc55619ec6f.html" target="element"> Maskinbruker </a> </td>
											    <td> <a href="../elements/id-ec81739649df4477bb19ecc55619ec6f.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d555600639794fe580d3b9829fc120ee.html" target="element"> Bruker </a> </td>
											    <td> <a href="../elements/id-d555600639794fe580d3b9829fc120ee.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-0240c70bb1ae4fa590b29329dde97ff8.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-0240c70bb1ae4fa590b29329dde97ff8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-bccb3ef02dbe46f6b70cb1d8d93bdf92.html" target="element"> Mottakeradministrasjon (eks. Politiet) </a> </td>
											    <td> <a href="../elements/id-bccb3ef02dbe46f6b70cb1d8d93bdf92.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/d81c2df4-994c-442b-af33-a16ad9fe17c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/d81c2df4-994c-442b-af33-a16ad9fe17c6.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/2560daad-d445-4eca-9ec7-a5cac5188b45.html" target="element"> Avsender  </a> </td>
																		<td> <a href="../elements/c777850b-1ce0-4af0-b1b2-d180411baaca.html" target="element"> Datatilbyder </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6597f040-35d4-4279-92a3-464efbce2211.html" target="element">  </a> </td>
																		<td> <a href="../elements/6597f040-35d4-4279-92a3-464efbce2211.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html" target="element"> Mottaker </a> </td>
																		<td> <a href="../elements/0442a2d9-0a27-4aee-ac78-82b12deccf85.html" target="element"> Datakonsument </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d2eb426e9db94fadbb19c23680422106.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d2eb426e9db94fadbb19c23680422106.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html" target="element"> Mottaker </a> </td>
																		<td> <a href="../elements/id-bccb3ef02dbe46f6b70cb1d8d93bdf92.html" target="element"> Mottakeradministrasjon (eks. Politiet) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-696267404dc249118992b34b31f702c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-696267404dc249118992b34b31f702c5.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ab83b619e1634d00890a4603132ee5e6.html" target="element"> Sluttbruker (Altinn) </a> </td>
																		<td> <a href="../elements/id-d555600639794fe580d3b9829fc120ee.html" target="element"> Bruker </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-47db2a2497f74dc4be4f767f32a34208.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-47db2a2497f74dc4be4f767f32a34208.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-63967c505d0144b5930a34ec8543c4ee.html" target="element"> Personbruker </a> </td>
																		<td> <a href="../elements/f3e8c676-4755-4715-aac2-fe1979422f30.html" target="element"> Mottaker </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c30ff051bce84cc79d28d00fe8f118db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c30ff051bce84cc79d28d00fe8f118db.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-63967c505d0144b5930a34ec8543c4ee.html" target="element"> Personbruker </a> </td>
																		<td> <a href="../elements/id-68434de35d684b91a2d5c692a8292f8c.html" target="element"> Person </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ede80af824e544f3ac559d6abf0e6976.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ede80af824e544f3ac559d6abf0e6976.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-63967c505d0144b5930a34ec8543c4ee.html" target="element"> Personbruker </a> </td>
																		<td> <a href="../elements/id-ab83b619e1634d00890a4603132ee5e6.html" target="element"> Sluttbruker (Altinn) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f2161d0bffe641f5bd8b023bb502bb65.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f2161d0bffe641f5bd8b023bb502bb65.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec81739649df4477bb19ecc55619ec6f.html" target="element"> Maskinbruker </a> </td>
																		<td> <a href="../elements/id-d555600639794fe580d3b9829fc120ee.html" target="element"> Bruker </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7fc7aec59f3445418e13455ca0392730.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7fc7aec59f3445418e13455ca0392730.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec81739649df4477bb19ecc55619ec6f.html" target="element"> Maskinbruker </a> </td>
																		<td> <a href="../elements/id-63967c505d0144b5930a34ec8543c4ee.html" target="element"> Personbruker </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>