<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Gaia-X </title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Gaia-X </b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-ba919b78f45749a7ac734c793962f154.png" alt="Gaia-X " usemap="#id-ba919b78f45749a7ac734c793962f154map"/>
			   <map name="id-ba919b78f45749a7ac734c793962f154map">
				  		<area shape="rect" coords="20,1028,286,1170" href="../elements/id-a785e431f2064d9489c9825d06d7e67c.html"  target="element">
				  		<area shape="rect" coords="1024,992,1290,1134" href="../elements/id-9ef4db1d4c664c2bb2df6022bc1458bb.html"  target="element">
				  		<area shape="rect" coords="1012,818,1278,960" href="../elements/id-0b96901def6b4649bc5de155b00be9c8.html"  target="element">
				  		<area shape="rect" coords="20,836,286,978" href="../elements/id-22eb4d2540b34ce5a2dfe78fbe39ef91.html"  target="element">
				  				<area shape="rect" coords="436,896,678,970" href="../elements/id-364d66b5cf4b4bcf8aac475da4b8a743.html"  target="element">

				  		<area shape="rect" coords="424,836,690,978" href="../elements/id-5ec61d15382249b3984e49c8c2cdb24e.html"  target="element">
				  				<area shape="rect" coords="400,572,724,620" href="../elements/id-7973d8895519431299950b4b43416ed0.html"  target="element">
				  				<area shape="rect" coords="404,666,718,714" href="../elements/id-55a09e8582c945ec99f10f8722c3dc0c.html"  target="element">
				  				<area shape="rect" coords="400,618,724,666" href="../elements/id-af29cc8f76c74123a9b47eb8f22108cd.html"  target="element">
				  				<area shape="rect" coords="404,712,718,760" href="../elements/id-c68be230656a49f287e68e7363456454.html"  target="element">

				  		<area shape="rect" coords="364,524,750,766" href="../elements/id-ef3b148c00dd48c0aeff9b46c55dd40c.html"  target="element">
				  				<area shape="rect" coords="772,392,1014,478" href="../elements/id-fd4c8d4daaae43f1a2663dbb6a4c266b.html"  target="element">

				  		<area shape="rect" coords="760,344,1026,486" href="../elements/id-2bb93e7fd80d4bf8b7c785bce3903fe0.html"  target="element">
				  				<area shape="rect" coords="424,284,666,370" href="../elements/id-9e57d9ce3c754f24b1a91020622678fa.html"  target="element">

				  		<area shape="rect" coords="412,236,678,378" href="../elements/id-393b4774a8cd4dff873b031069e3f732.html"  target="element">
				  				<area shape="rect" coords="64,392,306,478" href="../elements/id-5bd1dacf27934703b2ca81b2cc1ad5eb.html"  target="element">

				  		<area shape="rect" coords="52,344,318,486" href="../elements/id-ad7ca1698ed748ca81eb56e76c556cf6.html"  target="element">
				  				<area shape="rect" coords="436,68,678,154" href="../elements/id-4b29508652014fe7a9b2cf48cf1d2662.html"  target="element">

				  		<area shape="rect" coords="424,20,690,162" href="../elements/id-c0890c9cae2847c684ca3efb65586146.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-c0890c9cae2847c684ca3efb65586146.html" target="element"> Participant </a> </td>
											    <td> <a href="../elements/id-c0890c9cae2847c684ca3efb65586146.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-4b29508652014fe7a9b2cf48cf1d2662.html" target="element"> Identified,  authorized </a> </td>
													    <td> <a href="../elements/id-4b29508652014fe7a9b2cf48cf1d2662.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-ad7ca1698ed748ca81eb56e76c556cf6.html" target="element"> Provider </a> </td>
											    <td> <a href="../elements/id-ad7ca1698ed748ca81eb56e76c556cf6.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-5bd1dacf27934703b2ca81b2cc1ad5eb.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-5bd1dacf27934703b2ca81b2cc1ad5eb.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-393b4774a8cd4dff873b031069e3f732.html" target="element"> Federator </a> </td>
											    <td> <a href="../elements/id-393b4774a8cd4dff873b031069e3f732.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9e57d9ce3c754f24b1a91020622678fa.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-9e57d9ce3c754f24b1a91020622678fa.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2bb93e7fd80d4bf8b7c785bce3903fe0.html" target="element"> Consumer </a> </td>
											    <td> <a href="../elements/id-2bb93e7fd80d4bf8b7c785bce3903fe0.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fd4c8d4daaae43f1a2663dbb6a4c266b.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-fd4c8d4daaae43f1a2663dbb6a4c266b.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-ef3b148c00dd48c0aeff9b46c55dd40c.html" target="element"> Federation services </a> </td>
											    <td> <a href="../elements/id-ef3b148c00dd48c0aeff9b46c55dd40c.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c68be230656a49f287e68e7363456454.html" target="element"> Compliance </a> </td>
													    <td> <a href="../elements/id-c68be230656a49f287e68e7363456454.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-af29cc8f76c74123a9b47eb8f22108cd.html" target="element"> Federated Catalogue </a> </td>
													    <td> <a href="../elements/id-af29cc8f76c74123a9b47eb8f22108cd.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-55a09e8582c945ec99f10f8722c3dc0c.html" target="element"> Sovereign data exchange </a> </td>
													    <td> <a href="../elements/id-55a09e8582c945ec99f10f8722c3dc0c.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7973d8895519431299950b4b43416ed0.html" target="element"> Identity&amp;trust management </a> </td>
													    <td> <a href="../elements/id-7973d8895519431299950b4b43416ed0.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-5ec61d15382249b3984e49c8c2cdb24e.html" target="element"> Service offering </a> </td>
											    <td> <a href="../elements/id-5ec61d15382249b3984e49c8c2cdb24e.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-364d66b5cf4b4bcf8aac475da4b8a743.html" target="element"> Terrms&amp;condidtions, Policies </a> </td>
													    <td> <a href="../elements/id-364d66b5cf4b4bcf8aac475da4b8a743.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-22eb4d2540b34ce5a2dfe78fbe39ef91.html" target="element"> Resource </a> </td>
											    <td> <a href="../elements/id-22eb4d2540b34ce5a2dfe78fbe39ef91.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0b96901def6b4649bc5de155b00be9c8.html" target="element"> Asset </a> </td>
											    <td> <a href="../elements/id-0b96901def6b4649bc5de155b00be9c8.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9ef4db1d4c664c2bb2df6022bc1458bb.html" target="element"> Asset Owner </a> </td>
											    <td> <a href="../elements/id-9ef4db1d4c664c2bb2df6022bc1458bb.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a785e431f2064d9489c9825d06d7e67c.html" target="element"> End User </a> </td>
											    <td> <a href="../elements/id-a785e431f2064d9489c9825d06d7e67c.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-826e11e9afbf47379804f962ac691af1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-826e11e9afbf47379804f962ac691af1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c0890c9cae2847c684ca3efb65586146.html" target="element"> Participant </a> </td>
																		<td> <a href="../elements/id-4b29508652014fe7a9b2cf48cf1d2662.html" target="element"> Identified,  authorized </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-3e372a6f509d44c9a7f5b2fb50c2b27b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3e372a6f509d44c9a7f5b2fb50c2b27b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad7ca1698ed748ca81eb56e76c556cf6.html" target="element"> Provider </a> </td>
																		<td> <a href="../elements/id-5bd1dacf27934703b2ca81b2cc1ad5eb.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e044ff8ad6b44244b37b014ac7661e6e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e044ff8ad6b44244b37b014ac7661e6e.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad7ca1698ed748ca81eb56e76c556cf6.html" target="element"> Provider </a> </td>
																		<td> <a href="../elements/id-c0890c9cae2847c684ca3efb65586146.html" target="element"> Participant </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-04f397c9087942a6adf487336d40621e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-04f397c9087942a6adf487336d40621e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-393b4774a8cd4dff873b031069e3f732.html" target="element"> Federator </a> </td>
																		<td> <a href="../elements/id-9e57d9ce3c754f24b1a91020622678fa.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ab8739e9acd74f5f9b596c030ed10143.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ab8739e9acd74f5f9b596c030ed10143.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-393b4774a8cd4dff873b031069e3f732.html" target="element"> Federator </a> </td>
																		<td> <a href="../elements/id-c0890c9cae2847c684ca3efb65586146.html" target="element"> Participant </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-711562535eae4d5d9f6177d486ebba35.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-711562535eae4d5d9f6177d486ebba35.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-393b4774a8cd4dff873b031069e3f732.html" target="element"> Federator </a> </td>
																		<td> <a href="../elements/id-ef3b148c00dd48c0aeff9b46c55dd40c.html" target="element"> Federation services </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-ee2f3170114748b1a5e6d7f29f3a383e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ee2f3170114748b1a5e6d7f29f3a383e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2bb93e7fd80d4bf8b7c785bce3903fe0.html" target="element"> Consumer </a> </td>
																		<td> <a href="../elements/id-fd4c8d4daaae43f1a2663dbb6a4c266b.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bde9472c29d241938589a7ca37bcd70c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bde9472c29d241938589a7ca37bcd70c.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2bb93e7fd80d4bf8b7c785bce3903fe0.html" target="element"> Consumer </a> </td>
																		<td> <a href="../elements/id-c0890c9cae2847c684ca3efb65586146.html" target="element"> Participant </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-f7f7dc767920426d8dccc8b657583fa4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f7f7dc767920426d8dccc8b657583fa4.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ef3b148c00dd48c0aeff9b46c55dd40c.html" target="element"> Federation services </a> </td>
																		<td> <a href="../elements/id-c68be230656a49f287e68e7363456454.html" target="element"> Compliance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e764fc7e8f064e338771eec6ec63ffcd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e764fc7e8f064e338771eec6ec63ffcd.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ef3b148c00dd48c0aeff9b46c55dd40c.html" target="element"> Federation services </a> </td>
																		<td> <a href="../elements/id-7973d8895519431299950b4b43416ed0.html" target="element"> Identity&amp;trust management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-addcc0bfd3fb4321baf09164ee39e2d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-addcc0bfd3fb4321baf09164ee39e2d3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ef3b148c00dd48c0aeff9b46c55dd40c.html" target="element"> Federation services </a> </td>
																		<td> <a href="../elements/id-af29cc8f76c74123a9b47eb8f22108cd.html" target="element"> Federated Catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bd581cb9b73a428badabef928ae916a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd581cb9b73a428badabef928ae916a8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ef3b148c00dd48c0aeff9b46c55dd40c.html" target="element"> Federation services </a> </td>
																		<td> <a href="../elements/id-55a09e8582c945ec99f10f8722c3dc0c.html" target="element"> Sovereign data exchange </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-e10db235ed19419f98c1da175a6daf71.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e10db235ed19419f98c1da175a6daf71.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5ec61d15382249b3984e49c8c2cdb24e.html" target="element"> Service offering </a> </td>
																		<td> <a href="../elements/id-ef3b148c00dd48c0aeff9b46c55dd40c.html" target="element"> Federation services </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-50b7099e6baf41eea941a5269add8b0c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-50b7099e6baf41eea941a5269add8b0c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5ec61d15382249b3984e49c8c2cdb24e.html" target="element"> Service offering </a> </td>
																		<td> <a href="../elements/id-364d66b5cf4b4bcf8aac475da4b8a743.html" target="element"> Terrms&amp;condidtions, Policies </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-67246349954e43c68d0013c055a8f6b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-67246349954e43c68d0013c055a8f6b4.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5ec61d15382249b3984e49c8c2cdb24e.html" target="element"> Service offering </a> </td>
																		<td> <a href="../elements/id-22eb4d2540b34ce5a2dfe78fbe39ef91.html" target="element"> Resource </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1d4ea1e6e16640e589e3bc1e3ba2eed4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1d4ea1e6e16640e589e3bc1e3ba2eed4.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5ec61d15382249b3984e49c8c2cdb24e.html" target="element"> Service offering </a> </td>
																		<td> <a href="../elements/id-0b96901def6b4649bc5de155b00be9c8.html" target="element"> Asset </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>