<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Motivasjon for internasjonalt arbeid</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Motivasjon for internasjonalt arbeid</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e87e5d0465c74a9284b5674873cae016.png" alt="Motivasjon for internasjonalt arbeid" usemap="#id-e87e5d0465c74a9284b5674873cae016map"/>
			   <map name="id-e87e5d0465c74a9284b5674873cae016map">
				  		<area shape="rect" coords="1556,1148,1822,1290" href="../elements/id-ac13256a7ce444358ca043fbe5a43490.html"  target="element">
				  		        <area shape="rect" coords="1532,812,1798,978" href="../objects/id-686cd23a370d442cbd27b2d6c7617f9e.html" target="element" >
				  				<area shape="rect" coords="1556,140,1822,282" href="../elements/id-4ec9d30da4d443bb80f20240534f6c3a.html"  target="element">
				  				<area shape="rect" coords="1556,356,1822,498" href="../elements/id-d488ca30c9644642b920a4caabe6fdb4.html"  target="element">
				  				<area shape="rect" coords="1556,596,1822,738" href="../elements/id-c4e523fcd356481e84e1a5ad55037cbe.html"  target="element">

				  		<area shape="rect" coords="1484,20,1894,1078" href="../elements/id-6a4595d919614e2a93e8f9c769a35c3b.html"  target="element">
				  		<area shape="rect" coords="644,1148,910,1290" href="../elements/id-8a49269e88de4a33b5d53a23c4d70581.html"  target="element">
				  						<area shape="rect" coords="1028,452,1294,594" href="../elements/id-c8ab8ae75dcc4c59ad364fc9ffca1443.html"  target="element">
				  						<area shape="rect" coords="1028,644,1294,786" href="../elements/id-34f03f366d0e4222888d93ef06d134f5.html"  target="element">
				  						<area shape="rect" coords="1028,836,1294,978" href="../elements/id-4055c4cf2201430ca1a972399a122b75.html"  target="element">

				  				<area shape="rect" coords="980,380,1342,1006" href="../elements/id-60ce7b9849ca4a919a121847d4ee9b7a.html"  target="element">
				  				<area shape="rect" coords="1028,140,1294,282" href="../elements/id-089a56da037c427e9dff163fe7271a02.html"  target="element">

				  		<area shape="rect" coords="908,20,1438,1078" href="../elements/id-366a161d2e994302ab08a573eb775e5e.html"  target="element">
				  		<area shape="rect" coords="1040,1148,1306,1290" href="../elements/id-4cd696c31bf147d6941d2169c9bba06d.html"  target="element">
				  				<area shape="rect" coords="476,908,742,1050" href="../elements/id-aa9a09f80bd04372a5dda40bfac1a57b.html"  target="element">
				  				<area shape="rect" coords="476,236,742,378" href="../elements/id-d050906e2c444633a5caa9262c07a984.html"  target="element">
				  				<area shape="rect" coords="68,236,334,378" href="../elements/id-04486b557c9d451796fb908671007f03.html"  target="element">
				  				<area shape="rect" coords="476,68,742,210" href="../elements/id-5ad5d0fd216d4b72a540f4f07ebe23d6.html"  target="element">
				  				<area shape="rect" coords="68,740,334,882" href="../elements/id-8feac237d4c848a380c4d062611d76ed.html"  target="element">
				  				<area shape="rect" coords="476,572,742,714" href="../elements/id-429456cc8f7e45a39c480683b3b055bb.html"  target="element">
				  				<area shape="rect" coords="476,740,742,882" href="../elements/id-aaa101e9f9bb4c438815e9726518bc7f.html"  target="element">
				  				<area shape="rect" coords="476,404,742,546" href="../elements/id-2909bcd7f9e34cbcb1a42759835610ed.html"  target="element">

				  		<area shape="rect" coords="20,20,814,1078" href="../elements/id-55186b39964740e888a7c5a672560961.html"  target="element">
				  		<area shape="rect" coords="236,1148,502,1290" href="../elements/id-8087beb0026146438f10d7e058109d96.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-8087beb0026146438f10d7e058109d96.html" target="element"> Samarbeid mellom flere leveranseomr&#229;der i Digdir </a> </td>
											    <td> <a href="../elements/id-8087beb0026146438f10d7e058109d96.html" target="element" class="i18n-elementtype-BusinessCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-55186b39964740e888a7c5a672560961.html" target="element"> Digdirs &#248;konomi- og virksomhetsinstruks </a> </td>
											    <td> <a href="../elements/id-55186b39964740e888a7c5a672560961.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2909bcd7f9e34cbcb1a42759835610ed.html" target="element"> Aktiv kunnskapsinnhenter for &#229; inneha relevant spisskompetanse </a> </td>
													    <td> <a href="../elements/id-2909bcd7f9e34cbcb1a42759835610ed.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-aaa101e9f9bb4c438815e9726518bc7f.html" target="element">  Ivareta norske interesser i EU </a> </td>
													    <td> <a href="../elements/id-aaa101e9f9bb4c438815e9726518bc7f.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-429456cc8f7e45a39c480683b3b055bb.html" target="element"> Legge til rette for samhandling og samordning av digitaliseringsarbeidet p&#229; tvers av sektore </a> </td>
													    <td> <a href="../elements/id-429456cc8f7e45a39c480683b3b055bb.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8feac237d4c848a380c4d062611d76ed.html" target="element"> Digdir som iverksetter </a> </td>
													    <td> <a href="../elements/id-8feac237d4c848a380c4d062611d76ed.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5ad5d0fd216d4b72a540f4f07ebe23d6.html" target="element"> God oversikt over tilstand og status, utvikling og endringsbehov </a> </td>
													    <td> <a href="../elements/id-5ad5d0fd216d4b72a540f4f07ebe23d6.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-04486b557c9d451796fb908671007f03.html" target="element"> Digdir som premissgiver </a> </td>
													    <td> <a href="../elements/id-04486b557c9d451796fb908671007f03.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d050906e2c444633a5caa9262c07a984.html" target="element"> V&#230;re orientert om den internasjonale utviklingen p&#229; sine fagomr&#229;der </a> </td>
													    <td> <a href="../elements/id-d050906e2c444633a5caa9262c07a984.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-aa9a09f80bd04372a5dda40bfac1a57b.html" target="element"> Nasjonal koordinering </a> </td>
													    <td> <a href="../elements/id-aa9a09f80bd04372a5dda40bfac1a57b.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4cd696c31bf147d6941d2169c9bba06d.html" target="element"> Leveranseomr&#229;det Samhandling og felles &#248;kosystem </a> </td>
											    <td> <a href="../elements/id-4cd696c31bf147d6941d2169c9bba06d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-366a161d2e994302ab08a573eb775e5e.html" target="element"> Tiln&#230;rming til internasjonalt arbeid i leveranseomr&#229;det for Samhandling og felles &#248;kosystem </a> </td>
											    <td> <a href="../elements/id-366a161d2e994302ab08a573eb775e5e.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-089a56da037c427e9dff163fe7271a02.html" target="element"> Ta utgangspunkt i strategisk EU-arkitektur for videre arbeid med Felles &#248;kosystem </a> </td>
													    <td> <a href="../elements/id-089a56da037c427e9dff163fe7271a02.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-60ce7b9849ca4a919a121847d4ee9b7a.html" target="element"> Forutsetninger </a> </td>
													    <td> <a href="../elements/id-60ce7b9849ca4a919a121847d4ee9b7a.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-4055c4cf2201430ca1a972399a122b75.html" target="element"> Bidra til koordinering av norsk innsats i internasjonalt arbeid </a> </td>
															    <td> <a href="../elements/id-4055c4cf2201430ca1a972399a122b75.html" target="element" class="i18n-elementtype-CourseOfAction">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-34f03f366d0e4222888d93ef06d134f5.html" target="element"> Delta aktivt i noen f&#229;, prioriterte internasjonale initiativ </a> </td>
															    <td> <a href="../elements/id-34f03f366d0e4222888d93ef06d134f5.html" target="element" class="i18n-elementtype-CourseOfAction">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c8ab8ae75dcc4c59ad364fc9ffca1443.html" target="element"> F&#248;lg med p&#229; flere internasjonale initiativ, for helhetlig forst&#229;else </a> </td>
															    <td> <a href="../elements/id-c8ab8ae75dcc4c59ad364fc9ffca1443.html" target="element" class="i18n-elementtype-CourseOfAction">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-8a49269e88de4a33b5d53a23c4d70581.html" target="element"> Eksternt samarbeid, nasjonalt </a> </td>
											    <td> <a href="../elements/id-8a49269e88de4a33b5d53a23c4d70581.html" target="element" class="i18n-elementtype-BusinessCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6a4595d919614e2a93e8f9c769a35c3b.html" target="element"> M&#229;lsetninger </a> </td>
											    <td> <a href="../elements/id-6a4595d919614e2a93e8f9c769a35c3b.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c4e523fcd356481e84e1a5ad55037cbe.html" target="element"> Sammenhengende tjenester p&#229; tvers av landegrensene </a> </td>
													    <td> <a href="../elements/id-c4e523fcd356481e84e1a5ad55037cbe.html" target="element" class="i18n-elementtype-Outcome">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d488ca30c9644642b920a4caabe6fdb4.html" target="element"> Nasjonale &#248;kosystemer som del av internasjonale &#248;kosystemer </a> </td>
													    <td> <a href="../elements/id-d488ca30c9644642b920a4caabe6fdb4.html" target="element" class="i18n-elementtype-Outcome">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4ec9d30da4d443bb80f20240534f6c3a.html" target="element"> Framtidssikker nasjonal arkitektur </a> </td>
													    <td> <a href="../elements/id-4ec9d30da4d443bb80f20240534f6c3a.html" target="element" class="i18n-elementtype-Outcome">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-686cd23a370d442cbd27b2d6c7617f9e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-686cd23a370d442cbd27b2d6c7617f9e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-ac13256a7ce444358ca043fbe5a43490.html" target="element"> Internasjonale &#248;kosystemer </a> </td>
											    <td> <a href="../elements/id-ac13256a7ce444358ca043fbe5a43490.html" target="element" class="i18n-elementtype-BusinessCollaboration">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-9e3f4904eb724d29b6f9e2369ed0ab45.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9e3f4904eb724d29b6f9e2369ed0ab45.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8087beb0026146438f10d7e058109d96.html" target="element"> Samarbeid mellom flere leveranseomr&#229;der i Digdir </a> </td>
																		<td> <a href="../elements/id-55186b39964740e888a7c5a672560961.html" target="element"> Digdirs &#248;konomi- og virksomhetsinstruks </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7ab024cda207408ba95d64705043332d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7ab024cda207408ba95d64705043332d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-55186b39964740e888a7c5a672560961.html" target="element"> Digdirs &#248;konomi- og virksomhetsinstruks </a> </td>
																		<td> <a href="../elements/id-2909bcd7f9e34cbcb1a42759835610ed.html" target="element"> Aktiv kunnskapsinnhenter for &#229; inneha relevant spisskompetanse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-20d2acf922d74b5c9dad27c6807b35ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-20d2acf922d74b5c9dad27c6807b35ce.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-55186b39964740e888a7c5a672560961.html" target="element"> Digdirs &#248;konomi- og virksomhetsinstruks </a> </td>
																		<td> <a href="../elements/id-429456cc8f7e45a39c480683b3b055bb.html" target="element"> Legge til rette for samhandling og samordning av digitaliseringsarbeidet p&#229; tvers av sektore </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1e08a223993f4292bd963607c674e833.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1e08a223993f4292bd963607c674e833.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-55186b39964740e888a7c5a672560961.html" target="element"> Digdirs &#248;konomi- og virksomhetsinstruks </a> </td>
																		<td> <a href="../elements/id-8feac237d4c848a380c4d062611d76ed.html" target="element"> Digdir som iverksetter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-368509cc669d4128a5602d9106673acc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-368509cc669d4128a5602d9106673acc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-55186b39964740e888a7c5a672560961.html" target="element"> Digdirs &#248;konomi- og virksomhetsinstruks </a> </td>
																		<td> <a href="../elements/id-aaa101e9f9bb4c438815e9726518bc7f.html" target="element">  Ivareta norske interesser i EU </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5ecbab569c4a47afa7561604f9746a2a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5ecbab569c4a47afa7561604f9746a2a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-55186b39964740e888a7c5a672560961.html" target="element"> Digdirs &#248;konomi- og virksomhetsinstruks </a> </td>
																		<td> <a href="../elements/id-04486b557c9d451796fb908671007f03.html" target="element"> Digdir som premissgiver </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-57281560b1d741ccb62da99d3959ec5a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-57281560b1d741ccb62da99d3959ec5a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-55186b39964740e888a7c5a672560961.html" target="element"> Digdirs &#248;konomi- og virksomhetsinstruks </a> </td>
																		<td> <a href="../elements/id-5ad5d0fd216d4b72a540f4f07ebe23d6.html" target="element"> God oversikt over tilstand og status, utvikling og endringsbehov </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-569bfedf08374fcb8fe55620443c295b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-569bfedf08374fcb8fe55620443c295b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-55186b39964740e888a7c5a672560961.html" target="element"> Digdirs &#248;konomi- og virksomhetsinstruks </a> </td>
																		<td> <a href="../elements/id-d050906e2c444633a5caa9262c07a984.html" target="element"> V&#230;re orientert om den internasjonale utviklingen p&#229; sine fagomr&#229;der </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3e68d4bdb6194983a660237faccfb3ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3e68d4bdb6194983a660237faccfb3ae.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-55186b39964740e888a7c5a672560961.html" target="element"> Digdirs &#248;konomi- og virksomhetsinstruks </a> </td>
																		<td> <a href="../elements/id-aa9a09f80bd04372a5dda40bfac1a57b.html" target="element"> Nasjonal koordinering </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-e1e427c0a463416fbc348884d6f1150e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e1e427c0a463416fbc348884d6f1150e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2909bcd7f9e34cbcb1a42759835610ed.html" target="element"> Aktiv kunnskapsinnhenter for &#229; inneha relevant spisskompetanse </a> </td>
																				<td> <a href="../elements/id-04486b557c9d451796fb908671007f03.html" target="element"> Digdir som premissgiver </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b40ca1dc10974a7c9947557e1c22e516.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b40ca1dc10974a7c9947557e1c22e516.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-aaa101e9f9bb4c438815e9726518bc7f.html" target="element">  Ivareta norske interesser i EU </a> </td>
																				<td> <a href="../elements/id-8feac237d4c848a380c4d062611d76ed.html" target="element"> Digdir som iverksetter </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-12c3e68629c2425b9fab45f82a52a2f2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-12c3e68629c2425b9fab45f82a52a2f2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-429456cc8f7e45a39c480683b3b055bb.html" target="element"> Legge til rette for samhandling og samordning av digitaliseringsarbeidet p&#229; tvers av sektore </a> </td>
																				<td> <a href="../elements/id-8feac237d4c848a380c4d062611d76ed.html" target="element"> Digdir som iverksetter </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-757c85bf15654e45b78dc425eb653323.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-757c85bf15654e45b78dc425eb653323.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5ad5d0fd216d4b72a540f4f07ebe23d6.html" target="element"> God oversikt over tilstand og status, utvikling og endringsbehov </a> </td>
																				<td> <a href="../elements/id-04486b557c9d451796fb908671007f03.html" target="element"> Digdir som premissgiver </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c0ae98e1fbe8449cb0043ea6df81b657.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c0ae98e1fbe8449cb0043ea6df81b657.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d050906e2c444633a5caa9262c07a984.html" target="element"> V&#230;re orientert om den internasjonale utviklingen p&#229; sine fagomr&#229;der </a> </td>
																				<td> <a href="../elements/id-04486b557c9d451796fb908671007f03.html" target="element"> Digdir som premissgiver </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-55650d0b92e74a7c919255a4076fba27.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-55650d0b92e74a7c919255a4076fba27.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-aa9a09f80bd04372a5dda40bfac1a57b.html" target="element"> Nasjonal koordinering </a> </td>
																				<td> <a href="../elements/id-8feac237d4c848a380c4d062611d76ed.html" target="element"> Digdir som iverksetter </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-7961820b4c2447a99446d2e9a1b6a288.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7961820b4c2447a99446d2e9a1b6a288.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4cd696c31bf147d6941d2169c9bba06d.html" target="element"> Leveranseomr&#229;det Samhandling og felles &#248;kosystem </a> </td>
																		<td> <a href="../elements/id-366a161d2e994302ab08a573eb775e5e.html" target="element"> Tiln&#230;rming til internasjonalt arbeid i leveranseomr&#229;det for Samhandling og felles &#248;kosystem </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cdef065e97fa44f5ad05d26754bef046.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cdef065e97fa44f5ad05d26754bef046.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-366a161d2e994302ab08a573eb775e5e.html" target="element"> Tiln&#230;rming til internasjonalt arbeid i leveranseomr&#229;det for Samhandling og felles &#248;kosystem </a> </td>
																		<td> <a href="../elements/id-60ce7b9849ca4a919a121847d4ee9b7a.html" target="element"> Forutsetninger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d5e91f8362374d12a9986c30aee1b1ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d5e91f8362374d12a9986c30aee1b1ec.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-366a161d2e994302ab08a573eb775e5e.html" target="element"> Tiln&#230;rming til internasjonalt arbeid i leveranseomr&#229;det for Samhandling og felles &#248;kosystem </a> </td>
																		<td> <a href="../elements/id-089a56da037c427e9dff163fe7271a02.html" target="element"> Ta utgangspunkt i strategisk EU-arkitektur for videre arbeid med Felles &#248;kosystem </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-99d9c3c31d74479b9701f449d689cd2c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-99d9c3c31d74479b9701f449d689cd2c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-089a56da037c427e9dff163fe7271a02.html" target="element"> Ta utgangspunkt i strategisk EU-arkitektur for videre arbeid med Felles &#248;kosystem </a> </td>
																				<td> <a href="../elements/id-4ec9d30da4d443bb80f20240534f6c3a.html" target="element"> Framtidssikker nasjonal arkitektur </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ba4ab6f31ec34d3f91be7163d603545b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ba4ab6f31ec34d3f91be7163d603545b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-60ce7b9849ca4a919a121847d4ee9b7a.html" target="element"> Forutsetninger </a> </td>
																				<td> <a href="../elements/id-34f03f366d0e4222888d93ef06d134f5.html" target="element"> Delta aktivt i noen f&#229;, prioriterte internasjonale initiativ </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-baaf7d64589a4387b2a91264c3f06414.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-baaf7d64589a4387b2a91264c3f06414.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-60ce7b9849ca4a919a121847d4ee9b7a.html" target="element"> Forutsetninger </a> </td>
																				<td> <a href="../elements/id-4055c4cf2201430ca1a972399a122b75.html" target="element"> Bidra til koordinering av norsk innsats i internasjonalt arbeid </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7aaacaa147494cd492006ec0f77190fd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7aaacaa147494cd492006ec0f77190fd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-60ce7b9849ca4a919a121847d4ee9b7a.html" target="element"> Forutsetninger </a> </td>
																				<td> <a href="../elements/id-c8ab8ae75dcc4c59ad364fc9ffca1443.html" target="element"> F&#248;lg med p&#229; flere internasjonale initiativ, for helhetlig forst&#229;else </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7900735289654d079720ea37a8cb1bb9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7900735289654d079720ea37a8cb1bb9.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-60ce7b9849ca4a919a121847d4ee9b7a.html" target="element"> Forutsetninger </a> </td>
																				<td> <a href="../elements/id-089a56da037c427e9dff163fe7271a02.html" target="element"> Ta utgangspunkt i strategisk EU-arkitektur for videre arbeid med Felles &#248;kosystem </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-8a8c1c11de8d4d47849ab6785181b069.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-8a8c1c11de8d4d47849ab6785181b069.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-4055c4cf2201430ca1a972399a122b75.html" target="element"> Bidra til koordinering av norsk innsats i internasjonalt arbeid </a> </td>
																						<td> <a href="../elements/id-aa9a09f80bd04372a5dda40bfac1a57b.html" target="element"> Nasjonal koordinering </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-c9485c5b83114615b4045c2b9c7a9022.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-c9485c5b83114615b4045c2b9c7a9022.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-4055c4cf2201430ca1a972399a122b75.html" target="element"> Bidra til koordinering av norsk innsats i internasjonalt arbeid </a> </td>
																						<td> <a href="../elements/id-aaa101e9f9bb4c438815e9726518bc7f.html" target="element">  Ivareta norske interesser i EU </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-473b7f7f3bed49cc955a95fb527f298c.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-473b7f7f3bed49cc955a95fb527f298c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-34f03f366d0e4222888d93ef06d134f5.html" target="element"> Delta aktivt i noen f&#229;, prioriterte internasjonale initiativ </a> </td>
																						<td> <a href="../elements/id-429456cc8f7e45a39c480683b3b055bb.html" target="element"> Legge til rette for samhandling og samordning av digitaliseringsarbeidet p&#229; tvers av sektore </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-2d98dab7244049fcac7144283c59ec17.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-2d98dab7244049fcac7144283c59ec17.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-34f03f366d0e4222888d93ef06d134f5.html" target="element"> Delta aktivt i noen f&#229;, prioriterte internasjonale initiativ </a> </td>
																						<td> <a href="../elements/id-aaa101e9f9bb4c438815e9726518bc7f.html" target="element">  Ivareta norske interesser i EU </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-e3da94635ff94a3db3a64163d14624dc.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-e3da94635ff94a3db3a64163d14624dc.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-c8ab8ae75dcc4c59ad364fc9ffca1443.html" target="element"> F&#248;lg med p&#229; flere internasjonale initiativ, for helhetlig forst&#229;else </a> </td>
																						<td> <a href="../elements/id-5ad5d0fd216d4b72a540f4f07ebe23d6.html" target="element"> God oversikt over tilstand og status, utvikling og endringsbehov </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-aa046e2cf88e4f988466253f89b1b29f.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-aa046e2cf88e4f988466253f89b1b29f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-c8ab8ae75dcc4c59ad364fc9ffca1443.html" target="element"> F&#248;lg med p&#229; flere internasjonale initiativ, for helhetlig forst&#229;else </a> </td>
																						<td> <a href="../elements/id-2909bcd7f9e34cbcb1a42759835610ed.html" target="element"> Aktiv kunnskapsinnhenter for &#229; inneha relevant spisskompetanse </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-ed1f2faa4fde4c46a610c718e983e109.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-ed1f2faa4fde4c46a610c718e983e109.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-c8ab8ae75dcc4c59ad364fc9ffca1443.html" target="element"> F&#248;lg med p&#229; flere internasjonale initiativ, for helhetlig forst&#229;else </a> </td>
																						<td> <a href="../elements/id-d050906e2c444633a5caa9262c07a984.html" target="element"> V&#230;re orientert om den internasjonale utviklingen p&#229; sine fagomr&#229;der </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-4f1f787b324d4d39896978d683923dfc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4f1f787b324d4d39896978d683923dfc.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8a49269e88de4a33b5d53a23c4d70581.html" target="element"> Eksternt samarbeid, nasjonalt </a> </td>
																		<td> <a href="../elements/id-4cd696c31bf147d6941d2169c9bba06d.html" target="element"> Leveranseomr&#229;det Samhandling og felles &#248;kosystem </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9bdc9b0476ae4577bc72e747dab0b2f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9bdc9b0476ae4577bc72e747dab0b2f7.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8a49269e88de4a33b5d53a23c4d70581.html" target="element"> Eksternt samarbeid, nasjonalt </a> </td>
																		<td> <a href="../elements/id-8087beb0026146438f10d7e058109d96.html" target="element"> Samarbeid mellom flere leveranseomr&#229;der i Digdir </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-970b424cf2b84108b06d021f43b97bea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-970b424cf2b84108b06d021f43b97bea.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6a4595d919614e2a93e8f9c769a35c3b.html" target="element"> M&#229;lsetninger </a> </td>
																		<td> <a href="../elements/id-d488ca30c9644642b920a4caabe6fdb4.html" target="element"> Nasjonale &#248;kosystemer som del av internasjonale &#248;kosystemer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-26de5fedb11a42e4b236eeb1b601036c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-26de5fedb11a42e4b236eeb1b601036c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6a4595d919614e2a93e8f9c769a35c3b.html" target="element"> M&#229;lsetninger </a> </td>
																		<td> <a href="../elements/id-c4e523fcd356481e84e1a5ad55037cbe.html" target="element"> Sammenhengende tjenester p&#229; tvers av landegrensene </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-0009a74139bf4bf3b3cc1913f2feaf21.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0009a74139bf4bf3b3cc1913f2feaf21.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d488ca30c9644642b920a4caabe6fdb4.html" target="element"> Nasjonale &#248;kosystemer som del av internasjonale &#248;kosystemer </a> </td>
																				<td> <a href="../elements/id-c4e523fcd356481e84e1a5ad55037cbe.html" target="element"> Sammenhengende tjenester p&#229; tvers av landegrensene </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0580921d5e9e4ad69d9f241d59f7358e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0580921d5e9e4ad69d9f241d59f7358e.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4ec9d30da4d443bb80f20240534f6c3a.html" target="element"> Framtidssikker nasjonal arkitektur </a> </td>
																				<td> <a href="../elements/id-d488ca30c9644642b920a4caabe6fdb4.html" target="element"> Nasjonale &#248;kosystemer som del av internasjonale &#248;kosystemer </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-96cb17e4452b4a4287429d67371d79f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-96cb17e4452b4a4287429d67371d79f7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac13256a7ce444358ca043fbe5a43490.html" target="element"> Internasjonale &#248;kosystemer </a> </td>
																		<td> <a href="../elements/id-6a4595d919614e2a93e8f9c769a35c3b.html" target="element"> M&#229;lsetninger </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>