<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Atlinn 2.0 formidling - applikasjoner og teknologier</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Atlinn 2.0 formidling - applikasjoner og teknologier</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f4e10234d7524361867e0fb55b0497be.png" alt="Atlinn 2.0 formidling - applikasjoner og teknologier" usemap="#id-f4e10234d7524361867e0fb55b0497bemap"/>
			   <map name="id-f4e10234d7524361867e0fb55b0497bemap">
				  		<area shape="rect" coords="1740,994,1980,1104" href="../elements/id-e55236e1eb35404eb3f7f3ea07d554ab.html"  target="element">
				  		<area shape="rect" coords="1740,610,1980,720" href="../elements/id-d260987e7e0c49d68c79f2559db88893.html"  target="element">
				  		<area shape="rect" coords="1740,802,1980,912" href="../elements/id-65e36a49c78c4a46847d90ec6a932d8b.html"  target="element">
				  		<area shape="rect" coords="462,236,728,378" href="../elements/id-9957b7ee84a746ac8b0e8277e311307c.html"  target="element">
				  		<area shape="rect" coords="1038,992,1304,1134" href="../elements/id-3b83de0e6cac449c9f4477998d9aa8c4.html"  target="element">
				  		<area shape="rect" coords="414,1280,680,1422" href="../elements/id-7d0cf64b673a471f8ba34b67846cd3fa.html"  target="element">
				  		<area shape="rect" coords="414,1100,680,1242" href="../elements/id-3263774e8ade40f195d235a06a0133fb.html"  target="element">
				  		<area shape="rect" coords="414,932,680,1074" href="../elements/id-cecb5e5274a24234b24d898d9eb8741f.html"  target="element">
				  		<area shape="rect" coords="1206,328,1472,470" href="../elements/id-7d9bc4d1507540af8e735f58f95a1daf.html"  target="element">
				  		<area shape="rect" coords="550,20,816,162" href="../elements/id-3d5cbbe223c54bd68a318564dc39beef.html"  target="element">
				  		<area shape="rect" coords="522,440,788,582" href="../elements/id-ceb924e8a5924d34a3244217931052ce.html"  target="element">
				  		<area shape="rect" coords="858,316,1124,458" href="../elements/id-f5e0f819055346fc955156a20709b5e8.html"  target="element">
				  		<area shape="rect" coords="858,160,1124,302" href="../elements/id-0064698ce4b8497ea0b93544e765f547.html"  target="element">
				  		<area shape="rect" coords="1206,160,1472,302" href="../elements/id-d0c567f18b844e969379cb893bca2466.html"  target="element">
				  		<area shape="rect" coords="20,1568,1472,2252" href="../elements/id-d24f0d947e8a43ccbfc802703bfac666.html"  target="element">
				  		<area shape="rect" coords="54,1024,320,1166" href="../elements/id-4d72d1eeeead43bbbd22c5329a43c998.html"  target="element">
				  		<area shape="rect" coords="1602,1240,1868,1382" href="../elements/id-a184394eb0b1492f8279a990b0ab305a.html"  target="element">
				  		<area shape="rect" coords="1866,2072,2132,2214" href="../elements/id-0f5d8feb66a344c582cf2753171848aa.html"  target="element">
				  		<area shape="rect" coords="1602,2072,1868,2214" href="../elements/id-f8b9d2d4369d4acc9fcfea604ce8fddc.html"  target="element">
				  		<area shape="rect" coords="1290,1240,1556,1382" href="../elements/id-801b610313fe4b398b1bbafe6222389e.html"  target="element">
				  		<area shape="rect" coords="726,696,992,838" href="../elements/id-65af522d3f914ce2a1cba8f67f8e79b7.html"  target="element">
				  		<area shape="rect" coords="1890,1880,2156,2022" href="../elements/f62ede33-8269-4ea4-ad18-813afceec80d.html"  target="element">
				  		<area shape="rect" coords="834,1280,1100,1422" href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html"  target="element">
				  				<area shape="rect" coords="114,416,380,586" href="../elements/id-4094cb73a831444f880fd6ad67e73c7d.html"  target="element">
				  				<area shape="rect" coords="114,200,380,370" href="../elements/id-36fa7e78f4f44208bbf74dc2054dfc46.html"  target="element">

				  		<area shape="rect" coords="54,20,464,666" href="../elements/id-aaf21474a619412c84d3446380d16af3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-aaf21474a619412c84d3446380d16af3.html" target="element"> Altinn Formidling </a> </td>
											    <td> <a href="../elements/id-aaf21474a619412c84d3446380d16af3.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-36fa7e78f4f44208bbf74dc2054dfc46.html" target="element"> Broker DB </a> </td>
													    <td> <a href="../elements/id-36fa7e78f4f44208bbf74dc2054dfc46.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4094cb73a831444f880fd6ad67e73c7d.html" target="element"> Broker Fileshare (clustered) </a> </td>
													    <td> <a href="../elements/id-4094cb73a831444f880fd6ad67e73c7d.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html" target="element"> Maskinporten </a> </td>
											    <td> <a href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f62ede33-8269-4ea4-ad18-813afceec80d.html" target="element"> Altinn autorisasjon </a> </td>
											    <td> <a href="../elements/f62ede33-8269-4ea4-ad18-813afceec80d.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-65af522d3f914ce2a1cba8f67f8e79b7.html" target="element"> Tjenesteeierstyrt rettighetsregster (SRR) </a> </td>
											    <td> <a href="../elements/id-65af522d3f914ce2a1cba8f67f8e79b7.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-801b610313fe4b398b1bbafe6222389e.html" target="element"> Altinn Service Engine </a> </td>
											    <td> <a href="../elements/id-801b610313fe4b398b1bbafe6222389e.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f8b9d2d4369d4acc9fcfea604ce8fddc.html" target="element"> Altinn Register?? </a> </td>
											    <td> <a href="../elements/id-f8b9d2d4369d4acc9fcfea604ce8fddc.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0f5d8feb66a344c582cf2753171848aa.html" target="element"> Altinn Ressursregister?? </a> </td>
											    <td> <a href="../elements/id-0f5d8feb66a344c582cf2753171848aa.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a184394eb0b1492f8279a990b0ab305a.html" target="element"> Altinn TTP </a> </td>
											    <td> <a href="../elements/id-a184394eb0b1492f8279a990b0ab305a.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4d72d1eeeead43bbbd22c5329a43c998.html" target="element"> Altinn Authentication*** </a> </td>
											    <td> <a href="../elements/id-4d72d1eeeead43bbbd22c5329a43c998.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d24f0d947e8a43ccbfc802703bfac666.html" target="element"> Altinn 2.0 Formidling systemer </a> </td>
											    <td> <a href="../elements/id-d24f0d947e8a43ccbfc802703bfac666.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d0c567f18b844e969379cb893bca2466.html" target="element"> MTOM </a> </td>
											    <td> <a href="../elements/id-d0c567f18b844e969379cb893bca2466.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0064698ce4b8497ea0b93544e765f547.html" target="element"> SOAP </a> </td>
											    <td> <a href="../elements/id-0064698ce4b8497ea0b93544e765f547.html" target="element" class="i18n-elementtype-TechnologyInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f5e0f819055346fc955156a20709b5e8.html" target="element"> REST </a> </td>
											    <td> <a href="../elements/id-f5e0f819055346fc955156a20709b5e8.html" target="element" class="i18n-elementtype-TechnologyInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ceb924e8a5924d34a3244217931052ce.html" target="element"> SMB Share </a> </td>
											    <td> <a href="../elements/id-ceb924e8a5924d34a3244217931052ce.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3d5cbbe223c54bd68a318564dc39beef.html" target="element"> WCF </a> </td>
											    <td> <a href="../elements/id-3d5cbbe223c54bd68a318564dc39beef.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7d9bc4d1507540af8e735f58f95a1daf.html" target="element"> Binary Stream </a> </td>
											    <td> <a href="../elements/id-7d9bc4d1507540af8e735f58f95a1daf.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cecb5e5274a24234b24d898d9eb8741f.html" target="element"> Basic Auhentication </a> </td>
											    <td> <a href="../elements/id-cecb5e5274a24234b24d898d9eb8741f.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3263774e8ade40f195d235a06a0133fb.html" target="element"> EC (Enterprise Certificate) </a> </td>
											    <td> <a href="../elements/id-3263774e8ade40f195d235a06a0133fb.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7d0cf64b673a471f8ba34b67846cd3fa.html" target="element"> Maskinporten Token </a> </td>
											    <td> <a href="../elements/id-7d0cf64b673a471f8ba34b67846cd3fa.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3b83de0e6cac449c9f4477998d9aa8c4.html" target="element"> Party conv. </a> </td>
											    <td> <a href="../elements/id-3b83de0e6cac449c9f4477998d9aa8c4.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9957b7ee84a746ac8b0e8277e311307c.html" target="element"> SQL Server** </a> </td>
											    <td> <a href="../elements/id-9957b7ee84a746ac8b0e8277e311307c.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-65e36a49c78c4a46847d90ec6a932d8b.html" target="element"> Gi tilgang til formidlingsstjeneste </a> </td>
											    <td> <a href="../elements/id-65e36a49c78c4a46847d90ec6a932d8b.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d260987e7e0c49d68c79f2559db88893.html" target="element"> Registrere formidlingstjeneste </a> </td>
											    <td> <a href="../elements/id-d260987e7e0c49d68c79f2559db88893.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e55236e1eb35404eb3f7f3ea07d554ab.html" target="element"> Delegere tilgang til formidlingstjeneste </a> </td>
											    <td> <a href="../elements/id-e55236e1eb35404eb3f7f3ea07d554ab.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-69ff828161164265af759b645248df9d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-69ff828161164265af759b645248df9d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aaf21474a619412c84d3446380d16af3.html" target="element"> Altinn Formidling </a> </td>
																		<td> <a href="../elements/id-36fa7e78f4f44208bbf74dc2054dfc46.html" target="element"> Broker DB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a08357ef23524941a9ccd8e4294bce1c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a08357ef23524941a9ccd8e4294bce1c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aaf21474a619412c84d3446380d16af3.html" target="element"> Altinn Formidling </a> </td>
																		<td> <a href="../elements/id-4094cb73a831444f880fd6ad67e73c7d.html" target="element"> Broker Fileshare (clustered) </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-32e8acc00d2b4f26914a38998f966d7c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-32e8acc00d2b4f26914a38998f966d7c.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/d242a840-0fa2-4f8d-997c-2298194f1c4a.html" target="element"> Maskinporten </a> </td>
																		<td> <a href="../elements/id-7d0cf64b673a471f8ba34b67846cd3fa.html" target="element"> Maskinporten Token </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-616c493d456c4aa4a71e5b1de1c67573.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-616c493d456c4aa4a71e5b1de1c67573.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d0c567f18b844e969379cb893bca2466.html" target="element"> MTOM </a> </td>
																		<td> <a href="../elements/id-0064698ce4b8497ea0b93544e765f547.html" target="element"> SOAP </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cff61a07a5ab46cd9946142ea77cf697.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cff61a07a5ab46cd9946142ea77cf697.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0064698ce4b8497ea0b93544e765f547.html" target="element"> SOAP </a> </td>
																		<td> <a href="../elements/id-aaf21474a619412c84d3446380d16af3.html" target="element"> Altinn Formidling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0315950105eb40c0972a037a1a40af28.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0315950105eb40c0972a037a1a40af28.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f5e0f819055346fc955156a20709b5e8.html" target="element"> REST </a> </td>
																		<td> <a href="../elements/id-aaf21474a619412c84d3446380d16af3.html" target="element"> Altinn Formidling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3a0c8f508fee4694a87f7e66758977a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a0c8f508fee4694a87f7e66758977a5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ceb924e8a5924d34a3244217931052ce.html" target="element"> SMB Share </a> </td>
																		<td> <a href="../elements/id-4094cb73a831444f880fd6ad67e73c7d.html" target="element"> Broker Fileshare (clustered) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8cfa6e0090e6499a9efa7fcee0704f08.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8cfa6e0090e6499a9efa7fcee0704f08.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3d5cbbe223c54bd68a318564dc39beef.html" target="element"> WCF </a> </td>
																		<td> <a href="../elements/id-aaf21474a619412c84d3446380d16af3.html" target="element"> Altinn Formidling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8b773f82d79a428799ccb9e655fe0be5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b773f82d79a428799ccb9e655fe0be5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d9bc4d1507540af8e735f58f95a1daf.html" target="element"> Binary Stream </a> </td>
																		<td> <a href="../elements/id-f5e0f819055346fc955156a20709b5e8.html" target="element"> REST </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c45678b08ed54a26a7ab90c08520f797.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c45678b08ed54a26a7ab90c08520f797.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d9bc4d1507540af8e735f58f95a1daf.html" target="element"> Binary Stream </a> </td>
																		<td> <a href="../elements/id-d0c567f18b844e969379cb893bca2466.html" target="element"> MTOM </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b2be8aff8026444eb65fdd6c1cf218c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b2be8aff8026444eb65fdd6c1cf218c5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cecb5e5274a24234b24d898d9eb8741f.html" target="element"> Basic Auhentication </a> </td>
																		<td> <a href="../elements/id-4d72d1eeeead43bbbd22c5329a43c998.html" target="element"> Altinn Authentication*** </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e2d2816f983b4723bacb54c9077c4e95.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e2d2816f983b4723bacb54c9077c4e95.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3263774e8ade40f195d235a06a0133fb.html" target="element"> EC (Enterprise Certificate) </a> </td>
																		<td> <a href="../elements/id-4d72d1eeeead43bbbd22c5329a43c998.html" target="element"> Altinn Authentication*** </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4b478ddc889d4fd79c5b16789194fd40.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b478ddc889d4fd79c5b16789194fd40.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d0cf64b673a471f8ba34b67846cd3fa.html" target="element"> Maskinporten Token </a> </td>
																		<td> <a href="../elements/id-4d72d1eeeead43bbbd22c5329a43c998.html" target="element"> Altinn Authentication*** </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>