<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Atlinn 2.0 formidling - applikasjoner og teknologier</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Atlinn 2.0 formidling - applikasjoner og teknologier</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f4e10234d7524361867e0fb55b0497be.png" alt="Atlinn 2.0 formidling - applikasjoner og teknologier" usemap="#id-f4e10234d7524361867e0fb55b0497bemap"/>
			   <map name="id-f4e10234d7524361867e0fb55b0497bemap">
				  		<area shape="rect" coords="44,20,180,152" href="../elements/id-e965088b50364f80a432c2c85ca83041.html"  target="element">
				  		<area shape="rect" coords="212,20,478,162" href="../views/id-ff19adb0f9644c38a1acbb4f7e035c90.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="20,1244,286,1386" href="../elements/id-f9bd37487267403192bed8259d8e1a32.html"  target="element">
				  		<area shape="rect" coords="344,1244,610,1386" href="../elements/id-4a8c194e4f0c4a5d9f11390980e5f907.html"  target="element">
				  		<area shape="rect" coords="682,968,948,1110" href="../elements/id-a184394eb0b1492f8279a990b0ab305a.html"  target="element">
				  		<area shape="rect" coords="980,968,1246,1110" href="../elements/id-96ad0f2f0c6641e9a3b37410abea39bf.html"  target="element">
				  		<area shape="rect" coords="44,416,310,558" href="../elements/id-9957b7ee84a746ac8b0e8277e311307c.html"  target="element">
				  		<area shape="rect" coords="358,968,624,1110" href="../elements/id-3b83de0e6cac449c9f4477998d9aa8c4.html"  target="element">
				  		<area shape="rect" coords="1040,1340,1306,1482" href="../elements/id-3263774e8ade40f195d235a06a0133fb.html"  target="element">
				  		<area shape="rect" coords="1040,1172,1306,1314" href="../elements/id-cecb5e5274a24234b24d898d9eb8741f.html"  target="element">
				  		<area shape="rect" coords="1208,748,1474,890" href="../elements/id-7d9bc4d1507540af8e735f58f95a1daf.html"  target="element">
				  		<area shape="rect" coords="860,320,1126,462" href="../elements/id-3d5cbbe223c54bd68a318564dc39beef.html"  target="element">
				  		<area shape="rect" coords="44,608,310,750" href="../elements/id-ceb924e8a5924d34a3244217931052ce.html"  target="element">
				  		<area shape="rect" coords="860,736,1126,878" href="../elements/id-f5e0f819055346fc955156a20709b5e8.html"  target="element">
				  		<area shape="rect" coords="860,540,1126,682" href="../elements/id-0064698ce4b8497ea0b93544e765f547.html"  target="element">
				  		<area shape="rect" coords="1208,540,1474,682" href="../elements/id-d0c567f18b844e969379cb893bca2466.html"  target="element">
				  		<area shape="rect" coords="682,1244,948,1386" href="../elements/id-4d72d1eeeead43bbbd22c5329a43c998.html"  target="element">
				  		<area shape="rect" coords="34,968,300,1110" href="../elements/id-65af522d3f914ce2a1cba8f67f8e79b7.html"  target="element">
				  				<area shape="rect" coords="440,584,706,754" href="../elements/id-4094cb73a831444f880fd6ad67e73c7d.html"  target="element">
				  				<area shape="rect" coords="440,368,706,538" href="../elements/id-36fa7e78f4f44208bbf74dc2054dfc46.html"  target="element">

				  		<area shape="rect" coords="368,272,778,890" href="../elements/id-aaf21474a619412c84d3446380d16af3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-aaf21474a619412c84d3446380d16af3.html" target="element"> Altinn Formidling </a> </td>
											    <td> <a href="../elements/id-aaf21474a619412c84d3446380d16af3.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-36fa7e78f4f44208bbf74dc2054dfc46.html" target="element"> Broker DB </a> </td>
													    <td> <a href="../elements/id-36fa7e78f4f44208bbf74dc2054dfc46.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4094cb73a831444f880fd6ad67e73c7d.html" target="element"> Broker Fileshare (clustered) </a> </td>
													    <td> <a href="../elements/id-4094cb73a831444f880fd6ad67e73c7d.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-65af522d3f914ce2a1cba8f67f8e79b7.html" target="element"> Tjenesteeierstyrt rettighetsregster (SRR) </a> </td>
											    <td> <a href="../elements/id-65af522d3f914ce2a1cba8f67f8e79b7.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4d72d1eeeead43bbbd22c5329a43c998.html" target="element"> Altinn Auth? </a> </td>
											    <td> <a href="../elements/id-4d72d1eeeead43bbbd22c5329a43c998.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d0c567f18b844e969379cb893bca2466.html" target="element"> MTOM </a> </td>
											    <td> <a href="../elements/id-d0c567f18b844e969379cb893bca2466.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0064698ce4b8497ea0b93544e765f547.html" target="element"> SOAP </a> </td>
											    <td> <a href="../elements/id-0064698ce4b8497ea0b93544e765f547.html" target="element" class="i18n-elementtype-TechnologyInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f5e0f819055346fc955156a20709b5e8.html" target="element"> REST </a> </td>
											    <td> <a href="../elements/id-f5e0f819055346fc955156a20709b5e8.html" target="element" class="i18n-elementtype-TechnologyInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ceb924e8a5924d34a3244217931052ce.html" target="element"> SMB Share </a> </td>
											    <td> <a href="../elements/id-ceb924e8a5924d34a3244217931052ce.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3d5cbbe223c54bd68a318564dc39beef.html" target="element"> WCF </a> </td>
											    <td> <a href="../elements/id-3d5cbbe223c54bd68a318564dc39beef.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7d9bc4d1507540af8e735f58f95a1daf.html" target="element"> Binary Stream </a> </td>
											    <td> <a href="../elements/id-7d9bc4d1507540af8e735f58f95a1daf.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cecb5e5274a24234b24d898d9eb8741f.html" target="element"> Basic Auhentication </a> </td>
											    <td> <a href="../elements/id-cecb5e5274a24234b24d898d9eb8741f.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3263774e8ade40f195d235a06a0133fb.html" target="element"> EC (Enterprise Certificate) </a> </td>
											    <td> <a href="../elements/id-3263774e8ade40f195d235a06a0133fb.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3b83de0e6cac449c9f4477998d9aa8c4.html" target="element"> Party conv. </a> </td>
											    <td> <a href="../elements/id-3b83de0e6cac449c9f4477998d9aa8c4.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9957b7ee84a746ac8b0e8277e311307c.html" target="element"> SQL Server? </a> </td>
											    <td> <a href="../elements/id-9957b7ee84a746ac8b0e8277e311307c.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-96ad0f2f0c6641e9a3b37410abea39bf.html" target="element"> Receipt </a> </td>
											    <td> <a href="../elements/id-96ad0f2f0c6641e9a3b37410abea39bf.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a184394eb0b1492f8279a990b0ab305a.html" target="element"> Altinn TTP </a> </td>
											    <td> <a href="../elements/id-a184394eb0b1492f8279a990b0ab305a.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4a8c194e4f0c4a5d9f11390980e5f907.html" target="element"> TUL Meta </a> </td>
											    <td> <a href="../elements/id-4a8c194e4f0c4a5d9f11390980e5f907.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f9bd37487267403192bed8259d8e1a32.html" target="element"> Altinn TUL 2.0 </a> </td>
											    <td> <a href="../elements/id-f9bd37487267403192bed8259d8e1a32.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-ff19adb0f9644c38a1acbb4f7e035c90.html" target="view"> Altinn Formidling 2.0 - eksisterende løsningsskisse </a> </td>
											    <td> <a href="../views/id-ff19adb0f9644c38a1acbb4f7e035c90.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-e965088b50364f80a432c2c85ca83041.html" target="element"> Se ogs&#229;: </a> </td>
											    <td> <a href="../elements/id-e965088b50364f80a432c2c85ca83041.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-69ff828161164265af759b645248df9d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-69ff828161164265af759b645248df9d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aaf21474a619412c84d3446380d16af3.html" target="element"> Altinn Formidling </a> </td>
																		<td> <a href="../elements/id-36fa7e78f4f44208bbf74dc2054dfc46.html" target="element"> Broker DB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a08357ef23524941a9ccd8e4294bce1c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a08357ef23524941a9ccd8e4294bce1c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aaf21474a619412c84d3446380d16af3.html" target="element"> Altinn Formidling </a> </td>
																		<td> <a href="../elements/id-4094cb73a831444f880fd6ad67e73c7d.html" target="element"> Broker Fileshare (clustered) </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-616c493d456c4aa4a71e5b1de1c67573.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-616c493d456c4aa4a71e5b1de1c67573.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d0c567f18b844e969379cb893bca2466.html" target="element"> MTOM </a> </td>
																		<td> <a href="../elements/id-0064698ce4b8497ea0b93544e765f547.html" target="element"> SOAP </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cff61a07a5ab46cd9946142ea77cf697.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cff61a07a5ab46cd9946142ea77cf697.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0064698ce4b8497ea0b93544e765f547.html" target="element"> SOAP </a> </td>
																		<td> <a href="../elements/id-aaf21474a619412c84d3446380d16af3.html" target="element"> Altinn Formidling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0315950105eb40c0972a037a1a40af28.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0315950105eb40c0972a037a1a40af28.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f5e0f819055346fc955156a20709b5e8.html" target="element"> REST </a> </td>
																		<td> <a href="../elements/id-aaf21474a619412c84d3446380d16af3.html" target="element"> Altinn Formidling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3a0c8f508fee4694a87f7e66758977a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a0c8f508fee4694a87f7e66758977a5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ceb924e8a5924d34a3244217931052ce.html" target="element"> SMB Share </a> </td>
																		<td> <a href="../elements/id-4094cb73a831444f880fd6ad67e73c7d.html" target="element"> Broker Fileshare (clustered) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8cfa6e0090e6499a9efa7fcee0704f08.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8cfa6e0090e6499a9efa7fcee0704f08.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3d5cbbe223c54bd68a318564dc39beef.html" target="element"> WCF </a> </td>
																		<td> <a href="../elements/id-aaf21474a619412c84d3446380d16af3.html" target="element"> Altinn Formidling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8b773f82d79a428799ccb9e655fe0be5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b773f82d79a428799ccb9e655fe0be5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d9bc4d1507540af8e735f58f95a1daf.html" target="element"> Binary Stream </a> </td>
																		<td> <a href="../elements/id-f5e0f819055346fc955156a20709b5e8.html" target="element"> REST </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1a6a9ae39a88451ca7afee3b990648d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1a6a9ae39a88451ca7afee3b990648d9.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d9bc4d1507540af8e735f58f95a1daf.html" target="element"> Binary Stream </a> </td>
																		<td> <a href="../elements/id-d0c567f18b844e969379cb893bca2466.html" target="element"> MTOM </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b2be8aff8026444eb65fdd6c1cf218c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b2be8aff8026444eb65fdd6c1cf218c5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cecb5e5274a24234b24d898d9eb8741f.html" target="element"> Basic Auhentication </a> </td>
																		<td> <a href="../elements/id-4d72d1eeeead43bbbd22c5329a43c998.html" target="element"> Altinn Auth? </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e2d2816f983b4723bacb54c9077c4e95.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e2d2816f983b4723bacb54c9077c4e95.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3263774e8ade40f195d235a06a0133fb.html" target="element"> EC (Enterprise Certificate) </a> </td>
																		<td> <a href="../elements/id-4d72d1eeeead43bbbd22c5329a43c998.html" target="element"> Altinn Auth? </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-11efe65f1e20433186b5fbff7c4ce617.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-11efe65f1e20433186b5fbff7c4ce617.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9957b7ee84a746ac8b0e8277e311307c.html" target="element"> SQL Server? </a> </td>
																		<td> <a href="../elements/id-36fa7e78f4f44208bbf74dc2054dfc46.html" target="element"> Broker DB </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>