<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>book-solutions-no</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>book-solutions-no</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f14b3a943dce41b78df3dfd27bc3d161.png" alt="book-solutions-no" usemap="#id-f14b3a943dce41b78df3dfd27bc3d161map"/>
			   <map name="id-f14b3a943dce41b78df3dfd27bc3d161map">
				  				<area shape="rect" coords="80,92,346,234" href="../elements/id-1a43b98fc668424683c532ce4ad6a865.html"  target="element">
				  				        <area shape="rect" coords="2168,360,2322,520" href="../objects/id-61f61707f1a34035bb836bcef6cf71eb.html" target="element" >
				  						<area shape="rect" coords="1844,380,2110,522" href="../elements/id-dda5853a177c418d8c671a5353ae46b5.html"  target="element">
				  						<area shape="rect" coords="140,368,406,510" href="../elements/id-fe4098ee4e0d40bc9fce75d0514b71c3.html"  target="element">
				  						<area shape="rect" coords="1508,368,1774,510" href="../elements/id-7b7e461c5fd148fbb38c40b377508d60.html"  target="element">
				  						<area shape="rect" coords="848,380,1114,522" href="../elements/id-baddd7bce0ee4b29b62f3a4b53f2bcbd.html"  target="element">
				  						<area shape="rect" coords="1184,380,1450,522" href="../elements/id-80266b4cd4c24ba39fbd302767d78b96.html"  target="element">
				  						<area shape="rect" coords="500,380,766,522" href="../elements/id-0a5c6da0720541faa79248dd7399a66a.html"  target="element">

				  				<area shape="rect" coords="92,296,2468,562" href="../elements/id-a88e46ff7ec24ff9b0c691a3d5d7caa9.html"  target="element">

				  		<area shape="rect" coords="20,20,2698,850" href="../elements/id-9a5b105f992b406fb5c0c110728bd19d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Se ogs&#229;: https://solutions-no.github.io/models/</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-9a5b105f992b406fb5c0c110728bd19d.html" target="element"> Meldingsutveksling </a> </td>
											    <td> <a href="../elements/id-9a5b105f992b406fb5c0c110728bd19d.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a88e46ff7ec24ff9b0c691a3d5d7caa9.html" target="element"> Altinn Formidling </a> </td>
													    <td> <a href="../elements/id-a88e46ff7ec24ff9b0c691a3d5d7caa9.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-0a5c6da0720541faa79248dd7399a66a.html" target="element"> Altinn formidling 2.0 - kapabiliteter </a> </td>
															    <td> <a href="../elements/id-0a5c6da0720541faa79248dd7399a66a.html" target="element" class="i18n-elementtype-Representation">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-80266b4cd4c24ba39fbd302767d78b96.html" target="element"> Altinn formidling - applikasjonstjenester - flow </a> </td>
															    <td> <a href="../elements/id-80266b4cd4c24ba39fbd302767d78b96.html" target="element" class="i18n-elementtype-Representation">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-baddd7bce0ee4b29b62f3a4b53f2bcbd.html" target="element"> Altinn formidling 2.0 - forretningstjenester (Eriks fors&#248;k) </a> </td>
															    <td> <a href="../elements/id-baddd7bce0ee4b29b62f3a4b53f2bcbd.html" target="element" class="i18n-elementtype-Representation">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-7b7e461c5fd148fbb38c40b377508d60.html" target="element"> Altinn formidling 2.0 - applikasjonstjenester - service usage </a> </td>
															    <td> <a href="../elements/id-7b7e461c5fd148fbb38c40b377508d60.html" target="element" class="i18n-elementtype-Representation">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-fe4098ee4e0d40bc9fce75d0514b71c3.html" target="element"> Altinn Formidling 2.0 - Roller </a> </td>
															    <td> <a href="../elements/id-fe4098ee4e0d40bc9fce75d0514b71c3.html" target="element" class="i18n-elementtype-Representation">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-dda5853a177c418d8c671a5353ae46b5.html" target="element"> Altinn formidling 2.0 - applikasjonstjenester og API-er </a> </td>
															    <td> <a href="../elements/id-dda5853a177c418d8c671a5353ae46b5.html" target="element" class="i18n-elementtype-Representation">
															    </a> </td>
															</tr>

													        <tr>
													           <td> <a href="../objects/id-61f61707f1a34035bb836bcef6cf71eb.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-61f61707f1a34035bb836bcef6cf71eb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-1a43b98fc668424683c532ce4ad6a865.html" target="element"> Introduksjon </a> </td>
													    <td> <a href="../elements/id-1a43b98fc668424683c532ce4ad6a865.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-481a3cba5c844a96a9fa8548917e2396.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-481a3cba5c844a96a9fa8548917e2396.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9a5b105f992b406fb5c0c110728bd19d.html" target="element"> Meldingsutveksling </a> </td>
																		<td> <a href="../elements/id-1a43b98fc668424683c532ce4ad6a865.html" target="element"> Introduksjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ec4ea1bad9e04ca5b1dcc94f004dd64a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ec4ea1bad9e04ca5b1dcc94f004dd64a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9a5b105f992b406fb5c0c110728bd19d.html" target="element"> Meldingsutveksling </a> </td>
																		<td> <a href="../elements/id-a88e46ff7ec24ff9b0c691a3d5d7caa9.html" target="element"> Altinn Formidling </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-fb8a4a1b223049e784fb6d10873b98df.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fb8a4a1b223049e784fb6d10873b98df.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a88e46ff7ec24ff9b0c691a3d5d7caa9.html" target="element"> Altinn Formidling </a> </td>
																				<td> <a href="../elements/id-0a5c6da0720541faa79248dd7399a66a.html" target="element"> Altinn formidling 2.0 - kapabiliteter </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0985576eda454f94ba39d7733eb4f04b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0985576eda454f94ba39d7733eb4f04b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a88e46ff7ec24ff9b0c691a3d5d7caa9.html" target="element"> Altinn Formidling </a> </td>
																				<td> <a href="../elements/id-80266b4cd4c24ba39fbd302767d78b96.html" target="element"> Altinn formidling - applikasjonstjenester - flow </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6bdda6b07777461593b0a3187a0c66e4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6bdda6b07777461593b0a3187a0c66e4.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a88e46ff7ec24ff9b0c691a3d5d7caa9.html" target="element"> Altinn Formidling </a> </td>
																				<td> <a href="../elements/id-7b7e461c5fd148fbb38c40b377508d60.html" target="element"> Altinn formidling 2.0 - applikasjonstjenester - service usage </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d802eba459ad41b185c52a6d25677204.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d802eba459ad41b185c52a6d25677204.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a88e46ff7ec24ff9b0c691a3d5d7caa9.html" target="element"> Altinn Formidling </a> </td>
																				<td> <a href="../elements/id-baddd7bce0ee4b29b62f3a4b53f2bcbd.html" target="element"> Altinn formidling 2.0 - forretningstjenester (Eriks fors&#248;k) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3c7e42a536cc491db1e3c74a0007b4f3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3c7e42a536cc491db1e3c74a0007b4f3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a88e46ff7ec24ff9b0c691a3d5d7caa9.html" target="element"> Altinn Formidling </a> </td>
																				<td> <a href="../elements/id-dda5853a177c418d8c671a5353ae46b5.html" target="element"> Altinn formidling 2.0 - applikasjonstjenester og API-er </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-08aef89cbc8b4cc6b0aac3e7caab3f12.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-08aef89cbc8b4cc6b0aac3e7caab3f12.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a88e46ff7ec24ff9b0c691a3d5d7caa9.html" target="element"> Altinn Formidling </a> </td>
																				<td> <a href="../elements/id-fe4098ee4e0d40bc9fce75d0514b71c3.html" target="element"> Altinn Formidling 2.0 - Roller </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-5b87439912ac442bb62bbf15d07e173a.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-5b87439912ac442bb62bbf15d07e173a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-0a5c6da0720541faa79248dd7399a66a.html" target="element"> Altinn formidling 2.0 - kapabiliteter </a> </td>
																						<td> <a href="../elements/id-baddd7bce0ee4b29b62f3a4b53f2bcbd.html" target="element"> Altinn formidling 2.0 - forretningstjenester (Eriks fors&#248;k) </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-7d6b5bab0a474b9094be20d97ce44739.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-7d6b5bab0a474b9094be20d97ce44739.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-80266b4cd4c24ba39fbd302767d78b96.html" target="element"> Altinn formidling - applikasjonstjenester - flow </a> </td>
																						<td> <a href="../elements/id-7b7e461c5fd148fbb38c40b377508d60.html" target="element"> Altinn formidling 2.0 - applikasjonstjenester - service usage </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-1a8932ed6968416baa4952da85eaf4f6.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-1a8932ed6968416baa4952da85eaf4f6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-baddd7bce0ee4b29b62f3a4b53f2bcbd.html" target="element"> Altinn formidling 2.0 - forretningstjenester (Eriks fors&#248;k) </a> </td>
																						<td> <a href="../elements/id-80266b4cd4c24ba39fbd302767d78b96.html" target="element"> Altinn formidling - applikasjonstjenester - flow </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-b078ae20b7874be98b374d4040f3aa36.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-b078ae20b7874be98b374d4040f3aa36.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-7b7e461c5fd148fbb38c40b377508d60.html" target="element"> Altinn formidling 2.0 - applikasjonstjenester - service usage </a> </td>
																						<td> <a href="../elements/id-dda5853a177c418d8c671a5353ae46b5.html" target="element"> Altinn formidling 2.0 - applikasjonstjenester og API-er </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-2f5c61ade95f4354abcd795af4af8eba.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-2f5c61ade95f4354abcd795af4af8eba.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-fe4098ee4e0d40bc9fce75d0514b71c3.html" target="element"> Altinn Formidling 2.0 - Roller </a> </td>
																						<td> <a href="../elements/id-0a5c6da0720541faa79248dd7399a66a.html" target="element"> Altinn formidling 2.0 - kapabiliteter </a> </td>
																					</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-943e3c49bb134879ad78cf3ea102526a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-943e3c49bb134879ad78cf3ea102526a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1a43b98fc668424683c532ce4ad6a865.html" target="element"> Introduksjon </a> </td>
																				<td> <a href="../elements/id-a88e46ff7ec24ff9b0c691a3d5d7caa9.html" target="element"> Altinn Formidling </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>